---

layout: bga-info-pages
title: Register for an Australian business number - easy read
description:
id: bga-prototype
breadcrumb1: Registrations
url1: /prototypes/bga/registrations.html

---

<div class="container my-5">

    <div class="row">

        <div class="col-12 col-lg-10">
            <div class="content-wrapper" id="easy-read">

                <h2>How to use this document</h2>

                <div class="easy-read-group mb-6">
                    {% include prototypes/easy-read-standalone.html
                    image="'../../assets/easy-read-icon-bluebkg.png' | relative_url"
                    text="<p>This information is written in a way that is easy to read.</p>
                    <p>We use pictures to explain some ideas.</p>"
                    classes="standalone"
                    %}

                    {% include prototypes/easy-read-standalone.html
                    image="'../../assets/easy-read-download-bluebkg.png' | relative_url"
                    text="<p>You can <a href=''>download a PDF of this document</a> so you can read this information
                        offline.</p>"
                    classes="standalone"
                    %}
                </div>

                <h2>What is an Australian business number?</h2>

                <div class="easy-read-group mb-6">
                    {% include prototypes/easy-read-standalone.html
                    image="'../../assets/easy-read-ABN-bluebkg.png' | relative_url"
                    text="<p>An Australian business number is a <strong>unique</strong> 11 digit number.</p>
                    <p><strong>Unique</strong> means something that is one of a kind.</p>"
                    classes="standalone"
                    %}


                    {% include prototypes/easy-read-standalone.html
                    image="'../../assets/easy-read-ABNtick-bluebkg.png' | relative_url"
                    text="<p>Your Australian business number identifies your business.</p>
                    <p>It shows others that your business is a real business.</p>"
                    classes="standalone"
                    %}

                    {% include prototypes/easy-read-standalone.html
                    image="'../../assets/easy-ready-invoices.jpg' | relative_url"
                    text="<p>Use your Australian business number when you make an <strong class='pink'>invoice</strong>.</p>
                    <p>An <strong class='pink'>invoice</strong> is a document that shows how much money a person or business owes you.</p>"
                    classes="standalone"
                    %}

                    {% include prototypes/easy-read-standalone.html
                    image="'../../assets/easy-ready-invoices.jpg' | relative_url"
                    text="<p>Use your Australian business number when you make an <strong class='purple'>invoice</strong>.</p>
                    <p>An <strong class='purple'>invoice</strong> is a document that shows how much money a person or business owes you.</p>"
                    classes="standalone"
                    %}


                    {% include prototypes/easy-read-standalone.html
                    text="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p>Suspendisse fermentum fermentum orci in efficitur.</p>"
                    classes="standalone"
                    %}


                    {% include prototypes/easy-read-standalone.html
                    image="'../../assets/easy-read-computer.jpg' | relative_url"
                    text="<p>You will probably need to cancel your ABN if you are:</p>
                    <ul>
                        <li>closing down your business</li>
                        <li>changing your business structure</li>
                        <li> no longer operating your business</li>
                    </ul>"
                    classes="standalone"
                    %}

                </div>

            </div>

        </div>

    </div>

</div>