---

layout: bga-info-pages
title: Registrations
description: Find the registrations, licences and permits you need to start or run your business.
id: bga-prototype

---

<div class="container my-5">

    <div class="row">

        <div class="remove-top-spaces col-12">

                <div class="row">

                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/standard-pathway-example.html
                        title="Registrations your business needs"
                        description="Understand what registrations your business needs and how to complete them."
                        icon1="'../../assets/icon-arrow-right-white.svg' | relative_url "
                        link="'../../prototypes/bga/registrations/registrations-your-business-needs.html' | relative_url"
                        %}
                    </div>


                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/standard-pathway-example.html
                        title="Register for an Australian business number (ABN)"
                        description="Learn how to apply for an Australian business number (ABN) for tax and other business activities."
                        icon1="'../../assets/icon-arrow-right-white.svg' | relative_url "
                        link="'../../prototypes/bga/registrations/register-for-an-australian-business-number-abn.html' | relative_url"
                        %}
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/standard-pathway-example.html
                        title="Register your business name"
                        description="Find out how to register your business name."
                        icon1="'../../assets/icon-arrow-right-white.svg' | relative_url "
                        link="'../../prototypes/bga/registrations/register-your-business-name.html' | relative_url"
                        %}
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/standard-pathway-example.html
                        title="Register for taxes"
                        description="The taxes you need to register for depends on your business type and structure."
                        icon1="'../../assets/icon-arrow-right-white.svg' | relative_url "
                        link="'../../prototypes/bga/registrations/register-for-taxes.html' | relative_url"
                        %}
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/standard-pathway-example.html
                        title="Register licences and permits"
                        description="Understand which licences and permits you need for your business activities."
                        icon1="'../../assets/icon-arrow-right-white.svg' | relative_url "
                        link="'../../prototypes/bga/registrations/register-licences-and-permits.html' | relative_url"
                        %}
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/standard-pathway-example.html
                        title="Register a company"
                        description="Learn how to register a company and what your responsibilities are."
                        icon1="'../../assets/icon-arrow-right-white.svg' | relative_url "
                        link="'../../prototypes/bga/registrations/register-a-company.html' | relative_url"
                        %}
                    </div>

    

                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/standard-pathway-example.html
                        title="Cancel registrations"
                        description="If you're selling, closing or changing your business, you'll need to update your registrations."
                        icon1="'../../assets/icon-arrow-right-white.svg' | relative_url "
                        link="'../../prototypes/bga/registrations/cancel-registrations.html' | relative_url"
                        %}
                    </div>

            </div>  

        </div>


    </div>

</div>


