---

layout: bga-info-pages
title: Assistance for businesses affected by floods
description: If your business has been affected by recent floods, there's a range of support available to help you get your business back up and running. 
id: bga-prototype
breadcrumb1: Grants and support
url1: /prototypes/bga/grants-and-support.html


---

<div class="container my-5">

    <div class="row">

        <div class="remove-top-spaces col-12">
           
            <div class="col-12 col-md-11 col-lg-9 col-xl-8">

                <h2>What to do in an emergency</h2>


                {% include component-examples/mini-list-example.html

                layout-name="mini-list"

                item1="true"
                item2="true"
                item3="true"

                title1="1. Stay up to date"
                title2="2. Follow emergency procedures"
                title3="3. Keep your business running"

                content1="<p>It's important to stay up to date with the latest information. In a flood event, the situation can change quickly.</p>
                <p>Regularly check your state emergency service website for the most up to date information about the situation and any actions you need to take.</p>
                <ul>
                <li><strong>Australian Capital Territory </strong>- Check the ACT Emergency Services incidents map.</li>
                <li><strong>New South Wales</strong> - Stay up-to-date on the latest NSW community advice for your area on the NSW State Emergency Service website.</li>
                <li><strong>Northern Territory</strong> - See the latest weather warnings for Northern Territory on the Bureau of Meteorology website.</li>
                <li><strong>Queensland</strong> - Find the latest Queensland flood maps, weather warnings and emergency alerts on the Queensland Government website.</li>
                <li><strong>South Australia</strong> - Follow the South Australian State Emergency Service incidents and warnings map.</li>
                <li><strong>Tasmania </strong>- Keep up-to-date on the latest emergency warnings and alerts on the Tasmania Alert website.</li>
                <li><strong>Victoria </strong>- See the local flood guides in Victoria on the Victoria State Emergency Service website.</li>
                <li><strong>Western Australia</strong> - Find current river levels and flood warnings on the Government of Western Australia website.</li>
                </ul>"

                content2="<p>There are steps you can take to help keep your business operating in times of unexpected circumstances and disasters.<br /><br />Use our guide to continuing your business for help to keep your business running, plan your recovery and protect your business.</p>"

                classes="yellow"
                %}

                <h2>December 2022 to January 2023 ex-tropical cyclone Ellie</h2>

                {% include component-examples/inline-pathway-example.html
                    link1="Support for businesses in Western Australia"
                    page1="WA State govermnent"
                    icon1="'../../../assets/icon-arrow-right-blue.svg' | relative_url "

                    link2="Support for businesses in the Northern Territory"
                    page2="NT government"
                    icon2="'../../../assets/icon-arrow-right-blue.svg' | relative_url "
                    %}
                    
                <h2>September, October and November 2022 floods</h2>

                {% include component-examples/inline-pathway-example.html
                    link1="Support for businesses in New South Wales"
                    page1="WA State govermnent"
                    icon1="'../../../assets/icon-arrow-right-blue.svg' | relative_url "

                    link2="Support for businesses in South Australia"
                    page2="NT government"
                    icon2="'../../../assets/icon-arrow-right-blue.svg' | relative_url "

                    link3="Support for businesses in Tasmania"
                    page3="NT government"
                    icon3="'../../../assets/icon-arrow-right-blue.svg' | relative_url "
                    %}

            </div>
        </div>

        </div>


    </div>

</div>
