---

layout: sab-concept1
title: Guide to starting a business
description: Setting up your own business is exciting, but can also be challenging if you're not prepared. This guide will take you through each step of starting a business and help you understand what's ahead.
id: plan-your-business

---


<div class="container my-5">

    <div class="row">

        <div class="anchor-menu-wrapper remove-top-spaces col-12 col-sm-3">
            
            {% include prototypes/sab-menu.html %}

        </div>

        <div class="remove-top-spaces col-12 col-sm-9 col-xl-8">

            <h2>Plan your business</h2>
            <p class="header-intro">You’ve analysed your idea and yourself. Next you can plan your future and see how it all comes together.</p>

             <!-- Develop your business plan -->
             {% include prototypes/sab1-tile.html 
                id="develop-your-business-plan"
                
                title="Develop your business plan"
                
                description="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consectetur felis ac consequat fermentum. Fusce sed malesuada tortor, eu volutpat risus. Nam aliquet massa ac semper vestibulum. Fusce condimentum molestie sodales. Nunc molestie sed turpis sit amet dapibus. Nullam sit amet sapien lorem. Sed vestibulum ante eu sapien gravida cursus.</p><p>Vivamus vestibulum lobortis nunc id placerat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras vel felis rutrum, tincidunt libero vel, malesuada sapien.</p>"

                learn-more="Develop your business plan"

                checkbox1="Description of action checklist item"
                checkbox2="Description of action checklist item"
            
                %}


            <!-- Create your risk management plan -->
            {% include prototypes/sab1-tile.html 
                id="create-your-risk-management-plan"
                
                title="Create your risk management plan"
                
                description="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consectetur felis ac consequat fermentum. Fusce sed malesuada tortor, eu volutpat risus. Nam aliquet massa ac semper vestibulum. Fusce condimentum molestie sodales. Nunc molestie sed turpis sit amet dapibus. Nullam sit amet sapien lorem. Sed vestibulum ante eu sapien gravida cursus.</p>"

                learn-more="Are you an employee or contractor?"

                checkbox1="Description of action checklist item"
                checkbox2="Description of action checklist item"
            
                %}


            <!-- Write your marketing plan -->
            {% include prototypes/sab1-tile.html 
                id="write-your-marketing-plan"
                
                title="Write your marketing plan"
                
                description="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consectetur felis ac consequat fermentum. Fusce sed malesuada tortor, eu volutpat risus. Nam aliquet massa ac semper vestibulum. Fusce condimentum molestie sodales. Nunc molestie sed turpis sit amet dapibus. Nullam sit amet sapien lorem. Sed vestibulum ante eu sapien gravida cursus.</p>"

                learn-more="Are you an employee or contractor?"

                checkbox1="Description of action checklist item"
                checkbox2="Description of action checklist item"
            
                %}

            <!-- Develop your export strategy -->
            {% include prototypes/sab1-tile.html 
                id="develop-your-export-strategy"
                
                title="Develop your export strategy"
                
                description="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consectetur felis ac consequat fermentum. Fusce sed malesuada tortor, eu volutpat risus. Nam aliquet massa ac semper vestibulum. Fusce condimentum molestie sodales. Nunc molestie sed turpis sit amet dapibus. Nullam sit amet sapien lorem. Sed vestibulum ante eu sapien gravida cursus.</p>"

                learn-more="Are you an employee or contractor?"

                checkbox1="Description of action checklist item"
                checkbox2="Description of action checklist item"
            
                %}



            

        </div>

    </div> 


</div>