---

layout: sab-concept1
title: Plan your business
description: The decisions you make early on can affect many areas of your business, including the licences you need, how much tax you pay and the volume of paperwork required.
id: plan-your-business

---


<div class="container my-5">

    <div class="row">

        <div class="anchor-menu-wrapper remove-top-spaces col-12 col-sm-3">
            
            {% include prototypes/sab-menu.html %}

        </div>

        <div class="remove-top-spaces col-12 col-sm-9 col-xl-8">

             <!-- Develop your business plan -->
             {% include prototypes/sab1-tile.html 
                id="develop-your-business-plan"
                
                title="Develop your business plan"
                
                description="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consectetur felis ac consequat fermentum. Fusce sed malesuada tortor, eu volutpat risus. Nam aliquet massa ac semper vestibulum. Fusce condimentum molestie sodales. Nunc molestie sed turpis sit amet dapibus. Nullam sit amet sapien lorem. Sed vestibulum ante eu sapien gravida cursus.</p><p>Vivamus vestibulum lobortis nunc id placerat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras vel felis rutrum, tincidunt libero vel, malesuada sapien.</p>"

                learn-more="Develop your business plan"

                checkbox1="Description of action checklist item"
                checkbox2="Description of action checklist item"
            
                %}


            <!-- Create your risk management plan -->
            {% include prototypes/sab1-tile.html 
                id="create-your-risk-management-plan"
                
                title="Create your risk management plan"
                
                description="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consectetur felis ac consequat fermentum. Fusce sed malesuada tortor, eu volutpat risus. Nam aliquet massa ac semper vestibulum. Fusce condimentum molestie sodales. Nunc molestie sed turpis sit amet dapibus. Nullam sit amet sapien lorem. Sed vestibulum ante eu sapien gravida cursus.</p>"

                learn-more="Are you an employee or contractor?"

                checkbox1="Description of action checklist item"
                checkbox2="Description of action checklist item"
            
                %}


            <!-- Write your marketing plan -->
            {% include prototypes/sab1-tile.html 
                id="write-your-marketing-plan"
                
                title="Write your marketing plan"
                
                description="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consectetur felis ac consequat fermentum. Fusce sed malesuada tortor, eu volutpat risus. Nam aliquet massa ac semper vestibulum. Fusce condimentum molestie sodales. Nunc molestie sed turpis sit amet dapibus. Nullam sit amet sapien lorem. Sed vestibulum ante eu sapien gravida cursus.</p>"

                learn-more="Are you an employee or contractor?"

                checkbox1="Description of action checklist item"
                checkbox2="Description of action checklist item"
            
                %}

            <!-- Develop your export strategy -->
            {% include prototypes/sab1-tile.html 
                id="develop-your-export-strategy"
                
                title="Develop your export strategy"
                
                description="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consectetur felis ac consequat fermentum. Fusce sed malesuada tortor, eu volutpat risus. Nam aliquet massa ac semper vestibulum. Fusce condimentum molestie sodales. Nunc molestie sed turpis sit amet dapibus. Nullam sit amet sapien lorem. Sed vestibulum ante eu sapien gravida cursus.</p>"

                learn-more="Are you an employee or contractor?"

                checkbox1="Description of action checklist item"
                checkbox2="Description of action checklist item"
            
                %}



            

        </div>

    </div> 


</div>