---

layout: sab-concept1
title: Guide to starting a business
description: Setting up your own business is exciting, but can also be challenging if you're not prepared. This guide will take you through each step of starting a business and help you understand what's ahead.
id: plan-your-business

---


<div class="container my-5">

    <div class="row">

        <div class="anchor-menu-wrapper remove-top-spaces col-12 col-sm-3">
            
            {% include prototypes/sab-menu.html %}

        </div>

        <div class="remove-top-spaces col-12 col-sm-9 col-xl-8">

            <div class="sab1-tiles-wrapper remove-element-padding">

                <h2>2. Plan your business</h2>
                <p class="header-intro">You’ve analysed your idea and yourself. Next you can plan your future and see how it all comes together.</p>

                <!-- Develop your business plan -->
                {% include prototypes/sab1-tile.html 
                    id="develop-your-business-plan"
                    
                    title="Develop your business plan"
                    
                    description="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consectetur felis ac consequat fermentum. Fusce sed malesuada tortor, eu volutpat risus. Nam aliquet massa ac semper vestibulum. Fusce condimentum molestie sodales. Nunc molestie sed turpis sit amet dapibus. Nullam sit amet sapien lorem. Sed vestibulum ante eu sapien gravida cursus.</p><p>Vivamus vestibulum lobortis nunc id placerat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras vel felis rutrum, tincidunt libero vel, malesuada sapien.</p>"

                    learn-more="Develop your business plan"

                    checkbox1="I have created a business plan"
                
                    %}


                <!-- Create your risk management plan -->
                {% include prototypes/sab1-tile.html 
                    id="create-your-risk-management-plan"
                    
                    title="Create your risk management plan"
                    
                    description="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consectetur felis ac consequat fermentum. Fusce sed malesuada tortor, eu volutpat risus. Nam aliquet massa ac semper vestibulum. Fusce condimentum molestie sodales. Nunc molestie sed turpis sit amet dapibus. Nullam sit amet sapien lorem. Sed vestibulum ante eu sapien gravida cursus.</p>"

                    learn-more="Assess and manage risk"

                    checkbox1="I have identifed possible risks for my business."
                    checkbox2="I have created a risk management plan."
                
                    %}


                <!-- Write your marketing plan -->
                {% include prototypes/sab1-tile.html 
                    id="write-your-marketing-plan"
                    
                    title="Write your marketing plan"
                    
                    description="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consectetur felis ac consequat fermentum. Fusce sed malesuada tortor, eu volutpat risus. Nam aliquet massa ac semper vestibulum. Fusce condimentum molestie sodales. Nunc molestie sed turpis sit amet dapibus. Nullam sit amet sapien lorem. Sed vestibulum ante eu sapien gravida cursus.</p>"

                    learn-more="Develop your marketing plan"

                    checkbox1="I have created a marketing plan."
                
                    %}

                <!-- Develop your export strategy -->
                {% include prototypes/sab1-tile.html 
                    id="develop-your-export-strategy"
                    
                    title="Develop your export strategy"
                    
                    description="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consectetur felis ac consequat fermentum. Fusce sed malesuada tortor, eu volutpat risus. Nam aliquet massa ac semper vestibulum. Fusce condimentum molestie sodales. Nunc molestie sed turpis sit amet dapibus. Nullam sit amet sapien lorem. Sed vestibulum ante eu sapien gravida cursus.</p>"

                    learn-more="Exporting and your business"

                    checkbox1="I have identified the export markets I want to target."
                    checkbox2="I have developed a strategy for exporting my product."
                
                    %}

                
                <div class="sab-bottom-nav">
                    <a class="prev" href={{ "prototypes/sab/concept1/make-key-decisions.html" | relative_url }}><svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.979 6L7.5 1.487L6.011 0L0 6L6.011 12L7.5 10.513L2.979 6Z" fill="black"/>
                        </svg>
                        1. Make key decisions</a>
                    <a class="next" href={{ "prototypes/sab/concept1/help-for-your-business.html" | relative_url }}>3. Help for your business<svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.52295 6L0.00195312 10.513L1.49095 12L7.50195 6L1.49095 0L0.00195312 1.487L4.52295 6Z" fill="black"/>
                        </svg>
                        </a>
                </div>


            </div>
            

        </div>

    </div> 


</div>