---

layout: content
title: Prototypes and design specs
description: Prototypes, design specs and component guides for business.gov.au products.

---


<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
        classes="in-page"

        link-1="BGA guide pattern" link-id-1="#bga-guide"
        link-2="Help me decide" link-id-2="#help-me-decide"
        link-3="Employment contract tool" link-id-3="#employment-contract-tool"
        link-4="Easy read" link-id-4="#easy-read"
        link-5="Adviser finder (with maps)" link-id-5="#adviser-finder"
        link-6="Research & Development Tax Incentive" link-id-6="#rtdi"
        
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9">


        <!-- SAB -->
        <h2 class="section-start" id="bga-guide">BGA guide pattern</h2>
         
        <div class="row">

            <div class="col-12 col-sm-6 col-md-4">

                {% include component-examples/light-pathway-example.html
                title="Guide prototype"
                link="https://ausgov.github.io/bga-style-guide/prototypes/sab/make-key-decisions.html"
                bottom="pb-5"

                classes="final external"
                external-link="Finalised"
                %}

            </div>
            
            <div class="col-12 col-sm-6 col-md-4">

                {% include component-examples/light-pathway-example.html
                title="SaB concept 1 (lo-fi)"
                link="https://ausgov.github.io/bga-style-guide/prototypes/sab/concept1/make-key-decisions.html"
                bottom="pb-5"

                classes="in-progress external"
                external-link="In progress"
                %}

            </div>
            
            <div class="col-12 col-sm-6 col-md-4">

                {% include component-examples/light-pathway-example.html
                    title="SaB concept 2 (lo-fi)"
                    link="https://ausgov.github.io/bga-style-guide/prototypes/sab/concept2/starting-a-business.html"
                    bottom="pb-5"
    
                    classes="in-progress external"
                    external-link="In progress"
                    %}

            </div>
          
        </div> 




        <!-- HMD -->
        <h2 class="section-start" id="help-me-decide">Help me decide</h2>
         
        <div class="row">

            <div class="col-12 col-sm-6 col-md-4">

                {% include component-examples/light-pathway-example.html
                title="HMD component guide"
                link="https://www.figma.com/proto/fF8JZPoqAIIqGlzaO1OuBn/HMD-Component-guide?node-id=1-4366&t=sEDD3Z1UVkwbbypg-1&scaling=scale-down-width&page-id=0%3A1&content-scaling=fixed"
                bottom="pb-5"

                classes="final external"
                external-link="Finalised"
                %}

            </div>
            
            <div class="col-12 col-sm-6 col-md-4">

                {% include component-examples/light-pathway-example.html
                title="HMD prototype"
                link="'prototypes/help-me-decide/landing.html' | relative_url"
                bottom="pb-5"

                classes="final external"
                external-link="Finalised"
                %}

            </div>
          
        </div> 
        
        
        <!-- ECB -->
        <h2 class="section-start" id="employment-contract-tool">Employment contract tool</h2>
       
        <div class="row">   

            <div class="col-12 col-sm-6 col-md-4">

                {% include component-examples/light-pathway-example.html
                title="ECB save & return component guide"
                link="https://www.figma.com/proto/mBRNCs9uVC774DLEwTlbJ7/ECB-Save-and-return---component-guide?node-id=1-1313&t=a7xgvSA3IGQQzsfQ-0&scaling=scale-down-width&page-id=0%3A1&content-scaling=fixed"
                bottom="pb-5"

                classes="final external"
                external-link="Finalised"
                %}

            </div>

            <div class="col-12 col-sm-6 col-md-4">

                {% include component-examples/light-pathway-example.html
                title="ECB save & return prototype"
                link="'prototypes/ecb/landing.html' | relative_url"
                bottom="pb-5"

                classes="final external"
                external-link="Finalised"
                %}

            </div>

            <div class="col-12 col-sm-6 col-md-4">

                {% include component-examples/light-pathway-example.html
                title="ECB modals and emails"
                link="https://www.figma.com/design/txXOKU4ZwOOoMYG2aar2Ht/ECB-Save-and-return---FA?node-id=1-6&t=UiRb7vctexx6Hjf4-1"
                bottom="pb-5"

                classes="final external"
                external-link="Finalised"
                %}

            </div>

        </div>
         
        <!-- EASY READ -->
          <h2 class="section-start" id="easy-read">Easy read</h2>
         

          <div class="row">
  
              <div class="col-12 col-sm-6 col-md-4">
  
                  {% include component-examples/light-pathway-example.html
                  title="Easy read - in page concept"
                  link="'prototypes/bga/easy-read-pathway.html' | relative_url"
                  bottom="pb-5"
 
                  classes="final external"
                  external-link="Finalised"
                  %}

              </div>

                          
          </div>
       
        
          <!-- ADVISER FINDER TOOLS -->
          <h2 class="section-start" id="adviser-finder">Adviser finder (with maps)</h2>
          <h3>Finalised designs</h3>
 
          <div class="row">

  
              <div class="col-12 col-sm-6 col-md-4">
  
                  {% include component-examples/light-pathway-example.html
                  title="Adviser finder prototype (old look and feel)"
                  link="https://ausgov.github.io/bga-adviser-finder/adviser/adviser-finder.html"
                  bottom="pb-5"

                  classes="final external"
                  external-link="Finalised"
                  %}
              </div>
  
             
          </div>


         <!-- RDTI RSP -->
         <h2 class="section-start" id="rtdi">Research & Development Tax Incentive</h2>

         <div class="row">
 

             <div class="col-12 col-sm-6 col-md-4">
 
                 {% include component-examples/light-pathway-example.html
                 title="RSP finder prototype"
                 link="'prototypes/bga/rdti-rsp-1.html' | relative_url"
                 bottom="pb-5"

                 classes="final external"
                 external-link="Finalised"

                 %}
             </div>
 
            
         </div>


       

       

    </div>