---

layout: content
title: Prototypes and design specs
description: Prototypes, design specs and component guides for business.gov.au products.

---


<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
        classes="in-page"

        link-1="Help me decide" link-id-1="#help-me-decide"
        link-2="Employment contract tool" link-id-2="#employment-contract-tool"
        link-3="Easy read" link-id-3="#easy-read"
        link-4="Adviser finder (with maps)" link-id-4="#adviser-finder"
        link-5="Research & Development Tax Incentive" link-id-5="#rtdi"
        
       
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9">

        <!-- HMD -->
        <h2 class="section-start" id="help-me-decide">Help me decide</h2>
         
        <div class="row">

            <div class="col-12 col-sm-6 col-md-4">

                {% include component-examples/light-pathway-example.html
                title="HMD component guide"
                link="https://xd.adobe.com/view/1d83c228-c435-4ffa-8e7f-cbdf5b76af8c-48d0/"
                bottom="pb-5"

                classes="final external"
                external-link="Finalised"
                %}

            </div>
            
            <div class="col-12 col-sm-6 col-md-4">

                {% include component-examples/light-pathway-example.html
                title="HMD prototype"
                link="'prototypes/help-me-decide/landing.html' | relative_url"
                bottom="pb-5"

                classes="final external"
                external-link="Finalised"
                %}

            </div>
          
        </div> 
        
        
        <!-- ECB -->
        <h2 class="section-start" id="employment-contract-tool">Employment contract tool</h2>
       
        <div class="row">   

            <div class="col-12 col-sm-6 col-md-4">

                {% include component-examples/light-pathway-example.html
                title="ECB save & return prototype"
                link="'prototypes/ecb/landing.html' | relative_url"
                bottom="pb-5"

                classes="final external"
                external-link="Finalised"
                %}

            </div>

        </div>
         
        <!-- EASY READ -->
          <h2 class="section-start" id="easy-read">Easy read</h2>
         

          <div class="row">
  
              <div class="col-12 col-sm-6 col-md-4">
  
                  {% include component-examples/light-pathway-example.html
                  title="Easy read - in page concept"
                  link="'prototypes/bga/easy-read-pathway.html' | relative_url"
                  bottom="pb-5"
 
                  classes="final external"
                  external-link="Finalised"
                  %}

              </div>

                          
          </div>
       
        
          <!-- ADVISER FINDER TOOLS -->
          <h2 class="section-start" id="adviser-finder">Adviser finder (with maps)</h2>
          <h3>Finalised designs</h3>
 
          <div class="row">

  
              <div class="col-12 col-sm-6 col-md-4">
  
                  {% include component-examples/light-pathway-example.html
                  title="Adviser finder prototype (old look and feel)"
                  link="https://ausgov.github.io/bga-adviser-finder/adviser/adviser-finder.html"
                  bottom="pb-5"

                  classes="final external"
                  external-link="Finalised"
                  %}
              </div>
  
             
          </div>


         <!-- RDTI RSP -->
         <h2 class="section-start" id="rtdi">Research & Development Tax Incentive</h2>

         <div class="row">
 

             <div class="col-12 col-sm-6 col-md-4">
 
                 {% include component-examples/light-pathway-example.html
                 title="RSP finder prototype"
                 link="'prototypes/bga/rdti-rsp-1.html' | relative_url"
                 bottom="pb-5"

                 classes="final external"
                 external-link="Finalised"

                 %}
             </div>
 
            
         </div>


       

       

    </div>