<div class="bga-component callout-box ablis-contact blue m-0">
        <div class="p-4 header-section component-content remove-element-padding">
            <h3>{{include.org}}</h3>

            <p>{{include.suborg}}</p>
        </div>
        <div class="p-4 component-content">
            <div class="component-text p-0 remove-element-padding">
                <p>
                    <strong>{{include.label1}}:</strong> 
                    <span>{{include.info1}}</span>
                </p>
                <p>
                    <strong>{{include.label2}}:</strong> 
                    <span>{{include.info2}}</span>
                </p>
                <p>
                    <strong>{{include.label3}}:</strong> 
                    <span><a>{{include.info3}}</a> </span>
                </p>
                <p>
                    <strong>{{include.label4}}:</strong> 
                    <span><a>{{include.info4}}</a> </span>
                </p>
                <p>
                    <strong>{{include.label5}}:</strong> 
                    <span><a> {{include.info5}}</a> </span>
                </p>
            </div>
        </div>
    </div>