<!-- SHOWING HEADER -->
<div class="ablis-sticky-header sticky_background {{include.classes}}">
    
    <div class="sticky-wrapper">
        <div class="sticky-header teal">
            <div class='top-row'>
                <div class="showing-number remove-element-padding">
                    <h2 class="showing-number">We found <strong><span class="count">{{ include.total-count }}</span></strong> items</h2>
                </div>

                <div class="header-cta-links button-group">
                    <button class="bga-btn bga-secondary-btn bkg-light modal-trigger-email-results" tabindex="0" role="button">Save results</button>
                </div>
            </div>
        </div>

    </div>

</div>


<!-- CATEGORY SUMMARY BOXES-->
<div class="ablis-recommendations-summary teal px-5 pb-5 {{include.classes}}">
        
    {% if include.licence-count %}
    <div class="summary licences remove-element-padding">
        <div class="top-content remove-element-padding">
            <h3><a href="#licences-group"><span class="result-count licences">{{ include.licence-count }}</span> licences and registrations</a></h3> 
            <p class="mb-0">We found <span class="result-count licences">{{ include.licence-count }}</span> licences and registrations you may need apply for.<p>
        </div> 
    </div>
    {% endif %}


    {% if include.legal-count %}
    <div class="summary regulation remove-element-padding">
        <div class="top-content remove-element-padding">
            <h3> <a href="#regulatory-obigations-group"><span class="result-count regulations">{{ include.legal-count }}</span> legal obligations</a></h3>
            <p class="mb-0">We found <span class="result-count regulations">{{ include.legal-count }}</span> legal obligations you may need to comply with.</p>
        </div>
    </div>
    {% endif %}


    {% if include.codes-count %}
    <div class="summary codes remove-element-padding">
        <div class="top-content remove-element-padding">
            <h3> <a href="#code-of-practice-group"><span class="result-count codes">{{ include.codes-count }}</span> codes and standards</a></h3>
            <p class="mb-0">We found <span class="result-count codes">{{ include.codes-count }}</span> codes and standards you may need to follow.</p>
        </div>
    </div>
    {% endif %}


    {% if include.guidance-count %}
    <div class="summary advisory remove-element-padding">
        <div class="top-content remove-element-padding">
            <h3> <a href="#advisory-materials-group"><span class="result-count advisory">{{ include.guidance-count }}</span> pieces of guidance</a></h3>
            <p class="mb-0">We found <span class="result-count advisory">{{ include.guidance-count }}</span> pieces of guidance you should read.</p>
        </div>
    </div>
    {% endif %}


</div>
