<div class="bga-component inline-pathway"><a class="mb-1">
        <div class="link-wrapper remove-element-padding p-4 ">
            <p class="link mb-3"><strong>{{include.description1}}</strong></p>
            <p class="page mini"><img class="me-2" src={{include.imgsrc1}} alt=""><span>{{include.action1}}</span></p>
        </div>
    </a><a class="mb-1">
        <div class="link-wrapper remove-element-padding p-4 ">
            <p class="link mb-3"><strong>{{include.description2}}</strong></p>
            <p class="page mini"><img class="me-2" src={{include.imgsrc2}} alt=""><span>{{include.action2}}</span></p>
        </div>
    </a>
</div>