<div class="bga-component callout-box ablis-apply no-colour m-0">
    <div class="p-0 component-content">
        <div class="component-text p-0 remove-element-padding">
            <div class="bga-component-wrapper">
                <div class="bga-component rego-resources mb-4">
                    <div class="resource"><a target="_blank"
                            href="https://southeastwater.com.au/content/dam/business/trade-waste/trade-waste-applications/Commercial%20trade%20waste%20application.pdf"
                            class="rego-link pdf-icon">
                            <span class="task">Apply</span>
                            <div class="link-text-wrapper"><span class="link-text">Commercial Trade Waste Application -
                                    PDF
                                </span>
                                <p class="mini instruction mb-0">Download <span>pdf</span></p>
                            </div>
                        </a>
                    </div>
                    <div class="resource"><a target="_blank"
                            href="https://southeastwater.com.au/content/dam/business/trade-waste/trade-waste-applications/Industrial%20trade%20waste%20application.pdf"
                            class="rego-link pdf-icon">
                            <span class="task">Apply</span>
                            <div class="link-text-wrapper"><span class="link-text">Industrial Trade Waste Application
                                    Form - PDF
                                </span>
                                <p class="mini instruction mb-0">Download <span>pdf</span></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>