<div class="media-player-example {{include.classes}}">
    <div class="media-player-container mb-5">

        <div class="media-player">
            <div id="audio-player-banner-audioid" class="audio-player-banner {{ include.classes }}">
                {% if include.graphic %}
                <img src={{ include.graphic }} alt="">
                {% endif %}
                <h2>Podcast title - Listen to consectetur adipiscing elit.</h2>
         
            </div>
            <div id="audio-player-player-audioid" class="audio-player-player">
                <div id="audio-player-player-me-audioid" class="audio-player-controls-background">
                    <span class="mejs__offscreen">Audio Player</span>
                    <div id="mep_2" class="mejs__container mejs__container-keyboard-inactive mejs__audio" tabindex="0" role="application" aria-label="Audio Player" style="width: 100%; height: 40px; min-width: 273px;background: none;">
                        <div class="mejs__inner">
                            <div class="mejs__mediaelement">
                                <mediaelementwrapper id="audioid">
                                    <audio id="audioid_html5" style="width:100%; height:100%" preload="auto" tabindex="0" src="audio-src-here">
                                        <!-- Add audio src here -->
                                        <source src="audio-src-here" type="audio/mp3">
                                        <!-- Add audio src here -->
                                    </audio>
                                </mediaelementwrapper>
                            </div>
                            <div class="mejs__layers">
                                <div class="mejs__poster mejs__layer" style="display: none; width: 100%; height: 100%;"></div>
                            </div>
                            <div class="mejs__controls" style="background: none;">
                                <div class="mejs__button mejs__playpause-button mejs__play"><button type="button" aria-controls="mep_2" title="Play" aria-label="Play" tabindex="0"></button></div>
                                <div class="mejs__time mejs__currenttime-container" role="timer" aria-live="off"><span class="mejs__currenttime">00:00</span></div>
                                <div class="mejs__time-rail"><span class="mejs__time-total mejs__time-slider" role="slider" tabindex="0" aria-label="Time Slider" aria-valuemin="0" aria-valuemax="4161.411313" aria-valuenow="0" aria-valuetext="00:00"><span class="mejs__time-buffering" style="display: none;"></span><span class="mejs__time-loaded" style="transform: scaleX(0.0489569);"></span><span class="mejs__time-current" style="transform: scaleX(0);"></span><span class="mejs__time-hovered no-hover"></span><span class="mejs__time-handle" style="transform: translateX(0px);"><span class="mejs__time-handle-content"></span></span><span class="mejs__time-float"><span class="mejs__time-float-current">00:00</span><span class="mejs__time-float-corner"></span></span></span></div>
                                <div class="mejs__time mejs__duration-container"><span class="mejs__duration">01:09:21</span></div>
                                <div class="mejs__button mejs__volume-button mejs__mute"><button type="button" aria-controls="mep_2" title="Mute" aria-label="Mute" tabindex="0"></button></div>
                                <a class="mejs__horizontal-volume-slider" href="javascript:void(0);" aria-label="Volume Slider" aria-valuemin="0" aria-valuemax="100" aria-valuenow="80" role="slider" aria-valuetext="80%">
                                    <span class="mejs__offscreen">Use Up/Down Arrow keys to increase or decrease volume.</span>
                                    <div class="mejs__horizontal-volume-total">
                                        <div class="mejs__horizontal-volume-current" style="left: 0px; width: 80%;"></div>
                                        <div class="mejs__horizontal-volume-handle" style="left: 80%;"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="media-player-transcript-toggle" style="display: flex;"><button class="mx-4" aria-label="Toggle video transcript, transcript closed"><span>Open Transcript</span>
                    <div class="BgaIcon  iconAnimateWrapper " style="height: 1rem; width: 1rem;"><svg width="16" height="16" class="">
                            <path fill-rule="evenodd" d="M8 9.028L1.982 3 0 4.986 8 13l8-8.014L14.018 3z"></path>
                        </svg></div>
                </button></div>
            <div class="media-player-transcript">
                <div class="media-transcript">
                    <div class="media-transcript-content">
                        <div class="m-4">
                            <ul>
                                <li class="media-transcript-content-line"><button>
                                        <p>The audio transcript is a written copy</p>
                                    </button></li>
                                <li class="media-transcript-content-line"><button>
                                        <p> of the audio content.</p>
                                    </button></li>
                                <li class="media-transcript-content-line"><button>
                                        <p>The transcript scrolls as the audio progresses</p>
                                    </button></li>
                                <li class="media-transcript-content-line"><button>
                                        <p>and allows users with audio impairment.</p>
                                    </button></li>
                                <li class="media-transcript-content-line"><button>
                                        <p>to read the content.</p>
                                    </button></li>
                                <li class="media-transcript-content-line"><button>
                                        <p>The current place in the audio is highligted in white.</p>
                                    </button></li>
                                <li class="media-transcript-content-line"><button>
                                        <p>The current place in the audio is highligted in white.</p>
                                    </button></li>
                                <li class="media-transcript-content-line"><button>
                                        <p>The current place in the audio is highligted in white.</p>
                                    </button></li>
                                <li class="media-transcript-content-line"><button>
                                        <p>The current place in the audio is highligted in white.</p>
                                    </button></li>
                                <li class="media-transcript-content-line"><button>
                                        <p>Transcripts are important to meet accessibility requirements.</p>
                                    </button></li>
                                <li class="media-transcript-content-line"><button>
                                        <p>Lorem ipsum dolor sit amet,</p>
                                    </button></li>
                                <li class="media-transcript-content-line"><button>
                                        <p>consectetur adipiscing elit.</p>
                                    </button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="media-player-info p-4 remove-element-padding">
            <h3 aria-label="video title" class="media-player-info-title">Audio title</h3>
            <p aria-label="video published date" class="media-player-info-date"> <span>
                    <!-- -->Time:
                    <!-- -->01:02
                </span></p>
            <p aria-label="video info" class="media-player-info-detail">A short description promoting the video can be placed here. </p>
        </div>
    </div>


</div>