<div class="bga-component-wrapper pb-5">
<div class="bga-component callout-box call-to-action {{include.classes}} m-0">

    <div class="p-4 component-content">

        <div class="component-text p-0 remove-element-padding">
            {% if include.title %}
                <h2>{{ include.title }}</h2>
            {% endif %}
            
          
            {% if include.text %}
                {{ include.text }}
            {% endif %}
            
            {% if include.button %}
                 <div class="button-example">
                     <button class="bga-btn bga-secondary-btn bkg-light" tabindex="0" href="" role="button">{{ include.button }}  </button>
                </div>
            {% endif %}
            
            {% if include.download == "true" %}
                <div class="download-link-wrapper remove-element-padding">
                    <a href="" class="remove-element-padding p-3 mb-1">
                        <p class="document-title mb-3"><strong>Download lipsum dolor sit consectetur</strong></p>
                    <p class="detail mini">
                        <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                            <path d="M0,20V11.25H2.5V17.5h15V11.25H20V20ZM4.192,8.826,5.96,7.058,8.75,9.849V0h2.5V10c2.142-2.143,2.277-2.277,2.942-2.942l1.767,1.767-5.884,5.884Z" />
                        </svg>
                        <span>DOCX· 2.4 mb</span></p>   
                    </a>
                    <a href="" class="remove-element-padding p-3">
                        <p class="document-title mb-3"><strong>Download lipsum dolor sit consectetur</strong></p>
                        <p class="detail mini">
                            <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                <path d="M0,20V11.25H2.5V17.5h15V11.25H20V20ZM4.192,8.826,5.96,7.058,8.75,9.849V0h2.5V10c2.142-2.143,2.277-2.277,2.942-2.942l1.767,1.767-5.884,5.884Z" />
                            </svg>

                            <span>PDF · 0.70 mb</span></p>
                    </a>
                </div>
            {% endif %}
        </div>
    

    </div>

</div>
</div>