{% if include.button-state == "open" %}
<button tabindex="0" class="chat open {{ include.classes }}">
    <span>Live chat</span>
</button>
{% endif %}


{% if include.button-state == "closed" %}

<div class="chat-closed-msg {{ include.classes }}">
    <div class="msg-container remove-element-padding p-3">
    <h5>Sorry, live chat is closed.</h5>
    <p>Live chat is open from 8am to 8pm Monday to Friday across Australia. Closed on Australian National Public Holidays.</p>
    </div> 
    <span class="arrow"></span>
    
</div>

<button tabindex="0" class="chat closed {{ include.classes }}">
    <span>Live chat is closed</span></button>
{% endif %}