<div class="create-label-cta remove-element-padding {{include.classes}} p-4">

    <h3>Create your standard mark label</h3>
    <p>You will be able to download or email this mark as a PDF or png file.</p>

    <for id="cool-label-form">

        <!-- Step 1-->
        <div class="form-step form-step-1 remove-element-padding">

            <h4>Step 1 - Select and edit your label wording</h4>

            <div class="radios-wrapper mb-5">

            <div class="radios radio-edit-combo-group w-100 g-2 d-flex flex-wrap radio-flex-group" role="radiogroup" id="wording-options">

                <div class="wording-option closed">

                    <div class="radio-edit-buttons-wrapper">
                    
                        <div class="radio-button w-100 p-3">
                            <input class="form-check-input m-0" type="radio" name="wording-options"
                                id="option5" value="option5">
                            <label class="form-check-label option5" for="option5"><div class="label-text"><strong>Made in Australia from Australian ingredients</strong></div></label>
                        </div>
                
                      
                    </div>
                    
                </div>

                
                <div class="wording-option closed">

                    <div class="radio-edit-buttons-wrapper">
                    
                        <div class="radio-button w-100 p-3">
                            <input class="form-check-input m-0" type="radio" name="wording-options"
                                id="option1" value="option1">
                            <label class="form-check-label option1" for="option1"><div class="label-text"><strong>Made in Australia from less than 10% Australian ingredients (</strong><span class="processing">description of minor processing</span><strong>)</strong></div></label>
                        </div>

                        <div class="edit-button-wrapper p-3">

                            <div class="button-example"> 
                                    <a class="bga-btn bga-secondary-btn bkg-light button mini-button edit-button" tabindex="0" href="" role="button"><span>Edit</span>
                                    <div class="edit-icon">
                                        <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M8.76754 12.4656L8.01633 13.2168L2.95059 14.42L4.15448 9.35498L4.87416 8.57224L8.76754 12.4656ZM11.1123 2.33414L14.9748 6.19668L9.52295 11.6485L5.6604 7.78599L11.1123 2.33414ZM13.4528 0.00623642L17.3146 3.86808L15.7575 5.42516L11.8957 1.56331L13.4528 0.00623642Z" fill="#333333"/></svg>
                                    </div>
                                    <div class="close-icon d-none">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M19.5058 2.72092L12.181 10.0458L19.5058 17.3706L17.3707 19.5057L10.0459 12.1809L2.72104 19.5057L0.585938 17.3706L7.91078 10.0458L0.585938 2.72092L2.72104 0.585815L10.0459 7.91066L17.3707 0.585815L19.5058 2.72092Z" fill="#333333"/>
                                        </svg>   
                                    </div>
                            </a>
                            </div>
            
                        </div>
                    </div>



                    
                    <div class="edit-option-form d-none p-3">
                        <div class="question-input">
                            <p class="question mb-3"><strong>Describe the minor processing that occurred outside Australia (up to 80 characters).</strong></p>
                            <p class="help mb-3">For example: <em>‘canned in Thailand’ or ‘sliced and packed in Indonesia’</em></p>
                            <div class="input-wrapper">
                            <input type="text" class="form-control" id="processing" value="">
                            </div>
                            <p class="error-message mt-3 mb-0">This field is required.</p>
                        </div>
                        
                        
                        <a class="bga-btn bga-secondary-btn bkg-light button add-details " tabindex="0" href="" role="button"><span>Update label</span></a>

                    </div>
                    
                </div>
                <p class="error-message error-wording mt-0 mb-1 p-0">Edit the wording of your choosen label option.</p>

                <div class="wording-option closed">

                    <div class="radio-edit-buttons-wrapper">
                    
                        <div class="radio-button w-100 p-3">
                            <input class="form-check-input m-0" type="radio" name="wording-options"
                                id="option2" value="option2">
                            <label class="form-check-label option2" for="option2"><div class="label-text"><strong>Made in Australia from less than 10% Australian ingredients with</strong> <span class="ingredients">name and origin of ingredient(s)</span><strong> (</strong><span class="processing">description of minor processing</span><strong>)</strong></div></label>
                        </div>

                        <div class="edit-button-wrapper p-3">
                           
                            <div class="button-example"> 
                                <a class="bga-btn bga-secondary-btn bkg-light button mini-button edit-button" tabindex="0" href="" role="button"><span>Edit</span>
                                <div class="edit-icon">
                                    <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M8.76754 12.4656L8.01633 13.2168L2.95059 14.42L4.15448 9.35498L4.87416 8.57224L8.76754 12.4656ZM11.1123 2.33414L14.9748 6.19668L9.52295 11.6485L5.6604 7.78599L11.1123 2.33414ZM13.4528 0.00623642L17.3146 3.86808L15.7575 5.42516L11.8957 1.56331L13.4528 0.00623642Z" fill="#333333"/></svg>
                                </div>
                                <div class="close-icon d-none">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.5058 2.72092L12.181 10.0458L19.5058 17.3706L17.3707 19.5057L10.0459 12.1809L2.72104 19.5057L0.585938 17.3706L7.91078 10.0458L0.585938 2.72092L2.72104 0.585815L10.0459 7.91066L17.3707 0.585815L19.5058 2.72092Z" fill="#333333"/>
                                    </svg>   
                                </div>
                        </a>
                        </div>
            
                        </div>
                    </div>

                    
                    <div class="edit-option-form d-none p-3">
                        
                        <div class="question-input">
                            <p class="question mb-3"><strong>Provide a description (up to 80 characters) to highlight one or more ingredients of the food product and name their country of origin.</strong></p>
                            <p class="help mb-3">For example: <em>‘Australian macadamias and Belgian chocolate’</em></p>
                            
                            <div class="input-wrapper">
                            <input type="text" class="form-control" id="ingredients" value="">
                            </div>
                            <p class="error-message mt-3 mb-0">This field is required.</p>
                        </div>
                        
                        
                        <div class="question-input">
                            <p class="question mb-3"><strong>Describe the minor processing that occurred outside Australia (up to 80 characters).</strong></p>
                            <p class="help mb-3">For example: <em>‘canned in Thailand’ or ‘sliced and packed in Indonesia’</em></p>
                            
                            <div class="input-wrapper">
                            <input type="text" class="form-control" id="processing" value="">
                            </div>
                            <p class="error-message mt-3 mb-0">This field is required.</p>
                        </div>
                       
                        <a class="bga-btn bga-secondary-btn bkg-light button add-details " tabindex="0" href="" role="button"><span>Update label</span></a>
                          
                    </div>
                    
                </div>
                <p class="error-message error-wording mt-0 mb-1 p-0">Edit the wording of your choosen label option.</p>


                <div class="wording-option closed">

                    <div class="radio-edit-buttons-wrapper">
                    
                        <div class="radio-button w-100 p-3">
                            <input class="form-check-input m-0" type="radio" name="wording-options"
                                id="option3" value="option3">
                            <label class="form-check-label option3" for="option3"><div class="label-text"><strong>Made in Australia from at least</strong> <span class="percentage">X</span><strong>% Australian ingredients</strong> (</strong><span class="processing">description of minor processing</span><strong>)</strong></div></label>
                        </div>

                        <div class="edit-button-wrapper p-3">
                            
                            <div class="button-example"> 
                                <a class="bga-btn bga-secondary-btn bkg-light button mini-button edit-button" tabindex="0" href="" role="button"><span>Edit</span>
                                <div class="edit-icon">
                                    <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M8.76754 12.4656L8.01633 13.2168L2.95059 14.42L4.15448 9.35498L4.87416 8.57224L8.76754 12.4656ZM11.1123 2.33414L14.9748 6.19668L9.52295 11.6485L5.6604 7.78599L11.1123 2.33414ZM13.4528 0.00623642L17.3146 3.86808L15.7575 5.42516L11.8957 1.56331L13.4528 0.00623642Z" fill="#333333"/></svg>
                                </div>
                                <div class="close-icon d-none">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.5058 2.72092L12.181 10.0458L19.5058 17.3706L17.3707 19.5057L10.0459 12.1809L2.72104 19.5057L0.585938 17.3706L7.91078 10.0458L0.585938 2.72092L2.72104 0.585815L10.0459 7.91066L17.3707 0.585815L19.5058 2.72092Z" fill="#333333"/>
                                    </svg>   
                                </div>
                        </a>
                        </div>
            
                        </div>
                    </div>

                    
                    <div class="edit-option-form d-none p-3">
                        <div class="question-input">
                            <p class="question mb-3"><strong>Enter the minimum percentage of Australian ingredients in your product.</strong></p>
                            <p class="help mb-3">Enter a number between 1 - 99</p>
                            
                            <div class="textbox-units form-element-wrapper">
                                <input type="text" class="form-control m-0" id="percentage" value="">
                                <p class="decimals m-0">%</p>
                            </div>
                            <p class="error-message mt-3 mb-0">This field is required.</p>
                        </div>
                        
                        <div class="question-input">
                            <p class="question mb-3"><strong>Describe the minor processing that occurred outside Australia (up to 80 characters).</strong></p>
                            <p class="help mb-3">For example: <em>‘canned in Thailand’ or ‘sliced and packed in Indonesia’</em></p>
                            
                            <div class="input-wrapper">
                            <input type="text" class="form-control" id="processing" value="">
                            </div>
                            <p class="error-message mt-3 mb-0">This field is required.</p>
                        </div>
            

                        <a class="bga-btn bga-secondary-btn bkg-light button add-details " tabindex="0" href="" role="button"><span>Update label</span></a>

                        
                    </div>
                    
                </div>
                <p class="error-message error-wording mt-0 mb-1 p-0">Edit the wording of your choosen label option.</p>

                <div class="wording-option closed">

                    <div class="radio-edit-buttons-wrapper">
                    
                        <div class="radio-button w-100 p-3">
                            <input class="form-check-input m-0" type="radio" name="wording-options"
                                id="option4" value="option3">
                            <label class="form-check-label option4" for="option4"><div class="label-text"><strong>Made in Australia from at least</strong> <span class="percentage">X</span><strong>% Australian ingredients with</strong> <span class="ingredients">name and origin of ingredient(s)</span><strong> (</strong><span class="processing">description of minor processing</span><strong>)</strong></div></label>
                        </div>
                        

                        <div class="edit-button-wrapper p-3">
                            
                            <div class="button-example"> 
                                <a class="bga-btn bga-secondary-btn bkg-light button mini-button edit-button" tabindex="0" href="" role="button"><span>Edit</span>
                                <div class="edit-icon">
                                    <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M8.76754 12.4656L8.01633 13.2168L2.95059 14.42L4.15448 9.35498L4.87416 8.57224L8.76754 12.4656ZM11.1123 2.33414L14.9748 6.19668L9.52295 11.6485L5.6604 7.78599L11.1123 2.33414ZM13.4528 0.00623642L17.3146 3.86808L15.7575 5.42516L11.8957 1.56331L13.4528 0.00623642Z" fill="#333333"/></svg>
                                </div>
                                <div class="close-icon d-none">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.5058 2.72092L12.181 10.0458L19.5058 17.3706L17.3707 19.5057L10.0459 12.1809L2.72104 19.5057L0.585938 17.3706L7.91078 10.0458L0.585938 2.72092L2.72104 0.585815L10.0459 7.91066L17.3707 0.585815L19.5058 2.72092Z" fill="#333333"/>
                                    </svg>   
                                </div>
                        </a>
                        </div>
            
                        </div>
                    </div>

                    
                    <div class="edit-option-form d-none p-3">
                        <div class="question-input">
                            <p class="question mb-3"><strong>Enter the minimum percentage of Australian ingredients in your product.</strong></p>
                            <p class="help mb-3">Enter a number between 1 - 99</p>
                            
                            <div class="textbox-units form-element-wrapper">
                                <input type="text" class="form-control m-0" id="percentage" value="">
                                <p class="decimals m-0">%</p>
                            </div>
                            <p class="error-message mt-3 mb-0">This field is required.</p>
                        </div>
                        

                        <div class="question-input">
                            <p class="question mb-3"><strong>Provide a description (up to 80 characters) to highlight one or more ingredients of the food product and name their country of origin.</strong></p>
                            <p class="help mb-3">For example: <em>‘Australian macadamias and Belgian chocolate’</em></p>
                            
                            <div class="input-wrapper">
                            <input type="text" class="form-control" id="ingredients" value="">
                            </div>
                            <p class="error-message mt-3 mb-0">This field is required.</p>
                            
                        </div>
                       

                        <div class="question-input">
                            <p class="question mb-3"><strong>Describe the minor processing that occurred outside Australia (up to 80 characters).</strong></p>
                            <p class="help mb-3">For example: <em>‘canned in Thailand’ or ‘sliced and packed in Indonesia’</em></p>
                            
                            <div class="input-wrapper">
                            <input type="text" class="form-control" id="processing" value="">
                            </div>
                            <p class="error-message mt-3 mb-0">This field is required.</p>

                        </div>
                        

                        <a class="bga-btn bga-secondary-btn bkg-light button add-details " tabindex="0" href="" role="button"><span>Update label</span></a>

                        
                    </div>
                    
                </div>
                <p class="error-message error-wording mt-0 mb-1 p-0">Edit the wording of your choosen label option.</p>

            </div>

            <p class="error-message error-unselected mt-3 mb-3 p-0">Select a wording option.</p>

            </div>

            
        </div>


        <!-- Step 2-->
        <div class="form-step form-step-2 remove-element-padding">

            <h4>Step 2 - Select your label orientation</h3>

            <div class="radios-wrapper mb-5">
            <div class="radios w-50 g-2 d-flex flex-wrap radio-flex-group" role="radiogroup" id="orientation">

                <div class="radio-button w-100">
                    <input class="form-check-input m-0" type="radio" name="orientation"
                        id="landscape" value="landscape">
                    <label class="form-check-label" for="landscape">Landscape</label>
                </div>

                <div class="radio-button w-100">
                    <input class="form-check-input m-0" type="radio" name="orientation"
                        id="portrait" value="portrait">
                    <label class="form-check-label" for="portrait">Portrait</label>
                </div>

            </div>
            <p class="error-message mt-3 mb-3">Select an orientation for your label.</p>
            </div>


            <div class="tool-button-group button-group">

                <a class="bga-btn bga-primary-btn bkg-light" tabindex="0"
                    href="" role="button" id="preview-mark">Preview label
                </a>
               
            </div> 
            
            
            <div class="mark-preview remove-element-padding my-5 d-none">
                <div class="mb-4">
                    <img class="standard-mark-preview landscape d-none" src={{ "assets/standard-mark-landscape.png"/ | relative_url }} alt=""/>
                    <img class="standard-mark-preview portrait d-none" src={{ "assets/standard-mark-portrait.png"/ | relative_url }} alt=""/>
                </div> 
                <p>If your packaging has a surface area smaller than 100cm, you only need to include the text part of this label (in a clearly defined box).</p>
            </div>

            
        </div>
        


        <!-- Step 3 -->
        <div class="form-step form-step-3 remove-element-padding d-none">
           
            <h4>Step 3 - Download or email your label</h4>
        
           
        
            <div class="tool-button-group button-group">

                <a class="bga-btn bga-primary-btn bkg-light" tabindex="0"
                    href="" role="button" id="modal-trigger-email-mark">Email label <svg data-name="Icon: Send" xmlns="http://www.w3.org/2000/svg" width="18" height="15.429" viewBox="0 0 18 15.429">
                        <path d="M.009,15.429,18,7.714.009,0,0,6,12.857,7.714,0,9.429Z" fill="#333"></path>
                    </svg></a>

                <a class="bga-btn bga-primary-btn bkg-light" tabindex="0"
                    href="" role="button" id="modal-trigger-download-mark">Download label <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 16.293V9.29286H1.99978V14.2932H14.0002V9.29286H16V16.293H0ZM3.35336 7.35338L4.76814 5.9395L7.00011 8.17208V0.292969H8.99989V8.29289C10.7137 6.57835 10.8214 6.4715 11.3534 5.9395L12.7672 7.35338L8.0603 12.0603L3.35336 7.35338Z" fill="#333333"/>
                        </svg>
                        </a>

            </div>

            
        </div>

    </form>
   
</div>