<div class="create-label-cta create-coo remove-element-padding {{include.classes}} p-4">
   
    <h3>Guidelines for creating your country of origin statement</h3>

    <div class="content">
        <p>If the country of origin statement will be printed or glued on the packaging, the statement must be in a clearly defined box.</p>
    
        <div class="coo-example p-3 mb-5">
            <p>For example:</p>
            <p><span class="example-border"><strong>Grown in &lt;country&gt;</strong></span></p>
            <p><span class="example-border"><strong>Produced in &lt;country&gt;</strong></span></p>
            <p><span class="example-border"><strong>Made in &lt;country&gt;</strong></span></p>
        </div>

        <p>If the country of origin statement will be on display at the point of sale, no defined text box or formatting is required (this only applies to fresh fruit and vegetables in transparent packaging).</p>
        
        <div class="coo-example p-3">
            <p>For example:</p>
            <p><strong>Grown in &lt;country&gt;</strong></p>
            <p><strong>Produced in &lt;country&gt;</strong></p>
            <p><strong>Made in &lt;country&gt;</strong></p>
        </div>

    </div>

</div>