<div class="create-label-cta remove-element-padding {{include.classes}} p-4">

    <h3>Create your country of origin statement</h3>
    <p>You will be able to download or email this mark as a PDF or png file.</p>

    <for id="cool-label-form">

        <!-- Step 1-->
        <div class="form-step form-step-1 remove-element-padding">

            <h4>Step 1 - Select and edit your label wording</h4>

            <div class="radios-wrapper mb-5">

                <div class="radios radio-edit-combo-group w-100 g-2 d-flex flex-wrap radio-flex-group" role="radiogroup" id="wording-options">
    
                    <div class="wording-option closed">

                        <div class="radio-edit-buttons-wrapper">
                        
                            <div class="radio-button w-100 p-3">
                                <input class="form-check-input m-0" type="radio" name="wording-options"
                                    id="optiona" value="optiona">
                                <label class="form-check-label optiona" for="optiona"><div class="label-text"><strong>Grown in </strong><span class="processing">country name</span></div></label>
                            </div>

                            <div class="edit-button-wrapper p-3">

                                <div class="button-example"> 
                                        <a class="bga-btn bga-secondary-btn bkg-light button mini-button edit-button" tabindex="0" href="" role="button"><span>Edit</span>
                                        <div class="edit-icon">
                                            <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M8.76754 12.4656L8.01633 13.2168L2.95059 14.42L4.15448 9.35498L4.87416 8.57224L8.76754 12.4656ZM11.1123 2.33414L14.9748 6.19668L9.52295 11.6485L5.6604 7.78599L11.1123 2.33414ZM13.4528 0.00623642L17.3146 3.86808L15.7575 5.42516L11.8957 1.56331L13.4528 0.00623642Z" fill="#333333"/></svg>
                                        </div>
                                        <div class="close-icon d-none">
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.5058 2.72092L12.181 10.0458L19.5058 17.3706L17.3707 19.5057L10.0459 12.1809L2.72104 19.5057L0.585938 17.3706L7.91078 10.0458L0.585938 2.72092L2.72104 0.585815L10.0459 7.91066L17.3707 0.585815L19.5058 2.72092Z" fill="#333333"/>
                                            </svg>   
                                        </div>
                                </a>
                                </div>
                
                            </div>
                        </div>



                        
                        <div class="edit-option-form d-none p-3">
                            <div class="question-input">
                                <p class="question mb-3"><strong>Enter the name of the country your product was grown in</strong></p>
                                <p class="help mb-3">For example: <em>‘Thailand’ or ‘Argentina’</em></p>
                                <div class="input-wrapper">
                                <input type="text" class="form-control" id="processing" value="">
                                </div>
                                <p class="error-message mt-3 mb-0">This field is required.</p>
                            </div>
                            
                            
                            <a class="bga-btn bga-secondary-btn bkg-light button add-details " tabindex="0" href="" role="button"><span>Update label</span></a>

                        </div>
                        
                    </div>
                    <p class="error-message error-wording mt-0 mb-1 p-0">Edit the wording of your choosen label option.</p>

                    <div class="wording-option closed">

                        <div class="radio-edit-buttons-wrapper">
                        
                            <div class="radio-button w-100 p-3">
                                <input class="form-check-input m-0" type="radio" name="wording-options"
                                    id="optionb" value="optionb">
                                <label class="form-check-label optionb" for="optionb"><div class="label-text"><strong>Produced in</strong> <span class="ingredients">country name</span></div></label>
                            </div>

                            <div class="edit-button-wrapper p-3">
                            
                                <div class="button-example"> 
                                    <a class="bga-btn bga-secondary-btn bkg-light button mini-button edit-button" tabindex="0" href="" role="button"><span>Edit</span>
                                    <div class="edit-icon">
                                        <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M8.76754 12.4656L8.01633 13.2168L2.95059 14.42L4.15448 9.35498L4.87416 8.57224L8.76754 12.4656ZM11.1123 2.33414L14.9748 6.19668L9.52295 11.6485L5.6604 7.78599L11.1123 2.33414ZM13.4528 0.00623642L17.3146 3.86808L15.7575 5.42516L11.8957 1.56331L13.4528 0.00623642Z" fill="#333333"/></svg>
                                    </div>
                                    <div class="close-icon d-none">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M19.5058 2.72092L12.181 10.0458L19.5058 17.3706L17.3707 19.5057L10.0459 12.1809L2.72104 19.5057L0.585938 17.3706L7.91078 10.0458L0.585938 2.72092L2.72104 0.585815L10.0459 7.91066L17.3707 0.585815L19.5058 2.72092Z" fill="#333333"/>
                                        </svg>   
                                    </div>
                            </a>
                            </div>
                
                            </div>
                        </div>

                        
                        <div class="edit-option-form d-none p-3">
                            
                            <div class="question-input">
                                <p class="question mb-3"><strong>Enter the name of the country your product was produced in</strong></p>
                                <p class="help mb-3">For example: <em>‘Indonesia’</em></p>
                                
                                <div class="input-wrapper">
                                <input type="text" class="form-control" id="ingredients" value="">
                                </div>
                                <p class="error-message mt-3 mb-0">This field is required.</p>
                            </div>
                            
                                        
                            <a class="bga-btn bga-secondary-btn bkg-light button add-details " tabindex="0" href="" role="button"><span>Update label</span></a>
                            
                        </div>
                        
                    </div>
                    <p class="error-message error-wording mt-0 mb-1 p-0">Edit the wording of your choosen label option.</p>

                    <div class="wording-option closed">

                        <div class="radio-edit-buttons-wrapper">
                        
                            <div class="radio-button w-100 p-3">
                                <input class="form-check-input m-0" type="radio" name="wording-options"
                                    id="optionc" value="optionc">
                                <label class="form-check-label optionc" for="optionc"><div class="label-text"><strong>Made in</strong> <span class="ingredients">country name</span></div></label>
                            </div>

                            <div class="edit-button-wrapper p-3">
                            
                                <div class="button-example"> 
                                    <a class="bga-btn bga-secondary-btn bkg-light button mini-button edit-button" tabindex="0" href="" role="button"><span>Edit</span>
                                    <div class="edit-icon">
                                        <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M8.76754 12.4656L8.01633 13.2168L2.95059 14.42L4.15448 9.35498L4.87416 8.57224L8.76754 12.4656ZM11.1123 2.33414L14.9748 6.19668L9.52295 11.6485L5.6604 7.78599L11.1123 2.33414ZM13.4528 0.00623642L17.3146 3.86808L15.7575 5.42516L11.8957 1.56331L13.4528 0.00623642Z" fill="#333333"/></svg>
                                    </div>
                                    <div class="close-icon d-none">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M19.5058 2.72092L12.181 10.0458L19.5058 17.3706L17.3707 19.5057L10.0459 12.1809L2.72104 19.5057L0.585938 17.3706L7.91078 10.0458L0.585938 2.72092L2.72104 0.585815L10.0459 7.91066L17.3707 0.585815L19.5058 2.72092Z" fill="#333333"/>
                                        </svg>   
                                    </div>
                            </a>
                            </div>
                
                            </div>
                        </div>

                        
                        <div class="edit-option-form d-none p-3">
                            
                            <div class="question-input">
                                <p class="question mb-3"><strong>Enter the name of the country your product was made in</strong></p>
                                <p class="help mb-3">For example: <em>‘Indonesia’</em></p>
                                
                                <div class="input-wrapper">
                                <input type="text" class="form-control" id="ingredients" value="">
                                </div>
                                <p class="error-message mt-3 mb-0">This field is required.</p>
                            </div>
                            
                                        
                            <a class="bga-btn bga-secondary-btn bkg-light button add-details " tabindex="0" href="" role="button"><span>Update label</span></a>
                            
                        </div>
                        
                    </div>
                    
                    <p class="error-message error-wording mt-0 mb-1 p-0">Edit the wording of your choosen label option.</p>


                </div>

                <p class="error-message error-unselected mt-3 mb-3 p-0">Select a wording option.</p>

            </div>

            <div class="tool-button-group button-group">

                <a class="bga-btn bga-primary-btn bkg-light" tabindex="0"
                    href="" role="button" id="preview-coo">Preview label
                </a>
               
            </div> 
            
            
            <div class="coo-preview remove-element-padding d-none my-5">
                <div class="coo-label mb-5">
                    <p class="p-0 m-0">Made in Thailand</p>
                </div>
                <p>You can also choose to create your own country of origin statement using your own font and colour choices.</p>
                <p>If the country of origin statement will be printed or glued on the packaging, the statement must be in a clearly defind box.</p>
            </div>

            
        </div>



        <!-- Step 2 -->
        <div class="form-step form-step-3 remove-element-padding d-none">
           
            <h4>Step 2 - Download or email your label</h4>
        
        
            <div class="tool-button-group button-group">

                <a class="bga-btn bga-primary-btn bkg-light" tabindex="0"
                    href="" role="button" id="modal-trigger-email-mark">Email label <svg data-name="Icon: Send" xmlns="http://www.w3.org/2000/svg" width="18" height="15.429" viewBox="0 0 18 15.429">
                        <path d="M.009,15.429,18,7.714.009,0,0,6,12.857,7.714,0,9.429Z" fill="#333"></path>
                    </svg></a>

                <a class="bga-btn bga-primary-btn bkg-light" tabindex="0"
                    href="" role="button" id="modal-trigger-download-mark">Download label <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 16.293V9.29286H1.99978V14.2932H14.0002V9.29286H16V16.293H0ZM3.35336 7.35338L4.76814 5.9395L7.00011 8.17208V0.292969H8.99989V8.29289C10.7137 6.57835 10.8214 6.4715 11.3534 5.9395L12.7672 7.35338L8.0603 12.0603L3.35336 7.35338Z" fill="#333333"/>
                        </svg>
                        </a>

            </div>

            
        </div>

    </form>
   
</div>