<div class="bga-component-wrapper h-100 pb-5">

    <div class="bga-component feature-pathway {{ include.classes }} mt-0 mx-0 mb-5">

    <div class="p-3 component-content">

        <a class="p-2 title-wrapper remove-element-padding" {% if include.link %} 
        href={{include.link}} {% else %} href="" {% endif %} >

            <div class="icon-wrapper mb-4">
                <div class="arrow-icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.173 9.16268H0V6.16268H11.1714L7.01963 2.01347L8.92893 0.0917969L16 7.66268L8.92893 15.2351L7.01963 13.326L11.173 9.16268Z" fill="#333333"/>
                        </svg>
                        
                </div>
            </div>
            
            <h3 class="tile-title p-0 m-0">{{ include.title }}</h3>
        </a>

        <div class="p-2 component-text remove-element-padding">
            <p class="tile-description p-0 m-0"> {{ include.description }} </p>
        </div>  

    </div>


    {% if include.image %}
    <div class="component-image">
        <img src={{ include.image }}  alt="" />
    </div>
    {% endif %}
    

    </div>
</div>
