<div class="filters  {{ include.classes }} dynamic-checkboxes-secondary">

    <div class="filter-item pt-3 pb-2" id="research-field-secondary-accordion">
        <div class="filter-item-title">
            <p class="mb-0">Research field <span class="mobile-counter"></span></p>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                <g transform="translate(20 12.5) rotate(180)">
                    <path  data-name="Chevron / Up"
                        d="M10,4.965,2.478,12.5,0,10.018,10,0,20,10.018,17.522,12.5Z" fill="#333">
                    </path>
                </g>
            </svg>

        </div>

        


<div class="filters single-select-dynamic {{include.classes}}">

    <div class="filter-item pb-2" id="research-field-secondary">

                <form>
                    <select class="form-select" id="filter_stage" select-filter-type="research-field-secondary" filter-value="sec-27">
                        <option value="sec-select-option">Select research area</option>
                        <option class="select-option" value="sec-agricultural-veterinary-and-food-sciences">Agricultural, veterinary and food sciences</option>
                        <option class="select-option" value="sec-biological-sciences">Biological sciences</option>
                        <option class="select-option" value="sec-biomedical-and-clinical-sciences">Biomedical and clinical sciences</option>
                        <option class="select-option" value="sec-built-environment-and-design">Built environment and design</option>
                        <option class="select-option" value="sec-chemical-sciences">Chemical sciences</option>
                        <option class="select-option" value="sec-commerce-management-tourism-and-services">Commerce, management, tourism and services</option>
                        <option class="select-option" value="sec-creative-arts-and-writing">Creative arts and writing</option>
                        <option class="select-option" value="sec-earth-sciences">Earth sciences</option>
                        <option class="select-option" value="sec-economics">Economics</option>
                        <option class="select-option" value="sec-education">Education</option>
                        <option class="select-option" value="sec-engineering">Engineering</option>
                        <option class="select-option" value="sec-environmental-sciences">Environmental sciences</option>
                        <option class="select-option" value="sec-health-sciences">Health sciences</option>
                        <option class="select-option" value="sec-history-heritage-and-archaeology">History, heritage and archaeology</option>
                        <option class="select-option" value="sec-human-society">Human society</option>
                        <option class="select-option" value="sec-indigenous-studies">Indigenous studies</option>
                        <option class="select-option" value="sec-information-and-computing-sciences">Information and computing sciences</option>
                        <option class="select-option" value="sec-language-communication-and-culture">Language, communication and culture</option>
                        <option class="select-option" value="sec-law-and-legal-studies">Law and legal studies</option>
                        <option class="select-option" value="sec-mathematical-sciences">Mathematical sciences</option>
                        <option class="select-option" value="sec-philosophy-and-religious-studies">Philosophy and religious studies</option>
                        <option class="select-option" value="sec-physical-sciences">Physical sciences</option>
                        <option class="select-option" value="sec-psychology">Psychology</option>

                    </select>
                </form>

    </div>

</div>


<div class="filters checkboxes-dynamic {{include.classes}}">

    <div class="active-filters dynamic-groups pt-2 multi-select">

        <div class="visible-filters"></div>
    
        <div class="filter-group sec-agricultural-veterinary-and-food-sciences" >
        
            <p class="filter-group-title no-selected sec-agricultural-veterinary-and-food-sciences mb-1"  data-filter-group="sec-agricultural-veterinary-and-food-sciences">Agricultural, veterinary and food sciences <span class="mobile-counter"></span></p>

            <ul class="m-0 p-0 sec-agricultural-veterinary-and-food-sciences"  data-filter-group="sec-agricultural-veterinary-and-food-sciences" >
                <li filter-type="research-field-secondary" data-value="sec-ag-3001">3001 Agricultural biotechnology</li>
                <li filter-type="research-field-secondary" data-value="sec-ag-3002">3002 Agriculture, land and farm management</li>
                <li filter-type="research-field-secondary" data-value="sec-ag-3003">3003 Animal production</li>
                <li filter-type="research-field-secondary" data-value="sec-ag-3004">3004 Crop and pasture production</li>
                <li filter-type="research-field-secondary" data-value="sec-ag-3005">3005 Fisheries sciences</li>
                <li filter-type="research-field-secondary" data-value="sec-ag-3006">3006 Food sciences</li>
                <li filter-type="research-field-secondary" data-value="sec-ag-3007">3007 Forestry sciences</li>
                <li filter-type="research-field-secondary" data-value="sec-ag-3008">3008 Horticultural production</li>
                <li filter-type="research-field-secondary"  data-value="sec-ag-3009">3009 Veterinary sciences</li>
                <li filter-type="research-field-secondary"  data-value="sec-ag-3099">3099 Other agricultural, veterinary and food sciences</li>
            </ul>

        </div>

        <div class="filter-group sec-biological-sciences">
        
            <p class="filter-group-title no-selected sec-biological-sciences mb-1"  data-filter-group="sec-biological-sciences">Biological sciences <span class="mobile-counter"></span></p>

            <ul class="m-0 p-0 biological-sciences"  data-filter-group="sec-biological-sciences">
                <li filter-type="research-field-secondary"   data-value="sec-bio-3101">3101 Biochemistry and cell biology</li>
                <li filter-type="research-field-secondary"   data-value="sec-bio-3102">3102 Bioinformatics and computational biology</li>
                <li filter-type="research-field-secondary"   data-value="sec-bio-3103">3103 Ecology</li>
                <li filter-type="research-field-secondary"   data-value="sec-bio-3104">3104 Evolutionary biology</li>
                <li filter-type="research-field-secondary"   data-value="sec-bio-3105">3105 Genetics</li>
                <li filter-type="research-field-secondary"   data-value="sec-bio-3106">3106 Industrial biotechnology</li>
                <li filter-type="research-field-secondary"   data-value="sec-bio-3107">3107 Microbiology</li>
                <li filter-type="research-field-secondary"   data-value="sec-bio-3108">3108 Plant biology</li>
                <li filter-type="research-field-secondary"    data-value="sec-bio-3109">3109 Zoology</li>
                <li filter-type="research-field-secondary"   data-value="sec-bio-3199">3199 Other biological sciences</li>
            </ul>

        </div>


        <div class="filter-group sec-biomedical-and-clinical-sciences">
        
            <p class="filter-group-title no-selected sec-biomedical-and-clinical-sciences mb-1"   data-filter-group="sec-biomedical-and-clinical-sciences">Biomedical and clinical sciences <span class="mobile-counter"></span></p>

            <ul class="m-0 p-0 sec-biomedical-and-clinical-sciences"  data-filter-group="sec-biomedical-and-clinical-sciences">
                <li filter-type="research-field-secondary"   data-value="sec-bio-3201">3201 Cardiovascular medicine and haematology</li>
                <li filter-type="research-field-secondary"   data-value="sec-bio-3202">3202 Clinical sciences</li>
                <li filter-type="research-field-secondary"   data-value="sec-bio-3203">3203 Dentistry</li>
                <li filter-type="research-field-secondary"   data-value="sec-bio-3204">3204 Immunology</li>
                <li filter-type="research-field-secondary"   data-value="sec-bio-3205">3205 Medical biochemistry and metabolomics</li>
                <li filter-type="research-field-secondary"   data-value="sec-bio-3206">3206 Medical biotechnology</li>
                <li filter-type="research-field-secondary"   data-value="sec-bio-3207">3207 Medical microbiology</li>
               
            </ul>

        </div>
    
    
    
</div>

    <div class="filter-item-content research-field" id="sec-agricultural-veterinary-and-food-sciences">

            <form>
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field-secondary"  >
                    <input type="checkbox" tabindex="-1" id="sec-ag-3001">
                    <label>3001 Agricultural biotechnology</label>
                </div>

                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field-secondary"  >
                    <input type="checkbox" tabindex="-1" id="sec-ag-3002">
                    <label>3002 Agriculture, land and farm management</label>
                </div>

                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field-secondary"  >
                    <input type="checkbox" tabindex="-1" id="sec-ag-3003">
                    <label>3003 Animal production</label>
                </div>

                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field-secondary"  >
                    <input type="checkbox" tabindex="-1" id="sec-ag-3004">
                    <label>3004 Crop and pasture production</label>
                </div>

                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field-secondary"  >
                    <input type="checkbox" tabindex="-1" id="sec-ag-3005">
                    <label>3005 Fisheries sciences</label>
                </div>

                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field-secondary"  >
                    <input type="checkbox" tabindex="-1" id="sec-ag-3006">
                    <label>3006 Food sciences</label>
                </div>

                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field-secondary"  >
                    <input type="checkbox" tabindex="-1" id="sec-ag-3007">
                    <label>3007 Forestry sciences</label>
                </div>

                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field-secondary"  >
                    <input type="checkbox" tabindex="-1" id="sec-ag-3008">
                    <label>3008 Horticultural production</label>
                </div>

                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field-secondary"  >
                    <input type="checkbox" tabindex="-1" id="sec-ag-3009">
                    <label>3009 Veterinary sciences</label>
                </div>

                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field-secondary"  >
                    <input type="checkbox" tabindex="-1" id="sec-ag-3099">
                    <label>3099 Other agricultural, veterinary and food sciences</label>
                </div>

                            

                </form>
            
        </div>


    <div class="filter-item-content research-field" id="sec-biological-sciences">

            <form>
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field-secondary"  >
                    <input type="checkbox" tabindex="-1" id="sec-bio-3101">
                    <label>3101 Biochemistry and cell biology</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field-secondary"  >
                    <input type="checkbox" tabindex="-1" id="sec-bio-3102">
                    <label>3102 Bioinformatics and computational biology</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field-secondary"  >
                    <input type="checkbox" tabindex="-1" id="sec-bio-3103">
                    <label>3103 Ecology</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field-secondary"  >
                    <input type="checkbox" tabindex="-1" id="sec-bio-3104">
                    <label>3104 Evolutionary biology</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field-secondary"  >
                    <input type="checkbox" tabindex="-1" id="sec-bio-3105">
                    <label>3105 Genetics</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field-secondary"  >
                    <input type="checkbox" tabindex="-1" id="sec-bio-3106">
                    <label>3106 Industrial biotechnology</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field-secondary"  >
                    <input type="checkbox" tabindex="-1" id="sec-bio-3107">
                    <label>3107 Microbiology</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field-secondary"  >
                    <input type="checkbox" tabindex="-1" id="sec-bio-3108">
                    <label>3108 Plant biology</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field-secondary"  >
                    <input type="checkbox" tabindex="-1" id="sec-bio-3109">
                    <label>3109 Zoology</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field-secondary"  >
                    <input type="checkbox" tabindex="-1" id="sec-bio-3199">
                    <label>3199 Other biological sciences</label>
                </div>
            
                            
            
                </form>
            
        </div>

    <div class="filter-item-content research-field" id="sec-biomedical-and-clinical-sciences">

        <form>
            <div tabindex="0" class="checkbox-item p-2" filter-type="research-field-secondary"  >
                <input type="checkbox" tabindex="-1" id="sec-bio-3201">
                <label>3201 Cardiovascular medicine and haematology</label>
            </div>
    
            <div tabindex="0" class="checkbox-item p-2" filter-type="research-field-secondary"  >
                <input type="checkbox" tabindex="-1" id="sec-bio-3202">
                <label>3202 Clinical sciences</label>
            </div>
    
            <div tabindex="0" class="checkbox-item p-2" filter-type="research-field-secondary"  >
                <input type="checkbox" tabindex="-1" id="bio-3203">
                <label>3203 Dentistry</label>
            </div>
    
            <div tabindex="0" class="checkbox-item p-2" filter-type="research-field-secondary"  >
                <input type="checkbox" tabindex="-1" id="sec-bio-3204">
                <label>3204 Immunology</label>
            </div>
    
            <div tabindex="0" class="checkbox-item p-2" filter-type="research-field-secondary"  >
                <input type="checkbox" tabindex="-1" id="sec-bio-3205">
                <label>3205 Medical biochemistry and metabolomics</label>
            </div>
    
            <div tabindex="0" class="checkbox-item p-2" filter-type="research-field-secondary"  >
                <input type="checkbox" tabindex="-1" id="sec-bio-3206">
                <label>3206 Medical biotechnology</label>
            </div>
    
            <div tabindex="0" class="checkbox-item p-2" filter-type="research-field-secondary"  >
                <input type="checkbox" tabindex="-1" id="sec-bio-3207">
                <label>3207 Medical microbiology</label>
            </div>
    
    
            </form>
        
    </div>

</div>