<div class="search-tile {{ include.classes }} mb-5">

    <div class="component-text p-4 remove-element-padding">

        
        <div class="top-section">
             {% if include.title %}
                <h3 class="tile-title pt-0"><a href="">{{ include.title }}</a></h3>
                {% endif %}

            {% if include.shortlist %}
                <button class="shortlist-btn">Add to shortlist</button>
                {% endif %}

        </div>
       
        {% if include.label %}
            <p class="label"><strong>{{ include.label }}</strong></p>
            {% endif %}
       

        {% if include.description %}
        <p class="description">{{ include.description }}</p>
        {% endif %}

        {% if include.services %}
        <p class="services mb-2"><strong>{{ include.services }}</strong></p>
        {% endif %}

        {% if include.cost %}
            <p class="detail"><strong>Cost:</strong> {{ include.cost }}</p>
        {% endif %}

        {% if include.provider-type %}
            <p class="detail"><strong>Provider type:</strong> {{ include.provider-type }}</p>
        {% endif %}


        {% if include.tag %}
        <div class="tag-wrapper align-items-center d-flex">
            <div class="tag d-inline-flex align-items-center remove-element-padding me-3">
                {% if include.icon %}
                <div class="icon d-flex me-2">
                    <img src={{ include.icon }} alt="" />
                </div>
                {% endif %}
                <p>{{ include.tag }}</p>
            </div>
            <div class="timeframe remove-element-padding">
                <p><strong>{{ include.timeframe }}</strong></p>
            </div>
        </div>
        {% endif %}

    </div>

    {% if include.apply %}
    <div class="apply-details">
        <button class="apply-btn p-4">Who can apply?
            <svg width="16" height="11" viewBox="0 0 16 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 6.52823L1.98239 0.5L9.53674e-07 2.48589L8 10.5L16 2.48589L14.0176 0.5L8 6.52823Z" fill="#333333"/></svg>                 
        </button>
        
        <div class="apply-details-content p-4 remove-element-padding">
            {{ include.apply }}
        </div>
        
    </div>
    {% endif %}

</div>