<div class="guide-tile remove-element-padding {{include.classes}} mb-4">

    <div class="action-checklist remove-element-padding">
        
        <h4 class="mb-2">{{include.colour}}</h4>

        <div class="dropdown-wrapper">  

            <div class="form-element-wrapper">
                <select class="form-select guide-select-options w-100" aria-label="Default select example">
                    <option value="option1" selected>Option 1</option>
                    <option value="option2">Option 2</option>
                </select>
            </div>

        </div>
         
    </div>

</div>