<div class="guide-nav-close">
    <button class="m-0 p-0">Close</button>
</div>

<div class="guide-scroll-wrapper">
    <span class="scroll-separator scroll-separator--top"></span>

    <div class="scrollable remove-element-padding">

        <div id="guide-vertical-nav" class="guide-vertical-nav">

            <!-- ITEM 1 -->
            {% include component-examples/guide-vertical-nav-item.html
            id="make-key-decisions"
            classes="teal"

            step-number="1"
            page-title="Make key decisions"
            page-link="'../../prototypes/sab/make-key-decisions.html' | relative_url"

            sub1-title="Decide on a business structure"
            sub1-link="'../../prototypes/sab/make-key-decisions.html#decide-on-a-business-structure' | relative_url"

            sub2-title="Employee or contractor"
            sub2-link="'../../prototypes/sab/make-key-decisions.html#employee-or-contractor' | relative_url"

            sub3-title="Choose your business location"
            sub3-link="'../../prototypes/sab/make-key-decisions.html#choose-your-business-location' | relative_url"

            sub4-title="Choose a business name"
            sub4-link="'../../prototypes/sab/make-key-decisions.html#choose-a-business-name' | relative_url"
            %}

            <!-- ITEM 2 -->
            {% include component-examples/guide-vertical-nav-item.html
            id="plan-your-business"
            classes="blue"

            step-number="2"
            page-title="Plan your business"
            page-link="'../../prototypes/sab/plan-your-business.html' | relative_url"

            sub1-title="Develop your business plan"
            sub1-link="'../../prototypes/sab/plan-your-business.html#develop-your-business-plan' | relative_url"

            sub2-title="Create your risk management plan"
            sub2-link="'../../prototypes/sab/plan-your-business.html#create-your-risk-management-plan' | relative_url"

            sub3-title="Write your marketing plan"
            sub3-link="'../../prototypes/sab/plan-your-business.html#write-your-marketing-plan' | relative_url"

            sub4-title="Develop your export strategy"
            sub4-link="'../../prototypes/sab/plan-your-business.html#develop-your-export-strategy' | relative_url"
            %}

            <!-- ITEM 3 -->
            {% include component-examples/guide-vertical-nav-item.html
            id="help-for-your-business"
            classes="purple"

            step-number="3"
            page-title="Help for your business"
            page-link="'../../prototypes/sab/help-for-your-business.html' | relative_url"

            sub1-title="Find help for your business"
            sub1-link="'../../prototypes/sab/help-for-your-business.html#find-help-for-your-business' | relative_url"

            sub2-title="Get support for your mental health and wellbeing"
            sub2-link="'../../prototypes/sab/help-for-your-business.html#find-resources-to-help-with-your-business' |
            relative_url"

            sub3-title="Write your marketing plan"
            sub3-link="'../../prototypes/sab/help-for-your-business.html#get-support-for-your-mental-health-and-wellbeing'
            | relative_url"


            %}

            <!-- ITEM 4 -->
            {% include component-examples/guide-vertical-nav-item.html
            id="register-your-business"
            classes="green"

            step-number="4"
            page-title="Register your business"
            page-link="'../../prototypes/sab/register-your-business.html' | relative_url"

            sub1-title="Australian business number (ABN)"
            sub1-link="'../../prototypes/sab/register-your-business.html#australian-business-number' | relative_url"

            sub2-title="Business name"
            sub2-link="'../../prototypes/sab/register-your-business.html#business-name' | relative_url"

            sub3-title="Tax registrations for your business"
            sub3-link="'../../prototypes/sab/register-your-business.html' | relative_url"

            %}

            <!-- ITEM 5 -->
            {% include component-examples/guide-vertical-nav-item.html
            id="prepare-your-finances"
            classes="yellow"

            step-number="5"
            page-title="Prepare your finances"
            page-link="'../../prototypes/sab/prepare-your-finances.html' | relative_url"

            sub1-title="Learn how to organise your finances"
            sub1-link="'../../prototypes/sab/prepare-your-finances#learn-how-to-organise-your-finances' | relative_url"

            sub2-title="Understand your finance options"
            sub2-link="'../../prototypes/sab/prepare-your-finances#understand-your-finance-options' | relative_url"

            sub3-title="Develop a pricing strategy"
            sub3-link="'../../prototypes/sab/prepare-your-finances#develop-a-pricing-strategy' | relative_url"

            %}


            <!-- ITEM 6 -->
            {% include component-examples/guide-vertical-nav-item.html
            id="know-the-law"
            classes="orange"

            step-number="6"
            page-title="Know the law"
            page-link="'../../prototypes/sab/know-the-law.html' | relative_url"

            sub1-title="Learn the legal essentials for business"
            sub1-link="'../../prototypes/sab/know-the-law#learn-the-legal-essentials-for-business' | relative_url"

            sub2-title="Understand fair trading laws"
            sub2-link="'../../prototypes/sab/know-the-law#understand-fair-trading-laws' | relative_url"

            sub3-title="Understand contracts"
            sub3-link="'../../prototypes/sab/know-the-law#understand-contracts' | relative_url"


            %}



        </div>

        <div class="guide-email-download-wrapper mt-3">
            <p class="mb-0">Get a checklist version of this guide as a Word document.</p>

            <button class="bga-btn bga-secondary-btn bkg-light d-flex align-items-center" tabindex="0" href=""
                role="button">Email checklist
                <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0.507619 14.8569L16.5 7.99975L0.507619 1.14261L0.5 6.47594L11.9286 7.99975L0.5 9.52356L0.507619 14.8569Z"
                        fill="#333333" />
                </svg>
            </button>

            <button class="bga-btn bga-secondary-btn bkg-light d-flex align-items-center" tabindex="0" href=""
                role="button">Download checklist
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0 15.9998V8.99964H1.99978V14H14.0002V8.99964H16V15.9998H0ZM3.35336 7.06017L4.76814 5.64629L7.00011 7.87887V-0.000244141H8.99989V7.99967C10.7137 6.28514 10.8214 6.17829 11.3534 5.64629L12.7672 7.06017L8.0603 11.7671L3.35336 7.06017Z"
                        fill="#333333" />
                </svg>

            </button>

        </div>

    </div>
    <span class="scroll-separator scroll-separator--bottom"></span>
</div>