<div class="bga-component-wrapper pb-5">

    <div class="inline-pathway-wrapper m-0">
   
            {% if include.link1 %}
                <div class="bga-component inline-pathway {{include.classes}}">
                <div class=" content remove-element-padding p-4 mb-1">
                    {% if include.link1 %}
                    <div class="content-wrapper">
                            <a href={{include.href}} class="link"><strong>{{ include.link1 }}</strong></a>

                            <p class="page p-0 m-0 mini"> 
                                <img class="me-2" src={{ include.icon1 }} alt="" />
                                <span>{{ include.page1 }}</span></p>
                    </div>
                    {% endif %}
                </div>
            </div>
                
            {% endif %}
            
            {% if include.link2  %}
            <div class="bga-component inline-pathway {{include.classes}}">
                <div class="content remove-element-padding p-4 mb-1">
                    {% if include.link2 %}
                    <div class="content-wrapper">
                            <a href={{include.href}} class="link"><strong>{{ include.link2 }}</strong></a>

                            <p class="page p-0 m-0 mini"> 
                                <img class="me-2" src={{ include.icon1 }} alt="" />
                                <span>{{ include.page2 }}</span></p>
                    </div>
                    {% endif %}
                </div>
            </div>
      
            {% endif %}
            
            {% if include.link3 %}
            <div class="bga-component inline-pathway {{include.classes}}">
                <div class="content remove-element-padding p-4 mb-1">
                    {% if include.link3 %}
                    <div class="content-wrapper">
                            <a href={{include.href}} class="link"><strong>{{ include.link3 }}</strong></a>

                            <p class="page p-0 m-0 mini"> 
                                <img class="me-2" src={{ include.icon1 }} alt="" />
                                <span>{{ include.page3 }}</span></p>
                    </div>
                    {% endif %}
                </div>
            </div>
            
            {% endif %}
            
            {% if include.link4 %}
            <div class="bga-component inline-pathway {{include.classes}}">
                <div class="content remove-element-padding p-4 mb-1">
                    {% if include.link4 %}
                    <div class="content-wrapper">
                            <a href={{include.href}} class="link"><strong>{{ include.link4 }}</strong></a>

                            <p class="page p-0 m-0 mini"> 
                                <img class="me-2" src={{ include.icon1 }} alt="" />
                                <span>{{ include.page4 }}</span></p>
                    </div>
                    {% endif %}
                </div>
            </div>
          
            {% endif %}

    </div>
</div>