{% if include.content == "mark" %}

<div class="label-requirements-cta remove-element-padding p-4 {{include.classes}}">

        <h3>Your labelling requirements</h3>

        <p>Based on your answers a <strong>three component standard mark</strong> can be used on your food product.</p>

        <p>These standard marks are for food products that were last substantially transformed in Australia AND have Australian and imported ingredients AND were exported to an overseas country for minor processing without the further addition of non-Australian ingredients before being re-imported to Australia.</p>

        <p>The standard mark will have the kangaroo logo, bar chart and text.</p>

</div>
{% endif %}

{% if include.content == "coo" %}
<div class="label-requirements-cta remove-element-padding p-4 {{include.classes}}">

    <h3>Your labelling requirements</h3>

    <p>Based on your answers a <strong>a country of origin statement</strong> is required for your food product.</p>

    <p>You must state the name of the country where this food product was grown OR produced OR made.</p>

    <p>The tool will not generate the country of origin statement for you.</p>

</div>
{% endif %}



{% if include.content == "coo-and-mark" %}
<div class="label-requirements-cta remove-element-padding p-4 {{include.classes}}">

    <h3>Your labelling requirements</h3>

    <p>Based on your answers you are required to indicate country of origin information on your product.</p>
    <p>You have two options for your label.</p>

    <div class="ctas-wrapper d-flex">

        <div class="cta-container">
            
            <div class="cta-title remove-element-padding p-3">    
            <h4 class="pt-0">Standard mark</h4>
            </div>
            
            <div class="cta-content d-flex remove-element-padding p-3">
                <div class="explanation">
                    <p>You can use a <strong>three component standard mark</strong>.</p>
                    <p>This standard mark will have the kangaroo logo, bar chart and text.</p>
                </div>
            
                <button class="bga-btn bga-primary-btn bkg-light" id="show-standard-mark-cta" tabindex="0" href="" role="button">Create standard mark</button>
               
            </div>
    
        </div>
    
        <div class="cta-container">
            
            <div class="cta-title remove-element-padding p-3">  
                <h4 class="pt-0">Country of origin statement</h4>
            </div>
            
            <div class="cta-content d-flex remove-element-padding p-3">
                <div class="explanation">
                    <p>If you do not use the standard mark you must provide a <strong>country of origin statement</strong> instead.</p>
                    <p>The tool will not generate the country of origin statement for you.</p>
                </div>
            
                <button class="bga-btn bga-primary-btn bkg-light bga-example" id="show-create-coo" tabindex="0" href="" role="button">Learn more</button>

            </div>
    
        </div>
    </div>
</div>
{% endif %}