<div class="bga-component-wrapper h-100 pb-5">
<a href="" tabindex="0" class="bga-component light-pathway {{ include.classes }} m-0">

    <div class="p-4 component-content h-100">

        {% if include.top-icon %}
            <div class="top-icon-wrapper">
                {{ include.top-icon }}
            </div>
        {% endif %}
        
        <div class="component-text p-0">
            <h4 class="tile-title pt-0">{{ include.title }}</h4>
        </div>

        <div class="icon-wrapper">
             <div class="arrow-icon">
                 <img src={{ "assets/icon-arrow-right-black.svg" | relative_url }} alt="" />
             </div>
             
             {% if include.external-link %}
             <div class="external-site pe-4 remove-element-padding">
                 <p>{{ include.external-link }}</p>
             </div>
             {% endif %}
         </div>

    </div>

</a>
</div>