<div class="bga-component-wrapper">
<div class="bga-component modal-example {{include.classes}}">

    <button class="close m-0 p-0">Close</button>

    <div class="component-content d-flex">

        <div class="component-text remove-element-padding">
            {% if include.title %}
                <h3>{{ include.title }}</h3>
            {% endif %}
            
            <div class="scroll-wrapper">
                <span class="scroll-separator scroll-separator--top"></span>
                
                <div class="scrollable remove-element-padding">
                <div class="shortlist"> 
                    <div class="shortlist-item px-0 pb-3">
                        {{ include.shortlist1 }}
                    </div>

                    <div class="shortlist-item px-0 py-3">
                        {{ include.shortlist2 }}
                    </div>
                    <div class="shortlist-item px-0 py-3">
                        {{ include.shortlist3 }}
                    </div>
                    <div class="shortlist-item px-0 py-3">
                        {{ include.shortlist4 }}
                    </div>
                    <div class="shortlist-item px-0 py-3">
                        {{ include.shortlist5 }}
                    </div>
                    <div class="shortlist-item px-0 py-3">
                        {{ include.shortlist6 }}
                    </div>

                    <div class="no-shortlist hidden">
                        <h4>You don't have any grants or programs shortlisted at the moment.</h4>
                        <p>You can add items to the shortlist by clicking on the shortlist 'star' icon.</p>
                    </div>
                    
                </div>  
                     
                </div>
                <span class="scroll-separator scroll-separator--bottom"></span>
                </div>


        </div>

        <div class="email-form">
            <form class="remove-element-padding">
                {% if include.form-title %}
                    <h4>{{ include.form-title }}</h4>
                {% endif %}

                <p>{{ include.form-description }}</p>

                <label class="mb-3">Email</label>
                <div class="form-element-wrapper mb-5">    
                    <input type="text" class="form-control mb-0" value="" required>
                    </div>

                {% if include.button %}
                <div class="button-example mb-4">
                <button class="bga-btn bga-primary-btn bkg-light" tabindex="0" href="" role="button">{{ include.button }}
                    <svg data-name="Icon: Send" xmlns="http://www.w3.org/2000/svg" width="23.453" height="20.102" viewBox="0 0 23.453 20.102">
                        <path d="M.011,20.1,23.453,10.051.011,0,0,7.818l16.752,2.234L0,12.285Z" fill="#333"/>
                      </svg>  
                </button>
                </div>
            {% endif %}

            </form>
        </div>
    

    </div>

</div>
</div>