<div id="subsite-header" class="pathway-to-services">

    <div class="strap-wrapper">
        <div class="bga-link-strap">
        
            <div class="row">
                <div class="col-6">
                    <ul class="p-0 m-0">
                        <li tabindex="0" class="bga-header-link p-0 m-0">
                            <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="10" height="16"
                                viewBox="0 0 10 16">
                                <path id="Path_8941" data-name="Path 8941"
                                    d="M115.972,22,122,28.018,120.014,30,112,22l8.014-8L122,15.982Z"
                                    transform="translate(-112 -14)" fill="#fff" fill-rule="evenodd" />
                            </svg>
                            <a>Back to export.gov.au</a>
                        </li>
                    </ul class="p-0 m-0">
                </div>
                
             
                <div class="col-6 secondary-links">

                    <ul class="p-0 m-0">
                        <li class="p-0 m-0"><a tabindex="0">Sign in to business service portals</a></li>
                    </ul>

                </div>
       
            </div>
        </div>

    </div>
 
  
</div>