<div id="checklist-example" class="checklist-wrapper standard">

    <div class="checklist-line"></div>

    <!-- ITEM 1 -->
    <div class="checklist-item">


        <div class="checklist-item-title">
            <h2><span>1</span> Item 1 descriptive title</h2>
            <div class="icon-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                    <path data-name="Chevron / Down" d="M7.535,10,0,17.522,2.482,20,12.5,10,2.482,0,0,2.478Z" transform="translate(20) rotate(90)" fill="#2e3e5a"/>
                  </svg>
                </div>
        </div>

        <div class="checklist-sub-item-wrapper step-minimised">

            <div class="checklist-sub-item tip">

                <div class="checklist-sub-item-title">
                    <h3><span></span>Tip - Lorem ipsum dolor sit amet</h3>
                    <div class="icon-wrapper">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                            <path data-name="Chevron / Down" d="M7.535,10,0,17.522,2.482,20,12.5,10,2.482,0,0,2.478Z" transform="translate(20) rotate(90)" fill="#2e3e5a"/>
                          </svg>
                        </div>
                </div>
                <div class="content-wrapper">
                    <div class="checklist-item-content">

                        <p>Nullam id dignissim sapien. Integer efficitur feugiat neque eu porta.
                            Pellentesque ac nisi purus. Aenean eget ipsum dapibus, consequat arcu a,
                            consequat quam. Aenean vel felis risus. Sed pulvinar lectus erat. Mauris magna
                            orci, aliquam ac iaculis ac, egestas et metus.</p>
                    </div>

                </div>
            </div>

            <div class="checklist-sub-item must-do">

                <div class="checklist-sub-item-title">
                    <h3>Donec vestibulum lectus at pretium congue.</h3>
                    <div class="icon-wrapper">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                            <path data-name="Chevron / Down" d="M7.535,10,0,17.522,2.482,20,12.5,10,2.482,0,0,2.478Z" transform="translate(20) rotate(90)" fill="#2e3e5a"/>
                          </svg>
                        </div>

                </div>

                <div class="content-wrapper">
                    <div class="checklist-item-content">

                        <p>Curabitur pellentesque ante ligula. Aenean in scelerisque ipsum, nec finibus
                            justo. Morbi dignissim in nisl non bibendum. Vestibulum mattis et lorem eget
                            semper. In a quam mollis, ornare risus nec, tincidunt odio. Morbi eget nibh id
                            magna vestibulum faucibus. Praesent eu lacus quam:</p>
                        <ul>
                            <li>full-time or part-time employee</li>
                            <li>fixed-term employee (non-ongoing)</li>
                            <li>casual employee</li>
                        </ul>
                        <p><a href="" class="external">Find out more about the different types of
                                employee</a></p>
                    </div>
                    <div class="checklist-item-checkbox">
                        <input type="checkbox">
                        <label>Done</label><br>
                    </div>
                </div>
            </div>


        </div>

        <hr class="checklist-item-divider" />
    </div>


    <!-- ITEM 2 -->
    <div class="checklist-item">

        <div class="checklist-item-title">
            <h2><span>2</span> Item 2 title</h2>
            <div class="icon-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                    <path data-name="Chevron / Down" d="M7.535,10,0,17.522,2.482,20,12.5,10,2.482,0,0,2.478Z" transform="translate(20) rotate(90)" fill="#2e3e5a"/>
                  </svg>
                </div>
        </div>

        <div class="checklist-sub-item-wrapper step-minimised">

            <div class="checklist-sub-item must-do">

                <div class="checklist-sub-item-title">
                    <h3>Quisque quis urna varius </h3>
                    <div class="icon-wrapper">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                            <path data-name="Chevron / Down" d="M7.535,10,0,17.522,2.482,20,12.5,10,2.482,0,0,2.478Z" transform="translate(20) rotate(90)" fill="#2e3e5a"/>
                          </svg>
                        </div>

                </div>
                <div class="content-wrapper">
                    <div class="checklist-item-content">

                        <p>Fusce augue felis, sagittis quis lacus non, convallis volutpat velit. Vestibulum
                            faucibus diam sit amet eleifend vestibulum. Cras ultricies quis arcu et
                            fermentum. Proin eget sodales sapien. Vivamus tincidunt ligula condimentum enim
                            egestas molestie. Fusce at venenatis risus. Use the <a href="">Find my award
                                tool</a> to check: </p>
                        <ul>
                            <li>pay</li>
                            <li>hours of work </li>
                            <li>rosters </li>
                            <li>breaks </li>
                        </ul>
                        <p>You can also use the <a href="">Pay Calculator</a> to work out what you&rsquo;ll
                            need to pay your new employee under the relevant award (including any penalty
                            rates). </p>

                    </div>
                    <div class="checklist-item-checkbox">
                        <input type="checkbox">
                        <label>Done</label><br>
                    </div>
                </div>
            </div>

            <div class="checklist-sub-item must-do">

                <div class="checklist-sub-item-title">
                    <h3>Understand aliquam quis lorem volutpat hendrerit.</h3>
                    <div class="icon-wrapper">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                            <path data-name="Chevron / Down" d="M7.535,10,0,17.522,2.482,20,12.5,10,2.482,0,0,2.478Z" transform="translate(20) rotate(90)" fill="#2e3e5a"/>
                          </svg>
                        </div>

                </div>
                <div class="content-wrapper">
                    <div class="checklist-item-content">

                        <p>Proin laoreet pulvinar vulputate. Integer ultricies massa a congue ullamcorper.
                            You will also need to have <a href="">worker’s compensation insurance</a> for
                            your employee. </p>
                        <p>If you want to learn more, check our <a href="">Managing and developing staff</a>
                            topic. </p>
                    </div>
                    <div class="checklist-item-checkbox">
                        <input type="checkbox">
                        <label>Done</label><br>
                    </div>


                </div>
            </div>



        </div>

        <hr class="checklist-item-divider" />
    </div>

</div>