<div class="bga-component-wrapper pb-5">
    <div tabindex="0" class="bga-component table {{ include.classes }} m-0">

        {% if include.responsive == "true" %}
        <table class="table responsive">
            <thead>
                <tr>
                    <th>Recipient Organisation</th>
                    <th>Project Description</th>
                    <th>Grant (Exc GST)</th>
                    <th>Expected Total Investment (Exc GST)</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-title="Recipient Organisation" class="toggle-row" id="toggle-row-0">District Council Of
                        Endor</td>
                    <td data-title="Project Description">Materials Development and Design for Electrification and
                        Automation</td>
                    <td data-title="Grant (Exc GST)">$417,000</td>
                    <td data-title="Expected Total Investment (Exc GST)">$417,000</td>
                    <td data-title="State">Victoria</td>
                </tr>

                <tr>
                    <td data-title="Recipient Organisation" class="toggle-row" id="toggle-row-1">Tattoine plantation
                    </td>
                    <td data-title="Project Description">Cyber-Safe Connected Vehicles: Ensuring Secure, Trusted, and
                        Robust Cooperative Automotive Systems</td>
                    <td data-title="Grant (Exc GST)">$494,900</td>
                    <td data-title="Expected Total Investment (Exc GST)">$494,900</td>
                    <td data-title="State">Victoria</td>

                </tr>




            </tbody>
        </table>
        {% endif %}


        {% if include.responsive == "false" %}
        <table class="table unresponsive">
            <tbody>
                <tr>
                    <td>Balonne</td>
                    <td>Flinders</td>
                    <td>Quilpie</td>
                </tr>
                <tr>
                    <td>Banana</td>
                    <td>Goondiwindi</td>
                    <td>Richmond</td>
                </tr>
                <tr>
                    <td>Barcaldine</td>
                    <td>Lockyer Valley</td>
                    <td>Scenic Rim</td>
                </tr>
                <tr>
                    <td>Barcoo</td>
                    <td>Longreach</td>
                    <td>Somerset</td>
                </tr>
                <tr>
                    <td>Blackall Tambo</td>
                    <td>Maranoa</td>
                    <td>South Burnett</td>
                </tr>
                <tr>
                    <td>Boulia</td>
                    <td>McKinlay</td>
                    <td>Southern Downs</td>
                </tr>

            </tbody>
        </table>
        {% endif %}

    </div>
</div>