<div class="bga-component-wrapper h-100 pb-5">
    
    <div class="bga-component tools-templates-tile m-0 {{ include.classes }}">

        <div class="p-3 component-content h-100">
            
            <div class="component-text">  
                {% if include.title %}
                    <a class="title-wrapper p-2 remove-element-padding" href="">
                        <h3 class="tile-title pt-0">{{ include.title }}</h3>  
                    </a>
                {% endif %}

                {% if include.description %}
                <p class="description mini p-2 mb-2">{{ include.description }}</p>
                {% endif %}

            </div> 
            
            {% if include.tag %}
                <div class="tag-wrapper p-2 align-items-center d-flex">
                    <div class="tag d-inline-flex align-items-cente remove-element-padding">
                        <div class="icon d-flex me-2"><img src={{ include.icon }} alt="" /></div>
                        <p>{{ include.tag }}</p>
                    </div>
                </div>
            {% endif %}
            
           
        </div>

    </div>

</div>