---

layout: bga-info-pages
title: Protect your brand, idea or creation
description: Most businesses have some form of intellectual property (IP). IP can be anything from a name, creation or idea. Understand the different types of IP protection and how they can help your business.
id: bga-prototype
breadcrumb1: Planning
url1: /prototypes/bga/planning.html

---

<div class="container my-5">

    <div class="row">

        <div class="remove-top-spaces col-12">


            <div class="row">

                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Intellectual property"
                    description="Learn how to protect your brand, idea or creation in Australia and overseas."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    %}
                </div>


                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Difference between a business name and a trade mark"
                    description="Understand the difference between a business name and a trade mark."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    %}
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Trade mark"
                    description="Learn more about a trade marks, what you need to do before you register and how long protection lasts."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    %}
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Patents"
                    description="A patent protects any device, substance, method or process. Learn more about the types of patents and how to apply."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    %}
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Copyright"
                    description="Copyright protects the original form or way an idea or information is expressed, not the idea or information itself. Learn what copyright protects and how long protection last."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    %}
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Designs"
                    description="Find out what a design right protects and how to secure the rights."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    %}
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Circuit layouts"
                    description="Find out what is protected under circuit layouts rights and for how long."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    %}
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Plant breeder’s rights"
                    description="Find out the benefits plant breeder’s rights and how long protection lasts."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    %}
                </div>

             

        </div> 
               

        </div>


    </div>

</div>
