---

layout: ecb-8-step
title: Employment Contract Tool
stepped-nav-step: Pay
step-number: 3

---

<div class="container page-content pay-page prototype-default-state my-5">


    <!-- PAY RATE -->

    <div id="section-pay-rate" class="row remove-element-padding">

        <h2>Pay rate</h2>

        <div class="col-12 col-md-8 col-xl-7">
            <div class="question-section remove-element-padding">
                
                    <div class="mb-5 p-0 form-example clause-box-include">
                        
                        <label for="pay-rate-units" class="form-label mb-3"><strong>What is the employee's rate of pay?</strong></label>
                        
                        <p>Select an hourly or a weekly rate of pay.</p>
   
                        <div class="clause-box-radios radios" id="pay-rate-units">
                        <div class="mb-5" role="radiogroup">
                            
                            <div class="radio-button alternate pb-1">
                                <input class="form-check-input m-0" type="radio" name="pay-rate-units" id="hourly" data-value="per hour">
                                <label class="form-check-label" for="hourly">
                                    <strong>hourly</strong>
                                </label>
                            </div>

                            <div class="radio-button alternate pb-1">
                                <input class="form-check-input m-0" id="weekly" type="radio" name="pay-rate-units" id="weekly" data-value="per week">
                                <label class="form-check-label" for="weekly">
                                    <strong>weekly</strong>
                                </label>
                            </div>

                        </div>

                        </div>
                    </div> 
                    
                    <label for="pay-rate" class="form-label mb-3"><strong>Enter the <span>hourly</span> pay rate</strong></label>
                        
                        <div class="textbox-units form-element-wrapper mb-3">
                            <p class="m-0">$AUD</p>
                            <input type="text" class="form-control clause-box-input m-0 sm-width" id="pay-amount" value="" required >
                            <p class="m-0 pay-unit">per hour</p>
                        </div>

                
                    {% include component-examples/notification-example.html
                    icon="'../../assets/icon-notification-circle-info.svg' | relative_url "
                    title="Award minimum rate"
                    content="Enter an amount that, at least, covers the minimum award rate that applies to your employee's classification. Award minimum rates for juniors, apprentices, trainees or employees on a supported wage may be lower."
                    classes="information"
                    %}
    

                <div class="bga-component-wrapper">

                    {% include component-examples/clause-box-example.html
                        title="Pay clause"
                        tag="Included"
                        tag-type="mandatory"
                        content="<p>You will be paid <strong>$<span class='pay-amount'>[amount]</span> <span class='pay-rate-units'>[per hour]</span></strong>. This pay rate does not include superannuation, we'll pay this separately.</p>"
                        id="pay-rate"
                    %}
                   
                </div>
            </div>
        </div>

        <div class="h-100 col-12 col-md-4 offset-xl-1">

            {% include component-examples/info-sidebar-example.html
                title="Wages"
                text="<p>Your employee's minimum wages are set out under the award – you must pay at least this amount. You'll also have to pay any applicable penalties, overtime, loadings and allowances.</p><p>The minimum wage depends on the employee's classification level in the award. You can find classification descriptions in the Pay and Conditions Tool or award.</p><p>It's important to pay the right amount. If you don't, you could face large penalties and may have to back pay your employee.</p>"
                classes="inpage teal"
            %}

        </div>

    </div>

    <hr class="section-divider my-5" />


    <!-- PAYMENT METHOD -->

    <div id="section-payment" class="row remove-element-padding">

        <h2>Payment method</h2>

        <div class="col-12 col-md-8 col-xl-7">

            <!-- PAY FREQUENCY -->
            <div class="question-section remove-element-padding mb-5">
                
                    <div class="mb-5 p-0 form-example clause-box-include">
                        
                        <label for="pay-frequency" class="form-label mb-3"><strong>How often will you pay your employee?</strong></label>
                        
                        <p>Select an hourly or a weekly rate of pay.</p>
                        
                        <div class="clause-box-radios radios mb-5" id="pay-frequency" role="radiogroup">
                            
                            <div class="radio-button alternate pb-1">
                                <input class="form-check-input m-0" type="radio" name="pay-frequency" id="weekly-pay" data-value="weekly">
                                <label class="form-check-label" for="weekly-pay">
                                    <strong>weekly</strong>
                                </label>
                            </div>

                            <div class="radio-button alternate pb-1">
                                <input class="form-check-input m-0" type="radio" name="pay-frequency" id="fortnightly-pay" data-value="fortnightly">
                                <label class="form-check-label" for="fortnightly-pay">
                                    <strong>fortnightly</strong>
                                </label>
                            </div>

                            <div class="radio-button alternate pb-1">
                                <input class="form-check-input m-0" type="radio" name="pay-frequency" id="monthly-pay" data-value="monthly">
                                <label class="form-check-label" for="monthly-pay">
                                    <strong>monthly</strong>
                                </label>
                            </div>


                        </div>

                  
                    </div>

            </div>

            <!-- PAY METHOD -->
            <div class="question-section remove-element-padding">
               
                <div class="mb-5 p-0 form-example clause-box-include">
                    
                    <label for="pay-method" class="form-label mb-3"><strong>How will you pay your employee?</strong></label>
                    
                    <p>It's up to you which method you use, but record keeping might be easier if you pay electronically into a bank account.</p>
                    
                    <div class="clause-box-radios radios mb-5" id="pay-method" role="radiogroup">
                        
                        <div class="radio-button alternate pb-1">
                            <input class="form-check-input m-0" type="radio" name="pay-method" id="bank-account" data-value="into your nominated bank account">
                            <label class="form-check-label" for="bank-account">
                                <strong>into the employee's nominated bank account</strong>
                            </label>
                        </div>

                        <div class="radio-button alternate pb-1">
                            <input class="form-check-input m-0" type="radio" name="pay-method" id="cash" data-value="in cash">
                            <label class="form-check-label" for="cash">
                                <strong>in cash</strong>
                            </label>
                        </div>

                        <div class="radio-button alternate pb-1">
                            <input class="form-check-input m-0" type="radio" name="pay-method" id="cheque" data-value="by cheque">
                            <label class="form-check-label" for="cheque">
                                <strong>by cheque</strong>
                            </label>
                        </div>


                    </div>

              
                </div>

            {% include component-examples/clause-box-example.html
                title="Payment method clause"
                tag="Included"
                tag-type="mandatory"
                content="<p>We will pay you <span class='pay-frequency'>[frequency]</span> <span class='pay-method'>[pay method]</span></p>"
                id="pay-frequency"
            %}

        </div>


        </div>

        <div class="h-100 col-12 col-md-4  offset-xl-1">
            {% include component-examples/info-sidebar-example.html
            title="When to pay"
            text="<p>Most awards outline how often you must pay employees – generally it will be weekly or fortnightly, and it must be at least monthly. You must pay money. Do not 'pay in kind', for example, with goods or food.</p><p>You must give your employee a pay slip within 1 working day of paying them with certain information on it. An incorrect or incomplete pay slip could be in breach of the law.</p>"
            classes="inpage teal"
            %}
        </div>

    </div>

    <hr class="section-divider my-5" />


     <!-- SUPERANNUATION -->
     <div id="superannuation" class="row remove-element-padding">

        <h2>Superannuation</h2>

        <div class="remove-top-spaces col-12 col-md-8 col-xl-7">

            <div class="question-section remove-element-padding">

                <p>To avoid the superannuation guarantee charge (SGC), you must pay super guarantee (SG) contributions for eligible employees:</p>
                <ul>
                <li>at the correct amount in full</li>
                <li>on time (by the quarterly due dates)</li>
                <li>into a fund that meets the choice of fund rules.</li>
                </ul>

                {% include component-examples/clause-box-example.html
                    title="Superannuation clause"
                    tag="Included"
                    tag-type="mandatory"
                    content="<p>If you are eligible for the super guarantee (SG), we will pay the contributions on your behalf in accordance with legislation and your award. We will pay contributions into a super fund of your choice.</p>
                    <p>If you do not tell us your choice of fund, we may need to contact the ATO to find out if you have a 'stapled' super fund to make your SG contributions into.</p>
                    <p>If you do not tell us your choice of fund and the ATO confirms you don't have a stapled super fund, we will pay your SG contributions to our default fund or another fund that meets the choice of fund rules.</p>"
                    id="superannuation"
                    classes="pre-included"
                %}
            </div>

        </div>

        <div class="h-100 col-12 col-md-4  offset-xl-1">
            {% include component-examples/info-sidebar-example.html
            title="Breaks vary between awards"
            text="<p>Awards have different rules for rest breaks and meal breaks, including:</p><ul><li>the length of the breaks</li><li>when they need to be taken</li><li>the rules about payment.</li><li>what happens if you don't provide a break.</li></ul><p>Find out more about breaks in your industry on the Fair Work Ombudsman website. If your award isn't listed, choose 'Other' then find it in the linked list of awards.</p>"
            classes="inpage teal"
            %}
        </div>

    </div>

    <hr class="section-divider my-5" />


    <!-- ADDITIONAL SUPERANNUATION -->
    <div id="section-additional-superannuation" class="row remove-element-padding">

        <h3>Additional superannuation</h3>

        <div class="col-12 col-md-8 col-xl-7">

            <div class="question-section remove-element-padding">
               
                <p>Select this clause if the <a href="https://www.fairwork.gov.au/pay/tax-and-superannuation#" target="_blank">award requires additional super- external site</a> on top of the super guarantee (SG). If your award isn't listed, choose 'Other' then find it in the linked list of awards. If the award does not require additional super, you can choose whether to pay extra as an incentive to your employee.</p>

                <div class="dynamic-display d-none">
                    
                    <div class="mb-5 p-0 form-example clause-box-include">
                        <label for="additional-superannuation" class="form-label mb-3"><strong>How much extra super will you contribute? Enter as a percentage of your employee's base pay.</strong></label>

                        <div class="textbox-units form-element-wrapper mb-4">
                            <input type="text" class="form-control clause-box-input optional-clause m-0 sm-width" id="additional-superannuation" value="" required="" data-value="[number]" data-np-intersection-state="visible">
                            <p class="m-0">%</p>
                        </div>
    
                    </div>

                </div>

                {% include component-examples/clause-box-example.html
                    title="Additional superannuation clause"
                    tag="Optional to include"
                    tag-type="optional"
                    input-label="Include Additional superannuation clause (optional)"
                    content="<p>In addition to the SG, we will contribute <strong><span class='additional-superannuation'>[number]</span> percent</strong> of your base salary into super.</p>"
                    id="additional-superannuation-clause"
                    dynamic-toggle=true
                %}

            </div>


        </div>

        <div class="h-100 col-12 col-md-4  offset-xl-1">
            {% include component-examples/info-sidebar-example.html
            title="Why provide flexible hours?"
            text="<p>Flexible hours can help support a positive employment relationship. For example, you might allow your employee to start and finish work earlier on some days to pick their child up from school.</p><p>Some employees are legally entitled to request flexible working arrangements (including flexible hours and patterns of work). You can only refuse these requests if you have a good business reason.</p>"
            classes="inpage teal"
            %}
        </div>

    </div>

    <hr class="section-divider my-5" />




    <!-- BUTTON GROUP -->
    <div class="ecb-button-group">

        <a class="bga-link bga-inline-link bkg-light" tabindex="0" href={{ 'prototypes/ecb/hours.html' | relative_url }} role="button">Previous</a>


        <a class="bga-btn bga-primary-btn bkg-light" tabindex="0" href={{ 'prototypes/ecb/leave.html' | relative_url }} role="button">Next</a>

    </div>



</div>


{% include prototypes/ecb-save-footer.html
    title="Don't have time to finish your contract now?"
    content="You can save you progress in this tool and return within the next seven days. We’ll email you a link that you can use to return and finish your contract."
    button="Save and exit"
    button-id="ecb-save-exit"
    %}