---

layout: bga-info-pages
title: Tax registration for your business
description: When you start a business, there are tax responsibilities you need to know. Understand which taxes apply to your business type, and how to register for them.
id: bga-prototype
breadcrumb1: Registrations
url1: /prototypes/bga/registrations.html
breadcrumb2: Tax registrations for your business
url2: /prototypes/bga/registrations/tax-registration-for-your-business.html


---


<div class="container my-5">

    <div class="row">

        <div class="col-12 col-md-11 col-lg-9 col-xl-8">
            <div class="remove-top-spaces content-wrapper">

                <p>Some taxes apply and are compulsory depending on your business size and type. Others are optional, but can make life easier if you have them.</p>
                <p>Here’s a rundown on the business taxes you need to operate your business.</p>
                
                <h2>Are you operating as a sole trader or company?</h2>
                
                <p>Before you start, check the tax differences between a sole trader and a company.</p>
                
                <h2>Registrations for all businesses</h2>
                
                <h3>Tax file number (TFN)</h3>
                <p>(Required)</p>
                <p>You must have a TFN regardless of the type of business you're starting. If you plan on running your business as a sole trader, you can keep your individual TFN. If you're operating as a partnership, company or trust, you'll need to register a separate TFN for the business</p>
                


                {% include component-examples/inline-pathway-example.html
                    link1="Learn how to register a TFN"
                    page1="Register for a tax file number"
                    icon1="'../../../assets/icon-arrow-right-blue.svg' | relative_url "
                    %}


                <h3>Australian business number (ABN)</h3>
                <p>(Recommended)</p>
                <p>It is not compulsory for businesses to register for an ABN, however getting an ABN is free and makes running your business easier, particularly if you have to register for other taxes. For example, if you need to register for goods and services tax (GST) now or in the future, you'll need to apply for an ABN first.</p>
                <p>Without an ABN, other businesses must withhold 47% from payments they make to you for tax purposes.</p>



                {% include component-examples/inline-pathway-example.html
                    link1="Find out how to apply for an ABN."
                    page1="Register for an Australian Business Number"
                    icon1="'../../../assets/icon-arrow-right-blue.svg' | relative_url "
                    %}


            </div>

        </div>

    </div>

</div>

