<div class="infographic-example example blue">
                
    <h3>Colour set</h3>    
    <div class="colours-wrapper">
       
        <div class="colours-header primary">
            <p class="primary">Primary colour: <span>Blue</span></p>
        </div>
        <div class="primary-wrapper">  
            
            {% if include.primary1 %}
            <div class="info-colours primary1 {{ include.primary-colour }}">
                <p>{{ include.primary1 }}<br />
                    {% if include.primary1-accessible %}<span class="accessible">Accessible</span>
                    {% else %}<span class="not-accessible">Not accessible</span>
                    {% endif %}
                </p>
            </div>
            {% endif %}

            {% if include.primary2 %}
            <div class="info-colours primary2 {{ include.primary-colour }}">
                <p>{{ include.primary2 }}<br />
                    {% if include.primary2-accessible %}<span class="accessible">Accessible</span>
                    {% else %}<span class="not-accessible">Not accessible</span>
                    {% endif %}
                </p>
            </div>
            {% endif %}

            {% if include.primary3 %}
            <div class="info-colours primary3 {{ include.primary-colour }}">
                <p>{{ include.primary3 }}<br />
                    {% if include.primary3-accessible %}<span class="accessible">Accessible</span>
                    {% else %}<span class="not-accessible">Not accessible</span>
                    {% endif %}
                </p>
            </div>
            {% endif %}

            {% if include.primary4 %}
            <div class="info-colours primary4 {{ include.primary-colour }}">
                <p>{{ include.primary4 }}<br />
                    {% if include.primary4-accessible %}<span class="accessible">Accessible</span>
                    {% else %}<span class="not-accessible">Not accessible</span>
                    {% endif %}
                </p>
            </div>
            {% endif %}

            {% if include.primary5 %}
            <div class="info-colours primary5 {{ include.primary-colour }}">
                <p>{{ include.primary5 }}<br />
                    {% if include.primary5-accessible %}<span class="accessible">Accessible</span>
                    {% else %}<span class="not-accessible">Not accessible</span>
                    {% endif %}
                </p>
            </div>
            {% endif %}

            {% if include.primary6 %}
            <div class="info-colours primary6 {{ include.primary-colour }}">
                <p>{{ include.primary6 }}<br />
                    {% if include.primary6-accessible %}<span class="accessible">Accessible</span>
                    {% else %}<span class="not-accessible">Not accessible</span>
                    {% endif %}
                </p>
            </div>
            {% endif %}

            {% if include.primary7 %}
            <div class="info-colours primary7 {{ include.primary-colour }}">
                <p>{{ include.primary7 }}<br />
                    {% if include.primary7-accessible %}<span class="accessible">Accessible</span>
                    {% else %}<span class="not-accessible">Not accessible</span>
                    {% endif %}
                </p>
            </div>
            {% endif %}

            {% if include.primary8 %}
            <div class="info-colours primary8 {{ include.primary-colour }}">
                <p>{{ include.primary8 }}<br />
                    {% if include.primary8-accessible %}<span class="accessible">Accessible</span>
                    {% else %}<span class="not-accessible">Not accessible</span>
                    {% endif %}
                </p>
            </div>
            {% endif %}

            {% if include.primary9 %}
            <div class="info-colours primary9 {{ include.primary-colour }}">
                <p>{{ include.primary9 }}<br />
                    {% if include.primary9-accessible %}<span class="accessible">Accessible</span>
                    {% else %}<span class="not-accessible">Not accessible</span>
                    {% endif %}
                </p>
            </div>
            {% endif %}

            {% if include.primary10 %}
            <div class="info-colours primary10 {{ include.primary-colour }}">
                <p>{{ include.primary10 }}<br />
                    {% if include.primary10-accessible %}<span class="accessible">Accessible</span>
                    {% else %}<span class="not-accessible">Not accessible</span>
                    {% endif %}
                </p>
            </div>
            {% endif %}

            {% if include.primary11 %}
            <div class="info-colours primary11 {{ include.primary-colour }}">
                <p>{{ include.primary11 }}<br />
                    {% if include.primary11-accessible %}<span class="accessible">Accessible</span>
                    {% else %}<span class="not-accessible">Not accessible</span>
                    {% endif %}
                </p>
            </div>
            {% endif %}

            {% if include.primary12 %}
            <div class="info-colours primary12 {{ include.primary-colour }}">
                <p>{{ include.primary12 }}<br />
                    {% if include.primary12-accessible %}<span class="accessible">Accessible</span>
                    {% else %}<span class="not-accessible">Not accessible</span>
                    {% endif %}
                </p>
            </div>
            {% endif %}
           
        </div>

        
        <div class="colours-header secondary">
            <p class="secondary">Secondary colours: <span>Yellow and blue-black</span></p>
        </div>
        <div class="secondary-wrapper">

            {% if include.secondary-yellow %}
                <div class="info-colours secondary1 yellow">
                    <p>#FFD964<br /><span class="not-accessible">Not accessible</span></p>
                </div>

                <div class="info-colours secondary2 yellow">
                    <p>#FFECB1<br /><span class="not-accessible">Not accessible</span></p>
                </div>
            {% endif %}


            {% if include.bluegrey %}
                <div class="info-colours secondary3 bluegrey">
                    <p>#FFD964<br /><span class="accessible">Accessible</span></p>
                </div>

                <div class="info-colours secondary4 bluegrey">
                    <p>#FFD964<br /><span class="accessible">Accessible</span></p>
                </div>

                <div class="info-colours secondary5 bluegrey">
                    <p>#FFD964<br /><span class="not-accessible">Not accessible</span></p>
                </div>

                <div class="info-colours secondary6 bluegrey">
                    <p>#FFD964<br /><span class="not-accessible">Not accessible</span></p>
                </div>
            {% endif %}



            
        </div>
    </div>
    
    
    <h3>Examples</h3>    
    <div class="examples-wrapper">

        <div class="flex-row">
        <div class="infographic width-50">
            <img alt="Example illustration depicting a computer surrounded by digital icons." src={{ "assets/infographics/info-blue-graphic.svg" | relative_url }} />
        </div>
        <div class="infographic width-50 bordered-left">
            <img alt="Example infographic depicting a map and numbered states." src={{"assets/infographics/info-blue-map.svg" | relative_url}} />
        </div>
        </div>
        
        <div class="flex-row">
        <div class="infographic width-100 bordered-top">
            <img alt="Example infographic using people icons to depict percentages." src={{"assets/infographics/info-blue-people.svg" | relative_url}} />
        </div>
        </div>
        
        <div class="flex-row">
        <div class="infographic width-38 bordered-top">
            <img alt="Example pie chart." src={{"assets/infographics/info-blue-pie.svg" | relative_url}} />
        </div> 
            <div class="infographic width-62 bordered-left bordered-top">
            <img alt="Example of a bargraph." src={{"assets/infographics/info-blue-bargraph.svg" | relative_url}} />
        </div>
             
        </div>
        
        <div class="flex-row">
        <div class="infographic width-100 bordered-top">
            <img alt="Example of a stacked bar graph." src={{"assets/infographics/info-blue-stackedbar.svg" | relative_url}} />
        </div>
        </div>
        
        <div class="flex-row">
        <div class="infographic width-62 bordered-top">
            <img alt="Example heatmap chart." src={{"assets/infographics/info-blue-heat.svg" | relative_url}} />
        </div>
            <div class="infographic width-38 bordered-left bordered-top">
            <img alt="Example infographic using icons and numbers to show percentages." src={{"assets/infographics/info-blue-social.svg" | relative_url}} />
        </div>  
        </div>
        
        
        </div>
    </div>