<div class="page-pattern-rules">

    <button class="accordion-toggle pb-0 px-0 mb-2">
        <span>Open all</span>
    </button>

    <div class="accordion page-rules-accordion">

        <!-- ITEM 1 -->
        {% if include.item1 %}
        <div class="accordion-item" id="rule-1" tabindex="-1">
            <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-1">
                <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseOne"
                    aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseOne">
                    <span>1</span>{{ include.item1 }}
                </button>
            </h5>
            <div id="{{include.pattern-name}}-collapseOne" class="accordion-collapse collapse"
                aria-labelledby="{{include.pattern-name}}-1">
                <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">

                    {{ include.content1 }}

                </div>
            </div>
        </div>
        {% endif %}


        <!-- ITEM 2 -->
        {% if include.item2 %}
        <div class="accordion-item" id="rule-2" tabindex="-1">
            <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-2">
                <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                    data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseTwo"
                    aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseTwo">
                    <span>2</span>{{ include.item2 }}
                </button>
            </h5>
            <div id="{{include.pattern-name}}-collapseTwo" class="accordion-collapse collapse"
                aria-labelledby="{{include.pattern-name}}-2">
                <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">

                    {{ include.content2 }}

                </div>
            </div>
        </div>
        {% endif %}


         <!-- ITEM 3 -->
         {% if include.item3 %}
         <div class="accordion-item" id="rule-3" tabindex="-1">
             <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-3">
                 <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                     data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseThree"
                     aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseThree">
                     <span>3</span>{{ include.item3 }}
                 </button>
             </h5>
             <div id="{{include.pattern-name}}-collapseThree" class="accordion-collapse collapse"
                 aria-labelledby="{{include.pattern-name}}-3    ">
                 <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">
 
                     {{ include.content3 }}
 
                 </div>
             </div>
         </div>
         {% endif %}


         <!-- ITEM 4 -->
         {% if include.item4 %}
         <div class="accordion-item" id="rule-4" tabindex="-1">
             <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-4">
                 <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                     data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseFour"
                     aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseFour">
                     <span>4</span>{{ include.item4 }}
                 </button>
             </h5>
             <div id="{{include.pattern-name}}-collapseFour" class="accordion-collapse collapse"
                 aria-labelledby="{{include.pattern-name}}-4    ">
                 <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">
 
                     {{ include.content4 }}
 
                 </div>
             </div>
         </div>
         {% endif %}



         <!-- ITEM 5 -->
         {% if include.item5 %}
         <div class="accordion-item" id="rule-5" tabindex="-1">
             <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-5">
                 <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                     data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseFive"
                     aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseFive">
                    <span>5</span>{{ include.item5 }}
                 </button>
             </h5>
             <div id="{{include.pattern-name}}-collapseFive" class="accordion-collapse collapse"
                 aria-labelledby="{{include.pattern-name}}-5    ">
                 <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">
 
                     {{ include.content5 }}
 
                 </div>
             </div>
         </div>
         {% endif %}



         <!-- ITEM 6 -->
         {% if include.item6 %}
         <div class="accordion-item" id="rule-6" tabindex="-1">
             <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-6">
                 <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                     data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseSix"
                     aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseSix">
                     <span>6</span>{{ include.item6 }}
                 </button>
             </h5>
             <div id="{{include.pattern-name}}-collapseSix" class="accordion-collapse collapse"
                 aria-labelledby="{{include.pattern-name}}-6    ">
                 <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">
 
                     {{ include.content6 }}
 
                 </div>
             </div>
         </div>
         {% endif %}



         <!-- ITEM 7 -->
         {% if include.item7 %}
         <div class="accordion-item" id="rule-7" tabindex="-1">
             <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-7">
                 <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                     data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseSeven"
                     aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseSeven">
                     <span>7</span>{{ include.item7 }}
                 </button>
             </h5>
             <div id="{{include.pattern-name}}-collapseSeven" class="accordion-collapse collapse"
                 aria-labelledby="{{include.pattern-name}}-7">
                 <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">
 
                     {{ include.content7 }}
 
                 </div>
             </div>
         </div>
         {% endif %}



         <!-- ITEM 8 -->
         {% if include.item8 %}
         <div class="accordion-item" id="rule-8" tabindex="-1">
             <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-8">
                 <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                     data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseEight"
                     aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseEight">
                     <span>8</span>{{ include.item8 }}
                 </button>
             </h5>
             <div id="{{include.pattern-name}}-collapseEight" class="accordion-collapse collapse"
                 aria-labelledby="{{include.pattern-name}}-8">
                 <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">
 
                     {{ include.content8 }}
 
                 </div>
             </div>
         </div>
         {% endif %}



         <!-- ITEM 9 -->
         {% if include.item9 %}
         <div class="accordion-item" id="rule-9" tabindex="-1">
             <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-9">
                 <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                     data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseNine"
                     aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseNine">
                     <span>9</span>{{ include.item9 }}
                 </button>
             </h5>
             <div id="{{include.pattern-name}}-collapseNine" class="accordion-collapse collapse"
                 aria-labelledby="{{include.pattern-name}}-9">
                 <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">
 
                     {{ include.content9 }}
 
                 </div>
             </div>
         </div>
         {% endif %}



         <!-- ITEM 10 -->
         {% if include.item10 %}
         <div class="accordion-item" id="rule-10"  tabindex="-1">
             <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-10">
                 <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                     data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseTen"
                     aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseTen">
                     <span>10</span>{{ include.item10 }}
                 </button>
             </h5>
             <div id="{{include.pattern-name}}-collapseTen" class="accordion-collapse collapse"
                 aria-labelledby="{{include.pattern-name}}-10">
                 <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">
 
                     {{ include.content10 }}
 
                 </div>
             </div>
         </div>
         {% endif %}



         <!-- ITEM 11 -->
         {% if include.item11 %}
         <div class="accordion-item" id="rule-11" tabindex="-1">
             <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-11">
                 <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                     data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseEleven"
                     aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseEleven">
                     <span>11</span>{{ include.item11 }}
                 </button>
             </h5>
             <div id="{{include.pattern-name}}-collapseEleven" class="accordion-collapse collapse"
                 aria-labelledby="{{include.pattern-name}}-11">
                 <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">
 
                     {{ include.content11 }}
 
                 </div>
             </div>
         </div>
         {% endif %}



         <!-- ITEM 12 -->
         {% if include.item12 %}
         <div class="accordion-item" id="rule-12" tabindex="-1">
             <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-12">
                 <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                     data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseTwelve"
                     aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseTwelve">
                     <span>12</span>{{ include.item12 }}
                 </button>
             </h5>
             <div id="{{include.pattern-name}}-collapseTwelve" class="accordion-collapse collapse"
                 aria-labelledby="{{include.pattern-name}}-12">
                 <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">
 
                     {{ include.content12 }}
 
                 </div>
             </div>
         </div>
         {% endif %}


         <!-- ITEM 13 -->
         {% if include.item13 %}
         <div class="accordion-item" id="rule-13" tabindex="-1">
             <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-13">
                 <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                     data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseThirteen"
                     aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseThirteen">
                     <span>13</span>{{ include.item13 }}
                 </button>
             </h5>
             <div id="{{include.pattern-name}}-collapseThirteen" class="accordion-collapse collapse"
                 aria-labelledby="{{include.pattern-name}}-13">
                 <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">
 
                     {{ include.content13 }}
 
                 </div>
             </div>
         </div>
         {% endif %}



         <!-- ITEM 14 -->
         {% if include.item14 %}
         <div class="accordion-item" id="rule-14" tabindex="-1">
             <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-14">
                 <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                     data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseFourteen"
                     aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseFourteen">
                     <span>14</span>{{ include.item14 }}
                 </button>
             </h5>
             <div id="{{include.pattern-name}}-collapseFourteen" class="accordion-collapse collapse"
                 aria-labelledby="{{include.pattern-name}}-14">
                 <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">
 
                     {{ include.content14 }}
 
                 </div>
             </div>
         </div>
         {% endif %}



         <!-- ITEM 15 -->
         {% if include.item15 %}
         <div class="accordion-item" id="rule-15" tabindex="-1">
             <h5 class="accordion-header pt-0" id="{{include.pattern-name}}-15">
                 <button tabindex="0" class="accordion-button collapsed remove-element-padding px-4 py-3" type="button"
                     data-bs-toggle="collapse" data-bs-target="#{{include.pattern-name=}}-collapseFifteen"
                     aria-expanded="false" aria-controls="{{include.pattern-name=}}-collapseFifteen">
                     <span>15</span>{{ include.item15 }}
                 </button>
             </h5>
             <div id="{{include.pattern-name}}-collapseFifteen" class="accordion-collapse collapse"
                 aria-labelledby="{{include.pattern-name}}-15">
                 <div class="accordion-body remove-element-padding pt-0 ps-8 pb-4 pe-4">
 
                     {{ include.content15 }}
 
                 </div>
             </div>
         </div>
         {% endif %}

    </div>

</div>