---

layout: content-tagged
title: Action tile illustrations
description: A collection of illustrations used in the action tile component.
breadcrumb1: Resources
url1: /resources.html
bga-tag: true
subsite-tag: true

---


<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
        classes="in-page"

        link-1="Where to use these illustrations" link-id-1="#where-to-use"
        link-2="People illustrations" link-id-2="#people"
        link-3="Concept illustrations" link-id-3="#concepts"
        link-4="Object illustrations" link-id-4="#objects"
        %}

    </div>

    <div class="anchored-content remove-top-spaces col-12 col-lg-9 col-xl-10">

          <!-- PEOPLE -->
          <h2 class="section-start" id="where-to-use">Where to use these illustrations</h2>

        <p> The illustrations on this page are only used in <a href={{ 'components/action-tiles.html' | relative_url }} >action tile components </a>. They differ from the images in the main illustration library because they lack the teal background elements and that have a different size/aspect ratio.</p>


        <!-- PEOPLE -->
        <h2 class="section-start" id="people">People illustrations</h2>

        <div class="row">

            <div class="col-12 col-sm-6 col-xl-4">
                {% include illustration-example.html

                title="Person laptop"

                new_src="'../assets/action-tiles/person-laptop.svg' | relative_url "
                description="Illustration of a person seated behind a computer."

                classes="action-tile"

                %}
            </div>

            <div class="col-12 col-sm-6 col-xl-4">
                {% include illustration-example.html

                title="Two people"

                new_src="'../assets/action-tiles/two_people.svg' | relative_url "
                description="Illustration of a man and a woman."

                classes="action-tile"

                %}
            </div>

            <div class="col-12 col-sm-6 col-xl-4">
                {% include illustration-example.html

                title="Person cash thought"

                new_src="'../assets/action-tiles/person_cash_thought.svg' | relative_url "
                description="Illustration of a person thinking about money."

                classes="action-tile"

                %}
            </div>


            



        </div>



        <!-- CONCEPTS -->
        <h2 class="section-start" id="concepts">Concept illustrations</h2>

        <div class="row">

            <div class="col-12 col-sm-6 col-xl-4">
                {% include illustration-example.html

                title="Cash flow cycle"

                new_src="'../assets/action-tiles/cash_flow_cycle.svg' | relative_url "
                description="Illustration of a circular diagram with dollar signs."

                classes="action-tile"

                %}
            </div>

            <div class="col-12 col-sm-6 col-xl-4">
                {% include illustration-example.html

                title="Cash flow"

                new_src="'../assets/action-tiles/cash_flow.svg' | relative_url "
                description="Illustration a money bag encompassed by two arrows that point in a circular direction."

                classes="action-tile"

                %}
            </div>

            <div class="col-12 col-sm-6 col-xl-4">
                {% include illustration-example.html

                title="Cash quadrants"

                new_src="'../assets/action-tiles/cash_quadrants.svg' | relative_url "
                description="Illustration of a four quadrants with a dollar sign."

                classes="action-tile"

                %}
            </div>

            <div class="col-12 col-sm-6 col-xl-4">
                {% include illustration-example.html

                title="Cash flow spreadsheet"

                new_src="'../assets/action-tiles/cashflow_spreadsheet.svg' | relative_url "
                description="Illustration of a spreadsheet encircled by two arrows that point in a circular direction."

                classes="action-tile"

                %}
            </div>


            



        </div>


        <!-- OBJECTS -->
        <h2 class="section-start" id="objects">Object illustrations</h2>

        <div class="row">

            <div class="col-12 col-sm-6 col-xl-4">
                {% include illustration-example.html

                title="Calculator receipts"

                new_src="'../assets/action-tiles/calculator-receipts.svg' | relative_url "
                description="Illustration of a calculator surrounded by receipts."

                classes="action-tile"

                %}
            </div>


            <div class="col-12 col-sm-6 col-xl-4">
                {% include illustration-example.html

                title="Calendar"

                new_src="'../assets/action-tiles/calendar.svg' | relative_url "
                description="Illustration of a calendar."

                classes="action-tile"

                %}
            </div>

            <div class="col-12 col-sm-6 col-xl-4">
                {% include illustration-example.html

                title="Cash register"

                new_src="'../assets/action-tiles/cash_register.svg' | relative_url "
                description="Illustration of a cash register."

                classes="action-tile"

                %}
            </div>

            <div class="col-12 col-sm-6 col-xl-4">
                {% include illustration-example.html

                title="Chart growth"

                new_src="'../assets/action-tiles/chart-growth.svg' | relative_url "
                description="Illustration of a wall chart with a graph showing positive growth."

                classes="action-tile"

                %}
            </div>


            <div class="col-12 col-sm-6 col-xl-4">
                {% include illustration-example.html

                title="Checklist"

                new_src="'../assets/action-tiles/checklist.svg' | relative_url "
                description="Illustration of a checklist."

                classes="action-tile"

                %}
            </div>


            <div class="col-12 col-sm-6 col-xl-4">
                {% include illustration-example.html

                title="Delivery van"

                new_src="'../assets/action-tiles/delivery-van.svg' | relative_url "
                description="Illustration of a delivery van."

                classes="action-tile"

                %}
            </div>


            <div class="col-12 col-sm-6 col-xl-4">
                {% include illustration-example.html

                title="Document signature"

                new_src="'../assets/action-tiles/document-signature.svg' | relative_url "
                description="Illustration of a signed document with a pen."

                classes="action-tile"

                %}
            </div>


            <div class="col-12 col-sm-6 col-xl-4">
                {% include illustration-example.html

                title="Document stethoscope"

                new_src="'../assets/action-tiles/document-stethoscope.svg' | relative_url "
                description="Illustration of a document with a stethoscope."

                classes="action-tile"

                %}
            </div>

            <div class="col-12 col-sm-6 col-xl-4">
                {% include illustration-example.html

                title="Folder receipts"

                new_src="'../assets/action-tiles/folder-receipts.svg' | relative_url "
                description="Illustration of a folder with receipts inside it."

                classes="action-tile"

                %}
            </div>

            <div class="col-12 col-sm-6 col-xl-4">
                {% include illustration-example.html

                title="Forklift"

                new_src="'../assets/action-tiles/forklift.svg' | relative_url "
                description="Illustration of a person driving a forklift."

                classes="action-tile"

                %}
            </div>

            <div class="col-12 col-sm-6 col-xl-4">
                {% include illustration-example.html

                title="Hand moneybag"

                new_src="'../assets/action-tiles/hand-moneybag.svg' | relative_url "
                description="Illustration of a hand holding a bag or money"

                classes="action-tile"

                %}
            </div>

            <div class="col-12 col-sm-6 col-xl-4">
                {% include illustration-example.html

                title="Inventory"

                new_src="'../assets/action-tiles/inventory.svg' | relative_url "
                description="Illustration of a checklist in front of stacked boxes."

                classes="action-tile"

                %}
            </div>

            <div class="col-12 col-sm-6 col-xl-4">
                {% include illustration-example.html

                title="Laptop chart"

                new_src="'../assets/action-tiles/laptop-chart.svg' | relative_url "
                description="Illustration of a laptop with a chart on the screen."

                classes="action-tile"

                %}
            </div>


            <div class="col-12 col-sm-6 col-xl-4">
                {% include illustration-example.html

                title="Lightbulb chart"

                new_src="'../assets/action-tiles/lightbulb-chart.svg' | relative_url "
                description="Illustration of a lightbulb next to a chart which shows positive growth."

                classes="action-tile"

                %}
            </div>


            <div class="col-12 col-sm-6 col-xl-4">
                {% include illustration-example.html

                title="Magnifying glass chart"

                new_src="'../assets/action-tiles/magnifying-glass-chart.svg' | relative_url "
                description="Illustration of a magnifying glass over a chart."

                classes="action-tile"

                %}
            </div>


            <div class="col-12 col-sm-6 col-xl-4">
                {% include illustration-example.html

                title="Piggybank"

                new_src="'../assets/action-tiles/piggybank.svg' | relative_url "
                description="Illustration of a piggybank with coins."

                classes="action-tile"

                %}
            </div>

            <div class="col-12 col-sm-6 col-xl-4">
                {% include illustration-example.html

                title="Price tag"

                new_src="'../assets/action-tiles/price_tag.svg' | relative_url "
                description="Illustration of a perfume bottle with a price tag."

                classes="action-tile"

                %}
            </div>

            <div class="col-12 col-sm-6 col-xl-4">
                {% include illustration-example.html

                title="Signpost cash flow"

                new_src="'../assets/action-tiles/signpost-cashflow.svg' | relative_url "
                description="Illustration of a signpost with a cash flow symbol."

                classes="action-tile"

                %}
            </div>

            <div class="col-12 col-sm-6 col-xl-4">
                {% include illustration-example.html

                title="Ute"

                new_src="'../assets/action-tiles/ute.svg' | relative_url "
                description="Illustration of a utility truck."

                classes="action-tile"

                %}
            </div>

            <div class="col-12 col-sm-6 col-xl-4">
                {% include illustration-example.html

                title="Watering can money"

                new_src="'../assets/action-tiles/watering-can-money.svg' | relative_url "
                description="Illustration of a watering can with a money plant."

                classes="action-tile"

                %}
            </div>











        </div>




    </div>



</div>