---

layout: bga-info-pages
title: Customers
description: Customer service tips to help you provide a great experience before, during and after a sale.
id: bga-prototype
breadcrumb1: Operations
url1: /prototypes/bga/operations.html
breadcrumb2: People
url2: /prototypes/bga/operations/people.html

---

<div class="container my-5">

    <div class="row">

        <div class="remove-top-spaces col-12">
           
            <div class="hero-pathway-block" id="hero-layout-example">

                <div class="row">

                    <div class="col-12 col-sm-6 col-lg-8">
                        {% include component-examples/hero-pathway-example.html
                        image="'../../../../assets/refresh-illustrations/Person-computer-chat.svg' | relative_url "
                        classes="border-teal"
                        title="Communicate with customers"
                        description="Learn how to provide excellent customer service and find the best way to communicate with your customers."
                        %}
                    </div>


                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/hero-pathway-example.html
                        classes="border-green small-hero"
                        title="Manage customer complaints"
                        description="Learn how to deal with customer complaints and develop processes for your business."
                        %}

                    </div>


                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/hero-pathway-example.html
                        classes="border-blue small-hero"
                        title="Refuse service"
                        description="Find out when you can and cannot refuse service to customers."
                        %}
                    </div>



                    <div class="col-12 col-sm-6 col-lg-8">
                        {% include component-examples/hero-pathway-example.html
                        image="'../../../../assets/refresh-illustrations/people-handshake.svg' | relative_url "
                        classes="border-yellow"
                        title="Manage customer relationships"
                        description="Understand how to build, manage and measure customer relationships."
                        %}
                    </div>

                    <div class="col-12 col-sm-6 col-lg-8">
                        {% include component-examples/hero-pathway-example.html
                        image="'../../../../assets/refresh-illustrations/computer-lock.svg' | relative_url "
                        classes="border-orange"
                        title="Protect your customer's information"
                        description="Find out if your business handles personal information, and how to protect it."
                        %}
                    </div>


                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/hero-pathway-example.html
                        classes="border-green small-hero"
                        title="Install video surveillance"
                        description="Understand privacy and surveillance laws if you're about to install video surveillance in your business."
                        %}

                    </div>


                </div>


            </div>

        </div>


    </div>

</div>
