// Labels
label {
    font-weight: 600;
}
.contextual-help {
   font-size: 0.875rem;
}

// Inputs
input.form-control {
    border: $bga-blue-black-dark solid 1px;
    border-radius: 0;
    padding: 12px 16px;
    background: $bga-white;
    font-size: 1rem;
    line-height: 1.75;
    background: $bga-white !important;
    
    &:focus {
        box-shadow: none;
        border: $bga-component-focus-border;
        border-radius: $bga-focus-radius;
        background-color: $bga-white !important;
    } 
}
input:-internal-autofill-selected {
    background-color: $bga-white !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    background-color: $bga-white !important;
}
.textbox-units {
    display: flex;
    
    p {
        border: $bga-blue-black-dark solid 1px;
        padding: 12px 16px;
        display: inline-block;
        background: $bga-blue-black-lightest;
    }
    input {
        text-align: right;
    }
}
.textbox-button {
    .combo-button {
        display: inline-flex;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: 12px 24px 12px 16px;
        box-shadow: none;
        
        svg {
            margin: 0 8px 0 0;
            width: 16px;
        }
        
    }
}


// Input state examples
.bga-text-input {
    width: 100%;
    border: $bga-blue-black-dark solid 1px;
    border-radius: 0;
    padding: 12px 16px;
    background: $bga-white;

    &.text-input-example {
        min-height: 54px;
    }
    &.dropdown-example {
        min-height: 50px;
    }

    &.text-area-example {
        min-height: 200px;
    }
    
    &.focus {
        box-shadow: none;
        border: $bga-component-focus-border;
        border-radius: $bga-focus-radius;
        background-color: $bga-white !important;
    }
    &.error {
        border: $bga-component-error-border;
        border-radius: $bga-focus-radius;
        background-color: $bga-white !important;
        
        &.focus {
            border-color: $bga-blue-focus;
        }
    }
    &.disabled {
        opacity: .65;
        background: $bga-blue-black-lightest;
    }
}


// Error states & messages
.error-feedback {
    color: $bga-red-fail-dark;
    display: none;
}
.form-element-wrapper {
    box-shadow: none;
    display: flex;
    
    &.no-flex {
        display: block;
    }
    
    &.error {
        box-shadow: 0 0 0 8px $bga-red-fail-mid;
        background: $bga-red-fail-mid;
        
        input, .form-select {
            border: $bga-component-error-border;
            border-radius: $bga-focus-radius;
            background-color: $bga-white !important;
            
            &:focus {
                border-color: $bga-blue-focus;
                background-color: $bga-white !important;
            }
        }
        textarea {
            border: solid 3px $bga-red-fail-dark;
            border-radius: 4px;
        }
        + .error-feedback {
            display: block;
        }

    }
}


textarea {
    width: 100% !important;
    min-height: 200px;
    height: 200px;
    border: $bga-blue-black-dark solid 1px !important;
    border-radius: 0 !important;
    padding: 12px 16px;
    background: $bga-white;
    font-size: 1rem;
    background: $bga-white !important;
    
    &:focus {
        box-shadow: none;
        border: $bga-component-focus-border;
        border-radius: $bga-focus-radius;
    } 
}
.textarea-char-count {
    &.excess-count {
        color: $bga-red-fail-dark;
    }
}
// CSS Styles from https://github.com/lonekorean/highlight-within-textarea
//Thank you lone Korean!!!
.form-example {
    .hwt-container {
        display: inline-block;
        position: relative;
        overflow: hidden !important;
        -webkit-text-size-adjust: none !important;
        width: 100%;
        min-height: 200px;
        height: 200px;
        padding: 0px !important;
        background: $bga-white;
    }
    .hwt-backdrop {
        position: absolute !important;
        top: 0px !important;
        right: 0px !important;
        bottom: 0 !important;
        left: 0 !important;
        width: 100%;
        padding: 0 !important;
        overflow-x: hidden !important;
        overflow-y: auto !important;
        min-height: 200px;
        height: 200px;
    }
    .hwt-highlights {
        width: auto !important;
        height: auto !important;
        border-color: transparent !important;
        white-space: pre-wrap !important;
        word-wrap: break-word !important;
        color: transparent !important;
        overflow: hidden !important;
    }
    .hwt-input {
        display: block !important;
        position: relative !important;
        margin: 0;
        padding: 0;
        border-radius: 0;
        font: inherit;
        overflow-x: hidden !important;
        overflow-y: auto !important;
    }
    .hwt-content {
        background: none !important;
        padding: 12px 16px !important;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0;
    }
    .hwt-content mark {
        padding: 0px !important;
        background-color: $bga-red-fail-mid;
        color: $bga-red-fail-mid;

        &.hide-mark {
            display: none !important;
        }
    }
}



// Checkboxes
.checkboxes,
.bga-checkbox {
    position: relative;
    display: block;
    padding: 0 0 4px 0;
    
    &:last-of-type {
        padding: 0;
    }
    
    label,
    .label {
        font-weight: 400;
        padding: 5px 5px 5px 44px;
        border: solid 3px transparent;
        background: transparent;
        width: 100%;
        min-height: 44px;
        display: inline-block;
    }
    [type=checkbox],
    .input {
        position: absolute;
        top: 8px;
        left: 8px;
        -webkit-appearance: none;
        height: 28px;
        width: 28px;
        vertical-align: middle;
        border-radius: 0;
        border: solid 1px $bga-blue-black-dark;
        background: $bga-white;
        cursor: pointer;
        
        &:focus {
            border: solid 1px $bga-blue-black-dark;
            outline: none;
            
            + label {
                border: transparent solid 3px;
                border-radius: $bga-focus-radius;
            }
        }
        &:focus-visible + label {
            border: $bga-component-focus-border;
            border-radius: $bga-focus-radius;
        }
        
        &:checked {
            background: $bga-white url(../assets/icon-tick-blue.svg) no-repeat center center;
            border: solid 3px $bga-blue-links !important;
            
            + label {
                color: $bga-blue-links;
                font-weight: 600;
            }
        }
    }
    
}
// Checkbox states
.bga-checkbox {

    &.error {
        .input {

            + .label {
                border:  $bga-component-error-border;
                border-radius: $bga-focus-radius;
            }
        }
    }
    &.focus {
        .input {
            background: $bga-white url(../assets/icon-tick-blue.svg) no-repeat center center;
            border: solid 3px $bga-blue-links !important;

            + .label {
                color: $bga-blue-links;
                font-weight: 600;

            }
        }
    }

    &.keyboard .input {
        + .label {
            border: $bga-component-focus-border;
            border-radius: $bga-focus-radius;
        }
    }
    
    &.disabled {
        opacity: .65;
        .input {
            background: $bga-blue-black-lightest;
        }
    }
}
.form-element-wrapper.error {
    .checkboxes {
        [type=checkbox] {
            border: solid 1px $bga-blue-black-dark;
            border-radius: 0;

            &:focus,
            &:focus-visible {
                border: solid 1px $bga-blue-black-dark;
                outline: none;

                + label {
                    border: $bga-component-focus-border;
                    border-radius: $bga-focus-radius;
                }
            }
        }
        label {
            border:  $bga-component-error-border;
            border-radius: 4px;
        } 
    }
    + .error-feedback {
        display: block;
    }
}


// Radio buttons
.radio-button {
    position: relative;
    display: block;
    
    label {
        font-weight: 400;
        padding: 8px 8px 8px 40px;
        border: solid 1px $bga-blue-black-dark;
        background: $white;
        width: 100%;
        min-height: 40px;
        display: inline-block;
    }
    [type="radio"] {
        position: absolute;
        top: 9px;
        left: 8px;
        -webkit-appearance: none;
        height: 24px;
        width: 24px;
        vertical-align: middle;
        border-radius: 100px;
        border: solid 2px $bga-blue-black-mid;
        background: $bga-white;
        outline: none !important;
        
        &:focus {
            border: $bga-blue-links solid 2px;
            outline: none !important;
            box-shadow: none;
            
            + label {
                border: solid 1px $bga-blue-black-dark;
            }
        }
        &:focus-visible {
            top: 11px;
            
            + label {
                border: $bga-component-focus-border;
                border-radius: $bga-focus-radius;
            }
        }
        &:checked {
            background: $bga-white url(../assets/radio-inside-circle.svg) no-repeat center center;
            border: solid 2px $bga-blue-links !important;
            outline: none !important;
            
            + label {
                color: $bga-blue-links;
                font-weight: 600;
            }
        }
    }
    
    &.alternate {
        label {
            border:solid 3px $bga-white;
            padding: 5px 5px 5px 40px;
        }
        [type="radio"] {
            top: 8px;
            
            &:focus {
                + label {
                    border:solid 3px $bga-white;
                }
            }
            
            &:focus-visible {
                top: 8px;
                
                + label {
                    border: $bga-component-focus-border;
                }
            }
        }
    }
}
.form-element-wrapper.error {
    .radio-button {
        label {
            border:  $bga-component-error-border;
            border-radius: $bga-focus-radius;
        }
        [type="radio"] {
            top: 11px;
            border-radius: 100px;
            border: solid 2px $bga-blue-black-mid;
            
            &:focus,
            &:focus-visible {
                + label {
                    border: $bga-component-focus-border;
                    border-radius: $bga-focus-radius;
                    outline: none;
                }
            }
        }
        &.alternate {
            [type="radio"] {
                top: 8px;
            }
        }
    }
}

// Radio button states
.bga-radio {
    position: relative;

    .label {
        font-weight: 400;
        padding: 8px 8px 8px 40px;
        border: solid 1px $bga-blue-black-dark;
        background: $white;
        width: 100%;
        min-height: 40px;
        display: inline-block;
    }

    .input {
        position: absolute;
        top: 10px;
        left: 8px;
        -webkit-appearance: none;
        height: 24px;
        width: 24px;
        vertical-align: middle;
        border-radius: 100px;
        border: solid 2px $bga-blue-black-mid;
        background: $bga-white;
        outline: none !important;
    }

    &.focus {
        .input  {
            border: $bga-blue-links solid 2px;
            outline: none !important;
            box-shadow: none;
            background: $bga-white url(../assets/radio-inside-circle.svg) no-repeat center center;

            + .label {
                border: solid 1px $bga-blue-black-dark;
                color: $bga-blue-links;
                font-weight: 600;
            }
        }
    }
    &.error {
        .input {
            top: 12px;
        }
        .label {
            border:  $bga-component-error-border;
            border-radius: $bga-focus-radius;
        }
    }

    &.keyboard {
        .input {
            top: 12px;
            border: $bga-blue-links solid 2px;
            background: $bga-white url(../assets/radio-inside-circle.svg) no-repeat center center;


            + .label {
                border: $bga-component-focus-border;
                border-radius: $bga-focus-radius;
                color: $bga-blue-links;
                font-weight: 600;
            }
        }
    }
    &.disabled {
        opacity: .65;
    }
    
    &.alternate {
        .label {
            border:solid 3px $bga-white;
            padding: 5px 5px 5px 40px;
        }
        .input {
            top: 8px;
        }
        &.focus .input {
            + .label {
                border:solid 3px $bga-white;
            }
        }
        &.error .input {
            + .label {
                border:  $bga-component-error-border;
            }
        }
        &.keyboard .input {
            top: 8px;

            + .label {
                border:solid 3px $bga-blue-focus;
            }
        }
    }

}


// Select / dropdowns
.form-select {
    border: $bga-blue-black-dark solid 1px;
    background: $bga-white url(../assets/Chevron-down-black.svg) no-repeat;
    background-position: right 16px center;
    border-radius: 0;
    padding: 12px 48px 12px 16px;
    
    &:focus {
        box-shadow: none;
        border: $bga-component-focus-border;
        border-radius: $bga-focus-radius;
        background-color: $bga-white !important;
    }
    &.error {
        border: $bga-component-error-border;
        border-radius: $bga-focus-radius;
        background-color: $bga-white !important;
        
        &.focus {
            border-color: $bga-blue-focus;
        }
    }
    &.disabled {
        opacity: .65;
        background: $bga-blue-black-lightest;
    }
}
.bga-text-input.select {
    background: $bga-white url(../assets/Chevron-down-black.svg) no-repeat;
    background-position: right 16px center;
    
    &.disabled {
        opacity: .65;
        background: $bga-blue-black-lightest url(../assets/Chevron-down-black.svg) no-repeat;
        background-position: right 16px center;
    }
}


// BOOTSTRAP OVERRIDES
input:-internal-autofill-selected {
    background: $bga-white !important;
}