---

layout: bga-info-pages
title: Finance
description: Learn how to keep business records, manage your cash flow and prepare for tax time.
id: bga-prototype
breadcrumb1: Operations
url1: /prototypes/bga/operations.html

---

<div class="container my-5">

    <div class="row">

        <div class="remove-top-spaces col-12">
           
            <div class="row">

                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Set up your finances"
                    description="Start out the right way! Set up your accounts and find the tools and help you need to start managing your business finances."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    link="'../../../prototypes/bga/operations/finance/set-up-your-finances.html' | relative_url"
                    %}
                </div>


                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Financial tools and templates"
                    description="Tools and templates to help with your business finances."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    link="'../../../prototypes/bga/operations/finance/financial-tools-and-templates.html' | relative_url"
                    %}
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Payments and invoicing"
                    description="Setting payment terms and invoicing correctly can help you get paid on time."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    link="'../../../prototypes/bga/operations/finance/payments-and-invoicing.html' | relative_url"
                    %}
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Funding"
                    description="Learn about the different ways to fund your business including loans, grants and crowdfunding."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    link="'../../../prototypes/bga/operations/finance/funding.html' | relative_url"
                    %}
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Taxation"
                    description="Learn how to lodge, pay and understand the different types of taxes that may apply to your business."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    link="'../../../prototypes/bga/operations/finance/taxation.html' | relative_url"
                    %}
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Support for your business finances"
                    description="Find information and advice to help with your finances."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    link="'../../../prototypes/bga/operations/finance/support-for-your-business-finances.html' | relative_url"
                    %}
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Superannuation"
                    description="Understand fund choices, making contributions and using SuperStream."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    link="'../../../prototypes/bga/operations/finance/superannuation.html' | relative_url"
                    %}
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Financial trouble"
                    description="Ways to help your business if it's in financial trouble."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    link="'../../../prototypes/bga/operations/finance/financial-trouble.html' | relative_url"
                    %}
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Yearly financial tasks"
                    description="Learn about the yearly tasks you should complete to keep up with your business finances."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    link="'../../../prototypes/bga/operations/finance/yearly-financial-tasks.html' | relative_url"
                    %}
                </div>

             

        </div>  

    
               
        </div>


    </div>

</div>
