---

layout: bga-info-pages
title: Marketing
description: Research your market, reach your customers, get online and stand out from the crowd.
id: bga-prototype
breadcrumb1: Operations
url1: /prototypes/bga/operations.html

---

<div class="container my-5">

    <div class="row">

        <div class="remove-top-spaces col-12">
           


            <div class="row">

                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Business marketing"
                    description="Marketing can help your business reach its target customers and increase your profit."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    %}
                </div>


                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Identify your target market"
                    description="Find out how to identify your business's target customers."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    %}
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Research your market"
                    description="Learn how to research your market to understand your customers and competitors."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    %}
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Develop your marketing plan"
                    description="A marketing plan can help you understand who your customers are, how to reach them and how to define your brand."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    %}
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Market your business"
                    description="Learn about the 5 Ps of marketing to give your customers what they want."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    %}
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Advertise your business"
                    description="Promote your product or service and reach more customers through advertising."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    %}
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Tools and software to market your business"
                    description="Find the right tools and software to streamline your online marketing."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    %}
                </div>

             

        </div>  


    
        </div>


    </div>

</div>
