---

layout: bga-info-pages
title: Online
description: Online tools can help you increase your productivity, reach a larger audience and grow your business. Learn about the benefits of going digital, setting up a website and social media and keeping your business cyber secure.
id: bga-prototype
breadcrumb1: Operations
url1: /prototypes/bga/operations.html

---

<div class="container my-5">

    <div class="row">

        <div class="remove-top-spaces col-12">
           
            <div class="row">

                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Understand the benefits of going digital"
                    description="How digital tools can help you manage and grow your business."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    %}
                </div>


                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="What is your business’s digital maturity?"
                    description="Use our Digital Readiness Assessment Tool to find out what your business is doing well and what you can do to improve your digital maturity."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    %}
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Business website"
                    description="Understand the basics of setting up, designing and maintaining your business website."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    %}
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Social media for business"
                    description="Social media can help promote your business and connect with your customers online."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    %}
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Buying and selling online"
                    description="Understand the basics of e-commerce and the benefits of taking your business online."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    %}
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Cyber security"
                    description="Cybercrime is a growing threat. Know what to look out for and how to protect your business from scams.."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    %}
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Digital tools for business"
                    description="Find digital tools and software to help you connect with customers and employees."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    %}
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Promoting your business by email or text messagesn"
                    description="How to make sure your electronic messages keep reaching your customers."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    %}
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Digital case studies"
                    description="Watch our case studies to find out how small businesses adopted digital technologies and strategies into their business."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    %}
                </div>

             

        </div>  

    

        </div>


    </div>

</div>
