---

layout: bga-info-pages
title: Products and services
description: Find out how to sell your product or service, import or export goods and locate a supplier.
id: bga-prototype
breadcrumb1: Operations
url1: /prototypes/bga/operations.html

---

<div class="container my-5">

    <div class="row">

        <div class="remove-top-spaces col-12">
           

            <div class="row">

                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Importing"
                    description="Learn what is involved in bringing goods or services into Australia from overseas."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    link="'../../../prototypes/bga/operations/products-and-services/importing.html' | relative_url"
                    %}
                </div>


                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Exporting"
                    description="Understand the benefits to exporting and learn where to find help when you begin to export."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    link="'../../../prototypes/bga/operations/products-and-services/exporting.html' | relative_url"
                    %}
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Product labelling"
                    description="Learn how to label your products correctly.    "
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    link="'../../../prototypes/bga/operations/products-and-services/product-labelling.html' | relative_url"
                    %}
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Develop a pricing strategy"
                    description="Good product pricing is crucial. Find out how to develop a pricing strategy."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    link="'../../../prototypes/bga/operations/products-and-services/pricing.html' | relative_url"
                    %}
                </div>

                <div class="col-12 col-sm-6 col-lg-4">
                    {% include component-examples/standard-pathway-example.html
                    title="Inventory management"
                    description="Managing your stock levels can help you save money and meet your customers' needs."
                    icon1="'../../../assets/icon-arrow-right-white.svg' | relative_url "
                    link="'../../../prototypes/bga/operations/products-and-services/inventory-management.html' | relative_url"
                    %}
                </div>



             

        </div>  

           

        </div>


    </div>

</div>
