---

layout: bga-inpage-tool-cool
title: Country of origin labelling tool
step-number: 2
stepped-nav-step: Packaging
page-id: packaging

---

<div class="container page-content question-page my-5" data-page="{{ page.page-id }}" id="cool-prototype">

    <div class="row">

        <div class="remove-top-spaces col-12 col-md-8">

            <h2>Packaging</h2>

              <!-- Question 1 -->
              <div class="question dynamic-trigger remove-element-padding" id="packaging-question1" >

                <div class="mb-5 p-0 form-example remove-element-padding">
                    <h3 for="packaging-q1" class="form-label h3-font-size heading-color mb-4"><strong>Will the product be sold in a packet or package?</strong></h3>

                    <div class="mb-4">
                    {% include inline-help-complex-example.html 
                        help-id="2"
                        trigger-text="What is the definition of a pack or package?"
                        help-text="<ul><li>a product that can be retailed or sold wholly or partly encased, covered, enclosed, contained or packaged in a container, bottle or wrapper. For more details on this subject refer to our help topics page.</li><li>food products in packs or packages with a surface area less than 100 cm2 are not required to use the kangaroo logo and bar chart but must have the explanatory text statement in a box, on the package.</li></ul>"
                    %}
                    </div>


                    <div class="radios one-col-yesno g-2 d-flex radio-flex-group" role="radiogroup" id="packaging-q1">

                        <div class="radio-button w-50">
                            <input class="form-check-input m-0" type="radio" name="packaging-q1"
                                id="packaging-q1a" data-value="packaging-q1a">
                            <label class="form-check-label" for="packaging-q1a">yes</label>
                        </div>

                        <div class="radio-button w-50">
                            <input class="form-check-input m-0" type="radio" name="packaging-q1"
                                id="packaging-q1b" data-value="packaging-q1b">
                            <label class="form-check-label" for="packaging-q1b">no</label>
                        </div>

                    </div>
                    
                    <p class="error-message d-none mt-3 mb-0">This field is required.</p>

                </div>
                
                <hr class="section-divider my-5" />


            </div>
            
         
            <!-- Question 3 -->
            <div class="question dynamic-trigger remove-element-padding d-none" id="packaging-question3">

                <div class="mb-5 p-0 form-example remove-element-padding">
                    <h3 for="packaging-q3" class="form-label h3-font-size heading-color mb-4"><strong>Where was the product packed?</strong></h3>

                    <div class="radios one-col-short g-2 d-flex flex-wrap radio-flex-group" role="radiogroup" id="packaging-q3">

                        <div class="radio-button w-100">
                            <input class="form-check-input m-0" type="radio" name="packaging-q3"
                                id="packaging-q3a" data-value="packaging-q3a">
                            <label class="form-check-label" for="packaging-q3a">in Australia</label>
                        </div>

                        <div class="radio-button w-100">
                            <input class="form-check-input m-0" type="radio" name="packaging-q3"
                                id="packaging-q3b" data-value="packaging-q3b">
                            <label class="form-check-label" for="packaging-q3b">in another country</label>
                        </div>
                    
                    </div>
                    
                    <p class="error-message d-none mt-3 mb-0">This field is required.</p>

                </div>
                
                <hr class="section-divider my-5" />


            </div>



            <!-- Question 2 -->
            <div class="question dynamic-trigger remove-element-padding d-none" id="packaging-question2">

                <div class="mb-5 p-0 form-example remove-element-padding">
                    <h3 for="packaging-q2" class="form-label h3-font-size heading-color mb-4"><strong>What type of food is it?</strong></h3>

                    <div class="mb-4">
                    {% include inline-help-complex-example.html 
                        help-id="1"
                        trigger-text="What is the meaning of 'prepacked fresh fruit or vegetables in transparent packaging'?"
                        help-text="<ul><li>unprocessed fruit or vegetables, whole or cut that is contained in transparent packaging. For example a transparent plastic bag, net or tray. For more details on this subject refer to our help topics page.</li><li>the standard mark OR country of origin statement for prepacked fresh fruit and vegetables in transparent packaging can either be on its packaging or displayed at the point of sale.</li></ul>"
                    %}
                    </div>


                    <div class="radios one-col-short g-2 d-flex flex-wrap radio-flex-group" role="radiogroup" id="packaging-q2">

                        <div class="radio-button w-100">
                            <input class="form-check-input m-0" type="radio" name="packaging-q2"
                                id="packaging-q2a" data-value="packaging-q2a">
                            <label class="form-check-label" for="packaging-q2a">seasoning</label>
                        </div>

                        <div class="radio-button w-100">
                            <input class="form-check-input m-0" type="radio" name="packaging-q2"
                                id="packaging-q2b" data-value="packaging-q2b">
                            <label class="form-check-label" for="packaging-q2b">confectionary</label>
                        </div>

                        <div class="radio-button w-100">
                            <input class="form-check-input m-0" type="radio" name="packaging-q2"
                                id="packaging-q2c" data-value="packaging-q2c">
                            <label class="form-check-label" for="packaging-q2c">biscuits or snack foods</label>
                        </div>

                        <div class="radio-button w-100">
                            <input class="form-check-input m-0" type="radio" name="packaging-q2"
                                id="packaging-q2d" data-value="packaging-q2d">
                            <label class="form-check-label" for="packaging-q2d">bottled water</label>
                        </div>

                        <div class="radio-button w-100">
                            <input class="form-check-input m-0" type="radio" name="packaging-q2"
                                id="packaging-q2e" data-value="packaging-q2e">
                            <label class="form-check-label" for="packaging-q2e">soft drinks or sports drinks</label>
                        </div>

                        <div class="radio-button w-100">
                            <input class="form-check-input m-0" type="radio" name="packaging-q2"
                                id="packaging-q2f" data-value="packaging-q2f">
                            <label class="form-check-label" for="packaging-q2f">tea and coffee</label>
                        </div>

                        <div class="radio-button w-100">
                            <input class="form-check-input m-0" type="radio" name="packaging-q2"
                                id="packaging-q2g" data-value="packaging-q2g">
                            <label class="form-check-label" for="packaging-q2g">alcoholic beverages</label>

                        </div> <div class="radio-button w-100">
                            <input class="form-check-input m-0" type="radio" name="packaging-q2"
                                id="packaging-q2i" data-value="packaging-q2i">
                            <label class="form-check-label" for="packaging-q2i">fruit or vegetables in a transparent package</label>
                        </div>

                        <div class="radio-button w-100">
                            <input class="form-check-input m-0" type="radio" name="packaging-q2"
                                id="packaging-q2h" data-value="packaging-q2h">
                            <label class="form-check-label" for="packaging-q2h">none of the above</label>
                        </div>
                        

                      
                    
                    </div> 
                    
                    <p class="error-message d-none mt-3 mb-0">This field is required.</p>

                </div>
                
                <hr class="section-divider my-5" />


            </div>


            





            <!-- BUTTON GROUP -->
            <div class="tool-button-group button-group">

                <a class="bga-link bga-inline-link bkg-light prev" tabindex="0"
                    href={{ 'prototypes/cool/place-of-sale.html' | relative_url }} role="button">Previous</a>

                <a class="bga-btn bga-primary-btn bkg-light next" tabindex="0"
                    href={{ 'prototypes/cool/country-of-origin.html' | relative_url }} role="button">Next</a>

                <a class="bga-btn bga-primary-btn bkg-light next results d-none" tabindex="0"
                    href={{ 'prototypes/cool/results.html' | relative_url }} role="button">Return to results</a>

            </div>


        </div>


       

    </div>

</div>