---

layout: bga-inpage-tool-cool
title: Country of origin labelling tool
step-number: 4
stepped-nav-step: Processing
page-id: processing

---

<div class="container page-content question-page my-5" data-page="{{ page.page-id }}" id="cool-prototype">

    <div class="row">

        <div class="remove-top-spaces col-12 col-md-8">

            <h2>Processing</h2>

              <!-- Question 1 -->
              <div class="question dynamic-trigger remove-element-padding" id="overseas-processing-question1" >

                <div class="mb-5 p-0 form-example remove-element-padding">
                    <h3 for="overseas-processing-q1" class="form-label h3-font-size heading-color mb-4"><strong>Was this product substantially transformed?</strong></h3>

                    
                    <div class="mb-4">
                    {% include inline-help-complex-example.html
                        help-id="1"
                        trigger-text="What is the meaning of substantial transformation?"
                        help-text="<ul><li>a food is considered to have been substantially transformed if the end product is something fundamentally different from its ingredients. For example, a cake (final product) is made up of ingredients (flour, sugar, eggs, spices, yeast) that are fundamentally different from the finished product. For more details on this subject refer to our help topics page.</li></ul>"
                    %}
                    </div>


                    <div class="radios one-col-yesno g-2 d-flex radio-flex-group" role="radiogroup" id="overseas-processing-q1">

                        <div class="radio-button w-50">
                            <input class="form-check-input m-0" type="radio" name="overseas-processing-q1"
                                id="overseas-processing-q1a" data-value="overseas-processing-q1a">
                            <label class="form-check-label" for="overseas-processing-q1a">Yes</label>
                        </div>

                        <div class="radio-button w-50">
                            <input class="form-check-input m-0" type="radio" name="overseas-processing-q1"
                                id="overseas-processing-q1b" data-value="overseas-processing-q1b">
                            <label class="form-check-label" for="overseas-processing-q1b">No</label>
                        </div>
                                         
                    
                    </div>
                    
                    <p class="error-message d-none mt-3 mb-0">This field is required.</p>

                </div>
                
                <hr class="section-divider my-5" />


            </div>
            
         


            <!-- Question 2 -->
            <div class="question dynamic-trigger remove-element-padding d-none" id="overseas-processing-question2">

                


                <div class="mb-5 p-0 form-example remove-element-padding">
                    <h3 for="overseas-processing-q2" class="form-label h3-font-size heading-color mb-4"><strong>Where was this product substantially transformed? </strong></h3>


                    <div class="radios w-100 g-2 d-flex flex-wrap radio-flex-group" role="radiogroup" id="overseas-processing-q2">

                        <div class="radio-button w-100">
                            <input class="form-check-input m-0" type="radio" name="overseas-processing-q2"
                                id="overseas-processing-q2a" data-value="overseas-processing-q2a">
                            <label class="form-check-label" for="overseas-processing-q2a">in Australia only</label>
                        </div>

                        <div class="radio-button w-100">
                            <input class="form-check-input m-0" type="radio" name="overseas-processing-q2"
                                id="overseas-processing-q2b" data-value="overseas-processing-q2b">
                            <label class="form-check-label" for="overseas-processing-q2b">in a single overseas country</label>
                        </div>

                        <div class="radio-button w-100">
                            <input class="form-check-input m-0" type="radio" name="overseas-processing-q2"
                                id="overseas-processing-q2c" data-value="overseas-processing-q2c">
                            <label class="form-check-label" for="overseas-processing-q2c">in 2 or more countries (can include Australia)</label>
                        </div>
                                         
                    
                    </div>
                  
                    
                    <p class="error-message d-none mt-3 mb-0">This field is required.</p>

                </div>
                
                <hr class="section-divider my-5" />


            </div>


            <!-- Question 3 -->
            <div class="question dynamic-trigger remove-element-padding d-none" id="overseas-processing-question3">

                <div class="mb-5 p-0 form-example remove-element-padding">
                    <h3 for="overseas-processing-q3" class="form-label h3-font-size heading-color mb-4"><strong>Was this product exported from Australia to another country for processing before being re-imported to Australia?</strong></h3>


                    <div class="radios one-col-yesno g-2 d-flex radio-flex-group" role="radiogroup" id="overseas-processing-q3">

                        <div class="radio-button w-50">
                            <input class="form-check-input m-0" type="radio" name="overseas-processing-q3"
                                id="overseas-processing-q3a" data-value="overseas-processing-q3a">
                            <label class="form-check-label" for="overseas-processing-q3a">Yes</label>
                        </div>

                        <div class="radio-button w-50">
                            <input class="form-check-input m-0" type="radio" name="overseas-processing-q3"
                                id="overseas-processing-q3b" data-value="overseas-processing-q3b">
                            <label class="form-check-label" for="overseas-processing-q3b">No</label>
                        </div>

                       
                    
                    </div>
                    
                    <p class="error-message d-none mt-3 mb-0">This field is required.</p>

                </div>
                
                <hr class="section-divider my-5" />


            </div>

            
            
            <!-- Question 4 -->
            <div class="question dynamic-trigger remove-element-padding d-none" id="overseas-processing-question4">


                <div class="mb-5 p-0 form-example remove-element-padding">
                    <h3 for="overseas-processing-q4" class="form-label h3-font-size heading-color mb-4"><strong>What kind of overseas processing was conducted on this product before being re-imported to Australia?</strong></h3>

                    <div class="mb-4">
                        {% include inline-help-complex-example.html
                            help-id="2"
                            trigger-text="What is minor processing?"
                            help-text="<ul><li>processes that merely change the form or appearance of a food or ingredient and do not constitute substantial transformation. For example, cleaning, shelling, slicing, freezing, canning, bottling, crumbing, seasoning, marinating, reconstituting, roasting, packing, packaging and re-packaging.</li></ul>"
                        %}
                        </div>


                    <div class="mb-4">
                        {% include inline-help-complex-example.html
                            help-id="3"
                            trigger-text="What is the meaning of minor processing with non-Australian ingredients added to the food?"
                            help-text="<p>The Country of Origin Food Labelling Standard 2016 does not permit a grown in, produced in or made in Australia claim to be made for a food product that is:</p><ul><li>substantially transformed in Australia; and</li><li>then exported to an overseas country for minor processing with non-Australian ingredients added; and</li><li>then re-imported to Australia.</li></ul>"
                        %}
                        </div>


                    <div class="mb-4">
                        {% include inline-help-complex-example.html
                            help-id="4"
                            trigger-text="What is the meaning of substantial transformation?"
                            help-text="<ul><li>a food is considered to have been substantially transformed if the end product is something fundamentally different from its ingredients. For example, a cake (final product) is made up of ingredients (flour, sugar, eggs, spices, yeast) that are fundamentally different from the finished product. For more details on this subject refer to our help topics page.</li></ul>"
                        %}
                        </div>





                    <div class="radios w-100 g-2 d-flex flex-wrap radio-flex-group" role="radiogroup" id="overseas-processing-q4">

                        <div class="radio-button w-100">
                            <input class="form-check-input m-0" type="radio" name="overseas-processing-q4"
                                id="overseas-processing-q4a" data-value="overseas-processing-q4a">
                            <label class="form-check-label" for="overseas-processing-q4a">minor processing with no non-Australian ingredients added to the food</label>
                        </div>

                        <div class="radio-button w-100">
                            <input class="form-check-input m-0" type="radio" name="overseas-processing-q4"
                                id="overseas-processing-q4b" data-value="overseas-processing-q4b">
                            <label class="form-check-label" for="overseas-processing-q4b">minor processing with some non-Australian ingredients added to the food</label>
                        </div>

                        <div class="radio-button w-100">
                            <input class="form-check-input m-0" type="radio" name="overseas-processing-q4"
                                id="overseas-processing-q4c" data-value="overseas-processing-q4c">
                            <label class="form-check-label" for="overseas-processing-q4c">substantial transformation</label>
                        </div>
                                            
                    
                    </div>
                    
                    
                    <p class="error-message d-none mt-3 mb-0">This field is required.</p>

                </div>
                
                <hr class="section-divider my-5" />


            </div>



            <!-- BUTTON GROUP -->
            <div class="tool-button-group button-group">

                <a class="bga-link bga-inline-link bkg-light prev" tabindex="0"
                    href={{ 'prototypes/cool/country-of-origin.html' | relative_url }} role="button">Previous</a>

                <a class="bga-btn bga-primary-btn bkg-light next" tabindex="0"
                    href={{ 'prototypes/cool/results.html' | relative_url }} role="button">Next</a>

                <a class="bga-btn bga-primary-btn bkg-light next results d-none" tabindex="0"
                    href={{ 'prototypes/cool/results.html' | relative_url }} role="button">Return to results</a>

            </div>


        </div>


       

    </div>

</div>