---

layout: ecb
title: Employment Contract Tool
stepped-nav: true
stepped-nav-step: Review

---

<div class="container my-5">

    <div class="row remove-element-padding">

        <div class="col-12 col-md-11 col-lg-9 col-xl-8">
            
            <h2>Review your employment contract</h2>
            <p>Check the clauses you've added to your contract.</p>

            <h2>Position</h2>

            {% include component-examples/results-and-edit-example.html
                title="Position title"
                content="<p>You are being employed in the position of <strong>Accounts manager</strong>.</p>"
            %}

            {% include component-examples/results-and-edit-example.html
                title="Duties"
                content="<p>You will perform the duties described in the [attached] position description as required.</p><p>We may also assign you other duties, where reasonable for your position, training and experience.</p>"
            %}

            {% include component-examples/results-and-edit-example.html
                title="Award for your employee"
                content="<p><p>Your employment terms and conditions are those set out in this contract, the <a href=''><span><strong>Airline Operations - Ground Staff Award (MA000048)</strong></span></a> and applicable legislation. 
                    <p>You can check the minimum award entitlements for your classification level with the Fair Work Ombudsman's <a href='' >Pay and Conditions Tool</a>.</p>"
            %}

        </div>
    
    </div>




    <!-- BUTTON GROUP -->
    <div class="ecb-button-group">
        
       
            <a class="bga-link me-4 bga-inline-link bkg-light" tabindex="0" href="" role="button">Previous</a>
      
       
        
            <a class="bga-btn bga-primary-btn bkg-light" tabindex="0" href="" role="button">Next</a>
        
        
    </div>



</div>