---

layout: html-examples
title: Single column - full width layout example
description: Example content placement for this layout.
breadcrumb1: Brand foundations
url1: /brand-foundations.html
breadcrumb2: Grid and page layouts
url2: /brand-foundations/grid-and-page-layouts.html
global-alert: true

---

<div class="container my-5">

    <div class="row">

        <div class="remove-top-spaces col-12">

            <h2 id="bodycopy-example">Body copy example</h2>
            <div class="row">
                <div class="col-lg-9 col-xl-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis quis elit ac viverra. Duis eros quam, mollis quis imperdiet quis, vehicula vitae orci. Quisque aliquam neque ac odio ornare elementum. Vivamus in nisi non leo gravida ornare. Sed ullamcorper mollis purus sed dictum. Integer convallis cursus metus. Nullam tempus dignissim eros, eget aliquam erat maximus ut. Aliquam id risus odio. Etiam nisl dolor, aliquet non tortor sit amet, convallis bibendum erat. Pellentesque odio metus, dapibus nec gravida eu, blandit tincidunt justo. Aenean bibendum lacus eget nunc mattis, posuere mollis tellus congue. Integer sagittis lectus orci, vitae convallis urna posuere non.</p>
            <p>In euismod lorem augue, in euismod nulla faucibus at. Vestibulum dignissim mollis rutrum. Phasellus sollicitudin mauris lectus, sed lobortis justo congue id. Maecenas ultrices tellus sed fermentum tristique. Suspendisse congue odio turpis, quis iaculis nisl suscipit eget. Aenean tempus at quam eget rutrum.</p>
                </div>
            </div>

            <h2>Hero pathway examples</h2>

            <div class="hero-pathway-block" id="hero-layout-example">

                <div class="row">

                    <div class="col-12 col-sm-6 col-lg-8">
                        {% include component-examples/hero-pathway-example.html
                        image="'../assets/illustrations/person-shop.svg' | relative_url "
                        classes="border-purple"
                        title="Hero pathway heading"
                        description="Morbi sit amet nunc eget nisl eleifend viverra nec consequat nunc."
                        %}
                    </div>


                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/hero-pathway-example.html
                        classes="border-green small-hero"
                        title="Hero pathway heading Lorem ipsum dolor sit amet"
                        description="Morbi sit amet nunc eget nisl eleifend viverra nec consequat nunc. Proin mauris
                        quam, rhoncus feugiat euismod nec, imperdiet in lorem."
                        %}

                    </div>


                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/hero-pathway-example.html
                        classes="border-blue small-hero external"
                        external-link="IP Australia"
                        title="Lorem ipsum dolor sit amet"
                        description="Proin mauris quam, rhoncus feugiat euismod nec, imperdiet in lorem."
                        %}
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/hero-pathway-example.html
                        classes="border-orange small-hero external"
                        external-link="IP Australia"
                        title="Lorem ipsum dolor sit amet"
                        description="Morbi sit amet nunc eget nisl eleifend viverra nec consequat nunc. Proin mauris
                        quam, rhoncus feugiat euismod nec, imperdiet in lorem."
                        %}
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/hero-pathway-example.html
                        classes="border-teal small-hero"
                        title="Lorem ipsum dolor"
                        description="Proin mauris quam, rhoncus feugiat euismod nec."
                        %}
                    </div>


                </div>


            </div>




            <div class="coloured-bkg-wrapper">

                <div class="row">
                    <h2>First element has standard margins and padding for that element.</h2>

                    <div class="hero-pathway-block">

                        <div class="row">

                            <div class="col-12 col-sm-6 col-lg-4">
                                {% include component-examples/hero-pathway-example.html
                                classes="border-green small-hero"
                                title="Hero pathway heading Lorem ipsum dolor sit amet"
                                description="Morbi sit amet nunc eget nisl eleifend viverra nec consequat nunc. Proin
                                mauris quam, rhoncus feugiat euismod nec, imperdiet in lorem."
                                %}
                            </div>

                            <div class="col-12 col-sm-6 col-lg-4">
                                {% include component-examples/hero-pathway-example.html
                                classes="border-blue small-hero external"
                                title="Lorem ipsum dolor sit amet"
                                description="Proin mauris quam, rhoncus feugiat euismod nec, imperdiet in lorem."
                                %}
                            </div>

                        </div>

                    </div>

                </div>

            </div>



            <div class="standard-pathway-block" id="standard-pathway-example">

                <div class="row">

                    <h2>Standard pathway example</h2>

                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/standard-pathway-example.html
                        title="Standard pathway title"
                        description="Morbi sit amet nunc eget nisl eleifend viverra nec consequat nunc. Proin mauris
                        quam, rhoncus feugiat euismod nec, imperdiet in lorem."
                        %}
                    </div>


                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/standard-pathway-example.html
                        title="Standard pathway title Lorem ipsum dolor et"
                        description="Morbi sit amet nunc eget nisl eleifend viverra nec consequat nunc. Proin mauris
                        quam, rhoncus feugiat euismod nec, imperdiet in lorem."
                        %}
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/standard-pathway-example.html
                        title="Standard pathway title Lorem ipsum dolor et"
                        description="Morbi sit amet nunc eget nisl eleifend viverra nec consequat nunc. Proin mauris
                        quam, rhoncus feugiat euismod nec, imperdiet in lorem. Morbi sit amet nunc eget. This one is
                        extra extra extra long."
                        %}
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/standard-pathway-example.html
                        title="Standard pathway title Lorem"
                        description="Morbi sit amet nunc eget nisl eleifend viverra nec consequat nunc."
                        %}
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/standard-pathway-example.html
                        title="Standard pathway title Lorem"
                        description="Morbi sit amet nunc eget nisl eleifend viverra nec consequat nunc."
                        %}
                    </div>


                </div>


            </div>



            <div class="coloured-bkg-wrapper">

                <div class="light-pathway-block" id="light-pathway-example">
                    <div class="row ">

                        <h2>Light pathway example</h2>

                        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                            {% include component-examples/light-pathway-example.html
                            title="Light pathway with internal link"
                            %}
                        </div>

                        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                            {% include component-examples/light-pathway-example.html
                            title="Light pathway with external link"
                            external-link="example.gov.au"
                            classes="external"
                            %}
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                            {% include component-examples/light-pathway-example.html
                            title="Light pathway with internal link"
                            %}
                        </div>

                        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                            {% include component-examples/light-pathway-example.html
                            title="Light pathway with external link"
                            external-link="example.gov.au"
                            classes="external"
                            %}
                        </div>

                        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                            {% include component-examples/light-pathway-example.html
                            title="Light pathway with internal link"

                            %}
                        </div>

                        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                            {% include component-examples/light-pathway-example.html
                            title="Light pathway with external link"
                            external-link="example.gov.au"
                            classes="external"
                            %}
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                            {% include component-examples/light-pathway-example.html
                            title="Light pathway with internal link"
                            %}
                        </div>


                    </div>

                </div>

            </div>


            <div class="image-pathway-block" id="image-pathway-example">

                <h2>Image pathway example</h2>

                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/image-pathway-example.html
                        image="'../assets/news-documents-900x600.jpeg' | relative_url "
                        title="Light pathway title"
                        description="Morbi sit amet nunc eget nisl eleifend viverra nec consequat nunc. Proin mauris
                        quam, rhoncus feugiat euismod nec, imperdiet in lorem."
                        %}
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/image-pathway-example.html
                        image="'../assets/potter-on-computer.jpg' | relative_url "
                        title="Light pathway title"
                        description="Morbi sit amet nunc eget nisl eleifend."
                        %}
                    </div>


                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/image-pathway-example.html
                        image="'../assets/potter-on-computer.jpg' | relative_url "
                        title="Light pathway title"
                        description="Morbi sit amet nunc eget nisl eleifend."
                        %}
                    </div>

                </div>

            </div>



            <h2 id="feature-example">Feature image pathway example</h2>
            <div class="row">
                <div class="col-12">
                    <div class="feature-example-wrapper full-width-layout">
                        {% include component-examples/feature-image-pathway-example.html
                        image="'../assets/potter-on-computer.jpg' | relative_url "
                        title="Feature image pathway heading Lorem ipsum dolor sit amet"
                        description="Morbi sit amet nunc eget nisl eleifend viverra nec consequat nunc. Proin mauris
                        quam, rhoncus feugiat euismod nec, imperdiet in lorem."
                        %}
                    </div>

                </div>
            </div>


            <h2 id="notification-example">Notification example</h2>
            <div class="row">
                <div class="col-12 col-lg-9 col-xl-8">
                    {% include component-examples/notification-example.html
                    icon="'../assets/icon-notification-info.svg' | relative_url "
                    title="Optional notification title"
                    content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer erat arcu, venenatis et
                    nibh
                    non, finibus vehicula leo. Phasellus porta rhoncus ante."
                    classes="information"
                    %}
                </div>
            </div>


            <h2 id="inline-pathway-example">Inline pathway example</h2>

            <div class="row">
                <div class="col-12 col-lg-9 col-xl-8">

                    {% include component-examples/inline-pathway-example.html
                    link1="Find out what you need to do when deregistering a company lorem ipsum dolor sit amet,
                    consectetur"
                    page1="Internal page name"
                    icon1="'../assets/icon-arrow-right-blue.svg' | relative_url "

                    link3="Read more about this on external site"
                    page3="External site name"
                    icon3="'../assets/icon-external-blue.svg' | relative_url "
                    %}
                </div>

            </div>

            <h2 id="callout-link-example">Callout link example</h2>

            <div class="row">
                <div class="col-12 col-lg-9 col-xl-8">

                    {% include component-examples/callout-link-example.html
                    link="Subscribe to stay up-to-date with Accelerating Commercialisation news and information."
                    icon="'../assets/icon-email-white.svg' | relative_url "
                    %}

                </div>

            </div>


            <h2 id="featurebox-example">Feature box example</h2>

            <div class="row">
                <div class="col-12">
                    {% include component-examples/featurebox-example.html
                    title="Tip - Assess your business needs"
                    content="<p>Before you start, it’s a good idea to assess your business needs so you can choose the
                        right
                        person for your business. Think about: </p>
                    <ul>
                        <li>the tasks you need the employee to do</li>
                        <li>any skills and qualifications they’ll require</li>
                        <li>how busy the job will be</li>
                    </ul>"
                    icon="'../assets/icon-lightbulb-blueblack.svg' | relative_url "
                    classes="full-width-layout orange"
                    %}
                </div>
            </div>


            <h2 id="table-example">Responsive table example</h2>
            <div class="row">
                <div class="col-12">
                    {% include component-examples/table-example.html
                    classes="default"
                    responsive="true"
                    %}
                </div>
            </div>

            <h2 id="subscribe-example">Subscribe component example</h2>

            <div class="row">
                <div class="col-12 col-lg-9 col-xl-8">
                    {% include component-examples/subscribe-example.html
                    title="Stay up to date. <span>Subscribe to the newsletter.</span>"
                    text="<p>Get the latest business news delivered straight to your inbox each month.</p>"
                    button="Subscribe"
                    %}
                </div>

            </div>



            <h2 id="disclaimer-example">Disclaimer alert example</h2>
            <div class="row">
                <div class="col-12 col-lg-9 col-xl-8">
                    {% include component-examples/disclaimer-example.html
                    title="Disclaimer"
                    content="<p>Title Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer erat arcu,
                        venenatis et nibh non, finibus vehicula leo.</p>
                    <p>Phasellus porta rhoncus ante, in sollicitudin tellus. Suspendisse auctor libero a dui vehicula
                        fermentum.</p>
                    <p>Ut nisi risus, venenatis ac purus at, congue pharetra nisi. Duis et dignissim risus, eget
                        consectetur risus. Cras sed quam vel est dignissim laoreet eu eget eros. Suspendisse a semper
                        erat. Etiam eleifend facilisis rutrum. Aenean tempor, lacus ac finibus feugiat, lorem ligula
                        placerat dolor, quis fringilla velit diam sed mi. Nullam nec libero vel nibh facilisis
                        condimentum in in risus. Morbi egestas eget neque ac accumsan. In luctus purus odio, sed luctus
                        sem eleifend ac. Nulla facilisi. Proin neque quam, consequat quis purus a, tempus commodo lacus.
                        Vivamus cursus, turpis quis vestibulum dapibus, dolor arcu malesuada tellus, a congue lacus
                        augue eget erat. Vestibulum laoreet erat malesuada, interdum ligula eu, scelerisque tellus.
                        Praesent ultricies quis massa nec vulputate. Aliquam nibh enim, interdum eget sem vitae, gravida
                        mattis nulla.</p>"
                    display="hidden"
                    layout-name="disclaimer"
                    classes="hidden"
                    %}
                </div>
            </div>

            <div class="row justify-content-end">
                <div class="col-12" id="utilities-example">
                    <div class="d-flex justify-content-end">
                        {% include component-examples/print-share-example.html %}
                        </div>
                </div>
            </div>





        </div>


    </div>

</div>


{% include component-examples/chat-button-example.html
button-state="open"
%}