---

layout: html-examples
title: Single column - full width layout example
description: Example content placement for this layout.
breadcrumb1: Brand foundations
url1: /brand-foundations.html
breadcrumb2: Grid and page layouts
url2: /brand-foundations/grid-and-page-layouts.html
global-alert: true

---

<div class="container my-5">

    <div class="row">

        <div class="remove-top-spaces col-12">

            <h2 id="bodycopy-example">Body copy example</h2>
            <div class="row">
                <div class="col-lg-9 col-xl-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis quis elit ac viverra. Duis eros quam, mollis quis imperdiet quis, vehicula vitae orci. Quisque aliquam neque ac odio ornare elementum. Vivamus in nisi non leo gravida ornare. Sed ullamcorper mollis purus sed dictum. Integer convallis cursus metus. Nullam tempus dignissim eros, eget aliquam erat maximus ut. Aliquam id risus odio. Etiam nisl dolor, aliquet non tortor sit amet, convallis bibendum erat. Pellentesque odio metus, dapibus nec gravida eu, blandit tincidunt justo. Aenean bibendum lacus eget nunc mattis, posuere mollis tellus congue. Integer sagittis lectus orci, vitae convallis urna posuere non.</p>
            <p>In euismod lorem augue, in euismod nulla faucibus at. Vestibulum dignissim mollis rutrum. Phasellus sollicitudin mauris lectus, sed lobortis justo congue id. Maecenas ultrices tellus sed fermentum tristique. Suspendisse congue odio turpis, quis iaculis nisl suscipit eget. Aenean tempus at quam eget rutrum.</p>
                </div>
            </div>

            <h2>Hero pathway examples</h2>

            <div class="hero-pathway-block" id="hero-layout-example">

                <div class="row">

                    <div class="col-12 col-sm-6 col-lg-8">
                        {% include component-examples/hero-pathway-example.html
                        image="'../assets/illustrations/person-shop.svg' | relative_url "
                        classes="border-purple"
                        title="Hero pathway heading"
                        description="Morbi sit amet nunc eget nisl eleifend viverra nec consequat nunc."
                        %}
                    </div>


                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/hero-pathway-example.html
                        classes="border-green small-hero"
                        title="Hero pathway heading Lorem ipsum dolor sit amet"
                        description="Morbi sit amet nunc eget nisl eleifend viverra nec consequat nunc. Proin mauris
                        quam, rhoncus feugiat euismod nec, imperdiet in lorem."
                        %}

                    </div>


                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/hero-pathway-example.html
                        classes="border-blue small-hero external"
                        external-link="IP Australia"
                        title="Lorem ipsum dolor sit amet"
                        description="Proin mauris quam, rhoncus feugiat euismod nec, imperdiet in lorem."
                        %}
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/hero-pathway-example.html
                        classes="border-orange small-hero external"
                        external-link="IP Australia"
                        title="Lorem ipsum dolor sit amet"
                        description="Morbi sit amet nunc eget nisl eleifend viverra nec consequat nunc. Proin mauris
                        quam, rhoncus feugiat euismod nec, imperdiet in lorem."
                        %}
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/hero-pathway-example.html
                        classes="border-teal small-hero"
                        title="Lorem ipsum dolor"
                        description="Proin mauris quam, rhoncus feugiat euismod nec."
                        %}
                    </div>


                </div>


            </div>




            <div class="coloured-bkg-wrapper">

                <div class="row">
                    <h2>First element has standard margins and padding for that element.</h2>

                    <div class="hero-pathway-block">

                        <div class="row">

                            <div class="col-12 col-sm-6 col-lg-4">
                                {% include component-examples/hero-pathway-example.html
                                classes="border-green small-hero"
                                title="Hero pathway heading Lorem ipsum dolor sit amet"
                                description="Morbi sit amet nunc eget nisl eleifend viverra nec consequat nunc. Proin
                                mauris quam, rhoncus feugiat euismod nec, imperdiet in lorem."
                                %}
                            </div>

                            <div class="col-12 col-sm-6 col-lg-4">
                                {% include component-examples/hero-pathway-example.html
                                classes="border-blue small-hero external"
                                title="Lorem ipsum dolor sit amet"
                                description="Proin mauris quam, rhoncus feugiat euismod nec, imperdiet in lorem."
                                %}
                            </div>

                        </div>

                    </div>

                </div>

            </div>



            <div class="standard-pathway-block" id="standard-pathway-example">

                <div class="row">

                    <h2>Standard pathway example</h2>

                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/standard-pathway-example.html
                        title="Standard pathway title"
                        description="Morbi sit amet nunc eget nisl eleifend viverra nec consequat nunc. Proin mauris
                        quam, rhoncus feugiat euismod nec, imperdiet in lorem."
                        %}
                    </div>


                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/standard-pathway-example.html
                        title="Standard pathway title Lorem ipsum dolor et"
                        description="Morbi sit amet nunc eget nisl eleifend viverra nec consequat nunc. Proin mauris
                        quam, rhoncus feugiat euismod nec, imperdiet in lorem."
                        %}
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/standard-pathway-example.html
                        title="Standard pathway title Lorem ipsum dolor et"
                        description="Morbi sit amet nunc eget nisl eleifend viverra nec consequat nunc. Proin mauris
                        quam, rhoncus feugiat euismod nec, imperdiet in lorem. Morbi sit amet nunc eget. This one is
                        extra extra extra long."
                        %}
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/standard-pathway-example.html
                        title="Standard pathway title Lorem"
                        description="Morbi sit amet nunc eget nisl eleifend viverra nec consequat nunc."
                        %}
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/standard-pathway-example.html
                        title="Standard pathway title Lorem"
                        description="Morbi sit amet nunc eget nisl eleifend viverra nec consequat nunc."
                        %}
                    </div>


                </div>


            </div>



            <div class="coloured-bkg-wrapper">

                <div class="light-pathway-block" id="light-pathway-example">
                    <div class="row g-5">

                        <h2>Light pathway example</h2>

                        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                            {% include component-examples/light-pathway-example.html
                            title="Light pathway with internal link"
                            %}
                        </div>

                        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                            {% include component-examples/light-pathway-example.html
                            title="Light pathway with external link"
                            external-link="example.gov.au"
                            classes="external"
                            %}
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                            {% include component-examples/light-pathway-example.html
                            title="Light pathway with internal link"
                            %}
                        </div>

                        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                            {% include component-examples/light-pathway-example.html
                            title="Light pathway with external link"
                            external-link="example.gov.au"
                            classes="external"
                            %}
                        </div>

                        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                            {% include component-examples/light-pathway-example.html
                            title="Light pathway with internal link"

                            %}
                        </div>

                        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                            {% include component-examples/light-pathway-example.html
                            title="Light pathway with external link"
                            external-link="example.gov.au"
                            classes="external"
                            %}
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                            {% include component-examples/light-pathway-example.html
                            title="Light pathway with internal link"
                            %}
                        </div>


                    </div>

                </div>

            </div>


            <div class="image-pathway-block" id="image-pathway-example">

                <h2>Image pathway example</h2>

                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/image-pathway-example.html
                        image="'../assets/news-documents-900x600.jpeg' | relative_url "
                        title="Light pathway title"
                        description="Morbi sit amet nunc eget nisl eleifend viverra nec consequat nunc. Proin mauris
                        quam, rhoncus feugiat euismod nec, imperdiet in lorem."
                        %}
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/image-pathway-example.html
                        image="'../assets/potter-on-computer.jpg' | relative_url "
                        title="Light pathway title"
                        description="Morbi sit amet nunc eget nisl eleifend."
                        %}
                    </div>


                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/image-pathway-example.html
                        image="'../assets/potter-on-computer.jpg' | relative_url "
                        title="Light pathway title"
                        description="Morbi sit amet nunc eget nisl eleifend."
                        %}
                    </div>

                </div>

            </div>



            <h2 id="feature-example">Feature image pathway example</h2>
            <div class="row">
                <div class="col-12">
                    <div class="feature-example-wrapper full-width-layout">
                        {% include component-examples/feature-image-pathway-example.html
                        image="'../assets/potter-on-computer.jpg' | relative_url "
                        title="Feature image pathway heading Lorem ipsum dolor sit amet"
                        description="Morbi sit amet nunc eget nisl eleifend viverra nec consequat nunc. Proin mauris
                        quam, rhoncus feugiat euismod nec, imperdiet in lorem."
                        %}
                    </div>

                </div>
            </div>


            <h2 id="notification-example">Notification example</h2>
            <div class="row">
                <div class="col-12 col-lg-9 col-xl-8">
                    {% include component-examples/notification-example.html
                    icon="'../assets/icon-notification-info.svg' | relative_url "
                    title="Optional notification title"
                    content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer erat arcu, venenatis et
                    nibh
                    non, finibus vehicula leo. Phasellus porta rhoncus ante."
                    classes="information"
                    %}
                </div>
            </div>


            <h2 id="inline-pathway-example">Inline pathway example</h2>

            <div class="row">
                <div class="col-12 col-lg-9 col-xl-8">

                    {% include component-examples/inline-pathway-example.html
                    link1="Find out what you need to do when deregistering a company lorem ipsum dolor sit amet,
                    consectetur"
                    page1="Internal page name"
                    icon1="'../assets/icon-arrow-right-blue.svg' | relative_url "

                    link3="Read more about this on external site"
                    page3="External site name"
                    icon3="'../assets/icon-external-blue.svg' | relative_url "
                    %}
                </div>

            </div>

            <h2 id="mini-list-example">Mini-list example</h2>
                <div class="row">
                    <div class="col-12 col-lg-9 col-xl-8">
                        {% include component-examples/mini-list-example.html

                        layout-name="mini-list"

                        item1="true"
                        item2="true"

                        title1="Know your decision for closing your business, such as financial or personal
                        circumstances"
                        title2="Get professional advice from an accountant or business adviser"

                        content1="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempus urna arcu, nec
                            ullamcorper orci tristique eu. <a tabindex='0'>In lobortis ornare ultricies.</a></p>"

                        content2="<p>Praesent nec magna semper, pulvinar sapien sagittis, tempor urna. Praesent pretium
                            finibus interdum.</p>"
                        %}
                    </div>
                </div>



            <h2 id="callout-link-example">Callout link example</h2>

            <div class="row">
                <div class="col-12 col-lg-9 col-xl-8">

                    {% include component-examples/callout-link-example.html
                    link="Subscribe to stay up-to-date with Accelerating Commercialisation news and information."
                    icon="'../assets/icon-email-white.svg' | relative_url "
                    %}

                </div>

            </div>


            <h2 id="featurebox-example">Feature box example</h2>

            <div class="row">
                <div class="col-12">
                    {% include component-examples/featurebox-example.html
                    title="Tip - Assess your business needs"
                    content="<p>Before you start, it’s a good idea to assess your business needs so you can choose the
                        right
                        person for your business. Think about: </p>
                    <ul>
                        <li>the tasks you need the employee to do</li>
                        <li>any skills and qualifications they’ll require</li>
                        <li>how busy the job will be</li>
                    </ul>"
                    icon="'../assets/icon-lightbulb-blueblack.svg' | relative_url "
                    classes="full-width-layout orange"
                    %}
                </div>
            </div>


            <h2 id="table-example">Responsive table example</h2>
            <div class="row">
                <div class="col-12">
                    {% include component-examples/table-example.html
                    classes="default"
                    responsive="true"
                    %}
                </div>
            </div>

            <h2 id="subscribe-example">Subscribe component example</h2>

            <div class="row">
                <div class="col-12 col-lg-9 col-xl-8">
                    {% include component-examples/subscribe-example.html
                    title="Stay up to date. <span>Subscribe to the newsletter.</span>"
                    text="<p>Get the latest business news delivered straight to your inbox each month.</p>"
                    button="Subscribe"
                    %}
                </div>

            </div>

            

            <h2 id="pathway-accordion-example">Pathway accordion example</h2>
            <div class="row">
                <div class="col-12">

                    {% include component-examples/pathway-accordion-example.html

                        item1-name="make-key-decisions"

                        item1="teal"
                        
                        img1="'../assets/refresh-illustrations/signpost.svg' | relative_url"
                        title1="1. Make key decisions"
                        description1="The decisions you make early on can affect many areas of your business. Including the licences you need, how much tax you pay and the volume of paperwork."

                        item1-content1="<h4>Decide on a business structure</h4><p>The main structures are sole trader, partnership, company or trust. Choosing a structure for your business affects your tax, paperwork and finances. Consider getting expert advice to help you.</p>"
                        item1-content1-tag="Required"
                        item1-content1-link="Business structures"

                        item1-content2="<h4>Are you an employee or contractor?</h4><p>If you're working on your own you'll need to know your worker status. Find out if you're an independent contractor or an employee before entering into a contract.</p>"
                        item1-content2-tag="Required"
                        item1-content2-link="How to choose a business name"

                        item1-content3="<h4>Choose your business location</h4><p>Each business has different needs for storage, equipment, or just being close to the right customers. Consider what’s important for your business before you decide where you’ll be based.</p>"
                        item1-content3-tag="Recommended"
                        item1-content3-link="Choose your business location"

                        item1-content4="<h4>Learn how to choose a business name</h4><p>There may be more to choosing a business name than you think. Consider whether the name is unique, available to use or exists as a protected trade mark before you decide.</p>"
                        item1-content4-tag="Recommended"
                        item1-content4-link="How to choose a business name"



                        item2-name="plan-your-business"

                        item2="purple"
                        
                        img2="'../assets/refresh-illustrations/checklist-calculator.svg' | relative_url"
                        title2="2. Plan your business"
                        description2="You’ve analysed your idea and yourself. Next you can plan your future and see how it all comes together."

                        item2-content1="<h4>Develop your business plan</h4><p>Planning out your business gives you direction and keeps your business on track. You'll also need a business plan if you seek finance.</p>"
                        item2-content1-tag="Required"
                        item2-content1-link="Develop your business plan"

                        item2-content2="<h4>Create your risk management plan</h4><p>Having a good risk management plan in place will help guide the business decisions you make and reduce the impact of unexpected events on your business.</p>"
                        item2-content2-tag="Required"
                        item2-content2-link="Assess and manage risk"

                        item2-content3="<h4>Write your marketing plan</h4><p>Need to tell everyone about your new business? A marketing plan can help you find and reach your customers and work out what makes your business different.</p>"
                        item2-content3-tag="Recommended"
                        item2-content3-link="Develop your marketing plan"

                        %}
                </div>
            </div>



            <h2 id="disclaimer-example">Disclaimer alert example</h2>
            <div class="row">
                <div class="col-12 col-lg-9 col-xl-8">
                    {% include component-examples/disclaimer-example.html
                    title="Disclaimer"
                    content="<p>Title Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer erat arcu,
                        venenatis et nibh non, finibus vehicula leo.</p>
                    <p>Phasellus porta rhoncus ante, in sollicitudin tellus. Suspendisse auctor libero a dui vehicula
                        fermentum.</p>
                    <p>Ut nisi risus, venenatis ac purus at, congue pharetra nisi. Duis et dignissim risus, eget
                        consectetur risus. Cras sed quam vel est dignissim laoreet eu eget eros. Suspendisse a semper
                        erat. Etiam eleifend facilisis rutrum. Aenean tempor, lacus ac finibus feugiat, lorem ligula
                        placerat dolor, quis fringilla velit diam sed mi. Nullam nec libero vel nibh facilisis
                        condimentum in in risus. Morbi egestas eget neque ac accumsan. In luctus purus odio, sed luctus
                        sem eleifend ac. Nulla facilisi. Proin neque quam, consequat quis purus a, tempus commodo lacus.
                        Vivamus cursus, turpis quis vestibulum dapibus, dolor arcu malesuada tellus, a congue lacus
                        augue eget erat. Vestibulum laoreet erat malesuada, interdum ligula eu, scelerisque tellus.
                        Praesent ultricies quis massa nec vulputate. Aliquam nibh enim, interdum eget sem vitae, gravida
                        mattis nulla.</p>"
                    display="hidden"
                    layout-name="disclaimer"
                    classes="hidden"
                    %}
                </div>
            </div>


            <h2 id="video-example">Video player example</h2>
            <div class="row">
                <div class="col-12 col-lg-9 col-xl-8">
                    {% include component-examples/video-example.html %}
                </div>
            </div>

            <h2 id="audio-example">Audio player example</h2>
            <div class="row">
                <div class="col-12 col-lg-9 col-xl-8">
                    {% include component-examples/audio-example.html %}
                </div>
            </div>
           




            <div class="row justify-content-end">
                <div class="col-12" id="utilities-example">
                    <div class="d-flex justify-content-end">
                        {% include component-examples/print-share-example.html %}
                        </div>
                </div>
            </div>





        </div>


    </div>

</div>


{% include component-examples/chat-button-example.html
button-state="open"
%}