---

layout: bga-info-pages
title: Business names, trading names and legal names
description: Understand why you need to register the name you trade under and why it’s important to register your business name as a trademark if you want exclusive rights to it.
id: bga-prototype
breadcrumb1: Planning
url1: /prototypes/bga/planning.html
breadcrumb2: New businesses
url2: /prototypes/bga/planning/new-businesses.html

---

<div class="container my-5">

    <div class="row">

        <div class="col-12 col-md-11 col-lg-9 col-xl-8">
            <div class="remove-top-spaces content-wrapper">


            <h2>Trading name</h2>

            <p>A ‘trading name’ refers to an unregistered name that businesses could use before the introduction of the
                National Business Names Register on 28 May 2012.</p>
            <p>A trading name is not a registered business name. If you wish to continue using a trading name, you need
                to register it as a business name.</p>
            <p>The Australian Business Register and ABN Lookup still display unregistered trading names however they
                will be removed from November 2023 and only registered business names will be displayed.</p>
            <p>A transition period from 28 May 2012 to 31 October 2023 is in place to allow businesses affected by the
                removal of trading names sufficient time to inform their customers, suppliers and other stakeholders of
                any changes to the name that they use to conduct their business.</p>

            {% include component-examples/inline-pathway-example.html
            link1="Go to the ASIC website to learn more about registering your trading name as a business name."
            page1="Australian Securities and Investments Commission"
            icon1="'../../../../assets/icon-arrow-right-blue.svg' | relative_url "
            %}


            <h2>Business name</h2>

            <p>A registered business name helps customers find, identify and connect with your business. You can have
                multiple business names linked to your Australian business number (ABN).</p>
            <h3>Business name registration</h3>
            <p>If you want to trade your business under a specific name, you need to register it as a business name with
                the Australian Securities &amp; Investments Commission (ASIC).</p>
            <p>It’s an offence to carry on business under an unregistered business name unless you trade under your own
                name such as Mary Jones. If you want your business to trade under a name that is different from your
                legal name, then you’ll have to <a href="">register it as a business name</a>.</p>


            {% include component-examples/call-to-action-example.html
            title="Check if a business name is available"
            text="<p>You cannot register a business name that is identical to one that has already been registered.</p>
            <p>Use our tool to check if your proposed name is available to register – either as a business name or a
                domain name.</p>
            <p><strong>Note:</strong> This tool is only an indication that a business name is available. It does not
                guarantee that you can register the business name with ASIC.</p>"
            button="Check your business name"
            %}


            {% include component-examples/call-to-action-example.html
            text="<h4>Examples of when you need to register a business name</h4><ul>
                <li>Tessa Le owns a cupcake business as a sole trader. Her legal name is Tessa Le. She wants her
                    business to be known as Tessa Le’s Cupcakes.</li>
                <li>Clare Smith and Ari Tilo run a plumbing business together, operating as a partnership. Their
                    partnership’s legal name is Clare Smith and Ari Tilo. They want their business to be known as Clare
                    and Ari’s Plumbing.</li>
                <li>A proprietary limited company is registered with ASIC under its legal name Alex Singh Pty Ltd. The
                    company wants to operate under the name ‘Ace Consulting’.</li>
            </ul>
            <h4>Examples of when you don’t need to register a business name</h4>
            <ul>
                <li>Charlotte Nand owns an accounting business and operates as a sole trader. Her legal name is
                    Charlotte Nand. She is happy to operate her business as a sole trader under her legal name.</li>
                <li>Chris Nguyen and Josh Bright have a building business together, operating as a partnership. Their
                    partnership’s legal name is Chris Nguyen and Josh Bright. They are happy to operate under their
                    legal name.</li>
                <li>A proprietary limited company is registered with ASIC using its legal name Nic Garcia Pty Ltd. The
                    company will operate under the legal name.</li>
            </ul>"

            %}


            <p>You only have to register your business name once. The business names register is National and once
                registered, the business name can be used Australia wide.</p>

            <h3>Protecting your business name</h3>
            <p>A registered business name does not give you exclusive rights to the name. If you want to have exclusive
                rights and stop others using your business name, <a href="">apply for a trade mark</a>.</p>
            <p>A trade mark gives you exclusive trading, branding or ownership rights over your business name. If you
                think your business would benefit from a trade mark, head to <a href="">IP Australia’s trade mark
                    page</a> to find out more.</p>

            <h2>Legal name</h2>

            <p>A legal name is the name that appears on all official documents or legal papers, such as:</p>
            <ul>
                <li>legal contracts and registrations</li>
                <li>property leases</li>
                <li>employment contracts</li>
            </ul>
            <p>Your legal name can be different from your business name. Depending on your business structure, your
                legal name may be:</p>
            <ul>
                <li>your own name if you’re a sole trader</li>
                <li>the name of a partnership</li>
                <li>a proprietary limited company</li>
                <li>an incorporated association</li>
            </ul>
            <h3>Legal name registration</h3>
            <p>You don't have to register for a legal name for your business.</p>
            <p>However, for certain types of businesses, your legal name will be a name that you've registered. For
                example, you may have a company name that you’ve registered with ASIC.</p>

            <h2>Changing a registered business name</h2>

            <p>You can’t change a registered business name, even if you only want to make a slight change. If you want
                to change the name you trade under, you must register it as a new business name. Once you’ve registered
                the new name, you need to cancel your existing name.</p>
            <p>Changing your business name doesn’t affect your legal name. Your contracts won't be legally affected if
                you change your business name.</p>


        </div>
    </div>


    </div>

</div>