---

layout: bga-info-pages
title: Difference between a business and a hobby
description: Understand the key differences between a business or hobby. Learn how to manage payments for hobbies and businesses and find out where to go for more information.
id: bga-prototype
breadcrumb1: Planning
url1: /prototypes/bga/planning.html
breadcrumb2: New businesses
url2: /prototypes/bga/planning/new-businesses.html

---

<div class="container my-5">

    <div class="row">

        <div class="col-12 col-md-11 col-lg-9 col-xl-8">
            <div class="remove-top-spaces content-wrapper">

            <p>The key differences between having a hobby and a business are your tax, insurance and legal obligations.
                It's important to understand the <a href="">characteristics of businesses</a> and hobbies to ensure you
                correctly determine what your activities are.</p>

            <h2>Business</h2>

            <p>There is no single factor that determines if you are in business, but some of the factors you need to
                consider include:</p>
            <ul>
                <li>You intend to make a profit – or genuinely believe you will make a profit from the activity – even
                    if you are unlikely to do so in the short term.</li>
                <li>You've made a decision to start a business and have done something about it to operate in a
                    businesslike manner, such as:
                    <ul>
                        <li>registered a business name</li>
                        <li>obtained an ABN.</li>
                    </ul>
                </li>
                <li>You repeat similar types of activities.</li>
                <li>The size or scale of your activity is consistent with other businesses in your industry.</li>
                <li>Your activity is planned, organised and carried out in a businesslike manner. This may include:
                    <ul>
                        <li>keeping business records and account books</li>
                        <li>having a separate business bank account</li>
                        <li>operating from business premises</li>
                        <li>having licenses or qualifications</li>
                        <li>having a registered business name.</li>
                    </ul>
                </li>
            </ul>

            {% include component-examples/call-to-action-example.html
            title="Benefits of running a business"
            text="<p>If you run a business you can:</p>
            <ul>
                <li>apply for an ABN to use in your business transactions</li>
                <li>have the flexibility to manage your time and work your own hours</li>
                <li>register a .com.au website once you have an ABN</li>
                <li>access to government information, services and concessions for business</li>
                <li>establish a business identity when selling to customers and other businesses</li>
                <li>claim tax deductions for business expenses against your taxable income.</li>
            </ul>"

            %}

            <h2>Hobby</h2>
            <p>A hobby is a pastime or leisure activity conducted in your spare time for recreation or pleasure.</p>

            {% include component-examples/call-to-action-example.html
            title="Benefits of having a hobby"
            text="<p>Having a hobby allows you to:</p>
            <ul>
                <li>gain personal enjoyment and satisfaction from the activity</li>
                <li>gift or sell your work for the cost of materials</li>
                <li>do it in your own time or when people contact you</li>
                <li>have no reporting obligations of a business.</li>
            </ul>"

            %}


            <h2>What to do if you aren't sure</h2>

            <p>If you aren't sure whether your activity is a business or hobby, you can:</p>
            <ul>
                <li>learn more on the difference between a <a href="">hobby and a business</a> and whether the income
                    you've earned from your activity is taxable on ATO website</li>
                <li>seek professional advice from an accountant, legal expert or <a href="">business adviser</a> who can
                    help you decide whether you’re running a business or a hobby</li>
                <li>get a <a href="">private ruling</a> from the ATO. This will provide an answer that protects you from
                    penalties and interest.</li>
            </ul>


        </div>

        </div>


    </div>

</div>