---

layout: content-tagged
title: ABLIS sticky header
description: A sticky header for the ABLIS guided search results page that provides a summary of the types of results displayed on the page.
breadcrumb1: Components
url1: /components.html
updated: 12 June, 2025
bga-tag: false
subsite-tag: true

---


<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
        classes="in-page"

        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        link-4="Version history" link-id-4="#version-history"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-10">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        <!-- Breakpoint radio buttons -->
        {% include breakpoints.html
            element-string="subsite-header"
            lg-visibility="true"
            sm-visibility="true"
            breakpoint-final="576"
            %}

        <!-- Component example -->

        <div class="component-example m-0">
            <div class="component-wrapper remove-element-padding pb-4">

                <div class="xl-explanation remove-element-padding p-4">
                   
                    <h2>Intitial state</h2>

                    <h4>Four categories</h4>
                    {% include component-examples/ablis-sticky-header-example.html 
                        total-count="16"
                        licence-count="9"
                        legal-count="3"
                        codes-count="1"
                        guidance-count="3"
                        %}

                    <h4 class="mt-5">Three categories</h4>
                    {% include component-examples/ablis-sticky-header-example.html 
                        total-count="13"
                        licence-count="9"
                        legal-count="3"
                        codes-count="1"
                        %}

                    <h4 class="mt-5">Two categories</h4>
                    {% include component-examples/ablis-sticky-header-example.html 
                        total-count="12"
                        licence-count="9"
                        legal-count="3"
                        %}


                    <h2 class="mt-5">Sticky state</h2>
                    <p>When the user scrolls down the page the sticky header becomes fixed at the top of the page. The category summaries are not included in this sticky state.</p>  
                    <p>When the breakpoint ≥ 1320px wide the content is a maximum 1256px wide. The background colour fills the rest of the screen to the left and right.</p>

                    {% include component-examples/ablis-sticky-header-example.html 
                        total-count="16"
                        classes="fixed-example"
                        %}


                </div>

            </div>
        </div>


        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://www.figma.com/design/NzMcQHGDxgKh3FEq4Fz32P/ABLIS-design-specs?node-id=1-3322&t=BWYJKlElwfmWvZ52-1'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>ABLIS sticky header is used on the <a href={{ "brand-foundations/grid-and-page-layouts.html#layout-twocol-guide" | relative_url }}>Two column - guide page layout</a>.</p>

        {% include layouts-dropdown.html
        layout-name="Two column - guide page"
        singlelayout="true"
        %}

        <div class="layout-example show full-border mt-0 p-4">
            {% include layouts-accordion.html
            singlelayout="true"
            allbp-img="'../assets/layout-images/ablis-sticky-header-allbp.png' | relative_url "
            allbp-rules="<p>The ABLIS sticky header is 12 grid-columns wide.</p>"
            %}

        </div>
        {% include design-specs-link.html
            btn-link="'../prototypes/ablis-final/finder/results.html' | relative_url'"
            btn-text="View layout example"
            %}





         <!-- GUIDELINES -->
         <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

         <h3>Purpose:</h3>
         <p>The ABLIS sticky header provides important results information at the top of the ABLIS guided search results page including:</p>
         <ul>
             <li>A count of the total number of results found.</li>
             <li>A save results button that triggers a modal that allows users to email the results page.</li>
             <li>A breakdown of the number of results in four different service categories.</li>
         </ul>


        <!-- VERSION HISTORY-->
        <h2 class="section-start" id="version-history">Version history</h2>
        <h4>12 June, 2025</h4>
        
         <p>Created the ABLIS sticky header component page.</p>


    </div>