---

layout: content-tagged
title: ABLIS information page links
description: Call to action links for ABLIS information pages.
breadcrumb1: Components
url1: /components.html
updated: 13 June, 2025
bga-tag: false
subsite-tag: true

---


<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
        classes="in-page"

        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        link-4="Version history" link-id-4="#version-history"
        %}
 
    </div>

    <div class="anchored-content remove-element-padding mb-0 col-12 col-lg-9 col-xl-9">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

      
            <!-- Breakpoint radio buttons -->
            <h3 id="ablis-action-links">ABLIS action links</h3>

            {% include breakpoints.html 
                element-string="bga-result-tile"
                sm-visibility="true"
                final-visibility="true"
                breakpoint-final="576"
            %}

            <!-- Component example -->

            <div class="component-example m-0">
                <div class="component-wrapper remove-element-padding p-4">

                    
                    {% include component-examples/ablis-action-links-example.html
                        label1="Apply"
                        description1="Commercial Trade Waste Application - PDF"
                        action1="download-icon"
                        location1="pdf"
                        label2="Apply"
                        description2="Planning Permit Objection Form"
                        action2="visit-icon"
                        location2="www.melbourne.vic.gov.au"
                        label3="Vary"
                        description3="Application to Amend a Planning Permit - DOCX"
                        action3="download-icon"
                        location3="docx"
                        label4="Cancel"
                        description4="Application for Building Permit - Please contact the responsible council for application forms and registration details."
                        action4="no-link"
                    %}


                </div>
            </div>


        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://www.figma.com/design/NzMcQHGDxgKh3FEq4Fz32P/ABLIS-design-specs?node-id=1-4285&t=zCM2g0y28mzyRIez-1'"
        btn-text="View design specifications"
        %}



         <!-- Breakpoint radio buttons -->
          <h3 id="ablis-key-information-links">ABLIS key information links</h3>
          {% include breakpoints.html
            singlebp="true"
            %}

        <!-- Component example -->
       
        <div class="component-example m-0">

            <div class="component-wrapper remove-element-padding p-4">

                {% include component-examples/ablis-key-information-links-example.html
                    description1="Planning and Subdivision Fees"
                    imgsrc1="'../assets/icon-external-blue.svg' | relative_url"
                    action1="Visit www.planning.vic.gov.au"
                    description2="Using Victoria's Planning System - PDF"
                    imgsrc2="'../assets/icon-download-blue.svg' | relative_url"
                    action2="Download pdf" 
                %}


            </div>
        </div>

          <!-- Design specifications link -->

          {% include design-specs-link.html
            btn-link="https://www.figma.com/design/NzMcQHGDxgKh3FEq4Fz32P/ABLIS-design-specs?node-id=1-4472&t=bRWOnAB0cztk1MtJ-1'"
            btn-text="View design specifications"
            %}





       
        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>The links presented above are used on the <a href={{ "brand-foundations/grid-and-page-layouts.html#layout-twocol-ablisinfo" | relative_url }}>Two column - ABLIS information page layout</a>.</p>

        {% include layouts-dropdown.html
        layout-name="Two column - ABLIS information page"
        singlelayout="true"
        %}


        <div class="layout-example show two-col-guidepage mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="two-col-ablisinfopage"

            min1200-visibility="true"
            min992-visibility="true"
            min768-visibility="true"
            min576-visibility="false"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 768px"

            min1200-img="'../assets/layout-images/twocol-ablisinfo-1200px-fullwidthcomponent.png' | relative_url "
            min992-img="'../assets/layout-images/twocol-ablisinfo-992px-fullwidthcomponent.png' | relative_url "
            min768-img="'../assets/layout-images/twocol-ablisinfo-768px-fullwidthcomponent.png' | relative_url "
            finalbp-img="'../assets/layout-images/twocol-ablisinfo-finalbp-fullwidthcomponent.png' | relative_url "

            min1200-rules="<p>The content area is 8 grid-columns wide.</p><p>Result tiles span the full width of the content area.</p>"

            min992-rules="<p>The content area is 9 grid-columns wide.</p><p>Result tiles span the full width of the content area.</p>"

            min768-rules="<p>The content area is 9 grid-columns wide.</p><p>Result tiles span the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p><p>Result tiles span the full width of the content area.</p>"

            example-link="'../html-examples/two-col-ablisinfopage.html#application' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>
 



        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose:</h3>
        <p>Used in ALBIS to display a collection of results at the end of a tool process. The two different result tiles are used in different tool contexts:</p>
         <ul>
            <li>ABLIS action links are used in the 'Apply now' section of ABLIS information pages to present application links.</li>
            <li>ABLIS key information links are used in the 'Key information' section of the ABLIS information pages to present important resources that are not application links.</li>
         </ul>

        <!-- VERSION HISTORY-->
        <h2 class="section-start" id="version-history">Version history</h2>
        <h4>13 June, 2025</h4>
        
        <p>Created the ABLIS information page links component page.</p>
        
    </div>

</div>