---

layout: content-tagged
title: ABLIS information page header
description: A sticky header for the ABLIS guided search results page that provides a summary of the types of results displayed on the page.
breadcrumb1: Components
url1: /components.html
updated: 13 June, 2025
bga-tag: false
subsite-tag: true

---


<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
        classes="in-page"

        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        link-4="Version history" link-id-4="#version-history"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-10">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        <!-- Breakpoint radio buttons -->
        {% include breakpoints.html
            element-string="ablis-info-page-header"
            lg-visibility="true"
            sm-visibility="true"
            breakpoint-final="576"
            %}

        <!-- Component example -->

        <div class="component-example m-0">
            <div class="component-wrapper remove-element-padding pb-4">

                <div class="xl-explanation remove-element-padding p-4">
                    <p>When the breakpoint ≥ 1320px wide the content is a maximum 1256px wide. The background colour fills the rest of the screen to the left and right.</p>

                   
                    <h3>Licence or registration page</h3>
                    {% include component-examples/ablis-info-page-header-example.html 
                        title="Australian Business Number Registration - Australian Government"
                        description="Register your Business to Receive an Identifier for Business Dealings"
                        service="licence"
                        service-tag="Licence or registration"
                        administered="Australian Taxation Office"
                        %}

                    <h3 class="mt-5">Legal obligation page</h3>
                    {% include component-examples/ablis-info-page-header-example.html 
                        title="Australian Consumer Law (ACL) - Australian Government"
                        description="Comply with the Australian Consumer Law"
                        service="Legalobligation"
                        service-tag="Legal obligation"
                        administered="Australian Competition and Consumer Commission"
                        %}

                    <h3 class="mt-5">Code or standard page</h3>
                    {% include component-examples/ablis-info-page-header-example.html 
                        title="Food Standards Code - Victoria"
                        description="Requirements for Food Supply and Standards"
                        service="Codeorstandard"
                        service-tag="Code or standard"
                        administered="PrimeSafe"
                        %}

                    <h3 class="mt-5">Guidance page</h3>
                    {% include component-examples/ablis-info-page-header-example.html 
                        title="Business Concierge Service - City of Melbourne - Victoria"
                        description="Business Registration Assistance"
                        service="Guidance"
                        service-tag="Guidance"
                        administered="City of Melbourne"
                        %}


                    

                </div>

            </div>
        </div>


        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://www.figma.com/design/NzMcQHGDxgKh3FEq4Fz32P/ABLIS-design-specs?node-id=1-4980&t=ylBQrGcMw99W4XoL-1'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>ABLIS sticky header is used on the <a href={{ "brand-foundations/grid-and-page-layouts.html#layout-twocol-guide" | relative_url }}>Two column - guide page layout</a>.</p>

        <h4>Bootstrap classes for header content</h4>
        <p><strong>.col-sm-12 .col-lg-10</strong></p>


        <h3>Default header grid layout</h3>
        {% include layouts-dropdown.html
        layout-name="All layouts"
        singlelayout="true"
        %}

        <div class="layout-example show full-border mt-0 mb-5 p-4">
            {% include layouts-accordion.html
            min992-visibility="true"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 992px"

            min1200-img="'../assets/layout-images/page-header-default-min1200.png' | relative_url "
            min992-img="'../assets/layout-images/page-header-default-min992.png' | relative_url "
            finalbp-img="'../assets/layout-images/page-header-category-allbp.png' | relative_url "

            min992-rules="<p>The header content area is 10 grid-columns wide.</p>
            <p>The coloured header container is 12 grid-columns wide.</p>
            <p>The gradient background extends full width of the viewport.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>The coloured header container is 12 grid-columns wide.</p>
            <p>The gradient background extends full width of the viewport.</p>"

            example-link="'../prototypes/ablis-final//services/AustralianBusinessNumberRegistration-AustralianGovernment.html' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>



         <!-- GUIDELINES -->
         <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

         <h3>Purpose:</h3>
         <p>The ABLIS information page header helps users understand what the content of the page is about and its relevance to them. It includes the primary H1 (page title), a label and a supporting page description.</p>

        <h3>When to use this component: </h3>
        <ul>
            <li>Page headers are built into every ABLIS information page.</li>
        </ul>


        <!-- VERSION HISTORY-->
        <h2 class="section-start" id="version-history">Version history</h2>
        <h4>13 June, 2025</h4>
        
         <p>Created the component page for the ABLIS information page header.</p>


    </div>