---

layout: content-tagged
title: Accordion
description: Hide and reveal less important content on the page.
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
classes="in-page"

        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-8">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        <!-- Breakpoint radio buttons -->
        {% include breakpoints.html
        sm-visibility="true"
        final-visibility="true"
        breakpoint-final="576"
        %}

        <!-- Component example -->

        <div class="component-example m-0">
            <div class="component-wrapper remove-element-padding p-4">

                {% include component-examples/accordion-example.html

                layout-name="accordion"

                item1="true"
                item2="true"
                item3="true"

                title1="Accordion item title"
                title2=" Lorem ipsum dolor sit amet, consectetur adipiscing elit"
                title3="Set your date to officially close your business. This step has a much longer title than the other items in this accordion"

                content1="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer erat arcu, venenatis et nibh non, finibus vehicula leo. Phasellus porta rhoncus ante, in sollicitudin tellus. Suspendisse auctor libero a dui vehicula fermentum. Fusce tempor sagittis fringilla. Sed sed dapibus est. Mauris ac arcu et ligula aliquet aliquet ac ac risus. <a tabindex='0'>In lobortis ornare ultricies.</a></p>"

                content2="<p>Praesent nec magna semper, pulvinar sapien sagittis, tempor urna. Praesent pretium finibus
                    interdum:</p><ul><li>Quisque ut odio faucibus, iaculis augue vel, tempor nulla. </li><li> In rutrum risus id lectus consectetur volutpat. Donec a justo nec nunc consequat ultricies.</li></ul>"

                content3="<p>Phasellus venenatis nulla tempor quam egestas auctor.</p>
                <p>Cras sed tortor a dolor dictum tincidunt ut nec enim. Fusce vitae quam suscipit, suscipit leo at,
                    efficitur turpis.</p>"
                %}

            </div>
        </div>


        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://xd.adobe.com/view/aa072634-b3aa-408b-966a-2e8f09cf920b-ff54/screen/d9e7436d-f593-44b5-a76a-03ba5a3ebc75'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>Accordions can be used on all <a href={{ "brand-foundations/grid-and-page-layouts.html" | relative_url }}>page layouts</a> except the single column - full width layout and the two column - left filter layout.</p>


        {% include layouts-dropdown.html
        single-col-twothirds-visibility="true"
        two-col-leftmenu-visibility="true"
        two-col-rightsidebar-visibility="true"
        %}


        <div class="layout-example single-col-twothirdswidth mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="onecol-twothirdsw"

            min1200-visibility="true"
            min992-visibility="true"
            min768-visibility="true"
            min576-visibility="false"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 768px"

            min1200-img="'../assets/layout-images/accordion-1col2thirdswidth-min1200.png' | relative_url "
            min992-img="'../assets/layout-images/accordion-1col2thirdswidth-min992.png' | relative_url "
            min768-img="'../assets/layout-images/accordion-1col2thirdswidth-min768.png' | relative_url "
            finalbp-img="'../assets/layout-images/accordion-1col2thirdswidth-finalbp.png' | relative_url "

            min1200-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>Accordions span the full width of the content area.</p>"

            min992-rules="<p>The content area is 9 grid-columns wide.</p>
            <p>Accordions span the full width of the content area.</p>"

            min768-rules="<p>The content area is 11 grid-columns wide.</p>
            <p>Accordions span the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Accordions span the full width of the content area.</p>"

            example-link="'../html-examples/single-col-two-thirds-width.html#accordion-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>


        <div class="layout-example two-col-leftmenu mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="twocol-leftmenu"

            min1200-visibility="true"
            min992-visibility="false"
            min768-visibility="false"
            min576-visibility="true"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 576px"

            min1200-img="'../assets/layout-images/accordion-2col-leftmenu-min1200.png' | relative_url "
            min576-img="'../assets/layout-images/accordion-2col-leftmenu-min576.png' | relative_url "
            finalbp-img="'../assets/layout-images/accordion-2col-leftmenu-finalbp.png' | relative_url "

            min1200-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>Accordions span the full width of the content area.</p>"

            min576-rules="<p>The content area is 9 grid-columns wide.</p>
            <p>Accordions span the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Accordions span the full width of the content area.</p>"

            example-link="'../html-examples/two-col-left-side-menu.html#accordion-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>


        <div class="layout-example two-col-rightsidebar mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="twocol-rightbar"

            min1200-visibility="false"
            min992-visibility="false"
            min768-visibility="true"
            min576-visibility="false"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 768px"


            min768-img="'../assets/layout-images/accordion-2col-rightsidebar-min768.png' | relative_url "
            finalbp-img="'../assets/layout-images/accordion-2col-rightsidebar-finalbp.png' | relative_url "


            min768-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>Accordions span the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Accordions span the full width of the content area.</p>"

            example-link="'../html-examples/two-col-right-sidebar.html#accordion-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>



        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose:</h3>
        <p>An accordion is an expandable section with nested content. This component provides content details when
            opened by users on a content page. It can help to streamline the user experience by keeping content relevant
            to the user.</p>
        <h3>When to use this component:</h3>
        <ul>
            <li>For optional content (e.g. frequently asked questions at the end of a transaction page).</li>
            <li>For directory type content (e.g. state and territory links).</li>
            <li>To streamline a transaction process.</li>
        </ul>
        <h3>Content rules:</h3>
        <ul>
            <li>Select &ldquo;open all&rdquo; accordion option if you have 2 or more accordion items.</li>
            <li>Avoid single accordion items, although they are sometimes used on grant application pages to streamline
                the application process.</li>
            <li>Avoid using bold in accordion body content.</li>
        </ul>

    </div>