---

layout: content-tagged
title: Action tiles
description: Present short activities to help the user understand how to carry out a task.
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---


<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
        classes="in-page"

        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-9">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        {% include section-tabs.html

            tab1="business.gov.au branding"
            tab1value="bga-branded"
    
            tab2="No branding"
            tab2value="non-branded"
    
            %}
    
            <div class="tab-sections-wrapper ">
    
    
                <div class="tab-section bga-branded selected">

                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html
                        element-string="bga-action-tiles"
                        lg-visibility="true"
                        breakpoint-final="992"
                        %}

                    <!-- Component example -->

                    <div class="component-example m-0">
                        <div class="component-wrapper remove-element-padding p-4">

                {% include component-examples/action-tile-example.html
                    title="Adjust your pricing"
                    subtitle="How to do it"
                    img="'../assets/action-tiles/price_tag.svg' | relative_url "
                    id="adjust-pricing"
                    classes="blue"
        
                    steps="<ol><li>Using the questions below as prompts, think of a change you can make and quantify it with a number. For example: <strong>What if you increased your prices by 10%?</strong></li>
                        <li>To see if the change improves your financial position, <a href='' class='external'>forecast your cash flow</a>.</li><li>Once you decide on a change, <a href='' class='external'>set a goal to implement it</a>.</li></ol>"
        
                    item1="true"
                    title1="Change your prices"
                    content1="<p>How much margin do you need to cover your expenses?</p>
                    <p>How much could you increase prices without losing business?</p>
                    <p>Can you implement small regular price increases?</p>"
        
                    item2="true"
                    title2="Focus on your most profitable customers, products or services"
                    content2="<p>Who are your most profitable customers? What are your most profitable products or services?</p><p>How much time do you need to invest in your sales efforts towards these?</p>"
        
                    item3="true"
                    title3="Increase the value you deliver"
                    content3="<p>What other problems can you solve for your customers?</p><p>Do customers only want one part of your product or service? Can you focus only on this?</p>"
        
                    %}

                
                    {% include component-examples/action-tile-example.html
                        title="Do a cash flow health check"
                        subtitle="Why?"
                        img="'../assets/action-tiles/magnifying-glass-chart.svg' | relative_url "
                        id="health-check"
                        classes="teal"
        
                        steps="<p>This simple quiz helps you to discover the gaps in your cash flow knowledge and find out where to focus your attention. You can do the health check regularly to review your progress as you make changes to your business.</p><h4>How to do it</h4><ol><li>Answer the questions in one go. Keep track of your answers.</li><li>Assess your results to see where there are gaps.</li></ol>"
        
                        item1="true"
                        title1="Questions about cash flow success factors"
                        content1="<p>Answer ‘yes’, ‘no’ or ‘not sure’ to the following:</p><ol><li>Are you trading profitably?</li><li>Have you put enough money aside to meet your regular financial commitments?</li><li>Do you have enough to spend on yourself and pay others?</li><li>Are you improving your financial position?</li></ol>"
        
                        item2="true"
                        title2="Questions about cash flow topics"
                        content2="<p>Answer whether you feel confident or not about the following:</p><ol><li>Planning your business?</li><li>Keeping good records?</li><li>Funding your business?</li><li>Understanding how cash flows?</li><li>Planning your regular financial commitments?</li><li>Tracking your performance?</li></ol>"
        
                        item3="true"
                        title3="Assess your results"
                        content3="<p>Look at where you’re least sure or confident. Focus on those activities first.</p><p>Activities:</p><ul><li>Know the 4 cash flow success factors</li><li>Cover the cash flow topics</li></ul>"
        
                        
        
                        %} 

                            

                        </div>
                    </div>

                   

                </div>

                <div class="tab-section non-branded ">

                   
                     <!-- Breakpoint radio buttons -->
                     {% include breakpoints.html
                        element-string="nb-action-tiles"
                        lg-visibility="true"
                        breakpoint-final="992"
                        %}

                    <!-- Component example -->

                    <div class="component-example m-0">
                        <div class="component-wrapper remove-element-padding p-4">

                {% include component-examples/action-tile-example.html
                    title="Adjust your pricing"
                    subtitle="How to do it"
                    img="'../assets/img-placeholder-1.svg' | relative_url "
                    id="nb-adjust-pricing"
                    classes="non-branded nb-background"
        
                    steps="<ol><li>Using the questions below as prompts, think of a change you can make and quantify it with a number. For example: <strong>What if you increased your prices by 10%?</strong></li>
                        <li>To see if the change improves your financial position, <a href='' class='external'>forecast your cash flow</a>.</li><li>Once you decide on a change, <a href='' class='external'>set a goal to implement it</a>.</li></ol>"
        
                    item1="true"
                    title1="Change your prices"
                    content1="<p>How much margin do you need to cover your expenses?</p>
                    <p>How much could you increase prices without losing business?</p>
                    <p>Can you implement small regular price increases?</p>"
        
                    item2="true"
                    title2="Focus on your most profitable customers, products or services"
                    content2="<p>Who are your most profitable customers? What are your most profitable products or services?</p><p>How much time do you need to invest in your sales efforts towards these?</p>"
        
                    item3="true"
                    title3="Increase the value you deliver"
                    content3="<p>What other problems can you solve for your customers?</p><p>Do customers only want one part of your product or service? Can you focus only on this?</p>"
        
                    %}
    

                        </div>
                    </div>
    
                        
                </div>

            </div>


        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://www.figma.com/design/CHiHC359mYGmZ1ziKHriDW/BGA-style-guide?node-id=687-11233&t=Y0RG7T4JJjmDsKJf-1'"
        btn-text="View design specifications"
        %}


       

         <!-- LAYOUTS -->
         <h2 class="section-start" id="layouts">Layouts</h2>

         <p>Action tiles are used on the <a href={{ "brand-foundations/grid-and-page-layouts.html#layout-twocol-info" | relative_url }}>Two column - information page layout</a>.</p>
 
         
         {% include layouts-dropdown.html
         layout-name="Two column - information page"
         singlelayout="true"
         %}
 
         <div class="layout-example two-col-infopage show mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="two-col-infopage"

            min1200-visibility="true"
            min992-visibility="false"
            min768-visibility="false"
            min576-visibility="true"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 576px"

            min1200-img="'../assets/layout-images/twocol-lsb-1200px-fullwidthcomponent.png' | relative_url "
            min576-img="'../assets/layout-images/twocol-lsb-576px-fullwidthcomponent.png' | relative_url "
            finalbp-img="'../assets/layout-images/twocol-lsb-finalbp-fullwidthcomponent.png' | relative_url "

            min1200-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>Call out boxes span the full width of the content area.</p>"

            min576-rules="<p>The content area is 9 grid-columns wide.</p>
            <p>Call out boxes span the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Call out boxes span the full width of the content area.</p>"

            example-link="'../html-examples/two-col-infopage.html#callout-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>
 



        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose:</h3>
        <p>Action tiles are used to present short activities to help the user understand how to carry out a task.</p>

        <h3>Content rules</h3>
        <ul>
            <li>"How to do it" instructions are limited to a <strong>maximum of three steps</strong>. Each step should be no more than two sentences (preferably one sentence per step).</li>
            <li>The accordions have a <strong>maximum of five items.</strong></li>
            <li>Only <strong>one link to another page</strong> should appear in each action tile. Links will generally be used in the instructions when the instructions refer to a resource located on another page.</li>
            <li>Action tiles print at A4 size. Content within the tiles should not exceed more than one A4 page when all the items are open.</li>
        </ul>
        

    </div>