---

layout: content-tagged
title: Action tiles
description: Present short activities to help the user understand how to carry out a task.
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---


<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
        classes="in-page"

        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-9">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        {% include section-tabs.html

            tab1="Business.gov.au branding"
            tab1value="bga-branded"
    
            tab2="No branding"
            tab2value="non-branded"
    
            %}
    
            <div class="tab-sections-wrapper ">
    
    
                <div class="tab-section bga-branded selected">

                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html
                        element-string="bga-action-tiles"
                        lg-visibility="true"
                        breakpoint-final="992"
                        %}

                    <!-- Component example -->

                    <div class="component-example m-0">
                        <div class="component-wrapper remove-element-padding p-4">

                {% include component-examples/action-tile-example.html
                    title="Adjust your pricing"
                    subtitle="How to do it"
                    img="'../assets/action-tiles/pricetag.svg' | relative_url "
                    id="adjust-pricing"
                    classes="blue"
        
                    steps="<ol><li>Using the questions below as prompts, think of a change you can make and quantify it with a number. For example: <strong>What if you increased your prices by 10%?</strong></li>
                        <li>To see if the change improves your financial position, <a href='' class='external'>forecast your cash flow</a>.</li><li>Once you decide on a change, <a href='' class='external'>set a goal to implement it</a>.</li></ol>"
        
                    item1="true"
                    title1="Change your prices"
                    content1="<p>How much margin do you need to cover your expenses?</p>
                    <p>How much could you increase prices without losing business?</p>
                    <p>Can you implement small regular price increases?</p>"
        
                    item2="true"
                    title2="Focus on your most profitable customers, products or services"
                    content2="<p>Who are your most profitable customers? What are your most profitable products or services?</p><p>How much time do you need to invest in your sales efforts towards these?</p>"
        
                    item3="true"
                    title3="Increase the value you deliver"
                    content3="<p>What other problems can you solve for your customers?</p><p>Do customers only want one part of your product or service? Can you focus only on this?</p>"
        
                    %}

                {% include component-examples/action-tile-example.html
                    title="Collect cash owed to you faster"
                    subtitle="How to do it"
                    img="'../assets/action-tiles/hand_moneybag.svg' | relative_url "
                    id="collect-cash"
                    classes="purple"

                    steps="<ol><li>Using the questions below as prompts, think of a change you can make and quantify it with a number. For example: <strong>What if you reduce your payment terms to 14 days? </strong></li>
                        <li>To see if the change improves your financial position, <a href='' class='external'>forecast your cash flow</a>.</li><li>Once you decide on a change, <a href='' class='external'>set a goal to implement it</a>.</li></ol>"

                    item1="true"
                    title1="Invoice earlier"
                    content1="<p>Can you raise a progress bill?</p><p>Can you invoice an amount in advance of completing the service or delivering the products?</p><p>Can you automate invoicing?</p><p>Can you offer your customers to pay via direct debit?</p>"

                    item2="true"
                    title2="Follow up"
                    content2="<p>Can you give your customers a call or send them a reminder notice?</p><p>Can you remind your customers before the due date?</p><p>Can you automate or outsource follow-up?</p>"

                    item3="true"
                    title3="Reduce terms"
                    content3="<p>Can you require some of your customers to pay you sooner than others?</p><p>Can some customers pay upfront?</p>"

                    item4="true"
                    title4="Early payment discount"
                    content4="<p>Can you afford to offer an early payment discount?</p><p>Can you implement a late payment penalty?</p>"

                    %}

            {% include component-examples/action-tile-example.html
                title="Use your assets"
                subtitle="How to do it"
                img="'../assets/action-tiles/contract_signature.svg' | relative_url "
                id="utilise-assets"
                classes="green"
    
                steps="<ol><li>Using the questions below as prompts, think of a change you can make and quantify it with a number. For example: <strong>What if a lender can give you a 2% discount?</strong></li>
                    <li>To see if the change improves your financial position, <a href='' class='external'>forecast your cash flow</a>.</li><li>Once you decide on a change, <a href='' class='external'>set a goal to implement it</a>.</li></ol>"
    
                item1="true"
                title1="Sell underutilised assets"
                content1="<p>Do you have assets no longer required or underused in the business? </p>"
    
                item2="true"
                title2="Refinance"
                content2="<p>Is there an opportunity to get better terms from a lender?</p>"
    
                item3="true"
                title3="Sell and lease back"
                content3="<p>Would leasing free up your cash flow by allowing you to pay for assets over a longer period of time rather than in one lump sum?</p>"
    
                %}
                            

                        </div>
                    </div>

                   

                </div>

                <div class="tab-section non-branded ">

                   
                     <!-- Breakpoint radio buttons -->
                     {% include breakpoints.html
                        element-string="nb-action-tiles"
                        lg-visibility="true"
                        breakpoint-final="992"
                        %}

                    <!-- Component example -->

                    <div class="component-example m-0">
                        <div class="component-wrapper remove-element-padding p-4">

                {% include component-examples/action-tile-example.html
                    title="Adjust your pricing"
                    subtitle="How to do it"
                    img="'../assets/img-placeholder-1.svg' | relative_url "
                    id="nb-adjust-pricing"
                    classes="non-branded nb-background"
        
                    steps="<ol><li>Using the questions below as prompts, think of a change you can make and quantify it with a number. For example: <strong>What if you increased your prices by 10%?</strong></li>
                        <li>To see if the change improves your financial position, <a href='' class='external'>forecast your cash flow</a>.</li><li>Once you decide on a change, <a href='' class='external'>set a goal to implement it</a>.</li></ol>"
        
                    item1="true"
                    title1="Change your prices"
                    content1="<p>How much margin do you need to cover your expenses?</p>
                    <p>How much could you increase prices without losing business?</p>
                    <p>Can you implement small regular price increases?</p>"
        
                    item2="true"
                    title2="Focus on your most profitable customers, products or services"
                    content2="<p>Who are your most profitable customers? What are your most profitable products or services?</p><p>How much time do you need to invest in your sales efforts towards these?</p>"
        
                    item3="true"
                    title3="Increase the value you deliver"
                    content3="<p>What other problems can you solve for your customers?</p><p>Do customers only want one part of your product or service? Can you focus only on this?</p>"
        
                    %}
    

                        </div>
                    </div>
    
                        
                </div>

            </div>


        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://xd.adobe.com/view/9698488f-f1e5-4dc8-9e0d-01c4a4d1cb46-c3cb/screen/ea3ad2b7-ab47-4cce-9d26-67a47d8f4ef2/'"
        btn-text="View design specifications"
        %}


       

         <!-- LAYOUTS -->
         <h2 class="section-start" id="layouts">Layouts</h2>

         <p>Action tiles are used on the <a href={{ "brand-foundations/grid-and-page-layouts.html" | relative_url }}>two column - left filters layout</a>.</p>
 
         
         {% include layouts-dropdown.html
         layout-name="Two column - left filters layout"
         singlelayout="true"
         %}
 
         <div class="layout-example show two-col-leftmenu mt-0 mb-5 px-4 py-0">
 
             {% include layouts-accordion.html
             layout-name="twocol-leftmenu"
 
             min1200-visibility="false"
             min992-visibility="false"
             min768-visibility="true"
             min576-visibility="false"
             finalbp-visibility="true"
 
             finalbp="Breakpoint &lt; 768px"
 
             min768-img="'../assets/layout-images/action-tile-2col-leftfilters-min768.png' | relative_url "
             finalbp-img="'../assets/layout-images/action-tile-2col-leftfilters-finalbp.png' | relative_url "
 
 
             min768-rules="<p>The content area is 8 grid-columns wide.</p>
             <p>Action tiles span the full width of the content area.</p>"
 
             finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
             <p>Action tiles span the full width of the content area.</p>"


             example-link="'../html-examples/two-col-left-filters.html#action-tile-example' | relative_url'"
             example-link-text="View layout example"
 
 
             %}
 
         </div>
 



        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose:</h3>
        <p>Action tiles are used to present short activities to help the user understand how to carry out a task.</p>

        <h3>Content rules</h3>
        <ul>
            <li>"How to do it" instructions are limited to a <strong>maximum of three steps</strong>. Each step should be no more than two sentences (preferably one sentence per step).</li>
            <li>The accordions have a <strong>maximum of five items.</strong></li>
            <li>Only <strong>one link to another page</strong> should appear in each action tile. Links will generally be used in the instructions when the instructions refer to a resource located on another page.</li>
            <li>Action tiles print at A4 size. Content within the tiles should not exceed more than one A4 page when all the items are open.</li>
        </ul>
        

    </div>