---

layout: content-tagged
title: Administering agency callout
description: Provide contact details for the administering agency in an ABLIS information page.
breadcrumb1: Components
url1: /components.html
updated: 16 June, 2025
bga-tag: false
subsite-tag: true

---


<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
        classes="in-page"

        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        link-4="Version history" link-id-4="#version-history"
        %}
 
    </div>

    <div class="anchored-content remove-element-padding mb-0 col-12 col-lg-9 col-xl-9">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

      
            <!-- Breakpoint radio buttons -->
            {% include breakpoints.html 
                element-string="bga-result-tile"
                md-visibility="true"
                final-visibility="true"
                breakpoint-final="768"
            %}

            <!-- Component example -->
            <div class="component-example m-0">
                <div class="component-wrapper remove-element-padding p-4">

                    
                    {% include component-examples/ablis-administering-agency-example.html
                        org="Planning Department"
                        suborg="City of Melbourne"
                        label1="Operating address"
                        info1="120 Swanston Street, Melbourne, Victoria 3000 "
                        label2="Mailing address"
                        info2="GPO BOX 1603, Melbourne, Victoria 3001"
                        label3="Phone"
                        info3="03 9658 9658"
                        label4="Email"
                        info4="enquiries@melbourne.vic.gov.au"
                        label5="Website"
                        info5="City of Melbourne"
                    %}


                </div>
            </div>


        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://www.figma.com/design/NzMcQHGDxgKh3FEq4Fz32P/ABLIS-design-specs?node-id=1-5236&t=bRWOnAB0cztk1MtJ-1'"
        btn-text="View design specifications"
        %}








       
        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>The administering agency callout is used on the <a href={{ "brand-foundations/grid-and-page-layouts.html#layout-twocol-ablisinfo" | relative_url }}>Two column - ABLIS information page layout</a>.</p>

        {% include layouts-dropdown.html
        layout-name="Two column - ABLIS information page"
        singlelayout="true"
        %}


        <div class="layout-example show two-col-guidepage mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="two-col-ablisinfopage"

            min1200-visibility="true"
            min992-visibility="true"
            min768-visibility="true"
            min576-visibility="false"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 768px"

            min1200-img="'../assets/layout-images/twocol-ablisinfo-1200px-fullwidthcomponent.png' | relative_url "
            min992-img="'../assets/layout-images/twocol-ablisinfo-992px-fullwidthcomponent.png' | relative_url "
            min768-img="'../assets/layout-images/twocol-ablisinfo-768px-fullwidthcomponent.png' | relative_url "
            finalbp-img="'../assets/layout-images/twocol-ablisinfo-finalbp-fullwidthcomponent.png' | relative_url "

            min1200-rules="<p>The content area is 8 grid-columns wide.</p><p>Result tiles span the full width of the content area.</p>"

            min992-rules="<p>The content area is 9 grid-columns wide.</p><p>Result tiles span the full width of the content area.</p>"

            min768-rules="<p>The content area is 9 grid-columns wide.</p><p>Result tiles span the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p><p>Result tiles span the full width of the content area.</p>"

            example-link="'../html-examples/two-col-ablisinfopage.html#application' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>
 



        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose:</h3>
        <p>Used in ABLIS to display contact details for the agency responsible for the information on the page.</p>
         

        <!-- VERSION HISTORY-->
        <h2 class="section-start" id="version-history">Version history</h2>
        <h4>16 June, 2025</h4>
        
        <p>Created the administering agency callout component page.</p>
        
    </div>

</div>