---

layout: content-tagged
title: Audio player
description: Display audio content with an automatic transcript.
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
        classes="in-page"
        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-8">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        {% include section-tabs.html

            tab1="business.gov.au branding"
            tab1value="bga-branded"
    
            tab2="No branding"
            tab2value="non-branded"
    
            %}
    
            <div class="tab-sections-wrapper ">
                
                <div class="tab-section bga-branded selected">
        
                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html
                        element-string="bga-audio"
                        md-visibility="true"
                        final-visibility="true"
                        breakpoint-final="768"
                        %}
                    <!-- Component example -->

                    <div class="component-example m-0">
                        <div class="component-wrapper remove-element-padding p-4">

                            <h3>Default audio player</h3>
                            {% include component-examples/audio-example.html %}

                            <h3>Audio player with optional graphic</h3>
                            {% include component-examples/audio-example.html
                            classes="graphic"
                            graphic="'../assets/audio-player-placeholder.png' | relative_url"
                            %}

                        </div>
                    </div>

                </div>

                <div class="tab-section non-branded ">

                     <!-- Breakpoint radio buttons -->
                     {% include breakpoints.html
                        element-string="nb-audio"
                        md-visibility="true"
                        final-visibility="true"
                        breakpoint-final="768"
                        %}
                    <!-- Component example -->

                    <div class="component-example m-0">
                        <div class="component-wrapper remove-element-padding p-4">

                            {% include non-branded-explanation.html
                                component="audio players"
                                brand-elements="colours, borders, icons and images"
                            %}

                            <h3>Default audio player</h3>
                            {% include component-examples/audio-example.html 
                                classes="non-branded" 
                                %}

                            <h3>Audio player with optional graphic</h3>
                            {% include component-examples/audio-example.html
                            classes="graphic non-branded"
                            graphic="'../assets/img-placeholder-1.svg' | relative_url"
                            %}

                        </div>
                    </div>

                </div>

            </div>



        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://xd.adobe.com/view/9698488f-f1e5-4dc8-9e0d-01c4a4d1cb46-c3cb/screen/6c513343-85e6-4c87-9eb8-fc0af5962439/'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>Audio players can be used in all <a href={{ "brand-foundations/grid-and-page-layouts.html" | relative_url
                }}>page layouts</a> except the two column - left filters layout.</p>


        {% include layouts-dropdown.html
        single-col-fullwidth-visibility="true"
        single-col-twothirds-visibility="true"
        two-col-leftmenu-visibility="true"
        two-col-rightsidebar-visibility="true"
        %}


        <div class="layout-example single-col-fullwidth mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="onecol-fw"

            min1200-visibility="true"
            min992-visibility="true"
            min768-visibility="false"
            min576-visibility="false"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 992px"

            min1200-img="'../assets/layout-images/audioplayer-1colfullwidth-min1200.png' | relative_url "
            min992-img="'../assets/layout-images/audioplayer-1colfullwidth-min992.png' | relative_url "
            finalbp-img="'../assets/layout-images/audioplayer-1colfullwidth-finalbp.png' | relative_url "


            min1200-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Audio players span 8 grid-columns each.</p>"

            min992-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Audio players span 9 grid-columns each.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Audio players span 12 grid-columns each.</p>"

            example-link="'../html-examples/single-col-full-width.html#audio-example' | relative_url'"
            example-link-text="View layout example"

            %}


        </div>


        <div class="layout-example single-col-twothirdswidth mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="onecol-twothirdsw"

            min1200-visibility="true"
            min992-visibility="true"
            min768-visibility="true"
            min576-visibility="false"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 768px"

            min1200-img="'../assets/layout-images/audioplayer-1col2thirdswidth-min1200.png' | relative_url "
            min992-img="'../assets/layout-images/audioplayer-1col2thirdswidth-min992.png' | relative_url "
            min768-img="'../assets/layout-images/audioplayer-1col2thirdswidth-min768.png' | relative_url "
            finalbp-img="'../assets/layout-images/audioplayer-1col2thirdswidth-finalbp.png' | relative_url "

            min1200-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>Audio players span the full width of the content area.</p>"

            min992-rules="<p>The content area is 9 grid-columns wide.</p>
            <p>Audio players span the full width of the content area.</p>"

            min768-rules="<p>The content area is 11 grid-columns wide.</p>
            <p>Audio players span the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Audio players span the full width of the content area.</p>"

            example-link="'../html-examples/single-col-two-thirds-width.html#audio-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>


        <div class="layout-example two-col-leftmenu mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="twocol-leftmenu"

            min1200-visibility="true"
            min992-visibility="false"
            min768-visibility="false"
            min576-visibility="true"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 576px"

            min1200-img="'../assets/layout-images/audioplayer-2col-leftmenu-min1200.png' | relative_url "
            min576-img="'../assets/layout-images/audioplayer-2col-leftmenu-min576.png' | relative_url "
            finalbp-img="'../assets/layout-images/audioplayer-2col-leftmenu-finalbp.png' | relative_url "

            min1200-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>Audio players span the full width of the content area.</p>"

            min576-rules="<p>The content area is 9 grid-columns wide.</p>
            <p>Audio players span the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Audio players span the full width of the content area.</p>"

            example-link="'../html-examples/two-col-left-side-menu.html#audio-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>


        <div class="layout-example two-col-rightsidebar mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="twocol-rightbar"

            min1200-visibility="false"
            min992-visibility="false"
            min768-visibility="true"
            min576-visibility="false"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 768px"


            min768-img="'../assets/layout-images/audioplayer-2col-rightsidebar-min768.png' | relative_url "
            finalbp-img="'../assets/layout-images/audioplayer-2col-rightsidebar-finalbp.png' | relative_url "


            min768-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>Audio players span the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Audio players span the full width of the content area.</p>"

            example-link="'../html-examples/two-col-right-sidebar.html#audio-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>





        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose:</h3>
        <p>The audio player component displays audio in a content page with the ability to play and pause. It includes a
            title, optional description and a transcript that displays in time with the audio. </p>
        <h3>When to use this component:</h3>
        <ul>
            <li>We use audio as secondary information to reinforce the message on a content page.</li>
            <li>On customer story pages, audio may be used as the primary content without page body content.</li>
        </ul>
        <h3>Content rules</h3>
        <ul>
            <li>On 101, tutorial pages, transaction pages, resource articles, news articles or grant landing pages,
                provide lead in content above the audio.</li>
        </ul>

    </div>