---

layout: content-tagged
title: Audio player
description: Display audio content with an automatic transcript.
updated: 30 October, 2023
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
        classes="in-page"
        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        link-4="Version history" link-id-4="#version-history"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-8">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        {% include section-tabs.html

            tab1="business.gov.au branding"
            tab1value="bga-branded"
    
            tab2="No branding"
            tab2value="non-branded"
    
            %}
    
            <div class="tab-sections-wrapper ">
                
                <div class="tab-section bga-branded selected">
        
                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html
                        element-string="bga-audio"
                        md-visibility="true"
                        final-visibility="true"
                        breakpoint-final="768"
                        %}
                    <!-- Component example -->

                    <div class="component-example m-0">
                        <div class="component-wrapper remove-element-padding p-4">

                            <h3>Default audio player</h3>
                            {% include component-examples/audio-example.html 
                                title="Podcast title"
                                description="A short description promoting the podcast can be placed here."
                                %}

                            <h3>Audio player with optional graphic</h3>
                            {% include component-examples/audio-example.html
                            classes="graphic"
                            graphic="'../assets/audio-player-placeholder.png' | relative_url"
                            title="Podcast Episode 10: This title is much longer and wraps onto the next line"
                            description="A short description lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                            %}

                           

                           
                        </div>
                    </div>

                </div>

                <div class="tab-section non-branded ">

                     <!-- Breakpoint radio buttons -->
                     {% include breakpoints.html
                        element-string="nb-audio"
                        md-visibility="true"
                        final-visibility="true"
                        breakpoint-final="768"
                        %}
                    <!-- Component example -->

                    <div class="component-example m-0">
                        <div class="component-wrapper remove-element-padding p-4">

                            {% include non-branded-explanation.html
                                component="audio players"
                                brand-elements="colours, borders, icons and images"
                            %}

                            {% include component-examples/audio-example.html 
                                title="Podcast title"
                                description="A short description promoting the podcast can be placed here."
                                classes="non-branded"
                                %}

                                <h3>Audio player with optional graphic</h3>
                                {% include component-examples/audio-example.html
                                classes="graphic non-branded"
                                graphic="'../assets/audio-player-placeholder.png' | relative_url"
                                title="Podcast Episode 10: This title is much longer and wraps onto the next line"
                                description="A short description lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                                %}

                        </div>
                    </div>

                </div>

            </div>



        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://www.figma.com/design/CHiHC359mYGmZ1ziKHriDW/BGA-style-guide?node-id=770-8230&t=Y0RG7T4JJjmDsKJf-1'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>Audio players can be used in all <a href={{ "brand-foundations/grid-and-page-layouts.html" | relative_url
                }}>page layouts</a> except the Two column - filter page layout.</p>


        {% include layouts-dropdown.html
        single-col-navpage-visibility="true"
        single-col-infopage-visibility="true"
        single-col-toolpage-visibility="true"
        two-col-infopage-visibility="true"
        two-col-toolpage-visibility="true"
        two-col-toolpage-alt-visibility="true"
        %}


        <div class="layout-example single-col-navpage mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="single-col-navpage"

            min1200-visibility="true"
            min992-visibility="true"
            min768-visibility="false"
            min576-visibility="false"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 992px"

            min1200-img="'../assets/layout-images/audioplayer-1colfullwidth-min1200.png' | relative_url "
            min992-img="'../assets/layout-images/audioplayer-1colfullwidth-min992.png' | relative_url "
            finalbp-img="'../assets/layout-images/audioplayer-1colfullwidth-finalbp.png' | relative_url "


            min1200-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Audio players span 8 grid-columns each.</p>"

            min992-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Audio players span 9 grid-columns each.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Audio players span 12 grid-columns each.</p>"

            example-link="'../html-examples/single-col-navpage.html#audio-example' | relative_url'"
            example-link-text="View layout example"

            %}


        </div>


        <div class="layout-example single-col-infopage mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="single-col-infopage"

            min1200-visibility="true"
            min992-visibility="true"
            min768-visibility="true"
            min576-visibility="false"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 768px"

            min1200-img="'../assets/layout-images/audioplayer-1col2thirdswidth-min1200.png' | relative_url "
            min992-img="'../assets/layout-images/audioplayer-1col2thirdswidth-min992.png' | relative_url "
            min768-img="'../assets/layout-images/audioplayer-1col2thirdswidth-min768.png' | relative_url "
            finalbp-img="'../assets/layout-images/audioplayer-1col2thirdswidth-finalbp.png' | relative_url "

            min1200-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>Audio players span the full width of the content area.</p>"

            min992-rules="<p>The content area is 9 grid-columns wide.</p>
            <p>Audio players span the full width of the content area.</p>"

            min768-rules="<p>The content area is 11 grid-columns wide.</p>
            <p>Audio players span the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Audio players span the full width of the content area.</p>"

            example-link="'../html-examples/single-col-infopage.html#audio-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>


        <div class="layout-example single-col-toolpage mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="single-col-toolpage"

            min1200-visibility="true"
            min992-visibility="true"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 992px"

            min1200-img="'../assets/layout-images/onecol-toolpage-1200px-fullwidthcomponent.png' | relative_url "
            min992-img="'../assets/layout-images/onecol-toolpage-992px-fullwidthcomponent.png' | relative_url "
            finalbp-img="'../assets/layout-images/onecol-toolpage-finalbp-fullwidthcomponent.png' | relative_url "

            min1200-rules="<p>The content area is 9 grid-columns wide.</p>
            <p>Audio player components span the full width of the content area.</p>"

            min992-rules="<p>The content area is 10 grid-columns wide.</p>
            <p>Audio player components span the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Audio player components span the full width of the content area.</p>"

            example-link="'../html-examples/single-col-toolpage.html#audio-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>



        <div class="layout-example two-col-infopage mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="two-col-infopage"

            min1200-visibility="true"
            min992-visibility="false"
            min768-visibility="false"
            min576-visibility="true"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 576px"

            min1200-img="'../assets/layout-images/audioplayer-2col-leftmenu-min1200.png' | relative_url "
            min576-img="'../assets/layout-images/audioplayer-2col-leftmenu-min576.png' | relative_url "
            finalbp-img="'../assets/layout-images/audioplayer-2col-leftmenu-finalbp.png' | relative_url "

            min1200-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>Audio players span the full width of the content area.</p>"

            min576-rules="<p>The content area is 9 grid-columns wide.</p>
            <p>Audio players span the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Audio players span the full width of the content area.</p>"

            example-link="'../html-examples/two-col-infopage.html#audio-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>


        <div class="layout-example two-col-toolpage mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="two-col-toolpage"

            min1200-visibility="false"
            min992-visibility="false"
            min768-visibility="true"
            min576-visibility="false"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 768px"


            min768-img="'../assets/layout-images/audioplayer-2col-rightsidebar-min768.png' | relative_url "
            finalbp-img="'../assets/layout-images/audioplayer-2col-rightsidebar-finalbp.png' | relative_url "


            min768-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>Audio players span the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Audio players span the full width of the content area.</p>"

            example-link="'../html-examples/two-col-toolpage.html#audio-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>


        <div class="layout-example two-col-toolpage-alt mt-0 mb-5 px-4 py-0">
            
            {% include layouts-accordion.html 
                layout-name="two-col-toolpage-alt"
            
                min1200-visibility="false"
                min992-visibility="true"
                min768-visibility="true"
                min576-visibility="false"
                finalbp-visibility="true"
                
                finalbp="Breakpoint &lt; 768px"
            
                min992-img="'../assets/layout-images/audioplayer-2col-rightsidebar-alt-min992.png' | relative_url "
                min768-img="'../assets/layout-images/audioplayer-2col-rightsidebar-alt-min768.png' | relative_url "
                finalbp-img="'../assets/layout-images/audioplayer-2col-rightsidebar-alt-finalbp.png' | relative_url "
            
                min992-rules="<p>The content area is 8 grid-columns wide.</p><p>Audio players span the full width of the content area.</p>"

                min768-rules="<p>The content area is 11 grid-columns wide.</p><p>Audio players span the full width of the content area.</p>"
            
                finalbp-rules="<p>The content area is 12 grid-columns wide.</p><p>Audio players span the full width of the content area.</p>"
            
                example-link="'../html-examples/two-col-toolpage-alt.html#audio-example' | relative_url'"
                example-link-text="View layout example"

            %}
            
        </div>







        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose:</h3>
        <p>The audio player component displays audio in a content page with the ability to play and pause. It includes a
            title, optional description and a transcript that displays in time with the audio. </p>
        <h3>When to use this component:</h3>
        <ul>
            <li>We use audio as secondary information to reinforce the message on a content page.</li>
            <li>On customer story pages, audio may be used as the primary content without page body content.</li>
        </ul>
        <h3>Content rules</h3>
        <ul>
            <li>On 101, tutorial pages, transaction pages, resource articles, news articles or grant landing pages,
                provide lead in content above the audio.</li>
        </ul>


         <!-- VERSION HISTORY-->
         <h2 class="section-start" id="version-history">Version history</h2>
         <h4>30 October, 2023</h4>
         <ul>
             <li>Update the appearance of the audio player to incorporate the default appearance of the HTML audio tag controls.</li>
             <li>Move podcast description from below the audio controls to above.</li>
             <li>Removed the time stamp.</li>
             <li>Restyled the transcript which will no longer be interactive.</li>
         </ul>
         <h4>8 August, 2023</h4>
         <ul>
             <li>Added an additional layout (the <strong>Two column - tool page alternate</strong> layout).</li>
         </ul>

    </div>