---

layout: content-tagged
title: business.gov.au site header
description: Site header design for business.gov.au
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: false

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
        classes="in-page"
        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-10">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        {% include section-tabs.html

            tab1="business.gov.au branding"
            tab1value="bga-branded"
    
            tab2="No branding"
            tab2value="non-branded"
    
            %}
    
            <div class="tab-sections-wrapper ">
                
                <div class="tab-section bga-branded selected">

                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html
                    element-string="bga-site-header"
                    lg-visibility="true"
                    md-visibility="true"
                    xs-visibility="true"
                    breakpoint-final="350"
                    %}

                    <!-- Component example -->

                    <div class="component-example m-0">
                        <div class="component-wrapper remove-element-padding p-4">

                            {% include component-examples/bga-site-header-example.html %}

                        </div>
                    </div>

                </div>

                <div class="tab-section non-branded ">

                     <!-- Breakpoint radio buttons -->
                     {% include breakpoints.html
                        element-string="nb-site-header"
                        lg-visibility="true"
                        md-visibility="true"
                        xs-visibility="true"
                        breakpoint-final="350"
                        %}
    
                        <!-- Component example -->
    
                        <div class="component-example m-0">
                            <div class="component-wrapper remove-element-padding p-4">

                                {% include non-branded-explanation.html
                                    component="site header"
                                    brand-elements="colours, borders and logo"
                                %}
    
                                {% include component-examples/bga-site-header-example.html 
                                    classes="non-branded"
                                    %}
    
                            </div>
                        </div>

                </div>

            </div>


        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://xd.adobe.com/view/9698488f-f1e5-4dc8-9e0d-01c4a4d1cb46-c3cb/screen/4ea29d9f-b5bb-4bc9-b5de-08a503537fd3/'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>The site header is used on <a href={{ "brand-foundations/grid-and-page-layouts.html" | relative_url }}>all business.gov.au layouts</a>.</p>

        
        {% include layouts-dropdown.html
        layout-name="All layouts"
        singlelayout="true"
        %}

        <div class="layout-example show full-border mt-0 p-4">
            {% include layouts-accordion.html
                singlelayout="true"
                allbp-img="'../assets/layout-images/bga-site-header-allbp.png' | relative_url "
                allbp-rules="<p>The site header is 12 grid-columns wide.</p>"
            %}

            </div>
        
            {% include design-specs-link.html
            btn-link="'../html-examples/home-example.html' | relative_url'"
            btn-text="View layout example"
            %}

            

        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <p>The header includes the site logo, main navigation and search. It is designed to make the site easy to
            nagivate and establishes the site brand.</p>
        <h3>When to use this component:</h3>
        <ul>
            <li>Used across every page of the website to ensure a consistent user experience.</li>
        </ul>


    </div>