---

layout: content-tagged
title: Clause / regulation box
description: Highlight regulations or legal clauses with an accompanying icon.
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
classes="in-page"

        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-8">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        {% include section-tabs.html

            tab1="business.gov.au branding"
            tab1value="bga-branded"
    
            tab2="No branding"
            tab2value="non-branded"
    
            %}
    
    
            <div class="tab-sections-wrapper ">
    
    
                <div class="tab-section bga-branded selected">

                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html 
                        element-string="bga-clause-box"
                        sm-visibility="true"
                        final-visibility="true"
                        breakpoint-final="576"
                    %}

                    <!-- Component example -->

                    <div class="component-example m-0">
                        <div class="component-wrapper remove-element-padding p-4">

                            <h3>Default clause /regulation box</h3>
                            
                            <div class="pb-5">
                                {% include component-examples/clause-box-example.html
                                title="Applicable regulation: <em>Foreign Acquisitions and Takeovers Act 1975</em>"
                                content="<p>Foreign investments of a certain kind within defined thresholds require approvals from the Foreign Investment Review Board. Approvals are subject to national interest concerns.</p><p>For more information <a tabindex='0'>see the fact sheet</a>.</p>"
                                classes="teal"
                            %}
                            </div>

                            <h3>Clause / regulation box with mandatory include tag</h3>
                            
                            <div class="pb-5">
                                <form>
                                    <div class="col-12 mb-5 p-0 form-example clause-box-include">
                                        <label for="{{include.id}}" class="form-label mb-3">What is the employee's position title?</label>
                                        <p class="help-text mb-3">e.g. Accounts manager, Sales assistant</p>   
                                        <input type="text" class="form-control clause-box-input mb-0" id="position-title">
                                        
                                    </div>
                                </form>
                            {% include component-examples/clause-box-example.html
                                title="Position title clause"
                                tag="Included"
                                tag-type="mandatory"
                                content="<p>You are being employed in the position of <span>[position title]</span>.</p>"
                                id="position-title"
                            %}
                            </div>

                            <h3>Clause / regulation box with optional include tag</h3>

                            <div class="pb-5">
                            {% include component-examples/clause-box-example.html
                                title="Probation period clause"
                                tag="Optional to include"
                                tag-type="optional"
                                input-label="Include Probation period clause (optional)"
                                content="<p>You will need to complete a <span>[number] <strong>month</strong></span> probation period. During this time, we will assess your performance.</p><p>If we end your employment during the probation period, we will provide written notice according to the notice clause in this contract.</p>"
                                id="probation-period"
                            %}
                            </div>

                        </div>
                    </div>


                    <div class="component-example">
                        <div class="component-wrapper remove-element-padding p-4">
                            <div class="row">

                                <h3>Approved icons</h3>

                                <div class="col-6 col-md-4 mb-4">
                                    {% include icon-example.html
                                    src="'../assets/icon-document.svg' | relative_url "
                                    title="Document"
                                    classes=""
                                    %}
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="tab-section non-branded ">

                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html 
                        element-string="nb-clause-box"
                        sm-visibility="true"
                        final-visibility="true"
                        breakpoint-final="576"
                    %}

                    <!-- Component example -->

                    <div class="component-example m-0">
                        <div class="component-wrapper remove-element-padding p-4">

                            {% include non-branded-explanation.html
                                component="clause / regulation boxes"
                                brand-elements="colours, borders and icons"
                            %}

                            <h3>Default clause /regulation box</h3>
                            
                            <div class="pb-5">
                                {% include component-examples/clause-box-example.html
                                title="Applicable regulation: <em>Foreign Acquisitions and Takeovers Act 1975</em>"
                                content="<p>Foreign investments of a certain kind within defined thresholds require approvals from the Foreign Investment Review Board. Approvals are subject to national interest concerns.</p><p>For more information <a tabindex='0'>see the fact sheet</a>.</p>"
                                classes="non-branded nb-background"
                            %}
                            </div>

                            <h3>Clause / regulation box with mandatory include tag</h3>
                            
                            <div class="pb-5">
                                <form>
                                    <div class="col-12 mb-5 p-0 form-example clause-box-include">
                                        <label for="{{include.id}}" class="form-label mb-3">What is the employee's position title?</label>
                                        <p class="help-text mb-3">e.g. Accounts manager, Sales assistant</p>   
                                        <input type="text" class="form-control clause-box-input mb-0" id="position-title-2">
                                        
                                    </div>
                                </form>
                            {% include component-examples/clause-box-example.html
                                title="Position title clause"
                                tag="Included"
                                tag-type="mandatory"
                                content="<p>You are being employed in the position of <span>[position title]</span>.</p>"
                                id="position-title-2"
                                classes="non-branded nb-background"
                            %}
                            </div>

                            <h3>Clause / regulation box with optional include tag</h3>

                            <div class="pb-5">
                            {% include component-examples/clause-box-example.html
                                title="Probation period clause"
                                tag="Optional to include"
                                tag-type="optional"
                                input-label="Include Probation period clause (optional)"
                                content="<p>You will need to complete a <span>[number] <strong>month</strong></span> probation period. During this time, we will assess your performance.</p><p>If we end your employment during the probation period, we will provide written notice according to the notice clause in this contract.</p>"
                                id="probation-period-2"
                                classes="non-branded nb-background"
                            %}
                            </div>

                        </div>
                    </div>

                </div>

            </div>



        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://xd.adobe.com/view/9698488f-f1e5-4dc8-9e0d-01c4a4d1cb46-c3cb/screen/f2af4736-6a5b-44b4-85a0-9c2cc405e5bb/'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>Clause / regulation boxes can be used on all <a href={{ "brand-foundations/grid-and-page-layouts.html" | relative_url }} >page layouts</a> except the single column - full width layout.</p> 

        {% include layouts-dropdown.html 
            single-col-twothirds-visibility="true" 
            two-col-leftmenu-visibility="true"  
            two-col-rightsidebar-visibility="true" 
        %}
        
        <div class="layout-example single-col-twothirdswidth mt-0 mb-5 px-4 py-0">
            
            {% include layouts-accordion.html 
                layout-name="onecol-twothirdsw"    
            
                min1200-visibility="true"
                min992-visibility="true"
                min768-visibility="true"
                min576-visibility="false"
                finalbp-visibility="true"
                
                finalbp="Breakpoint &lt; 768px"
            
                min1200-img="'../assets/layout-images/clausebox-1col2thirdswidth-min1200.png' | relative_url "
                min992-img="'../assets/layout-images/clausebox-1col2thirdswidth-min992.png' | relative_url "
                min768-img="'../assets/layout-images/clausebox-1col2thirdswidth-min768.png' | relative_url "
                finalbp-img="'../assets/layout-images/clausebox-1col2thirdswidth-finalbp.png' | relative_url "
                
                min1200-rules="<p>The content area is 8 grid-columns wide.</p><p>Clause / regulation boxes span the full width of the content area.</p>"
            
                min992-rules="<p>The content area is 9 grid-columns wide.</p><p>Clause / regulation boxes span the full width of the content area.</p>"
            
                min768-rules="<p>The content area is 11 grid-columns wide.</p><p>Clause / regulation boxes span the full width of the content area.</p>"
            
                finalbp-rules="<p>The content area is 12 grid-columns wide.</p><p>Clause / regulation boxes span the full width of the content area.</p>"
            
                example-link="'../html-examples/single-col-two-thirds-width.html#clausebox-example' | relative_url'"
                example-link-text="View layout example"
                
            %}
            
        </div>
        
        
        <div class="layout-example two-col-leftmenu mt-0 mb-5 px-4 py-0">
            
            {% include layouts-accordion.html 
                layout-name="twocol-leftmenu"
                
                min1200-visibility="true"
                min992-visibility="false"
                min768-visibility="false"
                min576-visibility="true"
                finalbp-visibility="true"
                
                finalbp="Breakpoint &lt; 576px"
            
                min1200-img="'../assets/layout-images/clausebox-2col-leftmenu-min1200.png' | relative_url "
                min576-img="'../assets/layout-images/clausebox-2col-leftmenu-min576.png' | relative_url "
                finalbp-img="'../assets/layout-images/clausebox-2col-leftmenu-finalbp.png' | relative_url "
                
                min1200-rules="<p>The content area is 8 grid-columns wide.</p><p>Clause / regulation boxes span the full width of the content area.</p>"
            
                min576-rules="<p>The content area is 9 grid-columns wide.</p><p>Clause / regulation boxes span the full width of the content area.</p>"
            
                finalbp-rules="<p>The content area is 12 grid-columns wide.</p><p>Clause / regulation boxes span the full width of the content area.</p>"
            
                example-link="'../html-examples/two-col-left-side-menu.html#clausebox-example' | relative_url'"
                example-link-text="View layout example"
                
            %}
            
        </div>
        
        
        <div class="layout-example two-col-rightsidebar mt-0 mb-5 px-4 py-0">
            
            {% include layouts-accordion.html 
                layout-name="twocol-rightbar"
            
                min1200-visibility="false"
                min992-visibility="false"
                min768-visibility="true"
                min576-visibility="false"
                finalbp-visibility="true"
                
                finalbp="Breakpoint &lt; 768px"
            

                min768-img="'../assets/layout-images/clausebox-2col-rightsidebar-min768.png' | relative_url "
                finalbp-img="'../assets/layout-images/clausebox-2col-rightsidebar-finalbp.png' | relative_url "
            
        
                min768-rules="<p>The content area is 8 grid-columns wide.</p><p>Clause / regulation boxes span the full width of the content area.</p>"
            
                finalbp-rules="<p>The content area is 12 grid-columns wide.</p><p>Clause / regulation boxes span the full width of the content area.</p>"
            
                example-link="'../html-examples/two-col-right-sidebar.html#clausebox-example' | relative_url'"
                example-link-text="View layout example"

            %}
            
        </div>
        


        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose:</h3>
        <p>Displays information about regulations or legal clauses. When used in tools clause / regulation boxes can incorporate an "included" tag to indicate that the user has included the clause in their process.</p>
        <h3>When to use this component:</h3>
        <ul>
            <li>Primarily used in tools to highlight legal information.</li>
        </ul>

    </div>