---

layout: content-tagged
title: Comparison accordion
description: Provide users with a quick, high level comparison between two items.
updated: 19 September, 2023
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
        classes="in-page"

        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        link-4="Version history" link-id-4="#version-history"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-8">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        {% include section-tabs.html

            tab1="business.gov.au branding"
            tab1value="bga-branded"
    
            tab2="No branding"
            tab2value="non-branded"
    
            %}
    
    
            <div class="tab-sections-wrapper ">
    
    
                <div class="tab-section bga-branded selected">

                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html
                    element-string="bga-comparison-accordion-example"
                    lg-visibility="true"
                    md-visibility="true"
                    final-visibility="true"
                    breakpoint-final="768"
                    %}

                    <!-- Component example -->

                    <div class="component-example m-0">
                        <div class="component-wrapper remove-element-padding p-4">

                            {% include component-examples/comparison-accordion-example.html

                            %}

                        </div>
                    </div>

                </div>


                <div class="tab-section non-branded">

                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html
                    element-string="nb-comparison-accordion-example"
                    lg-visibility="true"
                    md-visibility="true"
                    final-visibility="true"
                    breakpoint-final="768"
                    %}

                    <!-- Component example -->

                    <div class="component-example m-0">
                        <div class="component-wrapper remove-element-padding p-4">

                            {% include non-branded-explanation.html
                                component="accordion"
                                brand-elements="colours, borders and icons"
                            %}

                            {% include component-examples/comparison-accordion-example.html
                                classes="non-branded"
                                %}


                        </div>
                    </div>

                </div>


            </div>


        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://xd.adobe.com/view/9698488f-f1e5-4dc8-9e0d-01c4a4d1cb46-c3cb/screen/88ec84f7-6487-4fff-a5c3-394bdef15cf3/'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>Comparison accordions can be used on all <a href={{ "brand-foundations/grid-and-page-layouts.html" | relative_url }}>page layouts</a> except the single column - full width layout and the two column - left filter layout.</p>


        {% include layouts-dropdown.html
        single-col-twothirds-visibility="true"
        two-col-leftmenu-visibility="true"
        two-col-rightsidebar-visibility="true"
        two-col-rightsidebar-alt-visibility="true"
        %}


        <div class="layout-example single-col-twothirdswidth mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="onecol-twothirdsw"

            min1200-visibility="true"
            min992-visibility="true"
            min768-visibility="true"
            min576-visibility="false"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 768px"

            min1200-img="'../assets/layout-images/comparison-accordion-1col2thirdswidth-min1200.png' | relative_url "
            min992-img="'../assets/layout-images/comparison-accordion-1col2thirdswidth-min992.png' | relative_url "
            min768-img="'../assets/layout-images/comparison-accordion-1col2thirdswidth-min768.png' | relative_url "
            finalbp-img="'../assets/layout-images/comparison-accordion-1col2thirdswidth-finalbp.png' | relative_url "

            min1200-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>Comparison accordions span the full width of the content area.</p>"

            min992-rules="<p>The content area is 9 grid-columns wide.</p>
            <p>Comparison accordions span the full width of the content area.</p>"

            min768-rules="<p>The content area is 11 grid-columns wide.</p>
            <p>Comparison accordions span the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Comparison accordions span the full width of the content area.</p>"

            example-link="'../html-examples/single-col-two-thirds-width.html#accordion-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>


        <div class="layout-example two-col-leftmenu mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="twocol-leftmenu"

            min1200-visibility="true"
            min992-visibility="false"
            min768-visibility="false"
            min576-visibility="true"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 576px"

            min1200-img="'../assets/layout-images/comparison-accordion-2col-leftmenu-min1200.png' | relative_url "
            min576-img="'../assets/layout-images/comparison-accordion-2col-leftmenu-min576.png' | relative_url "
            finalbp-img="'../assets/layout-images/comparison-accordion-2col-leftmenu-finalbp.png' | relative_url "

            min1200-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>Comparison accordions span the full width of the content area.</p>"

            min576-rules="<p>The content area is 9 grid-columns wide.</p>
            <p>Comparison accordions span the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Comparison accordions span the full width of the content area.</p>"

            example-link="'../html-examples/two-col-left-side-menu.html#accordion-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>


        <div class="layout-example two-col-rightsidebar mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="twocol-rightbar"

            min1200-visibility="false"
            min992-visibility="false"
            min768-visibility="true"
            min576-visibility="false"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 768px"


            min768-img="'../assets/layout-images/comparison-accordion-2col-rightsidebar-min768.png' | relative_url "
            finalbp-img="'../assets/layout-images/comparison-accordion-2col-rightsidebar-finalbp.png' | relative_url "


            min768-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>Comparison accordions span the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Comparison accordions span the full width of the content area.</p>"

            example-link="'../html-examples/two-col-right-sidebar.html#accordion-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>


        <div class="layout-example two-col-rightsidebar-alt mt-0 mb-5 px-4 py-0">
            
            {% include layouts-accordion.html 
                layout-name="twocol-rightbar"
            
                min1200-visibility="false"
                min992-visibility="true"
                min768-visibility="true"
                min576-visibility="false"
                finalbp-visibility="true"
                
                finalbp="Breakpoint &lt; 768px"
            
                min992-img="'../assets/layout-images/comparison-accordion-2col-rightsidebar-alt-min992.png' | relative_url "
                min768-img="'../assets/layout-images/comparison-accordion-2col-rightsidebar-alt-min768.png' | relative_url "
                finalbp-img="'../assets/layout-images/comparison-accordion-2col-rightsidebar-alt-finalbp.png' | relative_url "
            
                min992-rules="<p>The content area is 8 grid-columns wide.</p><p>Comparison accordions span the full width of the content area.</p>"

                min768-rules="<p>The content area is 11 grid-columns wide.</p><p>Comparison accordions span the full width of the content area.</p>"
            
                finalbp-rules="<p>The content area is 12 grid-columns wide.</p><p>Comparison accordions span the full width of the content area.</p>"
            
                example-link="'../html-examples/two-col-right-sidebar-alternate.html#accordion-example' | relative_url'"
                example-link-text="View layout example"

            %}
            
        </div>



        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose:</h3>
        <p>The comparison accordion is a variation of the standard accordion pattern. It provides a high-level comparison between two items. User's can use 'read more' links to expand each comparison row and read further detail on the differences between the items.</p>

        <h3>When to use this component:</h3>
        <ul>
            <li>For highlighting the differences between two items, eg. the difference between two business structures.</li>
        </ul>
        <h3>Content rules:</h3>
        <ul>
            <li>H5, p and li tags can be used in the expandable rows.</li>
        </ul>


        <!-- VERSION HISTORY-->
        <h2 class="section-start" id="version-history">Version history</h2>
        <h4>19 September, 2023</h4>
        <ul>
            <li>Added the comparison accordion to the style guide (as a new component).</li>
        </ul>

    </div>