---

layout: content-tagged
title: Cookie notification
description: A popup notification that alerts users to the use of cookies on business.gov.au.
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
classes="in-page"

        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-8">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        <!-- Breakpoint radio buttons -->
        {% include breakpoints.html
        sm-visibility="true"
        xs-visibility="true"
        final-visibility="true"
        breakpoint-final="350"
        %}

        <!-- Component example -->

        <div class="component-example m-0">
            <div class="component-wrapper remove-element-padding px-4 py-4">

                <h3>Default toast notification</h3>
                {% include component-examples/toast-example.html
                close="true"
                title="Important message for the user"
                text="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non leo quis metus dictum
                    cursus.</p>"
                classes="default"
                %}

                <h4 class="mt-5">View the default toast in page</h4>
                <div class="button-example mb-4">
                    <button id="toast-trigger" class="bga-btn bga-secondary-btn bkg-light" tabindex="0" href=""
                        role="button">Trigger default toast</button>
                </div>
                

            </div>

        </div>






        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://xd.adobe.com/view/9698488f-f1e5-4dc8-9e0d-01c4a4d1cb46-c3cb/screen/fb8aed08-66a1-4fdb-bb52-a23d13d4b3e9/'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>Toast notifications can be used on all page layouts.</p>


        {% include layouts-dropdown.html
        layout-name="All layouts"
        singlelayout="true"
        %}

        <div class="layout-example show full-border mt-0 mb-5 p-4">
            {% include layouts-accordion.html
            singlelayout="true"
            allbp-img="'../assets/layout-images/toast-allbp.png' | relative_url "
            allbp-rules="<p>Toasts are placed at the bottom of the screen. They are aligned to the left or in the centre
                of the screen.</p>
            <p>They should not be placed on the right side of the screen where the chat button lives.</p>"
            %}

        </div>


        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose:</h3>
        <p>The cookie notification is displayed at the bottom of the screen when users first visit business.gov.au</p>
        <p>This notification does not stop the user from viewing and using the pages on business.gov.au. The notification remains in place until the users clicks on either "Accept all cookies" or "Customise cookies". Once the user has clicked on one of these links they do not see the cookie notification again.</p>
        <p>The "Customise cookies" link leads to a page on business.gov.au about cookies. The page should include the ability to turn off optional cookies. Ensure users can access this page from elsewhere  where on the site , e.g. a link in the footer.</p>

        <h3>When to use this component:</h3>
        <ul>
            <li>Used to on all pages of business.gov.au for users that have not seen and actioned the cookie notification before.</li>
        </ul>

        <h3>When not to use this component:</h3>
        <ul>
            <li>Not used for any purpose on business.gov.au other than conveying information about cookies. </li>
        </ul>


    </div>