---

layout: content-tagged
title: Cookie notification
description: A notification that alerts users to the use of cookies on business.gov.au.
breadcrumb1: Components
url1: /components.html
updated: 9 September, 2024
bga-tag: true
subsite-tag: true

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
classes="in-page"

        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        link-4="Version history" link-id-4="#version-history"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-10">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        {% include section-tabs.html

            tab1="business.gov.au branding"
            tab1value="bga-branded"
    
            tab2="No branding"
            tab2value="non-branded"
    
            %}
    
    
            <div class="tab-sections-wrapper ">
    
    
                <div class="tab-section bga-branded selected">

                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html
                        element-string="bga-cookie"
                        xl-visibility="true"
                        sm-visibility="true"
                        breakpoint-final="576"
                    %}

                    <!-- Component example -->

                    <div class="component-example m-0">
                        <div class="component-wrapper remove-element-padding px-4 py-4">

                            {% include component-examples/cookie-example.html
                                text="<p class='mini'>We use cookies to give you a better experience on our website. Learn more about <a href=''>how we use cookies</a> and how you can select your preferences.</p>"
                                classes="default"
                            %}


                        </div>

                    </div>

                </div>

                <div class="tab-section non-branded ">

                     <!-- Breakpoint radio buttons -->
                     {% include breakpoints.html
                        element-string="nb-cookie"
                        xl-visibility="true"
                        sm-visibility="true"
                        breakpoint-final="576"
                    %}

                    <!-- Component example -->

                    <div class="component-example m-0">
                        <div class="component-wrapper remove-element-padding px-4 py-4">

                            {% include non-branded-explanation.html
                                component="cookie notification"
                                brand-elements="colours and button styles"
                            %}

                            {% include component-examples/cookie-example.html
                                text="<p class='mini'>We use cookies to give you a better experience on our website. Learn more about <a href=''>how we use cookies</a> and how you can select your preferences.</p>"
                                classes="default non-branded nb-background"
                            %}

                        </div>

                    </div>
                </div>

            </div>






        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://www.figma.com/design/CHiHC359mYGmZ1ziKHriDW/BGA-style-guide?node-id=705-4097&t=Y0RG7T4JJjmDsKJf-1'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>The cookie notification appears on all page layouts.</p>

        {% include layouts-dropdown.html
        layout-name="All layouts"
        singlelayout="true"
        %}

        <div class="layout-example show full-border mt-0 mb-0 p-4">
            {% include layouts-accordion.html
            singlelayout="true"
            allbp-img="'../assets/layout-images/cookie-notification-allbp.png' | relative_url "
            allbp-rules="<p>The cookie notification is placed at the top of the screen. It stretches full width of the screen.</p>"
            %}

        </div>

        {% include design-specs-link.html
            btn-link="'../html-examples/single-col-infopage.html' | relative_url"
            btn-text="View layout example"
            %}


        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose:</h3>
        <p>The cookie notification is displayed at the top of the screen when users first visit business.gov.au.</p>
       
        <p>The "how we use cookies" link leads to a page on business.gov.au about cookies. The page should include the ability to turn off optional cookies. Ensure users can access this page from elsewhere  where on the site , e.g. a link in the footer.</p> 
        
        <p>The notification remains in place until the user clicks on the close ('X') button. Once the user has dismissed the notification they do not see it again.</p>

        <h3>When to use this component:</h3>
        <p>Used on all pages of business.gov.au for users that have not seen and actioned the cookie notification before.</p>


         <!-- VERSION HISTORY-->
         <h2 class="section-start" id="version-history">Version history</h2>
         <h4>9 September, 2024</h4>
         <p>Redesigned the cookie notification so it is no longer a popup at the bottom of the screen. The revised notification is placed at the top of the screen (and does not have 'sticky' behaviour).</p> <p>This change was made to help meet accessibility requirements, the sticky notificaiton was causing issues when users zoomed in.</p>



    </div>