---

layout: content-tagged
title: Cookie notification
description: A popup notification that alerts users to the use of cookies on business.gov.au.
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
classes="in-page"

        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-10">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        {% include section-tabs.html

            tab1="business.gov.au branding"
            tab1value="bga-branded"
    
            tab2="No branding"
            tab2value="non-branded"
    
            %}
    
    
            <div class="tab-sections-wrapper ">
    
    
                <div class="tab-section bga-branded selected">

                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html
                        element-string="bga-cookie"
                        md-visibility="true"
                        breakpoint-final="768"
                    %}

                    <!-- Component example -->

                    <div class="component-example m-0">
                        <div class="component-wrapper remove-element-padding px-4 py-4">

                            {% include component-examples/cookie-example.html
                                text="<p>We use essential cookies to make this website work. We also use ipsum dolor sit amet, consec adipiscing elit. Suspendisse non leo quis metus dictum cursus.</p>"
                                button="Accept all cookies"
                                link="Customise cookies"
                                classes="default"
                            %}

                            <h3 class="mt-5">View the cookie notification in page</h3>
                            <div class="button-example mb-4">
                                <button id="cookie-trigger" class="bga-btn bga-secondary-btn bkg-light" tabindex="0" href=""
                                    role="button">Trigger cookie notification</button>
                            </div>
                            

                        </div>

                    </div>

                </div>

                <div class="tab-section non-branded ">

                     <!-- Breakpoint radio buttons -->
                     {% include breakpoints.html
                        element-string="nb-cookie"
                        md-visibility="true"
                        breakpoint-final="768"
                    %}

                    <!-- Component example -->

                    <div class="component-example m-0">
                        <div class="component-wrapper remove-element-padding px-4 py-4">

                            {% include non-branded-explanation.html
                                component="cookie notification"
                                brand-elements="colours and button styles"
                            %}

                            {% include component-examples/cookie-example.html
                                text="<p>We use essential cookies to make this website work. We also use ipsum dolor sit amet, consec adipiscing elit. Suspendisse non leo quis metus dictum cursus.</p>"
                                button="Accept all cookies"
                                link="Customise cookies"
                                classes="default non-branded nb-background-dark"
                            %}

                        </div>

                    </div>
                </div>

            </div>






        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://www.figma.com/design/CHiHC359mYGmZ1ziKHriDW/BGA-style-guide?node-id=705-4097&t=Y0RG7T4JJjmDsKJf-1'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>The cookie notificaiton appears on all page layouts.</p>

        {% include layouts-dropdown.html
        layout-name="All layouts"
        singlelayout="true"
        %}

        <div class="layout-example show full-border mt-0 mb-5 p-4">
            {% include layouts-accordion.html
            singlelayout="true"
            allbp-img="'../assets/layout-images/cookie-notification-allbp.png' | relative_url "
            allbp-rules="<p>The cookie notification is placed at the bottom of the screen. It stretches full width of the screen.</p>
            <p>The cookie notification pushes the business.gov.au chat button up when it appears.</p>"
            %}

        </div>


        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose:</h3>
        <p>The cookie notification is displayed at the bottom of the screen when users first visit business.gov.au.</p>
        <p>This notification does not stop the user from viewing and using the pages on business.gov.au. The notification remains in place until the users clicks on either "Accept all cookies" or "Customise cookies". Once the user has clicked on one of these links they do not see the cookie notification again.</p>
        <p>The "Customise cookies" link leads to a page on business.gov.au about cookies. The page should include the ability to turn off optional cookies. Ensure users can access this page from elsewhere  where on the site , e.g. a link in the footer.</p>

        <h3>When to use this component:</h3>
        <ul>
            <li>Used on all pages of business.gov.au for users that have not seen and actioned the cookie notification before.</li>
        </ul>

        <h3>When not to use this component:</h3>
        <ul>
            <li>Not used for any purpose on business.gov.au other than conveying information about cookies. If a pop up notification is required for other reasons use the <a href={{ "components/toast-notification.html" | relative_url }} >toast notification</a>.</li>
        </ul>


    </div>