---

layout: content-tagged
title: Download list
description: Display multiple formats for a single download as a list item of many files.
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
        classes="in-page"
        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-10">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        {% include section-tabs.html

            tab1="business.gov.au branding"
            tab1value="bga-branded"
    
            tab2="No branding"
            tab2value="non-branded"
    
            %}
    
            <div class="tab-sections-wrapper ">
                
                <div class="tab-section bga-branded selected">

                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html 
                        singlebp="true" 
                        %}

                    <!-- Component example -->

                    <div class="component-example m-0">
                        <div class="component-wrapper remove-element-padding p-4">

                            
                            {% include component-examples/download-list-example.html
                                title1="Document name"
                                title2="Lorem ipsum dolor sit amet, consectetur adipiscing elit"
                                title3="Praesent nec metus nunc"
                                title4="Vivamus est eros, ornare ac elementum at, lobortis nec ante"
                            %}


                        
                        </div>
                    </div>

                </div>

                <div class="tab-section non-branded ">

                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html 
                        singlebp="true" 
                        %}

                    <!-- Component example -->

                    <div class="component-example m-0">
                        <div class="component-wrapper remove-element-padding p-4">

                            {% include non-branded-explanation.html
                                component="download list"
                                brand-elements="colours and icons"
                            %}
                            
                            {% include component-examples/download-list-example.html
                                title1="Document name"
                                title2="Lorem ipsum dolor sit amet, consectetur adipiscing elit"
                                title3="Praesent nec metus nunc"
                                classes="non-branded"
                            %}

                        </div>
                    </div>

                </div>

            </div>



        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://xd.adobe.com/view/9698488f-f1e5-4dc8-9e0d-01c4a4d1cb46-c3cb/screen/85eb9296-27d6-413b-9d29-7edffdadf7f2/'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>Download lists can be used on the <a href={{ "brand-foundations/grid-and-page-layouts.html" | relative_url }}> Single column - information page layout</a> and the <a href={{ "brand-foundations/grid-and-page-layouts.html" | relative_url }}>Two column - information page layout</a>.</p>

        {% include layouts-dropdown.html
        single-col-navpage-visibility="false"
        single-col-infopage-visibility="true"
        two-col-infopage-visibility="true"
        two-col-toolpage-visibility="false"
        %}

        <div class="layout-example single-col-infopage mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="single-col-infopage"

            min1200-visibility="true"
            min992-visibility="true"
            min768-visibility="true"
            min576-visibility="false"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 768px"

            min1200-img="'../assets/layout-images/download-list-1col2thirdswidth-min1200.png' | relative_url "
            min992-img="'../assets/layout-images/download-list-1col2thirdswidth-min992.png' | relative_url "
            min768-img="'../assets/layout-images/download-list-1col2thirdswidth-min768.png' | relative_url "
            finalbp-img="'../assets/layout-images/download-list-1col2thirdswidth-finalbp.png' | relative_url "

            min1200-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>Download lists span the full width of the content area.</p>"

            min992-rules="<p>The content area is 9 grid-columns wide.</p>
            <p>Download lists span the full width of the content area.</p>"

            min768-rules="<p>The content area is 11 grid-columns wide.</p>
            <p>Download lists span the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Download lists span the full width of the content area.</p>"

            example-link="'../html-examples/single-col-infopage.html#download-list-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>

        <div class="layout-example two-col-infopage mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="two-col-infopage"

            min1200-visibility="true"
            min992-visibility="false"
            min768-visibility="false"
            min576-visibility="true"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 576px"

            min1200-img="'../assets/layout-images/download-list-2col-leftmenu-min1200.png' | relative_url "
            min576-img="'../assets/layout-images/download-list-2col-leftmenu-min576.png' | relative_url "
            finalbp-img="'../assets/layout-images/download-list-2col-leftmenu-finalbp.png' | relative_url "

            min1200-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>Download lists span the full width of the content area.</p>"

            min576-rules="<p>The content area is 9 grid-columns wide.</p>
            <p>Download lists span the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Download lists span the full width of the content area.</p>"

            example-link="'../html-examples/two-col-infopage.html#download-list-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>


        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose:</h3>
        <p>Displays multiple formats for a single download as a list item of many files.</p>
        <h3>When to use this component:</h3>
        <ul>
            <li>Use this to list tertiary download items (e.g. course documentation).</li>
        </ul>

    </div>