---

layout: content-tagged
title: Dynamic sidebar
description: Provide the user with immediate feedback in the form of a list of recommendations when they progress through a tool.
updated: 19 September, 2023
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
        classes="in-page"

        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        link-4="Version history" link-id-4="#version-history"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-10">
    
        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        <h3>Sticky behaviour</h3>
        <p>The dynamic sidebar becomes fixed 32px from the top of the screen when the user scrolls down the screen.</p>


        {% include section-tabs.html

            tab1="business.gov.au branding"
            tab1value="bga-branded"
    
            tab2="No branding"
            tab2value="non-branded"
    
            %}
    
            <div class="tab-sections-wrapper">
                
                <div class="tab-section bga-branded selected">

                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html 
                        element-string="bga-dynamic-sidebar"
                        lg-visibility="true"
                        md-visibility="true"
                        final-visibility="true"
                        breakpoint-final="768"
                        %}

                    <!-- Component example -->

                    <div class="component-example m-0">

                        <div class="component-wrapper remove-element-padding p-4">

                        <div class="row sidebar-mobile-hide">
                        
                            <div class="col-7">
                            
                          
                                <p>Recommendations are added to the sidebar as the users selects answers in a tool. Select an option below to see the sidebar behaviour.</p>

                                <div class="mb-5 p-0 form-example remove-element-padding">
                                   
                                    <div class="radios w-50 d-flex flex-wrap radio-flex-group" id="dynamic-sidebar-q" role="radiogroup">

                                        <div class="radio-button w-100">
                                            <input class="form-check-input m-0" type="radio" name="dynamic-sidebar-q" id="sole-trader" data-value="Sole trader">
                                            <label class="form-check-label remove-element-padding" for="sole-trader">
                                                <p>Sole trader</p>
                                            </label>
                                        </div>
                
                                        <div class="radio-button w-100">
                                            <input class="form-check-input m-0" type="radio" name="dynamic-sidebar-q" id="partnership" data-value="Partnership">
                                            <label class="form-check-label remove-element-padding" for="partnership">
                                                <p>Partnership</p>
                                            </label>
                                        </div>
                
                                        <div class="radio-button w-100">
                                            <input class="form-check-input m-0" type="radio" name="dynamic-sidebar-q" id="company" data-value="Company">
                                            <label class="form-check-label remove-element-padding" for="company">
                                                <p>Company</p>
                                            </label>
                                        </div>
            
                
                                    </div>
                                </div>

                 


                            </div>
                        
                            <div class="col-5">
                    
                            {% include component-examples/dynamic-sidebar-example.html
                            classes="sidebar-mobile-hide"
                            %}
                            </div>

                        </div>

                        <div class="row sidebar-mobile-explanation">
                            <div class="col">
                            <p><strong>This component is hidden on mobile screens.</strong></p>
                            </div>
                        </div>
 

                        </div>

                    </div>

                   

                </div>

                <div class="tab-section non-branded">
                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html 
                        element-string="nb-dynamic-sidebar"
                        lg-visibility="true"
                        md-visibility="true"
                        final-visibility="true"
                        breakpoint-final="768"
                        %}

                    <!-- Component example -->

                    <div class="component-example m-0">

                        <div class="component-wrapper sidebar-example-container remove-element-padding p-4">

                            {% include non-branded-explanation.html
                                component="sidebar"
                                brand-elements="colours, borders and icon styles"
                            %}
    
                            <div class="row sidebar-mobile-hide">
                        
                                <div class="col-5">
                            
                                    <div class="sidebar-wrapper nb-dynamic-sidebar mb-4 p-0 sidebar-mobile-hide">
                                        <div class="bga-component sidebar m-0 p-0">
                                            
                                            
                                            <div class="sidebar-section business-structure mb-4">
                                                <div class="title remove-element-padding">
                                                    <p><strong>Business structure</strong></p>
                                                </div>
                                                <div class="content remove-element-padding">
                                                    <p class="chosen-structure">
                                                        <span>Sole trader</span></p>
                                                </div>
                                            </div>
                                    
                                    
                                            <div class="sidebar-section recommendations">
                                                <div class="title remove-element-padding">
                                                    <p><strong>Recommended registrations</strong></p>
                                                </div>
                                                <div class="content remove-element-padding">
                                                    <ul class="remove-element-padding m-0 p-0">
                                                    
                                                
                                                        <li class="individual-tfn show" data-value="individual-tfn">
                                                        
                                                        <span>Individual tax file number</span></li>
                                                    
                                                    <li class="abn show" data-value="abn"><span>Australian business number</span></li>
                                                        
                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                    
                                    
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="row sidebar-mobile-explanation">
                                <div class="col">
                                <p><strong>This component is hidden on mobile screens.</strong></p>
                                </div>
                            </div>
                            

                        </div>

                    </div>
                </div>

            </div>



        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://www.figma.com/design/CHiHC359mYGmZ1ziKHriDW/BGA-style-guide?node-id=593-12827&t=Y0RG7T4JJjmDsKJf-1'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>Sidebars can be used in the <a href={{ "brand-foundations/grid-and-page-layouts.html" | relative_url }}>Two column - tool page layout</a>. They should not be used in other layouts.</p>


        {% include layouts-dropdown.html
            layout-name="Two column - tool page"
            singlelayout="true"
            %}

        <div class="layout-example show two-col-toolpage mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="two-col-toolpage"

            min1200-visibility="false"
            min992-visibility="false"
            min768-visibility="true"
            min576-visibility="false"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 768px"


            min768-img="'../assets/layout-images/dynamic-sidebar-2col-rightsidebar-min768.png' | relative_url "
            finalbp-img="'../assets/layout-images/dynamic-sidebar-2col-rightsidebar-finalbp.png' | relative_url "


            min768-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>Dynamic sidebars sit to the right of the content area and span 4 grid-columns.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p> Dynamic sidebars are hidden.</p>
            "

            example-link="'../html-examples/two-col-toolpage.html' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>


        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h4>Purpose: </h4>
        <p>The dynamic sidebar provides the ability to create a dynamic list as users progress through a tool.</p>
       
        <h4>When to use this component: </h4>
        <ul>
            <li>Used in tools where users are provided with a list of items, e.g a list of recommended registrations.</li>
           
        </ul>


        <!-- VERSION HISTORY-->
        <h2 class="section-start" id="version-history">Version history</h2>
        <h4>19 September, 2023</h4>
        <ul>
            <li>Added the dynamic sidebar to the style guide (as a new component).</li>
        </ul>
       
       

    </div>