---

layout: content-tagged
title: Event registration call out boxes
description: Highlight registration information within the context of an events page.
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---



<div class="row">
    
    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include anchor-menu.html
            link-1="Design" link-id-1="#design"
            link-2="Layouts" link-id-2="#layouts" 
            link-3="Guidelines for use" link-id-3="#guidelines-for-use" 
        %}
        
    </div>
    
    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-8">
   
          
        <!-- DESIGN -->   
        <h2 class="section-start" id="design">Design</h2>

        <!-- Breakpoint radio buttons -->
        {% include breakpoints.html 
            element-string="contact-callout-box"
            md-visibility="true"
            final-visibility="true"
            breakpoint-final="768px"
        %}

        <!-- Component example -->

        <div class="component-example narrow m-0">
            <div class="component-wrapper remove-element-padding p-4">
                
            <h3>Single session events</h3>    

            {% include component-examples/event-callout-box-example.html
                singlesession="true"
                title="Registration for this event is with the Australian Taxation Office"
                cost="Free"
                time="10:00 - 11:00 am AEST"
                date="Thu 30 Jun 2022"
                location="Online"   
            %}
                
            <h3>Multiple session events with a single registration link</h3>    

            {% include component-examples/event-callout-box-example.html
                example-name="multiple-one-link"
                title="Registration for  this event is with the Australian Taxation Office"
                cost="Free"
                item1-label="<strong>Online: </strong>Thursday 13 Nov 2021"
                item1-content="<strong>Time: </strong>10:00 - 11:00 AM AEST"
                item2-label="<strong>Online: </strong>Wednesday 20 Jan 2022"
                item2-content="<strong>Time: </strong>10:00 - 11:00 AM AEST"
                
            %}
                
            <h3>Multiple session events with a multiple registration links</h3>    

            {% include component-examples/event-callout-box-example.html
                dropdown="true"
                example-name="multiple-many-links"
                title="Registration for this event is with the Australian Taxation Office"
                cost="Free"
                item1-label="<strong>Shepparton, VIC: </strong>Thursday 13 Nov 2021"
                item1-content="<strong>Time: </strong>10:00 - 11:00 AM AEST"
                item1-address="<strong>Address: </strong>The Parklake Hotel, 481 Wyndham Street, Shepparton, VIC"
                item2-label="<strong>Benalla, VIC: </strong>Wednesday 12 Nov 2021"
                item2-content="<strong>Time: </strong>10:00 - 11:00 AM AEST"
                item2-address="<strong>Address: </strong>The Parklake Hotel, 481 Wyndham Street, Shepparton, VIC"
                
            %}
                
  
            </div>
            
        </div>
        
        
            



        <!-- Design specifications link -->

        {% include design-specs-link.html 
            btn-link="'https://xd.adobe.com/view/aa072634-b3aa-408b-966a-2e8f09cf920b-ff54/screen/f23fa8ea-415a-405c-a345-e7ed32def4d1/'"
            btn-text="View design specifications"
            %}


        <!-- LAYOUTS -->   
        <h2 class="section-start" id="layouts">Layouts</h2>
        
        <p>Call out boxes can be used on all page layouts except the <a href={{ "brand-foundations/grid-and-page-layouts.html" | relative_url }} >single column - full width layout</a>.</p> 
       
       
        {% include layouts-dropdown.html 
            single-col-twothirds-visibility="true" 
            two-col-leftmenu-visibility="true" 
            two-col-rightsidebar-visibility="true" 
        %}
        
        <div class="layout-example show single-col-twothirdswidth mt-0 mb-5 px-4 py-0">
            
            {% include layouts-accordion.html 
                layout-name="onecol-twothirdsw"    
            
                min1200-visibility="true"
                min992-visibility="true"
                min768-visibility="true"
                min576-visibility="false"
                finalbp-visibility="true"
                
                finalbp="Breakpoint &lt; 768px"
            
                min1200-img="'../assets/layout-images/callout-1col2thirdswidth-min1200.png' | relative_url "
                min992-img="'../assets/layout-images/callout-1col2thirdswidth-min992.png' | relative_url "
                min768-img="'../assets/layout-images/callout-1col2thirdswidth-min768.png' | relative_url "
                finalbp-img="'../assets/layout-images/callout-1col2thirdswidth-finalbp.png' | relative_url "
                
                min1200-rules="<p>The content area is 8 grid-columns wide.</p><p>Call out boxes span the full width of the content area.</p>"
            
                min992-rules="<p>The content area is 9 grid-columns wide.</p><p>Call out boxes span the full width of the content area.</p>"
            
                min768-rules="<p>The content area is 11 grid-columns wide.</p><p>Call out boxes span the full width of the content area.</p>"
            
                finalbp-rules="<p>The content area is 12 grid-columns wide.</p><p>Call out boxes span the full width of the content area.</p>"
            
                example-link="'../html-examples/single-col-two-thirds-width.html#callout-example' | relative_url'"
                example-link-text="View layout example"
                
            %}
            
        </div>
        
        
        <div class="layout-example two-col-leftmenu mt-0 mb-5 px-4 py-0">
            
            {% include layouts-accordion.html 
                layout-name="twocol-leftmenu"
                
                min1200-visibility="true"
                min992-visibility="false"
                min768-visibility="false"
                min576-visibility="true"
                finalbp-visibility="true"
                
                finalbp="Breakpoint &lt; 576px"
            
                min1200-img="'../assets/layout-images/callout-2col-leftmenu-min1200.png' | relative_url "
                min576-img="'../assets/layout-images/callout-2col-leftmenu-min576.png' | relative_url "
                finalbp-img="'../assets/layout-images/callout-2col-leftmenu-finalbp.png' | relative_url "
                
                min1200-rules="<p>The content area is 8 grid-columns wide.</p><p>Call out boxes span the full width of the content area.</p>"
            
                min576-rules="<p>The content area is 9 grid-columns wide.</p><p>Call out boxes span the full width of the content area.</p>"
            
                finalbp-rules="<p>The content area is 12 grid-columns wide.</p><p>Call out boxes span the full width of the content area.</p>"
            
                example-link="'../html-examples/two-col-left-side-menu.html#callout-example' | relative_url'"
                example-link-text="View layout example"
                
            %}
            
        </div>
        
        
        <div class="layout-example two-col-rightsidebar mt-0 mb-5 px-4 py-0">
            
            {% include layouts-accordion.html 
                layout-name="twocol-rightbar"
            
                min1200-visibility="false"
                min992-visibility="true"
                min768-visibility="false"
                min576-visibility="false"
                finalbp-visibility="true"
                
                finalbp="Breakpoint &lt; 992px"
            

                min992-img="'../assets/layout-images/callout-2col-rightsidebar-min992.png' | relative_url "
                finalbp-img="'../assets/layout-images/callout-2col-rightsidebar-finalbp.png' | relative_url "
            
        
                min992-rules="<p>The content area is 8 grid-columns wide.</p><p>Call out boxes span the full width of the content area.</p>"
            
                finalbp-rules="<p>The content area is 12 grid-columns wide.</p><p>Call out boxes span the full width of the content area.</p>"
            
                example-link="'../html-examples/two-col-right-sidebar.html#callout-example' | relative_url'"
                example-link-text="View layout example"

            %}
            
        </div>
        
        
        
        
    

        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h4>Purpose:</h4>
        <p>The Event registration call out box component is used to display event session information and a registration link. </p>
        <h4>When to use this component:</h4>
        <ul>
            <li>Use this component on event pages that require an event registration link.</li>
        </ul>
            
        </div>
        
