---

layout: content-tagged
title: Feature box
description: Feature boxes highlight certain information in the context of a page.
updated: 8 August, 2023
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
        classes="in-page"

        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        link-4="Version history" link-id-4="#version-history"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-10">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        {% include section-tabs.html

            tab1="business.gov.au branding"
            tab1value="bga-branded"
    
            tab2="No branding"
            tab2value="non-branded"
    
            %}
    
    
            <div class="tab-sections-wrapper">
    
                <div class="tab-section bga-branded selected">

                <!-- Breakpoint radio buttons -->
                {% include breakpoints.html
                element-string="bga-feature-box"
                lg-visibility="true"
                sm-visibility="true"
                final-visibility="true"
                breakpoint-final="576"
                %}

                <!-- Component example -->

                <div class="component-example m-0">
                    <div class="component-wrapper remove-element-padding p-4">

                        <h3>Layout: Single column - navigation page</h3>

                        {% include component-examples/featurebox-example.html
                            h2title="Tip - Assess your business needs"
                            content="<p>Before you start, it’s a good idea to assess your business needs so you can choose the right
                            person for your business. Think about: </p>
                        <ul>
                            <li>the tasks you need the employee to do</li>
                            <li>any skills and qualifications they’ll require</li>
                            <li>how busy the job will be</li>
                        </ul>"
                        icon="'../assets/icon-lightbulb-blueblack.svg' | relative_url "
                        classes="full-width-layout purple"
                        %}

                        <h3>Layouts: Single column - 2/3 width layout and two column layouts</h3>

                        {% include component-examples/featurebox-example.html
                            h3title="Tip - Assess your business needs"
                            content="<p>Before you start, it’s a good idea to assess your business needs so you can choose the right
                            person for your business. Think about: </p>
                        <ul>
                            <li>the tasks you need the employee to do</li>
                            <li>any skills and qualifications they’ll require</li>
                            <li>how busy the job will be</li>
                        </ul>"
                        icon="'../assets/icon-casestudy-blueblack.svg' | relative_url "
                        classes="two-col-layout green"
                        %}

                    </div>
                </div>

                <div class="component-example">
                    <div class="component-wrapper remove-element-padding p-4">
                        <div class="row">
                            <h3>Colour variations</h3>

                            <div class="col-6 col-sm-4 col-md-4 col-xl-3">
                                {% include component-examples/feature-box-colours.html
                                classes="teal"
                                colour="Teal"
                                top-icon="'../assets/icon-lightbulb-blueblack.svg' | relative_url "
                                %}
                            </div>

                            <div class="col-6 col-sm-4 col-md-4 col-xl-3">
                                {% include component-examples/feature-box-colours.html
                                classes="purple"
                                colour="Purple"
                                top-icon="'../assets/icon-lightbulb-blueblack.svg' | relative_url "
                                %}
                            </div>

                            <div class="col-6 col-sm-4 col-md-4 col-xl-3">
                                {% include component-examples/feature-box-colours.html
                                classes="orange"
                                colour="Orange"
                                top-icon="'../assets/icon-lightbulb-blueblack.svg' | relative_url "
                                %}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="component-example">
                    <div class="component-wrapper coloured-section remove-element-padding p-4">
                        <div class="row">
                            <h3>Coloured background sections - colour variations</h3>

                            <div class="col-6 col-sm-4 col-md-4 col-xl-3">
                                {% include component-examples/feature-box-colours.html
                                classes="teal colour-bkg"
                                colour="Teal"
                                top-icon="'../assets/icon-lightbulb-blueblack.svg' | relative_url "
                                %}
                            </div>

                            <div class="col-6 col-sm-4 col-md-4 col-xl-3">
                                {% include component-examples/feature-box-colours.html
                                classes="purple colour-bkg"
                                colour="Purple"
                                top-icon="'../assets/icon-lightbulb-blueblack.svg' | relative_url "
                                %}
                            </div>

                            <div class="col-6 col-sm-4 col-md-4 col-xl-3">
                                {% include component-examples/feature-box-colours.html
                                classes="orange colour-bkg"
                                colour="Orange"
                                top-icon="'../assets/icon-lightbulb-blueblack.svg' | relative_url "
                                %}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="component-example">
                    <div class="component-wrapper remove-element-padding p-4">
                        <div class="row">

                            <h3>Approved icons</h3>

                            <div class="col-6 col-md-4 mb-4">
                                {% include icon-example.html
                                src="'../assets/icon-lightbulb-blueblack.svg' | relative_url "
                                title="Tips"
                                classes=""
                                %}
                            </div>

                            <div class="col-6 col-md-4 mb-4">
                                {% include icon-example.html
                                src="'../assets/icon-casestudy-blueblack.svg' | relative_url "
                                title="Case studies / examples"
                                classes=""
                                %}
                            </div>

                            <div class="col-6 col-md-4 mb-4">
                                {% include icon-example.html
                                src="'../assets/icon-news-blueblack.svg' | relative_url "
                                title="News"
                                classes=""
                                %}
                            </div>



                        </div>
                    </div>
                </div>
            
            </div>


            <div class="tab-section non-branded ">


                {% include breakpoints.html
                    element-string="nb-feature-box"
                    lg-visibility="true"
                    sm-visibility="true"
                    final-visibility="true"
                    breakpoint-final="576"
                    %}
    
                    <!-- Component example -->
    
                    <div class="component-example m-0">

                        <div class="component-wrapper remove-element-padding p-4">

                            {% include non-branded-explanation.html
                                component="feature boxes"
                                brand-elements="colours, borders and icons"
                            %}
    
                            <h3>Layout: Single column - navigation page</h3>
    
                            {% include component-examples/featurebox-example.html
                                h2title="Tip - Assess your business needs"
                                content="<p>Before you start, it’s a good idea to assess your business needs so you can choose the right
                                person for your business. Think about: </p>
                            <ul>
                                <li>the tasks you need the employee to do</li>
                                <li>any skills and qualifications they’ll require</li>
                                <li>how busy the job will be</li>
                            </ul>"
                            icon="'../assets/Img-icon-placeholder.svg' | relative_url "
                            classes="full-width-layout non-branded nb-background"
                            %}
    
                            <h3>Layouts: Single column - 2/3 width layout and two column layouts</h3>
    
                            {% include component-examples/featurebox-example.html
                                h3title="Tip - Assess your business needs"
                                content="<p>Before you start, it’s a good idea to assess your business needs so you can choose the right
                                person for your business. Think about: </p>
                            <ul>
                                <li>the tasks you need the employee to do</li>
                                <li>any skills and qualifications they’ll require</li>
                                <li>how busy the job will be</li>
                            </ul>"
                            icon="'../assets/Img-icon-placeholder.svg' | relative_url "
                            classes="two-col-layout non-branded nb-background"
                            %}
    
                        </div>
                    </div>
    

            </div>

        </div>


        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://xd.adobe.com/view/9698488f-f1e5-4dc8-9e0d-01c4a4d1cb46-c3cb/screen/5a67f721-73a0-4c46-a565-9f590522c081/'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>Call out links can be used on all <a href={{ "brand-foundations/grid-and-page-layouts.html" | relative_url }}>page layouts</a> except the Two column - filter page layout.</p>


        {% include layouts-dropdown.html
            single-col-navpage-visibility="true"
            single-col-infopage-visibility="true"
            single-col-toolpage-visibility="true"
            two-col-infopage-visibility="true"
            two-col-toolpage-visibility="true"
            two-col-toolpage-alt-visibility="true"
        %}


        <div class="layout-example show single-col-navpage mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="single-col-navpage"

                singlelayout="true"
                allbp-img="'../assets/layout-images/Feature-box-1colfullwidth-allbp.png' | relative_url "
                allbp-rules="<p>The content area is 12 grid-columns wide.</p><p>Feature boxes span the full width of the content area.</p>"

                example-link="'../html-examples/single-col-navpage.html#featurebox-example' | relative_url'"
                example-link-text="View layout example"

            %}

        </div>


        <div class="layout-example single-col-infopage mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="single-col-infopage"

            min1200-visibility="true"
            min992-visibility="true"
            min768-visibility="true"
            min576-visibility="false"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 768px"

            min1200-img="'../assets/layout-images/feature-box-1col2thirdswidth-min1200.png' | relative_url "
            min992-img="'../assets/layout-images/feature-box-1col2thirdswidth-min992.png' | relative_url "
            min768-img="'../assets/layout-images/feature-box-1col2thirdswidth-min768.png' | relative_url "
            finalbp-img="'../assets/layout-images/feature-box-1col2thirdswidth-finalbp.png' | relative_url "

            min1200-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>Feature boxes span the full width of the content area.</p>"

            min992-rules="<p>The content area is 9 grid-columns wide.</p>
            <p>Feature boxes span the full width of the content area.</p>"

            min768-rules="<p>The content area is 11 grid-columns wide.</p>
            <p>Feature boxes span the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Feature boxes span the full width of the content area.</p>"

            example-link="'../html-examples/single-col-infopage.html#featurebox-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>


        <div class="layout-example single-col-toolpage mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="single-col-toolpage"

            min1200-visibility="true"
            min992-visibility="true"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 992px"

            min1200-img="'../assets/layout-images/onecol-toolpage-1200px-fullwidthcomponent.png' | relative_url "
            min992-img="'../assets/layout-images/onecol-toolpage-992px-fullwidthcomponent.png' | relative_url "
            finalbp-img="'../assets/layout-images/onecol-toolpage-finalbp-fullwidthcomponent.png' | relative_url "

            min1200-rules="<p>The content area is 9 grid-columns wide.</p>
            <p>Feature box components span the full width of the content area.</p>"

            min992-rules="<p>The content area is 10 grid-columns wide.</p>
            <p>Feature box components span the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Feature box components span the full width of the content area.</p>"

            example-link="'../html-examples/single-col-toolpage.html#featurebox-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>


        <div class="layout-example two-col-infopage mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="two-col-infopage"

            min1200-visibility="true"
            min992-visibility="false"
            min768-visibility="false"
            min576-visibility="true"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 576px"

            min1200-img="'../assets/layout-images/feature-box-2col-leftmenu-min1200.png' | relative_url "
            min576-img="'../assets/layout-images/feature-box-2col-leftmenu-min576.png' | relative_url "
            finalbp-img="'../assets/layout-images/feature-box-2col-leftmenu-finalbp.png' | relative_url "

            min1200-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>Feature boxes span the full width of the content area.</p>"

            min576-rules="<p>The content area is 9 grid-columns wide.</p>
            <p>Feature boxes span the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Feature boxes span the full width of the content area.</p>"

            example-link="'../html-examples/two-col-infopage.html#featurebox-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>


        <div class="layout-example two-col-toolpage mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="two-col-toolpage"

            min1200-visibility="false"
            min992-visibility="false"
            min768-visibility="true"
            min576-visibility="false"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 768px"


            min768-img="'../assets/layout-images/feature-box-2col-rightsidebar-min768.png' | relative_url "
            finalbp-img="'../assets/layout-images/feature-box-2col-rightsidebar-finalbp.png' | relative_url "


            min768x-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>Feature boxes span the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Feature boxes span the full width of the content area.</p>"

            example-link="'../html-examples/two-col-toolpage.html#featurebox-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>

        <div class="layout-example two-col-toolpage-alt mt-0 mb-5 px-4 py-0">
            
            {% include layouts-accordion.html 
                layout-name="two-col-toolpage-alt"
            
                min1200-visibility="false"
                min992-visibility="true"
                min768-visibility="true"
                min576-visibility="false"
                finalbp-visibility="true"
                
                finalbp="Breakpoint &lt; 768px"
            
                min992-img="'../assets/layout-images/feature-box-2col-rightsidebar-alt-min992.png' | relative_url "
                min768-img="'../assets/layout-images/feature-box-2col-rightsidebar-alt-min768.png' | relative_url "
                finalbp-img="'../assets/layout-images/feature-box-2col-rightsidebar-alt-finalbp.png' | relative_url "
            
                min992-rules="<p>The content area is 8 grid-columns wide.</p><p>Feature boxes span the full width of the content area.</p>"

                min768-rules="<p>The content area is 11 grid-columns wide.</p><p>Feature boxes span the full width of the content area.</p>"
            
                finalbp-rules="<p>The content area is 12 grid-columns wide.</p><p>Feature boxes span the full width of the content area.</p>"
            
                example-link="'../html-examples/two-col-toolpage-alt.html#featurebox-example' | relative_url'"
                example-link-text="View layout example"

            %}
            
        </div>




        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose: </h3>
        <p>Feature boxes highlight certain information in the context of a page.</p>
        <h3>When to use this component: </h3>
        <p>Used to highlight examples or latest news that may be of interest to the user. Typical uses can include:</p>
        <ul>
            <li>Latest news</li>
            <li>Examples and case studies</li>
            <li>Tips</li>
        </ul>


          <!-- VERSION HISTORY-->
          <h2 class="section-start" id="version-history">Version history</h2>
          <h4>8 August, 2023</h4>
          <ul>
              <li>Added an additional layout (the <strong>Two column - tool page alternate</strong> layout).</li>
          </ul>


    </div>