---

layout: content-tagged
title: Feature image pathway
description: Promote links to high-value content with a feature image.
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---



<div class="row">
    
    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
classes="in-page"

            link-1="Design" link-id-1="#design"
            link-2="Layouts" link-id-2="#layouts" 
            link-3="Guidelines for use" link-id-3="#guidelines-for-use" 
        %}
        
    </div>
    
    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-10">
   
          
        <!-- DESIGN -->   
        <h2 class="section-start" id="design">Design</h2>


        {% include section-tabs.html

            tab1="business.gov.au branding"
            tab1value="bga-branded"
    
            tab2="No branding"
            tab2value="non-branded"
    
            %}
    
    
            <div class="tab-sections-wrapper ">
    
    
                <div class="tab-section bga-branded selected">

                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html
                            element-string="feature-pathway"
                            xl-visibility="true"    
                            md-visibility="true"
                            final-visibility="true"
                            breakpoint-final="768"
                        %}

                        <!-- Component example -->

                        <div class="component-example m-0">
                            <div class="component-wrapper remove-element-padding p-4">
                
                            <h3>Layout: Single column - full width</h3>
                            <div class="feature-example-wrapper full-width-layout">

                                    {% include component-examples/feature-image-pathway-example.html 
                                        image="'../assets/potter-on-computer.jpg' | relative_url " 
                                        title="Feature image pathway heading Lorem ipsum dolor sit amet"
                                        description="Morbi sit amet nunc eget nisl eleifend viverra nec consequat nunc. Proin mauris quam, rhoncus feugiat euismod nec, imperdiet in lorem."
                                        icon1="'../assets/icon-arrow-right-black.svg' | relative_url "
                                    %} 
                            
                                </div>
                                
                                <h3>Layouts: Single column - 2/3 width layout and two column layouts</h3>
                                
                                <div class="feature-example-wrapper two-col-layout">
                                    {% include component-examples/feature-image-pathway-example.html 
                                        image="'../assets/potter-on-computer.jpg' | relative_url " 
                                        title="Feature image pathway heading Lorem ipsum dolor sit amet"
                                        description="Morbi sit amet nunc eget nisl eleifend viverra nec consequat nunc. Proin mauris quam, rhoncus feugiat euismod nec, imperdiet in lorem."
                                        icon1="'../assets/icon-arrow-right-black.svg' | relative_url "
                                    %}
                                </div>

                            </div>
                        </div>

                </div>

                <div class="tab-section non-branded">

                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html
                        element-string="feature-pathway-nb"
                        xl-visibility="true"    
                        md-visibility="true"
                        final-visibility="true"
                        breakpoint-final="768"
                    %}

                    <!-- Component example -->

                    <div class="component-example m-0">
                        <div class="component-wrapper remove-element-padding p-4">
                            {% include non-branded-explanation.html
                                component="feature image pathway"
                                brand-elements="colours, borders and images"
                            %}
            
                        <h3>Layout: Single column - full width</h3>
                        <div class="feature-example-wrapper full-width-layout">

                                {% include component-examples/feature-image-pathway-example.html 
                                    image="'../assets/img-placeholder-2.svg' | relative_url "  
                                    title="Feature image pathway heading Lorem ipsum dolor sit amet"
                                    description="Morbi sit amet nunc eget nisl eleifend viverra nec consequat nunc. Proin mauris quam, rhoncus feugiat euismod nec, imperdiet in lorem."
                                    classes="non-branded"
                                    icon1="'../assets/icon-arrow-right-black.svg' | relative_url "
                                %} 
                        
                            </div>
                            
                            <h3>Layouts: Single column - 2/3 width layout and two column layouts</h3>
                            
                            <div class="feature-example-wrapper two-col-layout">
                                {% include component-examples/feature-image-pathway-example.html 
                                    image="'../assets/img-placeholder-2.svg' | relative_url "  
                                    title="Feature image pathway heading Lorem ipsum dolor sit amet"
                                    description="Morbi sit amet nunc eget nisl eleifend viverra nec consequat nunc. Proin mauris quam, rhoncus feugiat euismod nec, imperdiet in lorem."
                                    classes="non-branded"
                                    icon1="'../assets/icon-arrow-right-black.svg' | relative_url "
                                %}
                            </div>

                        </div>
                    </div>

                </div>


            </div>


        <!-- Design specifications link -->

        {% include design-specs-link.html 
            btn-link="'https://xd.adobe.com/view/9698488f-f1e5-4dc8-9e0d-01c4a4d1cb46-c3cb/screen/2b5975e4-4509-4e48-bdf6-bfa3328b5618/'"
            btn-text="View design specifications"
            %}


        <!-- LAYOUTS -->   
        <h2 class="section-start" id="layouts">Layouts</h2>
        
        <p>Feature image pathways can be used in all <a href={{ "brand-foundations/grid-and-page-layouts.html" | relative_url }} >page layouts</a> except the two column - left filters layout.</p>
        
        {% include layouts-dropdown.html 
            single-col-fullwidth-visibility="true" 
            single-col-twothirds-visibility="true" 
            two-col-leftmenu-visibility="true" 
            two-col-rightsidebar-visibility="true" 
        %}
        
        <div class="layout-example single-col-fullwidth mt-0 mb-5 px-4 py-0">
            
            {% include layouts-accordion.html 
                layout-name="onecol-fw"
            
                singlelayout="true"
                
                allbp-img="'../assets/layout-images/featureimage-1colfullwidth-allbp.png' | relative_url "
            
                allbp-rules="<p>The content area is 12 grid-columns wide.</p><p>Feature pathway tiles are full width spanning 12 grid-columns each.</p>"
            
                example-link="'../html-examples/single-col-full-width.html#feature-example' | relative_url'"
                example-link-text="View layout example"
                
            %}
            
            
        </div>
        
        
        <div class="layout-example single-col-twothirdswidth mt-0 mb-5 px-4 py-0">
            
            {% include layouts-accordion.html 
                layout-name="onecol-twothirdsw"    
            
                min1200-visibility="true"
                min992-visibility="true"
                min768-visibility="true"
                min576-visibility="false"
                finalbp-visibility="true"
                
                finalbp="Breakpoint &lt; 768px"
            
                min1200-img="'../assets/layout-images/featureimage-1col2thirdswidth-min1200.png' | relative_url "
                min992-img="'../assets/layout-images/featureimage-1col2thirdswidth-min992.png' | relative_url "
                min768-img="'../assets/layout-images/featureimage-1col2thirdswidth-min768.png' | relative_url "
                finalbp-img="'../assets/layout-images/featureimage-1col2thirdswidth-finalbp.png' | relative_url "
                
                min1200-rules="<p>The content area is 8 grid-columns wide.</p><p>Feature image components span the full width of the content area.</p>"
            
                min992-rules="<p>The content area is 9 grid-columns wide.</p><p>Feature image components span the full width of the content area.</p>"
            
                min768-rules="<p>The content area is 11 grid-columns wide.</p><p>Feature image components span the full width of the content area.</p>"
            
                finalbp-rules="<p>The content area is 12 grid-columns wide.</p><p>Feature image components span the full width of the content area.</p>"
            
                example-link="'../html-examples/single-col-two-thirds-width.html#feature-example' | relative_url'"
                example-link-text="View layout example"
                
            %}
            
        </div>
        
        
        <div class="layout-example two-col-leftmenu mt-0 mb-5 px-4 py-0">
            
            {% include layouts-accordion.html 
                layout-name="twocol-leftmenu"
                
                min1200-visibility="true"
                min992-visibility="false"
                min768-visibility="false"
                min576-visibility="true"
                finalbp-visibility="true"
                
                finalbp="Breakpoint &lt; 576px"
            
                min1200-img="'../assets/layout-images/featureimage-2col-leftmenu-min1200.png' | relative_url "
                min576-img="'../assets/layout-images/featureimage-2col-leftmenu-min576.png' | relative_url "
                finalbp-img="'../assets/layout-images/featureimage-2col-leftmenu-finalbp.png' | relative_url "
                
                min1200-rules="<p>The content area is 8 grid-columns wide.</p><p>Feature image components span the full width of the content area.</p>"
            
                min576-rules="<p>The content area is 9 grid-columns wide.</p><p>Feature image components span the full width of the content area.</p>"
            
                finalbp-rules="<p>The content area is 12 grid-columns wide.</p><p>Feature image components span the full width of the content area.</p>"
            
                example-link="'../html-examples/two-col-left-side-menu.html#feature-example' | relative_url'"
                example-link-text="View layout example"
                
            %}
            
        </div>
        
        
        <div class="layout-example two-col-rightsidebar mt-0 mb-5 px-4 py-0">
            
            {% include layouts-accordion.html 
                layout-name="twocol-rightbar"
            
                min1200-visibility="false"
                min992-visibility="false"
                min768-visibility="true"
                min576-visibility="false"
                finalbp-visibility="true"
                
                finalbp="Breakpoint &lt; 768px"
            

                min768-img="'../assets/layout-images/featureimage-2col-rightsidebar-min768.png' | relative_url "
                finalbp-img="'../assets/layout-images/featureimage-2col-rightsidebar-finalbp.png' | relative_url "
            
        
                min768-rules="<p>The content area is 8 grid-columns wide.</p><p>Feature image components span the full width of the content area.</p>"
            
                finalbp-rules="<p>The content area is 12 grid-columns wide.</p><p>Feature image components span the full width of the content area.</p>"
            
                example-link="'../html-examples/two-col-right-sidebar.html#feature-example' | relative_url'"
                example-link-text="View layout example"

            %}
            
        </div>
        
        



        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose: </h3>
        <p>Feature image pathways are used to promote content (often on a temporary basis). They provide a high profile pathway (with an image) to another page on the website.   </p>
        <h3>When to use this component: </h3>
        <ul>
            <li>Feature image pathways are most commonly used to promote particular news articles on the home page. </li>
        </ul>
        <h3>Content rules: </h3>
        <ul>
            <li>Display description. </li>
            <li>Display content type label. </li>
            <li>No alt text for pathway image.</li>
        </ul>     
        </div>
        
