---

layout: content-tagged
title: Get contract call to action
description: Provide users with the ability to download or email a contract.
breadcrumb1: Components
url1: /components.html
bga-tag: false
subsite-tag: true

---


<div class="row">
    
    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
classes="in-page"

            link-1="Design" link-id-1="#design"
            link-2="Layouts" link-id-2="#layouts" 
            link-3="Guidelines for use" link-id-3="#guidelines-for-use" 
        %}
        
    </div>
    
    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-8">
   
          
        <!-- DESIGN -->   
        <h2 class="section-start" id="design">Design</h2>


        {% include section-tabs.html

            tab1="business.gov.au branding"
            tab1value="bga-branded"
    
            tab2="No branding"
            tab2value="non-branded"
    
            %}
    
    
            <div class="tab-sections-wrapper ">
    
    
                <div class="tab-section bga-branded selected">

                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html 
                        element-string="bga-contract-callout-box"
                        sm-visibility="true"
                        xs-visibility="true"
                        final-visibility="true"
                        breakpoint-final="350"
                    %}

                    <!-- Component example -->

                    <div class="component-example narrow m-0">
                        <div class="component-wrapper remove-element-padding p-4">

                        <p><strong>Email verification code: 1234</strong></p>
                    
                        {% include component-examples/get-contract-example.html
                            title="Get your contract"
                            classes="teal"
                            id-prefix="bga"
                        %}

                       
                        
                        </div>
                        
                    </div>

                </div>


                <div class="tab-section non-branded">

                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html 
                        element-string="nb-contract-callout-box"
                        sm-visibility="true"
                        xs-visibility="true"
                        final-visibility="true"
                        breakpoint-final="350"
                    %}

                    <!-- Component example -->

                    <div class="component-example narrow m-0">
                        <div class="component-wrapper remove-element-padding p-4">
                            
                        {% include non-branded-explanation.html
                            component="call to action"
                            brand-elements="colours, borders, icons and button styles"
                        %}
                        
                        <p><strong>Email verification code: 1234</strong></p>

                       {% include component-examples/get-contract-example.html
                            title="Get your contract"
                            classes="non-branded nb-background"
                            id-prefix="nb"
                        %}
                      
                            
                        </div>
                        
                    </div>

                </div>

            </div>
        
        
            



        <!-- Design specifications link -->

        {% include design-specs-link.html 
            btn-link="'https://xd.adobe.com/view/9698488f-f1e5-4dc8-9e0d-01c4a4d1cb46-c3cb/screen/4ed2d7e4-1f35-4df0-82ae-7a4b5e21f4a1/'"
            btn-text="View design specifications"
            %}


        <!-- LAYOUTS -->   
        <h2 class="section-start" id="layouts">Layouts</h2>
        
        <p>Get contract call to action components can be used on all <a href={{ "brand-foundations/grid-and-page-layouts.html" | relative_url }} >page layouts</a> except the single column - full width layout and the two column - left filters layout.</p> 
       
       
        {% include layouts-dropdown.html 
            single-col-twothirds-visibility="true" 
            two-col-leftmenu-visibility="true" 
            two-col-rightsidebar-visibility="true" 
        %}
        
        <div class="layout-example single-col-twothirdswidth mt-0 mb-5 px-4 py-0">
            
            {% include layouts-accordion.html 
                layout-name="onecol-twothirdsw"    
            
                min1200-visibility="true"
                min992-visibility="true"
                min768-visibility="true"
                min576-visibility="false"
                finalbp-visibility="true"
                
                finalbp="Breakpoint &lt; 768px"
            
                min1200-img="'../assets/layout-images/calltoaction-1col2thirdswidth-min1200.png' | relative_url "
                min992-img="'../assets/layout-images/calltoaction-1col2thirdswidth-min992.png' | relative_url "
                min768-img="'../assets/layout-images/calltoaction-1col2thirdswidth-min768.png' | relative_url "
                finalbp-img="'../assets/layout-images/calltoaction-1col2thirdswidth-finalbp.png' | relative_url "
                
                min1200-rules="<p>The content area is 8 grid-columns wide.</p><p>Get contract call to action components span the full width of the content area.</p>"
            
                min992-rules="<p>The content area is 9 grid-columns wide.</p><p>Get contract call to action components span the full width of the content area.</p>"
            
                min768-rules="<p>The content area is 11 grid-columns wide.</p><p>Get contract call to action components span the full width of the content area.</p>"
            
                finalbp-rules="<p>The content area is 12 grid-columns wide.</p><p>Get contract call to action components span the full width of the content area.</p>"
      
            %}
            
        </div>
        
        
        <div class="layout-example two-col-leftmenu mt-0 mb-5 px-4 py-0">
            
            {% include layouts-accordion.html 
                layout-name="twocol-leftmenu"
                
                min1200-visibility="true"
                min992-visibility="false"
                min768-visibility="false"
                min576-visibility="true"
                finalbp-visibility="true"
                
                finalbp="Breakpoint &lt; 576px"
            
                min1200-img="'../assets/layout-images/calltoaction-2col-leftmenu-min1200.png' | relative_url "
                min576-img="'../assets/layout-images/calltoaction-2col-leftmenu-min576.png' | relative_url "
                finalbp-img="'../assets/layout-images/calltoaction-2col-leftmenu-finalbp.png' | relative_url "
                
                min1200-rules="<p>The content area is 8 grid-columns wide.</p><p>Get contract call to action components span the full width of the content area.</p>"
            
                min576-rules="<p>The content area is 9 grid-columns wide.</p><p>Get contract call to action components span the full width of the content area.</p>"
            
                finalbp-rules="<p>The content area is 12 grid-columns wide.</p><p>Get contract call to action components span the full width of the content area.</p>"
            
            %}
            
        </div>
        
        
        <div class="layout-example two-col-rightsidebar mt-0 mb-5 px-4 py-0">
            
            {% include layouts-accordion.html 
                layout-name="twocol-rightbar"
            
                min1200-visibility="false"
                min992-visibility="false"
                min768-visibility="true"
                min576-visibility="false"
                finalbp-visibility="true"
                
                finalbp="Breakpoint &lt; 768px"
            

                min768-img="'../assets/layout-images/calltoaction-2col-rightsidebar-min768.png' | relative_url "
                finalbp-img="'../assets/layout-images/calltoaction-2col-rightsidebar-finalbp.png' | relative_url "
            
                min768-rules="<p>The content area is 8 grid-columns wide.</p><p>Get contract call to action components span the full width of the content area.</p>"
            
                finalbp-rules="<p>The content area is 12 grid-columns wide.</p><p>Get contract call to action components span the full width of the content area.</p>"
            
               

            %}
            
        </div>
        
        
        
        
    

        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h4>Purpose:</h4>
        <p>The Get contract call to action is used to provide users with the ability to downoad or email a document. The component includes a verification process for verifying the users email address.</p>
        
        <h4>When to use this component:</h4>
        <ul>
            <li>Used in the Employment Contract Tool to allow users to download or email an employment contract.</li>
            <li>This component could be adapted to downloading / emailing documents in other contexts.
        </ul>
       
            
        </div>
        
