---

layout: content-tagged
title: Global alert
description: Alert users to current issues on the site with a message at the top of every page.
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---


<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
        classes="in-page"

        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-10">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        <!-- Breakpoint radio buttons -->
        {% include breakpoints.html
        sm-visibility="true"
        final-visibility="true"
        breakpoint-final="576"
        %}

        <!-- Component example -->

        <div class="component-example m-0">
            <div class="component-wrapper remove-element-padding py-0">

                {% include component-examples/global-alert-example.html
                message="<p><strong>We’ll be updating our website on Wednesday 16 December 2020 between 6am and 8am (AEDT). See our <a href=''>service availability page</a> for more information.</p></strong>"
                %}

            </div>
        </div>

        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://xd.adobe.com/view/aa072634-b3aa-408b-966a-2e8f09cf920b-ff54/screen/24dd06d9-1344-4688-b131-15eef32a96c6/'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>Global alerts are used on <a href={{ "brand-foundations/grid-and-page-layouts.html" | relative_url }}>all page layouts</a>.</p>
       
        {% include layouts-dropdown.html
        layout-name="All layouts"
        singlelayout="true"
        %}

        <div class="layout-example show full-border mt-0 p-4">

            {% include layouts-accordion.html

            singlelayout="true"

            allbp-img="'../assets/layout-images/global-alert-allbp.png' | relative_url "

            allbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>The yellow background extends full width of the viewport.</p>
            <p>The close button sits in the top right of the screen (outside the content area)."

            %}

        </div>

        {% include design-specs-link.html 
            btn-link="'../html-examples/single-col-full-width.html' | relative_url"
            btn-text="View layout example"
            %}




        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose:</h3>
        <p>Global alerts warn users about current issues on the site with a message at the top of every page.</p>
        <p>Global alerts can be dismissed by the user with a close button in the top right corner. Once the user has dismissed a global alert it should not reappear on other pages of the site.</p>
        
        <h3>When to use this component:</h3>
        <ul>
            <li>Typically used for messages about scheduled site maintenance or releases.</li>
        </ul>
        


    </div>