---

layout: content-tagged
title: Grant rounds accordion
description: Link users to different rounds of a grant in the context of a grants page.
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
classes="in-page"

        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-8">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>


        {% include section-tabs.html

            tab1="Business.gov.au branding"
            tab1value="bga-branded"
    
            tab2="No branding"
            tab2value="non-branded"
    
            %}
    
    
            <div class="tab-sections-wrapper ">
    
    
                <div class="tab-section bga-branded selected">

                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html
                    element-string="bga-grants-accordion"
                    md-visibility="true"
                    sm-visibility="true"
                    final-visibility="true"
                    breakpoint-final="576"
                    %}

                    <!-- Component example -->

                    <div class="component-example m-0">
                        <div class="component-wrapper remove-element-padding p-4">

                            {% include component-examples/accordion-example.html

                            layout-name="accordion"

                            item1="true"
                            
                            title1="All grant rounds for this opportunity"

                            content1="<div class='round-row closed'>
                                    <div class='round-info'>
                                    <div class='round'>Round 1</div>
                                    <div class='tag'><span>Closed</span></div>
                                    </div>
                                    <div class='link'><a>Safer Communities Fund - Round 1 - Early Intervention Grants</a></div>
                                </div>
                                <div class='round-row open'>
                                    <div class='round-info'>
                                    <div class='round'>Round 2</div>
                                    <div class='tag'><span>Open</span></div>
                                    </div>
                                    <div class='link'>Safer Communities Fund - Round 2 - Early Intervention Grants</div>
                                </div>
                                <div class='round-row coming-soon'>
                                    <div class='round-info'>
                                    <div class='round'>Round 3</div>
                                    <div class='tag'><span>Coming soon</span></div>
                                    </div>
                                    <div class='link'><a>Safer Communities Fund - Round 3 - Early Intervention Grants</a></div>
                                </div>"

                            classes="grant-rounds no-openall"

                            %}

                        </div>
                    </div>

                </div>


                <div class="tab-section non-branded">

                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html
                    element-string="nb-grants-accordion"
                    sm-visibility="true"
                    final-visibility="true"
                    breakpoint-final="576"
                    %}

                    <!-- Component example -->

                    <div class="component-example m-0">
                        <div class="component-wrapper remove-element-padding p-4">

                            {% include non-branded-explanation.html
                                component="accordion"
                                brand-elements="colours and borders"
                            %}

                            {% include component-examples/accordion-example.html

                            layout-name="accordion"

                            item1="true"
                            
                            title1="All grant rounds for this opportunity"

                            content1="<div class='round-row closed'>
                                    <div class='round-info'>
                                    <div class='round'>Round 1</div>
                                    <div class='tag'><span>Closed</span></div>
                                    </div>
                                    <div class='link'><a>Safer Communities Fund - Round 1 - Early Intervention Grants</a></div>
                                </div>
                                <div class='round-row open'>
                                    <div class='round-info'>
                                    <div class='round'>Round 2</div>
                                    <div class='tag'><span>Open</span></div>
                                    </div>
                                    <div class='link'>Safer Communities Fund - Round 2 - Early Intervention Grants</div>
                                </div>
                                <div class='round-row coming-soon'>
                                    <div class='round-info'>
                                    <div class='round'>Round 3</div>
                                    <div class='tag'><span>Coming soon</span></div>
                                    </div>
                                    <div class='link'><a>Safer Communities Fund - Round 3 - Early Intervention Grants</a></div>
                                </div>"

                            classes="grant-rounds no-openall non-branded"

                            %}

                        </div>
                    </div>

                </div>



            </div>


        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://xd.adobe.com/view/9698488f-f1e5-4dc8-9e0d-01c4a4d1cb46-c3cb/screen/72aa6f31-283d-422f-9a4d-fa75edb1f8ba'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>Accordions can be used on the <a href={{ "brand-foundations/grid-and-page-layouts.html" | relative_url }}>single column - two thirds width layout</a> and the <a href={{ "brand-foundations/grid-and-page-layouts.html" | relative_url }}>two column - left side menu layout</a> .</p>


        {% include layouts-dropdown.html
        single-col-twothirds-visibility="true"
        two-col-leftmenu-visibility="true"
        %}


        <div class="layout-example single-col-twothirdswidth mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="onecol-twothirdsw"

            min1200-visibility="true"
            min992-visibility="true"
            min768-visibility="true"
            min576-visibility="false"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 768px"

            min1200-img="'../assets/layout-images/grantround-1col2thirdswidth-min1200.png' | relative_url "
            min992-img="'../assets/layout-images/grantround-1col2thirdswidth-min992.png' | relative_url "
            min768-img="'../assets/layout-images/grantround-1col2thirdswidth-min768.png' | relative_url "
            finalbp-img="'../assets/layout-images/grantround-1col2thirdswidth-finalbp.png' | relative_url "

            min1200-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>The grant rounds accordion spans the full width of the content area.</p>"

            min992-rules="<p>The content area is 9 grid-columns wide.</p>
            <p>The grant rounds accordion spans the full width of the content area.</p>"

            min768-rules="<p>The content area is 11 grid-columns wide.</p>
            <p>The grant rounds accordion spans the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>The grant rounds accordion spans the full width of the content area.</p>"

            example-link="'../html-examples/single-col-two-thirds-width.html#grant-rounds-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>


        <div class="layout-example two-col-leftmenu mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="twocol-leftmenu"

            min1200-visibility="true"
            min992-visibility="false"
            min768-visibility="false"
            min576-visibility="true"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 576px"

            min1200-img="'../assets/layout-images/grantround-2col-leftmenu-min1200.png' | relative_url "
            min576-img="'../assets/layout-images/grantround-2col-leftmenu-min576.png' | relative_url "
            finalbp-img="'../assets/layout-images/grantround-2col-leftmenu-finalbp.png' | relative_url "

            min1200-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>The grant rounds accordion spans the full width of the content area.</p>"

            min576-rules="<p>The content area is 9 grid-columns wide.</p>
            <p>The grant rounds accordion spans the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>The grant rounds accordion spans the full width of the content area.</p>"

            example-link="'../html-examples/two-col-left-side-menu.html#grant-rounds-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>


        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose:</h3>
        <p>The grant rounds accordion provides links to a series of connected grant opportunities.</p>
        <h3>When to use this component:</h3>
        <ul>
            <li>Used on internal and external grant pages when there are multiple rounds of the grant / opportunity.</li>

        </ul>
        <h3>Content rules:</h3>
        <ul>
            <li>The grant rounds accordion should be used as a single accordion item with all related rounds listed within that item.</li>
            <li>The 'open all' link should not be used as the accordion should always be a single item.</li>
        </ul>

    </div>