---

layout: content-tagged
title: Grant status indicator
description: Display the current status of a grant in the context of a grants page.
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: false

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include anchor-menu.html
        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-10">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        <!-- Breakpoint radio buttons -->
        {% include breakpoints.html
        sm-visibility="true"
        final-visibility="true"
        breakpoint-final="576"
        %}

        <!-- Component example -->

        <div class="component-example m-0">
            <div class="component-wrapper remove-element-padding p-4">

                <h3>Open status</h3>

                {% include component-examples/grant-status-example.html
                status="Open"
                classes="open"
                icon="'../assets/icon-tick-green.svg' | relative_url "
                status-detail="Closing in 11 days"
                close-date="true"
                time-zone="true"
                application-detail="You can submit an expression of interest ipsum dolor sit amet, consectetur adipiscing elit. Fusce pulvinar luctus ipsum, sed sagittis neque venenatis in."
                what-get="Approximately $276 million available over three years from 2021–22 to 2023–24."
                who-for="Applicants affected by the 2019-20 bushfires, who are in an eligible Local Government Area, which are listed at Appendix A of the grant opportunity guidelines."
                %}


                <h3>Coming soon status</h3>

                {% include component-examples/grant-status-example.html
                status="Coming soon"
                classes="coming-soon"
                icon="'../assets/icon-comingsoon-orange.svg' | relative_url "
                status-detail="Open in 3 days"
                open-date="true"
                close-date="true"
                time-zone="true"
                application-detail="You can submit an expression of interest ipsum dolor sit amet."
                what-get="Approximately $276 million available over three years from 2021–22 to 2023–24."
                who-for="Applicants affected by the 2019-20 bushfires, who are in an eligible Local Government Area, which are listed at Appendix A of the grant opportunity guidelines."
                %}


                <h3>Closed status</h3>

                {% include component-examples/grant-status-example.html
                status="Closed"
                classes="closed"
                icon="'../assets/icon-closed-red.svg' | relative_url "
                status-detail="Round X opens in 25 days"
                application-detail="See <a>grant name - round X</a> for information on applying for the next round."
                what-get="Approximately $276 million available over three years from 2021–22 to 2023–24."
                who-for="Applicants affected by the 2019-20 bushfires, who are in an eligible Local Government Area, which are listed at Appendix A of the grant opportunity guidelines."
                %}

            </div>
        </div>



        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://xd.adobe.com/view/aa072634-b3aa-408b-966a-2e8f09cf920b-ff54/screen/befe07b8-f5ad-4edc-bc74-7aedb178ccdf/'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>Call out links can be used on <a href={{ "brand-foundations/grid-and-page-layouts.html" | relative_url }}> the single column - two thirds width layout and the two column - left side menu layout</a>.</p>

        {% include layouts-dropdown.html
        single-col-fullwidth-visibility="false"
        single-col-twothirds-visibility="true"
        two-col-leftmenu-visibility="true"
        two-col-rightsidebar-visibility="false"
        %}

        <div class="layout-example single-col-twothirdswidth mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="onecol-twothirdsw"

            min1200-visibility="true"
            min992-visibility="true"
            min768-visibility="true"
            min576-visibility="false"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 768px"

            min1200-img="'../assets/layout-images/grant-status-1col2thirdswidth-min1200.png' | relative_url "
            min992-img="'../assets/layout-images/grant-status-1col2thirdswidth-min992.png' | relative_url "
            min768-img="'../assets/layout-images/grant-status-1col2thirdswidth-min768.png' | relative_url "
            finalbp-img="'../assets/layout-images/grant-status-1col2thirdswidth-finalbp.png' | relative_url "

            min1200-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>Grant status components span the full width of the content area.</p>"

            min992-rules="<p>The content area is 9 grid-columns wide.</p>
            <p>Grant status components span the full width of the content area.</p>"

            min768-rules="<p>The content area is 11 grid-columns wide.</p>
            <p>Grant status components span the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Grant status components span the full width of the content area.</p>"

            example-link="'../html-examples/single-col-two-thirds-width.html#grant-status-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>

        <div class="layout-example two-col-leftmenu mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="twocol-leftmenu"

            min1200-visibility="true"
            min992-visibility="false"
            min768-visibility="false"
            min576-visibility="true"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 576px"

            min1200-img="'../assets/layout-images/grant-status-2col-leftmenu-min1200.png' | relative_url "
            min576-img="'../assets/layout-images/grant-status-2col-leftmenu-min576.png' | relative_url "
            finalbp-img="'../assets/layout-images/grant-status-2col-leftmenu-finalbp.png' | relative_url "

            min1200-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>Grant status components span the full width of the content area.</p>"

            min576-rules="<p>The content area is 9 grid-columns wide.</p>
            <p>Grant status components span the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Grant status components span the full width of the content area.</p>"

            example-link="'../html-examples/two-col-left-side-menu.html#grant-status-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>


        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose:</h3>
        <p>Displays the status of a grant or program. Either a green tick icon and &lsquo;Open&rsquo;, or a red no-entry
            icon and &lsquo;closed&rsquo;.</p>
        <h3>When to use this component:</h3>
        <p>This is added automatically whenever the status of the program is defined on the program page meta content.
        </p>

    </div>