---

layout: content-tagged
title: Guide vertical navigation
description: Provide the user with a high level view of the steps in a guide with links to all the guide content.
updated: 24 June, 2024
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
        classes="in-page"
        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        link-4="Version history" link-id-4="#version-history"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-8">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        {% include section-tabs.html

            tab1="business.gov.au branding"
            tab1value="bga-branded"
    
            tab2="No branding"
            tab2value="non-branded"
    
            %}
    
            <div class="tab-sections-wrapper">
                
                <div class="tab-section bga-branded selected">

                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html
                        element-string="bga-guide-navigation"
                        xl-visibility="true"
                        md-visibility="true"
                        sm-visibility="true"
                        xs-visibility="true"
                        final-visibility="true"
                        breakpoint-final="350"
                    %}

                    <!-- Component example -->

                    <div class="component-example m-0">
                        <div class="component-wrapper guide-inpage-example p-4">

                            <div class="guide-mobile-nav-trigger style-guide-example">
                                <button class="bga-btn bga-secondary-btn bkg-light d-flex align-items-center" tabindex="0" href="" role="button">Guide menu</button>
                                <p class="guide-step m-0">Step <span>1</span> of 6: <strong class="step-title">Make key decisions</strong></p>
                            </div>

                            {% include component-examples/guide-vertical-nav.html 
                                classes="style-guide-example" %}

                            <div class="mobile-nav-overlay"></div>

                        </div>
                    </div>

                </div>

                <div class="tab-section non-branded ">

                        <!-- Breakpoint radio buttons -->
                        {% include breakpoints.html
                            element-string="nb-guide-navigation"
                            xl-visibility="true"
                            md-visibility="true"
                            sm-visibility="true"
                            xs-visibility="true"
                            final-visibility="true"
                            breakpoint-final="350"
                        %}
    
                        <!-- Component example -->
    
                        <div class="component-example m-0">
                            <div class="component-wrapper guide-inpage-example non-branded p-4">

                                {% include non-branded-explanation.html
                                    component="guide vertical navigation"
                                    brand-elements="colours, borders and button styles"
                                %}
    
                                <div class="guide-mobile-nav-trigger style-guide-example">
                                    <button class="bga-btn bga-secondary-btn bkg-light d-flex align-items-center" tabindex="0" href="" role="button">Guide menu</button>
                                    <p class="guide-step m-0">Step <span>1</span> of 6: <strong class="step-title">Make key decisions</strong></p>
                                </div>
    
                                {% include component-examples/guide-vertical-nav.html 
                                    %}
    
                                <div class="mobile-nav-overlay"></div>
    
                            </div>
                        </div>
    
                   
    

                </div>

            </div>


        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://www.figma.com/design/CHiHC359mYGmZ1ziKHriDW/BGA-style-guide?node-id=767-26666&t=jeDiHTjVKEALvT9f-1'"
        btn-text="View design specifications"
        %}


        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>Guide vertical navigation is used on the <a href={{ "brand-foundations/grid-and-page-layouts.html#layout-twocol-guide" | relative_url }}>Two column - guide page layout</a>.</p>

        {% include layouts-dropdown.html
        layout-name="Two column - guide page"
        singlelayout="true"
        %}


        <div class="layout-example show two-col-guidepage mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="two-col-guidepage"

            min1200-visibility="true"
            min992-visibility="false"
            min768-visibility="true"
            min576-visibility="false"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 768px"

            min1200-img="'../assets/layout-images/twocol-guide-1200px-navigation.png' | relative_url "
            min768-img="'../assets/layout-images/twocol-guide-768px-navigation.png' | relative_url "
            finalbp-img="'../assets/layout-images/twocol-guide-finalbp-navigation.png' | relative_url "

            min1200-rules="<p>The guide navigation sits to the left of the content and is 3 grid-columns wide.</p>"

            min768-rules="<p>The guide navigation sits to the left of the content and is 4 grid-columns wide.</p>"

            finalbp-rules="<p>The guide navigation is not visible on screen. It is accessed through a trigger button located above the page content. The trigger has sticky behaviour and is fixed to the top of the screen on scroll.</p><p>When triggered the navigation slides in from the left filling 90% of the screen width.</p>"

            example-link="'../prototypes/sab/make-key-decisions.html' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>


        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose:</h3>
        <p>Guide vertical navigation is used to guide users through a series of connected pages or steps. It displays where the user is up to and provides links to other connected pages. It provides a high level overview of all associated information through links to content presented in a series of accordions.</p>
       
        <h3>When to use this component:</h3>
        <ul>
            <li>Used in the business.gov.au guide pattern</li>
        </ul>



         <!-- VERSION HISTORY-->
         <h2 class="section-start" id="version-history">Version history</h2>
         <h4>24 June, 2024</h4>
         <ul>
             <li>Created the guide vertical navigation component page.</li>
         </ul>
        


    </div>