---

layout: content-tagged
title: Guided search
description: Guide users through a series of questions to help them find relevant information.
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
classes="in-page"

        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-10">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        <!-- Breakpoint radio buttons -->
        {% include breakpoints.html
        element-string="stepped-navigation"
        sm-visibility="true"
        final-visibility="true"
        breakpoint-final="576"
        %}

        <!-- Component example -->

        <div class="component-example m-0">
            <div class="component-wrapper remove-element-padding py-4">

                <h3 class="ms-4">Multi-select questions</h3>
                
                    {% include component-examples/guided-search-multiselect.html
                        page-title="Tool title"
                        question="I am interested in"
                        description="<p class='mini'>Select one or more options</p>"
                        start-again="true"
                        previous="true"
                        button="Next"

                        select1="Advice"
                        select2="Concession"
                        select3="Funding"
                        select4="Mentorship"
                        select5="Scholarship"
                        select6="Subsidy"
                        select7="Tax rebate"
                        select8="Other"
                    %}


                <h3 class="ms-4">Single select questions</h3>

                {% include component-examples/guided-search-singleselect.html
                    page-title="Tool title"
                    question="My business is in the industry of"
                    start-again="true"
                    previous="true"
                    button="Next"

                    select1="Accommodation and food services"
                    select2="Administrative and support services"
                    select3="Arts and recreation services"
                    select4="Construction"
                    select5="Defence"
                    select6="Electricity, gas, water and waste services"
                    select7="Financial and insurance services"
                    select8="Information media and telecommunications"
                %}

              

                <h3 class="ms-4">Toggle questions</h3>
                
                {% include component-examples/guided-search-toggle.html
                    page-title="Tool title"
                    start-again="true"
                    previous="true"
                    button="Next"

                    toggle="I am of Aboriginal or Torres Strait Islander origin"
                %}

                

                <h3 class="ms-4">Secondary toggle questions</h3>
                
                {% include component-examples/guided-search-singleselect.html
                    page-title="Tool title"
                    question="My business is in the industry of"
                    start-again="true"
                    previous="true"
                    button="View results"

                    select1="Accommodation and food services"
                    select2="Administrative and support services"
                    select3="Arts and recreation services"
                    select4="Construction"
                    select5="Defence"
                    select6="Electricity, gas, water and waste services"
                    select7="Financial and insurance services"
                    select8="Information media and telecommunications"

                    toggle="Exclude grants for all industries"
                %}
                


            </div>
        </div>


        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://xd.adobe.com/view/9698488f-f1e5-4dc8-9e0d-01c4a4d1cb46-c3cb/screen/d3efe70e-4e93-4506-8d51-2637f365a0e1/'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>Guided search can be used on the <a href={{ "brand-foundations/grid-and-page-layouts.html" | relative_url }}>two column - left filters layout</a>. </p>


        {% include layouts-dropdown.html
        layout-name="All layouts"
        singlelayout="true"
        %}

        <div class="layout-example show full-border mt-0 mb-5 p-4">

            {% include layouts-accordion.html

            singlelayout="true"

            allbp-img="'../assets/layout-images/stepped-nav-allbp.png' | relative_url "

            allbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Stepped navigation components are 12 grid-columns wide.</p>
            <p>Stepped navigation components should only appear once in a page. They can be placed in the header (for tools) or at the top of the page content area.</p>"

            example-link="'../html-examples/ECB-content-page.html' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>


        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose:</h3>
        <p>The guided search pattern steps users through a series of questions to help them refine a set of results.</p>
        <p>Designed to be used in conjunction with tile filters to provide alternate ways of filtering information. When used in this way the guided search and filters work together to provide real time filtering of a set of results. An example of this design pattern can be seen in the business.gov.au <a href="https://business.gov.au/grants-and-programs">grants and programs finder</a>.</p>
        
        <h3>When to use this component:</h3>
        <ul>
            <li>Used in tools or search pages.</li>
        </ul>


    </div>