---

layout: content-tagged
title: Guided search
description: Guide users through a series of questions to help them find relevant information.
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
classes="in-page"

        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-10">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        {% include section-tabs.html

            tab1="business.gov.au branding"
            tab1value="bga-branded"
    
            tab2="No branding"
            tab2value="non-branded"
    
            %}
    
            <div class="tab-sections-wrapper ">
                
                <div class="tab-section bga-branded selected">

                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html
                    element-string="bga-guided-search"
                    sm-visibility="true"
                    xs-visibility="true"
                    final-visibility="true"
                    breakpoint-final="350"
                    %}

                    <!-- Component example -->

                    <div class="component-example m-0">
                        <div class="component-wrapper remove-element-padding py-4">

                            <h3 class="ms-4">Multi-select questions</h3>
                            
                                {% include component-examples/guided-search-multiselect.html
                                    page-title="Tool title"
                                    question="I am interested in"
                                    description="<p class='mini'>Select one or more options</p>"
                                    start-again="true"
                                    previous="true"
                                    button="Next"

                                    select1="Advice"
                                    select2="Concession"
                                    select3="Funding"
                                    select4="Mentorship"
                                    select5="Scholarship"
                                    select6="Subsidy"
                                    select7="Tax rebate"
                                    select8="Other"
                                %}


                            <h3 class="ms-4">Single select questions</h3>

                            {% include component-examples/guided-search-singleselect.html
                                page-title="Tool title"
                                question="My business is in the industry of"
                                start-again="true"
                                previous="true"
                                button="Next"

                                select1="Accommodation and food services"
                                select2="Administrative and support services"
                                select3="Arts and recreation services"
                                select4="Construction"
                                select5="Defence"
                                select6="Electricity, gas, water and waste services"
                                select7="Financial and insurance services"
                                select8="Information media and telecommunications"
                            %}

                        

                            <h3 class="ms-4">Toggle questions</h3>
                            
                            {% include component-examples/guided-search-toggle.html
                                page-title="Tool title"
                                start-again="true"
                                previous="true"
                                button="Next"

                                toggle="I am of Aboriginal or Torres Strait Islander origin"
                            %}

                            

                            <h3 class="ms-4">Secondary toggle questions</h3>
                            
                            {% include component-examples/guided-search-singleselect.html
                                page-title="Tool title"
                                question="My business is in the industry of"
                                start-again="true"
                                previous="true"
                                button="View results"

                                select1="Accommodation and food services"
                                select2="Administrative and support services"
                                select3="Arts and recreation services"
                                select4="Construction"
                                select5="Defence"
                                select6="Electricity, gas, water and waste services"
                                select7="Financial and insurance services"
                                select8="Information media and telecommunications"

                                toggle="Exclude grants for all industries"
                            %}
                            


                        </div>
                    </div>

                </div>

                <div class="tab-section non-branded ">

                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html
                        element-string="nb-guided-search"
                        sm-visibility="true"
                        xs-visibility="true"
                        final-visibility="true"
                        breakpoint-final="350"
                        %}
    
                        <!-- Component example -->
    
                        <div class="component-example m-0">
                            <div class="component-wrapper remove-element-padding py-4">
    
                                <h3 class="ms-4">Multi-select questions</h3>
                                
                                    {% include component-examples/guided-search-multiselect.html
                                        page-title="Tool title"
                                        question="I am interested in"
                                        description="<p class='mini'>Select one or more options</p>"
                                        start-again="true"
                                        previous="true"
                                        button="Next"
    
                                        select1="Advice"
                                        select2="Concession"
                                        select3="Funding"
                                        select4="Mentorship"
                                        select5="Scholarship"
                                        select6="Subsidy"
                                        select7="Tax rebate"
                                        select8="Other"

                                        classes="non-branded"
                                    %}
    
    
                                <h3 class="ms-4">Single select questions</h3>
    
                                {% include component-examples/guided-search-singleselect.html
                                    page-title="Tool title"
                                    question="My business is in the industry of"
                                    start-again="true"
                                    previous="true"
                                    button="Next"
    
                                    select1="Accommodation and food services"
                                    select2="Administrative and support services"
                                    select3="Arts and recreation services"
                                    select4="Construction"
                                    select5="Defence"
                                    select6="Electricity, gas, water and waste services"
                                    select7="Financial and insurance services"
                                    select8="Information media and telecommunications"

                                    classes="non-branded"
                                %}
    
                            
    
                                <h3 class="ms-4">Toggle questions</h3>
                                
                                {% include component-examples/guided-search-toggle.html
                                    page-title="Tool title"
                                    start-again="true"
                                    previous="true"
                                    button="Next"
    
                                    toggle="I am of Aboriginal or Torres Strait Islander origin"

                                    classes="non-branded"
                                %}
    
                                
    
                                <h3 class="ms-4">Secondary toggle questions</h3>
                                
                                {% include component-examples/guided-search-singleselect.html
                                    page-title="Tool title"
                                    question="My business is in the industry of"
                                    start-again="true"
                                    previous="true"
                                    button="View results"
    
                                    select1="Accommodation and food services"
                                    select2="Administrative and support services"
                                    select3="Arts and recreation services"
                                    select4="Construction"
                                    select5="Defence"
                                    select6="Electricity, gas, water and waste services"
                                    select7="Financial and insurance services"
                                    select8="Information media and telecommunications"
    
                                    toggle="Exclude grants for all industries"

                                    classes="non-branded"
                                %}
                                
    
    
                            </div>
                        </div>

                </div>

            </div>


        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://www.figma.com/design/CHiHC359mYGmZ1ziKHriDW/BGA-style-guide?node-id=623-827&t=Y0RG7T4JJjmDsKJf-1'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>Guided search can be used on the <a href={{ "brand-foundations/grid-and-page-layouts.html" | relative_url }}>Two column - filter page layout</a>. </p>


        {% include layouts-dropdown.html
        layout-name="Two column - filter page"
        singlelayout="true"
        %}

        <div class="layout-example show full-border mt-0 mb-5 p-4">

            {% include layouts-accordion.html

            singlelayout="true"

            allbp-img="'../assets/layout-images/guided-search-2col-leftfilters-allbp.png' | relative_url "

            allbp-rules="<p>Guided search components are 12 grid-columns wide and sit within the page header.</p>"

            %}

        </div>


        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose:</h3>
        <p>The guided search steps users through a series of questions to help them refine a set of results. It is designed to be used with the tile filters to provide an alternate way of filtering information. The guided search and filters work together to provide real-time filtering of a set of results. An example of this design pattern is the business.gov.au <a href="https://business.gov.au/grants-and-programs">grants and programs finder</a>.</p>
        
        <h3>When to use this component:</h3>
        <ul>
            <li>Used in tools or search pages.</li>
        </ul>


    </div>