---

layout: content-tagged
title: Hero pathway list
description: Link to high-value content on the site.
updated: 8 August, 2023
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
        classes="in-page"

        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        link-4="Version history" link-id-4="#version-history"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-10">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        {% include section-tabs.html 
            
            tab1="business.gov.au branding"
            tab1value="bga-branded"

            tab2="No branding"
            tab2value="non-branded"

        %}

        <div class="tab-sections-wrapper ">

            <!-- BGA branding -->
            <div class="tab-section bga-branded selected">

                <!-- Breakpoint radio buttons -->
                {% include breakpoints.html
                element-string="hero-pathway-bga"
                lg-visibility="true"
                final-visibility="true"
                breakpoint-final="992"
                %}

                <!-- Component example -->

                <div class="component-example m-0">
                    <div class="component-wrapper remove-element-padding p-4">


                        <h3>Large hero pathway with internal link</h3>
                        <div class="row">
                        <div class="col-12">
                            {% include component-examples/hero-pathway-example.html
                            image="'../assets/illustrations/person-shop.svg' | relative_url "
                            classes="border-purple"
                            title="Hero pathway heading Lorem ipsum dolor sit amet"
                            description="Morbi sit amet nunc eget nisl eleifend viverra nec consequat nunc. Proin mauris
                            quam, rhoncus feugiat euismod nec, imperdiet in lorem."
                            %}
                        </div>
                        </div>



                        <h3>Large hero pathway with external link</h3>

                        <div class="row">
                        <div class="col-12">
                            {% include component-examples/hero-pathway-example.html
                            image="'../assets/illustrations/computer-success.svg' | relative_url "
                            classes="border-blue external"
                            external-link="Australian Taxation Office"
                            title="Hero pathway heading"
                            description="Morbi sit amet nunc eget nisl eleifend viverra nec consequat nunc. "
                            %}
                        </div>
                        </div>


                        <h3>Small hero pathways</h3>

                        <div class="row">
                        <div class="col-12 col-md-6">
                            {% include component-examples/hero-pathway-example.html
                            classes="border-green small-hero"
                            title="Hero pathway heading Lorem ipsum dolor sit amet"
                            description="Morbi sit amet nunc eget nisl eleifend viverra nec consequat nunc. Proin mauris
                            quam, rhoncus feugiat euismod nec, imperdiet in lorem."
                            %}
                        </div>

                        <div class="col-12 col-md-6">
                            {% include component-examples/hero-pathway-example.html
                            classes="border-yellow small-hero external"
                            external-link="IP Australia"
                            title="Lorem ipsum dolor sit amet"
                            description="Proin mauris quam, rhoncus feugiat euismod nec, imperdiet in lorem."
                            %}
                        </div>
                        </div>


                    </div>
                </div>

                <div class="component-example m-0">
                    <div class="component-wrapper remove-element-padding p-4">
                        <h3>Colour variations</h3>

                        <div class="colour-options-wrapper">
                            {% include component-examples/hero-colours.html
                            hero-classes="border-blue"
                            external-link="Blue"
                            %}

                            {% include component-examples/hero-colours.html
                            hero-classes="border-teal"
                            external-link="Teal"
                            %}

                            {% include component-examples/hero-colours.html
                            hero-classes="border-green"
                            external-link="Green"
                            %}

                            {% include component-examples/hero-colours.html
                            hero-classes="border-yellow"
                            external-link="Yellow"
                            %}

                            {% include component-examples/hero-colours.html
                            hero-classes="border-orange"
                            external-link="Orange"
                            %}

                            {% include component-examples/hero-colours.html
                            hero-classes="border-purple"
                            external-link="Purple"
                            %}
                        </div>

                    </div>
                </div>
            </div>

            <!-- Non branded -->
            <div class="tab-section non-branded ">

                <!-- Breakpoint radio buttons -->
                {% include breakpoints.html
                element-string="hero-pathway"
                lg-visibility="true"
                final-visibility="true"
                breakpoint-final="992"
                %}

                <div class="component-example m-0">
                    <div class="component-wrapper remove-element-padding p-4">

                        {% include non-branded-explanation.html
                            component="hero pathways"
                            brand-elements="colours, borders and images"
                        %}


                        <h3>Large hero pathway</h3>

                        <div class="row">
                        <div class="col-12">
                            {% include component-examples/hero-pathway-example.html
                            image="'../assets/img-placeholder-1.svg' | relative_url "
                            classes="non-branded nb-border"
                            title="Hero pathway heading Lorem ipsum dolor sit amet"
                            description="Morbi sit amet nunc eget nisl eleifend viverra nec consequat nunc. Proin mauris quam, rhoncus feugiat euismod nec, imperdiet in lorem."
                            %}
                        </div>
                        </div>


                        <h3>Small hero pathways</h3>

                        <div class="row">
                            
                            <div class="col-12 col-md-6">
                            {% include component-examples/hero-pathway-example.html
                            classes="non-branded nb-border small-hero"
                            title="Hero pathway heading Lorem ipsum dolor sit amet"
                            description="Morbi sit amet nunc eget nisl eleifend viverra nec consequat nunc. Proin mauris
                            quam, rhoncus feugiat euismod nec, imperdiet in lorem."
                            %}
                            </div>

                            <div class="col-12 col-md-6">
                            {% include component-examples/hero-pathway-example.html
                            classes="non-branded nb-border small-hero"
                            external-link="IP Australia"
                            title="Lorem ipsum dolor sit amet"
                            description="Proin mauris quam, rhoncus feugiat euismod nec, imperdiet in lorem."
                            %}
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>



        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://xd.adobe.com/view/9698488f-f1e5-4dc8-9e0d-01c4a4d1cb46-c3cb/screen/4f2f85d9-aeda-476f-a5cf-6af7e81f4383/'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>Hero pathways can be used in all <a href={{ "brand-foundations/grid-and-page-layouts.html" | relative_url
                }}>page layouts</a> except the Two column - filter page layout.</p>

        {% include layouts-dropdown.html
        single-col-navpage-visibility="true"
        single-col-infopage-visibility="true"
        single-col-toolpage-visibility="true"
        two-col-infopage-visibility="true"
        two-col-toolpage-visibility="true"
        two-col-toolpage-alt-visibility="true"
        %}

        <div class="layout-example single-col-navpage mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="single-col-navpage"

            min1200-visibility="false"
            min992-visibility="true"
            min768-visibility="false"
            min576-visibility="true"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 576px"

            min992-img="'../assets/layout-images/hero-1colfullwidth-min992.png' | relative_url "
            min576-img="'../assets/layout-images/hero-1colfullwidth-min576.png' | relative_url "
            finalbp-img="'../assets/layout-images/hero-1colfullwidth-finalbp.png' | relative_url "


            min992-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Large hero pathway tiles span 8 grid-columns. Small hero pathway tiles span 4 grid-columns</p>"

            min576-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>All hero tiles are equal width spanning 6 grid-columns each.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>All hero tiles are equal width spanning 12 grid-columns each.</p>"

            example-link="'../html-examples/single-col-navpage.html#hero-layout-example' | relative_url'"
            example-link-text="View layout example"

            %}


        </div>


        <div class="layout-example single-col-infopage mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="single-col-infopage"

            min1200-visibility="true"
            min992-visibility="true"
            min768-visibility="true"
            min576-visibility="false"
            finalbp-visibility="false"

            finalbp="Breakpoint &lt; 768px"

            min1200-img="'../assets/layout-images/hero-1col2thirdswidth-min1200.png' | relative_url "
            min992-img="'../assets/layout-images/hero-1col2thirdswidth-min992.png' | relative_url "
            min768-img="'../assets/layout-images/hero-1col2thirdswidth-min768.png' | relative_url "
            finalbp-img="'../assets/layout-images/hero-1col2thirdswidth-finalbp.png' | relative_url "

            min1200-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>All hero tiles are equal width spanning the full width of the content area. All hero tiles used in this
                layout should have an illustration included.</p>"

            min992-rules="<p>The content area is 9 grid-columns wide.</p>
            <p>All hero tiles are equal width spanning the full width of the content area. All hero tiles used in this
                layout should have an illustration included.</p>"

            min768-rules="<p>The content area is 11 grid-columns wide.</p>
            <p>All hero tiles are equal width spanning the full width of the content area. All hero tiles used in this
                layout should have an illustration included.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>All hero tiles are equal width spanning the full width of the content area.</p>"

            example-link="'../html-examples/single-col-infopage.html#hero-layout-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>


        <div class="layout-example single-col-toolpage mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="single-col-toolpage"

            min1200-visibility="true"
            min992-visibility="true"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 992px"

            min1200-img="'../assets/layout-images/onecol-toolpage-1200px-fullwidthcomponent.png' | relative_url "
            min992-img="'../assets/layout-images/onecol-toolpage-992px-fullwidthcomponent.png' | relative_url "
            finalbp-img="'../assets/layout-images/onecol-toolpage-finalbp-fullwidthcomponent.png' | relative_url "

            min1200-rules="<p>The content area is 9 grid-columns wide.</p>
            <p>All hero tiles are equal width spanning the full width of the content area. All hero tiles used in this layout should have an illustration included.</p>"

            min992-rules="<p>The content area is 10 grid-columns wide.</p>
            <p>All hero tiles are equal width spanning the full width of the content area. All hero tiles used in this layout should have an illustration included.</p>"


            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>All hero tiles are equal width spanning the full width of the content area.</p>"

            example-link="'../html-examples/single-col-toolpage.html#hero-layout-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>


        <div class="layout-example two-col-infopage mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="two-col-infopage"

            min1200-visibility="true"
            min992-visibility="false"
            min768-visibility="false"
            min576-visibility="true"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 576px"

            min1200-img="'../assets/layout-images/hero-2col-leftmenu-min1200.png' | relative_url "
            min576-img="'../assets/layout-images/hero-2col-leftmenu-min576.png' | relative_url "
            finalbp-img="'../assets/layout-images/hero-2col-leftmenu-finalbp.png' | relative_url "


            min1200-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>All hero tiles are equal width spanning the full width of the content area. All hero tiles used in this
                layout should have an illustration included.</p>"

            min576-rules="<p>The content area is 9 grid-columns wide.</p>
            <p>All hero tiles are equal width spanning the full width of the content area. All hero tiles used in this
                layout should have an illustration included.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>All hero tiles are equal width spanning the full width of the content area.</p>"

            example-link="'../html-examples/two-col-infopage.html#hero-layout-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>


        <div class="layout-example two-col-toolpage mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="two-col-toolpage"

            min1200-visibility="false"
            min992-visibility="false"
            min768-visibility="true"
            min576-visibility="false"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 768px"


            min768-img="'../assets/layout-images/hero-2col-rightsidebar-min768.png' | relative_url "
            finalbp-img="'../assets/layout-images/hero-2col-rightsidebar-finalbp.png' | relative_url "


            min768-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>All hero tiles are equal width spanning the full width of the content area. All hero tiles used in this
                layout should have an illustration included.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>All hero tiles are equal width spanning the full width of the content area.</p>"

            example-link="'../html-examples/two-col-toolpage.html#hero-layout-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>

        <div class="layout-example two-col-toolpage-alt mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="two-col-toolpage-alt"

            min1200-visibility="false"
            min992-visibility="true"
            min768-visibility="true"
            min576-visibility="false"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 768px"

            min992-img="'../assets/layout-images/hero-2col-rightsidebar-alt-min992.png' | relative_url "
            min768-img="'../assets/layout-images/hero-2col-rightsidebar-alt-min768.png' | relative_url "
            finalbp-img="'../assets/layout-images/hero-2col-rightsidebar-alt-finalbp.png' | relative_url "

            min992-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>Hero pathway tiles span the full width of the content area.</p>"
            
            min768-rules="<p>The content area is 11 grid-columns wide.</p>
            <p>Hero pathway tiles span the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Hero pathway tiles span the full width of the content area.</p>"

            example-link="'../html-examples/two-col-toolpage-alt.html#hero-layout-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>



        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose: </h3>
        <p>Hero pathways enable the promotion of high-value internal content or services on the page.</p>
        <h3>When to use this component: </h3>
        <ul>
            <li>Used to promote or cross reference other high-value content or services on the website. </li>
            <li>Commonly used on the home and index pages to link to a list of other pages. </li>
            <li>They may also be used on content pages, but the link <strong>must</strong> be for a high priority
                task.</a> </li>
        </ul>


        <!-- VERSION HISTORY-->
        <h2 class="section-start" id="version-history">Version history</h2>
        <h4>8 August, 2023</h4>
        <ul>
            <li>Added an additional layout (the <strong>Two column - tool page alternate</strong> layout).</li>
        </ul>

    </div>