---

layout: content-tagged
title: Image
description: Display an image with a caption underneath.
updated: 8 August, 2023
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---


<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
classes="in-page"

        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        link-4="Version history" link-id-4="#version-history"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-8">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        {% include section-tabs.html

            tab1="business.gov.au branding"
            tab1value="bga-branded"
    
            tab2="No branding"
            tab2value="non-branded"
    
            %}
    
            <div class="tab-sections-wrapper ">
                
                <div class="tab-section bga-branded selected">

                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html
                    singlebp="true"
                    %}

                    <!-- Component example -->

                    <div class="component-example m-0">
                        <div class="component-wrapper remove-element-padding p-4">

                            <h3>Image component with caption</h3>

                                    {% include component-examples/image-example.html
                                    image="'../assets/woman_welding.jpg' | relative_url"
                                    alt-text="A woman in a workshop welding."
                                    description="Morbi sit amet nunc eget nisl eleifend viverra nec consequat nunc. Proin mauris
                                    quam, rhoncus feugiat euismod nec, imperdiet in lorem."
                                    %}


                                <h3>Image component without caption</h3>

                                    {% include component-examples/image-example.html
                                    image="'../assets/potter-on-computer.jpg' | relative_url"
                                    alt-text="A female pooter in her workshop looking at a laptop computer"
                                    %}
                    </div>
                    </div>

                </div>
                
                <div class="tab-section non-branded ">

                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html
                        singlebp="true"
                        %}
    
                        <!-- Component example -->
    
                        <div class="component-example m-0">
                            <div class="component-wrapper remove-element-padding p-4">

                                {% include non-branded-explanation.html
                                    component="image component"
                                    brand-elements="colours"
                                %}
    
                                {% include component-examples/image-example.html
                                image="'../assets/img-placeholder-2.svg' | relative_url"
                                alt-text="A woman in a workshop welding."
                                description="Morbi sit amet nunc eget nisl eleifend viverra nec consequat nunc. Proin mauris
                                quam, rhoncus feugiat euismod nec, imperdiet in lorem."
                                classes="non-branded"
                                %}
    
                        </div>
                        </div>

                </div>

            </div>


    <!-- Design specifications link -->

    {% include design-specs-link.html
    btn-link="'https://xd.adobe.com/view/9698488f-f1e5-4dc8-9e0d-01c4a4d1cb46-c3cb/screen/ad6ce2fe-8fc8-4fc1-901e-58809602f954/'"
    btn-text="View design specifications"
    %}


    <!-- LAYOUTS -->
    <h2 class="section-start" id="layouts">Layouts</h2>

    <p>Images can be used on all <a href={{ "brand-foundations/grid-and-page-layouts.html" | relative_url }}>page layouts</a> except the Single column - navigation page layout and the Two column - filter page layout.</p>


    {% include layouts-dropdown.html
    single-col-infopage-visibility="true"
    single-col-toolpage-visibility="true"
    two-col-infopage-visibility="true"
    two-col-toolpage-visibility="true"
    two-col-toolpage-alt-visibility="true"
    %}


    <div class="layout-example single-col-infopage mt-0 mb-5 px-4 py-0">

        {% include layouts-accordion.html
        layout-name="single-col-infopage"

        min1200-visibility="true"
        min992-visibility="true"
        min768-visibility="true"
        min576-visibility="false"
        finalbp-visibility="true"

        finalbp="Breakpoint &lt; 768px"

        min1200-img="'../assets/layout-images/images-1col2thirdswidth-min1200.png' | relative_url "
        min992-img="'../assets/layout-images/images-1col2thirdswidth-min992.png' | relative_url "
        min768-img="'../assets/layout-images/images-1col2thirdswidth-min768.png' | relative_url "
        finalbp-img="'../assets/layout-images/images-1col2thirdswidth-finalbp.png' | relative_url "

        min1200-rules="<p>The content area is 8 grid-columns wide.</p>
        <p>Images span the full width of the content area.</p>"

        min992-rules="<p>The content area is 9 grid-columns wide.</p>
        <p>Images span the full width of the content area.</p>"

        min768-rules="<p>The content area is 11 grid-columns wide.</p>
        <p>Images span the full width of the content area.</p>"

        finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
        <p>Images span the full width of the content area.</p>"

        example-link="'../html-examples/single-col-infopage.html#image-example' | relative_url'"
        example-link-text="View layout example"

        %}

    </div>


    <div class="layout-example two-col-infopage mt-0 mb-5 px-4 py-0">

        {% include layouts-accordion.html
        layout-name="two-col-infopage"

        min1200-visibility="true"
        min992-visibility="false"
        min768-visibility="false"
        min576-visibility="true"
        finalbp-visibility="true"

        finalbp="Breakpoint &lt; 576px"

        min1200-img="'../assets/layout-images/images-2col-leftmenu-min1200.png' | relative_url "
        min576-img="'../assets/layout-images/images-2col-leftmenu-min576.png' | relative_url "
        finalbp-img="'../assets/layout-images/images-2col-leftmenu-finalbp.png' | relative_url "

        min1200-rules="<p>The content area is 8 grid-columns wide.</p>
        <p>Images span the full width of the content area.</p>"

        min576-rules="<p>The content area is 9 grid-columns wide.</p>
        <p>Images span the full width of the content area.</p>"

        finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
        <p>Images span the full width of the content area.</p>"

        example-link="'../html-examples/two-col-infopage.html#image-example' | relative_url'"
        example-link-text="View layout example"

        %}

    </div>

    <div class="layout-example single-col-toolpage mt-0 mb-5 px-4 py-0">

        {% include layouts-accordion.html
        layout-name="single-col-toolpage"

        min1200-visibility="true"
        min992-visibility="true"
        finalbp-visibility="true"

        finalbp="Breakpoint &lt; 992px"

        min1200-img="'../assets/layout-images/onecol-toolpage-1200px-fullwidthcomponent.png' | relative_url "
        min992-img="'../assets/layout-images/onecol-toolpage-992px-fullwidthcomponent.png' | relative_url "
        finalbp-img="'../assets/layout-images/onecol-toolpage-finalbp-fullwidthcomponent.png' | relative_url "

        min1200-rules="<p>The content area is 9 grid-columns wide.</p>
        <p>Image components span the full width of the content area.</p>"

        min992-rules="<p>The content area is 10 grid-columns wide.</p>
        <p>Image components span the full width of the content area.</p>"

        finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
        <p>Image components span the full width of the content area.</p>"

        example-link="'../html-examples/single-col-toolpage.html#image-example' | relative_url'"
        example-link-text="View layout example"

        %}

    </div>



    <div class="layout-example two-col-toolpage mt-0 mb-5 px-4 py-0">

        {% include layouts-accordion.html
        layout-name="two-col-toolpage"

        min1200-visibility="false"
        min992-visibility="false"
        min768-visibility="true"
        min576-visibility="false"
        finalbp-visibility="true"

        finalbp="Breakpoint &lt; 768px"


        min768-img="'../assets/layout-images/images-2col-rightsidebar-min768.png' | relative_url "
        finalbp-img="'../assets/layout-images/images-2col-rightsidebar-finalbp.png' | relative_url "


        min768-rules="<p>The content area is 8 grid-columns wide.</p>
        <p>Images span the full width of the content area.</p>"

        finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
        <p>Images span the full width of the content area.</p>"

        example-link="'../html-examples/two-col-toolpage.html#image-example' | relative_url'"
        example-link-text="View layout example"

        %}

    </div>


    <div class="layout-example two-col-toolpage-alt mt-0 mb-5 px-4 py-0">
            
        {% include layouts-accordion.html 
            layout-name="two-col-toolpage-alt"
        
            min1200-visibility="false"
            min992-visibility="true"
            min768-visibility="true"
            min576-visibility="false"
            finalbp-visibility="true"
            
            finalbp="Breakpoint &lt; 768px"
        
            min992-img="'../assets/layout-images/images-2col-rightsidebar-alt-min992.png' | relative_url "
            min768-img="'../assets/layout-images/images-2col-rightsidebar-alt-min768.png' | relative_url "
            finalbp-img="'../assets/layout-images/images-2col-rightsidebar-alt-finalbp.png' | relative_url "
        
            min992-rules="<p>The content area is 8 grid-columns wide.</p><p>Images span the full width of the content area.</p>"

            min768-rules="<p>The content area is 11 grid-columns wide.</p><p>Images span the full width of the content area.</p>"
        
            finalbp-rules="<p>The content area is 12 grid-columns wide.</p><p>Images span the full width of the content area.</p>"
        
            example-link="'../html-examples/two-col-toolpage-alt.html#image-example' | relative_url'"
            example-link-text="View layout example"

        %}
        
    </div>



    <!-- GUIDELINES -->
    <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

    <h3>Purpose:</h3>
    <p>The image component displays a single image in a content page. This component includes a short optional
        caption below the image. </p>
    <h3>When to use this component:</h3>
    <ul>
        <li>Image components are mostly used on news articles and customer story pages.</li>
        <li>Avoid unnecessary images, especially on high priority pages &ndash; use words rather than images for
            accessibility reasons.</li>
    </ul>
    <h3>Content rules:</h3>
    <ul>
        <li>Don&rsquo;t use captions for stock photos e.g. in news articles.</li>
        <li>Informative images should always have alt text in a content page.</li>
        <li>Decorative images, for example stock photos in news or resource articles, must have null (empty) alt
            text &ndash; don&rsquo;t insert a space [alt=&rdquo;&rdquo;].</li>
    </ul>


    <!-- VERSION HISTORY-->
    <h2 class="section-start" id="version-history">Version history</h2>
    <h4>8 August, 2023</h4>
    <ul>
        <li>Added an additional layout (the <strong>Two column - tool page alternate</strong> layout).</li>
    </ul>


</div>