---

layout: content-tagged
title: Image pathway list
description: Provide a standard pathway to content with a supporting image.
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---



<div class="row">
    
    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
classes="in-page"

            link-1="Design" link-id-1="#design"
            link-2="Layouts" link-id-2="#layouts" 
            link-3="Guidelines for use" link-id-3="#guidelines-for-use" 
        %}
        
    </div>
    
    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-8">
   
          
        <!-- DESIGN -->   
        <h2 class="section-start" id="design">Design</h2>

        <!-- Breakpoint radio buttons -->
       {% include breakpoints.html
            singlebp="true"
        %}

        <!-- Component example -->

        <div class="component-example m-0">
            <div class="component-wrapper remove-element-padding p-4">
      
                 <div class="row">
                    <div class="col-12 col-md-6">
                        {% include component-examples/image-pathway-example.html 
                            image="'../assets/news-documents-900x600.jpeg' | relative_url "  
                            title="Light pathway title"
                            description="Morbi sit amet nunc eget nisl eleifend viverra nec consequat nunc. Proin mauris quam, rhoncus feugiat euismod nec, imperdiet in lorem."
                        %}
                     </div>
                     
                      <div class="col-12 col-md-6">
                        {% include component-examples/image-pathway-example.html 
                            image="'../assets/potter-on-computer.jpg' | relative_url "    
                            title="Light pathway title"
                            description="Morbi sit amet nunc eget nisl eleifend."
                        %}
                     </div>
                     
                </div>

            </div>
        </div>


        <!-- Design specifications link -->

        {% include design-specs-link.html 
            btn-link="'https://xd.adobe.com/view/aa072634-b3aa-408b-966a-2e8f09cf920b-ff54/screen/6fcdba02-159f-4481-ae16-52b696bcb80b/'"
            btn-text="View design specifications"
            %}


        <!-- LAYOUTS -->   
        <h2 class="section-start" id="layouts">Layouts</h2>
        
        <p>Image pathways can be used in <a href={{ "brand-foundations/grid-and-page-layouts.html" | relative_url }} >single column and two column pages</a>.</p>
        
        {% include layouts-dropdown.html 
            single-col-fullwidth-visibility="true" 
            single-col-twothirds-visibility="true" 
            two-col-leftmenu-visibility="true" 
            two-col-rightsidebar-visibility="true" 
        %}
        
        <div class="layout-example single-col-fullwidth mt-0 mb-5 px-4 py-0">
            
            {% include layouts-accordion.html 
                layout-name="onecol-fw"
            
                min1200-visibility="false"
                min992-visibility="true"
                min768-visibility="false"
                min576-visibility="true"
                finalbp-visibility="true"
                
                finalbp="Breakpoint &lt; 576px"
            
                min992-img="'../assets/layout-images/imagepathway-1colfullwidth-min992.png' | relative_url "
                min576-img="'../assets/layout-images/imagepathway-1colfullwidth-min576.png' | relative_url "
                finalbp-img="'../assets/layout-images/imagepathway-1colfullwidth-finalbp.png' | relative_url "
            
            
                min992-rules="<p>The content area is 12 grid-columns wide.</p><p>Image pathway tiles are 4 grid-columns wide.</p>"
            
                min576-rules="<p>The content area is 12 grid-columns wide.</p><p>Image pathway tiles are 6 grid-columns wide.</p>"
            
                finalbp-rules="<p>The content area is 12 grid-columns wide.</p><p>Image pathway tiles are 12 grid-columns wide.</p>"
            
                example-link="'../html-examples/single-col-full-width.html#image-pathway-example' | relative_url'"
                example-link-text="View layout example"
                
            %}
            
            
        </div>
        
        
        <div class="layout-example single-col-twothirdswidth mt-0 mb-5 px-4 py-0">
            
            {% include layouts-accordion.html 
                layout-name="onecol-twothirdsw"    
            
                min1200-visibility="true"
                min992-visibility="true"
                min768-visibility="true"
                min576-visibility="true"
                finalbp-visibility="true"
                
                finalbp="Breakpoint &lt; 576px"
            
                min1200-img="'../assets/layout-images/imagepathway-1col2thirdswidth-min1200.png' | relative_url "
                min992-img="'../assets/layout-images/imagepathway-1col2thirdswidth-min992.png' | relative_url "
                min768-img="'../assets/layout-images/imagepathway-1col2thirdswidth-min768.png' | relative_url "
                min576-img="'../assets/layout-images/imagepathway-1col2thirdswidth-min576.png' | relative_url "
                finalbp-img="'../assets/layout-images/imagepathway-1col2thirdswidth-finalbp.png' | relative_url "
            
                
                min1200-rules="<p>The content area is 8 grid-columns wide.</p><p>Image pathway tiles are 4 grid-columns wide.</p>"
                
                min992-rules="<p>The content area is 9 grid-columns wide.</p><p>Image pathway tiles are 4.5 grid-columns wide.</p>"
            
                min768-rules="<p>The content area is 11 grid-columns wide.</p><p>Image pathway tiles are 5.5 grid-columns wide.</p>"
            
                min576-rules="<p>The content area is 12 grid-columns wide.</p><p>Image pathway tiles are 6 grid-columns wide.</p>"
            
                finalbp-rules="<p>The content area is 12 grid-columns wide.</p><p>Image pathway tiles are 4 grid-columns wide.</p>"
            
                example-link="'../html-examples/single-col-two-thirds-width.html#image-pathway-example' | relative_url'"
                example-link-text="View layout example"
                
            %}
            
        </div>
        
        
        <div class="layout-example two-col-leftmenu mt-0 mb-5 px-4 py-0">
            
            {% include layouts-accordion.html 
                layout-name="twocol-leftmenu"
                
                min1200-visibility="true"
                min992-visibility="false"
                min768-visibility="true"
                min576-visibility="true"
                finalbp-visibility="true"
                
                finalbp="Breakpoint &lt; 576px"
            
                min1200-img="'../assets/layout-images/imagepathway-2col-leftmenu-min1200.png' | relative_url "
                min768-img="'../assets/layout-images/imagepathway-2col-leftmenu-min768.png' | relative_url "
                min576-img="'../assets/layout-images/imagepathway-2col-leftmenu-min576.png' | relative_url "
                finalbp-img="'../assets/layout-images/imagepathway-2col-leftmenu-finalbp.png' | relative_url "
            
    
                min1200-rules="<p>The content area is 8 grid-columns wide.</p><p>Image pathway tiles are 4 grid-columns wide.</p>"
                
                min768-rules="<p>The content area is 9 grid-columns wide.</p><p>Image pathway tiles are 4.5 grid-columns wide.</p>"
            
                min576-rules="<p>The content area is 9 grid-columns wide.</p><p>Image pathway tiles are 9 grid-columns wide.</p>"
            
                finalbp-rules="<p>The content area is 12 grid-columns wide.</p><p>Image pathway tiles are 12 grid-columns wide.</p>"
            
                example-link="'../html-examples/two-col-left-side-menu.html#image-pathway-example' | relative_url'"
                example-link-text="View layout example"
                
            %}
            
        </div>
        
        
        <div class="layout-example two-col-rightsidebar mt-0 mb-5 px-4 py-0">
            
            {% include layouts-accordion.html 
                layout-name="twocol-rightbar"
            
                min1200-visibility="false"
                min992-visibility="false"
                min768-visibility="true"
                min576-visibility="true"
                finalbp-visibility="true"
                
                finalbp="Breakpoint &lt; 576px"
            
                min768-img="'../assets/layout-images/imagepathway-2col-rightsidebar-min768.png' | relative_url "
                min576-img="'../assets/layout-images/imagepathway-2col-rightsidebar-min576.png' | relative_url "
                finalbp-img="'../assets/layout-images/imagepathway-2col-rightsidebar-finalbp.png' | relative_url "
            
        
                min768-rules="<p>The content area is 8 grid-columns wide.</p><p>Image pathway tiles are 4 grid-columns wide.</p>"
            
                min576-rules="<p>The content area is 12 grid-columns wide.</p><p>Image pathway tiles are 6 grid-columns wide.</p>"
            
                finalbp-rules="<p>The content area is 12 grid-columns wide.</p><p>Image pathway tiles are 12 grid-columns wide.</p>"
            
                example-link="'../html-examples/two-col-right-sidebar.html#image-pathway-example' | relative_url'"
                example-link-text="View layout example"
                
            %}
            
        </div>



        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

       
        <h3>Purpose: </h3>
        <p>The image pathway list component is used to provide pathways to a list of pages on the site, using tiles with a supporting image. It has an optional button below the image pathways. </p>
        <h3>When to use this component: </h3>
        <ul>
            <li>Image pathway components are commonly used on the home, news and customer story index pages. They provide navigation tiles (each with an image) to a list of similar page types (such as news articles or customer stories).  </li>
            <li>Image pathways may also be used on content pages for medium priority tasks (for example, to list customer stories for a particular grant). </li>
        </ul>
        <h3>Content rules: </h3>
        <ul>
            <li>Display description for each item. </li>
            <li>No alt text for pathway images. </li>
        </ul>
            
        </div>
        
