---

layout: content-tagged
title: Information sidebar
description: Provide extra information on a tool section or task in an expandable sidebar.
breadcrumb1: Components
url1: /components.html
bga-tag: false
subsite-tag: true

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include anchor-menu.html
        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-8">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        <!-- Breakpoint radio buttons -->
        {% include breakpoints.html
        singlebp="true"
        %}

        <!-- Component example -->

        <div class="component-example m-0">
            <div class="component-wrapper sidebar-example-container remove-element-padding p-4">
                
                {% include component-examples/info-sidebar-example.html
                title="Lorem ipsum dolor sit amet."
                text="<p>Vestibulum mi quam, consequat ut dignissim a, hendrerit in massa.</p>
                <p>Morbi augue augue, pulvinar quis fermentum nec, ultricies ut lacus. Praesent tincidunt congue elit, a vehicula urna ornare quis.</p>"
                classes="short"
                %}
    
                {% include component-examples/info-sidebar-example.html
                title="Lorem ipsum dolor sit amet."
                text="<p>Vestibulum mi quam, consequat ut dignissim a, hendrerit in massa.</p>
                <p>Morbi augue augue, pulvinar quis fermentum nec, ultricies ut lacus. Praesent tincidunt congue elit, a vehicula urna ornare quis. Sed imperdiet id eros et laoreet. Nullam varius quis mi at posuere. Pellentesque suscipit elementum sapien eget mattis. Etiam tristique arcu tempor iaculis iaculis. Quisque sit met fringilla metus, in dignissim enim. Vestibulum et nunc enim. Donec eu massa quis purus laoreet auctor. Praesent tincidunt id dui nec efficitur. Vivamus imperdiet magna ut mauris dictum tempor. </p>"
                classes="long"
                %}

            </div>

        </div>






        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://xd.adobe.com/view/aa072634-b3aa-408b-966a-2e8f09cf920b-ff54/screen/737eb46e-3079-4c99-882c-7886a3999249/'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>Call out boxes can be used on all page layouts except the <a
                href={{ "brand-foundations/grid-and-page-layouts.html" | relative_url }}>single column - full width
                layout</a>.</p>


        {% include layouts-dropdown.html
        layout-name="Two column - right sidebar"
        singlelayout="true"
        %}

        <div class="layout-example two-col-rightsidebar mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="twocol-rightbar"

            min1200-visibility="false"
            min992-visibility="false"
            min768-visibility="true"
            min576-visibility="false"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 768px"


            min768-img="'../assets/layout-images/callout-2col-rightsidebar-min768.png' | relative_url "
            finalbp-img="'../assets/layout-images/callout-2col-rightsidebar-finalbp.png' | relative_url "


            min768-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>Call out boxes span the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Call out boxes span the full width of the content area.</p>"

            example-link="'../html-examples/two-col-right-sidebar.html#callout-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>






        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h4>Purpose: </h4>
        <p>The call out box component is used to highlight specific information within a content page.</p>
        <h4>When to use this component: </h4>
        <ul>
            <li>Used to highlight important information in the context of the page, such as key tax dates. </li>
            <li>Used to notify users about updates or important information on other pages. </li>
            <li>To provide additional help, such as sample calculations and scenarios. </li>
        </ul>
        <h4>Content rules: </h4>
        <ul>
            <li>Grant updates &ndash; high priority updates only.</li>
            <li>[h2] Update &ndash; [date month year].</li>
            <li>[h3] [Optional summary of change].</li>
            <li>Body content has a recommended 300 character limit.</li>
        </ul>

    </div>