---

layout: content-tagged
title: Information sidebar
description: Provide extra information on a tool section or task in an expandable sidebar.
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
classes="in-page"

        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-8">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        {% include section-tabs.html

            tab1="business.gov.au branding"
            tab1value="bga-branded"
    
            tab2="No branding"
            tab2value="non-branded"
    
            %}

            <div class="tab-sections-wrapper ">

                <div class="tab-section bga-branded selected">

                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html
                    singlebp="true"
                    %}

                    <!-- Component example -->

                    <div class="component-example m-0">

                        <div class="component-wrapper sidebar-example-container remove-element-padding p-4">

                            <div class="row">
                                <p><strong>Note: At smaller breakpoints the sidebar is stacked under associated content and its
                                        height is limited to 300px.</strong></p>

                                <div class="col-12 col-md-6 h-100">
                                    <div class="question-section">

                                        <div class="bga-component sidebar dummy-sidebar m-0">

                                            <div class="p-4 component-content">

                                                <div class="component-text remove-element-padding">
                                                    <h3>Lorem ipsum dolor sit amet.</h3>
                                                    <p>Vestibulum mi quam, consequat ut dignissim a, hendrerit in massa.</p>
                                                    <p>Morbi augue augue, pulvinar quis fermentum nec, ultricies ut lacus. Praesent
                                                        tincidunt congue elit, a vehicula urna ornare quis.</p>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <div class="col-12 col-md-6 h-100">
                                    {% include component-examples/info-sidebar-example.html
                                    title="Lorem ipsum dolor sit amet.!!!"
                                    text="<p>Vestibulum mi quam, consequat ut dignissim a, hendrerit in massa.</p>
                                    <p>Morbi augue augue, pulvinar quis fermentum nec, ultricies ut lacus. Praesent tincidunt congue elit, a vehicula urna ornare quis. Sed imperdiet id eros et laoreet. Nullam varius quis mi at posuere.Pellentesque suscipit elementum sapien eget mattis. Etiam tristique arcu tempor iaculis iaculis. Quisque sit met fringilla metus, in dignissim enim. Vestibulum et nunc enim. Donec eu massa quis purus laoreet auctor. Praesent tincidunt id dui nec efficitur. Vivamus imperdiet magna ut mauris dictum tempor. </p>"
                                    classes="teal"
                                    %}
                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="component-example m-0">

                        <div class="component-wrapper remove-element-padding p-4">

                            <div class="row">

                                <h3>Colour variations</h3>
                                <div class="col-12 col-sm-4">
                                    {% include component-examples/sidebar-colour-example.html
                                    title="Teal"
                                    text="<p>Used in tool pages only.</p>"
                                    classes="teal colour-example"
                                    fade="true"
                                    %}
                                </div>

                                <div class="col-12 col-sm-4">
                                    {% include component-examples/sidebar-colour-example.html
                                    title="Yellow"
                                    text="<p>Can be used in site pages and tools.</p>"
                                    classes="yellow"
                                    fade="true"
                                    %}
                                </div>

                                <div class="col-12 col-sm-4">
                                    {% include component-examples/sidebar-colour-example.html
                                    title="Blue"
                                    text="<p>Can be used in site pages and tools.</p>"
                                    classes="blue"
                                    fade="true"
                                    %}
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="tab-section non-branded ">
                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html
                        singlebp="true"
                        %}
    
                        <!-- Component example -->
    
                        <div class="component-example m-0">
    
                            <div class="component-wrapper sidebar-example-container remove-element-padding p-4">
    
                                <div class="row">

                                    {% include non-branded-explanation.html
                                        component="information sidebar"
                                        brand-elements="colours and borders"
                                    %}
                                    
                                    <p><strong>Note: At smaller breakpoints the sidebar is stacked under associated content and its height is limited to 300px.</strong></p>
    
                                    <div class="col-12 col-md-6 h-100">
                                        <div class="question-section">
    
                                            <div class="bga-component non-branded nb-background sidebar dummy-sidebar m-0">
    
                                                <div class="p-4 component-content">
    
                                                    <div class="component-text remove-element-padding">
                                                        <h3>Lorem ipsum dolor sit amet.</h3>
                                                        <p>Vestibulum mi quam, consequat ut dignissim a, hendrerit in massa.</p>
                                                        <p>Morbi augue augue, pulvinar quis fermentum nec, ultricies ut lacus. Praesent
                                                            tincidunt congue elit, a vehicula urna ornare quis.</p>
                                                    </div>
    
                                                </div>
    
                                            </div>
                                        </div>
                                    </div>
    
    
                                    <div class="col-12 col-md-6 h-100">
                                        {% include component-examples/info-sidebar-example.html
                                        title="Lorem ipsum dolor sit amet.!!!"
                                        text="<p>Vestibulum mi quam, consequat ut dignissim a, hendrerit in massa.</p>
                                        <p>Morbi augue augue, pulvinar quis fermentum nec, ultricies ut lacus. Praesent tincidunt congue elit, a vehicula urna ornare quis. Sed imperdiet id eros et laoreet. Nullam varius quis mi at posuere. Pellentesque suscipit elementum sapien eget mattis. Etiam tristique arcu tempor iaculis iaculis. Quisque sit met fringilla metus, in dignissim enim. Vestibulum et nunc enim. Donec eu massa quis purus laoreet auctor. Praesent tincidunt id dui nec efficitur. Vivamus imperdiet magna ut mauris dictum tempor. </p>"
                                        classes="non-branded nb-background"
                                        %}
                                    </div>
    
                                </div>
    
                            </div>
    
                        </div>
                </div>

            </div>






        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://xd.adobe.com/view/9698488f-f1e5-4dc8-9e0d-01c4a4d1cb46-c3cb/screen/a09452a7-3c07-406b-9f14-c1106266a08e/'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>The information sidebar can be used in <a href={{ "brand-foundations/grid-and-page-layouts.html" | relative_url }}>two column - right sidebar layout</a>. It should not be used in other layouts.</p>

        {% include layouts-dropdown.html
        layout-name="Single column - full width"
        singlelayout="true"
        %}

        <div class="layout-example show two-col-rightsidebar mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="twocol-rightbar"

            min1200-visibility="false"
            min992-visibility="false"
            min768-visibility="true"
            min576-visibility="false"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 768px"


            min768-img="'../assets/layout-images/info-sidebar-2col-rightsidebar-min768.png' | relative_url "
            finalbp-img="'../assets/layout-images/info-sidebar-2col-rightsidebar-finalbp.png' | relative_url "


            min768-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>Sidebars sit to the right of the content area and span 4 grid-columns.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Sidebars span the full width of the content area. In general they stack below the right side content.</p>
            "

            example-link="'../html-examples/ECB-content-page.html' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>



        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h4>Purpose: </h4>
        <p>The information sidebar is used to highlight useful information in the context of a process or step.</p>
        <h4>When to use this component: </h4>
        <ul>
            <li>Used in tools for information the user may find useful but is not of high importance.</li>
        </ul>
        <h4>Style rules: </h4>
        <ul>
            <li>The height of the sidebar is equal to the height of the content on the right side of the section. When
                sidebar content extends past this height it is hidden and revealed with a "Read more" button.</li>
        </ul>

    </div>