---

layout: content-tagged
title: In page feedback form
description: A simple form for gathering feedback on business.gov.au pages.
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
        classes="in-page"
            
        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-8">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        {% include section-tabs.html

            tab1="Business.gov.au branding"
            tab1value="bga-branded"
    
            tab2="No branding"
            tab2value="non-branded"
    
            %}
    
            <div class="tab-sections-wrapper">
    
                <div class="tab-section bga-branded selected">
                    
                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html
                    element-string="bga-inpage-feedback"
                    sm-visibility="true"
                    breakpoint-final="576"
                    %}

                    <!-- Component example -->

                    <div class="component-example m-0">
                        <div class="component-wrapper remove-element-padding p-4">

                            {% include component-examples/inpage-feedback-example.html 
                                classes="col-12" 
                                %}
                                
                        </div>
                    </div>

                </div>

                <div class="tab-section non-branded">

                     <!-- Breakpoint radio buttons -->
                     {% include breakpoints.html
                        element-string="nb-inpage-feedback"
                        sm-visibility="true"
                        breakpoint-final="576"
                        %}
    
                        <!-- Component example -->
    
                        <div class="component-example m-0">
                            <div class="component-wrapper remove-element-padding p-4">

                                {% include non-branded-explanation.html
                                    component="standard pathways"
                                    brand-elements="colours and button styles"
                                %}
    
                                {% include component-examples/inpage-feedback-example.html 
                                    classes="col-12 non-branded"
                                    id="nb" 
                                    %}
                                   
    
                            </div>
                        </div>

                </div>

            </div>


        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://xd.adobe.com/view/9698488f-f1e5-4dc8-9e0d-01c4a4d1cb46-c3cb/screen/7f8608a5-618c-42e2-8771-a51ce0872f73/'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

       
        <p>The in page feedback form can be used on <a href={{ "brand-foundations/grid-and-page-layouts.html" | relative_url }}>all layouts</a>.</p>
        
        {% include layouts-dropdown.html 
            single-col-fullwidth-visibility="true"
            single-col-twothirds-visibility="true" 
            two-col-leftmenu-visibility="true" 
            two-col-rightsidebar-visibility="true" 
            two-col-leftfilter-visibility="true"
        %}
        
        
        <div class="layout-example single-col-fullwidth mt-0 mb-5 px-4 py-0">
            
            {% include layouts-accordion.html 
                layout-name="onecol-fw"
            
                min1200-visibility="true"
                min992-visibility="true"
                min768-visibility="false"
                min576-visibility="false"
                finalbp-visibility="true"
                
                finalbp="Breakpoint &lt; 992px"
            
                min1200-img="'../assets/layout-images/feedback-1colfullwidth-min1200.png' | relative_url "
                min992-img="'../assets/layout-images/feedback-1colfullwidth-min992.png' | relative_url "
                finalbp-img="'../assets/layout-images/feedback-1colfullwidth-finalbp.png' | relative_url "
            
            
                min1200-rules="<p>The content area is 12 grid-columns wide.</p>The in page feedback component spans 8 grid-columns.</p><p>The line above the component spans 12 grid-columns</p>"
            
                min992-rules="<p>The content area is 12 grid-columns wide.</p><p>The in page feedback component spans 9 grid-columns.</p><p>The line above the component spans 12 grid-columns</p>"
            
                finalbp-rules="<p>The content area is 12 grid-columns wide.</p><p>The in page feedback component spans 12 grid-columns.</p><p>The line above the component spans 12 grid-columns</p>"
            
                example-link="'../html-examples/single-col-full-width.html#feedback-example' | relative_url'"
                example-link-text="View layout example"
                
            %}
            
            
        </div>
        
        
        <div class="layout-example single-col-twothirdswidth mt-0 mb-5 px-4 py-0">
            
            {% include layouts-accordion.html 
                layout-name="onecol-twothirdsw"    
            
                min1200-visibility="true"
                min992-visibility="true"
                min768-visibility="true"
                min576-visibility="false"
                finalbp-visibility="true"
                
                finalbp="Breakpoint &lt; 768px"
            
                min1200-img="'../assets/layout-images/feedback-1col2thirdswidth-min1200.png' | relative_url "
                min992-img="'../assets/layout-images/feedback-1col2thirdswidth-min992.png' | relative_url "
                min768-img="'../assets/layout-images/feedback-1col2thirdswidth-min768.png' | relative_url "
                finalbp-img="'../assets/layout-images/feedback-1col2thirdswidth-finalbp.png' | relative_url "
                
                min1200-rules="<p>The content area is 8 grid-columns wide.</p><p>The in page feedback component spans the full width of the content area.</p><p>The line above the component also spans the full width of the content area.</p>"
            
                min992-rules="<p>The content area is 9 grid-columns wide.</p><p>The in page feedback component spans the full width of the content area.</p><p>The line above the component also spans the full width of the content area.</p>"
            
                min768-rules="<p>The content area is 11 grid-columns wide.</p><p>The in page feedback component spans the full width of the content area.</p><p>The line above the component also spans the full width of the content area.</p>"
            
                finalbp-rules="<p>The content area is 12 grid-columns wide.</p><p>The in page feedback component spans the full width of the content area.</p><p>The line above the component also spans the full width of the content area.</p>"
            
                example-link="'../html-examples/single-col-two-thirds-width.html#feedback-example' | relative_url'"
                example-link-text="View layout example"
                
            %}
            
        </div>
        
        
        <div class="layout-example two-col-leftmenu mt-0 mb-5 px-4 py-0">
            
            {% include layouts-accordion.html 
                layout-name="twocol-leftmenu"
                
                min1200-visibility="true"
                min992-visibility="false"
                min768-visibility="false"
                min576-visibility="true"
                finalbp-visibility="true"
                
                finalbp="Breakpoint &lt; 576px"
            
                min1200-img="'../assets/layout-images/feedback-2col-leftmenu-min1200.png' | relative_url "
                min576-img="'../assets/layout-images/feedback-2col-leftmenu-min576.png' | relative_url "
                finalbp-img="'../assets/layout-images/feedback-2col-leftmenu-finalbp.png' | relative_url "
                
                min1200-rules="<p>The content area is 8 grid-columns wide.</p><p>The in page feedback component spans the full width of the content area.</p><p>The line above the component also spans the full width of the content area.</p>"
            
                min576-rules="<p>The content area is 9 grid-columns wide.</p><p>The in page feedback component spans the full width of the content area.</p><p>The line above the component also spans the full width of the content area.</p>"
            
                finalbp-rules="<p>The content area is 12 grid-columns wide.</p><p>The in page feedback component spans the full width of the content area.</p><p>The line above the component also spans the full width of the content area.</p>"
            
                example-link="'../html-examples/two-col-left-side-menu.html#feedback-example' | relative_url'"
                example-link-text="View layout example"
                
            %}
            
        </div>
        
        
        <div class="layout-example two-col-leftfilter mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
                layout-name="twocol-leftfilter"
    
                min1200-visibility="true"
                min992-visibility="false"
                min768-visibility="true"
                min576-visibility="false"
                finalbp-visibility="true"
    
                finalbp="Breakpoint &lt; 768px"
    
                min1200-img="'../assets/layout-images/feedback-2col-leftfilters-min1200.png' | relative_url "
                min768-img="'../assets/layout-images/feedback-2col-leftfilters-min768.png' | relative_url "
                finalbp-img="'../assets/layout-images/feedback-2col-leftfilters-finalbp.png' | relative_url "
    
                min1200-rules="<p>The content area is 7 grid-columns wide.</p>
                <p>The in page feedback component spans the full width of the content area.</p><p>The line above the component also spans the full width of the content area.</p>"
    
                min768-rules="<p>The content area is 8 grid-columns wide.</p>
                <p>The in page feedback component spans the full width of the content area.</p><p>The line above the component also spans the full width of the content area.</p>"
    
                finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
                <p>The in page feedback component spans the full width of the content area.</p><p>The line above the component also spans the full width of the content area.</p>"
    
                example-link="'../html-examples/two-col-left-filters.html#feedback-example' | relative_url'"
                example-link-text="View layout example"
    
                %}

        </div>

        
        <div class="layout-example two-col-rightsidebar mt-0 mb-5 px-4 py-0">
            
            {% include layouts-accordion.html 
                layout-name="twocol-rightbar"
            
                min1200-visibility="false"
                min992-visibility="false"
                min768-visibility="true"
                min576-visibility="false"
                finalbp-visibility="true"
                
                finalbp="Breakpoint &lt; 768px"
            

                min768-img="'../assets/layout-images/feedback-2col-rightsidebar-min768.png' | relative_url "
                finalbp-img="'../assets/layout-images/feedback-2col-rightsidebar-finalbp.png' | relative_url "
            
        
                min768-rules="<p>The content area is 8 grid-columns wide.</p><p>The in page feedback component spans the full width of the content area.</p><p>The line above the component also spans the full width of the content area.</p>"
            
                finalbp-rules="<p>The content area is 12 grid-columns wide.</p><p>The in page feedback component spans the full width of the content area.</p><p>The line above the component also spans the full width of the content area.</p>"
            
                example-link="'../html-examples/two-col-right-sidebar.html#feedback-example' | relative_url'"
                example-link-text="View layout example"

            %}
            
        </div>


        


        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose</h3>
        <p>The in page feedback form is used to capture simple feedback from users in the context of a page.</p>
        
        <h3>When to use this component:</h3>
        <ul>
            <li>Can be used on all business.gov.au pages.</li>
        </ul>


    </div>