---

layout: content-tagged
title: Label requirements call out
description: A tool specific call out designed to highlight information at the top of a tool results page.
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
        classes="in-page"

        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        link-4="Version history" link-id-4="#version-history"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-10">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        {% include section-tabs.html

        tab1="business.gov.au branding"
        tab1value="bga-branded"

        tab2="No branding"
        tab2value="non-branded"

        %}


        <div class="tab-sections-wrapper ">


            <div class="tab-section bga-branded selected">

                <!-- Breakpoint radio buttons -->
                {% include breakpoints.html
                    element-string="bga-cta"
                    md-visibility="true"
                    sm-visibility="true"
                    xs-visibility="true"
                    final-visibility="true"
                    breakpoint-final="350"
                %}

                <!-- Component example -->

                <div class="component-example m-0">
                    <div class="component-wrapper remove-element-padding p-4">
                        
                         <h3>Label requirements - two options</h3>
                        {% include component-examples/label-requirements-callout-example.html 
                            content="coo-and-mark"
                            %}

                        <h3>Label requirements - single option</h3>
                        {% include component-examples/label-requirements-callout-example.html 
                            content="coo"
                            %}

                       
                    </div>

                </div>

            </div>


            <div class="tab-section non-branded">

                <!-- Breakpoint radio buttons -->
                {% include breakpoints.html
                    element-string="nb-cta"
                    sm-visibility="true"
                    xs-visibility="true"
                    final-visibility="true"
                    breakpoint-final="350"
                    %}
    
                    <!-- Component example -->
    
                    <div class="component-example m-0">
                        <div class="component-wrapper remove-element-padding p-4">

                            {% include non-branded-explanation.html
                                component="call to action components"
                                brand-elements="colours and borders"
                            %}


                        </div>
    
                    </div>

            </div>

        </div>





            <!-- Design specifications link -->

            {% include design-specs-link.html
            btn-link="'https://www.figma.com/design/CHiHC359mYGmZ1ziKHriDW/BGA-style-guide?node-id=727-3771&t=B6goCx0k42hfFwBN-1'"
            btn-text="View design specifications"
            %}


            <!-- LAYOUTS -->
            <h2 class="section-start" id="layouts">Layouts</h2>

            <p>The label requirements call out can be used in <a href={{ "brand-foundations/grid-and-page-layouts.html#layout-singlecol-tool" | relative_url }}>Single column - tool page</a>. It should not be used in other layouts.</p>


            {% include layouts-dropdown.html
                layout-name="Single column - tool page"
                singlelayout="true"
                %}

            <div class="layout-example single-col-toolpage show mt-0 mb-5 px-4 py-0">

                {% include layouts-accordion.html
                layout-name="single-col-toolpage"
    
                min1200-visibility="true"
                min992-visibility="true"
                finalbp-visibility="true"
    
                finalbp="Breakpoint &lt; 992px"
    
                min1200-img="'../assets/layout-images/onecol-toolpage-1200px-fullwidthcomponent.png' | relative_url "
                min992-img="'../assets/layout-images/onecol-toolpage-992px-fullwidthcomponent.png' | relative_url "
                finalbp-img="'../assets/layout-images/onecol-toolpage-finalbp-fullwidthcomponent.png' | relative_url "
    
                min1200-rules="<p>The content area is 9 grid-columns wide.</p>
                <p>The label requirements call out spans the full width of the content area.</p>"
    
                min992-rules="<p>The content area is 10 grid-columns wide.</p>
                <p>The label requirements call out spans the full width of the content area.</p>"
    
                finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
                <p>The label requirements call out spans the full width of the content area.</p>"
    
                example-link="'../html-examples/single-col-toolpage.html#calltoaction-example' | relative_url'"
                example-link-text="View layout example"
    
                %}
    
            </div>


            <!-- GUIDELINES -->
            <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

            <h4>Purpose:</h4>
            
            <h4>Content rules: </h4>
           
            
             <!-- VERSION HISTORY-->
            <h2 class="section-start" id="version-history">Version history</h2>
            <h4>19 November, 2024</h4>
            <p>Created component page.</p>

        </div>