---

layout: content-tagged
title: Lightweight checklist accordion
description: An accordion with numbered steps used for presenting simple end to end journeys.
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
classes="in-page"

        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-9">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        <!-- Breakpoint radio buttons -->
        {% include breakpoints.html
        md-visibility="true"
        final-visibility="true"
        breakpoint-final="768"
        %}

        <!-- Component example -->

        <div class="component-example m-0">
            <div class="component-wrapper remove-element-padding p-4">
                
                {% include component-examples/lightweight-checklist-example.html %}

            </div>
        </div>


        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://xd.adobe.com/view/9698488f-f1e5-4dc8-9e0d-01c4a4d1cb46-c3cb/screen/c58c093d-3931-478c-ba2b-2118dc09ac46/'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>Lightweight checklist accordions are used on the <a href={{ "brand-foundations/grid-and-page-layouts.html" | relative_url }}>single column - two thirds width layout</a>.</p>


        {% include layouts-dropdown.html 
            layout-name="Single column - two thirds width"
            singlelayout="true"
        %}
        

        <div class="layout-example show single-col-twothirdswidth mt-0 mb-5 px-4 py-0">
            
            {% include layouts-accordion.html 
                layout-name="onecol-twothirdsw"    
            
                min1200-visibility="true"
                min992-visibility="true"
                min768-visibility="true"
                finalbp-visibility="true"
                
                finalbp="Breakpoint &lt; 768px"
            
                min1200-img="'../assets/layout-images/lightweight-checklist-1col2thirdswidth-min1200.png' | relative_url "    
                min992-img="'../assets/layout-images/lightweight-checklist-1col2thirdswidth-min992.png' | relative_url "
                min768-img="'../assets/layout-images/lightweight-checklist-1col2thirdswidth-min768.png' | relative_url "
                
                finalbp-img="'../assets/layout-images/lightweight-checklist-1col2thirdswidth-finalbp.png' | relative_url "
            
                min1200-rules="<p>The content area is 8 grid-columns wide.</p><p>The lightweight checklist accordions spans the full width of the content area.</p>"
                
                min992-rules="<p>The content area is 9 grid-columns wide.</p><p>The lightweight checklist accordions spans the full width of the content area.</p>"
            
                min768-rules="<p>The content area is 11 grid-columns wide.</p><p>The lightweight checklist accordions spans the full width of the content area.</p>"

                finalbp-rules="<p>The content area is 12 grid-columns wide.</p><p>The lightweight checklist accordions spans the full width of the content area.</p>"
            
                example-link="'../html-examples/single-col-two-thirds-width.html#lightweight-checklist-example' | relative_url'"
                example-link-text="View layout example"
                
            %}
            
        </div>



        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose</h3>
        <p>The checklist pattern presents the user with an end to end journey in logical steps and provides links to content to help them complete each step.</p>
        <p>The main difference between the lightweight and standard checklist patterns is the amount of content each contains. The lightweight pattern should be used for simpler journeys or a series of tips. It does not allow for nested items within each main item.</p>
        <h3>General rules:</h3>
        <ul>
            <li>Should only be used where there is a logical order to complete a journey.</li>
            <li>Provides numbered steps that presents a specific start and end point.</li>
            <li>Can include online and offline actions.</li>
            <li>When you are educating the user about a specific stage in an end to end journey (use the tutorial pattern).</li>
        </ul>
        <h3>When not to use this pattern:</h3>
        <ul>
            <li>When the user only needs to read guidance and not take an action (use Guide pattern instead).</li>
        </ul>
        

    </div>