---

layout: content-tagged
title: Light pathway list
description: Link to tertiary content within the context of the page.
updated: 31 October, 2023
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
        classes="in-page"

        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        link-4="Version history" link-id-4="#version-history"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-10">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>


        {% include section-tabs.html

        tab1="business.gov.au branding"
        tab1value="bga-branded"

        tab2="No branding"
        tab2value="non-branded"

        %}


        <div class="tab-sections-wrapper ">

            <div class="tab-section bga-branded selected">

                <!-- Breakpoint radio buttons -->
                {% include breakpoints.html
                singlebp="true"
                %}
                <!-- Component example -->

                <div class="component-example m-0">

                    <div class="component-wrapper remove-element-padding p-4">

                        <div class="row">

                            <h3>Light pathways with no icon</h3>

                            <div class="col-12 col-sm-6 col-md-4">
                                {% include component-examples/light-pathway-example.html
                                title="Light pathway"
                                bottom="pb-5"
                                %}
                            </div>

                            <div class="col-12 col-sm-6 col-md-4">
                                {% include component-examples/light-pathway-example.html
                                title="Light pathway with external link"
                                external-link="ACT Government"
                                classes="external"
                                bottom="pb-5"
                                %}
                            </div>
                        </div>

                        <div class="row">

                            <h3>Light pathways with icons</h3>

                            <div class="col-12 col-sm-6 col-md-4">
                                {% include component-examples/light-pathway-example.html
                                title="Browse our Instagram feed"
                                classes="external"
                                external-link="Instagram"
                                top-icon="'../assets/icon-instagram.svg' | relative_url "
                                bottom="pb-5"
                                %}
                            </div>

                            <div class="col-12 col-sm-6 col-md-4">
                                {% include component-examples/light-pathway-example.html
                                title="Follow us on X"
                                external-link="X"
                                classes="external"
                                top-icon="'../assets/icon-twitter.svg' | relative_url "
                                bottom="pb-5"
                                %}
                            </div>

                        </div>

                    </div>


                </div>

                <div class="component-example">
                    <div class="component-wrapper remove-element-padding p-4">
                        <div class="row">

                            <h3>Approved icons</h3>

                            <div class="col-6 col-sm-4 col-md-3 col-xl-2 mb-4">
                                {% include icon-example.html
                                src=" '../assets/icon-instagram.svg' | relative_url"
                                title="Instagram"

                                %}
                            </div>

                            <div class="col-6 col-sm-4 col-md-3 col-xl-2 mb-4">
                                {% include icon-example.html
                                src=" '../assets/icon-facebook.svg' | relative_url"
                                title="Facebook"

                                %}
                            </div>

                            <div class="col-6 col-sm-4 col-md-3 col-xl-2 mb-4">
                                {% include icon-example.html
                                src=" '../assets/icon-twitter.svg' | relative_url"
                                title="X"

                                %}
                            </div>

                            <div class="col-6 col-sm-4 col-md-3 col-xl-2 mb-4">
                                {% include icon-example.html
                                src=" '../assets/icon-youtube.svg' | relative_url"
                                title="YouTube"

                                %}
                            </div>

                            <div class="col-6 col-sm-4 col-md-3 col-xl-2 mb-4">
                                {% include icon-example.html
                                src=" '../assets/icon-linkedin.svg' | relative_url"
                                title="LinkedIn"

                                %}
                            </div>


                        </div>

                    </div>
                </div>

            </div>


            <div class="tab-section non-branded ">

                  <!-- Breakpoint radio buttons -->
                  {% include breakpoints.html
                    singlebp="true"
                    %}

                <div class="component-example m-0">

                    <div class="component-wrapper remove-element-padding p-4">

                        {% include non-branded-explanation.html
                            component="light pathways"
                            brand-elements="colours, borders and icons"
                        %}

                        <div class="row">

                            <h3>Light pathways with no icon</h3>

                            <div class="col-12 col-sm-6 col-md-4">
                                {% include component-examples/light-pathway-example.html
                                title="Light pathway"
                                bottom="pb-5"
                                classes="non-branded nb-border"
                                %}
                            </div>

                            <div class="col-12 col-sm-6 col-md-4">
                                {% include component-examples/light-pathway-example.html
                                title="Light pathway with external link"
                                external-link="ACT Government"
                                classes="external non-branded nb-border"
                                bottom="pb-5"
                                %}
                            </div>
                        </div>

                        <div class="row">

                            <h3>Light pathways with icons</h3>

                            <div class="col-12 col-sm-6 col-md-4">
                                {% include component-examples/light-pathway-example.html
                                title="Browse our facebook community"
                                classes="fb-blue external non-branded nb-border"
                                external-link="Facebook"
                                top-icon="'../assets/Img-icon-placeholder.svg' | relative_url "
                                bottom="pb-5"
                                %}
                            </div>

                            <div class="col-12 col-sm-6 col-md-4">
                                {% include component-examples/light-pathway-example.html
                                title="Follow us on Twitter"
                                classes="twitter-blue external non-branded nb-border"
                                top-icon="'../assets/Img-icon-placeholder.svg' | relative_url "
                                bottom="pb-5"
                                %}
                            </div>

                        </div>

                    </div>


                </div>

            </div>

        </div>


            <!-- Design specifications link -->

            {% include design-specs-link.html
            btn-link="'https://xd.adobe.com/view/9698488f-f1e5-4dc8-9e0d-01c4a4d1cb46-c3cb/screen/b5599d62-d933-4788-b279-1a3bfe66b28a/'"
            btn-text="View design specifications"
            %}


            <!-- LAYOUTS -->
            <h2 class="section-start" id="layouts">Layouts</h2>

            <p>Light pathways can be used in all <a href={{ "brand-foundations/grid-and-page-layouts.html" |
                    relative_url }}>page layouts</a> except the Two column - filter page layout.</p>

            {% include layouts-dropdown.html
            single-col-navpage-visibility="true"
            single-col-infopage-visibility="true"
            two-col-infopage-visibility="true"
            two-col-toolpage-visibility="true"
            two-col-toolpage-alt-visibility="true"
            %}

            <div class="layout-example single-col-navpage mt-0 mb-5 px-4 py-0">

                {% include layouts-accordion.html
                layout-name="single-col-navpage"

                min1200-visibility="true"
                min992-visibility="false"
                min768-visibility="true"
                min576-visibility="true"
                finalbp-visibility="true"

                finalbp="Breakpoint &lt; 576px"

                min1200-img="'../assets/layout-images/light-1colfullwidth-min1200.png' | relative_url "
                min768-img="'../assets/layout-images/light-1colfullwidth-min768.png' | relative_url "
                min576-img="'../assets/layout-images/light-1colfullwidth-min576.png' | relative_url "
                finalbp-img="'../assets/layout-images/light-1colfullwidth-finalbp.png' | relative_url "

                min1200-rules="<p>The content area is 12 grid-columns wide.</p>
                <p>Light pathway tiles span 3 grid-columns</p>"

                min768-rules="<p>The content area is 12 grid-columns wide.</p>
                <p>Light pathway tiles span 4 grid-columns</p>"

                min576-rules="<p>The content area is 12 grid-columns wide.</p>
                <p>Light pathway tiles span 6 grid-columns</p>"

                finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
                <p>Light pathway tiles span 12 grid-columns each.</p>"

                example-link="'../html-examples/single-col-navpage.html#light-pathway-example' | relative_url'"
                example-link-text="View layout example"

                %}

            </div>


            <div class="layout-example single-col-infopage mt-0 mb-5 px-4 py-0">

                {% include layouts-accordion.html
                layout-name="single-col-infopage"

                min1200-visibility="true"
                min992-visibility="true"
                min768-visibility="true"
                min576-visibility="true"
                finalbp-visibility="true"

                finalbp="Breakpoint &lt; 576px"

                min1200-img="'../assets/layout-images/light-1col2thirdswidth-min1200.png' | relative_url "
                min992-img="'../assets/layout-images/light-1col2thirdswidth-min992.png' | relative_url "
                min768-img="'../assets/layout-images/light-1col2thirdswidth-min768.png' | relative_url "
                min576-img="'../assets/layout-images/light-1col2thirdswidth-min576.png' | relative_url "
                finalbp-img="'../assets/layout-images/light-1col2thirdswidth-finalbp.png' | relative_url "

                min1200-rules="<p>The content area is 8 grid-columns wide.</p>
                <p>Light pathway tiles span 2.5 grid-columns each.</p>
                <p><strong>The vertical and horizontal gap between light pathway tiles is reduced from 32px to 24px in
                        this layout.</strong></p>"

                min992-rules="<p>The content area is 9 grid-columns wide.</p>
                <p>Light pathway tiles span 4.5 grid-columns each.</p>
                <p><strong>The vertical and horizontal gap between light pathway tiles is reduced from 32px to 24px in
                        this layout.</strong></p>"

                min768-rules="<p>The content area is 11 grid-columns wide.</p>
                <p>Light pathway tiles span 5.5 grid-columns each.</p>
                <p><strong>The vertical and horizontal gap between light pathway tiles is reduced from 32px to 24px in
                        this layout.</strong></p>"

                min576-rules="<p>The content area is 12 grid-columns wide.</p>
                <p>Light pathway tiles span 12 grid-columns each.</p>
                <p><strong>The horizontal gap between light pathway tiles is reduced from 32px to 24px in this
                        layout.</strong></p>"

                finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
                <p>Light pathway tiles span 12 grid-columns each.</p>
                <p><strong>The horizontal gap between light pathway tiles is reduced from 32px to 24px in this
                        layout.</strong></p>"

                example-link="'../html-examples/single-col-infopage.html#light-pathway-example' | relative_url'"
                example-link-text="View layout example"

                %}

            </div>


            <div class="layout-example two-col-infopage mt-0 mb-5 px-4 py-0">

                {% include layouts-accordion.html
                layout-name="two-col-infopage"

                min1200-visibility="true"
                min768-visibility="true"
                min576-visibility="true"
                finalbp-visibility="true"

                finalbp="Breakpoint &lt; 576px"

                min1200-img="'../assets/layout-images/light-2col-leftmenu-min1200.png' | relative_url "
                min768-img="'../assets/layout-images/light-2col-leftmenu-min768.png' | relative_url "
                min576-img="'../assets/layout-images/light-2col-leftmenu-min576.png' | relative_url "
                finalbp-img="'../assets/layout-images/light-2col-leftmenu-finalbp.png' | relative_url "


                min1200-rules="<p>The content area is 8 grid-columns wide.</p>
                <p>Light pathway tiles span 2.5 grid-columns each.</p>
                <p><strong>The vertical and horizontal gap between light pathway tiles is reduced from 32px to 24px in
                        this layout.</strong></p>"


                min768-rules="<p>The content area is 9 grid-columns wide.</p>
                <p>Light pathway tiles span 4.5 grid-columns each.</p>
                <p><strong>The vertical and horizontal gap between light pathway tiles is reduced from 32px to 24px in
                        this layout.</strong></p>"

                min576-rules="<p>The content area is 9 grid-columns wide.</p>
                <p>Light pathway tiles span 9 grid-columns each.</p>
                <p><strong>The vertical and horizontal gap between light pathway tiles is reduced from 32px to 24px in
                        this layout.</strong></p>"


                finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
                <p>Light pathway tiles span 12 grid-columns each.</p>
                <p><strong>The vertical and horizontal gap between light pathway tiles is reduced from 32px to 24px in
                        this layout.</strong></p>"

                example-link="'../html-examples/two-col-infopage.html#light-pathway-example' | relative_url'"
                example-link-text="View layout example"

                %}

            </div>


            <div class="layout-example two-col-toolpage mt-0 mb-5 px-4 py-0">

                {% include layouts-accordion.html
                layout-name="two-col-toolpage"

                min1200-visibility="true"
                min992-visibility="false"
                min768-visibility="true"
                min576-visibility="true"
                finalbp-visibility="true"

                finalbp="Breakpoint &lt; 576px"

                min1200-img="'../assets/layout-images/light-2col-rightsidebar-min1200.png' | relative_url "
                min768-img="'../assets/layout-images/light-2col-rightsidebar-min768.png' | relative_url "
                min576-img="'../assets/layout-images/light-2col-rightsidebar-min576.png' | relative_url "
                finalbp-img="'../assets/layout-images/light-2col-rightsidebar-finalbp.png' | relative_url "


                min1200-rules="<p>The content area is 8 grid-columns wide.</p>
                <p>Light pathway tiles are 2.5 grid-columns wide each.</p>
                <p><strong>The vertical and horizontal gap between light pathway tiles is reduced from 32px to 24px in this layout.</strong></p>"

                min768-rules="<p>The content area is 8 grid-columns wide.</p>
                <p>Light pathway tiles are 4 grid-columns wide each.</p>
                <p><strong>The vertical and horizontal gap between light pathway tiles is reduced from 32px to 24px in this layout.</strong></p>"

                min576-rules="<p>The content area is 12 grid-columns wide.</p>
                <p>Light pathway tiles are 6 grid-columns wide each.</p>
                <p><strong>The vertical and horizontal gap between light pathway tiles is reduced from 32px to 24px in this layout.</strong></p>"

                finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
                <p>Light pathway tiles are 12 grid-columns wide each.</p>
                <p><strong>The vertical and horizontal gap between light pathway tiles is reduced from 32px to 24px in this layout.</strong></p>"

                example-link="'../html-examples/two-col-toolpage.html#light-pathway-example' | relative_url'"
                example-link-text="View layout example"

                %}

            </div>

            <div class="layout-example two-col-toolpage-alt mt-0 mb-5 px-4 py-0">

                {% include layouts-accordion.html
                layout-name="two-col-toolpage-alt"
    
                min1200-visibility="true"
                min992-visibility="true"
                min768-visibility="true"
                min576-visibility="true"
                finalbp-visibility="true"
    
                finalbp="Breakpoint &lt; 576px"

                min1200-img="'../assets/layout-images/light-2col-rightsidebar-alt-min1200.png' | relative_url "    
                min992-img="'../assets/layout-images/light-2col-rightsidebar-alt-min992.png' | relative_url "
                min768-img="'../assets/layout-images/light-2col-rightsidebar-alt-min768.png' | relative_url "
                min576-img="'../assets/layout-images/light-2col-rightsidebar-alt-min576.png' | relative_url "
                finalbp-img="'../assets/layout-images/light-2col-rightsidebar-alt-finalbp.png' | relative_url "
    
                min1200-rules="<p>The content area is 8 grid-columns wide.</p>
                <p>Light pathway tiles are 2.5 grid-columns wide each.</p>
                <p><strong>The vertical and horizontal gap between light pathway tiles is reduced from 32px to 24px in this layout.</strong></p>"
                
                min992-rules="<p>The content area is 8 grid-columns wide.</p>
                <p>Light pathway tiles are 4 grid-columns wide each.</p>
                <p><strong>The vertical and horizontal gap between light pathway tiles is reduced from 32px to 24px in this layout.</strong></p>"
                
                min768-rules="<p>The content area is 11 grid-columns wide.</p>
                <p>Light pathway tiles are 5.5 grid-columns wide each.</p>
                <p><strong>The vertical and horizontal gap between light pathway tiles is reduced from 32px to 24px in this layout.</strong></p>"

                min576-rules="<p>The content area is 12 grid-columns wide.</p>
                <p>Light pathway tiles are 6 grid-columns wide each.</p>
                <p><strong>The vertical and horizontal gap between light pathway tiles is reduced from 32px to 24px in this layout.</strong></p>"
    
                finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
                <p>light pathway tiles span the full width of the content area.</p>"
    
                example-link="'../html-examples/two-col-toolpage-alt.html#light-layout-example' | relative_url'"
                example-link-text="View layout example"
    
                %}
    
            </div>
    



            <!-- GUIDELINES -->
            <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

            <h3>Purpose: </h3>
            <p>Generally used as a lightweight option within index pages to link to a list of pages on the site. May be
                used to show linked page hierarchy alongside light and standard pathways. </p>
            <h3>When to use this component: </h3>
            <ul>
                <li>Light pathways are used primarily on the home, category and topic pages. </li>
                <li>They may be used to show pathways that are lower in hierarchy than standard and light pathways.</li>
            </ul>

            <h3>Content rules: </h3>
            <ul>
                <li>All light pathway tiles grouped together should have consistent top icon use. Tiles without a top
                    icon should not appear in the same group as tiles with a top icon.</li>
                <li>Tiles linking to external sites should state the agency or name of website.</li>
            </ul>


             <!-- VERSION HISTORY-->
            <h2 class="section-start" id="version-history">Version history</h2>
            <h4>31 October, 2023</h4>
            <ul>
                <li>Changes to the social media icons. Added the Instagram icon and updated the twitter icon to the new 'X' icon.</li>
            </ul>
            <h4>8 August, 2023</h4>
            <ul>
                <li>Added an additional layout (the <strong>Two column - tool page alternate</strong> layout).</li>
            </ul>

        </div>