---

layout: content-tagged
title: List group
description: Display a list in easy to scan grid of rows and columns.
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
        classes="in-page"
        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-10">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        {% include section-tabs.html

            tab1="Business.gov.au branding"
            tab1value="bga-branded"
    
            tab2="No branding"
            tab2value="non-branded"
    
            %}
    
            <div class="tab-sections-wrapper p-4">
                
                <div class="tab-section bga-branded selected">
        
                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html
                    element-string="bga-listgroup"
                    sm-visibility="true"
                    xs-visibility="true"
                    final-visibility="true"
                    breakpoint-final="350"
                    %}

                    <!-- Component example -->

                    <div class="component-example m-0">
                        <div class="component-wrapper remove-element-padding p-4">
                            <!--
                            <h3>Layout: Single column - full width</h3>
                            {% include component-examples/list-group-example.html
                                classes="full-width"
                            %}

                            <h3>Layouts: Single column - 2/3 width layout and two column layouts</h3>
                            -->

                            {% include component-examples/list-group-example.html
                                classes=""
                            %}

                        </div>
                    </div>

                </div>

                <div class="tab-section non-branded ">

                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html
                        element-string="nb-listgroup"
                        sm-visibility="true"
                        xs-visibility="true"
                        final-visibility="true"
                        breakpoint-final="350"
                        %}
    
                        <!-- Component example -->
    
                        <div class="component-example m-0">
                            <div class="component-wrapper remove-element-padding p-4">

                                {% include non-branded-explanation.html
                                    component="list group"
                                    brand-elements="borders"
                                %}

                                {% include component-examples/list-group-example.html
                                    classes="non-branded"
                                %}
    
                            </div>
    
                        </div>

                </div>

            </div>

       




        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://xd.adobe.com/view/9698488f-f1e5-4dc8-9e0d-01c4a4d1cb46-c3cb/screen/bd0cf3a4-45d8-48ed-964b-574e373fd5bd/'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>List groups can be used on all <a href={{ "brand-foundations/grid-and-page-layouts.html" | relative_url }}>page layouts</a> except the two column - left filters layout.</p>


        {% include layouts-dropdown.html
            single-col-fullwidth-visibility="true"
            single-col-twothirds-visibility="true"
            two-col-leftmenu-visibility="true"
            two-col-rightsidebar-visibility="true"
        %}

        <div class="layout-example single-col-fullwidth mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="onecol-fw"
    
            min1200-visibility="true"
            min992-visibility="true"
            min768-visibility="false"
            min576-visibility="false"
            finalbp-visibility="true"
    
            finalbp="Breakpoint &lt; 992px"
    
            min1200-img="'../assets/layout-images/listgroup-1colfullwidth-min1200.png' | relative_url "
            min992-img="'../assets/layout-images/listgroup-1colfullwidth-min992.png' | relative_url "
            finalbp-img="'../assets/layout-images/listgroup-1colfullwidth-finalbp.png' | relative_url "
    
    
            min1200-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>List groups span 8 grid-columns each.</p>"
    
            min992-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>List groups span 9 grid-columns each.</p>"
    
            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>List groups span 12 grid-columns each.</p>"
    
            example-link="'../html-examples/single-col-full-width.html#listgroup-example' | relative_url'"
            example-link-text="View layout example"
    
            %}
    
    
        </div>
        
        <div class="layout-example single-col-twothirdswidth mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="onecol-twothirdsw"

            min1200-visibility="true"
            min992-visibility="true"
            min768-visibility="true"
            min576-visibility="false"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 768px"

            min1200-img="'../assets/layout-images/listgroup-1col2thirdswidth-min1200.png' | relative_url "
            min992-img="'../assets/layout-images/listgroup-1col2thirdswidth-min992.png' | relative_url "
            min768-img="'../assets/layout-images/listgroup-1col2thirdswidth-min768.png' | relative_url "
            finalbp-img="'../assets/layout-images/listgroup-1col2thirdswidth-finalbp.png' | relative_url "

            min1200-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>List groups span the full width of the content area.</p>"

            min992-rules="<p>The content area is 9 grid-columns wide.</p>
            <p>List groups span the full width of the content area.</p>"

            min768-rules="<p>The content area is 11 grid-columns wide.</p>
            <p>List groups span the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>List groups span the full width of the content area.</p>"

            example-link="'../html-examples/single-col-two-thirds-width.html#listgroup-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>


        <div class="layout-example two-col-leftmenu mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="twocol-leftmenu"

            min1200-visibility="true"
            min992-visibility="false"
            min768-visibility="false"
            min576-visibility="true"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 576px"

            min1200-img="'../assets/layout-images/listgroup-2col-leftmenu-min1200.png' | relative_url "
            min576-img="'../assets/layout-images/listgroup-2col-leftmenu-min576.png' | relative_url "
            finalbp-img="'../assets/layout-images/listgroup-2col-leftmenu-finalbp.png' | relative_url "

            min1200-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>List groups span the full width of the content area.</p>"

            min576-rules="<p>The content area is 9 grid-columns wide.</p>
            <p>List groups span the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>List groups span the full width of the content area.</p>"

            example-link="'../html-examples/two-col-left-side-menu.html#listgroup-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>


        <div class="layout-example two-col-rightsidebar mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="twocol-rightbar"

            min1200-visibility="false"
            min992-visibility="false"
            min768-visibility="true"
            min576-visibility="false"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 768px"


            min768-img="'../assets/layout-images/listgroup-2col-rightsidebar-min768.png' | relative_url "
            finalbp-img="'../assets/layout-images/listgroup-2col-rightsidebar-finalbp.png' | relative_url "


            min768-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>List groups span the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>List groups span the full width of the content area.</p>"

            example-link="'../html-examples/two-col-right-sidebar.html#listgroup-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>  

        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose:</h3>
        <p>List groups display information in an easy to scan grid of rows and columns.</p>
        <h3>When to use this component:</h3>
        <ul>
        <li>For large lists that would be easier to scan when displayed in a grid format.</li>
        </ul>

    </div>