---

layout: content-tagged
title: Modal dialog
description: Alert the user to information they need to know at that point in time with a pop-up window.
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
        classes="in-page"
        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-10">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        {% include section-tabs.html

        tab1="business.gov.au branding"
        tab1value="bga-branded"

        tab2="No branding"
        tab2value="non-branded"

        %}

        <div class="tab-sections-wrapper">


            <div class="tab-section bga-branded selected">

                <!-- Breakpoint radio buttons -->
                {% include breakpoints.html
                element-string="bga-modal"
                md-visibility="true"
                xs-visibility="true"
                final-visibility="true"
                breakpoint-final="350"
                %}

                <!-- Component example -->

                <div class="component-example m-0">
                    <div
                        class="component-wrapper modal-component-wrapper d-flex remove-element-padding bkg-grey px-4 py-4">

                        <h3 class="w-100">Default modal</h3>
                        {% include component-examples/modal-example.html
                        title="Important message for the user"
                        text="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non leo quis metus
                            dictum cursus.</p>
                        <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Consectetur adipiscing elit, sed do eiusmod ut labore et dolore magna aliqua. Ut
                            enim ad.</p>"
                        classes="default"
                        %}


                        <h3 class="w-100 mt-5">Modal with print button and scroll section</h3>
                        {% include component-examples/modal-scroll-example.html
                        title="Employment Contract Tool – Terms of Use"
                        text="<p>It's important that you carefully read and comply with these Terms of Use. They set out
                            important information about how the Employment Contract Tool must be used. They also set out
                            the legal consequences if the Employment Contract Tool is used incorrectly or if you provide
                            false or misleading information whilst using the Tool.</p>
                        <ol>
                            <li>
                                <h3>Parties</h3><ol>
                                    <li>These Terms of Use constitute a binding contract between the Department and any
                                        user of the Employment Contract Tool, including any natural person, body
                                        corporate, partnership, association, firm, government body or government
                                        authority.</li>
                                </ol>
                            </li>
                            <li>
                                <h3>Use of the Employment Contract Tool</h3>
                                <ol>
                                    <li>These Terms of Use contain the terms and conditions that apply each time you
                                        access and use the Employment Contract Tool. These Terms of Use take effect when
                                        you click the 'Agree to Terms of Use' button, or when you otherwise use the
                                        Employment Contract Tool.</li>
                                    <li>If you do not agree to these Terms of Use, you must immediately cease using the
                                        Employment Contract Tool.</li>
                                    <li>We may vary these Terms of Use at any time by posting the changes on the
                                        Employment Contract Tool. You will be subject to the Terms of Use made available
                                        at the time of using the Employment Contract Tool.</li>
                                    <li>We will provide the Employment Contract Tool as a service which you may access
                                        on a fee-free basis, subject to compliance with these Terms and Conditions.</li>
                                    <li>We will take reasonable efforts to keep the Employment Contract Tool up to date
                                        however the law may change without notice and may result in a Generated Contract
                                        being superseded or out of date.</li>
                                </ol>
                            </li>
                            <li>
                                <h3>Your obligations</h3>
                                <ol>
                                    <li>
                                        <h4><i>On each occasion that you use the Employment Contract Tool, and on an
                                                ongoing basis, you represent and warrant:</i></h4>
                                        <ol class='alphalist'>
                                            <li> that you have complied with these Terms of Use; </li>
                                            <li>that you have read and complied with the relevant guidance and notices
                                                provided in these Terms of Use and the Tool;</li>
                                            <li>that the information that you input into the Tool, and the information
                                                contained in any Generated Contract, is true and accurate and no
                                                incorrect statements have been made;</li>
                                            <li>that you have authority to legally bind the user of the Employment
                                                Contract Tool to these Terms of Use, whether:<ol class='romanlist'>
                                                    <li>in your own capacity as an individual if you are using the
                                                        Employment Contract Tool as a sole trader; or </li>
                                                    <li>on behalf of, and as an authorised representative of, any
                                                        company, body corporate, partnership, association, firm,
                                                        government body or government authority, or other employing
                                                        entity for whom you access and use the Tool.</li>
                                                    <li>in your own capacity as an individual if you are using the
                                                        Employment Contract Tool as a sole trader; or</li>
                                                    <li>in your own capacity as an individual if you are using the
                                                        Employment Contract Tool as a sole trader; or</li>
                                                    <li>in your own capacity as an individual if you are usingthe
                                                        Employment Contract Tool as a sole trader; or</li>
                                                    <li>in your own capacity as an individual if you are using the
                                                        Employment Contract Tool as a sole trader; or</li>
                                                    <li>in your own capacity as an individual if you are using the
                                                        Employment Contract Tool as a sole trader; or</li>
                                                    <li>in your own capacity as an individual if you are using the
                                                        Employment Contract Tool as a sole trader; or</li>
                                                    <li>in your own capacity as an individual if you are using the
                                                        Employment Contract Tool as a sole trader; or</li>
                                                </ol>
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <h4><i>On each occasion that you use the Employment Contract Tool, and on an
                                                ongoing basis, you agree that you and your Personnel:</i></h4>
                                        <ol class='alphalist'>
                                            <li>must only use the Employment Contract Tool to prepare Generated
                                                Contracts for the purpose of engaging employees in your business or
                                                organisation, and you must not distribute a Generated Contract to any
                                                other person, business or organisation for engaging employees or for any
                                                other purpose;</li>
                                            <li>must provide to prospective employees all documentation included with a
                                                Generated Contract produced by the Tool, including the Disclaimer;</li>
                                            <li>must not use or display the Commonwealth Coat of Arms, or any other
                                                Department branding or logos, in any Generated Contract;</li>
                                            <li> must not represent that any Generated Contract is endorsed or required
                                                by the Department;</li>
                                            <li>must not represent that the Department is a party to any Generated
                                                Contract;</li>
                                            <li> must not re-use a Generated Contract, including any out of date
                                                Generated Contract generated from any earlier version of the Tool;</li>
                                            <li>will undertake the entire Tool process from the beginning and follow
                                                each step to generate a new Generated Contract. The selections require
                                                you to know and properly apply the award that covers the employee. If
                                                you make incorrect selections you may be exposed to legal risks e.g. for
                                                the underpayment of employees;</li>
                                            <li>other than where the Employment Contract Tool specifically requires you
                                                to enter 'free text' (such as an employee's position title, the address
                                                of your workplace and relevant award details) you must not amend or
                                                delete any of the clauses in the Generated Contract created by the Tool
                                                except where you are required to do so to comply with the law.</li>
                                        </ol>
                                    </li>
                                    <li>
                                        <h4><i>Compliance with laws </i></h4>
                                        <p>You must:</p>
                                        <ol class='alphalist'>
                                            <li>ensure that you and your Personnel's use of the Tool and any Generated
                                                Contract complies with applicable laws, including without limitation,
                                                the <em>Fair Work Act 2009</em> (Cth), applicable awards, applicable
                                                health and safety laws and any industry specific workplace laws;</li>
                                            <li>supply the Fair Work Information Statement (as published by the Fair
                                                Work Ombudsman) with any Generated Contract, along with any other
                                                supporting information which is required to be supplied
                                                under law;
                                            </li>
                                            <li>
                                                not engage in any misleading or deceptive conduct in relation to
                                                any Generated Contract, including in relation to conditions of
                                                employment or worker rights;
                                            </li>
                                            <li>
                                                only use the Employment Contract Tool for lawful purposes, in
                                                accordance with these Terms of Use, or any other conditions
                                                notified by the Department on its website, and in a manner that
                                                does not infringe the Intellectual Property Rights of any third
                                                party.
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <h4><i>By using the Employment Contract Tool you acknowledge that:</i>
                                        </h4>
                                        <ol class='alphalist'>
                                            <li>nothing in the Employment Contract Tool constitutes legal
                                                advice;</li>
                                            <li>guidance in the Employment Contract Tool is general in nature
                                                and may not be applicable to specific circumstances relating to
                                                your employment obligations;</li>
                                            <li>you are solely responsible for seeking legal advice on the laws
                                                that apply to you as an employer; and</li>
                                            <li>the law may change at any time and contract provisions generated
                                                by the Employment Contract Tool may be superseded by changes in
                                                law including awards.</li>
                                        </ol>
                                    </li>
                                    <li>
                                        <h4><i>If you pay employees a commission, you must update documentation
                                                to reflect any changes</i></h4>
                                        <p>If you include a commission arrangement in the Generated Contract and
                                            you change the arrangement while the employee is working for you,
                                            you must update the Generated Contract to reflect the new
                                            arrangement.</p>
                                    </li>
                                    <li>
                                        <h4><i>You must pay employees correctly</i></h4>
                                        <p>You must pay employees the right amount and provide the right
                                            conditions as prescribed by the award which applies to the employee
                                            including any allowances or loadings, and leave or other
                                            entitlements.</p>
                                    </li>
                                    <li>
                                        <h4><i>Proper conduct</i></h4>
                                        <p>You must:</p>
                                        <ol class='alphalist'>
                                            <li>
                                                not use the Employment Contract Tool in a manner that may
                                                interfere with or harm other users of the Employment Contract
                                                Tool, the hosting site, the platform or other infrastructure
                                                through which the Employment Contract Tool is made available;
                                                and
                                            </li>
                                            <li>
                                                not transmit, or input via the Employment Contract Tool, any (i)
                                                harmful code or malware; or (ii) unlawful, defamatory, obscene,
                                                offensive or scandalous content; or any content that constitutes
                                                or encourages conduct that would contravene any law or which may
                                                harass or cause distress or inconvenience to any person.
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <h3>Changes and unavailability</h3>
                                <ol>
                                    <li>
                                        We may make changes to any aspect of the Employment Contract Tool, or
                                        suspend or cease to provide the Employment Contract Tool, at any time
                                        and without notice.
                                    </li>
                                    <li>
                                        The Employment Contract Tool may be unavailable without notice for any
                                        reason, including due to power outages, system failures, security
                                        measures, maintenance or other interruptions.
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <h3>Privacy</h3>
                                <ol>
                                    <li>
                                        <p>We collect your personal information to generate a tailored
                                            employment contract which meets the requirements of your business.
                                            The personal information we collect within the Employment Contract
                                            Tool includes:</p>
                                        <ol class='alphalist'>
                                            <li>Business address</li>
                                            <li>Business structure</li>
                                            <li>Position titles</li>
                                            <li>Duties and responsibilities</li>
                                        </ol>
                                    </li>
                                    <li>Without this information, we may be unable to generate an employment
                                        contract to meet your business requirements.</li>
                                    <li>Information collected will not be disclosed outside the Department,
                                        unless an exception under the Privacy Act applies. </li>
                                    <li>By accepting these Terms of Use, you agree to notify your employees on
                                        whose behalf you use the Tool that we may collect their personal
                                        information.</li>
                                    <li>When using the Employment Contract Tool, you agree to comply with the
                                        Australian Privacy Principles under the Privacy Act, and not do any act
                                        or engage in any practice which, if done or engaged in by us, would be a
                                        breach of an Australian Privacy Principle under the Privacy Act.</li>
                                    <li>Your personal information is protected by law, including the <em>Privacy
                                            Act 1988</em> (Cth) and the Australian Privacy Principles. Our
                                        Privacy Policy applies to the Employment Contract Tool and can be found
                                        here. You agree to our Privacy Policy by accepting these Terms of Use and using
                                        the Employment Contract Tool.</li>
                                    <li>You agree that your use of the Employment Contract Tool will be recorded
                                        and retained by the Department for audit and evidentiary purposes.</li>
                                </ol>
                            </li>
                            <li>
                                <h3>Intellectual Property Rights</h3>
                                <ol>
                                    <li>
                                        We own or license all intellectual property in the Employment Contract
                                        Tool. We grant you a non-exclusive, non-transferable and revocable
                                        licence to use the Employment Contract Tool subject to these Terms of
                                        Use. Nothing in these Terms of Use transfers or assigns any intellectual
                                        property rights to you or your Personnel.
                                    </li>
                                    <li>
                                        You must not infringe our or any third party's intellectual property
                                        rights, for example by copying, disassembling or reverse engineering any
                                        element of the Employment Contract Tool, other than in accordance with
                                        these Terms of Use.
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <h3>Limitation of Liability</h3>
                                <ol>
                                    <li>
                                        You agree that you and your Personnel use the Employment Contract Tool
                                        at your own risk.
                                    </li>
                                    <li>
                                        We endeavour to ensure the Employment Contract Tool is compliant with
                                        applicable laws. However, you remain solely responsible for complying
                                        with all applicable laws in connection with any employment relationship
                                        and your use of the Employment Contract Tool.
                                    </li>
                                    <li>
                                        We make no representation or warranty regarding the performance,
                                        accuracy, reliability, fitness for purpose, non-infringement of third
                                        party rights, third party misuse or availability of the Employment
                                        Contract Tool.
                                    </li>
                                    <li>
                                        We and our Personnel exclude all liability to you and your Personnel for
                                        any direct or indirect loss or damage whatsoever, whether through
                                        accessorial liability for a breach by you or your Personnel, our
                                        negligence, any action or omission of a user of the Employment Contract
                                        Tool, or otherwise (including, without limitation, special,
                                        consequential or exemplary damages, damages for loss of profits,
                                        goodwill, contracts, data, or other intangible losses) suffered by you,
                                        your Personnel or any other person as a result of, or in connection
                                        with:

                                        <ol class='alphalist'>
                                            <li>
                                                you or your Personnel's use of, or reliance on, the Employment
                                                Contract Tool;
                                            </li>
                                            <li>
                                                you or your Personnel's breach of these Terms of Use;
                                            </li>
                                            <li>
                                                any errors you make in relation to payment of employees; or
                                            </li>
                                            <li>
                                                your inability to use the Employment Contract Tool, including as
                                                a result of any termination or suspension of your use of or
                                                access to the Employment Contract Tool, or our discontinuation
                                                or modification of any or all of the Employment Contract Tool,
                                                or unavailability of the Employment Contract Tool due to power
                                                outages, system failures, security measures, maintenance, or
                                                other interruptions.
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        The Employment Contract Tool links to external information. It is
                                        important that you read the most up-to-date version of any material that
                                        is linked from the Employment Contract Tool. We have no direct control
                                        over the content of any linked websites, or the changes that may occur
                                        to the content on those websites. Links to external websites are
                                        provided for information only, and you are responsible for making your
                                        own enquiries and decisions about the accuracy, reliability, currency
                                        and completeness of information contained in external information. We do
                                        not guarantee, and accept no legal liability whatsoever arising from or
                                        connected to, the accuracy, reliability, currency or completeness of any
                                        third party material or websites linked to the Employment Contract Tool.
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <h3>Indemnity</h3>
                                <ol>
                                    <li>
                                        <p>You indemnify us and our Personnel from and against any claims, loss,
                                            damage, liability or expense, including legal costs and expenses on
                                            a solicitor/own client basis and the cost of time spent, resources
                                            used or disbursements paid, arising from any of the following:</p>
                                        <ol class='alphalist'>
                                            <li>
                                                your use (including any incorrect use) of the Employment
                                                Contract Tool;
                                            </li>
                                            <li>
                                                your current, prospective or former Personnel's use of the
                                                Employment Contract Tool;
                                            </li>
                                            <li>
                                                a breach by you of these Terms of Use;
                                            </li>
                                            <li>
                                                any claim by a third party in connection with the Employment
                                                Contract Tool, including, without limitation, any claim
                                                concerning a contravention of applicable law by you or us as a
                                                result of using the Employment Contract Tool; and
                                            </li>
                                            <li>
                                                a dispute between you and any of your Personnel, employment
                                                applicants or prospective employees including in relation to any
                                                amounts due to your Personnel or arising from the engagement,
                                                conditions of employment, or termination of employment.
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        Your liability to indemnify us under this clause 8 will be reduced
                                        proportionately to the extent that any act or omission involving fault
                                        on our part contributed to the relevant loss, damage, liability or
                                        expense.
                                    </li>
                                    <li>
                                        Our right to be indemnified under this clause 8 is in addition to, and
                                        not exclusive of, any other right, power or remedy provided by law.
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <h3>General</h3>
                                <ol>
                                    <li>
                                        You cannot assign your obligations or rights under these Terms of Use
                                        without our prior written approval, which may be withheld in our
                                        complete discretion, or given on conditions. We may novate our
                                        obligations and rights under these Terms of Use to any other
                                        Commonwealth of Australia entity.
                                    </li>
                                    <li>
                                        These Terms of Use are governed by the laws of the Australian Capital
                                        Territory and the parties submit to the non-exclusive jurisdiction of
                                        the courts of the Australian Capital Territory.
                                    </li>
                                    <li>
                                        A reference to any legislation or legislative provision includes any
                                        statutory modification, substitution or re-enactment of that legislation
                                        or legislative provision.
                                    </li>
                                    <li>
                                        These Terms of Use record the entire agreement between the parties in
                                        relation to its subject matter.
                                    </li>
                                    <li>
                                        If anything in these Terms of Use is void or otherwise unenforceable
                                        then it will be severed and the rest of the contract remains in force.
                                    </li>
                                    <li>
                                        A provision of these Terms of Use will not be construed to the
                                        disadvantage of a party solely on the basis that it proposed that
                                        provision.
                                    </li>
                                    <li>
                                        You are not by virtue of this contract an officer, employee, partner or
                                        agent of ours, nor do you have any power or authority to bind or
                                        represent us. You agree to not misrepresent your relationship with us.
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <h3>Definitions</h3>
                                <ol>
                                    <li>
                                        <p>In these Terms of Use:</p>
                                        <ol class='alphalist'>
                                            <li>
                                                <strong>Department</strong> means the Commonwealth of Australia
                                                as represented by the Department of Industry, Science and
                                                Resources and includes any department, agency or authority of
                                                the Commonwealth which is from time to time responsible for
                                                administering this contract;
                                            </li>
                                            <li>
                                                <strong>Disclaimer</strong> means the document titled
                                                'Disclaimer' that accompanies each Generated Contract.
                                            </li>
                                            <li>
                                                <strong>Employment Contract Tool</strong> means the tool
                                                provided on the Department's website which allows users to
                                                generate a Generated Contract and includes any Generated
                                                Contract and Materials.
                                            </li>
                                            <li>
                                                <strong>Materials</strong> means anything communicated by the
                                                Department via the Employment Contract Tool or the Department
                                                website, including information, documents, guidance and
                                                Generated Contracts.
                                            </li>
                                            <li>
                                                <strong>Personnel</strong> means officers, employees,
                                                contractors and advisors.
                                            </li>
                                            <li>
                                                <strong>Generated Contract</strong> means an employment
                                                contract, letter of offer and any other documentation generated
                                                by the Employment Contract Tool, whether in draft or final form.
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                            </li>
                        </ol>"
                        button="Agree to terms of use"
                        classes="print-group extra-wide nested-lists"
                        %}


                        <h3 class="w-100 mt-5">Modals with email form</h3>

                        {% include component-examples/modal-grants-example.html
                        title="Grants and programs shortlist"
                        shortlist1="<h4><a href=''>Youth Jobs Path</a></h4>
                        <p>Assistance for businesses employing young people</p>"
                        shortlist2="<h4><a href=''>Workforce Incentive Program (WIP) - practice stream</a></h4>
                        <p>Funding for general practices to employ health workers in areas of need</p>"
                        shortlist3="<h4><a href=''>Employer Support Payment Scheme</a></h4>
                        <p>Payments for employers of Reservists</p>"
                        shortlist4="<h4><a href=''>Textile, clothing and footwear corporatewear register</a></h4>
                        <p>Textile, Clothing and Footwear Corporatewear Register</p>"
                        shortlist5="<h4><a href=''>Support Wage System</a></h4>
                        <p>Free productivity assessment for employers of people with a disability</p>"
                        shortlist6="<h4><a href=''>Textile, clothing and footwear corporatewear register</a></h4>
                        <p>Textile, Clothing and Footwear Corporatewear Register</p>"
                        form-title="Email your shortlist so you can review it later"
                        form-description="Enter your email address and we will send you a list of links to your
                        shortlisted grants."
                        button="Email"
                        classes="modal-form modal-shortlist teal"
                        toggle-text="Email your shortlist so you can review it later"
                        %}


                        {% include component-examples/modal-checklist-example.html
                        title="You have saved your checklist progress"
                        text="<p>Use this link to continue on from where you were:</p>"
                        link-text="https://business.gov.au/people/employees/hiring-employees?c52=1&c51=1&c11=1&c12=1&c54=1&c53=1&c81=1&c82=1&c91=1"
                        form-description="You can also enter your email address and we’ll send you this link."
                        button="Email my link"
                        classes="modal-form blue save-progress"
                        toggle-text="Email your link"
                        %}


                    </div>

                </div>

            </div>

            <div class="tab-section non-branded ">
                <!-- Breakpoint radio buttons -->
                {% include breakpoints.html
                element-string="nb-modal"
                md-visibility="true"
                final-visibility="true"
                breakpoint-final="768"
                %}

                <!-- Component example -->

                <div class="component-example m-0">
                    <div
                        class="component-wrapper modal-component-wrapper d-flex remove-element-padding bkg-grey px-4 py-4">

                        {% include non-branded-explanation.html
                        component="modals"
                        brand-elements="colours, icons and button styles"
                        %}

                        <h3 class="w-100">Default modal</h3>
                        {% include component-examples/modal-example.html
                        title="Important message for the user"
                        text="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non leo quis metus
                            dictum cursus.</p>
                        <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Consectetur adipiscing elit, sed do eiusmod ut labore et dolore magna aliqua. Ut
                            enim ad.</p>"
                        classes="default non-branded"
                        %}


                        <h3 class="w-100 mt-5">Modal with print button and scroll section</h3>
                        {% include component-examples/modal-scroll-example.html
                        title="Employment Contract Tool – Terms of Use"
                        text="<p>It’s important that you have all the information you need to apply. You can download
                            the documents you may have missed now.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sapien imperdiet lectus
                            vulputate hendrerit. Cras a cursus libero, at consequat nulla. Nullam commodo massa at nisl
                            placerat ultricies. Sed nisi ex, volutpat sit amet augue id, lobortis rutrum odio.
                            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nunc
                            ultricies placerat lectus, eu egestas sapien porta non. Donec id finibus magna. Integer ac
                            nulla diam. Vestibulum aliquam sapien tortor. Ut urna magna, malesuada vel feugiat et,
                            convallis vulputate urna. Sed vitae commodo dolor.</p>
                        <p>Ut ullamcorper euismod euismod. Vivamus mi nunc, convallis sed massa in, bibendum pharetra
                            nisl. Vestibulum mollis eros nec mi viverra.</p>
                        <p>Sed ac justo sollicitudin odio feugiat elementum. In hac habitasse platea dictumst. Donec
                            consequat mollis leo vestibulum gravida. Nullam et lobortis eros. Nunc lectus diam, mollis
                            quis ultrices convallis, pulvinar eget dui. Pellentesque sit amet metus vestibulum, viverra
                            magna eu, egestas justo. Nulla ac orci tellus. Curabitur semper, nisi egestas ullamcorper
                            bibendum, tortor magna ullamcorper orci, a sagittis metus felis vitae mauris. Aliquam
                            rutrum, odio in tincidunt lacinia, quam dolor interdum mi, id efficitur enim ex et mi. Ut
                            interdum nulla vitae turpis fringilla, vel dapibus est mattis. Integer urna mauris, commodo
                            eget quam nec, bibendum ullamcorper turpis. Cras ut nulla et elit ornare finibus. Integer
                            fermentum mauris diam, at gravida dui rutrum vitae. Aliquam erat volutpat.</p>"
                        button="Agree to terms of use"
                        classes="print-group extra-wide non-branded"
                        %}


                        <h3 class="w-100 mt-5">Modals with email form</h3>

                        {% include component-examples/modal-checklist-example.html
                        title="You have saved your checklist progress"
                        text="<p>Use this link to continue on from where you were:</p>"
                        link-text="https://business.gov.au/people/employees/hiring-employees?c52=1&c51=1&c11=1&c12=1&c54=1&c53=1&c81=1&c82=1&c91=1"
                        form-description="You can also enter your email address and we’ll send you this link."
                        button="Email my link"
                        classes="modal-form non-branded"
                        toggle-text="Email your link"
                        %}


                    </div>

                </div>
            </div>

        </div>


        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://xd.adobe.com/view/9698488f-f1e5-4dc8-9e0d-01c4a4d1cb46-c3cb/screen/b485a8c6-302a-46d4-bc7b-afac3748b96b'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>Modal dialogs can be used on all page layouts.</p>


        {% include layouts-dropdown.html
        layout-name="All layouts"
        singlelayout="true"
        %}

        <div class="layout-example show full-border mt-0 mb-5 p-4">
            {% include layouts-accordion.html
            singlelayout="true"
            allbp-img="'../assets/layout-images/modal-allbp.png' | relative_url "
            allbp-rules="<p>Modals are horizontally centered on the screen. At breakpoints above 768px wide modals sit
                80px from the top of the screen. Below 768px wide modals sit 16px from the top.</p>
            <p>Single column modals have a maximum width of 640px.</p>
            <p>Two column modals have a maximum width of 900px.</p>"
            %}

        </div>


        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose:</h3>
        <p>Used to attract the users attention to important information during a process.</p>
        <p>The modal dialog appears on top of the main content which is disabled until the modal is closed.</p>
        <h3>When to use this component:</h3>
        <p>Modal dialogs can disrupt to the user experience and should not be used often. Only use them to aid the user
            in completing a workflow or process.</p>
        <p>Use modals to:</p>
        <ul>
            <li>Display important warnings or correct critical errors.</li>
            <li>Allow the user to enter information for continuing a current process.</li>
            <li>Break up a complex workflow into simpler steps.</li>
        </ul>


    </div>