---

layout: content-tagged
title: Pagination
description: A set of links for navigating between a series of connected pages.
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
        classes="in-page"
            
        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-8">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        <!-- Breakpoint radio buttons -->
        {% include breakpoints.html
        element-string="pagination"
        lg-visibility="true"
        sm-visibility="true"
        xs-visibility="true"
        breakpoint-final="350"
        %}

        <!-- Component example -->

        <div class="component-example m-0">
            <div class="component-wrapper remove-element-padding p-4">


                {% include component-examples/pagination-example.html %}


            </div>
        </div>


        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://xd.adobe.com/view/aa072634-b3aa-408b-966a-2e8f09cf920b-ff54/screen/165af124-1d48-4ced-b8b2-c264cc149b43/'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>Pagination is used on the <a href={{ "brand-foundations/grid-and-page-layouts.html" | relative_url }}>two column - left side menu layout</a>.</p>

        
        {% include layouts-dropdown.html
        layout-name="Two column - left side menu layout"
        singlelayout="true"
        %}

        <div class="layout-example show two-col-leftmenu mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="twocol-leftmenu"

            min1200-visibility="true"
            min992-visibility="false"
            min768-visibility="false"
            min576-visibility="true"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 576px"

            min1200-img="'../assets/layout-images/pagination-2col-leftmenu-min1200.png' | relative_url "
            min576-img="'../assets/layout-images/pagination-2col-leftmenu-min576.png' | relative_url "
            finalbp-img="'../assets/layout-images/pagination-2col-leftmenu-finalbp.png' | relative_url "

            min1200-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>Pagination spans the full width of the content area.</p>"

            min576-rules="<p>The content area is 9 grid-columns wide.</p>
            <p>Pagination spans the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Pagination spans the full width of the content area.</p>"

            example-link="'../html-examples/search-layout.html#pagination-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>








        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose</h3>
        <p>Pagination provides links for navigating between a series of connected pages.</p>
        <h3>When to use this component:</h3>
        <ul>
            <li>Typically used on search or tool result pages when a set of results would be too long to present on one page.</li>
        </ul>


    </div>