---

layout: content-tagged
title: Pathway accordion
description: Group links to related content in an accordion.
updated: 22 August, 2023
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
classes="in-page"

        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        link-4="Version history" link-id-4="#version-history"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-10">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        {% include section-tabs.html

            tab1="business.gov.au branding"
            tab1value="bga-branded"
    
            tab2="No branding"
            tab2value="non-branded"
    
            %}
    
    
            <div class="tab-sections-wrapper">
    
    
                <div class="tab-section bga-branded selected">
        
                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html
                    element-string="bga-pathway-accordion"
                    lg-visibility="true"
                    md-visibility="true"
                    final-visibility="true"
                    breakpoint-final="768"
                    %}

                    <!-- Component example -->

                    <div class="component-example m-0">
                        <div class="component-wrapper remove-element-padding p-4">

                            <h3>Default pathway accordion (guide pattern)</h3>
                            {% include component-examples/pathway-accordion-example.html

                            item1-name="make-key-decisions"

                            item1="teal"
                            
                            img1="'../assets/refresh-illustrations/signpost.svg' | relative_url"
                            title1="1. Make key decisions"
                            description1="The decisions you make early on can affect many areas of your business. Including the licences you need, how much tax you pay and the volume of paperwork."

                            item1-content1="<h4>Decide on a business structure</h4><p>The main structures are sole trader, partnership, company or trust. Choosing a structure for your business affects your tax, paperwork and finances. Consider getting expert advice to help you.</p>"
                            item1-content1-tag="Required"
                            item1-content1-link="Business structures"

                            item1-content2="<h4>Are you an employee or contractor?</h4><p>If you're working on your own you'll need to know your worker status. Find out if you're an independent contractor or an employee before entering into a contract.</p>"
                            item1-content2-tag="Required"
                            item1-content2-link="How to choose a business name"

                            item1-content3="<h4>Choose your business location</h4><p>Each business has different needs for storage, equipment, or just being close to the right customers. Consider what’s important for your business before you decide where you’ll be based.</p>"
                            item1-content3-tag="Recommended"
                            item1-content3-link="Choose your business location"

                            item1-content4="<h4>Learn how to choose a business name</h4><p>There may be more to choosing a business name than you think. Consider whether the name is unique, available to use or exists as a protected trade mark before you decide.</p>"
                            item1-content4-tag="Recommended"
                            item1-content4-link="How to choose a business name"



                            item2-name="plan-your-business"

                            item2="purple"
                            
                            img2="'../assets/refresh-illustrations/checklist-calculator.svg' | relative_url"
                            title2="2. Plan your business"
                            description2="You’ve analysed your idea and yourself. Next you can plan your future and see how it all comes together."

                            item2-content1="<h4>Develop your business plan</h4><p>Planning out your business gives you direction and keeps your business on track. You'll also need a business plan if you seek finance.</p>"
                            item2-content1-tag="Required"
                            item2-content1-link="Develop your business plan"

                            item2-content2="<h4>Create your risk management plan</h4><p>Having a good risk management plan in place will help guide the business decisions you make and reduce the impact of unexpected events on your business.</p>"
                            item2-content2-tag="Required"
                            item2-content2-link="Assess and manage risk"

                            item2-content3="<h4>Write your marketing plan</h4><p>Need to tell everyone about your new business? A marketing plan can help you find and reach your customers and work out what makes your business different.</p>"
                            item2-content3-tag="Recommended"
                            item2-content3-link="Develop your marketing plan"



                            item3-name="help-for-your-business"

                            item3="orange"
                            
                            img3="'../assets/refresh-illustrations/people-handshake.svg' | relative_url"
                            title3="3. Help for your business"
                            description3="Find resources to help you with your business, from general business advice to finance assistance and support for your mental health and wellbeing."

                            item3-content1="<h4>Develop your business plan</h4><p>Planning out your business gives you direction and keeps your business on track. You'll also need a business plan if you seek finance.</p>"
                            item3-content1-tag="Required"
                            item3-content1-link="Develop your business plan"

                            item3-content2="<h4>Create your risk management plan</h4><p>Having a good risk management plan in place will help guide the business decisions you make and reduce the impact of unexpected events on your business.</p>"
                            item3-content2-tag="Required"
                            item3-content2-link="Assess and manage risk"

                            item3-content3="<h4>Write your marketing plan</h4><p>Need to tell everyone about your new business? A marketing plan can help you find and reach your customers and work out what makes your business different.</p>"
                            item3-content3-tag="Recommended"
                            item3-content3-link="Develop your marketing plan"

                            

                            item4-name="register-your-business"

                            item4="green"
                            
                            img4="'../assets/refresh-illustrations/computer-success.svg' | relative_url"
                            title4="4. Register your business"
                            description4="To make it official, you’ll need to register. This makes sure your business gets taxed at the right rate, avoids penalties and protects your brand and ideas."

                            item4-content1="<h4>Develop your business plan</h4><p>Planning out your business gives you direction and keeps your business on track. You'll also need a business plan if you seek finance.</p>"
                            item4-content1-tag="Required"
                            item4-content1-link="Develop your business plan"

                            item4-content2="<h4>Create your risk management plan</h4><p>Having a good risk management plan in place will help guide the business decisions you make and reduce the impact of unexpected events on your business.</p>"
                            item4-content2-tag="Required"
                            item4-content2-link="Assess and manage risk"

                            item4-content3="<h4>Write your marketing plan</h4><p>Need to tell everyone about your new business? A marketing plan can help you find and reach your customers and work out what makes your business different.</p>"
                            item4-content3-tag="Recommended"
                            item4-content3-link="Develop your marketing plan"



                            item5-name="prepare-your-finance"

                            item5="yellow"
                            
                            img5="'../assets/refresh-illustrations/laptop-finance.svg' | relative_url"
                            title5="5. Prepare your finances"
                            description5="It's essential to take charge of your business finances and know how to manage your cash flow. It could make or break your business. If you need help, consider speaking to a financial adviser."

                            item5-content1="<h4>Develop your business plan</h4><p>Planning out your business gives you direction and keeps your business on track. You'll also need a business plan if you seek finance.</p>"
                            item5-content1-tag="Required"
                            item5-content1-link="Develop your business plan"

                            item5-content2="<h4>Create your risk management plan</h4><p>Having a good risk management plan in place will help guide the business decisions you make and reduce the impact of unexpected events on your business.</p>"
                            item5-content2-tag="Required"
                            item5-content2-link="Assess and manage risk"

                            item5-content3="<h4>Write your marketing plan</h4><p>Need to tell everyone about your new business? A marketing plan can help you find and reach your customers and work out what makes your business different.</p>"
                            item5-content3-tag="Recommended"
                            item5-content3-link="Develop your marketing plan"



                            item6-name="know-the-law"

                            item6="blue"
                            
                            img6="'../assets/refresh-illustrations/legal-scales.svg' | relative_url"
                            title6="6. Know the law"
                            description6="Finding out your business isn't entirely above board can cost you time and money. Start off strong by setting up and protecting your business legally. Consider speaking to a legal professional to help you along the way."

                            item6-content1="<h4>Develop your business plan</h4><p>Planning out your business gives you direction and keeps your business on track. You'll also need a business plan if you seek finance.</p>"
                            item6-content1-tag="Required"
                            item6-content1-link="Develop your business plan"

                            item6-content2="<h4>Create your risk management plan</h4><p>Having a good risk management plan in place will help guide the business decisions you make and reduce the impact of unexpected events on your business.</p>"
                            item6-content2-tag="Required"
                            item6-content2-link="Assess and manage risk"

                            item6-content3="<h4>Write your marketing plan</h4><p>Need to tell everyone about your new business? A marketing plan can help you find and reach your customers and work out what makes your business different.</p>"
                            item6-content3-tag="Recommended"
                            item6-content3-link="Develop your marketing plan"

                            %}



                            <h3>Pathway accordion variation  - no item description</h3>

                            {% include component-examples/pathway-accordion-example.html

                                classes="no-desc"
                                item1-name="all-state-and-territories"
                
                                item1="teal"
                                
                                img1="'../assets/refresh-illustrations/Australia-map.svg' | relative_url"
                                title1="All states and territories"
                
                                item1-content1="<h4>Decide on a business structure</h4><p>The main structures are sole trader, partnership, company or trust. Choosing a structure for your business affects your tax, paperwork and finances. Consider getting expert advice to help you.</p>"
                                item1-content1-tag="none"
                                item1-content1-link="Business structures"
                
                                item1-content2="<h4>Are you an employee or contractor?</h4><p>If you're working on your own you'll need to know your worker status. Find out if you're an independent contractor or an employee before entering into a contract.</p>"
                                item1-content2-tag="none"
                                item1-content2-link="How to choose a business name"
                
                                item1-content3="<h4>Choose your business location</h4><p>Each business has different needs for storage, equipment, or just being close to the right customers. Consider what’s important for your business before you decide where you’ll be based.</p>"
                                item1-content3-tag="none"
                                item1-content3-link="Choose your business location"
                
                                item1-content4="<h4>Learn how to choose a business name</h4><p>There may be more to choosing a business name than you think. Consider whether the name is unique, available to use or exists as a protected trade mark before you decide.</p>"
                                item1-content4-tag="none"
                                item1-content4-link="How to choose a business name"

                
                
                                item2-name="act"
                
                                item2="blue"
                                
                                img2="'../assets/refresh-illustrations/act-map.svg' | relative_url"
                                title2="Australian Capital Territory"
                
                                item2-content1="<h4>Develop your business plan</h4><p>Planning out your business gives you direction and keeps your business on track. You'll also need a business plan if you seek finance.</p>"
                                item2-content1-tag="none"
                                item2-content1-link="Develop your business plan"
                
                                item2-content2="<h4>Create your risk management plan</h4><p>Having a good risk management plan in place will help guide the business decisions you make and reduce the impact of unexpected events on your business.</p>"
                                item2-content2-tag="none"
                                item2-content2-link="Assess and manage risk"
                
                                item2-content3="<h4>Write your marketing plan</h4><p>Need to tell everyone about your new business? A marketing plan can help you find and reach your customers and work out what makes your business different.</p>"
                                item2-content3-tag="none"
                                item2-content3-link="Develop your marketing plan"
                
                
                
                                item3-name="nsw"
                
                                item3="yellow"
                                
                                img3="'../assets/refresh-illustrations/nsw-map.svg' | relative_url"
                                title3="New South Wales"

                
                                item3-content1="<h4>Develop your business plan</h4><p>Planning out your business gives you direction and keeps your business on track. You'll also need a business plan if you seek finance.</p>"
                                item3-content1-tag="none"
                                item3-content1-link="Develop your business plan"
                
                                item3-content2="<h4>Create your risk management plan</h4><p>Having a good risk management plan in place will help guide the business decisions you make and reduce the impact of unexpected events on your business.</p>"
                                item3-content2-tag="none"
                                item3-content2-link="Assess and manage risk"
                
                                item3-content3="<h4>Write your marketing plan</h4><p>Need to tell everyone about your new business? A marketing plan can help you find and reach your customers and work out what makes your business different.</p>"
                                item3-content3-tag="none"
                                item3-content3-link="Develop your marketing plan"
                            
                
                                %}

                        </div>
                    </div>

                </div>


                <div class="tab-section non-branded ">

                     <!-- Breakpoint radio buttons -->
                     {% include breakpoints.html
                        element-string="nb-pathway-accordion"
                        lg-visibility="true"
                        md-visibility="true"
                        final-visibility="true"
                        breakpoint-final="768"
                        %}
    
                        <!-- Component example -->
    
                        <div class="component-example m-0">
                            <div class="component-wrapper remove-element-padding p-4">

                                {% include non-branded-explanation.html
                                    component="pathway accordion"
                                    brand-elements="colours, borders and images"
                                %}
                               
                                {% include component-examples/pathway-accordion-example.html
    
                                item1-name="make-key-decisions"
    
                                item1="nb"
                                
                                img1="'../assets/img-placeholder-1.svg' | relative_url"
                                title1="1. Make key decisions"
                                description1="The decisions you make early on can affect many areas of your business. Including the licences you need, how much tax you pay and the volume of paperwork."
    
                                item1-content1="<h4>Decide on a business structure</h4><p>The main structures are sole trader, partnership, company or trust. Choosing a structure for your business affects your tax, paperwork and finances. Consider getting expert advice to help you.</p>"
                                item1-content1-tag="Required"
                                item1-content1-link="Business structures"
    
                                item1-content2="<h4>Are you an employee or contractor?</h4><p>If you're working on your own you'll need to know your worker status. Find out if you're an independent contractor or an employee before entering into a contract.</p>"
                                item1-content2-tag="Required"
                                item1-content2-link="How to choose a business name"
    
                                item1-content3="<h4>Choose your business location</h4><p>Each business has different needs for storage, equipment, or just being close to the right customers. Consider what’s important for your business before you decide where you’ll be based.</p>"
                                item1-content3-tag="Recommended"
                                item1-content3-link="Choose your business location"
    
                                item1-content4="<h4>Learn how to choose a business name</h4><p>There may be more to choosing a business name than you think. Consider whether the name is unique, available to use or exists as a protected trade mark before you decide.</p>"
                                item1-content4-tag="Recommended"
                                item1-content4-link="How to choose a business name"
    
    
    
                                item2-name="plan-your-business"
    
                                item2="nb"
                                
                                img2="'../assets/img-placeholder-1.svg' | relative_url"
                                title2="2. Plan your business"
                                description2="You’ve analysed your idea and yourself. Next you can plan your future and see how it all comes together."
    
                                item2-content1="<h4>Develop your business plan</h4><p>Planning out your business gives you direction and keeps your business on track. You'll also need a business plan if you seek finance.</p>"
                                item2-content1-tag="Required"
                                item2-content1-link="Develop your business plan"
    
                                item2-content2="<h4>Create your risk management plan</h4><p>Having a good risk management plan in place will help guide the business decisions you make and reduce the impact of unexpected events on your business.</p>"
                                item2-content2-tag="Required"
                                item2-content2-link="Assess and manage risk"
    
                                item2-content3="<h4>Write your marketing plan</h4><p>Need to tell everyone about your new business? A marketing plan can help you find and reach your customers and work out what makes your business different.</p>"
                                item2-content3-tag="Recommended"
                                item2-content3-link="Develop your marketing plan"
    
    
    
                                item3-name="help-for-your-business"
    
                                item3="nb"
                                
                                img3="'../assets/img-placeholder-1.svg' | relative_url"
                                title3="3. Help for your business"
                                description3="Find resources to help you with your business, from general business advice to finance assistance and support for your mental health and wellbeing."
    
                                item3-content1="<h4>Develop your business plan</h4><p>Planning out your business gives you direction and keeps your business on track. You'll also need a business plan if you seek finance.</p>"
                                item3-content1-tag="Required"
                                item3-content1-link="Develop your business plan"
    
                                item3-content2="<h4>Create your risk management plan</h4><p>Having a good risk management plan in place will help guide the business decisions you make and reduce the impact of unexpected events on your business.</p>"
                                item3-content2-tag="Required"
                                item3-content2-link="Assess and manage risk"
    
                                item3-content3="<h4>Write your marketing plan</h4><p>Need to tell everyone about your new business? A marketing plan can help you find and reach your customers and work out what makes your business different.</p>"
                                item3-content3-tag="Recommended"
                                item3-content3-link="Develop your marketing plan"

                                classes="non-branded"

                                %}
    
                    
                            </div>
                        </div>

                </div>


            </div>


        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://xd.adobe.com/view/9698488f-f1e5-4dc8-9e0d-01c4a4d1cb46-c3cb/screen/cecf8106-009b-421e-a55e-101bc2acd4cf'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>Pathway accordions can be used on the <a href={{ "brand-foundations/grid-and-page-layouts.html" | relative_url }}>Single column - navigation page layout</a>.</p>


        {% include layouts-dropdown.html
            layout-name="Single column - navigation page"
            singlelayout="true"
        %}

        <div class="layout-example show full-border mt-0 p-4">

            {% include layouts-accordion.html

            singlelayout="true"

            allbp-img="'../assets/layout-images/pathway-accordion-1colfullwidth-allbp.png' | relative_url "

            allbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Pathway accordions span the full width of the content area.</p>"

            %}
                
        </div>

        {% include design-specs-link.html 
            btn-link="'../html-examples/single-col-navpage.html#pathway-accordion-example' | relative_url"
            btn-text="View layout example"
            %}
        




        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose:</h3>
        <p>An accordion is an expandable section with nested content. This component provides details when opened by users on a content page. It can help to streamline the user experience by keeping content relevant to the user.</p>
        <p>Pathway accordion items contains a series of links to both internal and external site pages.</p>
        
        <h3>When to use this component:</h3>
        <ul>
            <li>Used on guide landing pages to provide links to related content on business.gov.au.</li>
            <li>Can also be used to collate a collection of links to other sites. e.g Covid-19 support sites.</li>

        </ul>
        <h3>Content rules:</h3>
        <ul>
            <li>When used in the context of a guide landing page the pathway tiles within accordion items <strong>MUST</strong> have 'required' or 'recommended' tags.</li>
            <li>Pathway accordion items should only contain pathway tiles. They should not contain body copy.</li>
        </ul>


        <!-- VERSION HISTORY-->
        <h2 class="section-start" id="version-history">Version history</h2>
        <h4>22 August, 2023</h4>
        <ul>
            <li>Updated the corner radius on tile tags. Corner radius is 4px.</li>
        </ul>


    </div>