---

layout: content-tagged
title: Global pathway to services
description: Header strap design for business.gov.au that provides links to related services
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: false

---


<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
classes="in-page"

        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-10">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        <!-- Breakpoint radio buttons -->
        {% include breakpoints.html
        element-string="pathway-to-services"
        md-visibility="true"
        sm-visibility="true"
        breakpoint-final="576"
        %}

        <!-- Component example -->

        <div class="component-example m-0">
            <div class="component-wrapper remove-element-padding pb-4">


                {% include component-examples/pathway-to-services-example.html %}


            </div>
        </div>


        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://xd.adobe.com/view/9698488f-f1e5-4dc8-9e0d-01c4a4d1cb46-c3cb/screen/f1672534-1ae1-4869-b52b-5dcd295d14b6/'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>The global pathway to services is displayed on all business.gov.au pages.</p>


        {% include layouts-dropdown.html
        layout-name="All layouts"
        singlelayout="true"
        %}

        <div class="layout-example show full-border mt-0 p-4">
            {% include layouts-accordion.html
            singlelayout="true"
            allbp-img="'../assets/layout-images/pathway-to-services-allbp.png' | relative_url "
            allbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>The blue background extends full width of the viewport.</p>"
            %}

        </div>
        {% include design-specs-link.html
            btn-link="'../html-examples/home-example.html' | relative_url'"
            btn-text="View layout example"
            %}







         <!-- GUIDELINES -->
         <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose:</h3>
        <p>The global pathway to services provides the user with links to business.gov.au related services.</p>

        <h3>When to use this component:</h3>
        <ul>
            <li>Used across every page of business.gov.au.</li>
        </ul>

        <h3>Rules</h3>
        <ul>
            <li>The left side link is used to provide a return link for users that have come directly from a business.gov.au service or subsite (e.g export.business.gov.au). If users have not come from a business.gov.au product no link is displayed.</li>
            <li>The return link uses the wording 'Return to ...'.</li>
            <li>The right side button reveals a dropdown list of sign in pages for government business portals.</li>
        </ul>



    </div>
