---

layout: content-tagged
title: Relevant support links
description: Highlight links to support opportunities related to the page content.
updated: 8 August, 2023
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
        classes="in-page"

        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        link-4="Version history" link-id-4="#version-history"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-8">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>


        {% include section-tabs.html

            tab1="business.gov.au branding"
            tab1value="bga-branded"
    
            tab2="No branding"
            tab2value="non-branded"
    
            %}
    
    
            <div class="tab-sections-wrapper ">
    
    
                <div class="tab-section bga-branded selected">

                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html
                    element-string="bga-callout"
                    sm-visibility="true"
                    xs-visibility="true"
                    final-visibility="true"
                    breakpoint-final="350"
                    %}

                    <!-- Component example -->

                    <div class="component-example m-0">
                        <div class="component-wrapper remove-element-padding p-4">

                            {% include component-examples/relevant-support-links-example.html
                                link1="Find grants to help with topic using our grants finder tool."
                                type-text1="Grants"
                                type-class1="grant"

                                link2="Find events to help with topic using our events finder tool."
                                type-text2="Events"
                                type-class2="event"

                                link3="Find an adviser to help you understand topic with our adviser finder tool."
                                type-text3="Advisers"
                                type-class3="adviser"

                                classes=""
                                %}
                            

                        </div>
                    </div>


                    <div class="component-example">
                        <div class="component-wrapper coloured-section remove-element-padding p-4">
                           
                                <h3>Coloured background sections</h3>

                                {% include component-examples/relevant-support-links-example.html
                                    link1="Find grants to help with topic using our grants finder tool."
                                    type-text1="Grants"
                                    type-class1="grant"
    
                                    link2="Find events to help with topic using our events finder tool."
                                    type-text2="Events"
                                    type-class2="event"
    
                                    link3="Find an adviser to help you understand topic with our adviser finder tool."
                                    type-text3="Advisers"
                                    type-class3="adviser"
    
                                    classes=""
                                    %}

                        </div>
                    </div>


                    <div class="component-example">
                        <div class="component-wrapper remove-element-padding p-4">
                                <h3>Approved colours</h3>

                                {% include component-examples/relevant-support-links-example.html
                                    link1="Grants - purple"
                                    type-text1=""
                                    type-class1="grant"
    
                                    link2="Events - orange"
                                    type-text2=""
                                    type-class2="event"
    
                                    link3="Advisers - yellow"
                                    type-text3=""
                                    type-class3="adviser"
    
                                    classes="colour-examples"
                                    %}
                        </div>
                    </div>

                </div>



                <div class="tab-section non-branded">

                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html
                    element-string="nb-support-links"
                    sm-visibility="true"
                    xs-visibility="true"
                    final-visibility="true"
                    breakpoint-final="350"
                    %}

                    <!-- Component example -->

                    <div class="component-example m-0">
                        <div class="component-wrapper remove-element-padding p-4">

                            {% include non-branded-explanation.html
                                component="support links"
                                brand-elements="colours, borders and icons"
                            %}

                            {% include component-examples/relevant-support-links-example.html
                                link1="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                                type-text1="Lorem"
                                type-class1=""

                                link2="Morbi venenatis hendrerit mauris, eu efficitur urna pellentesque ut."
                                type-text2="Ipsum"
                                type-class2=""

                                classes="non-branded"
                                %}

                        </div>
                    </div>

                </div>


            </div>



            <!-- Design specifications link -->

            {% include design-specs-link.html
            btn-link="'https://xd.adobe.com/view/9698488f-f1e5-4dc8-9e0d-01c4a4d1cb46-c3cb/screen/853590f3-1292-4f58-96ed-f46ed70cb184/'"
            btn-text="View design specifications"
            %}


            <!-- LAYOUTS -->
            <h2 class="section-start" id="layouts">Layouts</h2>

            <p>Relevant support links can be used on all <a href={{ "brand-foundations/grid-and-page-layouts.html" |
                    relative_url }}>page layouts</a> except the two column - left filters layout.</p>


                {% include layouts-dropdown.html
                single-col-fullwidth-visibility="true"
                single-col-twothirds-visibility="true"
                two-col-leftmenu-visibility="true"
                two-col-rightsidebar-visibility="true"
                two-col-rightsidebar-alt-visibility="true"
                %}


            <div class="layout-example single-col-fullwidth mt-0 mb-5 px-4 py-0">

                {% include layouts-accordion.html
                layout-name="onecol-fw"

                min1200-visibility="true"
                min992-visibility="true"
                min768-visibility="false"
                min576-visibility="false"
                finalbp-visibility="true"

                finalbp="Breakpoint &lt; 992px"

                min1200-img="'../assets/layout-images/support-link-1colfullwidth-min1200.png' | relative_url "
                min992-img="'../assets/layout-images/support-link-1colfullwidth-min992.png' | relative_url "
                finalbp-img="'../assets/layout-images/support-link-1colfullwidth-finalbp.png' | relative_url "


                min1200-rules="<p>The content area is 12 grid-columns wide.</p>
                <p>Relevant support link components span 8 grid-columns each.</p>"

                min992-rules="<p>The content area is 12 grid-columns wide.</p>
                <p>Relevant support link components span 9 grid-columns each.</p>"

                finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
                <p>Relevant support link components span 12 grid-columns each.</p>"

                example-link="'../html-examples/single-col-full-width.html#supported-links-example' | relative_url'"
                example-link-text="View layout example"

                %}


            </div>


            <div class="layout-example single-col-twothirdswidth mt-0 mb-5 px-4 py-0">

                {% include layouts-accordion.html
                layout-name="onecol-twothirdsw"

                min1200-visibility="true"
                min992-visibility="true"
                min768-visibility="true"
                min576-visibility="false"
                finalbp-visibility="true"

                finalbp="Breakpoint &lt; 768px"

                min1200-img="'../assets/layout-images/support-link-1col2thirdswidth-min1200.png' | relative_url "
                min992-img="'../assets/layout-images/support-link-1col2thirdswidth-min992.png' | relative_url "
                min768-img="'../assets/layout-images/support-link-1col2thirdswidth-min768.png' | relative_url "
                finalbp-img="'../assets/layout-images/support-link-1col2thirdswidth-finalbp.png' | relative_url "

                min1200-rules="<p>The content area is 8 grid-columns wide.</p>
                <p>Relevant support link components span the full width of the content area.</p>"

                min992-rules="<p>The content area is 9 grid-columns wide.</p>
                <p>Relevant support link components span the full width of the content area.</p>"

                min768-rules="<p>The content area is 11 grid-columns wide.</p>
                <p>Relevant support link components span the full width of the content area.</p>"

                finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
                <p>Relevant support link components span the full width of the content area.</p>"

                example-link="'../html-examples/single-col-two-thirds-width.html#supported-links-example' | relative_url'"
                example-link-text="View layout example"

                %}

            </div>


            <div class="layout-example two-col-leftmenu mt-0 mb-5 px-4 py-0">

                {% include layouts-accordion.html
                layout-name="twocol-leftmenu"

                min1200-visibility="true"
                min992-visibility="false"
                min768-visibility="false"
                min576-visibility="true"
                finalbp-visibility="true"

                finalbp="Breakpoint &lt; 576px"

                min1200-img="'../assets/layout-images/support-link-2col-leftmenu-min1200.png' | relative_url "
                min576-img="'../assets/layout-images/support-link-2col-leftmenu-min576.png' | relative_url "
                finalbp-img="'../assets/layout-images/support-link-2col-leftmenu-finalbp.png' | relative_url "

                min1200-rules="<p>The content area is 8 grid-columns wide.</p>
                <p>Relevant support link components span the full width of the content area.</p>"

                min576-rules="<p>The content area is 9 grid-columns wide.</p>
                <p>Relevant support link components span the full width of the content area.</p>"

                finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
                <p>Relevant support link components span the full width of the content area.</p>"

                example-link="'../html-examples/two-col-left-side-menu.html#supported-links-example' | relative_url'"
                example-link-text="View layout example"

                %}

            </div>


            <div class="layout-example two-col-rightsidebar mt-0 mb-5 px-4 py-0">

                {% include layouts-accordion.html
                layout-name="twocol-rightbar"

                min1200-visibility="false"
                min992-visibility="false"
                min768-visibility="true"
                min576-visibility="false"
                finalbp-visibility="true"

                finalbp="Breakpoint &lt; 768px"


                min768-img="'../assets/layout-images/support-link-2col-rightsidebar-min768.png' | relative_url "
                finalbp-img="'../assets/layout-images/support-link-2col-rightsidebar-finalbp.png' | relative_url "


                min768-rules="<p>The content area is 8 grid-columns wide.</p>
                <p>Relevant support link components span the full width of the content area.</p>"

                finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
                <p>Relevant support link components span the full width of the content area.</p>"

                example-link="'../html-examples/two-col-right-sidebar.html#supported-links-example' | relative_url'"
                example-link-text="View layout example"

                %}

            </div>

            <div class="layout-example two-col-rightsidebar-alt mt-0 mb-5 px-4 py-0">
            
                {% include layouts-accordion.html 
                    layout-name="twocol-rightbar"
                
                    min1200-visibility="false"
                    min992-visibility="true"
                    min768-visibility="true"
                    min576-visibility="false"
                    finalbp-visibility="true"
                    
                    finalbp="Breakpoint &lt; 768px"
                
                    min992-img="'../assets/layout-images/support-link-2col-rightsidebar-alt-min992.png' | relative_url "
                    min768-img="'../assets/layout-images/support-link-2col-rightsidebar-alt-min768.png' | relative_url "
                    finalbp-img="'../assets/layout-images/support-link-2col-rightsidebar-alt-finalbp.png' | relative_url "
                
                    min992-rules="<p>The content area is 8 grid-columns wide.</p><p>Relevant support links span the full width of the content area.</p>"
    
                    min768-rules="<p>The content area is 11 grid-columns wide.</p><p>Relevant support links span the full width of the content area.</p>"
                
                    finalbp-rules="<p>The content area is 12 grid-columns wide.</p><p>Relevant support links span the full width of the content area.</p>"
                
                    example-link="'../html-examples/two-col-right-sidebar-alternate.html#supported-links-example' | relative_url'"
                    example-link-text="View layout example"
    
                %}
                
            </div>





            <!-- GUIDELINES -->
            <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

            <h3>Purpose:</h3>
            <p>Provide customised links to support services in the context of a page</p>
            <h3>When to use this component:</h3>
            <ul>
                <li>To link to finder tools with appropriate filters pre-selected from relevant pages.</li>
                <li>To link from a grants page to other grants the user has previously visited</li>
                
            </ul>


            <!-- VERSION HISTORY-->
            <h2 class="section-start" id="version-history">Version history</h2>
            <h4>8 August, 2023</h4>
            <ul>
                <li>Added an additional layout (the <strong>two column - right sidebar alternate</strong> layout).</li>
            </ul>



    </div>
</div>