---

layout: content-tagged
title: Standard checklist accordion
description: A checklist for presenting an end to end journey in logical steps.
updated: 14 August, 2023
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
        classes="in-page"

        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        link-4="Version history" link-id-4="#version-history"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-9">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        {% include section-tabs.html

            tab1="business.gov.au branding"
            tab1value="bga-branded"
    
            tab2="No branding"
            tab2value="non-branded"
    
            %}
    
            <div class="tab-sections-wrapper">
                
                <div class="tab-section bga-branded selected">


                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html
                    element-string="bga-standard-checklist"
                    md-visibility="true"
                    final-visibility="true"
                    breakpoint-final="768"
                    %}

                    <!-- Component example -->

                    <div class="component-example m-0">
                        <div class="component-wrapper remove-element-padding p-4">
                            
                            {% include component-examples/standard-checklist-example.html %}

                        </div>
                    </div>

                </div>

                <div class="tab-section non-branded ">

                     <!-- Breakpoint radio buttons -->
                     {% include breakpoints.html
                        element-string="nb-standard-checklist"
                        md-visibility="true"
                        final-visibility="true"
                        breakpoint-final="768"
                        %}
    
                        <!-- Component example -->
    
                        <div class="component-example m-0">
                            <div class="component-wrapper remove-element-padding p-4">

                                {% include non-branded-explanation.html
                                    component="checklist"
                                    brand-elements="colours, borders and icons"
                                %}
                                
                                {% include component-examples/standard-checklist-example.html 
                                    classes="non-branded" %}
    
                            </div>
                        </div>

                </div>

            </div>


        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://xd.adobe.com/view/9698488f-f1e5-4dc8-9e0d-01c4a4d1cb46-c3cb/screen/92751111-3a85-4178-83db-e7f44ab3296d/'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>Standard checklist accordions are used on the <a href={{ "brand-foundations/grid-and-page-layouts.html" | relative_url }}>two column - right sidebar alternate layout</a>. They should not be used in other layouts.</p>


        {% include layouts-dropdown.html
            layout-name="Two column - right sidebar alternate"
            singlelayout="true"
            %}
    
            <div class="layout-example two-col-rightsidebar-alt show mt-0 mb-5 px-4 py-0">
            
                {% include layouts-accordion.html 
                    layout-name="twocol-rightbar"
                
                    min1200-visibility="false"
                    min992-visibility="true"
                    min768-visibility="true"
                    min576-visibility="false"
                    finalbp-visibility="true"
                    
                    finalbp="Breakpoint &lt; 768px"
                
                    min992-img="'../assets/layout-images/standard-checklist-2col-rightsidebar-alt-min992.png' | relative_url "
                    min768-img="'../assets/layout-images/standard-checklist-2col-rightsidebar-alt-min768.png' | relative_url "
                    finalbp-img="'../assets/layout-images/standard-checklist-2col-rightsidebar-alt-finalbp.png' | relative_url "
                
                    min992-rules="<p>The content area is 8 grid-columns wide.</p><p>Standard checklist accordions span the full width of the content area.</p>"
    
                    min768-rules="<p>The content area is 11 grid-columns wide.</p><p>Standard checklist accordions span the full width of the content area.</p>"
                
                    finalbp-rules="<p>The content area is 12 grid-columns wide.</p><p>Standard checklist accordions span the full width of the content area.</p>"
                
                    example-link="'../html-examples/two-col-right-sidebar-alternate.html#checklist-example' | relative_url'"
                    example-link-text="View layout example"
    
                %}
                
            </div>



        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>
        
        <h3>Purpose</h3>
        <p>A checklist is used for an end to end process that includes legal steps. This pattern is helpful for someone who needs to complete tasks in a specific order and should include task/action based content only.</p>
        <h3>General rules:</h3>
        <ul>
        <li>Should only be used where there is a logical order to complete a larger journey.</li>
        <li>Provides numbered steps that presents a specific start and end point.</li>
        <li>Provides links within content to other websites to complete each step.</li>
        <li>Can include online and offline actions.</li>
        <li>Key content is legally required (&lsquo;Must do&rsquo;) steps.</li>
        </ul>
        <h3>When not to use this pattern:</h3>
        <ul>
        <li>When the user only needs to read guidance and not take an action (use Guide pattern instead).</li>
        <li>When you are educating the user about a specific stage in an end to end journey (use the tutorial pattern).</li>
        </ul>


         <!-- VERSION HISTORY-->
         <h2 class="section-start" id="version-history">Version history</h2>
         <h4>14 August, 2023</h4>
         <ul>
             <li>Changed the page layout for standard accordion checklists to the <strong>two column - right sidebar alternate</strong> layout.</li>
         </ul>
        

    </div>