---

layout: content-tagged
title: Stepped navigation
description: Navigation for step-by-step processes such as those found in many online tools.
breadcrumb1: Components
url1: /components.html
bga-tag: false
subsite-tag: true

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
classes="in-page"

        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-10">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        <!-- Breakpoint radio buttons -->
        {% include breakpoints.html
        element-string="stepped-navigation"
        md-visibility="true"
        final-visibility="true"
        breakpoint-final="768"
        %}

        <!-- Component example -->

        <div class="component-example m-0">
            <div class="component-wrapper remove-element-padding py-4">

                <h3 class="ms-4">Stepped navigation within a tool header</h3>
                
                <div class="page-header-wrapper tool-stepped-nav teal">
                {% include component-examples/stepped-navigation-example.html
                    title="Active step name"
                    step1="Completed step"
                    step2="One more completed step"
                    step3="Active step"
                    step4="Unvisited step"
                    step5="Ending employment"
                    step6="Step six"
                    classes="teal p-5"
                %}
                </div>

                <h3 class="ms-4">Stepped navigation in the context of a page.</h3>

                {% include component-examples/stepped-navigation-example.html
                    step1="Completed step"
                    step2="One more completed step"
                    step3="Active step"
                    step4="Unvisited step"
                    step5="Ending employment"
                    step6="Step six"
                    classes="white p-5"
                %}


            </div>
        </div>


        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://xd.adobe.com/view/aa072634-b3aa-408b-966a-2e8f09cf920b-ff54/screen/f9c8b155-4a6e-4853-8ec3-ce15d257927a/'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>Stepped navigation can be used on <a href={{ "brand-foundations/grid-and-page-layouts.html" | relative_url }}>any page
                layouts</a>.</p>


        {% include layouts-dropdown.html
        layout-name="All layouts"
        singlelayout="true"
        %}

        <div class="layout-example show full-border mt-0 mb-5 p-4">

            {% include layouts-accordion.html

            singlelayout="true"

            allbp-img="'../assets/layout-images/stepped-nav-allbp.png' | relative_url "

            allbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Stepped navigation components are 12 grid-columns wide.</p>
            <p>Stepped navigation components should only appear once in a page. They can be placed in the header (for tools) or at the top of the page content area.</p>"

            %}

        </div>


        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose:</h3>
        <p>Stepped navigation guides users through a process that is completed in a set order. It displays where the
            user is up to and allows then to navigate back to previous steps.</p>
        <p>Users cannot navigate forward to uncompleted steps using this component.</p>
        <h3>When to use this component:</h3>
        <ul>
            <li>Used in tools or forms that require the user to complete a series of steps.</li>
        </ul>


    </div>