---

layout: content-tagged
title: Subsite header
description: Header design for business.gov.au subsites
breadcrumb1: Components
url1: /components.html
bga-tag: false
subsite-tag: true

---


<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
classes="in-page"

        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-10">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        <!-- Breakpoint radio buttons -->
        {% include breakpoints.html
            element-string="subsite-header"
            sm-visibility="true"
            xs-visibility="true"
            breakpoint-final="350"
            %}

        <!-- Component example -->

        <div class="component-example m-0">
            <div class="component-wrapper remove-element-padding pb-4">

                <div class="xl-explanation remove-element-padding p-4">
                    <p>When the breakpoint ≥ 1320px wide the content is a maximum 1256px wide. The background colour fills the rest of the screen to the left and right.</p>
                </div>

                {% include component-examples/subsite-header-example.html 
                    secondary-links = "true"
                    %}
                
                


            </div>
        </div>


        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://www.figma.com/file/uFWfZ09nO1dHFugQc8vsy0/ECB-Save-and-return---FA?type=design&node-id=201%3A5380&mode=design&t=MYyPc4AaGRcQEhuS-1'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>The site header is used on BGA subsite pages.</p>


        {% include layouts-dropdown.html
        layout-name="All layouts"
        singlelayout="true"
        %}

        <div class="layout-example show full-border mt-0 p-4">
            {% include layouts-accordion.html
            singlelayout="true"
            allbp-img="'../assets/layout-images/subsite-header-allbp.png' | relative_url "
            allbp-rules="<p>The subsite header is 12 grid-columns wide.</p>"
            %}

        </div>
        {% include design-specs-link.html
            btn-link="'../html-examples/ECB-content-page.html' | relative_url'"
            btn-text="View layout example"
            %}





         <!-- GUIDELINES -->
         <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

         <h3>Purpose:</h3>
         <p>The subsite header provides branding for BGA subsites and a link to the main homepage of business.gov.au. It can also provide additional subsite links if required.</p>
         <h3>When to use this component:</h3>
         <ul>
             <li>Used across every page of a busniess.gov.au subsite or tool to ensure a consistent user experience.
             </li>
         </ul>


    </div>