---

layout: content-tagged
title: Subsite footer
description: Footer design for business.gov.au subsites
breadcrumb1: Components
url1: /components.html
bga-tag: false
subsite-tag: true

---


<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
classes="in-page"

        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-10">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        <!-- Breakpoint radio buttons -->
        {% include breakpoints.html
        element-string="bga-subsite-footer"
        sm-visibility="true"
        breakpoint-final="576"
        %}

        <!-- Component example -->

        <div class="component-example m-0">
            <div class="component-wrapper remove-element-padding pb-4">


                {% include component-examples/subsite-footer-example.html %}


            </div>
        </div>


        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://xd.adobe.com/view/9698488f-f1e5-4dc8-9e0d-01c4a4d1cb46-c3cb/screen/8c5ca2b3-37e9-49e6-9383-27cbea9efac0/'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>The site footer is used on BGA subsite pages.</p>


        {% include layouts-dropdown.html
        layout-name="All layouts"
        singlelayout="true"
        %}

        <div class="layout-example show full-border mt-0 mb-5 p-4">
            {% include layouts-accordion.html
            singlelayout="true"
            allbp-img="'../assets/layout-images/subsite-footer-allbp.png' | relative_url "
            allbp-rules="<p>The subsite footer is 12 grid-columns wide.</p>"
            %}

        </div>







         <!-- GUIDELINES -->
         <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose:</h3>
        <p>The subsite footer provides tertiary links for BGA subsites. Links can be to pages within the subsite or on business.gov.au.</p>
        <h3>When to use this component:</h3>
        <ul>
            <li>Used across every page of a business.gov.au subsite or tool to ensure a consistent user experience.
            </li>
        </ul>


    </div>