---

layout: content-tagged
title: Table
description: Display information in an easy to scan grid of rows and columns.
updated: 8 August, 2023
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
        classes="in-page"
        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        link-4="Version history" link-id-4="#version-history"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-10">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        {% include section-tabs.html

            tab1="business.gov.au branding"
            tab1value="bga-branded"
    
            tab2="No branding"
            tab2value="non-branded"
    
            %}
    
            <div class="tab-sections-wrapper">
                
                <div class="tab-section bga-branded selected">
        
                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html
                    element-string="bga-table"
                    lg-visibility="true"
                    md-visibility="true"
                    final-visibility="true"
                    breakpoint-final="768"
                    %}

                    <!-- Component example -->

                    <div class="component-example m-0">
                        <div class="component-wrapper remove-element-padding p-4">

                            <h3>Responsive tables</h3>
                            <h4>Tables with 5 or more columns</h4>

                            {% include component-examples/table-example.html
                                classes="default bp992"
                                responsive="true wide"
                            %}

                            <h4>Tables with 4 or less columns</h4>
                            {% include component-examples/table-example.html
                                classes="default pb768"
                                responsive="true narrow"
                            %}

                            <h3>Unresponsive tables</h3>

                            {% include component-examples/table-example.html
                                classes=""
                                responsive="false"
                            %}

                        </div>
                        
                            <div class="component-wrapper coloured-section remove-element-padding p-4">
                
                                <h3>Coloured background sections</h3>
                
                                {% include component-examples/table-example.html
                                    classes="narrow coloured-bkg"
                                    responsive="true"
                                %}
                
                            </div>

                    </div>

                </div>

                <div class="tab-section non-branded ">

                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html
                        element-string="nb-table"
                        lg-visibility="true"
                        final-visibility="true"
                        breakpoint-final="992"
                        %}
    
                        <!-- Component example -->
    
                        <div class="component-example m-0">
                            <div class="component-wrapper remove-element-padding p-4">

                                {% include non-branded-explanation.html
                                    component="tables"
                                    brand-elements="colours and borders"
                                %}
    
                                <h3>Responsive tables</h3>
    
                                {% include component-examples/table-example.html
                                    classes="narrow non-branded"
                                    responsive="true"
                                %}
    
                                <h3>Unresponsive tables</h3>
    
                                {% include component-examples/table-example.html
                                    classes="narrow non-branded"
                                    responsive="false"
                                %}
    
                            </div>
    
                        </div>

                </div>

            </div>

       




        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://xd.adobe.com/view/9698488f-f1e5-4dc8-9e0d-01c4a4d1cb46-c3cb/screen/28db5e99-cf76-48ea-9beb-e7ab80016d65'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>Tables can be used on all <a href={{ "brand-foundations/grid-and-page-layouts.html" | relative_url }}>page layouts</a> except the Two column - filter page layout.</p>


        {% include layouts-dropdown.html
            single-col-navpage-visibility="true"
            single-col-infopage-visibility="true"
            two-col-infopage-visibility="true"
            two-col-toolpage-visibility="true"
            two-col-toolpage-alt-visibility="true"
        %}

        <div class="layout-example single-col-navpage mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="single-col-navpage"

                singlelayout="true"
                allbp-img="'../assets/layout-images/table-1colfullwidth-allbp.png' | relative_url "
                allbp-rules="<p>The content area is 12 grid-columns wide.</p><p>Tables span the full width of the content area.</p>"

                example-link="'../html-examples/single-col-navpage.html#table-example' | relative_url'"
                example-link-text="View layout example"

            %}

        </div>
        
        
        <div class="layout-example single-col-infopage mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="single-col-infopage"

            min1200-visibility="true"
            min992-visibility="true"
            min768-visibility="true"
            min576-visibility="false"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 768px"

            min1200-img="'../assets/layout-images/table-1col2thirdswidth-min1200.png' | relative_url "
            min992-img="'../assets/layout-images/table-1col2thirdswidth-min992.png' | relative_url "
            min768-img="'../assets/layout-images/table-1col2thirdswidth-min768.png' | relative_url "
            finalbp-img="'../assets/layout-images/table-1col2thirdswidth-finalbp.png' | relative_url "

            min1200-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>Tables span the full width of the content area.</p>"

            min992-rules="<p>The content area is 9 grid-columns wide.</p>
            <p>Tables span the full width of the content area.</p>"

            min768-rules="<p>The content area is 11 grid-columns wide.</p>
            <p>Tables span the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Tables span the full width of the content area.</p>"

            example-link="'../html-examples/single-col-infopage.html#table-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>


        <div class="layout-example two-col-infopage mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="two-col-infopage"

            min1200-visibility="true"
            min992-visibility="false"
            min768-visibility="false"
            min576-visibility="true"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 576px"

            min1200-img="'../assets/layout-images/table-2col-leftmenu-min1200.png' | relative_url "
            min576-img="'../assets/layout-images/table-2col-leftmenu-min576.png' | relative_url "
            finalbp-img="'../assets/layout-images/table-2col-leftmenu-finalbp.png' | relative_url "

            min1200-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>Tables span the full width of the content area.</p>"

            min576-rules="<p>The content area is 9 grid-columns wide.</p>
            <p>Tables span the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Tables span the full width of the content area.</p>"

            example-link="'../html-examples/two-col-infopage.html#table-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>


        <div class="layout-example two-col-toolpage mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="two-col-toolpage"

            min1200-visibility="false"
            min992-visibility="false"
            min768-visibility="true"
            min576-visibility="false"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 768px"


            min768-img="'../assets/layout-images/table-2col-rightsidebar-min768.png' | relative_url "
            finalbp-img="'../assets/layout-images/table-2col-rightsidebar-finalbp.png' | relative_url "


            min768-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>Tables span the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Tables span the full width of the content area.</p>"

            example-link="'../html-examples/two-col-toolpage.html#table-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>


        <div class="layout-example two-col-toolpage-alt mt-0 mb-5 px-4 py-0">
            
            {% include layouts-accordion.html 
                layout-name="two-col-toolpage-alt"
            
                min1200-visibility="false"
                min992-visibility="true"
                min768-visibility="true"
                min576-visibility="false"
                finalbp-visibility="true"
                
                finalbp="Breakpoint &lt; 768px"
            
                min992-img="'../assets/layout-images/table-2col-rightsidebar-alt-min992.png' | relative_url "
                min768-img="'../assets/layout-images/table-2col-rightsidebar-alt-min768.png' | relative_url "
                finalbp-img="'../assets/layout-images/table-2col-rightsidebar-alt-finalbp.png' | relative_url "
            
                min992-rules="<p>The content area is 8 grid-columns wide.</p><p>Tables span the full width of the content area.</p>"

                min768-rules="<p>The content area is 11 grid-columns wide.</p><p>Tables span the full width of the content area.</p>"
            
                finalbp-rules="<p>The content area is 12 grid-columns wide.</p><p>Tables span the full width of the content area.</p>"
            
                example-link="'../html-examples/two-col-toolpage-alt.html#table-example' | relative_url'"
                example-link-text="View layout example"

            %}
            
        </div>




        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose:</h3>
        <p>Tables display information in an easy to scan grid of rows and columns.</p>
        <h3>When to use this component:</h3>
        <ul>
        <li>To help users look for patterns and insights between comparable content.</li>
        <li>To present lists of content with the same headings (e.g. grant recipient details).</li>
        </ul>


          <!-- VERSION HISTORY-->
          <h2 class="section-start" id="version-history">Version history</h2>
          <h4>8 August, 2023</h4>
          <ul>
              <li>Added an additional layout (the <strong>Two column - tool page alternate</strong> layout).</li>
          </ul>

          

    </div>