---

layout: content-tagged
title: Table
description: Display information in an easy to scan grid of rows and columns.
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
classes="in-page"

        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-10">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        <!-- Breakpoint radio buttons -->
        {% include breakpoints.html
        lg-visibility="true"
        md-visibility="true"
        final-visibility="true"
        breakpoint-final="768"
        %}

        <!-- Component example -->

        <div class="component-example m-0">
            <div class="component-wrapper remove-element-padding p-4">

                <h3>Responsive tables</h3>

                <h4>Layout: Single column - full width</h4>
                {% include component-examples/table-example.html
                    classes="default"
                    responsive="true"
                %}

                <h4>Layouts: Single column - 2/3 width layout and two column layouts</h4>
                
                {% include component-examples/table-example.html
                    classes="narrow"
                    responsive="true"
                %}

                <h3>Unresponsive tables</h3>

                {% include component-examples/table-example.html
                    classes="narrow"
                    responsive="false"
                %}

            </div>
            
                <div class="component-wrapper coloured-section remove-element-padding p-4">
    
                    <h3>Coloured background sections</h3>
    
                    {% include component-examples/table-example.html
                        classes="narrow coloured-bkg"
                        responsive="true"
                    %}
    
                </div>

        </div>

       




        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://xd.adobe.com/view/9698488f-f1e5-4dc8-9e0d-01c4a4d1cb46-c3cb/screen/28db5e99-cf76-48ea-9beb-e7ab80016d65'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>Tables can be used on all <a href={{ "brand-foundations/grid-and-page-layouts.html" | relative_url }}>page layouts</a> except the two column - left filters layout.</p>


        {% include layouts-dropdown.html
            single-col-fullwidth-visibility="true"
            single-col-twothirds-visibility="true"
            two-col-leftmenu-visibility="true"
            two-col-rightsidebar-visibility="true"
        %}

        <div class="layout-example single-col-fullwidth mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="onecol-fw"

                singlelayout="true"
                allbp-img="'../assets/layout-images/table-1colfullwidth-allbp.png' | relative_url "
                allbp-rules="<p>The content area is 12 grid-columns wide.</p><p>Tables span the full width of the content area.</p>"

                example-link="'../html-examples/single-col-full-width.html#table-example' | relative_url'"
                example-link-text="View layout example"

            %}

        </div>
        
        
        <div class="layout-example single-col-twothirdswidth mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="onecol-twothirdsw"

            min1200-visibility="true"
            min992-visibility="true"
            min768-visibility="true"
            min576-visibility="false"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 768px"

            min1200-img="'../assets/layout-images/table-1col2thirdswidth-min1200.png' | relative_url "
            min992-img="'../assets/layout-images/table-1col2thirdswidth-min992.png' | relative_url "
            min768-img="'../assets/layout-images/table-1col2thirdswidth-min768.png' | relative_url "
            finalbp-img="'../assets/layout-images/table-1col2thirdswidth-finalbp.png' | relative_url "

            min1200-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>Tables span the full width of the content area.</p>"

            min992-rules="<p>The content area is 9 grid-columns wide.</p>
            <p>Tables span the full width of the content area.</p>"

            min768-rules="<p>The content area is 11 grid-columns wide.</p>
            <p>Tables span the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Tables span the full width of the content area.</p>"

            example-link="'../html-examples/single-col-two-thirds-width.html#table-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>


        <div class="layout-example two-col-leftmenu mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="twocol-leftmenu"

            min1200-visibility="true"
            min992-visibility="false"
            min768-visibility="false"
            min576-visibility="true"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 576px"

            min1200-img="'../assets/layout-images/table-2col-leftmenu-min1200.png' | relative_url "
            min576-img="'../assets/layout-images/table-2col-leftmenu-min576.png' | relative_url "
            finalbp-img="'../assets/layout-images/table-2col-leftmenu-finalbp.png' | relative_url "

            min1200-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>Tables span the full width of the content area.</p>"

            min576-rules="<p>The content area is 9 grid-columns wide.</p>
            <p>Tables span the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Tables span the full width of the content area.</p>"

            example-link="'../html-examples/two-col-left-side-menu.html#table-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>


        <div class="layout-example two-col-rightsidebar mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="twocol-rightbar"

            min1200-visibility="false"
            min992-visibility="false"
            min768-visibility="true"
            min576-visibility="false"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 768px"


            min768-img="'../assets/layout-images/table-2col-rightsidebar-min768.png' | relative_url "
            finalbp-img="'../assets/layout-images/table-2col-rightsidebar-finalbp.png' | relative_url "


            min768-rules="<p>The content area is 8 grid-columns wide.</p>
            <p>Tables span the full width of the content area.</p>"

            finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
            <p>Tables span the full width of the content area.</p>"

            example-link="'../html-examples/two-col-right-sidebar.html#table-example' | relative_url'"
            example-link-text="View layout example"

            %}

        </div>



        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose:</h3>
        <p>Tables display information in an easy to scan grid of rows and columns.</p>
        <h3>When to use this component:</h3>
        <ul>
        <li>To help users look for patterns and insights between comparable content.</li>
        <li>To present lists of content with the same headings (e.g. grant recipient details).</li>
        </ul>

    </div>