---

layout: content-tagged
title: Toast notification
description: Push notifications to users with an alert message that pops up from the bottom of the screen.
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
classes="in-page"

        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-8">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        {% include section-tabs.html

            tab1="Business.gov.au branding"
            tab1value="bga-branded"
    
            tab2="No branding"
            tab2value="non-branded"
    
            %}
    
    
            <div class="tab-sections-wrapper">
    
    
                <div class="tab-section bga-branded selected">
        
                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html
                    element-string="bga-toast"
                    sm-visibility="true"
                    xs-visibility="true"
                    final-visibility="true"
                    breakpoint-final="350"
                    %}

                    <!-- Component example -->

                    <div class="component-example m-0">
                        <div class="component-wrapper remove-element-padding px-4 py-4">

                            <h3>Default toast notification</h3>
                            {% include component-examples/toast-example.html
                            close="true"
                            title="Important message for the user"
                            text="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non leo quis metus dictum
                                cursus.</p>"
                            classes="default"
                            %}

                            <h4 class="mt-5">View the default toast in page</h4>
                            <div class="button-example mb-4">
                                <button id="toast-trigger" class="bga-btn bga-secondary-btn bkg-light" tabindex="0" href=""
                                    role="button">Trigger default toast</button>
                            </div>

                            <h3>Call to action toast notification</h3>
                            {% include component-examples/toast-example.html
                            title="Would you like to continue?"
                            text="<p>To protect your privacy, we will end your sessions after 3 hours of inactivity. Once your
                                session ends you will need to restart your business plan.</p>
                            <p>Your session will end in <span>02 hrs 19 min 59 sec</span></p>
                            <p>To keep on working click ‘continue’</p>"
                            checkbox="true"
                            button="Continue"
                            classes="cta-toast"
                            %}

                            <h4 class="mt-5">View the call to action toast in page</h4>
                            <div class="button-example">
                                <button id="cta-toast-trigger" class="bga-btn bga-secondary-btn bkg-light" tabindex="0" href=""
                                    role="button">Trigger call to action toast</button>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="tab-section non-branded ">

                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html
                        element-string="nb-toast"
                        sm-visibility="true"
                        xs-visibility="true"
                        final-visibility="true"
                        breakpoint-final="350"
                        %}
    
                        <!-- Component example -->
    
                        <div class="component-example m-0">
                            <div class="component-wrapper remove-element-padding px-4 py-4">
    
                                {% include non-branded-explanation.html
                                    component="toast notifications"
                                    brand-elements="colours and button styles"
                                %}
                                
                                <h3>Default toast notification</h3>
                                {% include component-examples/toast-example.html
                                close="true"
                                title="Important message for the user"
                                text="<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non leo quis metus dictum
                                    cursus.</p>"
                                classes="default non-branded nb-background"
                                %}
    
                                <h3>Call to action toast notification</h3>
                                {% include component-examples/toast-example.html
                                title="Would you like to continue?"
                                text="<p>To protect your privacy, we will end your sessions after 3 hours of inactivity. Once your
                                    session ends you will need to restart your business plan.</p>
                                <p>Your session will end in <span>02 hrs 19 min 59 sec</span></p>
                                <p>To keep on working click ‘continue’</p>"
                                checkbox="true"
                                button="Continue"
                                classes="cta-toast non-branded nb-background"
                                %}
    
    
                            </div>
    
                        </div>
                </div>

            </div>



        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://xd.adobe.com/view/9698488f-f1e5-4dc8-9e0d-01c4a4d1cb46-c3cb/screen/fb8aed08-66a1-4fdb-bb52-a23d13d4b3e9/'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>Toast notifications can be used on all page layouts.</p>


        {% include layouts-dropdown.html
        layout-name="All layouts"
        singlelayout="true"
        %}

        <div class="layout-example show full-border mt-0 mb-5 p-4">
            {% include layouts-accordion.html
            singlelayout="true"
            allbp-img="'../assets/layout-images/toast-allbp.png' | relative_url "
            allbp-rules="<p>Toasts are placed at the bottom of the screen. They are aligned to the left or in the centre
                of the screen.</p>
            <p>They should not be placed on the right side of the screen where the chat button lives.</p>"
            %}

        </div>


        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose:</h3>
        <p>business.gov.au toasts are lightweight notifications that are fixed at the bottom of the screen.</p>
        <p>Unlike modal notifications, toast notifications do not stop the user from viewing and using the page. They can be dismissed by the user with either a close or call to action button.</p>
        <h3>When to use this component:</h3>
        <ul>
            <li>Used to display messages the user needs to see with minimal disruption to the process.</li>
        </ul>


    </div>