---

layout: content-tagged
title: Verification call to action
description: Provide users with a way to verify their email address in order to see saved content.
updated: 2 April, 2024
breadcrumb1: Components
url1: /components.html
bga-tag: true
subsite-tag: true

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
        classes="in-page"

        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        link-4="Version history" link-id-4="#version-history"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-8">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        {% include section-tabs.html

        tab1="business.gov.au branding"
        tab1value="bga-branded"

        tab2="No branding"
        tab2value="non-branded"

        %}


        <div class="tab-sections-wrapper ">


            <div class="tab-section bga-branded selected">

                <!-- Breakpoint radio buttons -->
                {% include breakpoints.html
                    element-string="bga-cta"
                    sm-visibility="true"
                    xs-visibility="true"
                    final-visibility="true"
                    breakpoint-final="350"
                %}

                <!-- Component example -->

                <div class="component-example m-0">
                    <div class="component-wrapper remove-element-padding p-4">
                        <p><strong>Verification code: 1234</strong></p>

                        <h3>Unknown user</h3>

                        {% include component-examples/verification-cta-example.html
                            status="unknown"
                        %}

                        <h3>Known user</h3>

                        {% include component-examples/verification-cta-example.html
                            status="known"
                        %}



                    </div>

                </div>

            </div>


            <div class="tab-section non-branded">

                <!-- Breakpoint radio buttons -->
                {% include breakpoints.html
                    element-string="nb-cta"
                    sm-visibility="true"
                    xs-visibility="true"
                    final-visibility="true"
                    breakpoint-final="350"
                    %}
    
                    <!-- Component example -->
    
                    <div class="component-example m-0">
                        <div class="component-wrapper remove-element-padding p-4">

                            {% include non-branded-explanation.html
                                component="call to action components"
                                brand-elements="colours and borders"
                            %}

                            <h3>Unknown user</h3>

                            {% include component-examples/verification-cta-example.html
                                status="unknown"
                                classes="non-branded nb-background"
                                id="nb"
                            %}
    
                            <h3>Known user</h3>
    
                            {% include component-examples/verification-cta-example.html
                                status="known"
                                classes="non-branded nb-background"
                                id="nb"
                            %}
    
                        </div>
    
                    </div>

            </div>

        </div>





            <!-- Design specifications link -->

            {% include design-specs-link.html
            btn-link="'https://www.figma.com/file/uFWfZ09nO1dHFugQc8vsy0/ECB-Save-and-return---FA?type=design&node-id=109%3A325&mode=design&t=mAyZMMfP4XBtGK2S-1'"
            btn-text="View design specifications"
            %}


            <!-- LAYOUTS -->
            <h2 class="section-start" id="layouts">Layouts</h2>

            <p>Verification call to action components can be used on the <a href={{ "brand-foundations/grid-and-page-layouts.html#layout-singlecol-nav" | relative_url }}> the single column - navigation page layout</a>.
            </p>


             <!-- Breakpoint radio buttons -->
             {% include layouts-dropdown.html
                layout-name="Single column - navigation page layout"
                singlelayout="true"
                %}

            <div class="layout-example single-col-navpage show mt-0 mb-5 px-4 py-0">

                {% include layouts-accordion.html
                layout-name="single-col-infopage"

                min1200-visibility="true"
                min992-visibility="true"
                finalbp-visibility="true"

                finalbp="Breakpoint &lt; 992px"

                min1200-img="'../assets/layout-images/onecol-fw-1200px-fullwidthcomponent.png' | relative_url "
                min992-img="'../assets/layout-images/onecol-fw-992px-fullwidthcomponent.png' | relative_url "
                finalbp-img="'../assets/layout-images/onecol-fw-finalbp-fullwidthcomponent.png' | relative_url "

                min1200-rules="<p>The content area is 12 grid-columns wide.</p>
                <p>Verification call to action components span 8 grid-columns.</p>"

                min992-rules="<p>The content area is 12 grid-columns wide.</p>
                <p>Verification call to action components span the 9 grid-columns.</p>"


                finalbp-rules="<p>The content area is 12 grid-columns wide.</p>
                <p>Verification call to action components span the full width of the content area.</p>"

                example-link="'../html-examples/single-col-navpage.html#verification-cta-example' | relative_url'"
                example-link-text="View layout example"

                %}

            </div>

           

            <!-- GUIDELINES -->
            <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

            
            <h3>Purpose:</h3>
            <p>The verification call to action component is used to allow users to verify their email address.</p>
            <p>It consists of a two-step process where a user enters their email address and then enters a code that has been sent to that email address. If the users' email address is already known they are asked to send themselves the code without having to enter their email address.</p>
           
            <h4>When to use this component: </h4>
            <ul>
                <li>Used in the Employment Contract Tool to allow users to save their progress in the tool for seven days at a time.</li>
            </ul>
            

             <!-- VERSION HISTORY-->
            <h2 class="section-start" id="version-history">Version history</h2>
            <h4>2 April, 2024</h4>
            <ul>
                <li>Added the verification call to action to the style guide.</li>
            </ul>

        </div>