---

layout: content-tagged
title: Vertical stepped navigation
description: Navigation for step-by-step processes such as those found in many online tools.
updated: 6 June, 2025
breadcrumb1: Components
url1: /components.html
bga-tag: false
subsite-tag: true

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
        classes="in-page"
        link-1="Design" link-id-1="#design"
        link-2="Layouts" link-id-2="#layouts"
        link-3="Guidelines for use" link-id-3="#guidelines-for-use"
        link-4="Version history" link-id-4="#version-history"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-10">


        <!-- DESIGN -->
        <h2 class="section-start" id="design">Design</h2>

        {% include section-tabs.html

            tab1="business.gov.au branding"
            tab1value="bga-branded"
    
            tab2="No branding"
            tab2value="non-branded"
    
            %}
    
            <div class="tab-sections-wrapper">
                
                <div class="tab-section bga-branded selected">

                    <!-- Breakpoint radio buttons -->
                    {% include breakpoints.html
                        element-string="bga-vertical-stepped-navigation"
                        md-visibility="true"
                        final-visibility="true"
                        breakpoint-final="768"
                    %}

                    <!-- Component example -->

                    <div class="component-example m-0">
                        <div class="component-wrapper remove-element-padding py-4">
                            <div class="p-4">
                           
                            {% include component-examples/vertical-stepped-nav.html %}

                            </div>

                        </div>
                    </div>

                </div>

                <div class="tab-section non-branded ">

                        <!-- Breakpoint radio buttons -->
                        {% include breakpoints.html
                        element-string="nb-vertical-stepped-navigation"
                        md-visibility="true"
                        final-visibility="true"
                        breakpoint-final="768"
                        %}
    
                        <!-- Component example -->
    
                        <div class="component-example m-0">
                            <div class="component-wrapper remove-element-padding py-4">
                                
                                {% include non-branded-explanation.html
                                    component="vertical stepped navigation"
                                    brand-elements="colours and borders"
                                    classes="m-4"
                                %}

                                <div class="p-4">
    
                                {% include component-examples/vertical-stepped-nav.html 
                                    classes="non-branded" %}

                                </div>
    
    
                            </div>
                        </div>

                </div>

            </div>


        <!-- Design specifications link -->

        {% include design-specs-link.html
        btn-link="'https://www.figma.com/design/NzMcQHGDxgKh3FEq4Fz32P/ABLIS-design-specs?node-id=1-4085&t=LaVkDVTAgF1yHWQN-1'"
        btn-text="View design specifications"
        %}


        <!-- LAYOUTS -->
        <h2 class="section-start" id="layouts">Layouts</h2>

        <p>Vertical stepped navigation is used on the <a href={{ "brand-foundations/grid-and-page-layouts.html#layout-twocol-guide" | relative_url }}>Two column - guide page layout</a>.</p>

        {% include layouts-dropdown.html
        layout-name="Two column - guide page"
        singlelayout="true"
        %}


        <div class="layout-example show two-col-guidepage mt-0 mb-5 px-4 py-0">

            {% include layouts-accordion.html
            layout-name="two-col-guidepage"

            min1200-visibility="true"
            min992-visibility="false"
            min768-visibility="true"
            min576-visibility="false"
            finalbp-visibility="true"

            finalbp="Breakpoint &lt; 768px"

            min1200-img="'../assets/layout-images/twocol-guide-1200px-navigation.png' | relative_url "
            min768-img="'../assets/layout-images/twocol-guide-768px-navigation.png' | relative_url "
            finalbp-img="'../assets/layout-images/twocol-guide-finalbp-navigationalt.png' | relative_url "

            min1200-rules="<p>The navigation sits to the left of the content and is 3 grid-columns wide.</p>"

            min768-rules="<p>The navigation sits to the left of the content and is 4 grid-columns wide.</p>"

            finalbp-rules="<p>The navigation is not visible on screen. It is accessed through a trigger button located above the page content.<p>When triggered the navigation slides down and is 12 columns wide.</p>"

            %}

        </div>



        <!-- GUIDELINES -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose:</h3>
        <p>Vertical stepped navigation guides users through a process that is completed in a set order. It displays where the
            user is up to and allows then to navigate back to previous steps. It works in the same way as <a href="{{ '/components/stepped-navigation.html' |relative_url }}">horizontal stepped navigation</a> but is displayed vertically down the page.</p>
        <p>Users cannot navigate forward to uncompleted steps using this component.</p>
        <h3>When to use this component:</h3>
        <ul>
            <li>Used in tools or forms that require the user to complete a series of steps.</li>
            <li>The preferred stepped navigation for tools is the horizontal pattern. Vertical stepped navigation should only be used when there are too many steps to be accommodated by the horizontal navigation (more than eight steps).
        </ul>



         <!-- VERSION HISTORY-->
         <h2 class="section-start" id="version-history">Version history</h2>
         <h4>6 June, 2025</h4>
         <ul>
             <li>Created the vertical stepped navigation component page.</li>
         </ul>
        


    </div>