---

layout: bga-info-pages
title: Franchising
description: Find out what franchising is, the process to become a franchisor or start a business as a franchisee, the Franchising Code of Conduct and your legal and tax obligations.
id: bga-prototype
breadcrumb1: Planning
url1: /prototypes/bga/planning.html
breadcrumb2: Business structures and types
url2: /prototypes/bga/planning/business-structures-and-types.html

---

<div class="container my-5">

    <div class="row">

        <div class="remove-top-spaces col-12">
           

      

            <div class="hero-pathway-block" id="hero-layout-example">

                <div class="row">

                    <div class="col-12 col-sm-6 col-lg-8">
                        {% include component-examples/hero-pathway-example.html
                        image="'../../../../assets/refresh-illustrations/person-glasses-shop.svg' | relative_url "
                        classes="border-purple"
                        title="Franchises"
                        description="Understand what franchising is and the Franchising Code."
                        %}
                    </div>


                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/hero-pathway-example.html
                        classes="border-yellow small-hero"
                        title="Create a franchise profile"
                        description="If you’re a franchisor, you need to create a franchise profile and publish key information about your franchise for prospective franchisees to view."
                        %}

                    </div>


                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/hero-pathway-example.html
                        classes="border-blue small-hero"
                        title="Franchise your own business"
                        description="Find out what you need to do to expand your business and start franchising."
                        %}
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/hero-pathway-example.html
                        classes="border-orange small-hero"
                        title="Buy a franchise"
                        description="Learn how to assess if you're ready to buy a franchise, what you need to do when signing a franchise agreement and your legal and tax obligations."
                        %}
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/hero-pathway-example.html
                        classes="border-teal small-hero"
                        title="Resolve a franchise dispute"
                        description="Learn how to resolve a franchising dispute and the resources that can help you."
                        %}
                    </div>


                </div>


            </div>  

        </div>


    </div>

</div>
