---

layout: bga-info-pages
title: Home-based businesses
description: Running a business from home can be a great way to have a work-life balance and reduce costs. Learn about your tax, insurance and license obligations and where you can go to find support.
id: bga-prototype
breadcrumb1: Planning
url1: /prototypes/bga/planning.html
breadcrumb2: Business structures and types
url2: /prototypes/bga/planning/business-structures-and-types.html

---

<div class="container my-5">

    <div class="row">


        <div class="col-12 col-md-11 col-lg-9 col-xl-8">
            <div class="remove-top-spaces content-wrapper">


                <p>A home-based business is one where your home is also your principal place of business. You run your
                    business at or from home, and have a room or space set aside only for business activities.</p>
                <p>Due to COVID-19, many people have been operating their businesses from home and have realised the
                    benefits.</p>
                <p>However, running a business from home permanently doesn’t suit everyone. It takes a lot of discipline
                    to establish, run and maintain a home-based business.</p>
                <p>Your local <a href="">business adviser</a> can help you work out whether your home and your business
                    are a good match in the long term.</p>

                <h2>Work-life balance</h2>

                <p>When you start a home-based business you need to establish boundaries between work and home life. To
                    separate these you can:</p>
                <ul>
                    <li>set up a dedicated work space</li>
                    <li>have a second business mobile</li>
                    <li>schedule your own business working hours.</li>
                </ul>
                <p>These suggestions will help you maintain a <a href="">work/life balance</a>. It's important to
                    prioritise balance so you don’t become overwhelmed by your new business. It can also help you to
                    identify which deductions you can claim as part of your tax obligations.</p>

                <h2>Tax, insurance and registrations</h2>

                <h3>Tax obligations</h3>
                <p>As with any new business, you must comply with <a href="">tax obligations</a>. You may need to
                    register for:</p>
                <ul>
                    <li><a href="">tax file number (TFN)</a></li>
                    <li><a href="">Australian business number (ABN)</a></li>
                    <li><a href="">goods and services tax (GST)</a></li>
                    <li><a href="">pay as you go (PAYG) withholding</a></li>
                    <li><a href="">fringe benefits tax (FBT)</a>.</li>
                </ul>
                <p>Home-based businesses have specific tax obligations that you need to know. You’ll need to know what
                    expenses you can claim and whether you have to pay capital gains tax when you sell your home.</p>


                {% include component-examples/inline-pathway-example.html
                link1="Understand what deductions you can claim and capital gains tax implications."
                page1="Australian Taxation Office"
                icon1="'../../../../assets/icon-arrow-right-blue.svg' | relative_url "
                %}

                <h3>Insurance</h3>
                <p>Running a home-based business is no different from running a business based out of an office. It
                    depends on the type of work you do, but you may need to consider:</p>
                <ul>
                    <li>public liability</li>
                    <li>professional indemnity</li>
                    <li>product liability.</li>
                </ul>
                <p>Public liability is important if you have clients that come into your home as part of your business.
                </p>


                {% include component-examples/inline-pathway-example.html
                link1="Read about the different types of insurance for business."
                page1="Business insurance"
                icon1="'../../../../assets/icon-arrow-right-blue.svg' | relative_url "
                %}

                <h3>Licences and registrations</h3>
                <p>Using your home as a place of business means you need to comply with particular regulations. These
                    can be set by your state, territory and local governments. The registrations and licences you need
                    for your business will vary depending on your industry.</p>
                <p>If you have a home-based business, you still need to register for a business name, ABN and required
                    business licences and permits.</p>
                <p>Some business activities may impact your surrounding residential area. Depending on your type of
                    business, you may need special permits relating to zoning, signage, noise levels or health issues.
                </p>


                {% include component-examples/call-to-action-example.html
                title="Find the licences and permits you need for your business"
                text="<p>Search the Australian Business Licence and Information Service (ABLIS) to find information on
                    the licences you may need.</p>"
                button="Search now"
                %}


                <h2>Find advice and support</h2>

                <p>Search our <a href="">advisory services</a> to connect with a range of services, programs and
                    business advisers to support your business.</p>
                <p><a href="">Business Enterprise Centres</a> provide information and advice to businesses. They can
                    help support and guide you as you develop your business.</p>
                <p>Networking is another important way to keep up-to-date with business trends. It can also help to
                    create business opportunities and develop relationships. Consider joining a business association or
                    find <a href="">events</a> where you can network with peers.</p>



            </div>
        </div>

    </div>

</div>