---

layout: bga-info-pages
title: Starting an Indigenous business
description: Indigenous businesses are much like any other business in Australia. However, Indigenous business owners may be eligible for additional support and assistance to start, develop and grow their businesses.
id: bga-prototype
breadcrumb1: Planning
url1: /prototypes/bga/planning.html
breadcrumb2: Business structures and types
url2: /prototypes/bga/planning/business-structures-and-types.html

---

<div class="container my-5">

    <div class="row">

        <div class="col-12 col-md-11 col-lg-9 col-xl-8">
            <div class="remove-top-spaces content-wrapper">

                {% include component-examples/call-to-action-example.html
                title="Before you start"
                text="<p>Before you start, it's a good idea to look at our Guide to starting a business. This will help
                    you understand what's involved in starting a business and what lies ahead.</p>"
                %}

                <h2>Choose your business structure</h2>

                <p>One of the first steps you need to take when starting out is choosing your business structure. Your
                    business structure identifies how you operate as a trading business.</p>
                <p>Learn more about the different business structures and how to choose the right one for your business.
                </p>
                <h3>Indigenous corporation</h3>
                <p>If you're Indigenous and you want to start a company as an Indigenous corporation, you can do this
                    through the Office of the Registrar of Indigenous Corporations. Indigenous corporations are eligible
                    for additional benefits.</p>


                {% include component-examples/inline-pathway-example.html
                link1="Learn more about Indigenous corporations."
                page1="Indigenous corporation"
                icon1="'../../../../assets/icon-arrow-right-blue.svg' | relative_url "

                link2="Read how to register your business as an Indigenous corporation."
                page2="Office of the Registrar of Indigenous Corporations"
                icon2="'../../../../assets/icon-arrow-right-blue.svg' | relative_url "
                %}

                <h2>Find support for your Indigenous business</h2>

                <p>We understand that starting a business can be difficult. However, there is support available for Indigenous business owners.</p>
                
                <h3>National support and help</h3>

                <p>Indigenous Business Australia (IBA) is a government organisation that provides workshops, advice,
                    business support programmes. In some cases they may also provide business finance to eligible
                    Indigenous business owners.</p>
                <p>Indigenous Regional Network (IRN) showcases success stories from Indigenous businesses. IRN can also
                    connect you to other businesses or government programs to help develop your business.</p>
                <p>Australian Taxation Office (ATO) provides tax and super information to help Aboriginal and Torres
                    Strait Islander people succeed in their business.</p>
                <h3>Local support and help</h3>
                <p>Other assistance may be available depending on the type or location of your business. Have a look at
                    the following local business directories and programs:</p>
                <ul>
                    <li>Western Australia – Aboriginal Business Directory WA</li>
                    <li>Northern Territory – Aboriginal Business Development Program</li>
                    <li>Queensland – Indigenous leadership and networking</li>
                    <li>Tasmania – Information and support from the Office of Aboriginal Affairs</li>
                    <li>Victoria – Victorian Aboriginal Business Directory.</li>
                </ul>



            </div>
        </div>

    </div>

</div>