---

layout: content-tagged
title: Guide page
description: Guides on business.gov.au are used for presenting an end to end journey in logical steps.
breadcrumb1: Page patterns
url1: /page-patterns.html
bga-tag: true
subsite-tag: false

---



<div class="row">

    <div class="anchor-menu-wrapper col-12 col-lg-3 col-xl-2 d-none d-lg-block">

        {% include component-examples/anchor-menu-example.html
classes="in-page"

        link-1="Page anatomy" link-id-1="#page-anatomy"
        link-2="Guidelines for use" link-id-2="#guidelines-for-use"
        link-3="Related components" link-id-3="#related-components"
        %}

    </div>

    <div class="anchored-content remove-element-padding mb-5 col-12 col-lg-9 col-xl-8">


        <!-- DESIGN -->
        <h2 class="section-start" id="page-anatomy">Page anatomy</h2> 
        
        <p>The guide pattern consists of information tiles spread across a number of sub-pages or sections. The sections are accessed through navigation links located on the left side of the page.</p>

        <h3>Page layout</h3>
        <p>The guide page uses the <a href={{ "brand-foundations/grid-and-page-layouts.html#layout-twocol-guide" | relative_url }}>two column - guide page layout</a>.

       
       
        <div class="component-example m-0">
            <div class="component-wrapper remove-element-padding p-4">

                {% include page-pattern-example.html
                    classes="guides-page-2024-container"
                    img="'../assets/page-patterns/guide-page-2024.png' | relative_url"

                    spot1="Heading (guide title)"
                    spot2="Header description"
                    spot3="Numbered section link"
                    spot4="Information tile link"
                    spot5="Checklist CTA"
                    spot6="Section title"
                    spot7="Section description"
                    spot8="Guide information tile"
                    spot9="Action checklist"
                    spot10="Action checklist audience dropdown"
                    spot11="Next/previous section links"
                %}
                
            </div>
        </div>

        <div class="component-example mb-5">
            <div class="page-pattern-rules p-4">

                {% include page-pattern-rules.html
                    
                    item1="Heading (guide title)"
                    content1="<p>A direct, short title focused on the main topic the user will learn about in the guide.</p><ul><li>Maximum character limit of 50.</li><li>Page title starts with 'Guide to ...'</li><li>All section pages within a guide have the same heading.</li></ul>"

                    item2="Header description"
                    content2="<p>A short paragraph that expands on what journey the guide will help users undertake.</p><ul><li>Maximum character limit of 90.</li><li>Include the top three keywords for the page.</li><li>All section pages within a guide have the same header description.</li></ul>"

                    item3="Numbered section link"
                    content3="<p>Links to the different sections of the guide.</p><ul><li>Sections are presented as numbered steps.</li><li>Link text is the title of the corresponding section.</li><li class='highlight'>Maximum character limit of 30.</li><li class='highlight'>Maximum of 10 sections and numbered section links per guide.</li></ul>"


                    item4="Information tile link"
                    content4="<p>Links to guide information tiles.</p><ul><li>Link text is the title of the information tile.</li><li>Information tile links are hidden by default. They are accessed through a show/hide link.</li></ul>"

                    item5="Checklist CTA"
                    content5="<p>Provides user with the ability to email or download a checklist version of the guide. The checklist document should:</p><ul><li>Have a title that matches the guide title to ensure the connection between the two is clear. For example, the 'Guide to starting a business' could have a checklist with the title 'Starting a business checklist'.</li><li>Contain checklist items and no other guide content.</li><li>Mirror the section structure and checklist items presented in the action checklists in the guide sections.</li></ul>"

                    item6="Section title"
                    content6="<p>A direct, short title focused on the main topic the user will learn about in the section.</p><ul><li class='highlight'>Maximum character limit of 30.</li><li>Section titles are numbered.</li></ul>"

                    item7="Section description"
                    content7="<p>A short paragraph that expands on what the section is about.</p><ul><li class='highlight'>Maximum character limit of 90.</li></ul>"

                    item8="Guide information tile"
                    content8="<p>Guide information tiles should focus on a single activity or action, e.g 'Develop your business plan'. Tiles should:</p><ul><li>Not be numbered.</li><li class='highlight'>Be tagged as recommended or required (TBC).</li><li class='highlight'>Be ordered based on tag type, required tiles listed first, then recommended (TBC).</li><li>Contain an action oriented title.</li><li>Contain a short description of the activity.</li><li>Contain links to further information (where appropriate)</li></ul><p class='highlight'> A guide section ideally contains 3 - 4 information tiles with a maximum of 6 tiles in one section. If a section requires more than 6 tiles consider splitting it into 2 sections.</p><p class='highlight'>Guide information tiles cannot have other components, such as inline pathway links, nested within them.</p>"

                    item9="Action checklist"
                    content9="<p>A checklist of actions the user can do to achieve the action/activity discussed in the information tile. Checklist items should be:</p><ul><li class='highlight'>An individual action the user can undertake.</li><li class='highlight'>Written in first person, e.g.'I have...'</li><li class='highlight'>A single sentence with a character limit of ???.</li></ul>
                    <p class='highlight'>A single action checklist should have 1 - 5 items with a maximum of 6.</p>"

                    item10="Action checklist audience dropdown (optional)"
                    content10="<p>An optional dropdown that allows users to select the intended audience for the checklist items.</p><ul><li>Use the dropdown when different groups of users have clearly different actions to undertake.</li></ul>"

                    item11="Next/previous section links"
                    content11="<p>Navigation links that point to the previous and next sections in the guide.</p><ul><li>Link text is the title of the corresponding section.</li></ul>"
                %}

            
        </div>
        </div>


        <!-- GUIDELINES FOR USE -->
        <h2 class="section-start" id="guidelines-for-use">Guidelines for use</h2>

        <h3>Purpose</h3>
        <div class="page-pattern-rules">
            <p class='highlight'>Guides on business.gov.au are used for an end to end journey, for example starting a business. This pattern should include task/action based content only. It is useful for breaking down large journeys into a series of steps to help people understand how to progress.</p>
            <h3>General rules:</h3>
            <ul class='highlight'>
            <li>Guides should have a clearly defined purpose for a specific audience.</li>
            <li>Guides often address a particular business scenario/business life event. For example starting a business or closing a business.</li>
            <li>Guides present information that is helpful to be read sequentially.</li>
            <li>If establishing a new guide, all content pages need to follow BGA content principles.</li>
            <li>Guides should aim to contain no more than 10 sections. If guides are larger than 10 sections, consider breaking them into smaller journeys.</li>
            <li>Guide tiles should only lead to information pages, not further navigational pages. (A possible exception may be linking to information that differs for different individuals in the intended audience, e.g. linking to industry specific legal information).</li>
            </ul>
        </div>
       

        <!-- RELATED COMPONENTS -->
        <h2 class="section-start" id="related-components">Related components</h2>
        <ul>
            <li><a href={{ "components/bga-site-header.html" | relative_url }}>Business.gov.au site header</a></li>
            <li><a href={{ "components/breadcrumbs.html" | relative_url }}>Breadcrumbs</a></li>
            <li><a href={{ "components/page-headers.html" | relative_url }}>Topic page header (yellow)</a></li>
            <li><a href={{ "/components/guide-vertical-navigation.html" | relative_url }}>Guide vertical navigation</a></li>
            <li><a href={{ "/components/guide-sections.html" | relative_url }}>Guide sections</a></li>
            <li><a href={{ "/components/guide-information-tiles.html" | relative_url }}>Guide information tiles</a></li>
            <li><a href={{ "/components/guide-checklist-call-to-action.html" | relative_url }}>Guide checklist call to action</a></li>
            <li><a href={{ "components/bga-site-footer.html" | relative_url }}>Business.gov.au site footer</a></li>
        </ul>
      

    </div>