---

layout: bga-info-pages
title: How collaboration can help your business
description: Find out how you can collaborate to become more innovative in your business and gain knowledge to grow.
id: bga-prototype
breadcrumb1: Planning
url1: /prototypes/bga/planning.html
breadcrumb2: Innovation
url2: /prototypes/bga/planning/innovation.html

---

<div class="container my-5">

    <div class="row">

        <div class="col-12 col-md-11 col-lg-9 col-xl-8">
            <div class="remove-top-spaces content-wrapper">
           

<p>Collaboration is one way your business can innovate. By joining forces with other businesses or researchers, you can bring new expertise and ideas to your business challenges.</p>
<p>Collaboration can include:</p>
<ul>
<li> researching with a university or organisation</li>
<li> partnering with other companies</li>
<li> seeking access, licences, technology or knowledge from another organisation.</li>
</ul>

<h2>1. Find out how collaboration can help your business</h2>

<p>Working together with others can help your business to:</p>
<ul>
<li> stay ahead of the competition</li>
<li> turn your ideas into reality</li>
<li> access new insights and advice</li>
<li> develop the skills of your employees</li>
<li> build a culture of innovation.</li>
</ul>

{% include component-examples/call-to-action-example.html
    text="<p>If you want to gain a market advantage, collaborating with an expert from a university or the Commonwealth Scientific and Industrial Research Organisation (CSIRO) can help. They can give you access to the latest research, technology and expertise.</p><p> Research shows a 4.5:1 return on investment in research innovation for your business.</p>"
    %}

    <h2>2. Identify collaboration opportunities</h2>

<p>There are many different opportunities where you can collaborate, including to:</p>
<ul>
<li>identify innovative ideas and solutions</li>
<li>develop new products or services</li>
<li>solve real-world challenges faced by your business</li>
<li>access specialist skills or equipment</li>
<li>share and minimise the risk from research projects</li>
<li>provide product testing and verification.</li>
</ul>
<p>Collaboration can take many forms and doesn't need to be complicated. Even connecting informally with an expert can have a positive impact for your business.</p>

{% include component-examples/call-to-action-example.html
    text="<h3>Research collaboration</h3>
    <p>Research collaboration is a popular way for businesses to be innovative. Researchers tend to be at the forefront of their fields, where they develop and create opportunities to commercialise new technology.</p>
    <p>You can work with researchers in different ways through:</p>
    <ul>
    <li>formal joint research and development projects, where you and the research organisation work together towards a common goal</li>
    <li>PhD placements, where a student researcher can work on a project for your business</li>
    <li>fee-for-service, or consultation, with a research organisation to provide you with expert knowledge, skills and know-how</li>
    <li>licensing intellectual property (IP) from research organisations</li>
    <li>attending workshops, events or training activities</li>
    <li>informal chats with local university academics or lecturers.</li>
    </ul>"
    %}

    <h2>3. Find a collaboration partner</h2>

<p>Once you have your ideas for collaboration, the next step is determining which partners will best suit your needs. Narrow down potential partners by understanding how a partner will contribute, and what your ideal outcome is.</p>
<p>Consider reaching out to:</p>
<ul>
<li>organisations that you already have a relationship with</li>
<li>universities and government agencies</li>
<li>businesses in different fields</li>
<li>businesses at a different stage, such as a start-up or established</li>
<li>networks across industries.</li>
</ul>
<p>You don't have to work with a business that is exactly like you. Collaborations with other businesses can help you to build capacity and find projects and innovations that you could adapt to your market.</p>

{% include component-examples/call-to-action-example.html
    text="<h3>Research partners</h3>
    <p>If you think that a research partner best suits your needs, you can get started finding a partner by:</p>
    <ul>
    <li>an Innovation Connections facilitation to help connect your business to the right expert for your needs</li>
    <li>contacting CSIRO's Data61 Business Unit for research expertise on AI, robotics, cybersecurity, modelling and analytics</li>
    <li>browsing patents by research organisations on Source IP to see what researchers are working on</li>
    <li>checking out the Universities Australia Clever Collaborations report for a list of university contacts in every state and territory</li>
    <li>exploring collaborative networks and opportunities in key sectors through the Industry Growth Centres Initiative.</li>
    </ul>"
    %}

    <h2>4. Get finance to support your collaboration</h2>

<p>Collaborations require precious time and money just like any other area of your business.</p>
<p>You can fund collaborations with:</p>
<ul>
<li>your own funds</li>
<li>government grants</li>
<li>venture capital and angel investors</li>
<li>crowd funding.</li>
</ul>
<h2>5. Find a grant or program</h2>

<p>There is a broad range of free services, grants and matched funding that can help you collaborate with an expert and bring your ideas to life.</p>
<h3>Get advice</h3>
<ul>
<li>Innovation Connections – facilitates connections between your business and the research sector, and up to $50K matched funding to kick-start your collaboration.</li>
<li>Accelerating Commercialisation – expert advice and up to $1M matched funding to commercialise a novel product, process or service.</li>
</ul>
<h3>Get funding</h3>
<ul>
<li>CSIRO Kick-Start – up to $50K matched funding to access research expertise at the CSIRO.</li>
<li>Cooperative Research Centre Projects (CRC-P) – up to $3M matched funding to support industry-led projects.</li>
<li>Australian Research Council (ARC) Linkage Projects – up to $300K per year over 2-5 years to undertake a project with a research organisation.</li>
<li>R&amp;D Tax Incentive – provides a tax offset towards the cost of your R&amp;D costs.</li>
</ul>
<h3>Place a researcher in your business</h3>
<ul>
<li>Australian Postgraduate Research (APR) Internships – places a PhD candidate in your business to work on a 3-5 month project.</li>
<li>CSIRO STEM+ Business – places an early-career research into your business for a 2-3 year research project.</li>
</ul>

<h2>6. Manage Intellectual Property (IP)</h2>

<p>Managing the IP in your collaborations with researchers can be complex. The Department of Industry, Science and Resources and IP Australia have put together a toolkit to help you get started.</p>
<p>The toolkit includes:</p>
<ul>
<li>a checklist covering key issues for you to consider</li>
<li>templates for a contract, confidentiality agreement and term sheet</li>
<li>general guidance and information to help manage your IP when collaborating.</li>
</ul>
<p>Take a look at how the IP Toolkit can help your next collaboration.</p>






            </div>
        </div>


    </div>

</div>
