<div class="ablis-dynamic-nav-wrapper">
    <button class="mobile-show p-3">
        <p class="step-wrapper d-none p-0 m-0">Step <span class="step-number"></span> <span class="total-steps">of 9</span>: <span class="step-name"><strong></strong><span></p>
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 12.5"><path transform="translate(20 12.5) rotate(180)" d="M10,4.965,2.478,12.5,0,10.018,10,0,20,10.018,17.522,12.5Z"></path></svg> </button>
                
    <div id="ablis-dynamic-nav" class="dynamic-nav">
        
        <ul class="primary-steps static-step initial-state px-3 pt-3 pb-0">
            <li class="step-1 primary mb-3" data-step="step-1"><span class="list-number">1</span><a>Business details</a></li>
            
        </ul>
        
        <ul class="primary-steps dynamic-steps d-none px-3 pt-0 pb-0">
            <li class="step-2 primary mb-3" data-step="step-2"><span class="list-number">2</span><a>Operations</a></li>
            <li class="step-3 primary mb-3" data-step="step-3"><span class="list-number">3</span><a>Products and services</a></li>
            <li class="step-4 primary mb-3" data-step="step-4"><span class="list-number">4</span><a>Tax</a></li>
            <li class="step-5 primary mb-3" data-step="step-5"><span class="list-number">5</span><a>Workers</a></li>
            <li class="step-6 primary mb-3" data-step="step-6"><span class="list-number">6</span><a>Buildings and land</a></li>
            <li class="step-7 primary mb-3" data-step="step-7"><span class="list-number">7</span><a>Equipment and transport</a></li>
            <li class="step-8 primary mb-3" data-step="step-8"><span class="list-number">8</span><a>Public spaces</a></li>
            <li class="step-9 primary last-step mb-3" data-step="step-9"><span class="list-number">9</span><a>Results</a></li>
        </ul>

    </div>  

</div>