<div id="footer" class="subsite-footer ablis-footer py-0 mt-0 mb-0">

    <div class="container py-0">
        <div class="contact-container py-6 remove-element-padding">

            <div class="row">
            
                <div class="col-12">
                
                    <div class="contact-details-wrapper d-flex">
                       
                        <div class="federal-wrapper">
                        
                            <img class="responsive-img" src={{ "/assets/bga-logo-white.svg" | relative_url }} />

                            <h2 class="m-0 p-0">Contact us for help using this tool on <a>13 28 46</a></h2>
                        </div>
                    
                        <div class="state-wrapper d-none">
                            <h3 class="p-0 mb-2">Contact your state or territory government</h3>
                            <p>Get information on licences and regulations for your business.</p>

                            <div class="state-contact">
                                <div class="form-element-wrapper mb-0">
                                    <select class="form-select h4-font-size" aria-label="Default select example">
                                        <option value="" disabled selected>Select your state or territory government</option>
                                        <option value="australian-capital-territory">Australian Capital Territory</option>
                                        <option value="new-south-wales">New South Wales</option>
                                        <option value="northern-territory">Northern Territory</option>
                                        <option value="queensland">Queensland</option>
                                        <option value="south-australia">South Australia</option>
                                        <option value="tasmania">Tasmania</option>
                                        <option value="victoria">Victoria</option>
                                        <option value="western-australia">Western Australia</option>
                                    </select>
                                </div>

                                <div class="contact-details remove-element-padding p-0">
                                
                                    <div class="contact-item australian-capital-territory p-3 d-none">
                                        <h4>Innovation, Trade and Investment | Access Canberra</h4>
                                        <p>Phone: <a>13 28 46</a></p>
                                        <p>Website: <a>https://www.industry.gov.au</a></p>
                                    </div>
                            
                                    <div class="contact-item new-south-wales p-3 d-none">
                                        <h4>NSW Fair Trading</h4>
                                        <p>Phone: <a>13 32 20</a></p>
                                        <p>Email: <a>Webmaster.BLIS@finance.nsw.gov.au</a></p>
                                        <p>Website: <a>https://www.fairtrading.nsw.gov.au</a></p>
                                    </div>
                            
                                    <div class="contact-item northern-territory p-3 d-none">
                                        <h4>Territory Business Centre</h4>
                                        <p>Phone: <a>108 8982 1700</a> or freecall <a>1800 193 111</a></p>
                                        <p>Email: <a>territorybusinesscentre@nt.gov.au</a></p>
                                        <p>Website: <a>https://nt.gov.au/industry</a></p>
                                    </div>
                            
                                    <div class="contact-item queensland p-3 d-none">
                                        <h4>Business Support</h4>
                                        <p>Phone: <a>13 QGOV (13 74 68)</a></p>
                                        <p>Email: <a>feedback@desbt.qld.gov.au</a></p>
                                        <p>Website: <a>https://www.business.qld.gov.au</a></p>
                                    </div>

                                    <div class="contact-item south-australia p-3 d-none">
                                        <h4>Department of State Development</h4>
                                        <p>Phone: <a>1800 188 018</a> (freecall)</p>
                                        <p>Email: <a>smallbusiness@sa.gov.au</a></p>
                                        <p>Website: <a>https://business.sa.gov.au</a></p>
                                    </div>
                            
                                    <div class="contact-item tasmania p-3 d-none">
                                        <h4>Business Tasmania</h4>
                                        <p>Phone: <a>1800 440 026</a> (freecall)</p>
                                        <p>Email: <a>ask@business.tas.gov.au</a></p>
                                        <p>Website: <a>https://www.business.tas.gov.au</a></p>
                                    </div>
                                
                                    <div class="contact-item victoria p-3 d-none">
                                        <h4>Business Victoria</h4>
                                        <p>Phone: <a>13 22 15</a></p>
                                        <p>Email: <a>www.business.vic.gov.au/contact-us</a></p>
                                        <p>Website: <a>https://www.business.vic.gov.au</a></p>
                                    </div>
                            
                                    <div class="contact-item western-australia p-3 d-none">
                                        <h4>Small Business Development Corporation</h4>
                                        <p>Phone: <a>13 31 40</a></p>
                                        <p>Email: <a>info@smallbusiness.wa.gov.au</a></p>
                                        <p>Website: <a>https://www.smallbusiness.wa.gov.au</a></p>
                                    </div>

                                </div>


                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
  
    </div>


    <div class="container key-links-container py-6">

        <div class="row">
            <div class="col-12">
               
                <div class="links p-0">
                    <ul class="m-0 p-0">
                        <li class="me-4 mb-3">Link example</li>
                        <li class="me-4 mb-3">Another link</li>
                        <li class="me-4 mb-3">Linky link</li>
                        <li class="me-4 mb-3">Link etc</li>
                        <li class="me-4 mb-3">Feedback</li>
                      <li class="me-4 mb-3">Acknowledgement of country</li>
                    </ul>
                </div>


                <div class="copyright remove-element-padding mt-2 mb-0">
                    <p>© Commonwealth of Australia.</p>
                </div>

            </div>
        </div>

    </div>

</div>