<div class="ablis-dynamic-nav-wrapper">
                
    <div id="ablis-dynamic-nav" class="dynamic-nav ">
        
        <ul class="primary-steps px-3 pt-3 pb-0">
            <li class="step-1 primary mb-3" data-step="step-1"><span class="list-number">1</span><a>Business details</a></li>
            <li class="step-2 primary mb-3" data-step="step-2"><span class="list-number">2</span><a>Operations</a></li>
            <li class="step-3 primary mb-3" data-step="step-3"><span class="list-number">3</span><a>Products and services</a></li>
            <li class="step-4 primary mb-3" data-step="step-4"><span class="list-number">4</span><a>Tax</a></li>
            <li class="step-5 primary mb-3" data-step="step-5"><span class="list-number">5</span><a>Workers</a></li>
            <li class="step-6 primary mb-3" data-step="step-6"><span class="list-number">6</span><a>Buildings and land</a></li>
            <li class="step-7 primary mb-3" data-step="step-7"><span class="list-number">7</span><a>Equipment and transport</a></li>
            <li class="step-8 primary mb-3" data-step="step-8"><span class="list-number">8</span><a>Public spaces</a></li>
            <li class="step-9 primary last-step mb-3" data-step="step-9"><span class="list-number">9</span><a>Results</a></li>
        </ul>

    </div>  

</div>