{% if include.results == 'true' %}
<div class="ablis-dynamic-nav-wrapper">
                
    <div id="ablis-dynamic-nav" class="dynamic-nav ">
        
        <ul class="primary-steps  px-3 pt-3 pb-0">
            <li class="step-1 primary mb-5" data-step="step-1"><span class="list-number">1</span><a>Business details</a></li>
            <li class="step-2 primary mb-5" data-step="step-2"><span class="list-number">2</span><a>Regulation categories</a></li>
            <ul class="secondary-steps pb-0">
                <li class="step-3 secondary d-none" data-step="step-3"><span class="tick-wrapper"></span><a>Operations</a></li>
                <li class="step-4 secondary d-none" data-step="step-4"><span class="tick-wrapper"></span><a>Products and services</a></li>
                <li class="step-5 secondary d-none" data-step="step-5"><span class="tick-wrapper"></span><a>Tax</a></li>
                <li class="step-6 secondary d-none" data-step="step-6"><span class="tick-wrapper"></span><a>Workers</a></li>
                <li class="step-7 secondary d-none" data-step="step-7"><span class="tick-wrapper"></span><a>Buildings and land</a></li>
                <li class="step-8 secondary d-none" data-step="step-8"><span class="tick-wrapper"></span><a>Equipment and transport</a></li>
                <li class="step-9 secondary d-none" data-step="step-9"><span class="tick-wrapper"></span><a>Dangerous and hazardous goods</a></li>
                <li class="step-10 secondary d-none" data-step="step-10"><span class="tick-wrapper"></span><a>Enviroment and animals</a></li>
                <li class="step-11 secondary d-none" data-step="step-11"><span class="tick-wrapper"></span><a>Public spaces</a></li>
            </ul>
            
        </ul>

    
        <ul class="primary-steps results px-3 py-0">
            <li class="step-12 primary mb-2 last-step pt-3" data-step="step-12"><span class="list-number">3</span><a>Results</a></li>
            
            <ul class="results-links">
                <li><a href="#licences-group">Licences and registrations (<span class="licences" ></span>)</a></li>
                <li><a  href="#regulatory-obigations-group">Legal obligations (<span class="regulations"></span>)</a></li>
                <li><a href="#code-of-practice-group">Codes and standards (<span class="codes" ></span>)</a></li>
                <li><a class="advisory" href="#advisory-materials-group">Guidance (<span class="advisory"></span>)</a></li>
            </ul>
        </ul>

    </div>  


</div>
{% else %}

<div class="ablis-dynamic-nav-wrapper">
                
    <div id="ablis-dynamic-nav" class="dynamic-nav">
        
        <ul class="primary-steps p-3">
            <li class="step-1 primary mb-5" data-step="step-1"><span class="list-number">1</span><a>Business details</a></li>
            <li class="step-2 primary mb-5" data-step="step-2"><span class="list-number">2</span><a>Regulation categories</a></li>
            <ul class="secondary-steps">
                <li class="step-3 secondary d-none" data-step="step-3"><span class="tick-wrapper"></span><a>Operations</a></li>
                <li class="step-4 secondary d-none" data-step="step-4"><span class="tick-wrapper"></span><a>Products and services</a></li>
                <li class="step-5 secondary d-none" data-step="step-5"><span class="tick-wrapper"></span><a>Tax</a></li>
                <li class="step-6 secondary d-none" data-step="step-6"><span class="tick-wrapper"></span><a>Workers</a></li>
                <li class="step-7 secondary d-none" data-step="step-7"><span class="tick-wrapper"></span><a>Buildings and land</a></li>
                <li class="step-8 secondary d-none" data-step="step-8"><span class="tick-wrapper"></span><a>Equipment and transport</a></li>
                <li class="step-9 secondary d-none" data-step="step-9"><span class="tick-wrapper"></span><a>Dangerous and hazardous goods</a></li>
                <li class="step-10 secondary d-none" data-step="step-10"><span class="tick-wrapper"></span><a>Enviroment and animals</a></li>
                <li class="step-11 secondary d-none" data-step="step-11"><span class="tick-wrapper"></span><a>Public spaces</a></li>
            </ul>
            <li class="step-12 primary last-step" data-step="step-12"><span class="list-number">3</span><a>Results</a></li>
        </ul>

    </div>

</div>

{% endif %}