<div class="beefy-radio-options remove-element-padding {{include.classes}} p-4 mb-5">

    <h3>Create your standard mark</h3>
    <p>You will be able to download or email this mark as a PDF or png file.</p>

    <form>

        <!-- Step 1-->
        <div class="form-step form-step-1 p-4 remove-element-padding">

            <h4>Step 1 - Select and edit your standard mark wording</h4>

            <div class="radios beefy-radios w-100 g-2 d-flex flex-wrap radio-flex-group" role="radiogroup" id="wording-options">

                
                <div class="wording-option closed">

                    <div class="radio-edit-buttons-wrapper">
                    
                        <div class="radio-button w-100 p-3">
                            <input class="form-check-input m-0" type="radio" name="wording-options"
                                id="option1" value="option1">
                            <label class="form-check-label option1" for="option1"><div class="label-text"><strong>Made in Australia from less than 10% Australian ingredients (</strong><span class="processing">description of minor processing</span><strong>)</strong></div></label>
                        </div>

                        <div class="edit-button-wrapper p-3">
                            <a class="bga-btn bga-secondary-btn bkg-light button edit-button" tabindex="0"
                                href="" role="button"><span>Edit</span> 
                                <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.76754 12.4656L8.01633 13.2168L2.95059 14.42L4.15448 9.35498L4.87416 8.57224L8.76754 12.4656ZM11.1123 2.33414L14.9748 6.19668L9.52295 11.6485L5.6604 7.78599L11.1123 2.33414ZM13.4528 0.00623642L17.3146 3.86808L15.7575 5.42516L11.8957 1.56331L13.4528 0.00623642Z" fill="#333333"/>
                                    </svg>
                            </a>
            
                        </div>
                    </div>

                    
                    <div class="edit-option-form d-none p-3">
                        <div class="question-input">
                            <p class="question mb-3"><strong>Describe the minor processing that occurred outside Australia (up to 80 characters).</strong></p>
                            <p class="help mb-3">For example: <em>‘canned in Thailand’ or ‘sliced and packed in Indonesia’</em></p>
                            
                            <input type="text" class="form-control" id="processing" value="">
                        </div>

                        <div class="button-example"> 
                            <a class="bga-link bga-tertiary-link plus-icon add-details bkg-light" tabindex="0" href="" role="button">Add label details</a>
                        </div>

                    </div>
                    
                </div>


                <div class="wording-option closed">

                    <div class="radio-edit-buttons-wrapper">
                    
                        <div class="radio-button w-100 p-3">
                            <input class="form-check-input m-0" type="radio" name="wording-options"
                                id="option2" value="option2">
                            <label class="form-check-label option2" for="option2"><div class="label-text"><strong>Made in Australia from less than 10% Australian ingredients with</strong> <span class="ingredients">name and origin of ingredient(s)</span><strong> (</strong><span class="processing">description of minor processing</span><strong>)</strong></div></label>
                        </div>

                        <div class="edit-button-wrapper p-3">
                            <a class="bga-btn bga-secondary-btn bkg-light button edit-button" tabindex="0"
                                href="" role="button"><span>Edit</span>
                                <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.76754 12.4656L8.01633 13.2168L2.95059 14.42L4.15448 9.35498L4.87416 8.57224L8.76754 12.4656ZM11.1123 2.33414L14.9748 6.19668L9.52295 11.6485L5.6604 7.78599L11.1123 2.33414ZM13.4528 0.00623642L17.3146 3.86808L15.7575 5.42516L11.8957 1.56331L13.4528 0.00623642Z" fill="#333333"/>
                                    </svg>
                            </a>
            
                        </div>
                    </div>

                    
                    <div class="edit-option-form d-none p-3">
                        
                        <div class="question-input">
                            <p class="question mb-3"><strong>Provide a description (up to 80 characters) to highlight one or more ingredients of the food product and name their country of origin.</strong></p>
                            <p class="help mb-3">For example: <em>‘Australian macadamias and Belgian chocolate’</em></p>
                            
                            <input type="text" class="form-control" id="ingredients" value="">
                        </div>
                        
                        
                        <div class="question-input">
                            <p class="question mb-3"><strong>Describe the minor processing that occurred outside Australia (up to 80 characters).</strong></p>
                            <p class="help mb-3">For example: <em>‘canned in Thailand’ or ‘sliced and packed in Indonesia’</em></p>
                            
                            <input type="text" class="form-control" id="processing" value="">
                        </div>

                        <div class="button-example"> 
                            <a class="bga-link bga-tertiary-link plus-icon add-details bkg-light" tabindex="0" href="" role="button">Add label details</a>
                        </div>
                          
                    </div>
                    
                </div>


                <div class="wording-option closed">

                    <div class="radio-edit-buttons-wrapper">
                    
                        <div class="radio-button w-100 p-3">
                            <input class="form-check-input m-0" type="radio" name="wording-options"
                                id="option3" value="option3">
                            <label class="form-check-label option3" for="option3"><div class="label-text"><strong>Made in Australia from at least</strong> <span class="percentage">X</span><strong>% Australian ingredients</strong> (</strong><span class="processing">description of minor processing</span><strong>)</strong></div></label>
                        </div>

                        <div class="edit-button-wrapper p-3">
                            <a class="bga-btn bga-secondary-btn bkg-light button edit-button" tabindex="0"
                                href="" role="button"><span>Edit</span> 
                                <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.76754 12.4656L8.01633 13.2168L2.95059 14.42L4.15448 9.35498L4.87416 8.57224L8.76754 12.4656ZM11.1123 2.33414L14.9748 6.19668L9.52295 11.6485L5.6604 7.78599L11.1123 2.33414ZM13.4528 0.00623642L17.3146 3.86808L15.7575 5.42516L11.8957 1.56331L13.4528 0.00623642Z" fill="#333333"/>
                                    </svg>
                            </a>
            
                        </div>
                    </div>

                    
                    <div class="edit-option-form d-none p-3">
                        <div class="question-input">
                            <p class="question mb-3"><strong>Enter the minimum percentage of Australian ingredients in your product.</strong></p>
                            <p class="help mb-3">Enter a number between 1 - 99</p>
                            
                            <div class="textbox-units form-element-wrapper">
                                <input type="text" class="form-control m-0" id="percentage" value="">
                                <p class="decimals m-0">%</p>
                            </div>
                        </div>
                        
                        <div class="question-input">
                            <p class="question mb-3"><strong>Describe the minor processing that occurred outside Australia (up to 80 characters).</strong></p>
                            <p class="help mb-3">For example: <em>‘canned in Thailand’ or ‘sliced and packed in Indonesia’</em></p>
                            
                            <input type="text" class="form-control" id="processing" value="">
                        </div>

                        <div class="button-example"> 
                            <a class="bga-link bga-tertiary-link plus-icon add-details bkg-light" tabindex="0" href="" role="button">Add label details</a>
                        </div>   
                        
                    </div>
                    
                </div>


                <div class="wording-option closed">

                    <div class="radio-edit-buttons-wrapper">
                    
                        <div class="radio-button w-100 p-3">
                            <input class="form-check-input m-0" type="radio" name="wording-options"
                                id="option4" value="option3">
                            <label class="form-check-label option4" for="option4"><div class="label-text"><strong>Made in Australia from at least</strong> <span class="percentage">X</span><strong>% Australian ingredients with</strong> <span class="ingredients">name and origin of ingredient(s)</span><strong> (</strong><span class="processing">description of minor processing</span><strong>)</strong></div></label>
                        </div>

                        <div class="edit-button-wrapper p-3">
                            <a class="bga-btn bga-secondary-btn bkg-light button edit-button" tabindex="0"
                                href="" role="button"><span>Edit</span>
                                <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.76754 12.4656L8.01633 13.2168L2.95059 14.42L4.15448 9.35498L4.87416 8.57224L8.76754 12.4656ZM11.1123 2.33414L14.9748 6.19668L9.52295 11.6485L5.6604 7.78599L11.1123 2.33414ZM13.4528 0.00623642L17.3146 3.86808L15.7575 5.42516L11.8957 1.56331L13.4528 0.00623642Z" fill="#333333"/>
                                    </svg>
                            </a>
            
                        </div>
                    </div>

                    
                    <div class="edit-option-form d-none p-3">
                        <div class="question-input">
                            <p class="question mb-3"><strong>Enter the minimum percentage of Australian ingredients in your product.</strong></p>
                            <p class="help mb-3">Enter a number between 1 - 99</p>
                            
                            <div class="textbox-units form-element-wrapper">
                                <input type="text" class="form-control m-0" id="percentage" value="">
                                <p class="decimals m-0">%</p>
                            </div>
                        </div>
                        

                        <div class="question-input">
                            <p class="question mb-3"><strong>Provide a description (up to 80 characters) to highlight one or more ingredients of the food product and name their country of origin.</strong></p>
                            <p class="help mb-3">For example: <em>‘Australian macadamias and Belgian chocolate’</em></p>
                            
                            <input type="text" class="form-control" id="ingredients" value="">
                        </div>

                        <div class="question-input">
                            <p class="question mb-3"><strong>Describe the minor processing that occurred outside Australia (up to 80 characters).</strong></p>
                            <p class="help mb-3">For example: <em>‘canned in Thailand’ or ‘sliced and packed in Indonesia’</em></p>
                            
                            <input type="text" class="form-control" id="processing" value="">
                        </div>

                        <div class="button-example"> 
                            <a class="bga-link bga-tertiary-link plus-icon add-details bkg-light" tabindex="0" href="" role="button">Add label details</a>
                        </div>  
                        
                    </div>
                    
                </div>


                



            </div>

          
            
        </div>


        <!-- Step 2-->
        <div class="form-step form-step-2 p-4 remove-element-padding">

            <h4>Step 2 - Choose the orientation of your standard mark</h3>

            <div class="radios w-100 g-2 d-flex flex-wrap radio-flex-group mb-5" role="radiogroup" id="orientation">

                <div class="radio-button w-50">
                    <input class="form-check-input m-0" type="radio" name="orientation"
                        id="landscape" value="landscape">
                    <label class="form-check-label" for="landscape">Landscape</label>
                </div>

                <div class="radio-button w-50">
                    <input class="form-check-input m-0" type="radio" name="orientation"
                        id="portrait" value="portrait">
                    <label class="form-check-label" for="portrait">Portrait</label>
                </div>

            </div>


            <div class="tool-button-group button-group">

                <a class="bga-btn bga-secondary-btn bkg-light" tabindex="0"
                    href="" role="button" id="preview-mark">Preview standard mark
                </a>

            </div>

            
        </div>
        


        <!-- Step 3 -->
        <div class="form-step form-step-3 p-4 remove-element-padding d-none">
           
            <h4>Step 3 - Download or email your standard mark</h4>
        
            <div class="mark-preview mb-5">
                <img class="standard-mark-preview landscape d-none" src={{ "assets/standard-mark-landscape.png"/ | relative_url }} alt=""/>
                <img class="standard-mark-preview portrait d-none" src={{ "assets/standard-mark-portrait.png"/ | relative_url }} alt=""/>
            </div>
        
            <div class="tool-button-group button-group">

                <a class="bga-btn bga-primary-btn bkg-light" tabindex="0"
                    href="" role="button" id="modal-trigger-email-mark">Email standard mark <svg data-name="Icon: Send" xmlns="http://www.w3.org/2000/svg" width="18" height="15.429" viewBox="0 0 18 15.429">
                        <path d="M.009,15.429,18,7.714.009,0,0,6,12.857,7.714,0,9.429Z" fill="#333"></path>
                    </svg></a>

                <a class="bga-btn bga-primary-btn bkg-light" tabindex="0"
                    href="" role="button" id="modal-trigger-download-mark">Download standard mark <svg id="Icon:_Print" data-name="Icon: Print" xmlns="http://www.w3.org/2000/svg" width="18" height="17.013" viewBox="0 0 18 17.013">
                        <path id="Print" d="M15.664,17.013H2.3V13.1H0V4.6H2.3V7.587H15.864V4.6H18L17.951,13.1h-2.27l-.016,3.907h0ZM4.138,15.4h9.656v-2.07H4.138Zm0-9.656V0h9.886V5.748Z" fill="#333"/>
                    </svg></a>

            </div>

            
        </div>

    </form>
   
</div>