<div class="callout-business-structure d-none {{include.classes}} mb-5" id="{{include.id}}">

    <div class="p-4 header-section component-content remove-element-padding">
        <h3 class="mb-2">{{ include.business-structure }}</h3>
        <p>{{ include.why }}</p>
    </div>

    
    <div class="p-4 component-content">
        {{ include.description }}

        <button class="learn-more remove-element-padding">
            <p>Learn more</p>
        </button>

        <div class="more-info d-none">
            {{ include.more-info }}
        </div>
        
    </div>

</div>

    