<div class="filters checkboxes-primary">

    <div class="filter-item" id="cfck">

        <form> 
            <div tabindex="0" class="checkbox-item py-3" data-label="get-started" filter-type="cfck">
                <label id="cfck-get-started" data-option="get-started"
                    data-label="get-started" filter-type="cfck">Get started</label>
                <input tabindex="-1" type="checkbox" id="get-started">
            </div>

            <!---
            <div tabindex="0" class="checkbox-item py-3" data-label="do-a-health-check" filter-type="cfck">
                <label id="cfck-do-a-health-check" data-option="do-a-health-check"
                    data-label="do-a-health-check" filter-type="cfck">Do a health check</label>
                <input tabindex="-1" type="checkbox" id="do-a-health-check">
            </div>
            -->

            <div tabindex="0" class="checkbox-item py-3" data-label="learn-the-basics" filter-type="cfck">
                <label id="cfck-learn-the-basics" data-option="learn-the-basics" data-label="learn-the-basics"
                    filter-type="cfck">Learn the basics</label>
                <input tabindex="-1" type="checkbox" id="learn-the-basics">
            </div>

            <div tabindex="0" class="checkbox-item py-3" data-label="explore-changes" filter-type="cfck">
                <label id="cfck-explore-changes" data-option="explore-changes" data-label="explore-changes"
                    filter-type="cfck">Explore changes</label>
                <input tabindex="-1" type="checkbox" id="explore-changes">
            </div>

            <div tabindex="0" class="checkbox-item py-3" data-label="increase-cash-in" filter-type="cfck">
                <label id="cfck-increase-cash-in" data-option="increase-cash-in" data-label="increase-cash-in"
                    filter-type="cfck">Increase your cash in </label>
                <input tabindex="-1" type="checkbox" id="increase-cash-in">
            </div>

            <div tabindex="0" class="checkbox-item py-3" data-label="reduce-cash-out" filter-type="cfck">
                <label id="cfck-reduce-cash-out" data-option="reduce-cash-out" data-label="reduce-cash-out"
                    filter-type="cfck">Decrease your cash out</label>
                <input tabindex="-1" type="checkbox" id="reduce-cash-out">
            </div>


            <div tabindex="0" class="checkbox-item py-3" data-label="set-goals" filter-type="cfck">
                <label id="cfck-set-goals" data-option="set-goals" data-label="set-goals"
                    filter-type="cfck">Set goals</label>
                <input tabindex="-1" type="checkbox" id="set-goals">
            </div>



        </form>

    </div>

</div>