<div class="bga-component callout-box call-to-action teal m-0">

    <div class="p-4 component-content">

        <div class="component-text p-0 remove-element-padding">
            <h2>Get your contract</h2>

            <div class="contract-cta-container">

                <div class="row">

                    <div class="col-4">
                
                        <div class="cta bga-component-wrapper h-100">
                            <div class="cta-title remove-element-padding p-4">
                            <h3>Download</h3>
                            </div>
                            
                            <div class="cta-content remove-element-padding p-4">
                                <p>Download your employment contract and a letter of offer in a word document.</p>
                            
                                <div class="button-example">
                                        <button data-modal="ecb-modal-download" class="bga-btn bga-primary-btn bkg-light modal-trigger" tabindex="0" href="" role="button">Download contract</button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-4">

                    <div class="cta bga-component-wrapper h-100">
                        <div class="cta-title remove-element-padding p-4">
                            <h3>Email</h3>
                        </div>

                        <div class="cta-content remove-element-padding p-4">
                            <p>Email your employment contract and a letter of offer in a word document.</p>
                            <div class="button-example">
                                <button data-modal="ecb-modal-email" class="bga-btn bga-primary-btn bkg-light modal-trigger" tabindex="0" href=""
                                role="button">Email contract</button>
                            </div>
                        </div>
                    </div>

                    </div>

                    <div class="col-4">

                        <div class="cta bga-component-wrapper h-100">
                            <div class="cta-title remove-element-padding p-4">
                                <h3>Save and return</h3>
                                </div>

                            <div class="cta-content remove-element-padding p-4">
                                <p>Save your progress in this tool. We will email you a link so you can return and make changes.</p>
                                <div class="button-example">
                                    <button data-modal="ecb-modal-email" class="bga-btn bga-primary-btn bkg-light modal-trigger" tabindex="0" href=""
                                        role="button">Create save link</button>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                    
                
            </div>


            </div>

        </div>


    </div>

</div>