<div class="sidebar-wrapper recommendations-sidebar mb-4 p-0 {{include.classes}}">
    <div class="bga-component sidebar m-0 p-0">
        
        
        <div class="sidebar-section business-structure mb-4">
            <div class="title remove-element-padding px-4 py-3">
                <p><strong>Business structure</strong></p>
            </div>
            <div class="content remove-element-padding px-4 py-3">
                <p class="chosen-structure">No chosen structure yet</p>
            </div>
        </div>


        <div class="sidebar-section recommendations">
            <div class="title remove-element-padding px-4 py-3">
                <p><strong>Recommendation registrations</strong></p>
            </div>
            <div class="content remove-element-padding px-4 pt-3 pb-2">
                <ul  class="remove-element-padding m-0 p-0">
                    <li class="show no-recommendations">No recommendations yet</li>
                    <li class="individual-tfn" data-value="individual-tfn">Individual tax file number</li>
                    <li class="business-tfn" data-value="business-tfn">Business tax file number</li>
                    <li class="abn" data-value="abn">Australian business number</li>
                    <li class="company" data-value="company">Company registration</li>
                    <li class="business-name" data-value="business-name">Business name registration</li>
                    <li class="trade-mark" data-value="trade-mark">Business name trade mark</li>
                    <li class="domain-name" data-value="domain-name">Domain name registration</li>
                    <li class="payg" data-value="payg">Pay As You Go (PAYG) Withholding</li>
                    <li class="fbt" data-value="fbt">Fringe Benefits Tax (FBT)</li>
                    <li class="gst" data-value="gst">Goods & Services Tax (GST)</li>
                    <li class="wet" data-value="wet">Wine Equalisation Tax (WET)</li>
                    <li class="ftc" data-value="ftc">Fuel Tax Credits (FTC)</li>
                    <li class="lct" data-value="lct">Luxury Car Tax (LCT)</li>
                    
                    
                </ul>
            </div>
        </div>


    </div>
</div>