<div class="sidebar-wrapper recommendations-sidebar mb-4 p-0 {{include.classes}}">
    <div class="bga-component sidebar m-0 p-0">
        
        
        <div class="sidebar-section business-structure mb-4">
            <div class="title remove-element-padding px-4 py-3">
                <p><strong>Business structure</strong></p>
            </div>
            <div class="content remove-element-padding px-4 py-3">
                <p>No chosen structure yet</p>
            </div>
        </div>


        <div class="sidebar-section recommendations">
            <div class="title remove-element-padding px-4 py-3">
                <p><strong>Recommendation registrations</strong></p>
            </div>
            <div class="content remove-element-padding px-4 py-3">
                <p>No recommendations yet</p>
            </div>
        </div>


    </div>
</div>