
<div class="filters checkboxes-secondary">

    <div tabindex="0" class="filter-item pt-3 pb-2" id="research-field">
        <div class="filter-item-title remove-element-padding">
            <p class="mb-0">Research field <span class="mobile-counter"></span></p>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                <g transform="translate(20 12.5) rotate(180)">
                    <path data-name="Chevron / Up" d="M10,4.965,2.478,12.5,0,10.018,10,0,20,10.018,17.522,12.5Z"
                        fill="#333">
                    </path>
                </g>
            </svg>

        </div>
        <div class="active-filters pt-2 multi-select">
            <ul class="m-0 p-0">
                <li filter-type="research-field" data-value="agricultural-veterinary-and-food-sciences">Agricultural, veterinary and food sciences</li>
                <li filter-type="research-field" data-value="biological-sciences">Biological sciences</li>
                <li filter-type="research-field" data-value="biomedical-and-clinical-sciences">Biomedical and clinical sciences</li>
                <li filter-type="research-field" data-value="built-environment-and-design">Built environment and design</li>
                <li filter-type="research-field" data-value="chemical-sciences">Chemical sciences</li>
                <li filter-type="research-field" data-value="commerce-management-tourism-and-services">Commerce, management, tourism and services</li>
                <li filter-type="research-field" data-value="creative-arts-and-writing">Creative arts and writing</li>
                <li filter-type="research-field" data-value="earth-sciences">Earth sciences</li>
                <li filter-type="research-field" data-value="economics">Economics</li>
                <li filter-type="research-field" data-value="education">Education</li>
                <li filter-type="research-field" data-value="engineering">Engineering</li>
                <li filter-type="research-field" data-value="environmental-sciences">Environmental sciences</li>
                <li filter-type="research-field" data-value="health-sciences">Health sciences</li>
                <li filter-type="research-field" data-value="history-heritage-and-archaeology">History, heritage and archaeology</li>
                <li filter-type="research-field" data-value="human-society">Human society</li>
                <li filter-type="research-field" data-value="indigenous-studies">Indigenous studies</li>
                <li filter-type="research-field" data-value="information-and-computing-sciences">Information and computing sciences</li>
                <li filter-type="research-field" data-value="language-communication-and-culture">Language, communication and culture</li>
                <li filter-type="research-field" data-value="law-and-legal-studies">Law and legal studies</li>
                <li filter-type="research-field" data-value="mathematical-sciences">Mathematical sciences</li>
                <li filter-type="research-field" data-value="philosophy-and-religious-studies">Philosophy and religious studies</li>
                <li filter-type="research-field" data-value="physical-sciences">Physical sciences</li>
                <li filter-type="research-field" data-value="psychology">Psychology</li>
            </ul>
        </div>
        <div class="filter-item-content">

            <form>
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="agricultural-veterinary-and-food-sciences">
                    <label>Agricultural, veterinary and food sciences</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="biological-sciences">
                    <label>Biological sciences</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="biomedical-and-clinical-sciences">
                    <label>Biomedical and clinical sciences</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="built-environment-and-design">
                    <label>Built environment and design</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="chemical-sciences">
                    <label>Chemical sciences</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="commerce-management-tourism-and-services">
                    <label>Commerce, management, tourism and services</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="creative-arts-and-writing">
                    <label>Creative arts and writing</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="earth-sciences">
                    <label>Earth sciences</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="economics">
                    <label>Economics</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="education">
                    <label>Education</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="engineering">
                    <label>Engineering</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="environmental-sciences">
                    <label>Environmental sciences</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="health-sciences">
                    <label>Health sciences</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="history-heritage-and-archaeology">
                    <label>History, heritage and archaeology</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="human-society">
                    <label>Human society</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="indigenous-studies">
                    <label>Indigenous studies</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="information-and-computing-sciences">
                    <label>Information and computing sciences</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="australian-capital-territory">
                    <label>Language, communication and culture</label>  
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="law-and-legal-studies">
                    <label>Law and legal studies</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="mathematical-sciences">
                    <label>Mathematical sciences</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="philosophy-and-religious-studies">
                    <label>Philosophy and religious studies</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="physical-sciences">
                    <label>Physical sciences</label>
                </div>
            
                <div tabindex="0" class="checkbox-item p-2" filter-type="research-field" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="psychology">
                    <label>Psychology</label>
                </div>
            
            </form>
            
        </div>
    </div>

    <div tabindex="0" class="filter-item pt-3 pb-2" id="location">
        <div class="filter-item-title remove-element-padding">
            <p class="mb-0">Provider location <span class="mobile-counter"></span></p>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                <g transform="translate(20 12.5) rotate(180)">
                    <path data-name="Chevron / Up" d="M10,4.965,2.478,12.5,0,10.018,10,0,20,10.018,17.522,12.5Z"
                        fill="#333">
                    </path>
                </g>
            </svg>

        </div>
        <div class="active-filters pt-2 multi-select">
            <ul class="m-0 p-0">
                <li filter-type="location" filter-value="10" data-value="australian-capital-territory">
                    Australian Capital Territory</li>
                <li filter-type="location" filter-value="15" data-value="new-south-wales">New South
                    Wales</li>
                <li filter-type="location" filter-value="15" data-value="northern-territory">
                    Northern Territory</li>
                <li filter-type="location" filter-value="15" data-value="queensland">Queensland</li>
                <li filter-type="location" filter-value="15" data-value="south-australia">South
                    Australia</li>
                <li filter-type="location" filter-value="15" data-value="tasmania">Tasmania</li>
                <li filter-type="location" filter-value="15" data-value="victoria">Victoria</li>
                <li filter-type="location" filter-value="15" data-value="western-australia">Western
                    Australia</li>
                <li filter-type="location" filter-value="15" data-value="other-australian-territory">
                    Other Australian territory</li>
            </ul>
        </div>
        <div class="filter-item-content">

            <form>
                <div tabindex="0" class="checkbox-item p-2" filter-type="location" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="australian-capital-territory">
                    <label>Australian Capital Territory</label>
                </div>

                <div tabindex="0" class="checkbox-item p-2" filter-type="location" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="new-south-wales">
                    <label>New South Wales</label>
                </div>

                <div tabindex="0" class="checkbox-item p-2" filter-type="location" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="northern-territory">
                    <label>Northern Territory</label>
                </div>

                <div tabindex="0" class="checkbox-item p-2" filter-type="location" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="queensland">
                    <label>Queensland</label>
                </div>

                <div tabindex="0" class="checkbox-item p-2" filter-type="location" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="south-australia">
                    <label>South Australia</label>
                </div>

                <div tabindex="0" class="checkbox-item p-2" filter-type="location" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="tasmania">
                    <label>Tasmania</label>
                </div>

                <div tabindex="0" class="checkbox-item p-2" filter-type="location" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="victoria">
                    <label>Victoria</label>
                </div>

                <div tabindex="0" class="checkbox-item p-2" filter-type="location" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="western-australia">
                    <label>Western Australia</label>
                </div>

                <div tabindex="0" class="checkbox-item p-2" filter-type="location" filter-value="15">
                    <input type="checkbox" tabindex="-1" id="other-australian-territory">
                    <label>Other Australian territory</label>
                </div>

            </form>

        </div>
    </div>

    <div tabindex="0" class="filter-item pt-3 pb-2" id="provider-status">
        <div class="filter-item-title remove-element-padding">
            <p class="mb-0">Provider status <span class="mobile-counter"></span></p>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                <g transform="translate(20 12.5) rotate(180)">
                    <path data-name="Chevron / Up" d="M10,4.965,2.478,12.5,0,10.018,10,0,20,10.018,17.522,12.5Z"
                        fill="#333">
                    </path>
                </g>
            </svg>

        </div>
        <div class="active-filters pt-2 multi-select">
            <ul class="m-0 p-0">
                <li filter-type="provider-status" filter-value="30" data-value="registered">Registered</li>
                <li filter-type="provider-status" filter-value="60" data-value="not-registered">Registered for 2021-2022
                </li>


            </ul>
        </div>
        <div class="filter-item-content">

            <form>
                <div tabindex="0" class="checkbox-item p-2" filter-value="30" filter-type="provider-status">
                    <input type="checkbox" tabindex="-1" id="registered">
                    <label for="registered">Registered</label>
                </div>

                <div tabindex="0" class="checkbox-item p-2" filter-value="60" filter-type="provider-status">
                    <input type="checkbox" tabindex="-1" id="not-registered">
                    <label for="not-registered">Registered for 2021-2022</label>
                </div>


            </form>

        </div>
    </div>

</div>


<div class="filters text-input-secondary">

    <div tabindex="0" class="filter-item pt-3 pb-3" id="anzsrc">
        <div class="filter-item-title remove-element-padding">
            <p class="mb-0">ANZSRC (FoR) code <span class="mobile-counter"></span></p>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                <g transform="translate(20 12.5) rotate(180)">
                    <path data-name="Chevron / Up" d="M10,4.965,2.478,12.5,0,10.018,10,0,20,10.018,17.522,12.5Z"
                        fill="#333">
                    </path>
                </g>
            </svg>
    
        </div>
    
        <div class="filter-item-content">
    
            <div class="text-input-wrapper d-flex">
    
                <span class="clear-postcode" id="clear-postcode">Remove code</span>
                <input class="form-control px-3" id="postcode-input" type="text"
                    placeholder="Enter your 4 digit code">
    
                <button class="apply-postcode" id="apply-postcode" filter-type="postcode">Search code</button>
            </div>
    
        </div>
    
          
    </div>
    
    </div>