<div id="checklist-example" class="checklist-wrapper lightweight sab non-branded">


    <!-- ITEM 1 -->
    <div class="checklist-item">


        <div tabindex="0" class="checklist-item-title">
            <h2><span>1</span>Make key decisions</h2>
            <div class="icon-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                    <path data-name="Chevron / Down" d="M7.535,10,0,17.522,2.482,20,12.5,10,2.482,0,0,2.478Z" transform="translate(20) rotate(90)" fill="#2e3e5a"/>
                  </svg>
                </div>
              
        </div>

        <div class="checklist-sub-item-wrapper step-minimised">

            <div class="checklist-sub-item">

                <div class="content-wrapper">
                    <div class="checklist-item-content remove-element-padding">

                       <h4>Decide on a business structure</h4>

                       <div class="sab-checkbox">
                            <input class="checkbox" type="checkbox">
                            <label>I have chosen a business structure for my business.</label><br>
                        </div>

                        <div class="sab-checkbox">
                            <input class="checkbox" type="checkbox">
                            <label>I have sought advice from a professional business adviser, lawyer or accountant to ensure I have chosen the appropriate business structure.</label><br>
                        </div>


                        <h4>Know if you are an employee or contractor</h4>

                       <div class="sab-checkbox">
                            <input class="checkbox" type="checkbox">
                            <label>I have considered contributing to my own superannuation.</label><br>
                        </div>

                        <div class="sab-checkbox">
                            <input class="checkbox" type="checkbox">
                            <label>I understand my tax obligations as a contractor</label><br>
                        </div>

                        <div class="sab-checkbox">
                            <input class="checkbox" type="checkbox">
                            <label>I understand my rights as a contractor</label><br>
                        </div>

                        <h4>Choose your business location</h4>

                       <div class="sab-checkbox">
                            <input class="checkbox" type="checkbox">
                            <label>I understand the insurance obligations for a home based business</label><br>
                        </div>

                        <div class="sab-checkbox">
                            <input class="checkbox" type="checkbox">
                            <label>I have register for relevant home based business licences & permits</label><br>
                        </div>

                        <div class="sab-checkbox">
                            <input class="checkbox" type="checkbox">
                            <label>I have checked business has the correct level of insurance cover as a home based business</label><br>
                        </div>


                        <h4>Choose a business name</h4>

                       <div class="sab-checkbox">
                            <input class="checkbox" type="checkbox">
                            <label>I have chosen my business name</label><br>
                        </div>

                        <div class="sab-checkbox">
                            <input class="checkbox" type="checkbox">
                            <label>I have checked to see if my business name is already taken</label><br>
                        </div>

                        <div class="sab-checkbox">
                            <input class="checkbox" type="checkbox">
                            <label>I have registered my business name with ASIC</label><br>
                        </div>
                        
    
                    </div>

                    
                </div>

            </div>
        </div>


    </div>
    <hr class="checklist-item-divider" />


    <!-- ITEM 2 -->
    <div class="checklist-item">

        <div tabindex="0" class="checklist-item-title">
            <h2><span>2</span>Plan your business</h2>
            <div class="icon-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                <path data-name="Chevron / Down" d="M7.535,10,0,17.522,2.482,20,12.5,10,2.482,0,0,2.478Z" transform="translate(20) rotate(90)" fill="#2e3e5a"/>
              </svg>
            </div>
        </div>

        <div class="checklist-sub-item-wrapper step-minimised">

            <div class="checklist-sub-item">

                <div class="content-wrapper">
                    <div class="checklist-item-content remove-element-padding">

                        <h4>Develop your business plan</h4>

                       <div class="sab-checkbox">
                            <input class="checkbox" type="checkbox">
                            <label>I have created a business plan.</label><br>
                        </div>

                        <h4>Create your risk management plan</h4>

                        <div class="sab-checkbox">
                             <input class="checkbox" type="checkbox">
                             <label>I have created a risk management plan.</label><br>
                         </div>    
                         
                         <h4>Write your marketing plan</h4>

                         <div class="sab-checkbox">
                              <input class="checkbox" type="checkbox">
                              <label>I have created a marketing plan.</label><br>
                          </div>    

                          <h4>Develop your export strategy</h4>

                          <div class="sab-checkbox">
                               <input class="checkbox" type="checkbox">
                               <label>I have identified the export markets I want to target.</label><br>
                           </div> 
                           
                           <div class="sab-checkbox">
                            <input class="checkbox" type="checkbox">
                            <label>I have developed a strategy for exporting my product.</label><br>
                        </div>


                    </div>

                    
                </div>


            </div>


        </div>
      

    </div>
    <hr class="checklist-item-divider" />


    <!-- ITEM 3 -->
    <div class="checklist-item">

        <div tabindex="0" class="checklist-item-title">
            <h2><span>3</span>Help for your business</h2>
            <div class="icon-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                <path data-name="Chevron / Down" d="M7.535,10,0,17.522,2.482,20,12.5,10,2.482,0,0,2.478Z" transform="translate(20) rotate(90)" fill="#2e3e5a"/>
              </svg>
            </div>
        </div>

        <div class="checklist-sub-item-wrapper step-minimised">

            <div class="checklist-sub-item">

                <div class="content-wrapper">
                    <div class="checklist-item-content remove-element-padding">

                        <h4>Find help for your business</h4>

                       <div class="sab-checkbox">
                            <input class="checkbox" type="checkbox">
                            <label>Lorem ipsum dolor et, calispo dure al.</label><br>
                        </div>

                        <div class="sab-checkbox">
                            <input class="checkbox" type="checkbox">
                            <label>Lorem ipsum dolor et, calispo dure al.</label><br>
                        </div>

                        <div class="sab-checkbox">
                            <input class="checkbox" type="checkbox">
                            <label>Lorem ipsum dolor et, calispo dure al.</label><br>
                        </div>

                        <h4>Find resources to help with your business</h4>

                        <div class="sab-checkbox">
                             <input class="checkbox" type="checkbox">
                             <label>Lorem ipsum dolor et, calispo dure al..</label><br>
                         </div>    
                         
                         <h4>Get support for your mental health and wellbeing</h4>

                         <div class="sab-checkbox">
                              <input class="checkbox" type="checkbox">
                              <label>Lorem ipsum dolor et, calispo dure al.</label><br>
                          </div>  
                          
                          <div class="sab-checkbox">
                            <input class="checkbox" type="checkbox">
                            <label>Lorem ipsum dolor et, calispo dure al.</label><br>
                        </div>

                         


                    </div>

                    
                </div>


            </div>


        </div>
      

    </div>
    <hr class="checklist-item-divider" />




     <!-- ITEM 4 -->
     <div class="checklist-item inactive">

        <div tabindex="0" class="checklist-item-title-inactive">
            <h2><span>4</span>Register your business</h2>
            <div class="icon-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                <path data-name="Chevron / Down" d="M7.535,10,0,17.522,2.482,20,12.5,10,2.482,0,0,2.478Z" transform="translate(20) rotate(90)" fill="#2e3e5a"/>
              </svg>
            </div>
        </div>

    </div>
    <hr class="checklist-item-divider" />


     <!-- ITEM 5 -->
     <div class="checklist-item inactive">

        <div tabindex="0" class="checklist-item-title-inactive">
            <h2><span>5</span>Prepare your finances</h2>
            <div class="icon-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                <path data-name="Chevron / Down" d="M7.535,10,0,17.522,2.482,20,12.5,10,2.482,0,0,2.478Z" transform="translate(20) rotate(90)" fill="#2e3e5a"/>
              </svg>
            </div>
        </div>

    </div>
    <hr class="checklist-item-divider" />


     <!-- ITEM 6 -->
     <div class="checklist-item inactive">

        <div tabindex="0" class="checklist-item-title-inactive">
            <h2><span>6</span>Know the law</h2>
            <div class="icon-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                <path data-name="Chevron / Down" d="M7.535,10,0,17.522,2.482,20,12.5,10,2.482,0,0,2.478Z" transform="translate(20) rotate(90)" fill="#2e3e5a"/>
              </svg>
            </div>
        </div>

    </div>
    <hr class="checklist-item-divider" />


     <!-- ITEM 7 -->
     <div class="checklist-item inactive">

        <div tabindex="0" class="checklist-item-title-inactive">
            <h2><span>7</span>Protect your business</h2>
            <div class="icon-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                <path data-name="Chevron / Down" d="M7.535,10,0,17.522,2.482,20,12.5,10,2.482,0,0,2.478Z" transform="translate(20) rotate(90)" fill="#2e3e5a"/>
              </svg>
            </div>
        </div>

    </div>
    <hr class="checklist-item-divider" />


     <!-- ITEM 8 -->
     <div class="checklist-item inactive">

        <div tabindex="0" class="checklist-item-title-inactive">
            <h2><span>8</span>Prepare for tax</h2>
            <div class="icon-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                <path data-name="Chevron / Down" d="M7.535,10,0,17.522,2.482,20,12.5,10,2.482,0,0,2.478Z" transform="translate(20) rotate(90)" fill="#2e3e5a"/>
              </svg>
            </div>
        </div>

    </div>
    <hr class="checklist-item-divider" />


     <!-- ITEM 9 -->
     <div class="checklist-item inactive">

        <div tabindex="0" class="checklist-item-title-inactive">
            <h2><span>9</span>Set up operations</h2>
            <div class="icon-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                <path data-name="Chevron / Down" d="M7.535,10,0,17.522,2.482,20,12.5,10,2.482,0,0,2.478Z" transform="translate(20) rotate(90)" fill="#2e3e5a"/>
              </svg>
            </div>
        </div>

    </div>
    <hr class="checklist-item-divider" />





</div>