<div id="sab-menu" class="sab-checklist-menu">
   
    <!-- ITEM 1 -->
    <div class="sab-menu-item make-key-decisions">
        <div class="sab-menu-item-title">
            <h4><span>1</span><a href={{ "prototypes/sab/concept1/make-key-decisions.html" | relative_url }}>Make key decisions</a></h4>
            
        </div>

        <div class="sab-sub-item">
            
            <div class="submenu-toggle">
                <button><span>Show</span><svg width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.63695 6.15325L2.26887 0.625L0.500458 2.44618L7.63695 9.79561L14.7734 2.44618L13.005 0.625L7.63695 6.15325Z" fill="#333333"/>
                    </svg></button>
            </div>

            <div class="sab-submenu">
                <ul>
                    <li data-anchor="{{include.id}}"><a href={{ "prototypes/sab/concept1/make-key-decisions.html#decide-on-a-business-structure" | relative_url }}>Decide on a business structure</a></li>
                    <li data-anchor="{{include.id}}"><a href={{ "prototypes/sab/concept1/make-key-decisions.html#employee-or-contractor" | relative_url }}> Employee or contractor </a></li>
                    <li data-anchor="{{include.id}}"><a href={{ "prototypes/sab/concept1/make-key-decisions.html#choose-your-business-location" | relative_url }}>Choose your business location</a></li>
                    <li data-anchor="{{include.id}}"><a href={{ "prototypes/sab/concept1/make-key-decisions.html#choose-a-business-name" | relative_url }}>Choose a business name</a></li>
                </ul>
            </div>

        </div>
       
    </div>

    <!-- ITEM 2 -->
    <div class="sab-menu-item plan-your-business">
        <div class="sab-menu-item-title">
            <h4><span>2</span><a href={{ "prototypes/sab/concept1/plan-your-business.html" | relative_url }}>Plan your business</a></h4>

        </div>

        <div class="sab-sub-item">
            
            <div class="submenu-toggle">
                <button><span>Show</span><svg width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.63695 6.15325L2.26887 0.625L0.500458 2.44618L7.63695 9.79561L14.7734 2.44618L13.005 0.625L7.63695 6.15325Z" fill="#333333"/>
                    </svg></button>
            </div>

            <div class="sab-submenu">
                <ul>
                    <li data-anchor="{{include.id}}"><a href={{ "prototypes/sab/concept1/plan-your-business.html#develop-your-business-plan" | relative_url }}>Develop your business plan</a></li>
                    <li data-anchor="{{include.id}}"><a href={{ "prototypes/sab/concept1/plan-your-business.html#create-your-risk-management-plan" | relative_url }}>Create your risk management plan</a></li>
                    <li data-anchor="{{include.id}}"><a href={{ "prototypes/sab/concept1/plan-your-business.html#write-your-marketing-plan" | relative_url }}>Write your marketing plan</a></li>
                    <li data-anchor="{{include.id}}"><a href={{ "prototypes/sab/concept1/plan-your-business.html#develop-your-export-strategy" | relative_url }}>Develop your export strategy</a></li>
                </ul>
            </div>

        </div>
       
    </div>

    <!-- ITEM 3 -->
    <div class="sab-menu-item help-for-your-business">
        <div class="sab-menu-item-title">
            <h4><span>3</span><a href={{ "prototypes/sab/concept1/help-for-your-business.html" | relative_url }}>Help for your business</a></h4>

        </div>

        <div class="sab-sub-item">
            
            <div class="submenu-toggle">
                <button><span>Show</span><svg width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.63695 6.15325L2.26887 0.625L0.500458 2.44618L7.63695 9.79561L14.7734 2.44618L13.005 0.625L7.63695 6.15325Z" fill="#333333"/>
                    </svg></button>
            </div>

            <div class="sab-submenu">
                <ul>
                    <li data-anchor="{{include.id}}"><a href={{ "prototypes/sab/concept1/help-for-your-business.html#find-help-for-your-business" | relative_url }}>Find help for your business</a></li>
                    <li data-anchor="{{include.id}}"><a href={{ "prototypes/sab/concept1/help-for-your-business.html#find-resources-to-help-with-your-business" | relative_url }}>Find resources to help with your business</a></li>
                    <li data-anchor="{{include.id}}"><a href={{ "prototypes/sab/concept1/help-for-your-business.html#get-support-for-your-mental-health-and-wellbeing" | relative_url }}>Get support for your mental health and wellbeing</a></li>
                    
                </ul>
            </div>

        </div>
       
    </div>


    <!-- ITEM 4 -->
    <div class="sab-menu-item register-your-business">
        <div class="sab-menu-item-title">
            <h4><span>4</span><a href="">Register your business</a></h4>

        </div>

        <div class="sab-sub-item">
            
            <div class="submenu-toggle">
                <button><span>Show</span><svg width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.63695 6.15325L2.26887 0.625L0.500458 2.44618L7.63695 9.79561L14.7734 2.44618L13.005 0.625L7.63695 6.15325Z" fill="#333333"/>
                    </svg></button>
            </div>

            <div class="sab-submenu">
                <ul>
                    <li><a>Australian business number (ABN)</a></li>
                    <li><a>Business name</a></li>
                    <li><a>Tax registrations for your business</a></li>
                    <li><a>Licences and permits</a></li>
                    <li><a>Company</a></li>
                    <li><a>Trademark</a></li>
                </ul>
            </div>

        </div>
       
    </div>

    <!-- ITEM 5 -->
     <div class="sab-menu-item prepare-your-finances">
        <div class="sab-menu-item-title">
            <h4><span>5</span><a href="">Prepare your finances</a></h4>

        </div>

        <div class="sab-sub-item">
            
            <div class="submenu-toggle">
                <button><span>Show</span><svg width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.63695 6.15325L2.26887 0.625L0.500458 2.44618L7.63695 9.79561L14.7734 2.44618L13.005 0.625L7.63695 6.15325Z" fill="#333333"/>
                    </svg></button>
            </div>

            <div class="sab-submenu">
                <ul>
                    <li><a>Learn how to organise your finances</a></li>
                    <li><a>Understand your finance options</a></li>
                    <li><a>Develop a pricing strategy</a></li>
                    <li><a>Learn about invoicing and payments</a></li>
                </ul>
            </div>

        </div>
       
    </div>

    <!-- ITEM 6 -->
    <div class="sab-menu-item know-the-law">
        <div class="sab-menu-item-title">
            <h4><span>6</span><a href="">Know the law</a></h4>

        </div>

        <div class="sab-sub-item">
            
            <div class="submenu-toggle">
                <button><span>Show</span><svg width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.63695 6.15325L2.26887 0.625L0.500458 2.44618L7.63695 9.79561L14.7734 2.44618L13.005 0.625L7.63695 6.15325Z" fill="#333333"/>
                    </svg></button>
            </div>

            <div class="sab-submenu">
                <ul>
                    <li><a>Learn the legal essentials for business</a></li>
                    <li><a>Understand fair trading laws</a></li>
                    <li><a>Understand contracts</a></li>
                </ul>
            </div>

        </div>
       
    </div>

    <!-- ITEM 7 -->
    <div class="sab-menu-item protect-your-business">
        <div class="sab-menu-item-title">
            <h4><span>7</span><a href="">Protect your business</a></h4>

        </div>

        <div class="sab-sub-item">
            
            <div class="submenu-toggle">
                <button><span>Show</span><svg width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.63695 6.15325L2.26887 0.625L0.500458 2.44618L7.63695 9.79561L14.7734 2.44618L13.005 0.625L7.63695 6.15325Z" fill="#333333"/>
                    </svg></button>
            </div>

            <div class="sab-submenu">
                <ul>
                    <li><a>Manage work health and safety</a></li>
                    <li><a>Understand business insurance</a></li>
                    <li><a>Prepare your business for an emergency</a></li>
                    <li><a>Protect your Intellectual Property</a></li>
                    <li><a>Protect your business from cyber threats</a></li>
                </ul>
            </div>

        </div>
       
    </div>

     <!-- ITEM 8 -->
     <div class="sab-menu-item prepare-for-tax">
        <div class="sab-menu-item-title">
            <h4><span>8</span><a href="">Prepare for tax</a></h4>

        </div>

        <div class="sab-sub-item">
            
            <div class="submenu-toggle">
                <button><span>Show</span><svg width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.63695 6.15325L2.26887 0.625L0.500458 2.44618L7.63695 9.79561L14.7734 2.44618L13.005 0.625L7.63695 6.15325Z" fill="#333333"/>
                    </svg></button>
            </div>

            <div class="sab-submenu">
                <ul>
                    <li><a>Keep the right records</a></li>
                    <li><a>Understand taxation for your business</a></li>
                    <li><a>Learn how to lodge and pay for tax</a></li>
                </ul>
            </div>

        </div>
       
    </div>


    <!-- ITEM 9 -->
    <div class="sab-menu-item set-up-operations">
        <div class="sab-menu-item-title">
            <h4><span>9</span><a href="">Set up operations</a></h4>

        </div>

        <div class="sab-sub-item">
            
            <div class="submenu-toggle">
                <button><span>Show</span><svg width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.63695 6.15325L2.26887 0.625L0.500458 2.44618L7.63695 9.79561L14.7734 2.44618L13.005 0.625L7.63695 6.15325Z" fill="#333333"/>
                    </svg></button>
            </div>

            <div class="sab-submenu">
                <ul>
                    <li><a>Learn about hiring employees</a></li>
                    <li><a>Manage your suppliers</a></li>
                </ul>
            </div>

        </div>
       
    </div>


</div>