<div class="sab-tile concept1 mb-5" id="{{include.id}}" class="{{include.classes}}">
   
    <div class="content remove-element-padding">

        <h3>{{include.title}}</h3>
        
        <div class="description">
            {{include.description}}
        </div>

        <div class="learn-more">
            <h4 class="p-0">Learn more</h4>
            <a href=""><svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.3636 9.98417H0V6.98911H11.362L7.13939 2.84672L9.08127 0.928223L16.273 8.48664L9.08127 16.0466L7.13939 14.1406L11.3636 9.98417Z" fill="#333333"/>
                </svg>{{include.learn-more}}</a>
        </div>
    </div>

    <div class="action-checklist remove-element-padding">
        <h4 class="mb-3 p-0">Action checklist</h4>
        
        {% if include.checkbox1 %}
        <div class="action-checkbox">
            <input class="checkbox" type="checkbox">
            <label>{{include.checkbox1}}</label><br>
        </div>
        {% endif %}

         
        {% if include.checkbox2 %}
        <div class="action-checkbox">
            <input type="checkbox">
            <label>{{include.checkbox2}}</label><br>
        </div>
        {% endif %}

         
        {% if include.checkbox3 %}
        <div class="action-checkbox">
            <input type="checkbox">
            <label>{{include.checkbox3}}</label><br>
        </div>
        {% endif %}

         
        {% if include.checkbox4 %}
        <div class="action-checkbox">
            <input type="checkbox">
            <label>{{include.checkbox4}}</label><br>
        </div>
        {% endif %}

    </div>


</div>