<header>

    <div class="container">

        <div id="subsite-header">

            <div class="strap-wrapper">
                <div class="bga-link-strap px-0">
                    <div class="row">
                        <div class="col-6">
                            <div class="header-link">
                                <p class="m-0 p-0 mini">This service is provided by <a>business.gov.au</a></p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="main-header-wrapper">
                <div class="main-header py-5">

                    <div class="row">

                        <div class="col-12">
                            <div class="subsite-logo">
                                <a class="" href={{ 'prototypes/ablis/landing.html' | relative_url }}>

                                   <img src={{ 'assets/prototypes/ABLIS-logo-landscape.png' | relative_url }} />

                                   
                                </a>
                            </div>

                        </div>

                        {% if include.title %}
                        <div class="col-12">
                            <div class="tool-title remove-element-padding mt-4">
                                <h1>{{ include.title }}</h1>
                            </div>

                        </div>
                        {% endif %}


                    </div>

                </div>
            </div>


        </div>

    </div>

</header>