.bga-component.ablis-related-laws {
    border: none;
    border-top: 1px solid $bga-black;
    padding-top: 32px !important;
   
    .component-content {
        display: flex;
        flex-wrap: wrap;
        row-gap: 24px;
    }

    h2 {
        font-size: 18px;
        margin-bottom: 0px;
        width: 100%;
    }

    .leg_item {
        display: flex;
        row-gap: 4px;
        padding-bottom: 0;
        flex-wrap: wrap;
        width: 100%;

        &:last-of-type {
            padding-bottom: 0;
        }

        p,
        a {
            font-size: 14px;
            line-height: 1.75;
            margin: 0;
            padding: 0;
            width: 100%;
        }
    }
}