.ablis-result {

    border: $bga-component-border;
    width: 100%;

    .result-header {
        border-left: 8px solid $bga-yellow-highlight-shadow;
        background: $bga-white url(../assets/Chevron-down-black.svg) no-repeat;
        background-position: right 24px center;
        cursor: pointer;

        h3 {
            font-size: 1rem;

            a {
                color: $bga-blue-links;

                &:visited {
                    color: $bga-blue-links;
                }
            }
        }

        &:focus-visible {
            background-color: $bga-yellow-highlight-light;
        }

        &:hover {
            background-color: $bga-yellow-highlight-light;
        }
    }

    &.open {
        .result-header {
            background-color: $bga-yellow-highlight-light;
            background-image: url(../assets/Chevron-up-black.svg);
        }
    }

    .result-content {
        background: $bga-white;
        border-left: 8px solid $bga-yellow-highlight-shadow;
        display: flex;
        flex-wrap: wrap;
        row-gap: 24px;

        .description {
            background: $bga-blue-black-background-lightest;
            padding: 16px;
            width: 100%;

            .description-content {
                overflow-y: hidden;

                p,
                a,
                li {
                    font-size: .875rem;
                    line-height: 1.75;
                }

                div {
                    >*:last-child {
                        padding-bottom: 0;
                        margin-bottom: 0;

                        >li:last-child {
                            padding-bottom: 0;
                            margin-bottom: 0;
                        }
                    }

                    >*:first-child {
                        padding-top: 0;
                        margin-top: 0;
                    }
                }
            }
            .description-hidden {
                display: none;
            }

            .expand {
                font-weight: 600;
                text-decoration: underline;
                cursor: pointer;
                font-size: .875rem;
                line-height: 1.75;
            }
            &.simple {
                .description-content { 
                    padding-bottom: 24px;
                }
            }
        }

        .secondary {
            display: flex;
            column-gap: 8px;
            align-items: center;
            width: 100%;
            flex-wrap: wrap;
            row-gap: 8px;
        }

        .tag {
            background: $bga-yellow-highlight-light;
            border: solid 2px $bga-yellow-highlight-shadow;
            margin: 0;
            border-radius: 0;
            font-size: .75rem;
            line-height: 1.5;

            &.ablis-orange {
                background: $bga-orange-highlight-light;
                border: solid 2px $bga-orange-highlight-shadow;
            }

            &.ablis-blue {
                background: $bga-blue-highlight-light;
                border: solid 2px $bga-blue-highlight-shadow;
            }

            &.ablis-purple {
                background: $bga-purple-highlight-light;
                border: solid 2px $bga-purple-highlight-shadow;
            }
            &.non-branded {
                background: $nb-grey-mid;
                border: none;
            }
        }

        .cta-links {
            display: flex;
            column-gap: 24px;
            row-gap: 24px;
            align-items: center;
            width: 100%;

            .learn-more {
                min-height: 44px !important;
                height: 44px !important;
                padding: 0 24px;
                
                &:focus, &:focus-visible {
                    border-color: $bga-blue-links;
                    color: $bga-white;  
                }

                &:hover {
                    border-color: $bga-blue-background-dark;
                    color: $bga-white;
                }

                &:active {
                    border-color: $bga-blue-footer;
                    color: $bga-white;
                    
                }
            }

           
        }
    }


    &.regulatory-obligation {
        .result-header {
            border-left: 8px solid $bga-orange-highlight-shadow;

            &:focus-visible {
                background-color: $bga-orange-highlight-light;
            }

            &:hover {
                background-color: $bga-orange-highlight-light;
            }
        }

        &.open {
            .result-header {
                background-color: $bga-orange-highlight-light;

            }
        }

        .result-content {
            border-left: 8px solid $bga-orange-highlight-shadow;
        }
    }


    &.code-of-practice {
        .result-header {
            border-left: 8px solid $bga-blue-highlight-shadow;

            &:focus-visible {
                background-color: $bga-blue-highlight-light;
            }

            &:hover {
                background-color: $bga-blue-highlight-light;
            }
        }

        &.open {
            .result-header {
                background-color: $bga-blue-highlight-light;

            }
        }

        .result-content {
            border-left: 8px solid $bga-blue-highlight-shadow;
        }
    }


    &.advisory-material {
        .result-header {
            border-left: 8px solid $bga-purple-highlight-shadow;

            &:focus-visible {
                background-color: $bga-purple-highlight-light;
            }

            &:hover {
                background-color: $bga-purple-highlight-light;
            }
        }

        &.open {
            .result-header {
                background-color: $bga-purple-highlight-light;

            }
        }

        .result-content {
            border-left: 8px solid $bga-purple-highlight-shadow;
        }
    }

    &.non-branded {
        .result-header {
            border-left: none;

            &:focus-visible {
                background-color: $nb-grey-mid;
            }

            &:hover {
                background-color: $nb-grey-mid;
            }
        }

        &.open {
            .result-header {
                background-color: $nb-grey-mid;

            }
        }

        .result-content {
            border-left: none;

            .cta-links {
                .learn-more { 
                    svg, svg path {
                        display: none !important;
                    }
                    &:focus, &:focus-visible {
                        border-color: $nb-blue-links !important;
                        color: $bga-black;
 
                    }
    
                    &:hover {
                        color: $bga-black;
                        border-color: $bga-black;
                    }
    
                    &:active {
                        color: $bga-black; 
                        border-color: $bga-black; 
                    }
                }
    
               
            }
        }
    }

}

.ablis-search-result {
    border: $bga-component-border;
    width: 100%;

    .result-content {
        background: $bga-white;
        border-left: 8px solid $bga-yellow-highlight-shadow;
        display: flex;
        flex-wrap: wrap;
        row-gap: 32px;

        h3 {
            font-size: 1.125rem;

            a {
                color: $bga-blue-links;

                &:visited {
                    color: $bga-blue-links;
                }
            }
        }

        .description {
            background: $bga-blue-black-background-lightest;
            padding: 16px;


            .description-content {
                overflow-y: hidden;

                p,
                a,
                li {
                    font-size: .875rem;
                    line-height: 1.75;
                }

                div {
                    >*:last-child {
                        padding-bottom: 0;
                        margin-bottom: 0;

                        >li:last-child {
                            padding-bottom: 0;
                            margin-bottom: 0;
                        }
                    }

                    >*:first-child {
                        padding-top: 0;
                        margin-top: 0;
                    }
                }
            }

            .expand {
                font-weight: 600;
                text-decoration: underline;
                cursor: pointer;
                font-size: .875rem;
                line-height: 1.75;
            }
        }

        .secondary {
            display: flex;
            column-gap: 8px;
            align-items: center;
            width: 100%;
            flex-wrap: wrap;
            row-gap: 8px;
        }

        .tag {
            background: $bga-yellow-highlight-light;
            border: solid 2px $bga-yellow-highlight-shadow;
            margin: 0;
            border-radius: 0;
            font-size: .75rem;
            line-height: 1.5;

            &.ablis-orange {
                background: $bga-orange-highlight-light;
                border: solid 2px $bga-orange-highlight-shadow;
            }

            &.ablis-blue {
                background: $bga-blue-highlight-light;
                border: solid 2px $bga-blue-highlight-shadow;
            }

            &.ablis-purple {
                background: $bga-purple-highlight-light;
                border: solid 2px $bga-purple-highlight-shadow;
            }
        }
    }


    &.regulatory-obligation {
        .result-content {
            border-left: 8px solid $bga-orange-highlight-shadow;
        }
    }


    &.code-of-practice {
        .result-content {
            border-left: 8px solid $bga-blue-highlight-shadow;
        }
    }


    &.advisory-material {
        .result-content {
            border-left: 8px solid $bga-purple-highlight-shadow;
        }
    }
}