.ablis-sticky-header.sticky_background {
    background: none;

    .sticky-wrapper {
        width: 100%;

        .sticky-header {
            padding: 32px 0;
            padding: 0;

            .top-row {
                display: flex;
                justify-content: space-between;
                align-items: center;
                column-gap: 24px;
                flex-wrap: wrap;
                row-gap: 16px;
            }

            h2.showing-number {
                font-size: 1.75rem;
                font-weight: 400;
                margin: 0;

                span {
                    font-weight: 600;
                }
            }

            .modal-trigger-ablis-task-list {
                padding: 0 24px;
                column-gap: 24px;
                
                .task-counter {
                    display: inline-flex;
                    color: $bga-white;
                    align-items: center;
                    justify-content: center;
                    background: $bga-blue-background-dark;
                    height: 32px;
                    width: 32px;
                    border-radius: 40px;
                    font-size: 1.125rem;
                    font-weight: 600;
                }
                &:hover {
                    .task-counter {
                        color: $bga-black;
                        background: $bga-white;
                    }
                }
            }
        }

        .sticky-header.teal {
            background: $bga-teal-highlight-light;
            padding: 0 32px 32px 32px; 
        }

    }

    &.fixed-example {
        background: $bga-teal-highlight-light;
        box-shadow: 2px 2px 3px 0px rgba(51, 51, 51, 0.2);
        transition: top 1s linear;
        width: 100%;

        .fixed-hide {
            display: none;
        }

        .sticky-header.teal {
            padding: 32px;
        }
    }

}

.ablis-recommendations-summary {
    display: flex;
    column-gap: 24px;
    row-gap: 24px;
    flex-wrap: wrap;
    background: $bga-teal-highlight-light;
    
    .summary {
        background: $bga-white;
        padding: 16px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        row-gap: 24px;
        flex: 1 1 0;

        border-left: $bga-yellow-highlight-shadow solid 8px;

        &.regulation {
            border-left: $bga-orange-highlight-shadow solid 8px;
        }

        &.codes {
            border-left: $bga-blue-highlight-shadow solid 8px;
        }

        &.advisory {
            border-left: $bga-purple-highlight-shadow solid 8px;
        }
        a {
            font-size: 1.125rem;
            display: block;
            font-weight: 400;
            color: $bga-blue-links;

            span {
                font-weight: 600;
            }

            &:visited {
                color: $bga-blue-links;
            }
        }
    }

    &.fixed-example {
        display: none;
    }
}

// Mixins for smaller screen sizes
@mixin ablis-sticky-header-bp-576 {
    .ablis-recommendations-summary {
        .summary {
            background: $bga-white;
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            row-gap: 24px;
            flex: 0 0 calc(50% - 12px);
        }
    }
}

@mixin ablis-sticky-header-below576 () {
    .ablis-sticky-header.sticky_background {
        .sticky-wrapper .sticky-header.teal {
            margin-left: -24px;
            margin-right: -24px;
            padding: 0 24px 24px 24px;

            h2.showing-number {
                font-size: 1rem;
            }
        }

        &.fixed-example {
            .sticky-wrapper .sticky-header.teal {
                margin-left: 0;
                margin-right: 0;
                padding: 16px 24px 16px 24px;
            }
        }
    }
    .ablis-recommendations-summary {
        margin-left: -24px;
        margin-right: -24px;
        padding: 0 24px 24px 24px !important;
        row-gap: 16px;

        .summary {
            flex: 0 0 100%;
            padding: 8px 16px;
            h3 {
                margin: 0 !important;
            }
            p {
                display: none;
            }
            a {
                font-size: 1rem;
            }
        }
    }
}

// SMALLER SCREENS display. Using classes instead of media queries because both breakpoint toggles and small size screens need to be taken into account.
.component-example.bp-576 {
    @include ablis-sticky-header-bp-576();
}

.component-example.bp-below576 {
    @include ablis-sticky-header-bp-576();
    @include ablis-sticky-header-below576();    
}


//Media queries
@media ( max-width: 992px ) {
    @include ablis-sticky-header-bp-576();
}

@media ( max-width: 576px ) {
    @include ablis-sticky-header-bp-576();
    @include ablis-sticky-header-below576();
}