.bga-component.action-tile {
    .component-content {
        display: flex;
        //border: $bga-component-border;
    }
    .component-title {
        min-height: 340px;
        width: 250px;
        background: $bga-blue-background-light;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;

        h3 {
            text-align: center;
        }

        .img-wrapper {
            background: $bga-white;
            border-radius: 100px;
            width: 180px;
            height: 180px;
            display: flex;
            justify-content: center;

        }
        
    }
    .component-text {
        width: calc(100% - 250px);
        background: $bga-blue-black-background-lightest;

        p, li {
            margin-bottom: 16px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        ul, ol {
            padding: 0 0 0 16px;
        }
    }

    .action-tile-accordion {
        border-top: $bga-blue-black-light solid 1px;
        .accordion-item {
            background: $bga-white;
            border: none;
            border-radius: none;
            border-bottom: $bga-blue-black-light solid 1px;

            &:focus-visible {
                outline: none; 
            }

            &:hover {
                border-bottom: $bga-blue-black-light solid 1px;
            }
            &.show {
                border-bottom: $bga-blue-black-light solid 1px;
            }
        }
        .accordion-button {
            border: none;

            &::after {
                background-image: url(../assets/Chevron-down-black.svg);
                width: 16px;
                height: 10px;
                background-size: 16px 10px;
                box-shadow: none;
                background-color: transparent;
                border-radius: 0;
            }
            &:focus {
                border: none;
                box-shadow: none;
            } 
            &:focus-visible {
                border: $bga-component-focus-border;
                border-radius: $bga-focus-radius;
                outline: none;
            }   
            &:hover {
                background: $bga-blue-black-lightest;
                text-decoration: none;
                
                &::after {
                    background-color: transparent;
                }
            }
            &:not(.collapsed) {
                box-shadow: none;
                background: $bga-white;
    
                &:hover {
                    border-bottom: none;
                    background: $bga-white;
                }
                &::after {
                    box-shadow: none;
                    background-color: transparent;
                    transform: scaleY(-1);
                }
            }
        }
        .accordion-body {
            ul {
                padding: 0 0 8px 32px;

                li {
                    margin-bottom: 8px;
                }
            }
        }
    }

    &.blue {
        .component-title {
            background: $bga-blue-highlight-mid;
        }
    }
    &.green {
        .component-title {
            background: $bga-green-highlight-mid;
        }
    }
    &.teal {
        .component-title {
            background: $bga-teal-highlight-mid;
        }
    }
    &.yellow {
        .component-title {
            background: $bga-yellow-highlight-dark;
        }
    }
    &.orange {
        .component-title {
            background: $bga-orange-highlight-mid;
        }
    }
    &.purple {
        .component-title {
            background: $bga-purple-highlight-mid;
        }
    }

}


// Mixins for smaller screen sizes
@mixin actiontiles-below992 () {
    .bga-component.action-tile {
        .component-content {
            flex-wrap: wrap;
        }
        .component-title {
            width: 100%;
            min-height: auto;
            padding: 16px 24px !important;

            h3 {
                margin: 0;
            }

            .img-wrapper {
                display: none;
            }
        }
        .component-text {
            width: 100%;
        }
    }
}

// SMALLER SCREENS display. Using classes instead of media queries because both breakpoint toggles and small size screens need to be taken into account.
.component-example.bp-below992{
    @include actiontiles-below992();
}

@media (max-width: 992px) {
    @include actiontiles-below992();
}
