.cookie-notification {
    background: $bga-yellow-highlight-light;
    display: flex;
    column-gap: 16px;


    .component-content {
        max-width: 1320px;
        margin: 0 auto;
        padding: 0 0 0 40px;
        
        p {
            text-align: center; 
            font-weight: 600;
        }
    }

    .close {
        text-indent: -9999px;
        background: transparent url(../assets/icon-close-black.svg) no-repeat;
        background-size: 16px 16px;
        background-position: center center;
        border: none;
        height: 16px;
        width: 16px;
        min-height: auto !important;
        flex-shrink: 0;

        &:focus-visible {
            border: $bga-text-focus-border;
            border-radius: $bga-focus-radius;
        }
    }

    a {
        white-space: nowrap;
        
        &:active {
            border: none;
        }

    }
}


// Mixins for smaller screen sizes and media queries
@mixin cookie-notification-bp-576 {
    .cookie-notification {
        .component-content {
            padding: 0;
        }
    }
}

@mixin cookie-notification-below576 () {
    .cookie-notification {
        column-gap: 8px;
    }
}

// SMALLER SCREENS display. Using classes instead of media queries because both breakpoint toggles and small size screens need to be taken into account.
.component-example.bp-576 {
    @include cookie-notification-bp-576()
}
.component-example.bp-below576 {
    @include cookie-notification-bp-576();
    @include cookie-notification-below576();
}


// MEDIA Queries for HTML demo pages.
@media (max-width: 1400px) {
    @include cookie-notification-bp-576()
}
@media(max-width: 576px) {
    @include cookie-notification-below576();
}