.feature-box {
    max-width: 840px;

    .component-content {
        background: $bga-white;
        border: $bga-component-border;
        border-left: solid 8px $bga-teal-highlight-dark;
        display: flex;
    }

    .icon-wrapper {
        width: 56px;
        height: 56px;
        background: $bga-teal-highlight-light;
        border-radius: 100px;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 40px;
        height: auto;
    }

    &.purple {
        .component-content {
            border-left: solid 8px $bga-purple-highlight-dark;
        }

        .icon-wrapper {
            background: $bga-purple-highlight-light;
        }
    }

    &.orange {
        .component-content {
            border-left: solid 8px $bga-orange-highlight-dark;
        }

        .icon-wrapper {
            background: $bga-orange-highlight-light;
        }
    }

    &.green {
        .component-content {
            border-left: solid 8px $bga-green-highlight-dark;
        }

        .icon-wrapper {
            background: $bga-green-highlight-light;
        }
    }

    &.full-width-layout {
        max-width: 100%;

        .component-content {
            border-left-width: 16px;
            padding-right: 120px !important;
        }

        .icon-wrapper {
            width: 88px;
            height: 88px;
            margin-right: 32px !important;
        }

        img {
            width: 56px;
        }
    }

    &.feature-box-colours {
        .component-content {
            align-items: center;
        }
    }
}

// SMALLER SCREENS display. Using classes instead of media queries because both breakpoint toggles and small size screens need to be taken into account.
.component-example.bp-576, .component-example.bp-below576 {
    .feature-box {
        max-width: 100%;

        .component-content {
            border-left-width: 8px;
            padding-right: 64px !important;
        }

        .icon-wrapper {
            width: 56px;
            height: 56px;
            margin-right: 16px !important;
        }

        img {
            width: 40px;
        }
    }
}

.component-example.bp-below576,
.component-example.small-screen {
    .feature-box {
        .component-content {
            flex-wrap: wrap;
            justify-content: center;
            padding-right : 24px !important;
        }
        .icon-wrapper {
            width: 44px;
            height: 44px;
            margin-right: 0 !important;
        }
        img {
            width: 30px;
        }
        &.feature-box-colours {
            .component-content {
                justify-content: center;
            }
            .component-text {
                width:100%;
                text-align: center;
            }
            .icon-wrapper {
                margin-bottom: 24px;
            }
        }

    }
}

// Media queries for HTML example pages
@media (max-width: 992px) {
    .feature-box.full-width-layout {
        .component-content {
            border-left-width: 8px;
            padding-right: 64px !important;
        }

        .icon-wrapper {
            width: 56px;
            height: 56px;
            margin-right: 16px !important;
        }

        img {
            width: 40px;
        }
    }
}
@media (max-width: 576px) {
    .feature-box, .feature-box.full-width-layout {
        .component-content {
            flex-wrap: wrap;
            justify-content: center;
            padding-right : 24px !important;
        }
        .icon-wrapper {
            width: 44px;
            height: 44px;
            margin-right: 0 !important;
        }
        img {
            width: 30px;
        }
        &.feature-box-colours {
            .component-content {
                justify-content: center;
            }
            .component-text {
                width:100%;
                text-align: center;
            }
            .icon-wrapper {
                margin-bottom: 24px;
            }
        }

    }
}