.filters {

    &.example {
        max-width: 400px;
    }

   

    &.text-input {
        border-bottom: solid 1px $bga-blue-black-light;

        .filter-item {
            align-items: center;
            border-bottom: none;
            display: flex;
        }

        span {
            display: none;
        }

        label {
            font-size: 1.125rem;
        }

        input {
            height: 48px;
            font-size: 1rem;

            &::placeholder {
                font-size: .8125rem;
            }
        }

        button {
            height: 48px;
            background: $bga-teal-highlight-light;
            border: solid 2px $bga-teal-tool-dark;
            border-radius: 50px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            padding: 8px 24px 8px 16px;
            box-shadow: none;
            min-width: 100px;

            &:focus-visible {
                background: $bga-teal-tool-dark;
                color: $bga-white;
            }

            &:hover {
                background: $bga-teal-tool-mid;
                color: $bga-white;
            }
        }
    }

    &.checkboxes-primary {
        .checkbox-item {
            border-bottom: solid 1px $bga-blue-black-light;
            padding: 16px 0;
            display: flex;
            position: relative;
            justify-content: space-between;


            label {
                font-size: 1.125rem;
            }

            input {
                height: 30px;
                width: 30px;
                -webkit-appearance: none;
                -ms-appearance: none;
                -moz-appearance: none;
                appearance: none;
                border: solid 2px $bga-black;
                border-radius: 0;

                &:checked {
                    background: $bga-teal-tool-mid url(../assets/icon-tick-white.svg) no-repeat;
                    background-position: center center;
                    background-size: 18px 14px;
                    border-color: $bga-teal-tool-mid;

                }
            }
        }
    }

    &.checkboxes-secondary {
        .checkbox-item {
            display: flex;
            margin-top: 16px;

            label {
                font-weight: 400;
            }

            input {
                height: 24px;
                width: 24px;
                -webkit-appearance: none;
                -ms-appearance: none;
                -moz-appearance: none;
                appearance: none;
                border: solid 1px $bga-black;
                border-radius: 0;
                margin: 0 8px 0 0;

                &:checked {
                    background: $bga-white url(../assets/icon-tick-black.svg) no-repeat;
                    background-position: center center;
                    border: solid 2px $bga-black;
                }

            }
        }

        .filter-item {
            border-bottom: solid 1px $bga-blue-black-light;
        }

    }

    .filter-item-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        p {
            font-size: 1.125rem;
            font-weight: 600;
            line-height: normal;
        }
    }

    .filter-item-content {
        display: none;
    }

    .active-filters ul {
        text-indent: 0;

        li {
            background: $bga-teal-tool-light url(../assets/icon-close-black.svg) no-repeat;
            background-size: 10px 10px;
            background-position: left 12px center;
            display: none;
            align-items: center;
            padding: 2px 12px 2px 34px;
            border: 1px solid $bga-teal-tool-dark;
            border-radius: 50px;
            margin: 8px 8px 0 0;
            text-indent: 0;
            font-size: .8125rem;

            &.selected {
                display: inline-block;
            }

            &::before {
                display: none;
            }
        }
    }

    &.toggle-switch {
        .filter-item {
            border-bottom: solid 1px $bga-blue-black-light;
        }

        .custom-control {
            margin-top: 16px;
        }

        .custom-control-input {
            position: absolute;
            z-index: -1;
            opacity: 0;

        }

        .custom-control-label {
            position: relative;
            padding-left: 52px;
            font-weight: 400;

            &:before {
                width: 44px;
                height: 16px;
                display: block;
                background: $bga-blue-black-light;
                border: none;
                margin-top: 4px;
                border-radius: 50px;
                position: absolute;
                left: 0;
                content: "";
            }

            &:after {
                background: url(../assets/icon-close-grey.svg) no-repeat $bga-white;
                background-position: center center;
                border: solid 2px $bga-blue-black-mid;
                background-size: 16px 16px;
                left: 0;
                top: -4px;
                width: 30px;
                height: 30px;
                display: block;
                position: absolute;
                border-radius: 50px;
                cursor: pointer;
                content: "";
            }
        }

        &.selected {
            label {
                &:after {
                    background: url(../assets/icon-tick-black.svg) no-repeat $bga-white;
                    background-position: center center;
                    border: solid 2px $bga-black;
                    background-size: 18px 14px;
                    left: 14px;
                }
            }
        }
    }

    &.single-select {
        border-bottom: solid 1px $bga-blue-black-light;

        select {
            margin-top: 16px;
            height: 35px;
            font-size: .875rem;
            padding: 0 8px;
        }


    }

    .name-search {
        background: $bga-blue-black-lightest;
        margin-top: 16px;

        h4 {
            color: $bga-black;
        }

        .search-wrapper {
            display: flex;
        }

        input {
            height: 52px;
            border: solid #333333 1px;
            border-right: 0px;
            width: calc(100% - 52px);
            padding: 0 16px;

            &:focus {
                border: solid 3px $bga-blue-focus;
                border-radius: 4px;
                border-top-right-radius: 0 !important;
                border-bottom-right-radius: 0 !important;
                outline: none;
            }
        }

        button {
            text-indent: -9999px;
            height: 52px;
            width: 52px;
            border: none;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            background: url(../assets/icon-search-white.svg) $bga-blue-background-dark no-repeat;
            background-position: center center;

            &:focus {
                border: solid 3px $bga-blue-background-dark;
                background: url(../assets/icon-search-blue.svg) $bga-blue-highlight-light no-repeat;
                background-position: center center;
            }

            &:hover {
                background: url(../assets/icon-search-white.svg) $bga-blue-links no-repeat;
                background-position: center center;
            }

            &:active {
                background: url(../assets/icon-search-white.svg) $bga-blue-links no-repeat;
                background-position: center center;
            }
        }

        .search-list-wrapper {
            li {
                margin: 0;
            }
        }
    }

    .filter-item.open {
        .filter-item-title {
            svg {
                transform: scaleY(-1);
            }
        }
    }

}

.mobile-filter-toggle {
    display: none;
}


// Mixins for smaller screen sizes and media queries
@mixin filters-bp-768 {
    .filters {
        &.example {
            max-width: 300px;
        }
        &.text-input {
            label { 
                width: 100%;
                padding-bottom: 8px;
            }

            .filter-item {
                display: block;
            }

            .form-control {
                margin-left: 0 !important;
            }
        }
    }
}

@mixin filters-below768 {
    .filters {
        &.example {
            max-width: 280px;
        }

        &.text-input {
            label {
                font-size: .875rem;
            }
            button {
                min-width: auto;
                font-size: .875rem;
            }    
        }
        &.checkboxes-primary {
            .checkbox-item {
                padding: 8px 0;

                label {
                    font-size: .875rem;
                }
                input {
                    height: 24px;
                    width: 24px;

                    &:checked {
                        background-size: 16px 13px;
                    }
                }
            }
        }
        &.checkboxes-secondary {
            .checkbox-item {
                label {
                    font-size: .875rem;
                }
            }
        }
        .filter-item-title {
            p {
                font-size: .875rem;
            }
            svg {
                width: 16px;
                height: 10px;
            }
        }
        &.toggle-switch {
            .custom-control-label {
                padding-left: 44px;
                font-size: .875rem;
    
                &:before {
                    width: 32px;
                    height: 12px;
                }
                &:after {
                    background-size: 12px 12px;
                    left: 0;
                    top: -4px;
                    width: 24px;
                    height: 24px;
                }
            }  
        }
    }
    .filters-wrapper {
        display: none;
    }

    .mobile-filter-toggle {
        display: block;
        width: 100%;

        button {
            background: $bga-blue-black-lightest;
            width: 100%;
            display: flex;
            justify-content: center;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 1rem;
            border: none;

            span {
                background: $bga-blue-background-dark;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                height: 20px;
                width: 20px;
                border-radius: 50px;
                margin-left: 8px;
                font-size: .75rem;
                font-weight: 700;
                color: $bga-white;
            }
        }
    }
}


// SMALLER BREAKPOINTS display. Using classes instead of media queries because both breakpoint toggles and small size screens need to be taken into account.
.component-example.bp-768,
.component-example.bp-below768 {
    @include filters-bp-768();
}

.component-example.bp-below768 {
    @include filters-below768();
}

// Media queries
@media (max-width: 992px) {
    @include filters-bp-768();
}

@media (max-width: 768px) {
    @include filters-below768();
}