.global-alert {
    background: $bga-yellow-highlight-dark;
    position: relative;

    .component-content {
        justify-content: space-between;
        align-items: flex-start;
    }

    .close {
        text-indent: -9999px;
        background: transparent url(../assets/icon-close-black.svg) no-repeat;
        background-size: 16px 16px;
        border: none;
        position: absolute;
        height: 16px;
        width: 16px;
        top: 16px;
        right: 16px;
    }
}