.grant-status-indicator {
    .component-content {
        background: $bga-green-success-light;
        border-left: solid 8px $bga-green-success-dark;

        .status {
            display: flex;
            align-items: center;

            .icon-wrapper {
                background: $bga-white;
                border-radius: 50px;
                img {
                    height: 24px;
                    width: auto;
                }
                p {
                    display: inline-block;
                }
            }
           
        }
        
    }
}