.bga-guide-accordion {
    background: none;
    text-align: right;

    .accordion-toggle {
        border: none;
        background: $bga-white;
        text-decoration: underline;
        cursor: pointer;
        font-weight: 600;
        box-shadow: none;

        &.close {
            svg {
                transform: scaleY(-1);
            }
        }
    }
    .accordion {
        text-align: left;
    }
    .accordion-item {
        border: none;
        background: $bga-white;
        border: $bga-blue-border solid 1px;
        border-left: solid $bga-teal-highlight-dark 8px;
        border-radius: 0;
        
        &:last-of-type {
            .accordion-button {
                border-radius: 0;
                padding: 0;
                text-decoration: none;
            }
        }
        &:first-of-type {
            .accordion-button {
                border-radius: 0;
            }
        }
        &:focus-visible {
            outline: none; 
        }
        &:hover {
            text-decoration: none;
        }
        &.show {
            
        }

        .accordion-button {
            background: $bga-teal-highlight-light;
            
            .img-wrapper {
                background: $bga-white;
                width: 250px;
                flex-shrink: 0;
            }
            .title-wrapper {
                display: flex;
                flex-wrap: wrap;

            }
            .chevron-wrapper {
                background: $bga-teal-highlight-mid;
                height: 100%;
            }
            &::after {
                display: none;
            }
            &:focus {
                box-shadow: none;
            }
            &:focus-visible {
                border: $bga-component-focus-border;
                border-radius: $bga-focus-radius;
            }
            &:hover {
                background: $bga-white;
                text-decoration: underline;
                
            }
            &:not(.collapsed) {
                background-color: $bga-white;
                box-shadow: none;

                &:hover {
                    border-bottom: none;
                    background: $bga-white;
                }
            }
    
            p {
                display: block;
                width: 100%;
            }
        }
        .accordion-body {
            display: flex;
            flex-wrap: wrap;

            a {
                cursor: pointer;
                color: $bga-blue-links;
                text-decoration: underline;

                &:focus-visible {
                    border: $bga-text-focus-border;
                    background: $bga-white;
                    border-radius: $bga-focus-radius;
                    outline: none;
                }
                &:hover {
                    background: $bga-white;
                }
            }
        }
    } 


}


// Mixins for smaller screen sizes
@mixin accordion-below576 () {
    .bga-default-accordion {
        .accordion-item {
            .accordion-button {
                font-size: 1rem;
                padding: 16px !important;

                p {
                    padding-right: 16px !important;
                }
                &::after {
                    height: 32px;
                    width: 32px;
                }
            }
            .accordion-body {
                padding: 0 16px 16px 16px !important;
            }
        }
    }
}

// SMALLER SCREENS display. Using classes instead of media queries because both breakpoint toggles and small size screens need to be taken into account.
.component-example.bp-below576,
.component-example.small-screen {
    @include accordion-below576();
}

// Media queries for HTML example pages
@media (max-width: 576px) {
    @include accordion-below576();
}