.bga-guide-accordion {
    background: none;
    text-align: right;

    .accordion-toggle {
        border: none;
        background: $bga-white;
        text-decoration: underline;
        cursor: pointer;
        font-weight: 600;
        box-shadow: none;

        &.close {
            svg {
                transform: scaleY(-1);
            }
        }
    }
    .accordion {
        text-align: left;
    }
    .accordion-item {
        border: none;
        background: $bga-white;
        border: $bga-blue-border solid 1px;
        border-left: solid $bga-teal-highlight-dark 8px;
        border-radius: 0;
        
        &:last-of-type {
            .accordion-button {
                border-radius: 0;
                padding: 0;
                text-decoration: none;
            }
        }
        &:first-of-type {
            .accordion-button {
                border-radius: 0;
            }
        }
        &:focus-visible {
            outline: none; 
        }
        &:hover {
            text-decoration: none;
        }
        &.show {
            background: $bga-white;
        }

        .accordion-button {
            background: $bga-teal-highlight-light;
            display: flex;
            align-items: stretch;
            
            .img-wrapper {
                background: $bga-white;
                width: 250px;
                flex-shrink: 0;
            }
            .title-wrapper {
                display: flex;
                flex-wrap: wrap;

                    h3 {
                        text-decoration: none;
                    }
                    p {
                        text-decoration: none;
                        display: block;
                        width: 100%;
                    }
            }

            .chevron-wrapper {
                background: $bga-teal-highlight-mid;
                display: flex;
                align-items: center;
            }
            &::after {
                display: none;
            }
            &:focus {
                box-shadow: none;
            }
            &:focus-visible {
                border: $bga-component-focus-border;
                border-radius: $bga-focus-radius;
            }
            &:hover {
                background: $bga-white;
                text-decoration: none;

                h3 {
                    text-decoration: underline;
                }
                .chevron-wrapper {
                    background: $bga-white;

                    svg {
                        transform: scaleY(-1);
                    }
                }

            }
            &:not(.collapsed) {
                background-color: $bga-white;
                box-shadow: none;

                .chevron-wrapper {
                    background: $bga-white;

                    svg {
                        transform: scaleY(-1);
                    }
                }

                p {
                    color: $bga-black;
                }

                &:hover {
                    border-bottom: none;
                    background: $bga-white;
                }
            }
        }
        .accordion-body {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .guide-tile {
                background: $bga-teal-highlight-light;
                flex: 0 0 auto;
                width: calc(33.33333333% - 16px);
                margin-bottom: 24px;
            }
        }
    } 


}


// Mixins for smaller screen sizes
@mixin guide-accordion-below576 () {
   
}

// SMALLER SCREENS display. Using classes instead of media queries because both breakpoint toggles and small size screens need to be taken into account.
.component-example.bp-below576,
.component-example.small-screen {
    @include guide-accordion-below576();
}

// Media queries for HTML example pages
@media (max-width: 576px) {
    @include guide-accordion-below576();
}