.guide-section {
    padding: 24px;
    background: $bga-teal-highlight-light;
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;

    &.blue {
        background: $bga-blue-highlight-light;
    }
    &.purple {
        background: $bga-purple-highlight-light;
    }
    &.green {
        background: $bga-green-highlight-light;
    }
    &.yellow {
        background: $bga-yellow-highlight-light;
    }
    &.orange {
        background: $bga-orange-highlight-light;
    }
    &.non-branded {
        background: $nb-grey-light;
    }
}
.guide-colour-examples {
    .guide-section {
        margin: 0 !important;
    }
}

.guide-section-header {
    display: flex;
    column-gap: 24px;
    flex-wrap: no-wrap;
    position: relative;

    .section-illustration {
        width: 200px;
        flex-shrink: 0;
        
        img {
            width: 100%;
            background: $bga-white;
        }
    }
}
.guide-tiles-wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
    margin-bottom: 8px;
}

@mixin guide-tile-colour ($colour-mid, $colour-light) {
    .action-checklist {
        background: $colour-mid;

        .dropdown-wrapper {
            .form-select {
                background-color: $colour-light;

                &:focus {
                    background-color: $colour-light !important;
                }
            }
        }
    }
}

.guide-tile {
    border: 1px solid $bga-black;
    background: $bga-white;
    width: 100%;

    .content {
        padding: 24px;
    }

    .learn-more {
        a {
            display: flex;
            column-gap: 8px;
            align-items: center;
            color: $bga-blue-links;
            width: fit-content;

        }
    }

    .action-checklist {
        padding: 24px;
        background: $bga-teal-highlight-mid;

        .dropdown-wrapper {
            display: flex;
            align-items: center;
            column-gap: 8px;
            
            h4 {
                white-space: nowrap; 
            }

            .form-select {
                padding: 4px 32px 4px 8px;
                background-position: right 8px center;
                min-height: auto;
                font-size: 1.1875rem;
                font-weight: 400;
                background-color: $bga-teal-highlight-light;
                text-overflow: ellipsis;  
                border-color: $bga-black;

                &:focus {
                    background-color: $bga-teal-highlight-light !important;
                    border-color: $bga-blue-background-dark;
                }
            }
        }

        ul {
            padding: 0 0 8px 24px;

            li {
                text-indent: -24px;
                &::before {
                    content: "";
                    height: 22px;
                    width: 18px;
                    margin-right: 8px;
                    margin-top: 6px;
                    background: url(../assets/icon-tick-black.svg) no-repeat;
                    background-position: center;
                    display:inline-block; 
                }

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }      
    }

    &.blue {
        @include guide-tile-colour($bga-blue-highlight-mid, $bga-blue-highlight-light);
    }
    &.purple {
        @include guide-tile-colour($bga-purple-highlight-mid, $bga-purple-highlight-light);
    }
    &.green {
        @include guide-tile-colour($bga-green-highlight-mid, $bga-green-highlight-light);
    }
    &.yellow {
        @include guide-tile-colour($bga-yellow-highlight-mid, $bga-yellow-highlight-light);
    }
    &.orange {
        @include guide-tile-colour($bga-orange-highlight-mid, $bga-orange-highlight-light);
    }
    &.non-branded {
        @include guide-tile-colour($nb-grey-mid, $nb-grey-light);
    }
}
.guide-colour-examples .guide-tile {
    width: auto;
}

.guide-bottom-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &.first-page {
        justify-content: flex-end;
    }&.last-page {
        justify-content: flex-start;
    }
    a {
        color: $nb-black;
        display: flex;
        align-items: center;
        column-gap: 8px;
        color: $bga-blue-links;
        font-size: 1.1875rem;
        line-height: 1.5;

        svg, svg path {
            fill: $bga-blue-links; 
        }
        &.next {
            text-align: right;
        }
    }
}

// Mixin for smaller screen examples and media queries
@mixin guide-tile-bp-below992 {
    .guide-tile {
        .action-checklist {
            .dropdown-wrapper {
                row-gap: 8px;
                flex-wrap: wrap;

                .form-element-wrapper {
                    width: 100%;
                }

                .form-select {
                    width: 100%;
                    font-size: 1rem;
                    line-height: 1.75;
                }
            }
     
        }
    }
}

@mixin guide-section-bp-768 {
    .guide-section-header { 
         
        .section-illustration {
            width: 140px;  
            position: absolute;  
        }  
        .content {
            width: 100%;

            h2 {
                margin-left: 164px;
                min-height: 112px;
                display: inline-flex;
                align-items: center;
            }
        } 
    }
    .guide-bottom-nav {
        flex-direction: column;
        row-gap: 24px;
        align-items: center;
    }  
}

@mixin guide-section-bp-576 {
    .guide-section {
        margin: -32px -32px 0 -32px;
        padding: 24px 32px;

        &.style-guide-example {
            margin: -24px -24px 0 -24px;
        }
    }
    .guide-section-header {
        .section-illustration {
            display: none;
        } 
        .content {
            width: 100%;

            h2 {
                margin-left: 0px;
                min-height: auto;
                display: block;
            }
        }   
    }
}

@mixin guide-section-bp-below576 {
    .guide-section {
        margin: -32px -24px 0 -24px;
        padding: 24px;

        h2 {
            font-size: 1.75rem;
        }
    }
}

.component-example.bp-below992 {
    @include guide-tile-bp-below992();
}
.component-example.bp-768 {
    @include guide-tile-bp-below992(); 
    @include guide-section-bp-768();
}
.component-example.bp-576 {
    @include guide-tile-bp-below992(); 
    @include guide-section-bp-768();
    @include guide-section-bp-576();
}
.component-example.bp-below576 {
    @include guide-tile-bp-below992(); 
    @include guide-section-bp-768();
    @include guide-section-bp-576();
    @include guide-section-bp-below576();
}

// MEDIA QUERIES
@media (max-width: 992px) {
    @include guide-tile-bp-below992();
    @include guide-section-bp-768();
}

@media (max-width: 768px) {
   @include guide-section-bp-576();
}

@media (max-width: 576px) {
    @include guide-section-bp-below576();
}