@mixin guide-nav-colour ($colour) {
    &.show {
        .guide-nav-item-title {
            h4 {
                a {
                    background: $colour;
                }
            }
        }

        .guide-sub-item {
            background: $colour;
        }
    }
}

body.no-scroll {
    height: 100%;
    overflow-y: hidden;
}

.guide-mobile-nav-trigger, .guide-nav-close {
    display: none;
}

#guide-vertical-nav {
    .guide-nav-item {
        position: relative;

        .guide-nav-item-title {
            align-items: center;
            column-gap: 8px;

            h4 {
                display: flex;
                align-items: flex-start;
                margin: 0;
                padding: 0;
                column-gap: 8px;

                span {
                    display: flex;
                    width: 40px;
                    height: 40px;
                    margin: 3px 0 0 0;
                    flex-shrink: 0;
                    border-radius: 50px;
                    justify-content: center;
                    align-items: center;
                    border: $bga-blue-black-light solid 3px;
                    background: $bga-white;

                    &:after {
                        content: " ";
                        position: absolute;
                        z-index: 0;
                        left: 18.5px;
                        top: 43px;
                        height: calc(100% - 40px);
                        background: $bga-blue-black-light;
                        width: 3px;
                    }
                }

                a {
                    color: $bga-black;
                    padding: 8px 8px 8px 8px;
                    display: block;
                    width: calc(100% - 40px);
                    background: none;

                    &:hover {
                        background: none;
                    }
                }
            }
        }

        @include guide-nav-colour($bga-teal-highlight-light);

        &.current {
            h4 span {
                background: $bga-black;
                border-color: $bga-black;
                color: $bga-white;
            }
        }

        &:last-of-type {
            h4 span:after {
                display: none;
            }
        }


        .guide-sub-item {
            margin: 0 0 0 48px;
            padding: 0 8px 8px 8px;


            .submenu-toggle {
                button {
                    background: none;
                    border: none;
                    padding: 0;
                    display: flex;
                    column-gap: 4px;
                    align-items: center;
                    font-size: .875rem;
                    line-height: 1.285;
                    font-weight: 400;
                    color: $bga-black;
                    margin: 0;
                    min-height: auto;

                }
            }

            .guide-submenu {
                display: none;
            }

            ul {
                margin: 0 0 8px 0;
                padding: 16px 0 0 0;
            }

            li {
                list-style-type: none;
                padding: 0;
                margin: 0 0 16px 0;
                text-indent: 0;

                &:last-of-type {
                    margin: 0;
                }

                &:before {
                    display: none;
                }

                a {
                    color: $bga-black;
                    text-decoration: underline;
                    font-size: .875rem;
                    line-height: 1.5;
                    font-weight: 400;
                    display: block;

                    &:hover {
                        background: none;
                    }
                }
            }

            &.show {
                background: $bga-teal-highlight-light;

                .guide-submenu {
                    display: block;
                }

                .submenu-toggle {
                    svg {
                        transform: scaleY(-1);
                    }
                }

            }
        }

        &.blue {
            @include guide-nav-colour($bga-blue-highlight-light);
        }

        &.purple {
            @include guide-nav-colour($bga-purple-highlight-light);
        }

        &.green {
            @include guide-nav-colour($bga-green-highlight-light);
        }

        &.yellow {
            @include guide-nav-colour($bga-yellow-highlight-light);
        }

        &.orange {
            @include guide-nav-colour($bga-orange-highlight-light);
        }

    }
}

.guide-email-download-wrapper {
    border-top: solid 2px $bga-blue-black-light;
    border-bottom: solid 2px $bga-blue-black-light;
    padding: 24px 0px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;

    .bga-btn.bga-secondary-btn {
        width: 100%;
    }
}


// MEDIA Queries
@media(max-width: 1200px) {
    #guide-vertical-nav {
        .guide-nav-item {
            .guide-nav-item-title {

                h4 {
                    font-size: 1rem;

                    span {
                        width: 32px;
                        height: 32px;

                        &:after {
                            top: 35px;
                            left: 14.5px;
                            height: calc(100% - 32px);
                        }
                    }

                    a {
                        width: calc(100% - 32px);
                    }
                }
            }
            .guide-sub-item {
                margin: 0 0 0 40px;
            }
        }
    }

}

@media (max-width: 768px) {
    .guide-mobile-nav-trigger {
        background: $bga-yellow-highlight-dark;
        margin: 0px -32px 0 -32px;
        padding: 16px 32px;
        width: calc(100% + 64px);
        display: flex;
        align-items: center;
        column-gap: 16px;

        button {
            flex-shrink: 0;
            height: 48px;
        }

        .step-title {
            white-space: nowrap;
        }

        &.fixed {
            position: fixed;
            top: 0;
            z-index: 7500;
            box-shadow: $bga-btn-boxshadow;
            transition: top 1s linear;
        }
    }

    .guide-nav-close {
        display: block;
        width: 100%;
        display: flex;
        justify-content: flex-end;

        button {
            text-indent: -9999px;
            background: transparent url(../assets/icon-close-black.svg) no-repeat;
            background-size: 16px 16px;
            border: none;
            position: absolute;
            height: 16px;
            width: 16px;
            top: 16px;
            right: 16px;
            display: block !important;
        }
    }

    .guide-scroll-wrapper {
        margin-top: 8px;
        position: relative;
        background: $bga-blue-black-background-lightest;
        background: $bga-yellow-highlight-light;
        height: 100%;

        .scroll-separator {
            width: 100%;
            height: 8px;
            min-height: 8px;
            z-index: 99;

            &.scroll-separator--bottom {
                margin-top: -8px;
                background: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, .15) 100%);
                display: block;
                position: absolute;
            }
        }

        .scrollable {
            height: 100%;
            padding: 8px;
            overflow-y: scroll;
            
            &::-webkit-scrollbar {
                -webkit-appearance: none;
                width: 8px;
                height: 8px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $bga-blue-black-mid;
                border-radius: 4px;
                z-index: 99;
            }

            &::-webkit-scrollbar-track {
                background: $bga-blue-black-lightest;
            }
        }

        &.scrolling {
            .scroll-separator {
                &.scroll-separator--top {
                    margin-bottom: -8px;
                    background: linear-gradient(0deg, transparent 0%, rgba(0, 0, 0, .15) 100%);
                    display: block;
                    position: absolute;
                }
            }
        }

        &.scroll-done {
            .scroll-separator {
                &.scroll-separator--top {
                    margin-bottom: -8px;
                    background: linear-gradient(0deg, transparent 0%, rgba(0, 0, 0, .15) 100%);
                    display: block;
                    position: absolute;
                }

                &.scroll-separator--bottom {
                    background: none;
                }
            }
        }

        &.no-scroll {
            .scroll-wrapper {
                .scroll-separator {
                    display: none;
                }

                .scrollable {
                    &::-webkit-scrollbar-track {
                        background: transparent;
                    }
                }
            }
        }
    }

    .guide-menu-wrapper {
        position: fixed;
        background: white;
        top: 16px;
        left: 16px;
        width: calc(100% - 32px);
        height: calc(100% - 32px);
        z-index: 9500;
        padding: 32px 24px 24px 24px;
        display: none;

        &.show {
            display: block;
        }

    }

    #guide-vertical-nav {
        .guide-nav-item.show {
            
            .guide-nav-item-title {
                h4 a {
                    background: none !important;
                }
            }

            .guide-sub-item {
                background: none !important;
            }
        }
    }
    
}

@media (max-width: 576px) {
    .guide-mobile-nav-trigger {
        margin: 0px -24px 0 -24px;
        padding: 16px 24px;
        width: calc(100% + 48px);

        .guide-step {
            font-size: .875rem;
            line-height: 1.5;
        }
    }
}

@media (max-width: 350px) {
    .guide-mobile-nav-trigger {
        button {
            width: 100%;
        }

        .guide-step {
            display: none;
        }
    }
}