.guide-mobile-nav-trigger {
    display: none;
}
.guide-section {
    padding: 24px;
    background: $bga-teal-highlight-light;
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;

    &.blue {
        background: $bga-blue-highlight-light;
    }
    &.purple {
        background: $bga-purple-highlight-light;
    }
    &.green {
        background: $bga-green-highlight-light;
    }
    &.yellow {
        background: $bga-yellow-highlight-light;
    }
    &.orange {
        background: $bga-orange-highlight-light;
    }
}

.guide-section-header {
    display: flex;
    column-gap: 24px;
    flex-wrap: no-wrap;
    position: relative;

    .section-illustration {
        width: 200px;
        
        img {
            width: 200px;
            background: $bga-white;
        }
    }
}
.guide-tiles-wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
}

@mixin guide-tile-colour ($colour-mid, $colour-light) {
    .action-checklist {
        background: $colour-mid;

        .dropdown-wrapper {
            .form-select {
                background-color: $colour-light;

                &:focus {
                    background-color: $colour-light !important;
                }
            }
        }
    }
}

.guide-tile {
    border: 1px solid $bga-black;
    background: $bga-white;

    .content {
        padding: 24px;
    }

    .learn-more {

        a {
            display: flex;
            column-gap: 8px;
            align-items: center;
            color: $bga-blue-links;

            &:hover {
                background: none;
            }
        }
    }

    .action-checklist {
        padding: 24px;
        background: $bga-teal-highlight-mid;

        .dropdown-wrapper {
            display: flex;
            align-items: center;
            column-gap: 8px;
            
            h4 {
                white-space: nowrap; 
            }

            .form-select {
                padding: 4px 48px 4px 8px;
                min-height: auto;
                font-size: 1.1875rem;
                font-weight: 400;
                color: $bga-blue-black-dark;
                background-color: $bga-teal-highlight-light;
                text-overflow: ellipsis;  

                &:focus {
                    background-color: $bga-teal-highlight-light !important;
                }
            }
        }

        ul {
            padding: 0 0 8px 24px;

            li {
                text-indent: -24px;
                &::before {
                    content: "";
                    height: 22px;
                    width: 18px;
                    margin-right: 8px;
                    margin-top: 6px;
                    background: url(../assets/icon-tick-black.svg) no-repeat;
                    background-position: center;
                    display:inline-block; 
                }

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }      
    }

    &.blue {
        @include guide-tile-colour($bga-blue-highlight-mid, $bga-blue-highlight-light);
    }
    &.purple {
        @include guide-tile-colour($bga-purple-highlight-mid, $bga-purple-highlight-light);
    }
    &.green {
        @include guide-tile-colour($bga-green-highlight-mid, $bga-green-highlight-light);
    }
    &.yellow {
        @include guide-tile-colour($bga-yellow-highlight-mid, $bga-yellow-highlight-light);
    }
    &.orange {
        @include guide-tile-colour($bga-orange-highlight-mid, $bga-orange-highlight-light);
    }
}

.guide-bottom-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &.first-page {
        justify-content: flex-end;
    }&.last-page {
        justify-content: flex-start;
    }
    a {
        color: $nb-black;
        display: flex;
        align-items: center;
        column-gap: 8px;
        color: $bga-blue-links;

        svg, svg path {
            fill: $bga-blue-links; 
        }
    }
}


@media (max-width: 992px) {
    .guide-section-header { 
        h2 {
            font-size: 1.75rem;
        } 
        .section-illustration {
            width: 140px;    
            img {
                width: 140px;
            }
        }   
    }
    .guide-tile {
        .action-checklist {
            .dropdown-wrapper {
                row-gap: 8px;
                flex-wrap: wrap;

                .form-element-wrapper {
                    width: 100%;
                }

                .form-select {
                    width: 100%;
                }
            }
     
        }
    }
}

@media (max-width: 768px) {
    .guide-section-header {
        .section-illustration {
            display: none;
        }   
    }
    .guide-mobile-nav-trigger {
        background: $bga-yellow-highlight-dark;
        margin: 0 -9999px;
        padding: 16px 9999px;
        display: flex;
        align-items: center;
        column-gap: 16px;
    
        button {
            flex-shrink: 0;
            height: 48px;
        }
        .step-title {
            white-space: nowrap;
        }
    }
    .guide-menu-wrapper {
        position: absolute;
        background: white;
        top: 16px;
        left: 16px;
        width: calc(100% - 32px);
        height: calc(100% - 32px);
        z-index: 8000;
        padding: 24px;
        display: none;

        &.show {
            display: block;
        }
    }
}

@media (max-width: 576px) {
    
}
@media (max-width: 350px) {
    .guide-mobile-nav-trigger {
        button {
            width: 100%;
        }
        .guide-step {
            display: none;
        }
    }
}