#guide-vertical-nav {

    .guide-nav-item {
        position: relative;

        .guide-nav-item-title {
            align-items: center;
            column-gap: 8px;

            h4 {
                display: flex;
                align-items: flex-start;
                margin: 0;
                padding: 0;
                column-gap: 8px;

                span {
                    display: flex;
                    width: 40px;
                    height: 40px;
                    margin: 3px 0 0 0;
                    flex-shrink: 0;
                    border-radius: 50px;
                    justify-content: center;
                    align-items: center;
                    border: $bga-blue-black-light solid 3px;

                    &:after {
                        content: " ";
                        position: absolute;
                        z-index: 0;
                        left: 18.5px;
                        top: 43px;
                        height: calc(100% - 40px);
                        background: $bga-blue-black-light;
                        width: 3px;
                    }
                }

                a {
                    color: $bga-black;
                    padding: 8px 8px 8px 8px;
                    display: block;
                    width: calc(100% - 40px);
                    background: none;

                    &:hover {
                        background: none;
                    }
                }
            }
        }

        &.show {
            .guide-nav-item-title {
                h4 {
                    a {
                        background: $bga-teal-highlight-light;
                    }
                }
            }
        }

        &.current {
            h4 span {
                background: $bga-black;
                border-color: $bga-black;
                color: $bga-white;
            }
        }

        &:last-of-type {
            h4 span:after {
                display: none;
            }
        }

    }

}
.email-download-wrapper {
    border-top: solid 2px $bga-black;
    border-bottom: solid 2px $bga-black;
    padding: 24px 0px;

    .bga-btn.bga-secondary-btn {
        width: 100%;
    }
}

.guide-sub-item {
    margin: 0 0 0 48px;
    padding: 0 8px 8px 8px;


    .submenu-toggle {
        button {
            background: none;
            border: none;
            padding: 0;
            display: flex;
            column-gap: 4px;
            align-items: center;
            font-size: .875rem;
            line-height: 1.285;
            font-weight: 400;
            color: $bga-black;
            margin: 0;

        }
    }

    .guide-submenu {
        display: none;
    }

    ul {
        margin: 0 0 8px 0;
        padding: 16px 0 0 0;
    }

    li {
        list-style-type: none;
        padding: 0;
        margin: 0 0 16px 0;
        text-indent: 0;

        &:last-of-type {
            margin: 0;
        }

        &:before {
            display: none;
        }

        a {
            color: $bga-black;
            text-decoration: underline;
            font-size: .875rem;
            line-height: 1.5;
            font-weight: 400;
            display: block;

            &:hover {
                background: none;
            }
        }
    }

    &.show {
        background: $bga-teal-highlight-light;

        .guide-submenu {
            display: block;
        }

        .submenu-toggle {
            svg, svg path {
                width: 14px;
                height: auto;
                transform: scaleY(-1);
            }
        }

    }
}