


.inline-pathway {
    background: $bga-blue-background-extralight;

    .content {
        border-left: solid 8px $bga-blue-border;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        a {
            display: inline;
            
            &:focus-visible {
                border: $bga-component-focus-border;
                border-radius: $bga-focus-radius;
                color: $bga-blue-footer;
                background: $bga-blue-hover;
            }
            &:hover {
                color: $bga-blue-footer;
                background: $bga-blue-hover;
            } 
        }
    }
    .content-wrapper {
        display: flex;
        flex-wrap: wrap;
        row-gap: 24px;
        padding: 0;
        width: 100%;

        a {
            width: 100%;
        }
    }

    .icon-wrapper {
        width: 56px;
        height: 56px;
        background: $bga-blue-background-dark;
        border-radius: 100px;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-shrink: 0;
    }
    img {
        width: 24px;
        height: auto;
    }
    &.non-branded {
        .content {
            border: none;
        }
        a {
            &:focus-visible {
                color: $nb-blue-links;
                border: $nb-blue-links solid 2px;
                border-radius: $bga-focus-radius;
            }
            &:hover {
                color: $nb-blue-links;
                background: transparent !important;
            } 
        }
        img {
            width: auto !important;
        }
    }
}

// Mixins for smaller screen sizes and media queries
@mixin inline-callout-below576 (){
    .inline-pathway.callout-link {
        .content {
            flex-wrap: wrap !important;
            align-items: center;   
            justify-content: center;
        }
        .content-wrapper {
            width: 100%;
        }
        .icon-wrapper {
            width: 44px;
            height: 44px;
            margin: 0 0 16px 0 !important;
        }
        img {
            width: 20px;
        }
       
    }
}




// SMALLER SCREENS display. Using classes instead of media queries because both breakpoint toggles and small size screens need to be taken into account.
.component-example.bp-below576, .component-example.small-screen {
    @include inline-callout-below576();
}

@media (max-width: 576px) {
    @include inline-callout-below576();
}

