.inline-pathway {
    
    a {
        background: $bga-blue-background-extralight;
        border-left: solid 8px $bga-blue-border;
        display: flex;
        flex-wrap: wrap;
        text-decoration: none;
        
        &:focus-visible {
            color: $bga-blue-links;
            border: $bga-component-focus-border;
            border-radius: $bga-focus-radius;
            background: $bga-blue-background-light;
            outline: none;
        }
        &:hover {
            background: $bga-blue-background-light;
            color: $bga-blue-links;
        }
        &:last-of-type {
            margin-bottom: 0 !important;
        }
    }
    .link {
        width: 100%;
        text-decoration: underline;
    }
    .page {
        display: flex;
        align-items: center;
        color: $bga-black;
        
        img {
            width: 16px;
            height: 16px;
        }
        span {
            display: inline-block;
        }
    }
    
    
}
