.light-pathway {
    border: 1px solid $bga-blue-border;
    background: $bga-white;
    display: block;

    a.title-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        row-gap: 16px;

        &:focus-visible,
        &:hover {
            color: $bga-black;
            background: $bga-blue-background-extralight;
        }
        &:active {
            border: none !important; 
        }
    }

    .icon-wrapper {
        background: $bga-blue-background-light;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px; 

        &.approved {
            background: $bga-green-highlight-dark;
        }

        &.in-progress {
            background: $bga-yellow-highlight-dark;
        }

        &.icon-lrg {
            width: 48px;
            height: 48px;
        }
        
        img {
            width: auto;
            max-width: auto;
        }
    }
    .component-content {
        border-left: 8px solid $bga-blue-border;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        row-gap: 8px;
    }
    .top-wrapper {
        flex-basis: 100%;
    }
    .component-text {
        width: 100%;
        display: block;
    }
    .tile-title {
        font-size: $h4-font-size;
        line-height: $headings-line-height;
        width: 100%;
    }

    // Approved, in progress versions for style guide
    &.final.external, 
    &.in-progress.external {
        .component-content {
            border-left: 8px solid $bga-green-highlight-dark;  
        }
    }
    &.in-progress.external {
        .component-content {
            border-left: 8px solid $bga-yellow-highlight-dark;  
        }  
    }   

    &.non-branded {
        a.title-wrapper {
            &:focus,
            &:hover {
                background: $nb-grey-light;
            }
        }
        .icon-wrapper {
            background: none;
        }    
    }

}
