.information-sidebar, .sidebar-wrapper {

    &.teal {
        background: $bga-teal-highlight-light;
    }

    &.yellow {
        background: $bga-yellow-highlight-light;
    }

    &.blue {
        background: $bga-blue-background-light;
    }

    .component-content {
        display: flex;
        row-gap: 24px;
        flex-wrap: wrap;
    }

    .more-info-toggle {
        background: none;
        border: none;
        color: $bga-blue-links;
        text-decoration: none;
        font-weight: 600;
        font-size: 1rem !important;
        display: flex;
        width: auto;
        align-items: center;

        &:focus-visible {
            border: $bga-text-focus-border;
            border-radius: $bga-focus-radius;
        }
        &.open {
            svg {
                transform: rotate(-180deg);
            }
        }

    }

    &.save-progress {
        height: auto !important;
        position: relative;
    }

    &.non-branded {
        .component-text {
            &.fixed-height {
                &::after {
                    background: linear-gradient(0deg, rgba(232,232,232, 1) 30%, rgba(207, 235, 235, 0) 100%);
                }
            }
        }
        .more-info-toggle {
            color: $nb-blue-links;

            svg path {
                fill: $nb-blue-links;
            }
    
            &:focus-visible {
                border-color: $nb-blue-links;
            }
            &:hover {
                background: transparent;
            }
        }
        .mobile-chat button {
            border: solid 2px $bga-black;
            background: url(../assets/Img-icon-placeholder.svg)$nb-grey-light no-repeat !important;
            background-position: top 10px center !important;
            background-size: 27px !important;
            border-radius: 8px;
    
            &:focus-visible {
                border-color: $nb-blue-links;
                color: $bga-black;
            }
            &:hover {
                border-color: $bga-black;
                color: $bga-black;
                background: $nb-grey-lightest;
            }
        }
    }
}

.clear-progress-link svg.non-branded {
    background: none;
    path {
        fill: $nb-blue-links;
    }
}


@mixin sidebar-bp-350 {
    .sidebar-wrapper  {
        button {
            min-width: 80px;
            font-size: .875rem;
            line-height: 1.125rem;
            padding: 8px 24px;
            min-height: 48px;
        }
    }
}

// SMALLER SCREENS display. Using classes instead of media queries because both breakpoint toggles and small size screens need to be taken into account.

.component-example.bp-350 {
    @include sidebar-bp-350();
}

.component-example.bp-below350 {
    @include sidebar-bp-350();
}


// Media queries for HTML example pages.
@media (max-width: 992px) {
    // just for in-page more info examples
    .sidebar-wrapper.inpage.alternate {
        margin: 32px 0 0 0 !important;

        &.colour-example {
            margin: 0 !important;
            padding-bottom: 32px !important;
        }
    }
}
@media (max-width: 768px) {
    // just for in-page more info examples
    .sidebar-wrapper.inpage {
        margin: 32px 0 0 0 !important;

        &.colour-example {
            margin: 0 !important;
            padding-bottom: 32px !important;
        }
    }
    @include sidebar-bp-350();
}

@media (max-width: 576px) {
    @include sidebar-bp-350();
}




