@mixin templates-tools-colour ($border-colour, $tag-hover-colour) {
    .component-content {
        border-left-color: $border-colour;
    }
    
    .tag {
        background: $tag-hover-colour;
    }
    .title-wrapper {
        &:focus-visible,
        &:hover {
            background: $tag-hover-colour;  
        }
    }
}


.bga-component.tools-templates-tile {
        border: 1px solid $bga-blue-border;
        background: $bga-white;
        display: block;

        .title-wrapper {
            width: 100%;
            display: flex;

            h3 {
                color: $bga-blue-links;
                text-decoration: underline;
                text-decoration-color: $bga-blue-links;
            }

            &:focus-visible,
            &:hover {
                background: $bga-blue-background-light;
            }
            &:active {
                border: none !important; 
            }
        }
    
        .component-content {
            border-left: 8px solid $bga-blue-highlight-shadow;
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
    
            p {
                font-weight: 400;
            }
        }
        .component-text {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            row-gap: 8px;
        }

        .tile-title {
            font-size: 1.125rem;
        }
    
        .tag {
            padding: 4px 8px;
            background: $bga-blue-background-light;
            border-radius: 4px;
            font-size: .75rem;
            line-height: 1.5;
            align-items: center;
    
            img {
                width: auto;
                flex-shrink: 0;
            }
        } 
        
        

        &.tile-template {
            @include templates-tools-colour ($bga-blue-highlight-shadow, $bga-blue-background-light);
        }
        &.tile-tool {
            @include templates-tools-colour ($bga-teal-highlight-shadow, $bga-teal-highlight-light);
        }
        &.tile-calculator {
            @include templates-tools-colour ($bga-orange-highlight-shadow, $bga-orange-highlight-light);
        }
        &.tile-guide {
            @include templates-tools-colour ($bga-yellow-highlight-shadow, $bga-yellow-highlight-light);
        }
        &.tile-checklist {
            @include templates-tools-colour ($bga-purple-highlight-shadow, $bga-purple-highlight-light);
        }
       

        &.non-branded {
            @include templates-tools-colour ($nb-grey-extra-darkest, $nb-grey-light);

            .tag {
                color: $bga-black;
                border-radius: 4px;

                img {
                    height: 24px;
                    width: 24px;
                }
            }
        }
    }