.vertical-stepped-nav-wrapper .mobile-show {   
    display: none;
    color: $bga-black !important;
}
.vertical-stepped-nav-wrapper.style-guide-example {
    max-width: 300px;
}

#vertical-stepped-nav { 
    background: $bga-blue-black-background-lightest;
    display: block;

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
            color: $bga-blue-black-mid-dark;
            text-indent: 0;
            display: inline-flex;
            align-items: flex-start;
            column-gap: 8px;
            width: 100%;
            position: relative;

            &::after {
                content: "";
                width: 3px;
                height: calc(100% + 16px);
                background: $bga-blue-black-light;
                position: absolute;
                top: 38px;
                left: 17.5px;
            }

            span.list-number {
                background: $bga-white;
                border: 3px solid $bga-blue-black-light;
                border-radius: 50px;
                position: relative;
                width: 38px;
                height: 38px;
                display: flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                font-weight: 700;
                font-size: 1.125rem;
            }

            a {
                text-decoration: none;
                color: $bga-blue-black-mid-dark;
                font-weight: 400;
                margin-top: 6px;

                &:hover {
                    background: none;
                }
                &:focus-visible {
                    background: none;
                }
            }
            &:first-of-type {
                span.list-number::before {
                    display: none;
                }
            }
            &.last-step {
                &::after {
                    display: none;
                }
            }

            &::before {
                display: none;
            }
           
            
            &.visited {
                span.list-number {
                    border: 3px solid $bga-blue-links;
                    color: $bga-blue-links;

                        &::before {
                            background: $bga-blue-links;
                        }
                }
                a {
                    color: $bga-blue-links;
                    text-decoration: underline;
                }
            }
            &.completed {
                cursor: pointer;

                &::after {
                    background: $bga-blue-links;
                }
                span.list-number {
                    background: $bga-blue-links url(../assets/icon-tick-white.svg) no-repeat;
                    background-position: center center;
                    background-size: 18px 14px;
                    border: 3px solid $bga-blue-links;
                    color: $bga-white;
                    text-indent: -9999px;
                }
                a {
                    color: $bga-blue-links;
                    text-decoration: underline;
                    font-weight: 600;
                }
            }
            &.active {
                span.list-number {
                    border: 3px solid $bga-blue-links;
                    color: $bga-blue-links;
                    background-color: $bga-white;
                }
                a {
                    color: $bga-blue-links;
                    font-weight: 700;
                    text-decoration: none;
                }
            }

            &.completed.active {
                span.list-number {
                    background-image: url(../assets/icon-tick-blue.svg);
                }
            }
        }

        &.static-step.initial-state {
            li::after {
                display: none;
            }
        }
    }

    &.non-branded {
        background: $nb-grey-light; 

        ul {
            li {
                color: $nb-black-lightest;
    
                &::after {
                    background: $nb-black-lightest;
                }
                span.list-number {
                    border: 3px solid $nb-black-lightest;
                }
    
                a {
                    color: $nb-black-lightest;
                }
               
                &.visited {
                    span.list-number {
                        border: 3px solid $nb-blue-links;
                        color: $nb-blue-links;
    
                            &::before {
                                background: $nb-blue-links;
                            }
                    }
                    a {
                        color: $nb-blue-links;
                        text-decoration: underline;
                    }
                }
                &.completed {
                    cursor: pointer;
    
                    &::after {
                        background: $nb-blue-links;
                    }
                    span.list-number {
                        background-color: $nb-blue-links;
                        border: 3px solid $nb-blue-links;
                    }
                    a {
                        color: $nb-blue-links;
                    }
                }
                &.active {
                    span.list-number {
                        border: 3px solid $nb-blue-links;
                        color: $nb-blue-links;
                    }
                    a {
                        color: $nb-blue-links;
                    }
                }
            }

        }
    }


}


// Mixins for smaller screen sizes and media queries
@mixin vertical-stepped-nav-bp-below768 () {
    .vertical-stepped-nav-wrapper.style-guide-example {
        max-width: none;
    }

    .vertical-stepped-nav-wrapper button.mobile-show {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background: $bga-blue-black-background-lightest;
        border: none;
        outline: none;

        p {
            font-weight: 400;
        }
        strong {
            font-weight: 600;
        }
        svg {
            height: 20px;
            min-width: 20px;
            width: 20px;
            fill: $bga-black;
        }

        &.open svg {
            transform: scaleY(-1);
        }

    }
    .vertical-stepped-nav-wrapper.non-branded button.mobile-show {
        background: $nb-grey-light;
    }

    #vertical-stepped-nav {
        display: none;

        ul {
            li {
                
                &::after {
                    left: 15px;
                    top: 32px;
                }

                span.list-number {
                    width: 32px;
                    height: 32px;
                    border-width: 2px;
                    font-size: .875rem;
                } 
                a {
                    font-size: .875rem;
                    margin-top: 3px;
                }      
            
            }
        }

       
    }
}




// SMALLER SCREENS display. Using classes instead of media queries because both breakpoint toggles and small size screens need to be taken into account.
.component-example.bp-below768 {
    @include vertical-stepped-nav-bp-below768();
}


// Media queries for full page examples
@media ( max-width: 768px ) {
    @include vertical-stepped-nav-bp-below768();
}