#verification-cta {
    .step {
        display: none;

        &.show {
            display: block;
        }
    }
    #email-form {
        column-gap: 16px;
    }
    .icon-wrapper {
        background: $bga-green-success-dark;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;

        img {
            width: 18px;
        }
    }

    .number-code {
        align-items: center;

        input {
            width: 56px;
            border: none;
            border-bottom: solid 4px $bga-blue-black-dark;
            font-size: 1.5rem;
            font-weight: 600;
            text-align: center;
            color: $bga-blue-black-dark;
        }

        .success-icon {
            display: none;
            position: relative;

            &.show {
                display: flex;
                align-items: center;
            }

            circle {
                fill: $bga-green-success-dark;
                stroke: $bga-green-success-dark;
                stroke-width: 4px;
                stroke-dasharray: 126;
                animation: success-animation 2s linear infinite;
                animation-timing-function: linear;
                animation-iteration-count: 1;
                transform: rotate(-90deg);
                transform-origin: center;
                position: absolute;
                top: 0;
                left: 0;
            }

            @keyframes success-animation {
                0% {
                    stroke-dashoffset: 126;
                    fill: transparent;
                }

                50% {
                    stroke-dashoffset: 0;
                    fill: transparent;
                }

                100% {
                    stroke-dashoffset: 0;
                    fill: $bga-green-success-dark;
                }
            }

            .tick {
                position: absolute;
                top: 20px;
                left: 12px;
                animation: tick-display 2s linear infinite;
                animation-timing-function: linear;
                animation-iteration-count: 1;
            }
            @keyframes tick-display {
                0% {
                   opacity: 0;
                }
                50% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            
            .msg {
                color: $bga-green-success-background;
                animation: msg-display 2s linear infinite;
                animation-timing-function: linear;
                animation-iteration-count: 1;
            }
            @keyframes msg-display {
                0% {
                   opacity: 0;
                }
                50% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            
        }

        .error-msg {
            display: none;
        }

        &.error {
            .code-inputs {
                box-shadow: 0 0 0 8px $bga-red-fail-mid;
                background: $bga-red-fail-mid;
            }

            input {
                background: $bga-red-fail-light;
                border-bottom-color: $bga-red-fail-dark;
            }

            .error-msg {
                display: block;

                p {
                    color: $bga-red-fail-dark;
                }
            }
        }
    }

    .resend {
        a.sent {
            color: $bga-green-success-background;
            text-decoration: none;
            cursor: default;

            &:hover {
                background: transparent;
            }
        }
    }
}
.verification-ended {
    background: $bga-blue-black-lightest;
}

// Mixins
@mixin verification-cta-bp-350 () {
    #verification-cta {
        #email-form {
            flex-direction: column;
            row-gap: 24px;
        }
        .number-code {
            input {
                width: 40px;
            }

            .success-icon {
                margin-left: 8px !important;
                svg {
                    width: 32px;
                    height: 32px;
                }
                circle {
                    width: 32px;
                    height: 32px;
                }

                .tick {
                    width: 14.5px;
                    height: 11.5px;
                    position: absolute;
                    top: 22px;
                    left: 8px;
                }
                
                .msg {
                    display: none !important;
                }
            }
        }
    }
}

@mixin verification-cta-bp-below350 () {
    
}
.component-example.bp-350 {
    @include verification-cta-bp-350();
}
.component-example.bp-below350 {
    @include verification-cta-bp-350();
    @include verification-cta-bp-below350();
}


// Media queries for example pages.
@media (max-width: 576px) {
    @include verification-cta-bp-350();
}
@media (max-width: 350px) {
    @include verification-cta-bp-below350();
}