.media-player-example {

    .audio-player-banner {
        background: $bga-blue-background-dark;
        padding: 32px;

        h2 {
            color: $bga-white;
            margin: 0;
            padding: 0;
        }

        &.graphic {
            display: flex;
            align-items: center;

            .audio-player-title {
                display: flex;
                align-items: center;
            }

            img {
                width: 132px;
                height: 132px;
                margin-right: 24px;
                border-style: none;
                flex-shrink: 0;

                &.hide-image {
                    display: none;
                }
            }
        }
    }

    .audio-player-player {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        cursor: pointer;
        background-color: $bga-blue-black-mid;
    }

    .audio-player-controls-background {
        background: $bga-blue-footer;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: stretch;

        .mejs__play {
            button {
                &:hover {
                    background: transparent url(../assets/mejs-controls.svg);
                    border: 0;
                    cursor: pointer;
                    display: block;
                    font-size: 0;
                    height: 20px;
                    line-height: 0;
                    margin: 10px 6px;
                    overflow: hidden;
                    padding: 0;
                    position: absolute;
                    text-decoration: none;
                    width: 20px;
                }
            }
        }
    }

    .media-transcript {
        background-color: $bga-blue-black-lightest;
        border-bottom: 0.125rem solid $bga-blue-black-light;
        padding: 0;
        position: relative;
        width: 100%;

        .media-transcript-content {
            height: 19.5rem;
            overflow-x: hidden;
            overflow-y: scroll;
            width: 100%;

            &:before {
                background: -webkit-gradient(linear,
                        left bottom,
                        left top,
                        from(hsla(0, 0%, 92.2%, 0)),
                        to($bga-blue-black-lightest));
                background: linear-gradient(0deg, hsla(0, 0%, 92.2%, 0), $bga-blue-black-lightest);
                content: "";
                height: 2rem;
                left: 0;
                position: absolute;
                top: 0;
                width: calc(100% - 1.25rem);
                z-index: 1;
            }

            &:after {
                background: -webkit-gradient(linear,
                        left top,
                        left bottom,
                        from(hsla(0, 0%, 92.2%, 0)),
                        to($bga-blue-black-lightest));
                background: linear-gradient(180deg, hsla(0, 0%, 92.2%, 0), $bga-blue-black-lightest);
                bottom: 0;
                content: "";
                height: 2rem;
                left: 0;
                position: absolute;
                width: calc(100% - 1.25rem);
                z-index: 1;
            }

            ul {
                margin-left: 0;
                padding: 0;

                li {
                    display: flex;
                    font-size: 1rem;
                    font-weight: 400;
                    list-style: none;
                    margin: 0 !important;

                    button {
                        -ms-flex-align: start;
                        -webkit-box-align: start;
                        -webkit-box-shadow: none;
                        align-items: flex-start;
                        background: none;
                        border: none;
                        box-shadow: none;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        height: 100%;
                        margin: 0;
                        padding: 0;
                        width: 100%;

                        &:focus {
                            outline: none;

                            p {
                                background-color: #fff;
                            }
                        }

                        &:hover {
                            cursor: pointer;

                            p {
                                background-color: #fff;
                            }
                        }

                        div {
                            -ms-flex-align: center;
                            -webkit-box-align: center;
                            align-items: center;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            height: 1.875rem;
                            margin: 0;
                            padding: 0;

                            span {
                                color: #666;
                                font-size: 0.75rem;
                                padding-right: 1.25rem;
                            }
                        }

                        p {
                            color: $bga-black;
                            font-size: 1rem;
                            font-weight: 400;
                            margin: 0;
                            padding: 4px 8px;
                            text-align: left;
                            width: 100%;
                        }

                    }

                    &:before {
                        display: none;
                    }
                }
            }

            .media-transcript-active p {
                background-color: #fff;
            }

        }
    }

    .media-player {
        -ms-flex: 1;
        -webkit-box-flex: 1;
        flex: 1;
        position: relative;

        .media-player-player {
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            cursor: pointer;
            padding-top: 56.25%;
            position: relative;
            background: $bga-blue-black-light url(../assets/video-player-placeholder.jpg) no-repeat;
            background-size: cover;

            &:hover {
                .media-player-button svg .playiconWrapper {
                    -webkit-transition: fill 0.2s;
                    cursor: pointer;
                    fill: $bga-blue-links;
                    transition: fill 0.2s;
                }
            }

            .media-player-player-youtube {
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
            }
        }

        .media-player-initialImg:hover {
            cursor: pointer;
        }

        .media-player-button {
            -webkit-transform: translate(-50%, -50%);
            background: transparent;
            border: 0;
            left: 50%;
            margin: 0 auto;
            max-height: 6rem;
            padding: 0;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;

            &:focus {
                outline: none;

                svg {
                    .playiconWrapper {
                        -webkit-transition: fill 0.2s;
                        fill: #4569a0;
                        transition: fill 0.2s;
                    }
                }
            }

            svg {
                .playiconWrapper {
                    fill: rgba(51, 51, 51, 0.8);
                }

                .playicon {
                    fill: #fff;
                }
            }

            .media-player-button-icon {
                width: 7rem;
                max-width: 80px;
            }
        }

        .media-player-transcript-toggle {
            -ms-flex-pack: end;
            -webkit-box-pack: end;
            background-color: $bga-blue-black-lightest;
            border-bottom: 0.125rem solid $bga-blue-black-light;
            height: 3.5rem;
            justify-content: flex-end;
            overflow: hidden;
            -ms-flex-align: center;
            -webkit-box-align: center;
            align-items: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            button {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                background: transparent;
                border: none;
                padding: 0;

                &:hover {
                    cursor: pointer;

                    span {
                        text-decoration: underline;
                    }
                }

                &:focus-visible {
                    outline: none;
                    border: $bga-text-focus-border;
                    border-radius: $bga-focus-radius;

                    span {
                        text-decoration: underline;
                    }
                }
            }

            span {
                -webkit-transition: all 0.3s;
                color: $bga-black;
                font-size: 1rem;
                font-weight: 600;
                letter-spacing: normal;
                line-height: 1.5;
                margin-right: 0.5rem;
                transition: all 0.3s;
                font-size: 1rem;
                line-height: 24px;
                font-weight: 600;
            }

            .iconAnimateWrapper svg {
                -webkit-transition: -webkit-transform 0.3s;
                fill: $bga-black;
                transition: -webkit-transform 0.3s;
                transition: transform 0.3s;
                transition: transform 0.3s, -webkit-transform 0.3s;

                &.open {
                    transform: scaleY(-1);
                    transition: transform 0.3s, -webkit-transform 0.3s;
                }
            }

            .active-expand svg {
                -webkit-transform: scaleY(-1);
                transform: scaleY(-1);
            }
        }
    }

    .media-player-transcript {
        -webkit-transition: height 0.6s;
        border-bottom: 0.125rem solid $bga-blue-black-light;
        overflow: hidden;
        transition: height 0.6s;
        height: 0;
        border-bottom: none;

        &.open {
            height: 19.5rem !important;
            border-bottom: 0.125rem solid $bga-blue-black-light;

            .media-transcript {
                visibility: visible;
                transition: visibility 0.5s ease 1s;
            }
        }
    }

    .media-player-info {
        background-color: $bga-blue-black-lightest;
        border-bottom: 0.125rem solid $bga-blue-black-light;

        .media-player-info-date {
            color: $bga-black;
            font-size: 0.75rem;
            margin-bottom: 8px;
        }

        .media-player-info-detail {
            color: $bga-black;
            font-size: 1rem;
            letter-spacing: 0.0125rem;
            line-height: 2;
            margin-bottom: 0;
            padding: 0;
        }
    }

    &.non-branded {
        .audio-player-banner {
            background: $nb-grey-extra-darkest;
        }
        .audio-player-controls-background {
            background: $bga-black;
        }


        .media-transcript {
            background-color: $nb-grey-lightest;
            border-bottom: 1px solid $bga-black;
    
            .media-transcript-content {
                &:before {
                    background: -webkit-gradient(linear,
                            left bottom,
                            left top,
                            from(hsla(0, 0%, 92.2%, 0)),
                            to($nb-grey-lightest));
                    background: linear-gradient(0deg, hsla(0, 0%, 92.2%, 0), $nb-grey-lightest);
                }
                &:after {
                    background: -webkit-gradient(linear,
                            left top,
                            left bottom,
                            from(hsla(0, 0%, 92.2%, 0)),
                            to($nb-grey-lightest));
                    background: linear-gradient(180deg, hsla(0, 0%, 92.2%, 0), $nb-grey-lightest);
                }
            }
        }
        .media-player {
            .media-player-player {
                background: $nb-grey-lightest url(../assets/img-placeholder-2.svg) no-repeat;
                background-size: cover;
                background-position: center center;
    
                &:hover {
                    .media-player-button svg .playiconWrapper {
                        fill: $bga-black;
                    }
                }  
            }
            .media-player-button {
                &:focus {
                    svg {
                        .playiconWrapper {
                            fill: $nb-blue-links;
                        }
                    }
                }
               
            }
            .media-player-transcript-toggle {
                background-color: $nb-grey-lightest;
                border-bottom: 1px solid $bga-black;
    
                button {
                    &:focus-visible {
                        border-color: $nb-blue-links;
                    }
                }
            }
        }
        .media-player-transcript {
            border-bottom: 1px solid $bga-black;
    
            &.open {
                border-bottom: 1px solid $bga-black;
            }
        } 
        .media-player-info {
            background-color: $nb-grey-lightest;
            border-bottom: 1px solid $bga-black;
        }
    }

}

@mixin audioplayer-below576 {
    .media-player-example {
        .audio-player-banner {
            &.graphic {
                img {
                    display: none;
                }
            }
        }
    }
}

// SMALLER BREAKPOINTS display. Using classes instead of media queries because both breakpoint toggles and small size screens need to be taken into account.
.component-example.bp-below768 {
    @include audioplayer-below576();
}

//Media queries
@media (max-width: 768px) {
    @include audioplayer-below576();    
}