<!DOCTYPE html>
<html lang="en" id="ablis-final-prototype" style="overflow-x: hidden;">

{% include prototypes/head_ablis-final.html %}

<body class="" {% if page.id %} id="{{page.id}}" {% endif %}>

    <!-- SUBSITE HEADER -->
    {% include prototypes/subsite_header_ablis-final.html %}


    <!-- PAGE HEADER -->
    <div id="page-header" class="teal">
        <div class="container">

            <div class="row inner-wrapper pt-5 mx-0">

                <div class="header-content">

                    <div class="col-sm-12 col-lg-10 remove-element-padding">
                        <h1>{{ page.title }}</h1>
                        <p class="header-intro">{{ page.description }}</p>
                    </div>

                </div>

                <div class="header-administered remove-element-padding px-5 py-3 {{ page.service | replace: ' ', '' }}">
                        <p class="service m-0">{{ page.service }}</p>
                        <div class="administered m-0">
                            <p class="administering-org">
                                <strong>Administered by: </strong> 
                            {% if page.administered-2 %}
                                <span>{{ page.administered-0 }}</span>, <span>{{ page.administered-1 }} </span>,  <span>{{ page.administered-2 }}</span>

                            {%  elsif page.administered-1 %}
                               <span>{{ page.administered-0 }}</span>, <span>{{ page.administered-1 }} </span>

                            {% else %}
                                <span>{{ page.administered-0 }}</span>
                            {% endif %}
                            </p>
                        </div>

                </div>
            </div>
        </div>
    </div>



    <div class="content">
        <div class="container my-5">
            <div class="ablis-content-wrapper">
            <div class="row">


                <div class="anchor-menu-wrapper in-page remove-top-spaces col-12 col-md-3 col-lg-2">
                    <div id="anchor-menu" class="anchor-menu in-page">
                        <h5>On this page</h5>
                        <ul class="anchor-menu ps-0 pb-4 m-0">
                            <li class="mb-3"><a tabindex="0" href="#overview">Overview</a></li>

                            {% if page.eligibility %}
                                <li class="mb-3"><a tabindex="0" href="#eligibility">Eligibility</a></li>{% endif %}

                            {% if page.application %}
                                <li class="mb-3"><a tabindex="0" href="#application">Apply now</a></li>{% endif %}

                            {% if page.resources %}
                                <li class="mb-3"><a tabindex="0" href="#resources">Key information</a></li>{% endif %}

                            
                            <li class="mb-3"><a tabindex="0" href="#contact">Contact details</a></li>

                            {% if page.readmore %}
                                <li class="mb-3"><a tabindex="0" href="#read-more">Read more</a></li>{% endif %}
                            
            
                        </ul>
                    </div>
                </div>


                <div class="col-12 col-md-9 col-xl-8 remove-element-padding">
                    <div class="remove-top-spaces">

                        {{ content }}

                    </div>
                </div>

            </div>

            </div>

        </div>

    </div>


    {% include prototypes/ablis-final-footer-infopages.html %}

    <div class="modal-overlay"></div>

</body>

</html>