<!DOCTYPE html>
<html lang="en" id="ablis-prototype" class="search-page" style="overflow-x: hidden;">

{% include prototypes/head_ablis.html %}

<body class="" {% if page.id %} id="{{page.id}}" {% endif %}>

    <!-- SUBSITE HEADER -->
    {% include prototypes/subsite_header_ablis.html 
        title=page.title %}


    <!-- PAGE HEADER / FORM-->
    <div id="page-header" class="teal">
       
        <div class="container">
            <!--<h1 class="pt-5">Search by keyword</h1>-->
            
            <div class="row inner-wrapper mx-0">
                <div class="header-content p-5">
                    <div class="col-sm-12 col-lg-10 col-xl-8 remove-element-padding">
                        
                        <div id="keyword-search" class="remove-element-padding">
 
                            <div class="search-questions remove-element-padding">
                            
                                    <div class="mb-5 p-0 keyword-wrapper">
                                        <label for="search_keyword" class="form-label h3-font-size mb-3"><strong>What are you looking for?</strong></label>
                                        <p>Enter a search term. For example, liquor licence.</p>
                                        <div class="form-element-wrapper">
                                            <input type="text" class="form-control" id="search_keyword" value="" required="" placeholder="">
                                        </div>
                                        
                                        <p class="error-message d-none mt-3 mb-0">This field is required.</p> 
                
                                    </div>
                                    
            
                                    <div class="mb-5 p-0 location-wrapper">
                                        <div class="dynamic-list-ablis remove-element-padding">
                            
                                            <label for="search_location" class="form-label h4-font-size mb-3"><strong>Where is your business located?</strong></label>
                                            <p>Enter a city, postcode, state or territory.</p>
                                            
                                            <div class="form-element-wrapper d-block">
                                                <div class="list-wrapper">
                                                
                                                    <input class="required" type="text" placeholder="" name="org" data-list="search_location" />
                                                    
                                                    <a href="" class="p-3" id="list-close"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                                        <path data-name="Path 11996" d="M3013.83,457.1l-6.4,6.4-1.6-1.6,6.4-6.4-6.4-6.4,1.6-1.6,6.4,6.4,6.4-6.4,1.6,1.6-6.4,6.4,6.4,6.4-1.6,1.6Z" transform="translate(-3005.83 -447.5)" fill="#333"/>
                                                        </svg></a>
                                                        
                                            
                                                    <ul id="search_location">
                                                        <li tabindex="0" value="Melaleuca, WA, 6079">Melaleuca, WA, 6079</li>
                                                        <li tabindex="0" value="Melawondi, QLD, 4570">Melawondi, QLD, 4570</li>
                                                        <li tabindex="0" value="Melba, ACT, 2615">Melba, ACT, 2615</li>
                                                        <li tabindex="0" value="Melbergen, NSW, 2669">Melbergen, NSW, 2669</li>
                                                        <li tabindex="0" value="Melbourne Airport, VIC, 3045">Melbourne Airport, VIC, 3045</li>
                                                        <li tabindex="0" value="Melbourne, VIC, 3000">Melbourne, VIC, 3000</li>
                                                        <li tabindex="0" value="Meldale, QLD, 4510">Meldale, QLD, 4510</li>
                                                        <li tabindex="0" value="Melinga, NSW, 2430">Melinga, NSW, 2430</li>
                                                        <li tabindex="0" value="Mella, TAS, 7330">Mella, TAS, 7330</li>
                                                        <li tabindex="0" value="Mellong, NSW, 2756">Mellong, NSW, 2756</li>
                                                        <li tabindex="0" value="Mellool, NSW, 2734">Mellool, NSW, 2734</li>
                                                        <li tabindex="0" value="Melrose Park, NSW, 2114">Melrose Park, NSW, 2114</li>
                                                        <li tabindex="0" value="Melrose Park, SA, 5039">Melrose Park, SA, 5039</li>
                                                        <li tabindex="0" value="Melrose, QLD, 4613">Melrose, QLD, 4613</li>
                                                        <li tabindex="0" value="Melrose, SA, 5483">Melrose, SA, 5483</li>
                                                        <li tabindex="0" value="Melrose, TAS, 7310">Melrose, TAS, 7310</li>
                                                        <li tabindex="0" value="Melton Mowbray, TAS, 7030">Melton Mowbray, TAS, 7030</li>
                                                        <li tabindex="0" value="Melton South, VIC, 3338">Melton South, VIC, 3338</li>
                                                        <li tabindex="0" value="Melton Station, SA, 5440">Melton Station, SA, 5440</li>
                                                        <li tabindex="0" value="Melton West, VIC, 3337">Melton West, VIC, 3337</li>
                                                        <li tabindex="0" value="Melton, SA, 5552">Melton, SA, 5552</li>
                                                        <li tabindex="0" value="Melton, VIC, 3337">Melton, VIC, 3337</li>
                                                        <li tabindex="0" value="Melville Forest, VIC, 3315">Melville Forest, VIC, 3315</li>
                                                        <li tabindex="0" value="Melville, NSW, 2320">Melville, NSW, 2320</li>
                                                        <li tabindex="0" value="Melville, WA, 6156">Melville, WA, 6156</li>
                                                        <li tabindex="0" value="Melwood, VIC, 3875">Melwood, VIC, 3875</li>
                                                        <li tabindex="0" value="Mount Mellum, QLD, 4550">Mount Mellum, QLD, 4550</li>
                                                        <li tabindex="0" value="Mount Melville, WA, 6330">Mount Melville, WA, 6330</li>
                                                        <li tabindex="0" value="North Melbourne, VIC, 3051">North Melbourne, VIC, 3051</li>
                                                        <li tabindex="0" value="Port Melbourne, VIC, 3207">Port Melbourne, VIC, 3207</li>
                                                        <li tabindex="0" value="South Melbourne, VIC, 3205">South Melbourne, VIC, 3205</li>
                                                        <li tabindex="0" value="West Melbourne, VIC, 3003">West Melbourne, VIC, 3003</li>
                                                        <li tabindex="0" value="East Melbourne, VIC, 3002">East Melbourne, VIC, 3002</li>
                                                        <li tabindex="0" value="South Wharf, VIC, 3006">South Wharf, VIC, 3006</li>
                                                        <li tabindex="0" value="Southbank, VIC, 3006">Southbank, VIC, 3006</li>
                                                        <li tabindex="0" value="Docklands, VIC, 3008">Docklands, VIC, 3008</li>
                
                                                        <li tabindex="0" value="Alfredton, VIC, 3350">Alfredton, VIC, 3350</li>
                                                        <li tabindex="0" value="Bakay Balay, NT, 0880">Bakay Balay, NT, 0880</li>
                                                        <li tabindex="0" value="Bakery Hill, VIC, 3350">Bakery Hill, VIC, 3350</li>
                                                        <li tabindex="0" value="Balbirini Stn, NT, 0852">Balbirini Stn, NT, 0852</li>
                                                        <li tabindex="0" value="Bald Blair, NSW, 2365">Bald Blair, NSW, 2365</li>
                                                        <li tabindex="0" value="Bald Hills, NSW, 2549">Bald Hills, NSW, 2549</li>
                                                        <li tabindex="0" value="Baldersleigh, NSW, 2365">Baldersleigh, NSW, 2365</li>
                                                        <li tabindex="0" value="Balfours Peak, NSW, 2403">Balfours Peak, NSW, 2403</li>
                                                        <li tabindex="0" value="Balgowlah Heights, NSW, 2093">Balgowlah Heights, NSW, 2093</li>
                                                        <li tabindex="0" value="Balickera, NSW, 2324">Balickera, NSW, 2324</li>
                                                        <li tabindex="0" value="Balladoran, NSW, 2822">Balladoran, NSW, 2822</li>
                                                        <li tabindex="0" value="Ballajura, WA, 6066">Ballajura, WA, 6066</li>
                                                        <li tabindex="0" value="Ballalaba, NSW, 2622">Ballalaba, NSW, 2622</li>
                                                        <li tabindex="0" value="Ballan, VIC, 3342">Ballan, VIC, 3342</li>
                                                        <li tabindex="0" value="Ballandean, QLD, 4382">Ballandean, QLD, 4382</li>
                                                        <li tabindex="0" value="Ballangeich, VIC, 3279">Ballangeich, VIC, 3279</li>
                                                        <li tabindex="0" value="Ballapur, VIC, 3483">Ballapur, VIC, 3483</li>
                                                        <li tabindex="0" value="Ballarat Central, VIC, 3350">Ballarat Central, VIC, 3350</li>
                                                        <li tabindex="0" value="Ballarat East, VIC, 3350">Ballarat East, VIC, 3350</li>
                                                        <li tabindex="0" value="Ballarat North, VIC, 3350">Ballarat North, VIC, 3350</li>
                                                        <li tabindex="0" value="Ballard, QLD, 4352">Ballard, QLD, 4352</li>
                                                        <li tabindex="0" value="Ballaroo, QLD, 4455">Ballaroo, QLD, 4455</li>
                                                        <li tabindex="0" value="Ballast Head, SA, 5221">Ballast Head, SA, 5221</li>
                                                        <li tabindex="0" value="Balldale, NSW, 2646">Balldale, NSW, 2646</li>
                                                        <li tabindex="0" value="Ballengarra, NSW, 2441">Ballengarra, NSW, 2441</li>
                                                        <li tabindex="0" value="Balliang, VIC, 3340">Balliang, VIC, 3340</li>
                                                        <li tabindex="0" value="Ballimore, NSW, 2830">Ballimore, NSW, 2830</li>
                                                        <li tabindex="0" value="Ballina, NSW, 2478">Ballina, NSW, 2478</li>
                                                        <li tabindex="0" value="Ballyroe, NSW, 2795">Ballyroe, NSW, 2795</li>
                                                        <li tabindex="0" value="Balmain, NSW, 2041">Balmain, NSW, 2041</li>
                                                        <li tabindex="0" value="Canadian, VIC, 3350">Canadian, VIC, 3350</li>
                                                        <li tabindex="0" value="East Ballina, NSW, 2478">East Ballina, NSW, 2478</li>
                                                        <li tabindex="0" value="Golden Point, VIC, 3350">Golden Point, VIC, 3350</li>
                                                        <li tabindex="0" value="Lucas, VIC, 3350">Lucas, VIC, 3350</li>
                                                        <li tabindex="0" value="Mount Pleasant, VIC, 3350">Mount Pleasant, VIC, 3350</li>
                                                        <li tabindex="0" value="Newington, VIC, 3350">Newington, VIC, 3350</li>
                                                        <li tabindex="0" value="Redan, VIC, 3350">Redan, VIC, 3350</li>
                                                        <li tabindex="0" value="Soldiers Hill, VIC, 3350">Soldiers Hill, VIC, 3350</li>
                                                        <li tabindex="0" value="South Ballina, NSW, 2478">South Ballina, NSW, 2478</li>
                
                                                    </ul>
                                                    
                                                </div>
                                        
                                                <div class="no-result error m-0 remove-element-padding">
                                                    <p>No location found.</p>
                                                </div>
                
                                            </div>
                                            <p class="error-message d-none mt-3 mb-0">This field is required.</p>
                                            
                                        </div>
                
                                    </div>
                                  
                
                            </div>  

                            <!-- BUTTON GROUP -->
                            <div class="button-group">
                                <btn id="search-btn" class="bga-btn bga-primary-btn bkg-light" tabindex="0" role="button">Search</btn>

                                <btn id="reset-btn" class="bga-link bga-inline-link bkg-light" tabindex="0" role="button">Start again</btn>
                            </div>
                            
                        </div>
                       
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="content-sticky-wrapper d-none">


    <!-- SHOWING HEADER -->
    <div class="container showing-header-container">
        <div class="row">
            <div class="col-12">
            
                <div class="sticky-wrapper">
                    <div class="sticky-header">
                    
                        <div class='top-row'>
                            <div class="showing-number remove-element-padding">
                                <h2 class="showing-number">Showing <strong><span class="count">{{page.result-count}}</span></strong> results for <strong><span class="keyword"></span> in <span class="location">{{page.location}}</span></strong></h2>
                            </div>
                        </div>

                    </div>

                </div>


            </div>
        </div>
    </div>



    <!-- PAGE CONTENT -->
    <div class="content">
        <div class="container">
            <div class="row">


                <div class="anchor-menu-wrapper remove-top-spaces col-12 col-sm-3 mb-5">

                    <div class="filters ablis-filters checkboxes-primary">

                        <div class="filter-item" id="service-type">
                    
                            <form>
                                <div tabindex="0" class="checkbox-item py-3" data-label="licence" filter-type="service-type">
                                    <label id="service-inperson" data-option="licence" data-label="licence" filter-type="service-type">Licences and registrations <span></span></label>
                                    <input tabindex="-1" type="checkbox" id="licence">
                                </div>
                    
                                <div tabindex="0" class="checkbox-item py-3" data-label="regulatory-obligation" filter-type="service-type">
                                    <label id="service-regulatory-obligation" data-option="regulatory-obligation" data-label="regulatory-obligation" filter-type="service-type">Legal obligations <span></span></label>
                                    <input tabindex="-1" type="checkbox" id="regulatory-obligation">
                                </div>
                    
                    
                                <div tabindex="0" class="checkbox-item py-3" data-label="code-of-practice" filter-type="service-type">
                                    <label id="service-code-of-practice" data-option="code-of-practice" data-label="code-of-practice"
                                        filter-type="service-type">Codes and standards <span></span></label>
                                    <input tabindex="-1" type="checkbox" id="code-of-practice">
                                </div>


                                <div tabindex="0" class="checkbox-item py-3" data-label="advisory-material" filter-type="service-type">
                                    <label id="service-advisory-material" data-option="advisory-material" data-label="advisory-material"
                                        filter-type="service-type">Guidance <span></span></label>
                                    <input tabindex="-1" type="checkbox" id="advisory-material  ">
                                </div>
                    
                    
                            </form>
                    
                        </div>
                    
                    </div>



                    <div class="filters ablis-filters checkboxes-secondary mb-4">

                        <div tabindex="0" class="filter-item pt-3 pb-2" id="administered">
                            <div class="filter-item-title remove-element-padding">
                                <p class="mb-0">Administered by <span class="mobile-counter"></span></p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                                    <g transform="translate(20 12.5) rotate(180)">
                                        <path  data-name="Chevron / Up"
                                            d="M10,4.965,2.478,12.5,0,10.018,10,0,20,10.018,17.522,12.5Z" fill="#333">
                                        </path>
                                    </g>
                                </svg>
                    
                            </div>
                            <div class="active-filters pt-2 multi-select">
                                <ul class="m-0 p-0">
                                    <li filter-type="administered" data-value="city-of-melbourne">City of Melbourne</li>
                                    <li filter-type="administered" data-value="city-of-port-phillip">City of Port Phillip</li>
                                    <li filter-type="administered" data-value="victorian-state-government">Victorian state government</li>
                                    <li filter-type="administered" data-value="australian-government">Australian Government</li>
                                    
                                </ul>
                            </div>
                            <div class="filter-item-content">
                    
                                <form>
                                    <div tabindex="0" class="checkbox-item p-2" filter-type="administered">
                                        <input type="checkbox" tabindex="-1" id="city-of-melbourne">
                                        <label data-label="city-of-melbourne">City of Melbourne <span></span></label>
                                    </div>
                    
                                   <div tabindex="0" class="checkbox-item p-2" filter-type="administered">
                                        <input type="checkbox" tabindex="-1" id="city-of-port-phillip">
                                        <label data-label="city-of-port-phillip">City of Port Phillip <span></span></label>
                                    </div>
                    
                                   <div tabindex="0" class="checkbox-item p-2" filter-type="administered">
                                        <input type="checkbox" tabindex="-1" id="victorian-state-government">
                                        <label data-label="victorian-state-government">Victorian state government <span></span></label>
                                    </div>
                    
                                   <div tabindex="0" class="checkbox-item p-2" filter-type="administered">
                                        <input type="checkbox" tabindex="-1" id="australian-government">
                                        <label data-label="australian-government">Australian Government <span></span></label>
                                    </div>
                    
                                   
                    
                                </form>
                    
                            </div>
                        </div>
                    <!-- BUSINESS STRUCTURE FILTER -->
                    <!--
                        <div tabindex="0" class="filter-item pt-3 pb-2" id="business-structure">
                            <div class="filter-item-title remove-element-padding">
                                <p class="mb-0">Business structure <span class="mobile-counter"></span></p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                                    <g transform="translate(20 12.5) rotate(180)">
                                        <path  data-name="Chevron / Up"
                                            d="M10,4.965,2.478,12.5,0,10.018,10,0,20,10.018,17.522,12.5Z" fill="#333">
                                        </path>
                                    </g>
                                </svg>
                    
                            </div>
                            <div class="active-filters pt-2 multi-select">
                                <ul class="m-0 p-0">
                                    <li filter-type="business-structure" data-value="sole-trader">Sole trader</li>
                                    <li filter-type="business-structure" data-value="partnership">Partnership</li>
                                    <li filter-type="business-structure" data-value="company">Company</li>
                                    <li filter-type="business-structure" data-value="co-operative">Co-operative</li>
                                    <li filter-type="business-structure" data-value="incorporated-association">Incorporated Association</li>
                                    <li filter-type="business-structure" data-value="trust">Trust</li>
                                </ul>
                            </div>
                            <div class="filter-item-content">
                    
                                <form>
                                   <div tabindex="0" class="checkbox-item p-2" filter-type="business-structure">
                                        <input type="checkbox" tabindex="-1" id="sole-trader">
                                        <label for="sole-trader">Sole trader</label>
                                    </div>
                    
                                   <div tabindex="0" class="checkbox-item p-2" filter-type="business-structure">
                                        <input type="checkbox" tabindex="-1" id="partnership">
                                        <label for="partnership">Partnership</label>
                                    </div>
                                   <div tabindex="0" class="checkbox-item p-2" filter-type="business-structure">
                                        <input type="checkbox" tabindex="-1" id="company">
                                        <label for="company">Company</label>
                                    </div>
                    
                                   <div tabindex="0" class="checkbox-item p-2" filter-type="business-structure">
                                        <input type="checkbox" tabindex="-1" id="co-operative">
                                        <label for="co-operative">Co-operative</label>
                                    </div>
                    
                                   <div tabindex="0" class="checkbox-item p-2" filter-type="business-structure">
                                        <input type="checkbox" tabindex="-1" id="incorporated-association">
                                        <label for="incorporated-association">Incorporated Association</label>
                                    </div>
                    
                                   <div tabindex="0" class="checkbox-item p-2" filter-type="business-structure">
                                        <input type="checkbox" tabindex="-1" id="trust">
                                        <label for="trust">Trust</label>
                                    </div>


                                </form>
                    
                            </div>
                        </div>
                    -->
                    
                    </div>

                   
                        
                    <button class="btn-clear-filters d-flex"  role="button" tabindex="0" id="clear-filters">
                        <span class="text-decoration-underline text-nowrap">Clear all filters</span>
                        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M4.01,4v7h7L7.792,7.782A5.919,5.919,0,0,1,12.015,6a6,6,0,1,1-5.654,8.005H4.28A8,8,0,1,0,6.361,6.351Z" transform="translate(-4.01 -4)"></path></svg>
                    </button>
                    
                    
                </div>


                <div class="col-12 col-sm-9 col-xl-8 remove-element-padding">
                    <div class="remove-top-spaces results-wrapper">

                        {{ content }}

                        <div class="bga-pagination {{include.classes}} remove-element-padding mt-0 mb-5 p-0">

                            <div class="pagination-links">
                                <ul class="d-flex px-0 pt-0 pb-2 ">
                                   
                                    
                                    <li class="number current" data-position="1"><a>1</a></li>
                                    <li class="number" data-position="2"><a>2</a></li>
                                   
                        
                                    <li class="next" data-position="next"><a>
                                            Next
                                            <svg class="ms-2" data-name="Icon / right" xmlns="http://www.w3.org/2000/svg" width="7.5" height="12"
                                                viewBox="0 0 7.5 12">
                                                <path data-name="Chevron / Right" d="M4.521,6,0,10.513,1.489,12,7.5,6,1.489,0,0,1.487Z" />
                                            </svg>
                                        </a></li>
                        
                        
                                    <li class="last" data-position="last"><a>
                                            Last
                                            <svg class="ms-2" data-name="Icon / chevron double / right" xmlns="http://www.w3.org/2000/svg" width="12"
                                                height="12" viewBox="0 0 12 12">
                                                <path data-name="Chevron Double / Right"
                                                    d="M4.5,10.513,9.021,6,4.5,1.487,5.989,0,12,6,5.989,12Zm-4.5,0L4.521,6,0,1.487,1.49,0,7.5,6,1.49,12Z" />
                                            </svg>
                                        </a></li>
                                </ul>   
                            </div>
                        
                        
                            <div class="below-pagination mt-2 d-flex">
                                <div class="page-number remove-element-padding">
                                    <p>Page <span>1</span> of 2</p>
                                </div>
                                <div class="items-number d-flex">
                                    <p class="m-0">Results per page</p>
                                    <select id="results-per-page">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                    </select>
                                </div>
                            </div>
                        
                        
                        </div>

                        <div class="no-results remove-element-padding d-none mb-5">
                           
                            <h3>We couldn't find any results that match your current filters.</h3>
                           
                            <p>While you're here, you might like to:</p>
                            <ul>
                            <li> explore other <a>business information on business.gov.au</a></li>
                            <li><a>find a business adviser</a></li>
                            <li><a>subscribe to the business.gov.au newsletter</a> to stay up-to-date on the latest business news and opportunities.</li>
                            </ul>
                        </div>
                        

                    </div>
                </div>

            </div>

        </div>

    </div>


    </div>


    {% include prototypes/ablis-footer.html %}
    

    <div class="modal-overlay"></div>

  
</body>

</html>