<!DOCTYPE html>
<html lang="en" id="ablis-prototype" class="question-page" style="overflow-x: hidden;">


{% include prototypes/head_ablis2.html %}

<body class="" {% if page.id %} id="{{page.id}}" {% endif %}>

    <!-- SUBSITE HEADER -->
    {% include prototypes/subsite_header_ablis2.html %}



    <!-- PAGE HEADER -->
    <div id="page-header" tabindex="-1" class="teal stepped-nav">

        <div class="container">

            <div class="row inner-wrapper pt-5 mx-0">

                <div class="header-content p-5" id="page-load-position">

                    <div class="col-12 remove-element-padding">

                        <div  class="stepped-navigation-wrapper include-mini-toast remove-element-padding {{ include.classes }}">

                            <h1  class="step-title" data-step="{{page.step-number}}">{{ page.stepped-nav-step }}</h1>


                           {% include prototypes/stepped-navigation-example.html
                                step1="Business details"
                                step2="Operations"
                                step3="Products and services"
                                step4="Workers"
                                step5="Buildings and land"
                                step6="Equipment and transport"
                                step7="Results"
                                classes="teal"
                            %} 

                        </div> 
                        
                       
                    </div>

                </div>
            </div>
        </div>    
        
       

    </div>



    <!-- CONTENT -->
    

    {{ content }}


    {% include prototypes/ablis-footer.html %}
        

    <div class="modal-overlay"></div>

</body>

</html>