<!DOCTYPE html>
<html lang="en" id="ablis-prototype" style="overflow-x: hidden;">

{% include prototypes/head_ablis.html %}

<body class="" {% if page.id %} id="{{page.id}}" {% endif %}>

    <!-- SUBSITE HEADER -->
    {% include prototypes/subsite_header_ablis_info.html %}


    <!-- PAGE HEADER -->
    <div id="page-header" class="teal">
        <div class="container">

            <div class="row inner-wrapper pt-5 mx-0">

                <div class="header-content p-5">

                    <div class="col-sm-12 col-lg-10 remove-element-padding">
                        <h1>{{ page.title }}</h1>
                        <p class="header-intro">{{ page.description }}</p>
                    </div>

                </div>

                <div class="header-administered remove-element-padding px-5 py-3 {{ page.service | replace: ' ', '' }}">
                        <p class="service m-0">{{ page.service }}</p>
                        <div class="administered m-0">
                            <p class="org-tag"><strong>Administered by: </strong></p>
                            <p class="administering-org">
                            {% if page.administered-2 %}
                                <span>{{ page.administered-0 }} </span>, <span>{{ page.administered-1 }} </span> and <span>{{ page.administered-2 }} </span>

                            {%  elsif page.administered-1 %}
                               <span>{{ page.administered-0 }} </span> and <span>{{ page.administered-1 }} </span>

                            {% else %}
                                <span>{{ page.administered-0 }} </span>
                            {% endif %}
                            </p>
                        </div>

                </div>
            </div>
        </div>
    </div>



    <div class="content">
        <div class="container my-5">
            <div class="row">
                <div class="col-md-11 col-lg-9 col-xl-8 remove-element-padding">
                    <div class="remove-top-spaces content-wrapper">

                        {{ content }}

                    </div>
                </div>

            </div>

        </div>

    </div>


    {% include prototypes/ablis-footer.html %}
    

    <div class="modal-overlay"></div>

</body>

</html>