<!DOCTYPE html>
<html lang="en" id="ablis-prototype" class="question-page" style="overflow-x: hidden;">


{% include prototypes/head_ablis.html %}

<body class="{{page.step}}" data-step="{{page.step}}" {% if page.id %} id="{{page.id}}" {% endif %}>

    <!-- SUBSITE HEADER -->
    {% include prototypes/subsite_header_ablis.html %}


    <!-- PAGE HEADER -->
    <div id="page-header" class="teal">
        <div class="container">

            <div class="row inner-wrapper pt-5 mx-0">

                <div class="header-content p-5">

                    <div class="col-sm-12 col-lg-10 remove-element-padding">
                        <h1>{{ page.title }}</h1>
                    </div>

                </div>

            </div>
        </div>
    </div>



    <!-- NAV AND PAGE CONTENT -->
    <div class="container my-5">
        <div class="row">


            <div class="col-12 col-sm-3 mb-5">
                
                {% include prototypes/ablis-dynamic-nav.html %}

            </div>


            <div class="col-12 col-sm-9 col-xl-8 remove-element-padding">
                <div class="remove-top-spaces ps-4">

                    {{ content }}

                </div>
            </div>

        </div>
    </div>



    {% include prototypes/ablis-footer.html %}
        

    <div class="modal-overlay"></div>

</body>

</html>