<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body {% if page.id %} id="{{page.id}}" {% endif %}>
    
    {% include component-examples/pathway-to-services-example.html %}
   
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="header-wrapper mt-5 mb-4">
                    {% include prototypes/bga-site-header-example.html %}
                </div>
            </div>
        </div>
    </div>

    {% include prototypes/breadcrumbs-example.html %}
    
    {% include page-header.html 
        classes="yellow" %}

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="guide-mobile-nav-trigger">
                        <button class="bga-btn bga-secondary-btn bkg-light d-flex align-items-center" tabindex="0" href="" role="button">Guide menu</button>
                        <p class="guide-step m-0">Step <span>{{page.step-number}}</span> of 6: <strong class="step-title">{{page.step}}</strong></p>
                    </div>
                </div>
            </div>
        </div>

    {{ content }}

    {% include component-examples/chat-button-example.html
        button-state="open"
        %}


    {% include component-examples/bga-site-footer-example.html %}


<div class="modal-overlay"></div>
</body>
</html>



