<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body {% if page.id %} id="{{page.id}}" {% endif %}>
    
    {% include component-examples/pathway-to-services-example.html %}
  
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="header-wrapper mt-5 mb-4">
                    {% include prototypes/bga-site-header-example.html %}
                </div>
            </div>
        </div>
    </div>

    {% include prototypes/breadcrumbs-example.html %}
    
    {% include page-header.html
        classes="teal" %}

    <div class="container">
    <div class="row">
        <div class="col-12">
       
        <div class="stepped-navigation-wrapper my-5" data-step="{{ page.step-number }}" id="stepped-nav-inpage">

            <div class="mobile-stepped-nav">
                <button class="stepped-nav-toggle p-0" tabindex=0>
                    <span class="me-2">Step {{ page.step-number }} of 5 : <strong>{{ page.stepped-nav-step }}</strong></span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12.5" viewBox="0 0 20 12.5">
                        <path data-name="Chevron / Down" d="M7.535,10,0,17.522,2.482,20,12.5,10,2.482,0,0,2.478Z" transform="translate(20) rotate(90)" fill="#333"/>
                      </svg>
                      
                      </button>
            </div>
    
            <div class="stepped-navigation-wrapper remove-element-padding white">

                <div class="bga-component stepped-navigation">

                    <a tabindex="1" id="nav-step-1" class="step me-3">
                        <span class="step-number  mb-2">1</span>
                        <span class="step-name">Place of sale</span>
                    </a>
            
                    <a tabindex="1" id="nav-step-2" class="step me-3">
                        <span class="step-number mb-2">2</span>
                        <span class="step-name">Packaging</span>
                    </a>    
            
                    <a tabindex="1" id="nav-step-3" class="step me-3">
                        <span class="step-number mb-2">3</span>
                        <span class="step-name">Country or origin</span>
                    </a>

                    <a tabindex="1" id="nav-step-4" class="step me-3">
                        <span class="step-number mb-2">4</span>
                        <span class="step-name">Overseas processing</span>
                    </a>
            
                    <a tabindex="1" id="nav-step-5" class="step me-3">
                        <span class="step-number mb-2">5</span>
                        <span class="step-name">Results</span>
                    </a>

                </div>
                
            </div>
    
        </div>

        </div>
    </div>
    </div>



        {{ content }}

    <footer>    

    {% include component-examples/bga-site-footer-example.html %}

    </footer>

    <div class="hmd-reset-wrapper footer-wrapper py-4 m-0">
        <div class="container ">
            <div class="row">
                <div class="remove-element-padding">
                    <a href="" id="cool-reset-prototype">Reset prototype</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-overlay"></div>
    <!--{% include prototypes/inactive-feature-modal.html %}-->


    <!-- Email mark modal -->
    <div class="bga-component modal-example px-4 pb-4 pt-5" id="modal-email-standard-mark">
    
        <button class="close m-0 p-0">Close</button>
    
        <div class="component-content mt-2">
    
            <div class="component-text p-0 remove-element-padding">
               
                <h4>Email your standard mark</h4>
                <p>Select your preferred format and enter your email address to receive your standard mark.</p>

                <p class="mb-3"><strong>Document format</strong></p>

                <div class="form-element-wrapper radio no-flex mb-3">
                    <div role="radiogroup">
                        <div class="radio-button alternate pb-1">
                            <input class="form-check-input m-0" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
                            <label class="form-check-label" for="flexRadioDefault4">
                                PDF
                            </label>
                        </div>
                        <div class="radio-button alternate pb-1">
                            <input class="form-check-input m-0" type="radio" name="flexRadioDefault" id="flexRadioDefault5" checked="">
                            <label class="form-check-label" for="flexRadioDefault5">
                                PNG
                            </label>
                        </div>

                    </div>
                </div>
                
                <p class="mb-3"><strong>Email address</strong></p>
                <form id="email-form" class="d-flex mb-4">
                    
                    <input type="text" class="form-control mb-0" value="">
                    <div class="button-example">
                        <button class="bga-btn bga-primary-btn bkg-light" tabindex="0" href="" role="button">Email <svg
                                id="Icon:_Send" data-name="Icon: Send" xmlns="http://www.w3.org/2000/svg" width="18"
                                height="15.429" viewBox="0 0 18 15.429">
                                <path id="Path" d="M.009,15.429,18,7.714.009,0,0,6,12.857,7.714,0,9.429Z" fill="#333" />
                            </svg></button>
                    </div>
                </form>

                <p class="mini">This site is protected by reCAPTCHA and the <a class="external" href="">Google Privacy Policy</a> and <a class="external" href="">Terms of Service</a> apply</p>
                
               
    
            </div>
    
        </div>
    
    </div>


    <!-- Download mark modal -->
    <div class="bga-component modal-example px-4 pb-4 pt-5" id="modal-download-standard-mark">
    
        <button class="close m-0 p-0">Close</button>
    
        <div class="component-content mt-2">
    
            <div class="component-text p-0 remove-element-padding">
               
                <h4>Download your standard mark</h4>
                <p>Select your preferred format to download your standard mark.</p>

                <p class="mb-3"><strong>Document format</strong></p>

                <div class="form-element-wrapper radio no-flex mb-3">
                    <div role="radiogroup">
                        
                        <div class="radio-button alternate pb-1">
                            <input class="form-check-input m-0" type="radio" name="download" id="download1">
                            <label class="form-check-label" for="download1">PDF</label>
                        </div>
                        
                        <div class="radio-button alternate pb-1">
                            <input class="form-check-input m-0" type="radio" name="download" id="download2" >
                            <label class="form-check-label" for="download2">PNG</label>
                        </div>

                    </div>
                </div>
                
                <div class="button-example">
                    <button class="bga-btn bga-primary-btn bkg-light" tabindex="0" href="" role="button">Download <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 16.293V9.29286H1.99978V14.2932H14.0002V9.29286H16V16.293H0ZM3.35336 7.35338L4.76814 5.9395L7.00011 8.17208V0.292969H8.99989V8.29289C10.7137 6.57835 10.8214 6.4715 11.3534 5.9395L12.7672 7.35338L8.0603 12.0603L3.35336 7.35338Z" fill="#333333"/>
                        </svg></button>
                </div>
    
            </div>
    
        </div>
    
    </div>


    <!-- Save results modal -->
    <div class="bga-component modal-example px-4 pb-4 pt-5" id="modal-save-results">

        <button class="close m-0 p-0">Close</button>
    
        <div class="component-content mt-2">
    
            <div class="component-text p-0 remove-element-padding">
                
                <h4>Save your results</h4>
                <p>Enter your email address to receive a link to this results page so you can return at a later date.</p>
                
                <form id="email-form" class="d-flex mb-4">
                    
                    <input type="text" class="form-control mb-0" value="">
                    <div class="button-example">
                        <button class="bga-btn bga-primary-btn bkg-light" tabindex="0" href="" role="button">Email <svg
                                id="Icon:_Send" data-name="Icon: Send" xmlns="http://www.w3.org/2000/svg" width="18"
                                height="15.429" viewBox="0 0 18 15.429">
                                <path id="Path" d="M.009,15.429,18,7.714.009,0,0,6,12.857,7.714,0,9.429Z" fill="#333" />
                            </svg></button>
                    </div>
                </form>

                <p class="mini">This site is protected by reCAPTCHA and the <a class="external" href="">Google Privacy Policy</a> and <a class="external" href="">Terms of Service</a> apply</p>
                
                
    
            </div>
    
        </div>
    
    </div>

    <!-- Restart tool modal -->
    <div class="bga-component modal-example px-4 pb-4 pt-5" id="modal-restart">
    
        <button class="close m-0 p-0">Close</button>
    
        <div class="component-content mt-2">
    
            <div class="component-text p-0 remove-element-padding">
               
                <h4>You are about to start again</h4>
                <p>All data you have entered into the tool will be deleted. Are you sure you want to continue?</p>
                
                    <div class="tool-button-group button-group">
                        <div class="button-example">
                            <button class="bga-btn bga-primary-btn bkg-light restart-tool" tabindex="0" href="" role="button">Yes, start over</button>
                        </div>
                    
                        <a class="bga-link bga-inline-link bkg-light cancel" tabindex="0" role="button">Cancel</a>
                </div>
    
            </div>
    
        </div>
    
    </div>



    <!-- LOOP11 TEST SCRIPT -->
    <!--<script src="//cdn.loop11.com/embed.js" type="text/javascript" async="async"></script>-->
    
</body>
</html>



