<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body {% if page.id %} id="{{page.id}}" {% endif %}>
    
    {% include component-examples/pathway-to-services-example.html %}
  
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="header-wrapper mt-5 mb-4">
                    {% include prototypes/bga-site-header-example.html %}
                </div>
            </div>
        </div>
    </div>

    {% include prototypes/breadcrumbs-example.html %}
    
    {% include page-header.html
        classes="teal" %}

    <div class="container">
    <div class="row">
        <div class="col-12">
       
        <div class="stepped-navigation-wrapper remove-element-padding">

            <h1 class="step-title" data-step="{{page.step-number}}">{{ page.stepped-nav-step }}</h1>
    
            <div class="mobile-stepped-nav remove-element-padding">
                <button class="stepped-nav-toggle me-3 p-0" tabindex=0>Menu</button>
                <p>Step {{ page.step-number }} of 5: <strong>{{ page.stepped-nav-step }}</strong></p>
            </div>
    
            {% include component-examples/stepped-navigation-example.html
            step1="Business structure"
            step2="Business name"
            step3="Employees"
            step4="Business taxes"
            step5="Results"
            classes=""
            %}
    
        </div>

        </div>
    </div>
    </div>



        {{ content }}

    {% include component-examples/bga-site-footer-example.html %}

    <!--{% include prototypes/inactive-feature-modal.html %}-->



    <!-- LOOP11 TEST SCRIPT -->
    <!--<script src="//cdn.loop11.com/embed.js" type="text/javascript" async="async"></script>-->
    
</body>
</html>



