---

layout: bga-info-pages
title: Payments and invoicing
description: Invoicing and receiving payment from your customers is a critical part of starting and running your business. Find out about the different payment types and how to invoice.
id: bga-prototype
breadcrumb1: Operations
url1: /prototypes/bga/operations.html
breadcrumb2: Finance
url2: /prototypes/bga/operations/finance.html

---

<div class="container my-5">

    <div class="row">

        <div class="remove-top-spaces col-12">

            <h2>Invoicing</h2>
           
            <div class="hero-pathway-block" id="hero-layout-example">

                <div class="row">

                    <div class="col-12 col-sm-6 col-lg-8">
                        {% include component-examples/hero-pathway-example.html
                        image="'../../../../assets/refresh-illustrations/laptop-charts.svg' | relative_url "
                        classes="border-purple"
                        title="How to invoice"
                        description="Follow these steps to create and send invoices and deal with unpaid or incorrect invoices."
                        %}
                    </div>


                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/hero-pathway-example.html
                        classes="border-green small-hero"
                        title="Record keeping"
                        description="Learn what records to keep, how to keep them and how long for."
                        %}

                    </div>


                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/hero-pathway-example.html
                        classes="border-blue small-hero"
                        title="What to do when you haven't been paid"
                        description="Getting paid for the work you've done can be challenging. Follow these steps to help you recover money you are owed."
                        %}
                    </div>



                    <div class="col-12 col-sm-6 col-lg-8">
                        {% include component-examples/hero-pathway-example.html
                        image="'../../../../assets/refresh-illustrations/laptop-finance.svg' | relative_url "
                        classes="border-yellow"
                        title="eInvoicing"
                        description="Find out what eInvoicing is, how much it costs and how to get started."
                        %}
                    </div>


                </div>


            </div>


            <h2>Payments</h2>
           
            <div class="hero-pathway-block" id="hero-layout-example">

                <div class="row">

                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/hero-pathway-example.html
                        classes="border-orange small-hero"
                        title="Payment terms"
                        description="Find out how to set payment terms for your customers."
                        %}
                    </div>


                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/hero-pathway-example.html
                        classes="border-yellow small-hero"
                        title="Choose payment methods"
                        description="Find out about choosing how your customers will pay you."
                        %}

                    </div>


                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/hero-pathway-example.html
                        classes="border-blue small-hero"
                        title="Receipts and proof of purchase"
                        description="Learn about the different types of receipt and what to include."
                        %}
                    </div>



                </div>


            </div>




        </div>


    </div>

</div>
