---

layout: bga-info-pages
title: Yearly financial tasks
description: Learn about the yearly tasks you should complete to keep track of your business finances, fulfil your reporting requirements and plan for year ahead.
id: bga-prototype
breadcrumb1: Operations
url1: /prototypes/bga/operations.html
breadcrumb2: Finance
url2: /prototypes/bga/operations/finance.html

---

<div class="container my-5">

    <div class="row">

        <div class="remove-top-spaces col-12">
           
            <div class="hero-pathway-block" id="hero-layout-example">

                <div class="row">

                      <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/hero-pathway-example.html
                        classes="border-orange small-hero"
                        title="Review your finances"
                        description="Learn what trends you should look for when reviewing your finances."
                        %}

                    </div>


                    <div class="col-12 col-sm-6 col-lg-8">
                        {% include component-examples/hero-pathway-example.html
                        image="'../../../../assets/refresh-illustrations/checklist-calculator.svg' | relative_url "
                        classes="border-teal"
                        title="End of financial year checklist"
                        description="Learn how to prepare for the EOFY to get your business organised and work smarter in the year ahead."
                        %}
                    </div>


                    <div class="col-12 col-sm-6 col-lg-8">
                        {% include component-examples/hero-pathway-example.html
                        image="'../../../../assets/refresh-illustrations/calendar.svg' | relative_url "
                        classes="border-yellow"
                        title="Important financial dates"
                        description="Know the important due dates so you keep your business running smoothly."
                        %}
                    </div>


                    <div class="col-12 col-sm-6 col-lg-4">
                        {% include component-examples/hero-pathway-example.html
                        classes="border-green small-hero"
                        title="Value your business"
                        description="Learn how to value your business to attract buyers or investors."
                        %}

                    </div>


                </div>


            </div>


        </div>


    </div>

</div>
