#ablis-prototype {
    height: 100%;
    margin: 0;
    padding: 0;

    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    #subsite-header {
        .strap-wrapper {
            margin: 0 -9999px;
            padding: 0 9999px;
            background: $bga-blue-footer;
        }
        
        .main-header-wrapper {
            margin: 0 -9999px;
            padding: 0 9999px;
            background: $bga-blue-background-dark;
        }
    
    }
    .subsite-footer {
       box-shadow: 0 50vh 0 50vh $bga-blue-footer;
    }
    
    // QUESTION PAGES
    .yes-no-answers {
        display: flex;
        flex-wrap: nowrap;
        column-gap: 8px;
        
        .radio-button {
            width: 50%;
        }
    }
    .question-wrapper {
        display: flex;
        row-gap: 24px;
        flex-wrap: wrap;
    }
    


    // INFORMATION PAGES
    .header-administered {
        background: $bga-white;
        border-bottom: 8px solid $bga-yellow-highlight-shadow;
        display: flex;
        align-items: center;
        column-gap: 16px;

        .service {
            background: $bga-yellow-highlight-light;
            border: 2px solid $bga-yellow-highlight-shadow;
            //border-radius: 4px;
            cursor: default;
            padding: 4px 8px !important;
            font-weight: 600;
            font-size: 1.125rem;
            display: inline-flex;
        }
        .administered {
            display: flex;
            column-gap: 8px;

            .org-tag {
                flex-shrink: 0;
            }
            
            p {
                margin-bottom: 0
            }
        }


        &.RegulatoryObligation {
            border-bottom: 8px solid $bga-orange-highlight-shadow;

            .service {
                background: $bga-orange-highlight-light;
                border: 2px solid $bga-orange-highlight-shadow;
            }
        }

        &.CodeofPractice {
            border-bottom: 8px solid $bga-blue-highlight-shadow;

            .service {
                background: $bga-blue-highlight-light;
                border: 2px solid $bga-blue-highlight-shadow;
            }
        }

        &.AdvisoryMaterial {
            border-bottom: 8px solid $bga-purple-highlight-shadow;

            .service {
                background: $bga-purple-highlight-light;
                border: 2px solid $bga-purple-highlight-shadow;
            }
        }
       
    }

    .callout-box.contact {
        .header-section {
            h3 {
                margin-bottom: 8px;
            }
            p {
                margin-bottom: 8px;
                display: flex;
                column-gap: 16px;

                &:last-of-type {
                    margin-bottom: 0;
                }

                strong {
                    min-width: 150px;
                }
            }
        }
        .component-text {
            p {
                margin-bottom: 8px;
                display: flex;
                column-gap: 16px;

                strong {
                    min-width: 150px;
                }
                
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }  
    .callout-box.ablis-apply {
        .rego-resources {
            display: flex;
            row-gap: 8px;
            flex-wrap: wrap;

            .resource {
                width: 100%;
                display: flex;
                column-gap: 16px;

                .rego-link {
                    width: 100%;
                    background: $bga-white;
                    display: flex;
                    column-gap: 16px;
                    align-items: center;
                    padding-right: 16px;

                    .task {
                        font-weight: 600;   
                        width: 120px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%; 
                        min-height: 50px;
                        background: $bga-yellow-links-background;
                        flex-shrink: 0;
                    }
                    .description {
                        background: url('../assets/iconography/icon-arrow-right-blue.svg') no-repeat left center;
                        background-size: 20px 20px;
                        
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        padding: 8px 0 8px 32px;

                        a {
                            font-weight: 600;   
                        }

                        i.fa {
                            display: none;
                        }
                    }
                    &.pdf-icon, &.doc-icon {
                        .description {
                            background: url('../assets/iconography/icon-download-blue.svg') no-repeat left center;
                            background-size: 20px 20px;
                        }
                    }
                    &.no-link {
                        .description {
                            background: url('../assets/iconography/icon-person-blue.svg') no-repeat left center;
                            background-size: 20px 20px;  
                        }
                    }
                    
                    

                }
            }
        }

        .component-text {
            display: flex;
            flex-wrap: wrap;
            row-gap: 24px;
            width: 100%;

            h3, .bga-component-wrapper {
                width: 100%;
            }
            h3 {
                margin-bottom: 0;
            }
            .duration, .expiry, .approval-time {
                p:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
        
        table {
            margin-bottom: 0px;
            
            thead {
                background: $bga-yellow-highlight-mid;
                border-bottom: 4px solid $bga-yellow-highlight-shadow;
            }
            tbody {
                background: $bga-white;

                p {
                    margin-bottom: 0;
                }
            }
        }
    } 
    
    .disclaimer.ablis {
        //background: $bga-blue-black-background-lightest;
        border: none;
        border-top: 1px solid $bga-black;
        padding-top: 32px !important;

        h2 {
            font-size: 18px;
            margin-bottom: 16px
        }
        .leg_item {
            display: flex;
            column-gap: 8px;
            padding-bottom: 8px;

            &:last-of-type {
                padding-bottom: 0;
            }

            p, a {
                font-size: 14px;
                margin: 0;
                padding: 0;
            }
        }
    }


    // RESULTS PAGES
    .sticky-wrapper {
        margin: 0 -9999px;
        padding: 0 9999px;
        
        .sticky-header {
            padding: 32px 0;

            .top-row {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            h2.showing-number {
                font-size: 1.75rem;
                font-weight: 400;
                margin: 0;
                
                span {
                    font-weight: 600;
                }
            }
        }

        .recommendations-summary {
            display: flex;
            column-gap: 24px;
            flex-wrap: nowrap;

            .summary {
                background: $bga-yellow-highlight-light;
                padding: 16px;
                display: flex;
                flex-wrap: wrap;
                align-content: space-between;
                row-gap: 24px;

                &.regulation {
                    background: $bga-orange-highlight-light;
                }
                &.codes {
                    background: $bga-blue-highlight-light;
                }
                &.advisory {
                    background: $bga-purple-highlight-light;
                }
                h3 {
                    font-size: $h4-font-size;
                }
                a {
                    display: flex;
                    column-gap: 8px;
                    align-items: center;

                    &:visited {
                        color: $bga-blue-links;
                    }
                }
            }
            
        }

        
        &.fixed {
            background: $bga-teal-highlight-light;
            position: fixed;
            top: 0;
            z-index: 8500;
            box-shadow: 2px 2px 3px 0px rgba(51, 51, 51, 0.2);
            transition: top 1s linear;

            .fixed-hide {
                display: none;
            }
            .recommendations-summary {
                .summary {
                    padding: 8px 16px;
                    background: $bga-white;
                    width: 25%;
                }
            }
        }
        
        
    }

    #licences-group, #regulatory-obigations-group, #code-of-practice-group, #advisory-materials-group {
        font-weight: 400;
    }
    .result_group {
        display: flex;
        row-gap: 8px;
        flex-wrap: wrap;
    }
    .search_result_group {
        display: flex;
        row-gap: 24px;
        flex-wrap: wrap;
    }
    .ablis-result {
        border: $bga-component-border;
        width: 100%;

        .result-header {
            border-left: 8px solid $bga-yellow-highlight-shadow;
            background: $bga-white url(../assets/Chevron-down-black.svg) no-repeat;
            background-position: right 24px center;
            cursor: pointer;

            h3 {
                font-size: 1rem;
            }

            &:focus-visible {
                background-color: $bga-yellow-highlight-light;
            }
            &:hover {
                background-color: $bga-yellow-highlight-light;
            }
        }
        &.open {
            .result-header {
                background-color: $bga-yellow-highlight-light;
                background-image: url(../assets/Chevron-up-black.svg);
            }
        }
    
        .result-content {
            background: $bga-white;
            border-left: 8px solid $bga-yellow-highlight-shadow;
            display: flex;
            flex-wrap: wrap;
            row-gap: 24px;

            .description {
                background: $bga-blue-black-background-lightest;
                padding: 16px;
                
                .description-content {
                    overflow-y: hidden;

                    p, a, li {
                        font-size: .875rem;
                        line-height: 1.75;
                    }

                    div {
                        >*:last-child {
                            padding-bottom: 0;
                            margin-bottom: 0;
                    
                            >li:last-child {
                                padding-bottom: 0;
                                margin-bottom: 0;
                            }
                        }
                    
                        >*:first-child {
                            padding-top: 0;
                            margin-top: 0;
                        }
                    }
                }
                .expand {
                    font-weight: 600;
                    text-decoration: underline;
                    cursor: pointer;
                    font-size: .875rem;
                    line-height: 1.75;
                }
            }

            .secondary {
                display: flex; 
                column-gap: 8px;
                align-items: center;
                width: 100%;
                flex-wrap: wrap;
                row-gap: 8px;
            }
            .tag {
                background: $bga-yellow-highlight-light;
                border: solid 2px $bga-yellow-highlight-shadow;
                margin: 0;
                border-radius: 0;
                font-size: .75rem;
                line-height: 1.5;

                &.ablis-orange {
                    background: $bga-orange-highlight-light;
                    border: solid 2px $bga-orange-highlight-shadow;
                }
                &.ablis-blue {
                    background: $bga-blue-highlight-light;
                    border: solid 2px $bga-blue-highlight-shadow;
                }
                &.ablis-purple {
                    background: $bga-purple-highlight-light;
                    border: solid 2px $bga-purple-highlight-shadow;
                }
            }
            .cta-links {
                display: flex; 
                column-gap: 24px;
                row-gap: 24px;
                align-items: center;
                width: 100%;

                .learn-more {
                    min-height: 44px !important;
                    height: 44px !important;
                    padding: 0 48px 0 24px;
                    background: url(../assets/icon-arrow-right-black.svg) no-repeat;
                    background-position: right 24px center;

                    &:focus-visible {
                        border-color: $bga-blue-links;
                        color: $bga-white;
                        background: $bga-blue-links url(../assets/icon-arrow-right-white.svg) no-repeat;
                        background-position: right 24px center;
                    }
                    &:hover {
                        border-color: $bga-blue-background-dark;
                        color: $bga-white;
                        background: $bga-blue-background-dark url(../assets/icon-arrow-right-white.svg) no-repeat;
                        background-position: right 24px center;
                    }
                    &:active {
                        border-color: $bga-blue-footer;
                        color: $bga-white;
                        background: $bga-blue-footer url(../assets/icon-arrow-right-white.svg) no-repeat;
                        background-position: right 24px center;
                    }
                }

                .add-task {
                    background: url(../assets/icon-plus-black.svg) no-repeat;
                    background-position: right center;
                    color: $bga-black;
                    text-decoration: none;
                    padding: 0 22px 0 0;
                    font-weight: 600;

                    &:focus-visible {
                        border: $bga-component-focus-border;
                        border-radius: $bga-focus-radius;
                    }
                    &:hover {
                        text-decoration: underline;
                    }

                }
            }
        }


        &.regulatory-obligation {
            .result-header {
                border-left: 8px solid $bga-orange-highlight-shadow;

                &:focus-visible {
                    background-color: $bga-orange-highlight-light;
                }
                &:hover {
                    background-color: $bga-orange-highlight-light;
                }
            }
            &.open {
                .result-header {
                    background-color: $bga-orange-highlight-light;
                    
                }
            }
            .result-content {
                border-left: 8px solid $bga-orange-highlight-shadow;
            }
        }


        &.code-of-practice {
            .result-header {
                border-left: 8px solid $bga-blue-highlight-shadow;

                &:focus-visible {
                    background-color: $bga-blue-highlight-light;
                }
                &:hover {
                    background-color: $bga-blue-highlight-light;
                }
            }
            &.open {
                .result-header {
                    background-color: $bga-blue-highlight-light;
                    
                }
            }
            .result-content {
                border-left: 8px solid $bga-blue-highlight-shadow;
            }
        }


        &.advisory-material {
            .result-header {
                border-left: 8px solid $bga-purple-highlight-shadow;

                &:focus-visible {
                    background-color: $bga-purple-highlight-light;
                }
                &:hover {
                    background-color: $bga-purple-highlight-light;
                }
            }
            &.open {
                .result-header {
                    background-color: $bga-purple-highlight-light;
                    
                }
            }
            .result-content {
                border-left: 8px solid $bga-purple-highlight-shadow;
            }
        }
    }

    .ablis-search-result {
        border: $bga-component-border;
        width: 100%;

        .result-content {
            background: $bga-white;
            border-left: 8px solid $bga-yellow-highlight-shadow;
            display: flex;
            flex-wrap: wrap;
            row-gap: 32px;

            h3 {
                font-size: 1.125rem;    
            }

            .description {
                background: $bga-blue-black-background-lightest;
                padding: 16px;
                
                .description-content {
                    overflow-y: hidden;

                    p, a, li {
                        font-size: .875rem;
                        line-height: 1.75;
                    }

                    div {
                        >*:last-child {
                            padding-bottom: 0;
                            margin-bottom: 0;
                    
                            >li:last-child {
                                padding-bottom: 0;
                                margin-bottom: 0;
                            }
                        }
                    
                        >*:first-child {
                            padding-top: 0;
                            margin-top: 0;
                        }
                    }
                }
                .expand {
                    font-weight: 600;
                    text-decoration: underline;
                    cursor: pointer;
                    font-size: .875rem;
                    line-height: 1.75;
                }
            }

            .secondary {
                display: flex; 
                column-gap: 8px;
                align-items: center;
                width: 100%;
                flex-wrap: wrap;
                row-gap: 8px;
            }
            .tag {
                background: $bga-yellow-highlight-light;
                border: solid 2px $bga-yellow-highlight-shadow;
                margin: 0;
                border-radius: 0;
                font-size: .75rem;
                line-height: 1.5;

                &.ablis-orange {
                    background: $bga-orange-highlight-light;
                    border: solid 2px $bga-orange-highlight-shadow;
                }
                &.ablis-blue {
                    background: $bga-blue-highlight-light;
                    border: solid 2px $bga-blue-highlight-shadow;
                }
                &.ablis-purple {
                    background: $bga-purple-highlight-light;
                    border: solid 2px $bga-purple-highlight-shadow;
                }
            }
        }


        &.regulatory-obligation {
            .result-content {
                border-left: 8px solid $bga-orange-highlight-shadow;
            }
        }


        &.code-of-practice {
            .result-content {
                border-left: 8px solid $bga-blue-highlight-shadow;
            }
        }


        &.advisory-material {
            .result-content {
                border-left: 8px solid $bga-purple-highlight-shadow;
            }
        }
    }


    // Styles for description clone - used to get heights and then removed.
    .serviceSection.clone {
        p, a, li {
            font-size: .875rem;
            line-height: 1.75;
        }
    }
    // Temp index page
    #index-page {
        p, a {
            margin-bottom: 8px;
            font-size: 14px;
        }
    }
}