#ablis-final-prototype {
    height: 100%;
    margin: 0;
    padding: 0;

    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #subsite-header {
        .strap-wrapper {
            margin: 0 -9999px;
            padding: 8px 9999px;
            background: $bga-blue-footer;
        }

        .main-header-wrapper {
            margin: 0 -9999px;
            padding: 0 9999px;
            background: $bga-blue-background-dark;
        }

       .main-header {
            img {
                width: 100%;
                max-width: 450px;
                height: auto;
            }
            .tool-title {
                h1 {
                    color: $bga-white;
                    font-weight: 600;
                    font-size: 2rem;
                }
            }
       }


    }
    #page-header .header-content {
        padding: 32px;
    }
    #footer {
        box-shadow: 0 50vh 0 50vh $bga-blue-links;
        background: $bga-blue-links;
    }
    .subsite-footer.ablis-footer {
        a {
            text-decoration: none;
            
            &:focus-visible {
                background-color: transparent !important;
                border: 2px solid $bga-white;
                border-radius: $bga-focus-radius;
                text-decoration: underline;
            }
            &:hover {
                background-color: transparent !important;
                text-decoration: underline;
            }
        }

        .contact-container {
            background: $bga-blue-footer;
            margin: 0 -9999px;
            padding: 0 9999px;

            .contact-details-wrapper {
                flex-wrap: nowrap;
                row-gap: 48px;
                column-gap: 32px;

                h2, h3, h4, h5, p, a {
                    color: $bga-white;
                    //text-decoration: none;
                }
                h3, h3 a {
                    font-weight: 400;
                    font-size: 1.625rem;
                    width: 100%;

                    strong {
                        font-weight: 700;
                    }
                }
            }
            .federal-wrapper {
                display: block;
                flex: 1;
            
                a.phone {
                    font-weight: 600;
                    font-size: 1.375rem;
                    white-space: nowrap;
                    cursor: pointer;
                }
            }
            .state-wrapper {
                flex: 1;   
            }

            .state-contact {
                border: $bga-white, solid 1px;

                h4, p {
                    margin-bottom: 8px;
                }
            }
            select {
                background-color: $bga-blue-links;
                background-image: url(../assets/Chevron-down-white.svg);
                color: $bga-white;
                border: none;
                font-size: 1.1875rem;

                &:focus-visible {
                    background-color: $bga-blue-background-light !important;
                    color: $bga-black;
                    border: $bga-component-focus-border;
                    border-radius: $bga-focus-radius;

                    background-image: url(../assets/Chevron-down-black.svg);
                }


            }
            .contact-details {
                background: $bga-blue-footer;
            }
        }

        .key-links-container {
            background: $bga-blue-links;

            .links-copyright-wrapper {
                row-gap: 24px;
                flex-wrap: wrap;
            }

            .copyright {
                background: none;
                padding: 0 !important;

                p {
                    font-size: 1rem;
                }
            }
            .links ul {
                display: flex;
                flex-wrap: wrap;
                column-gap: 16px;
                row-gap: 16px;

                li {
                    margin: 0;
                    padding: 0;

                    a {
                        font-weight: 400;
                    }
                }
            }
        }
    }

    .dark-teal-section {
        background: $bga-teal-highlight-mid;
        margin: 0 -9999px;
        padding: 32px 9999px 0;
    }
    .start-component-wrapper {
        background: $bga-white;
    }

    // QUESTION PAGES
    .ablis-dynamic-nav-wrapper .mobile-show {   
        display: none;
    }

    #ablis-dynamic-nav { //final prototype 
        background: $bga-blue-black-background-lightest;

        ul {
            margin: 0;
            padding: 0;

            li {
                list-style-type: none;
                color: $bga-blue-black-mid-dark;
                text-indent: 0;
                display: inline-flex;
                align-items: flex-start;
                column-gap: 8px;
                width: 100%;
                position: relative;

                &::after {
                    content: "";
                    width: 3px;
                    height: calc(100% + 16px);
                    background: $bga-blue-black-light;
                    position: absolute;
                    top: 38px;
                    left: 17.5px;
                }

                span.list-number {
                    background: $bga-white;
                    border: 3px solid $bga-blue-black-light;
                    border-radius: 50px;
                    position: relative;
                    width: 38px;
                    height: 38px;
                    display: flex;
                    flex-shrink: 0;
                    align-items: center;
                    justify-content: center;
                    font-weight: 700;
                    font-size: 1.125rem;
                }
    
                a {
                    text-decoration: none;
                    color: $bga-blue-black-mid-dark;
                    font-weight: 400;
                    margin-top: 6px;

                    &:hover {
                        background: none;
                    }
                    &:focus-visible {
                        background: none;
                    }
                }
                &:first-of-type {
                    span.list-number::before {
                        display: none;
                    }
                }
                &.last-step {
                    &::after {
                        display: none;
                    }
                }
    
                &::before {
                    display: none;
                }
               
                
                &.visited {
                    span.list-number {
                        border: 3px solid $bga-blue-links;
                        color: $bga-blue-links;

                            &::before {
                                background: $bga-blue-links;
                            }
                    }
                    a {
                        color: $bga-blue-links;
                        text-decoration: underline;
                    }
                }
                &.completed {
                    &::after {
                        background: $bga-blue-links;
                    }
                    span.list-number {
                        background: $bga-blue-links url(../assets/icon-tick-white.svg) no-repeat;
                        background-position: center center;
                        background-size: 18px 14px;
                        border: 3px solid $bga-blue-links;
                        color: $bga-white;
                        text-indent: -9999px;
                    }
                    a {
                        color: $bga-blue-links;
                        text-decoration: underline;
                        font-weight: 600;
                    }
                }
                &.active {
                    span.list-number {
                        border: 3px solid $bga-blue-links;
                        color: $bga-blue-links;
                        background-color: $bga-white;
                    }
                    a {
                        color: $bga-blue-links;
                        font-weight: 700;
                        text-decoration: none;
                    }
                }

                &.completed.active {
                    span.list-number {
                        background-image: url(../assets/icon-tick-blue.svg);
                    }
                }
            }

            &.static-step.initial-state {
                li::after {
                    display: none;
                }
            }
        }

    }


    .field-wrapper {
        background: $bga-teal-highlight-light;

        .field-header {
            background: $bga-teal-highlight-mid;
        }
        .field-content {
            width: 100%;
            flex-wrap: wrap;
            row-gap: 32px;
        }
    }
    .dynamic-list-ablis {
        background: none;
        margin-top: 0;
        width: 100%;

        .list-wrapper {
            position: relative;
            width: 100%;
        }

        h4 {
            color: $bga-black;
        }

        input {
            border: solid $bga-black 1px;
            width: 100%;
            padding: 12px 48px 12px 16px;
            font-size: 1rem;
            line-height: 1.75;
            height: 56px;
            background: $bga-white;
            z-index: 4000;
            text-overflow: ellipsis;

            &::placeholder {
                color: $bga-black;
            }

            &::-webkit-calendar-picker-indicator {
                display: none !important;
            }

            &:focus,
            &:focus-visible {
                border: $bga-text-focus-border;
                border-radius: $bga-focus-radius;
                outline: none;
            }
        }
        a#list-close {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 0px;
            height: 56px;
            top: 0;
            z-index: 5000;
            background: none;

            svg {
                display: block;
            }

            &:hover {
                cursor: pointer;
            }

            display: none;

            &.show {
                display: flex;
            }
        }

        a#list-toggle {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 5000;
            width: 56px;
            box-sizing: border-box;
            height: 56px;
            border: none;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            background: $bga-blue-background-dark;

            svg {
                display: block;
            }

            &:focus,
            &:focus-visible {
                border: $bga-text-focus-border;
                border-radius: $bga-focus-radius;
                background: $bga-blue-highlight-light;

                svg,
                svg path {
                    fill: $bga-blue-background-dark;
                }
            }

            &:hover,
            &:active {
                background: $bga-blue-links;

                svg,
                svg path {
                    fill: $bga-white;
                }
            }

        }

        .options-wrapper {
            max-height: 400px;
            overflow-y: scroll;
            overflow-y: auto;
            padding: 0;
            margin: 0;
        }
        ul {
            background: $bga-white;
            border: $bga-black 1px solid;
            border-top: none;
            padding: 0;
            margin: 0;
            display: none;

            &.open {
                display: block;
            }
            p {
                padding: 12px 16px;
                margin: 0;
                display: block;
                background: $bga-blue-black-light;
                font-weight: 600;

                &.hidden {
                    display: none;
                }
            }

            li {
                list-style: none;
                padding: 12px 16px;
                margin: 0;
                display: block;
                text-indent: 0;

                &.related {
                    background: $bga-blue-black-lightest;
                }

                &::before {
                    display: none;
                }

                &.hidden {
                    display: none;
                }

                span {
                    font-weight: 700;
                    background: $bga-blue-background-light;
                }

                &:focus {
                    background: $bga-blue-background-dark;
                    color: $bga-white;
                }

                &:hover {
                    background: $bga-blue-footer;
                    color: $bga-white;

                    span {
                        background: $bga-blue-background-dark;
                    }
                }
            }
        }

        .no-result {
            background: $bga-red-fail-light;
            border: 1px solid $bga-red-fail-dark;
            border-top: none;
            display: none;
            padding: 12px 16px;

            &.show {
                display: block;
            }

            p {
                color: $bga-red-fail-dark;
            }
        }

        // Dynamic list only
        &.list {
            .dynamic-list {
                input {
                    width: 100%;
                }

                a#list-close {
                    right: 0px;
                }
            }
        } 
        
        .error {
            input {
                border: $bga-red-fail-dark 3px solid !important;
            }
        }
    
        &.multi-select {
            ul {
                max-height: 400px;
                overflow-y: scroll;
            }
            .input-wrapper {
                border: solid 1px $bga-black;
                display: flex;
                gap: 8px;
                flex-wrap: wrap;
                padding: 8px 16px;
                min-height: 56px;
                background: $bga-white;
            }

            input { 
                border: none;
                //background: aliceblue;
                margin: 0;
                padding: 0;
                display: block;
                flex-grow: 1;
                width: auto;
                flex-basis: auto;
                height: auto;
                
            }
            
            .ablis-selected-option {
                background: $bga-teal-highlight-light;
                border: solid 2px $bga-teal-highlight-dark;
                border-radius: 50px;
                padding: 4px 8px;
                height: auto;
                margin: 0;
                display: inline-flex;
                column-gap: 8px;
                align-items: center;
                flex: 0 0 auto;
        
                p {
                    margin: 0;
                    padding: 0;
                    display: block;
                    font-weight: 600;
                }
                .selected-remove {
                    text-indent: -9999px;
                    width: 16px;
                    height: 16px;
                    background: url(../assets/icon-close-black.svg) no-repeat;
                    background-size: 16px 16px;
                    border: none;
                    box-shadow: none;
                }
            }
    
        }
    }
    .yes-no-answers {
        display: flex;
        flex-wrap: nowrap;
        column-gap: 8px;

        .radio-button {
            width: 50%;
        }
    }
    .question-section {
        row-gap: 24px;
    }
    #location-section.question-section {
        display: flex;
        flex-wrap: wrap;
        row-gap: 24px;

        .field-wrapper {
            width: 100%;
        }
    }
    .question-wrapper {
        display: flex;
        row-gap: 24px;
        flex-wrap: wrap;

        label, .help-wrapper {
            width: 100%;
        }   
    }

    .dynamic-section {
        background: $bga-blue-black-lightest;
        padding: 24px;
        display: flex;
        row-gap: 32px;
        flex-wrap: wrap;

        .question {
            width: 100%;
        }
    }

    p.error-message {
        color: $bga-red-fail-dark;
    }


    // INFORMATION PAGES
    .header-administered {
        background: $bga-white;
        border-bottom: 8px solid $bga-yellow-highlight-shadow;
        display: flex;
        align-items: center;
        column-gap: 16px;

        .service {
            background: $bga-yellow-highlight-light;
            border: 2px solid $bga-yellow-highlight-shadow;
            cursor: default;
            padding: 4px 8px;
            font-weight: 600;
            font-size: 1.125rem;
            display: inline-flex;
            flex-shrink: 0;
        }

        .administered {
            display: flex;
            column-gap: 8px;

            .org-tag {
                flex-shrink: 0;
            }

            p {
                margin-bottom: 0
            }

        }


        &.Legalobligation {
            border-bottom-color: $bga-orange-highlight-shadow;

            .service {
                background: $bga-orange-highlight-light;
                border: 2px solid $bga-orange-highlight-shadow;
            }
        }

        &.Codeorstandard {
            border-bottom-color: $bga-blue-highlight-shadow;

            .service {
                background: $bga-blue-highlight-light;
                border: 2px solid $bga-blue-highlight-shadow;
            }
        }

        &.Guidance {
            border-bottom-color: $bga-purple-highlight-shadow;

            .service {
                background: $bga-purple-highlight-light;
                border: 2px solid $bga-purple-highlight-shadow;
            }
        }

    }
    .ablis-content-wrapper {
        padding: 0 32px;
    }

    .callout-box.contact {
        .header-section {
            h3 {
                margin-bottom: 8px;
            }

            p {
                margin-bottom: 8px;
                display: flex;
                column-gap: 16px;

                &:last-of-type {
                    margin-bottom: 0;
                }

                strong {
                    min-width: 150px;
                }
            }
        }

        .component-text {
            display: table;

            p {
                display: table-row;
                margin: 0;

                strong {
                    display: table-cell;
                    padding: 0 8px 16px 0; 
                }
                span {
                    display: table-cell;
                    padding: 0  0 16px 0; 
                }

                &:last-of-type {
                    strong {
                        padding: 0 8px 0 0; 
                    }
                    span {
                        padding: 0;
                    }
                }
            }
        }
    }

    .callout-box.ablis-apply {
        &.no-colour {
            background: none;
            border: none;
        }
        .rego-resources {
            .resource {
                width: 100%;
                margin-bottom: 8px;

                &:last-of-type {
                    margin-bottom: 8px;
                }

                .rego-link {
                    width: 100%;
                    background: $bga-yellow-highlight-light;
                    display: flex;
                    column-gap: 16px;
                    align-items: center;
                    padding: 0;
                    text-decoration: none;

                    .link-text-wrapper {
                        padding: 24px 24px 24px 0;
                        display: flex;
                        flex-wrap: wrap;
                        row-gap: 8px;
                    }

                    .task {
                        font-weight: 600;
                        width: 120px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        align-self: stretch;
                        background: $bga-yellow-highlight-dark;
                        flex-shrink: 0;
                        color: $bga-black;
                        text-decoration: none;
                        padding: 24px;
                        border-left: 8px solid $bga-yellow-highlight-shadow;
                        font-size: 18px;
                    }

                    .link-text {
                        display: inline-flex;
                        align-items: center;
                        padding: 0;
                        color: $bga-blue-links;
                        font-weight: 600;
                        text-decoration: underline;
                        width: 100%;
                    }
                    .mini.instruction {
                        padding-left: 24px;
                        background: url('../assets/icon-external-blue.svg') no-repeat left center;
                        background-size: 16px 16px;
                    }

                    &.pdf-icon,
                    &.doc-icon {
                        .mini.instruction {
                            background: url('../assets/iconography/icon-download-blue.svg') no-repeat left center;
                            background-size: 16px 16px;
                        }
                    }

                    &.no-link {
                        cursor: default;

                        .link-text {
                            color: $bga-black;
                            font-weight: 400;
                            text-decoration: none;
                        }

                        &:hover {
                            background: $bga-yellow-highlight-light;

                            .task {
                                background: $bga-yellow-highlight-dark;
                                border-left: 8px solid $bga-yellow-highlight-shadow;
                            } 
                        }
                    }

                    &:visited {
                        color: $bga-blue-links;
                    }
                    &:focus-visible {
                        background: $bga-yellow-highlight-mid;
                        border: $bga-component-focus-border;
                        .task {
                            background-color: $bga-yellow-links-background;
                            border-left-color: darken($bga-yellow-highlight-shadow, 10%);
                        }
                    }
                    &:hover {
                        background: $bga-yellow-highlight-mid;

                        .task {
                            background-color: $bga-yellow-links-background;
                            border-left-color: darken($bga-yellow-highlight-shadow, 10%);
                        } 
                    }

                }
            }
        }

    }

    .disclaimer.ablis {
        border: none;
        border-top: 1px solid $bga-black;
        padding-top: 32px !important;

        h2 {
            font-size: 18px;
            margin-bottom: 16px
        }

        .leg_item {
            display: flex;
            column-gap: 8px;
            padding-bottom: 8px;

            &:last-of-type {
                padding-bottom: 0;
            }

            p,
            a {
                font-size: 14px;
                margin: 0;
                padding: 0;
            }
        }
    }

    .ablis-content-wrapper {
        padding: 0 32px;
    }


    // RESULTS PAGES
    .sticky_background {
        background: none;

        &.fixed {
            background: $bga-teal-highlight-light;
            position: fixed;
            top: 0;
            z-index: 8500;
            box-shadow: 2px 2px 3px 0px rgba(51, 51, 51, 0.2);
            transition: top 1s linear;
            width: 100%;

            .fixed-hide {
                display: none;
            }

            .sticky-header.teal {
                padding: 32px;
            }
            .recommendations-summary {
                .summary {
                    padding: 8px 16px;
                    background: $bga-white !important;
                    flex-wrap: nowrap;
                }
            }
        }
    }
    .sticky-wrapper {
        width: 100%;

        .sticky-header {
            padding: 32px 0;

            .top-row {
                display: flex;
                justify-content: space-between;
                align-items: center;
                column-gap: 24px;
                flex-wrap: wrap;
                row-gap: 16px;
            }

            h2.showing-number {
                font-size: 1.75rem;
                font-weight: 400;
                margin: 0;

                span {
                    font-weight: 600;
                }
            }

            .modal-trigger-ablis-task-list {
                padding: 0 24px;
                column-gap: 24px;
                
                .task-counter {
                    display: inline-flex;
                    color: $bga-white;
                    align-items: center;
                    justify-content: center;
                    background: $bga-blue-background-dark;
                    height: 32px;
                    width: 32px;
                    border-radius: 40px;
                    font-size: 1.125rem;
                    font-weight: 600;
                }
                &:hover {
                    .task-counter {
                        color: $bga-black;
                        background: $bga-white;
                    }
                   }
            }
        }

        .sticky-header.teal {
            background: $bga-teal-highlight-light;
            padding: 0 32px 32px 32px; 
        }

    }
    
    .recommendations-summary.teal {
        display: flex;
        column-gap: 24px;
        row-gap: 24px;
        flex-wrap: wrap;
        background: $bga-teal-highlight-light;
        
        .summary {
            background: $bga-white;
            padding: 16px;
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            row-gap: 24px;
            flex: 0 0 calc(25% - 18px);

            border-left: $bga-yellow-highlight-shadow solid 8px;

            &.regulation {
                border-left: $bga-orange-highlight-shadow solid 8px;
            }

            &.codes {
                border-left: $bga-blue-highlight-shadow solid 8px;
            }

            &.advisory {
                border-left: $bga-purple-highlight-shadow solid 8px;
            }
            a {
                font-size: 1.125rem;
                display: block;
                font-weight: 400;
                color: $bga-blue-links;

                span {
                    font-weight: 600;
                }

                &:visited {
                    color: $bga-blue-links;
                }
            }
        }
    }
    
    .ablis-filters {
        .checkbox-item input {
            cursor: pointer;
        }
    }
    #clear-filters {
        column-gap: 8px;
        color: $bga-black;
        font-weight: 400;
        border: none;
        padding: 0;
        margin: 0;
        background: none;
        cursor: pointer;
        align-items: center;

        svg {
            width: 20px;
            height: 20px;
            fill: $bga-black;
        }
    }

    #licences-group,
    #regulatory-obigations-group,
    #code-of-practice-group,
    #advisory-materials-group {
        font-weight: 400;
    }

    .result_group {
        display: flex;
        row-gap: 8px;
        flex-wrap: wrap;
    }

    .search_result_group {
        display: flex;
        row-gap: 24px;
        flex-wrap: wrap;
    }

    .ablis-result {

        border: $bga-component-border;
        width: 100%;

        .result-header {
            border-left: 8px solid $bga-yellow-highlight-shadow;
            background: $bga-white url(../assets/Chevron-down-black.svg) no-repeat;
            background-position: right 24px center;
            cursor: pointer;

            h3 {
                font-size: 1rem;

                a {
                    color: $bga-blue-links;

                    &:visited {
                        color: $bga-blue-links;
                    }
                }
            }

            &:focus-visible {
                background-color: $bga-yellow-highlight-light;
            }

            &:hover {
                background-color: $bga-yellow-highlight-light;
            }
        }

        &.open {
            .result-header {
                background-color: $bga-yellow-highlight-light;
                background-image: url(../assets/Chevron-up-black.svg);
            }
        }

        .result-content {
            background: $bga-white;
            border-left: 8px solid $bga-yellow-highlight-shadow;
            display: flex;
            flex-wrap: wrap;
            row-gap: 24px;

            .description {
                background: $bga-blue-black-background-lightest;
                padding: 16px;
                width: 100%;

                .description-content {
                    overflow-y: hidden;

                    p,
                    a,
                    li {
                        font-size: .875rem;
                        line-height: 1.75;
                    }

                    div {
                        >*:last-child {
                            padding-bottom: 0;
                            margin-bottom: 0;

                            >li:last-child {
                                padding-bottom: 0;
                                margin-bottom: 0;
                            }
                        }

                        >*:first-child {
                            padding-top: 0;
                            margin-top: 0;
                        }
                    }
                }

                .expand {
                    font-weight: 600;
                    text-decoration: underline;
                    cursor: pointer;
                    font-size: .875rem;
                    line-height: 1.75;
                }
                &.simple {
                    .description-content { 
                        //font-weight: 600; 
                        padding-bottom: 24px;
                    }
                }
            }

            .secondary {
                display: flex;
                column-gap: 8px;
                align-items: center;
                width: 100%;
                flex-wrap: wrap;
                row-gap: 8px;
            }

            .tag {
                background: $bga-yellow-highlight-light;
                border: solid 2px $bga-yellow-highlight-shadow;
                margin: 0;
                border-radius: 0;
                font-size: .75rem;
                line-height: 1.5;

                &.ablis-orange {
                    background: $bga-orange-highlight-light;
                    border: solid 2px $bga-orange-highlight-shadow;
                }

                &.ablis-blue {
                    background: $bga-blue-highlight-light;
                    border: solid 2px $bga-blue-highlight-shadow;
                }

                &.ablis-purple {
                    background: $bga-purple-highlight-light;
                    border: solid 2px $bga-purple-highlight-shadow;
                }
            }

            .cta-links {
                display: flex;
                column-gap: 24px;
                row-gap: 24px;
                align-items: center;
                width: 100%;

                .learn-more {
                    min-height: 44px !important;
                    height: 44px !important;
                    padding: 0 24px;
                    
                    &:focus, &:focus-visible {
                        border-color: $bga-blue-links;
                        color: $bga-white;
                        
                    }

                    &:hover {
                        border-color: $bga-blue-background-dark;
                        color: $bga-white;
                        svg {
                            fill: pink;
                        }
                    }

                    &:active {
                        border-color: $bga-blue-footer;
                        color: $bga-white;
                        
                    }
                }

               
            }
        }


        &.regulatory-obligation {
            .result-header {
                border-left: 8px solid $bga-orange-highlight-shadow;

                &:focus-visible {
                    background-color: $bga-orange-highlight-light;
                }

                &:hover {
                    background-color: $bga-orange-highlight-light;
                }
            }

            &.open {
                .result-header {
                    background-color: $bga-orange-highlight-light;

                }
            }

            .result-content {
                border-left: 8px solid $bga-orange-highlight-shadow;
            }
        }


        &.code-of-practice {
            .result-header {
                border-left: 8px solid $bga-blue-highlight-shadow;

                &:focus-visible {
                    background-color: $bga-blue-highlight-light;
                }

                &:hover {
                    background-color: $bga-blue-highlight-light;
                }
            }

            &.open {
                .result-header {
                    background-color: $bga-blue-highlight-light;

                }
            }

            .result-content {
                border-left: 8px solid $bga-blue-highlight-shadow;
            }
        }


        &.advisory-material {
            .result-header {
                border-left: 8px solid $bga-purple-highlight-shadow;

                &:focus-visible {
                    background-color: $bga-purple-highlight-light;
                }

                &:hover {
                    background-color: $bga-purple-highlight-light;
                }
            }

            &.open {
                .result-header {
                    background-color: $bga-purple-highlight-light;

                }
            }

            .result-content {
                border-left: 8px solid $bga-purple-highlight-shadow;
            }
        }
    }

    .ablis-search-result {
        border: $bga-component-border;
        width: 100%;

        .result-content {
            background: $bga-white;
            border-left: 8px solid $bga-yellow-highlight-shadow;
            display: flex;
            flex-wrap: wrap;
            row-gap: 32px;

            h3 {
                font-size: 1.125rem;

                a {
                    color: $bga-blue-links;

                    &:visited {
                        color: $bga-blue-links;
                    }
                }
            }

            .description {
                background: $bga-blue-black-background-lightest;
                padding: 16px;


                .description-content {
                    overflow-y: hidden;

                    p,
                    a,
                    li {
                        font-size: .875rem;
                        line-height: 1.75;
                    }

                    div {
                        >*:last-child {
                            padding-bottom: 0;
                            margin-bottom: 0;

                            >li:last-child {
                                padding-bottom: 0;
                                margin-bottom: 0;
                            }
                        }

                        >*:first-child {
                            padding-top: 0;
                            margin-top: 0;
                        }
                    }
                }

                .expand {
                    font-weight: 600;
                    text-decoration: underline;
                    cursor: pointer;
                    font-size: .875rem;
                    line-height: 1.75;
                }
            }

            .secondary {
                display: flex;
                column-gap: 8px;
                align-items: center;
                width: 100%;
                flex-wrap: wrap;
                row-gap: 8px;
            }

            .tag {
                background: $bga-yellow-highlight-light;
                border: solid 2px $bga-yellow-highlight-shadow;
                margin: 0;
                border-radius: 0;
                font-size: .75rem;
                line-height: 1.5;

                &.ablis-orange {
                    background: $bga-orange-highlight-light;
                    border: solid 2px $bga-orange-highlight-shadow;
                }

                &.ablis-blue {
                    background: $bga-blue-highlight-light;
                    border: solid 2px $bga-blue-highlight-shadow;
                }

                &.ablis-purple {
                    background: $bga-purple-highlight-light;
                    border: solid 2px $bga-purple-highlight-shadow;
                }
            }
        }


        &.regulatory-obligation {
            .result-content {
                border-left: 8px solid $bga-orange-highlight-shadow;
            }
        }


        &.code-of-practice {
            .result-content {
                border-left: 8px solid $bga-blue-highlight-shadow;
            }
        }


        &.advisory-material {
            .result-content {
                border-left: 8px solid $bga-purple-highlight-shadow;
            }
        }
    }

    .modal-example .teal-container {
        background: $bga-teal-highlight-light;
        column-gap: 16px;
        align-items: center;
    }
   

    // KEYWORD SEARCH
    .predictive-list-ablis {
        background: none;
        margin-top: 0;
        width: 100%;

        .list-wrapper {
            position: relative;
            width: 100%;
        }

        h4 {
            color: $bga-black;
        }

        input {
            border: solid $bga-black 1px;
            width: 100%;
            padding: 12px 48px 12px 16px;
            font-size: 1rem;
            line-height: 1.75;
            height: 56px;
            background: $bga-white;
            z-index: 4000;
            text-overflow: ellipsis;

            &::placeholder {
                color: $bga-black;
            }

            &::-webkit-calendar-picker-indicator {
                display: none !important;
            }

            &:focus,
            &:focus-visible {
                border: $bga-text-focus-border;
                border-radius: $bga-focus-radius;
                outline: none;
            }
        }
        a#list-close {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 0px;
            height: 56px;
            top: 0;
            z-index: 5000;
            background: none;

            svg {
                display: block;
            }

            &:hover {
                cursor: pointer;
            }

            display: none;

            &.show {
                display: flex;
            }
        }

        .options-wrapper {
            max-height: 400px;
            overflow-y: scroll;
            padding: 0;
            margin: 0;
        }
        ul {
            background: $bga-white;
            border: $bga-black 1px solid;
            border-top: none;
            padding: 0;
            margin: 0;
            display: none;

            &.open {
                display: block;
            }
            p {
                padding: 12px 16px;
                margin: 0;
                display: block;
                background: $bga-blue-black-light;
                font-weight: 600;

                &.hidden {
                    display: none;
                }
            }

            li {
                list-style: none;
                padding: 12px 16px;
                margin: 0;
                display: block;
                text-indent: 0;

                &.related {
                    background: $bga-blue-black-lightest;
                }

                &::before {
                    display: none;
                }

                &.hidden {
                    display: none;
                }

                span {
                    font-weight: 700;
                    background: $bga-blue-background-light;
                }

                &:focus {
                    background: $bga-blue-background-dark;
                    color: $bga-white;
                }

                &:hover {
                    background: $bga-blue-footer;
                    color: $bga-white;

                    span {
                        background: $bga-blue-background-dark;
                    }
                }
            }
        }

        .no-result {
            background: $bga-red-fail-light;
            border: 1px solid $bga-red-fail-dark;
            border-top: none;
            display: none;
            padding: 12px 16px;

            &.show {
                display: block;
            }

            p {
                color: $bga-red-fail-dark;
            }
        }

        // Dynamic list only
        &.list {
            .dynamic-list {
                input {
                    width: 100%;
                }

                a#list-close {
                    right: 0px;
                }
            }
        } 
        
        .error {
            input {
                border: $bga-red-fail-dark 3px solid !important;
            }
        }
    
        &.multi-select {
            ul {
                max-height: 400px;
                overflow-y: scroll;
            }
            .input-wrapper {
                border: solid 1px $bga-black;
                display: flex;
                gap: 8px;
                flex-wrap: wrap;
                padding: 8px 16px;
                min-height: 56px;
                background: $bga-white;
            }

            input { 
                border: none;
                //background: aliceblue;
                margin: 0;
                padding: 0;
                display: block;
                flex-grow: 1;
                width: auto;
                flex-basis: auto;
                height: auto;
                
            }
            
            .ablis-selected-option {
                background: $bga-teal-highlight-light;
                border: solid 2px $bga-teal-highlight-dark;
                border-radius: 50px;
                padding: 4px 8px;
                height: auto;
                margin: 0;
                display: inline-flex;
                column-gap: 8px;
                align-items: center;
                flex: 0 0 auto;
        
                p {
                    margin: 0;
                    padding: 0;
                    display: block;
                    font-weight: 600;
                }
                .selected-remove {
                    text-indent: -9999px;
                    width: 16px;
                    height: 16px;
                    background: url(../assets/icon-close-black.svg) no-repeat;
                    background-size: 16px 16px;
                    border: none;
                    box-shadow: none;
                }
            }
    
        }
    }

    // Styles for description clone - used to get heights and then removed.
    .serviceSection.clone {

        p,
        a,
        li {
            font-size: .875rem;
            line-height: 1.75;
        }
    }

    @media ( max-width: 992px ) {
        .recommendations-summary.teal {
            .summary {
                background: $bga-white;
                display: flex;
                flex-wrap: wrap;
                align-content: space-between;
                row-gap: 24px;
                flex: 0 0 calc(50% - 12px);
            }
        }
        
    }

    @media ( max-width: 768px ) {
        .ablis-dynamic-nav-wrapper button.mobile-show {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            background: $bga-blue-black-background-lightest;
            border: none;
            outline: none;

            p {
                font-weight: 400;
            }
            strong {
                font-weight: 600;
            }
            svg {
                height: 20px;
                min-width: 20px;
                width: 20px;
                fill: $bga-black;
            }

            &.open svg {
                transform: scaleY(-1);
            }

        }
        #ablis-dynamic-nav {
            display: none;

            ul {
                li {
                    
                    &::after {
                        left: 15px;
                        top: 32px;
                    }
    
                    span.list-number {
                        width: 32px;
                        height: 32px;
                        border-width: 2px;
                        font-size: .875rem;
                    } 
                    a {
                        font-size: .875rem;
                        margin-top: 3px;
                    }      
                
                }
            }
        }
        .header-administered {
            flex-wrap: wrap;
            row-gap: 16px;
        }
        .callout-box.contact {
            .component-text {
                display: flex;
                row-gap: 16px;
                flex-wrap: wrap;
    
                p {
                    display: flex;
                    margin: 0;
                    row-gap: 0;
                    flex-wrap: wrap;
                    width: 100%;
    
                    strong, span {
                        display: block;
                        padding: 0; 
                        width: 100%;
                    }
    
                    &:last-of-type {
                        strong, span {
                            padding: 0; 
                        }
                    }
                }
            }
        }
      
        .subsite-footer.ablis-footer {
            .contact-container {
                .contact-details-wrapper {
                    flex-wrap: wrap;
                }
                .federal-wrapper, .state-wrapper {
                    width: 100%;
                    flex: none;
                }
            }
        }
       
    }


    @media ( max-width: 576px ) {
        #page-header .header-content {
            padding: 24px 0;
        }
        #subsite-header .main-header {
            padding: 16px 0 !important;
        }
        #subsite-header {
           .main-header {
                img {
                    max-width: 340px !important;
                }
                .tool-title {
                    h1 {
                        font-size: 1.5rem;
                    }
                }
           }
        }
        .subsite-footer.ablis-footer {
            padding: 0px !important;

            .key-links-container .copyright {
                background: none;
                padding: 0 !important;

                p {
                    font-size: 0.75rem;
                }
            }
        }
        .dark-teal-section {
            background: $bga-white;
        }
        .sticky_background {
            .sticky-wrapper .sticky-header.teal {
                margin-left: -32px;
                margin-right: -32px;
                padding: 0 32px 24px 32px;

                h2.showing-number {
                    font-size: 1rem;
                }
            }

            &.fixed {
                .sticky-wrapper .sticky-header.teal {
                    padding: 16px 32px 16px 32px;
                }
            }
        }
        .recommendations-summary.teal {
            margin-left: -32px;
            margin-right: -32px;
            row-gap: 16px;

            .summary {
                flex: 0 0 100%;
                padding: 8px 16px;
                h3 {
                    margin: 0 !important;
                }
                p {
                    display: none;
                }
                a {
                    font-size: 1rem;
                }
            }
        }

        .header-administered {
            margin-left: -24px;
            margin-right: -24px;
            padding: 16px 24px !important;
            width: calc(100% + 48px);
            max-width: none;
            border-bottom-width: 4px;

            p.service {
                font-size: 1rem;
                padding: 0px 8px;
            }
        }
        
        .ablis-content-wrapper {
            padding: 0;
        }
    }

    @media ( max-width: 350px ) {
        .ablis-result .result-content .cta-links .learn-more {
            width: 100%;
        }
    }


}


