#ablis-prototype {
    #subsite-header {
        .strap-wrapper {
            margin: 0 -9999px;
            padding: 0 9999px;
            background: $bga-blue-footer;
        }
        
        .main-header-wrapper {
            margin: 0 -9999px;
            padding: 0 9999px;
            background: $bga-blue-background-dark;
        }
    
    }
    .header-administered {
        background: $bga-white;
        border-bottom: 4px solid $bga-yellow-highlight-dark;
        display: flex;
        align-items: center;
        column-gap: 16px;

        .service {
            background: $bga-yellow-highlight-light;
            border: 2px solid $bga-yellow-highlight-dark;
            //border-radius: 4px;
            cursor: default;
            padding: 4px 8px !important;
            font-weight: 600;
            font-size: 1.125rem;
            display: inline-flex;
        }
        .administered {
            display: flex;
            column-gap: 8px;

            .org-tag {
                flex-shrink: 0;
            }
            
            p {
                margin-bottom: 0
            }
        }


        &.RegulatoryObligation {
            border-bottom: 4px solid $bga-orange-highlight-dark;

            .service {
                background: $bga-orange-highlight-light;
                border: 2px solid $bga-orange-highlight-dark;
            }
        }

        &.CodeofPractice {
            border-bottom: 4px solid $bga-blue-highlight-dark;

            .service {
                background: $bga-blue-highlight-light;
                border: 2px solid $bga-blue-highlight-dark;
            }
        }

        &.AdvisoryMaterial {
            border-bottom: 4px solid $bga-purple-highlight-dark;

            .service {
                background: $bga-purple-highlight-light;
                border: 2px solid $bga-purple-highlight-dark;
            }
        }
       
    }

    .callout-box.contact {
        .header-section {
            h3 {
                margin-bottom: 8px;
            }
            p {
                margin-bottom: 8px;
                display: flex;
                column-gap: 16px;

                &:last-of-type {
                    margin-bottom: 0;
                }

                strong {
                    min-width: 150px;
                }
            }
        }
        .component-text {
            p {
                margin-bottom: 8px;
                display: flex;
                column-gap: 16px;

                strong {
                    min-width: 150px;
                }
                
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }  
    .callout-box.ablis-apply {
        .rego-resources {
            display: flex;
            row-gap: 8px;
            flex-wrap: wrap;

            .resource {
                width: 100%;
                display: flex;
                column-gap: 16px;

                .rego-link {
                    width: 100%;
                    background: $bga-white;
                    display: flex;
                    column-gap: 16px;
                    align-items: center;
                    padding-right: 16px;

                    .task {
                        font-weight: 600;   
                        width: 120px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%; 
                        min-height: 50px;
                        background: $bga-yellow-links-background;
                        flex-shrink: 0;
                    }
                    .description {
                        background: url('../assets/iconography/icon-arrow-right-blue.svg') no-repeat left center;
                        background-size: 20px 20px;
                        
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        padding: 8px 0 8px 32px;

                        a {
                            font-weight: 600;   
                        }

                        i.fa {
                            display: none;
                        }
                    }
                    &.pdf-icon, &.doc-icon {
                        .description {
                            background: url('../assets/iconography/icon-download-blue.svg') no-repeat left center;
                            background-size: 20px 20px;
                        }
                    }
                    &.no-link {
                        .description {
                            background: url('../assets/iconography/icon-person-blue.svg') no-repeat left center;
                            background-size: 20px 20px;  
                        }
                    }
                    
                    

                }
            }
        }

        .component-text {
            display: flex;
            flex-wrap: wrap;
            row-gap: 24px;
            width: 100%;

            h3, .bga-component-wrapper {
                width: 100%;
            }
            h3 {
                margin-bottom: 0;
            }
            .duration, .expiry, .approval-time {
                p:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
        
        table {
            margin-bottom: 0px;
            
            thead {
                background: $bga-yellow-highlight-mid;
                border-bottom: 4px solid $bga-yellow-highlight-shadow;
            }
            tbody {
                background: $bga-white;

                p {
                    margin-bottom: 0;
                }
            }
        }
    } 
    
    .disclaimer.ablis {
        //background: $bga-blue-black-background-lightest;
        border: none;
        border-top: 1px solid $bga-black;
        padding-top: 32px !important;

        h2 {
            font-size: 18px;
            margin-bottom: 16px
        }
        .leg_item {
            display: flex;
            column-gap: 8px;
            padding-bottom: 8px;

            &:last-of-type {
                padding-bottom: 0;
            }

            p, a {
                font-size: 14px;
                margin: 0;
                padding: 0;
            }
        }
    }


    #index-page {
        p, a {
            margin-bottom: 8px;
            font-size: 14px;
        }
    }

    .result_group {
        display: flex;
        row-gap: 8px;
        flex-wrap: wrap;
    }
    .ablis-result {
        border: $bga-component-border;

        .result-header {
            border-left: 8px solid $bga-yellow-highlight-shadow;
            background: $bga-white;
            background: $bga-yellow-highlight-light;

            h3 {
                font-size: 1rem;
            }

            &:focus-visible {
                background: $bga-yellow-highlight-light;
            }
            &:hover {
                background: $bga-yellow-highlight-light;
            }
            &.open {
                background: $bga-yellow-highlight-light;
            }
        }
        .result-content {
            background: $bga-white;
            border-left: 8px solid $bga-yellow-highlight-shadow;
            display: flex;
            flex-wrap: wrap;
            row-gap: 24px;

            .description {
                background: $bga-blue-black-background-lightest;
                padding: 16px;
                
                .description-content {
                    //height: 130px;
                    overflow-y: hidden;

                    p, a, li {
                        font-size: .875rem;
                        line-height: 1.75;
                    }

                    div {
                        >*:last-child {
                            padding-bottom: 0;
                            margin-bottom: 0;
                    
                            >li:last-child {
                                padding-bottom: 0;
                                margin-bottom: 0;
                            }
                        }
                    
                        >*:first-child {
                            padding-top: 0;
                            margin-top: 0;
                        }
                    }
                }
            }

            .secondary {
                display: flex; 
                column-gap: 8px;
                align-items: center;
                width: 100%;
            }
            .service span {
                background: $bga-yellow-highlight-light;
                border: solid 2px $bga-yellow-highlight-shadow;
                padding: 4px 8px;
            }
            .cta-links {
                display: flex; 
                column-gap: 24px;
                row-gap: 24px;
                align-items: center;
                width: 100%;

                .learn-more {
                    background: pink;
                    min-height: 44px !important;
                    height: 44px !important;
                    padding: 0;
                    width: 120px;
                    min-width: 120px;
                    max-width: 120px;
                }
            }
        }
    }
}