#cool-prototype {

    .radio-flex-group {
        width: 100%;

        &.one-col-short {
            width: 50%;
        }
        &.one-col-yesno {
            width: 50%;
        }
    }
    
    .radios.error {
        box-shadow: 0 0 0 8px $bga-red-fail-mid;
        background: $bga-red-fail-mid;
    
        .radio-button {
            label {
                border:  none;
                box-shadow: $bga-error-boxshadow;
                border-radius: $bga-focus-radius;
            }
    
            input:focus-visible {
                + label {
                    box-shadow: $bga-focus-boxshadow !important;
                    border-radius: $bga-focus-radius;
                    color: $bga-blue-links;
                }
            }
        }
    }

    .error-message {
        color: $bga-red-fail-dark;
    }

    input#percentage {
        width: 60px;
        text-align: center;
    }
    
    .result-components-wrapper {
        display: flex;
        flex-wrap: wrap;
        row-gap: 32px;
    }

    @media (max-width: 576px){
        .radio-flex-group {
            width: 100%;
    
            &.one-col-short {
                width: 100%;
            }
            &.one-col-yesno {
                width: 100%;
            }
        }

        .tool-button-group {
            .bga-btn {
                font-size: .875rem;
                line-height: 1.125rem;
                padding: 0 24px;
                min-height: 48px;
            }
            .bga-link{
                font-size: .875rem;
                line-height: 1.125rem;
            }
        }
    }
    @media (max-width: 350px){
        .radio-flex-group {
            &.one-col-yesno {
                flex-wrap: wrap;
                .radio-button {
                    width: 100% !important;
                }
            }
        }
        .tool-button-group {
            justify-content: center;
            .bga-btn {
                width: 100%;
            }
        }
    }

} // End #cool-prototype
    
