#cool-prototype {

    .radios.error {
        box-shadow: 0 0 0 8px $bga-red-fail-mid;
        background: $bga-red-fail-mid;
    
        .radio-button {
            label {
                border:  none;
                box-shadow: $bga-error-boxshadow;
                border-radius: $bga-focus-radius;
            }
    
            input:focus-visible {
                + label {
                    box-shadow: $bga-focus-boxshadow;
                    border-radius: $bga-focus-radius;
                }
            }
        }
    }

    .error-message {
        color: $bga-red-fail-dark;
    }

    input#percentage {
        width: 60px;
        text-align: center;
    }

    .create-standard-mark-cta, .create-coo-cta {
        background: $bga-blue-background-extralight;

        .title-area {
            background: $bga-blue-highlight-mid;
        }

        .fieldset-wrapper  {
            border: none;
            display: flex;
            flex-wrap: wrap;
            row-gap: 24px;
        }
        .form-step, .coo-example {
            background: $bga-white;
            width: 100%;
        }
        .coo-example {
            p {
                margin-bottom: 16px;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            .example-border {
                display: inline-block;
                padding: 8px;
                border: solid $bga-black 2px;
            }
        }

    }

    .standard-mark-cta, .create-coo-cta-2 {
        
        background: $bga-teal-highlight-light;
        border-left: solid 8px $bga-teal-highlight-dark;

        .fieldset-wrapper  {
            border: none;
        }

        fieldset {
            row-gap: 24px;
            display: flex;
            flex-wrap: wrap;
        }
        .form-step {
            background: $bga-white;
            width: 100%;
        }
        .coo-example {
            background: $bga-white;
            p {
                margin-bottom: 16px;
                
                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            .example-border {
                display: inline-block;
                padding: 8px;
                border: solid $bga-black 2px;
            }
        }
    }

    .mark-or-coo-cta {
        background: $bga-teal-highlight-light;
        border-left: solid 8px $bga-teal-highlight-mid;

        .ctas-wrapper {
            flex-wrap: nowrap;
            column-gap: 24px;
        }

        .cta-container {
            background: $bga-white;
            display: flex;
            flex-direction: column;
        }
        .cta-title {
            background: $bga-blue-highlight-mid;
        }
        .cta-content {
            flex-wrap: wrap;
        }
    }

    .beefy-radio-options {
        background: $bga-yellow-highlight-light;
        border: none;
        border-left: solid 8px $bga-yellow-highlight-mid;

        form {
            display: flex;
            row-gap: 24px;
            background: none;
            flex-wrap: wrap;
        }
        .form-step {
            background: $bga-white;
            width: 100%;
        }

        .radios.beefy-radios {
            row-gap: 16px;

            .radio-edit-buttons-wrapper {
                display: flex;
                column-gap: 24px;
            }

            .radio-button {
                label {
                    border: none;
                    padding: 0;

                    span {
                        color: $bga-blue-black-mid-dark;
                        //background: $bga-yellow-highlight-mid;
                    }

                    &::before {
                        margin-top: 4px;
                    }
                }

                [type="radio"]:checked + label {
                    span {
                        font-weight: 400;
                    }
                }
            }

            .edit-button-wrapper {
                background: $bga-yellow-highlight-mid;
                display: flex;
                align-items: center;
            }
            .mini-button {
                min-height: 44px;
                height: 44px;
                padding: 0 16px;
                min-width: 100px;
            }

            .edit-option-form {
                background: $bga-yellow-highlight-light;
                display: flex;
                flex-wrap: wrap;
                row-gap: 32px;
            }
            
            .wording-option {
                border: solid 1px $bga-black; 
                width: 100%;

                &.edited {
                    .radio-button {
                        label {
                            span {
                                color: $bga-black;
                                font-weight: 600;
                            
                                    &.highlight { 
                                        //background-color: $bga-white;
                                        transition: background-color 800ms linear;
                                        -moz-transition: background-color 800ms linear;
                                        -webkit-transition: background-color 800ms linear;
                                        -ms-transition: background-color 800ms linear;
                                        background-color: $bga-green-success-mid;
                                    } 
                            }
                        } 
                        [type="radio"]:checked + label {
                            span {
                                color: $bga-blue-links;

                            }
                        }  
                    }
                }

                &.open {
                    .edit-button {
                        svg {
                            display: none;
                        }
                    }
                }
            }
        }
    }


    img.standard-mark-preview {
        max-height: 240px;
    }




} // End #cool-prototype
    
