.bga-component.easy-read {
    
    .component-content {
        display: flex;
    }

    .component-image {
        background: $bga-white;
        flex-shrink: 0;
        display: flex;
        align-items: center;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .component-text {
        display: flex;
        flex-wrap: wrap;
        align-content: center;

        p {
            font-size: 1.3rem;
            line-height: 1.85;
        }
        strong {
            font-weight: 700;
        }

        ul {
            margin: 0 0 0 64px;
            padding: 0;
        }

        li {
            font-size: 1.3rem;
            line-height: 1.85;
            display: list-item;
            text-indent: -32px;

            &::before {
                background: $bga-blue-black-dark;
                border-radius: 8px;
                content: "";
                display: inline-block;
                height: 10px;
                margin-right: 24px;
                padding: 0;
                vertical-align: middle;
                width: 10px;
            }
        }
    } 
    
    &.in-page {
        background: $bga-blue-background-extralight;
        border: $bga-blue-border 4px solid;
        border-radius: $bga-focus-radius;

        .component-image {
            width: 25%;
        }
    }

    &.standalone {
        border-bottom: solid 2px $bga-blue-border;

        .component-image {
            width: 20%;
        }
    }
}

#easy-read {
   
    
    h2 {
        padding: 48px 0 0 0;
        margin: 0 0 48px 0;
    }

    &.standalone {
        h2 {
            padding: 64px 0 0 0;
            margin: 0 0 24px 0;
        }
    }
}



.easy-read-header {
    .header-wrapper {
        background: $bga-blue-background-dark;
        position: relative;
    }

    .return-link {
        margin: 12px 0;
        color: $bga-white;
        text-decoration: underline;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        font-size: 1.3rem;
        line-height: 1.85;
    }

    .menu-trigger {
        text-align: right;
        margin-right: -32px;

        button {
            margin: 12px 0;
            text-decoration: underline;
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            background: none;
            font-size: 1.3rem;
            line-height: 1.85;
            box-shadow: none;
            border: none;
            outline: none;

            a {
                color: $bga-white;

                &:focus-visible, &:hover {
                    background: $bga-white;
                }
            }
        }

        &.open {
            button {
                background: $bga-white;
                
                a {
                    color: $bga-blue-links;
                }

                svg path {
                    fill: $bga-blue-links;
                }
            }
        }
    }

    .menu-container {
        position: relative;

        .menu-wrapper {
            display: none;

            &.show {
                display: block;
                border: $bga-blue-background-dark 2px solid;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                background: $bga-white;
                width: 50%;
                box-shadow: 2px 2px 3px 0px rgba(51, 51, 51, 0.4);
                position: absolute;
                top: 0px;
                right: 16px;
                z-index: 8000;
            }
        }
        
        .utilities {
            background: $bga-blue-background-light;
        }

        ul {
            li {
                &::before {
                    display: none;
                }
            }
        }
    }

}