#ecb-prototype {
    overflow-x: hidden; 

    input {
        &.sm-width {
            max-width: 100px;
        }
    }

    //Get contract CTA
    .call-to-action.teal {
        background: $bga-teal-highlight-light;
        border-left-color: $bga-teal-highlight-mid;
    }

    //Modals
    .modal-example {
        max-height: none;
        height: auto;
        position: fixed;
        top: 5rem;
        z-index: 9000;
        left: calc(50% - 320px);
        display: none;

        &.show {
            display: block;
        }

        .icon-wrapper {
            background: $bga-green-success-dark;
            width: 44px;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px;

            img {
                width: 18px;
            }
        }
        .code-inputs {
            input.form-control {
                width: 56px;
            }
        }
    }
    #modal-email {
        .step {
            display: none;

            &.show {
                display: block;
            }
        }
    }
    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 8500;
        background-color: $bga-black;
        opacity: .6;
        display: none;

        &.show {
            display: block;
        }
    }

    //Stepped nav
    .stepped-navigation {
        .step {
            width: 150px;
            flex: initial;
        }
    }

    //Sticky header 
    #page-header.fixed {
        position: fixed;
        top: 0;
        z-index: 8500;
        width: 100%;
        box-shadow: $bga-btn-boxshadow;

        .step-title {
            display: none;
        }
        .inner-wrapper {
            padding: 0 !important;
        }
        .header-content {
            padding: 24px 32px 16px !important;
        }

    }
    


// Mixins for media queries and smaller screen examples
@mixin ecb-stepped-below768 {
    #page-header.stepped-nav .stepped-navigation-wrapper {
        
        .stepped-navigation-wrapper {
            padding: 0 !important;
        }

        .stepped-navigation {
            padding: 16px 0 0 0 !important;

            .step {
                width: auto;
            }
        }
    }
    #page-header.fixed {
        .header-content {
            padding: 0 !important;
        }
    }
}

// SMALLER SCREENS display. Using classes instead of media queries because both breakpoint toggles and small size screens need to be taken into account.
.component-example.bp-below768,
.component-example.small-screen {
    @include ecb-stepped-below768();
}

// Media queries for HTML example pages
@media (max-width: 768px) {
    @include ecb-stepped-below768();
}



} //End #ecb-prototype