html.ecb-prototype {
    scroll-padding-top: 125px !important;
    overflow: auto;

    @media (max-width: 768px) {
        scroll-padding-top: 90px !important;
    }
}

#ecb-prototype {
    overflow-x: hidden; 

    input {
        &.sm-width {
            max-width: 100px;
        }
    }

    //Get contract CTA
    .call-to-action.teal {
        background: $bga-teal-highlight-light;
        border-left-color: $bga-teal-highlight-mid;
    }

    //Modals
    .modal-example {
        max-height: none;
        height: auto;
        position: fixed;
        top: 5rem;
        z-index: 9000;
        left: calc(50% - 320px);
        display: none;

        &.show {
            display: block;
        }

        .icon-wrapper {
            background: $bga-green-success-dark;
            width: 44px;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px;

            img {
                width: 18px;
            }
        }
        .code-inputs {
            input.form-control {
                width: 56px;
            }
        }
    }
    #modal-email {
        .step {
            display: none;

            &.show {
                display: block;
            }
        }
    }
    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 8500;
        background-color: $bga-black;
        opacity: .6;
        display: none;

        &.show {
            display: block;
        }
    }

    //Stepped nav
    .stepped-navigation {
        .step {
            width: 150px;
            flex: initial;
        }
    }

    //Sticky header 
    #page-header.fixed {
        position: fixed;
        top: 0;
        z-index: 8500;
        width: 100%;
        box-shadow: $bga-btn-boxshadow;
        transition: top 1s linear;

        .step-title {
            display: none;
        }
        .inner-wrapper {
            padding: 0 !important;
        }
        .header-content {
            padding: 24px 32px 16px !important;
        }
        .step-name {
            height: 21px;
            text-overflow: unset;
        }
    }
    .page-content.fixed {
        padding-top: 300px !important;
    }


// Media queries
@media (max-width: 992px) {
    #page-header.fixed {
        .step-name {
            text-overflow: ellipsis;
            width: 110px;
            height: 21px;
            display: block;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}
@media (max-width: 768px) {
    #page-header.stepped-nav .stepped-navigation-wrapper {
        
        .stepped-navigation-wrapper {
            padding: 0 !important;
        }

        .stepped-navigation {
            padding: 16px 0 0 0 !important;

            .step {
                width: auto;
            }
        }
    }
    #page-header.fixed {
        .header-content {
            padding: 0 !important;
        }
        .step-name {
            height: 21px;
            text-overflow: unset;
            width: auto;
        }
    }
    .page-content.fixed {
        padding-top: 60px !important;
    }
    .modal-example {
        top: 1rem;
        left: 16px;
        width: calc(100% - 32px);
        max-width: none;
    }
    .toggle-wrapper {
        padding-right: 0px !important;
    }
}

@media (max-width: 576px) {
    .call-to-action.teal {
        .button-group {
            flex-wrap: wrap;
            row-gap: 20px;
        }
        
    }
    .ecb-button-group {
        flex-wrap: wrap;
        row-gap: 24px;

        .two-button-group {
            display: flex;
            flex-wrap: wrap;
            row-gap: 24px;
        }
    }
}

@media (max-width: 350px) {
    .call-to-action.teal {
        .button-group {
            display: block !important;
        }
        .button-example:first-of-type {
            margin: 0 0 24px 0 !important;
        }
    }
    .ecb-button-group .two-button-group a {
       width: 100%;
       margin: 0 !important;
    }
}


} //End #ecb-prototype