#help-me-decide-prototype {
    .radio-flex-group {
        row-gap: 8px;
        column-gap: 8px;
    }

    .recommendations-sidebar {
        .sidebar {
            height: auto !important;
        }
        .business-structure {
            .title {
                background: $bga-blue-background-light;
            }
            .content {
                background: $bga-blue-background-extralight;
            }
        }
        .recommendations {
            .title {
                background: $bga-yellow-highlight-mid;
            }
            .content {
                background: $bga-yellow-highlight-light;
            }
            li {
                text-indent: 0;
                display: none;
                margin: 0;
                margin-bottom: 8px;

                &.show {
                    display: block;
                }
                &::before {
                    display: none;    
                }
            }
        }
        &.fixed {
            position: fixed;
            top: 32px;
        }
        &.mobile-hide {
            display: none;
        }
    }

    .treegrid {
        width: 100%;

        th {
            background: $bga-teal-highlight-mid;
            font-weight: 600;
            padding: 16px 8px;
        }
        tr {
            border-bottom: 1px solid $bga-blue-black-dark;
        }
        td {
            padding: 16px 8px;

            p {
                margin: 0 0 16px 0;

                &:last-of-type {
                    margin: 0;
                }
            }

            &.learn-more {
                background: $bga-teal-tool-light;
            }
        }

        .hidden {
            display: none;
        }
    }

    .callout-business-structure {
        background: $bga-blue-background-extralight;

        .header-section {
            background: $bga-blue-background-light;
        }
    }

    
      
}
#stepped-nav-inpage {
    background: none;
}