#help-me-decide-prototype {
    .radio-flex-group {
        row-gap: 8px;
        column-gap: 8px;
    }

    .recommendations-sidebar {
        .sidebar {
            height: auto !important;
        }
        .business-structure {
            .title {
                background: $bga-blue-background-light;
            }
            .content {
                background: $bga-blue-background-extralight;
            }
        }
        .recommendations {
            .title {
                background: $bga-yellow-highlight-mid;
            }
            .content {
                background: $bga-yellow-highlight-light;
            }
            li {
                text-indent: 0;
                display: none;
                margin: 0;
                margin-bottom: 8px;

                &.show {
                    display: block;
                }
                &::before {
                    display: none;    
                }
            }
        }
        &.fixed {
            position: fixed;
            top: 32px;
        }
        &.mobile-hide {
            display: none;
        }
    }

    .treegrid {
        width: 100%;
        display: block;

        thead, tbody {
            display: block;
            width: 100%;
        }
        th, td {
            display: inline-flex;
            width: calc(50% - 130px);

            &:nth-child(2), &:nth-child(3) {
                width: 25%;
            }
            &:nth-child(4) {
                width: 130px;
            }
        }
        tr {
            border-bottom: 1px solid $bga-blue-black-dark;
            display: flex;

            &.more-info {
                td {
                    display: block;
                    width: 100%;
                }
            }
        }
        th {
            background: $bga-teal-highlight-mid;
            font-weight: 600;
            padding: 16px 8px;
        }
       
        td {
            padding: 16px 8px;

            p {
                margin: 0 0 16px 0;

                &:last-of-type {
                    margin: 0;
                }
            }

            &.learn-more {
                background: $bga-teal-tool-light;

                button {
                    padding: 0;
                    margin: 0;
                    background: none;
                    border: none;
                    display: flex;
                    align-items: center;
                }
            }
        }

        .hidden {
            display: none;
        }
    }

    .callout-business-structure {
        background: $bga-blue-background-extralight;

        .header-section {
            background: $bga-blue-background-light;
        }
    }

    
      
}
#stepped-nav-inpage {
    background: none;
}