#help-me-decide-prototype {
    .radio-flex-group {
        row-gap: 8px;
        column-gap: 8px;
    }

    .recommendations-sidebar-wrapper {
        position: sticky;
        top: 32px;
    }
    .recommendations-sidebar {
        
        .sidebar {
            height: auto !important;
        }
        
        .business-structure {
            .title {
                background: $bga-blue-background-light;
                padding: 16px 24px;
            }
            .content {
                background: $bga-blue-background-extralight;
                padding: 16px 24px;
            }
            .chosen-structure {
                display: flex;
                align-items: flex-start;

                svg {
                    display: none;
                }

                &.completed {
                    svg {
                        display: block;
                        flex-shrink: 0;
                        margin-top: 6px;
                    }
                }
            }
        }
        .recommendations {  
            .title {
                background: $bga-yellow-highlight-mid;
                padding: 16px 24px;
            }
            .content {
                background: $bga-yellow-highlight-light;
                padding: 16px 24px 8px 24px;
            }
            li {
                text-indent: 0;
                display: none;
                margin: 0;
                margin-bottom: 8px;

                &.show {
                    display: flex;
                    align-items: flex-start;

                    svg {
                        flex-shrink: 0;
                        margin-top: 6px;
                    }
                }
                &::before {
                    display: none;    
                }
            }
        }
        &.fixed {
            position: sticky;
            //top: 32px;
        }
        &.mobile-hide {
            display: none;
        }
    }

    .treegrid {
        width: 100%;
        display: block;
        border-bottom: 1px solid $bga-blue-black-dark;

        thead, tbody {
            display: block;
            width: 100%;
        }
        th, td {
            display: inline-flex;
            width: calc(50% - 120px);

            &:nth-child(2), &:nth-child(3) {
                width: 25%;
            }
            &:nth-child(4) {
                width: 120px;
            }
            svg {
                flex-shrink: 0;
            }
        }
        tr {
            border-top: 1px solid $bga-blue-black-dark;
            display: flex;
            background: $bga-teal-tool-extra-light;
            
            &:nth-child(1), &:nth-child(2), 
            &:nth-child(5), &:nth-child(6), 
            &:nth-child(9), &:nth-child(10),
            &:nth-child(13), &:nth-child(14),
            &:nth-child(17), &:nth-child(18) {
                background: $bga-teal-highlight-light;
            }

            &:nth-child(even) {
                border-top: none;

                td {
                    padding: 24px 8px;

                    >*:last-child {
                        padding-bottom: 0;
                        margin-bottom: 0;
                
                        >li:last-child {
                            padding-bottom: 0;
                            margin-bottom: 0;
                        }
                    }
                
                    >*:first-child {
                        padding-top: 0;
                        margin-top: 0;
                    }
                }
            }

            &.more-info {
                td {
                    display: block;
                    width: 100%;
                    background: none;
                }
            }
        }
        th {
            background: $bga-teal-highlight-mid;
            font-weight: 600;
            padding: 16px 8px;
        }
       
        td {
            padding: 16px 8px;
            background: $bga-white;
            
            h1, h2, h3, h4, h5 {
                font-size: 1rem;
                font-weight: 600;
                line-height: 1.75;
                margin: 0 0 16px 0;
            }
            p {
                margin: 0 0 16px 0;

                &:last-of-type {
                    margin: 0;
                }
            }

            &.learn-more {
                background: none;

                button {
                    padding: 0;
                    margin: 0;
                    background: none;
                    border: none;
                    display: flex;
                    align-items: center;
                    min-height: auto;
                }
                &.open {
                    svg {
                        transform: scaleY(-1);
                    }
                }
            }

        }

        .hidden {
            display: none;
        }
    }

    .callout-business-structure {
        background: $bga-blue-background-extralight;

        .header-section {
            background: $bga-blue-background-light;
        }
        .learn-more {  
            background: none;
            border: none;
            padding: 0;
            margin: 0;
            font-size: 1rem;
            color: $bga-blue-links;
            transition: transform 0.2s ease-in-out;
            min-height: auto !important;
            display: flex;
            align-items: center;

            &:focus-visible {
                border: $bga-text-focus-border;
                border-radius: $bga-focus-radius;
            }
            &.open {
                svg {
                    transform: scaleY(-1);
                }
            }
        }
        .more-info {
            background: $bga-white;
            transition: transform 0.2s ease-in-out;
        }
    }

    .results-accordion.yellow {
        .accordion {
            border-top: none;
        }

        .accordion-item {
            background: $bga-yellow-highlight-mid;
            border-bottom: $bga-black solid 1px;

            .accordion-button {
                background: $bga-yellow-highlight-light;

                p {
                    margin: 0;
                    padding: 0;
                    color: $bga-black;
                    font-size: 0.875rem;
                }
                p:nth-child(3),
                p:nth-child(4),
                p:nth-child(5),
                p:nth-child(6){
                    padding-top: 8px;
                    margin-top: 8px;
                    border-top: $bga-black solid 1px;
                }

                &:hover {
                    text-decoration: none;
                    background: $bga-yellow-highlight-mid;
                }
                &:focus-visible {
                    background: $bga-yellow-highlight-mid;
                }
                &:not(.collapsed) {
                    background-color: $bga-yellow-highlight-mid;

                    &:hover {
                        border-bottom: none;
                        background-color: $bga-yellow-highlight-mid;
                    }
                }
                &::after {
                    margin-left: 24px;
                }
            }
        }
    }
     
    .edit-answers-component {
        .edit-btn {
            text-decoration: none;
        }
        span.unanswered {
            background: $bga-white url('../assets/icon-warning-red.svg') no-repeat;
            background-position: left 8px center;
            border-radius: $bga-focus-radius;
            padding: 4px 8px 4px 36px;
            color: $bga-red-fail-dark;
        }
    }
}
#stepped-nav-inpage {
    background: none;
}
@media (max-width: 992px) {
    #help-me-decide-prototype {
        .recommendations-sidebar { 
            .business-structure, .recommendations {
                .title {
                    padding: 16px;
                }
                .content {
                    padding:16px;
                }
                span, li, p {
                    font-size: .875rem;
                }
            }
            .recommendations {
                .content {
                    padding: 16px 16px 8px 16px;
                }
            }
        }
        .treegrid {
            th, td {
                width: calc(44% - 80px);
    
                &:nth-child(2), &:nth-child(3) {
                    width: 28%;
                }
                &:nth-child(4) {
                    width: 80px;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    #help-me-decide-prototype {
        .recommendations-sidebar {
            display: none !important;
        }
        .treegrid {
            th, td {
                width: calc(50% - 120px);

                &:nth-child(2), &:nth-child(3) {
                    width: 25%;
                }
                &:nth-child(4) {
                    width: 120px;   
                }
            }
        }
    } 
    #stepped-nav-inpage {
        background: $bga-blue-black-background-lightest;
        padding: 16px !important;
        margin-bottom: 0 !important;

        .stepped-navigation-wrapper {
            padding: 0 !important;
        }
        .stepped-navigation {
            padding: 32px 0 0 0 !important;
        }
        .stepped-nav-toggle {
            background: none;
            width: 100%;
            height: auto;
            text-indent: 0;
            display: flex;
            font-weight: 400;
            font-size: 1rem;
            color: $bga-black;
            justify-content: space-between;
            align-items: center;
            text-align: left;

            strong {
                font-weight: 600;
            }

            &.open {
                svg {
                    transform: scaleY(-1);
                }
            }
        }
    }
}

@media (max-width: 575px) {
    #help-me-decide-prototype {
        .radio-flex-group {
            width: 100% !important;
        }
        .treegrid {
    
            thead, tbody {
                display: block;
            }
            th, td {
                display: inline-flex;
                width: 40%;
                font-size: 0.875rem;
    
                &:nth-child(2), &:nth-child(3) {
                    width: 30%;
                }
                &:nth-child(4) {
                    width: 100%;
                }
            }
            tr {
                display: flex;
                flex-wrap: wrap;
                
                &:nth-child(even) {
                    td {
                        padding: 8px;
                    }
                }
    
                &.more-info {
                    td {
                        display: block;
                        width: 100%;
                        background: none;
                    }
                }
            }
            td {
            padding: 8px;

               &.learn-more {
                    background: $bga-white; 
                    padding: 0px 8px 8px 8px;
                }
            }
        }
    
    }
}

@media (max-width: 349px) {
    #help-me-decide-prototype {
        .radio-flex-group {
            flex-wrap: wrap;

            .w-50 {
                width: 100% !important;
            }
        }
    }
}